<div class="govuk-accordion backoffice-block-view" ng-click="block.edit()" ng-focus="block.focus" aria-label="Edit accordion component">
    <div class="backoffice-additional-blocks" ng-if="!block.data.sections.contentData.length" aria-hidden="true">Accordion with no sections.</div>
    <div class="govuk-accordion__section govuk-accordion__section--expanded" ng-repeat="section in block.data.sections.contentData" aria-hidden="true">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading" ng-bind-html="section.heading"></h2>
            <div class="govuk-accordion__section-summary govuk-body" ng-bind-html="section.summary" ng-if="section.summary"></div>
        </div>
        <div class="govuk-accordion__section-content" ng-bind-html="section.content.markup"></div>
    </div>
</div>