<div aria-labelledby="govuk-notification-banner-title" class="govuk-notification-banner backoffice-block-view" role="region" ng-click="block.edit()" ng-focus="block.focus">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title" ng-bind-html="block.settingsData.title || 'Important'"></h2>
    </div>
    <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading" ng-bind-html="block.data.heading"></h3>
        <p class="govuk-body" ng-bind-html="block.data.text" ng-if="block.data.text != ''"></p>
    </div>
</div>