<div class="govuk-caption-l" ng-bind-html="block.data.caption"></div>
<div class="govuk-task-list-summary backoffice-block-view" ng-click="block.edit()" ng-focus="block.focus">
    <h2 class="govuk-task-list-summary__heading govuk-heading-s" ng-bind-html="block.data.incompleteStatus || 'Tasks incomplete'"></h2>
    <p class="govuk-task-list-summary__tracker govuk-body" ng-bind-html="block.data.tracker" ng-if="block.data.tracker"></p>
    <p class="govuk-task-list-summary__tracker govuk-body" ng-if="!block.data.tracker">You've completed 1 of 2 tasks.</p>
</div>