<nav aria-label="Edit pagination component" class="govuk-pagination--block govuk-pagination backoffice-block-view" role="navigation" ng-click="block.edit()" ng-focus="block.focus">
    <div class="govuk-pagination__next" aria-hidden="true">
        <span class="govuk-link govuk-pagination__link">
            <svg class="govuk-pagination__icon govuk-pagination__icon--next" focusable="false" height="13" viewBox="0 0 15 13" width="15" xmlns="http://www.w3.org/2000/svg">
                <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg> 
            <span class="govuk-pagination__link-title" ng-bind-html="block.data.caption || 'Next'"></span><span class="govuk-visually-hidden">:</span>
            <span class="govuk-pagination__link-label">2 of 5</span>
         </span>
    </div>
</nav>