<div class="govuk-notification-banner" ng-click="block.edit()" ng-focus="block.focus" aria-label="Edit notification banner component" ng-class="{'govuk-notification-banner--success govuk-notification-banner': block.settingsData.type==='Success'}">
    <div class="govuk-notification-banner__header" aria-hidden="true">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title" ng-if="block.settingsData.title">{{block.settingsData.title}}</h2>
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title" ng-if="!(block.settingsData.type === 'Success') && !(block.settingsData.title)">Important</h2>
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title" ng-if="block.settingsData.type === 'Success' && !(block.settingsData.title)">Success</h2>
    </div>
    <div class="govuk-notification-banner__content" aria-hidden="true">
        <h3 class="govuk-notification-banner__heading" ng-bind-html="block.data.heading.markup | safe_html"></h3>
        <p class="govuk-body" ng-bind-html="block.data.text.markup | safe_html" ng-if="block.data.text.markup != ''"></p>
        <p class="backoffice-additional-blocks" ng-if="!block.data.blocks.contentData">No blocks.</p>
        <p class="backoffice-additional-blocks" ng-if="block.data.blocks.contentData.length===1">1 block.</p>
        <p class="backoffice-additional-blocks" ng-if="block.data.blocks.contentData.length>1">{{checkbox.blocks.contentData.length}} blocks.</p>
    </div>
</div>