<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a961816e-a7d9-4b15-85fc-ed5ca93d3542" Alias="Featured image settings - Horizontal - Toggle" Level="1">
  <Info>
    <Name>Featured image settings - Horizontal - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": "Content will be displayed below the image",
  "LabelOn": "Content will be displayed next to the image",
  "ShowLabels": false
}]]></Config>
</DataType>