<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d9b4c762-aac8-4e24-bac4-68c7cb0eaaf9" Alias="GOV.UK Text input width" Level="1">
  <Info>
    <Name>GOV.UK Text input width</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "xx-small"
    },
    {
      "id": 2,
      "value": "x-small"
    },
    {
      "id": 3,
      "value": "small"
    },
    {
      "id": 4,
      "value": "medium"
    },
    {
      "id": 5,
      "value": "large"
    },
    {
      "id": 6,
      "value": "x-large"
    },
    {
      "id": 7,
      "value": "xx-large"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>