<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cf7747bb-a48a-430b-90b3-39e1a264becc" Alias="GOV.UK Link picker" Level="1">
  <Info>
    <Name>GOV.UK Link picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 1,
  "OverlaySize": "small",
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>