<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4c726366-e223-4c19-bd97-5d5469b63a7c" Alias="GOV.UK Summary list block list" Level="1">
  <Info>
    <Name>GOV.UK Summary list block list</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "4e3c68a7-d651-4898-b1e3-e8f29a9ffe48",
      "settingsElementTypeKey": "18d06fa1-27bf-4f86-bc9d-b0a339512ca1",
      "view": null,
      "stylesheet": null,
      "label": "{{key}} (Summary list item)",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>