<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bf46970f-49ed-4e4d-92bd-979826e301ec" Alias="GOV.UK Heading level (Accordion)" Level="2">
  <Info>
    <Name>GOV.UK Heading level (Accordion)</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>GOV.UK</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 2,
      "value": "Heading 2"
    },
    {
      "id": 3,
      "value": "Heading 3"
    },
    {
      "id": 4,
      "value": "Heading 4"
    },
    {
      "id": 6,
      "value": "Heading 5"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>