<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f59f7848-da0b-4eb5-8f57-0b96bca1264b" Alias="GOV.UK Rich text editor" Level="1">
  <Info>
    <Name>GOV.UK Rich text editor</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "styleselect",
      "bold",
      "italic",
      "bullist",
      "numlist",
      "link",
      "unlink",
      "table"
    ],
    "stylesheets": [
      "/css/tinymce.css",
      "/css/govuk-umbraco-rich-text-editor.css"
    ],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "OverlaySize": "small",
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null
}]]></Config>
</DataType>