<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b75f1f8a-cc04-434f-a499-46f08d2c06bb" Alias="GOV.UK Checkboxes" Level="1">
  <Info>
    <Name>GOV.UK Checkboxes</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "f1cb27f6-c7f5-4db0-bfff-ef76df811ac7",
      "settingsElementTypeKey": "06d62310-e5c0-4ed3-8a55-638e0d1fc3fa",
      "view": null,
      "stylesheet": null,
      "label": "{{label}} (Checkbox)",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "ee99c671-93dc-4d08-9933-e61e50dc234a",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseSingleBlockMode": false,
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>