<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a6cd5d54-75a9-407e-a688-842b9f397a44" Alias="GOV.UK No forms block list" Level="2">
  <Info>
    <Name>GOV.UK No forms block list</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>GOV.UK</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkPageHeading.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{caption}} (Caption)",
      "settingsElementTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkCaption.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{text | ncRichText | truncate:true:50}} ({{$contentTypeName}})",
      "settingsElementTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkTypography.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "40bb2a3e-3d75-4ec1-9134-e0c46c6f04a0",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{text | ncRichText | truncate:true:50}} ({{$contentTypeName}})",
      "settingsElementTypeKey": "29d9a3c9-4047-484a-8816-e233e161fcb0",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkInsetText.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "83cb35fb-51da-45cd-913f-1b8bdfd6a1d9",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{text | ncRichText | truncate:true:50}} ({{$contentTypeName}})",
      "settingsElementTypeKey": "0bac8213-4607-4547-902a-6a9d84b92633",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkWarningText.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "9d15adb9-fb63-4b20-ada3-fc9239a72a8c",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{summary}} (Details)",
      "settingsElementTypeKey": "a6689021-cc6e-4d94-8c37-235906ebeff1",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkDetails.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "43d6f04c-2ce0-440c-9e13-05d856b8aafe",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": "f7827cba-7c37-4ddd-9234-11bf31e17818",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkNotificationBanner.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "bd6069cc-a8c1-456b-8a00-1d180c45c36c",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": "d43b72b5-edac-42e0-aa09-1b080d7bd6eb",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkSummaryList.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "583467e1-4f8f-46ed-b8e8-b9bf69e9f65d",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{cardTitle}} (Summary card)",
      "settingsElementTypeKey": "d2220ba5-3a33-4f2c-9b82-f214a1c8fccb",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkSummaryCard.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "32224cf2-f160-4c74-9c07-ed918b263c75",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": "41ecf378-c886-4f08-9962-7ea6e168276c",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkTaskListSummary.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "405470f7-9d54-4891-91c9-2efa8dec0833",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": "51db3717-0b48-4f1d-afdd-478065a531a5",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkTaskList.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "d8ded14d-00eb-46c2-8c66-29a27fc6b05a",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": "b8f1e93f-f50d-4a57-8cd1-356ee8d7d284",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkPagination.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "6a472e93-8a46-4791-a387-bde834d619cf",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{panelHeading}} (Panel)",
      "settingsElementTypeKey": "46f4e57b-7357-44c0-bd4c-295b9edee4c1",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkPanel.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "94737fb0-c49c-44db-8a59-6a65f14a0c47",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{text}} (Link, styled as a button)",
      "settingsElementTypeKey": "2a5587ef-96fa-41dd-a2be-c5f97e00dfef",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkLinkAsButton.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "0e33e52e-00d3-4546-af2b-076321ead08a",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": "7f2977e1-5298-4fee-9c8c-5abeeafc1d63",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>