<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c3f09cb8-d108-4fd6-b1f9-c86be348a977" Alias="GOV.UK Task list block list" Level="1">
  <Info>
    <Name>GOV.UK Task list block list</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "28cfc6cc-1e02-4d9e-8232-b2f921026042",
      "settingsElementTypeKey": "dac47aa8-2d8c-4024-8b72-118d15916b4c",
      "view": null,
      "stylesheet": null,
      "label": "{{taskName}} (Task)",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseSingleBlockMode": false,
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>