<?xml version="1.0" encoding="utf-8"?>
<DataType Key="189de753-cac2-4307-868b-114832c68a07" Alias="GOV.UK True or false (defaults to True)" Level="2">
  <Info>
    <Name>GOV.UK True or false (defaults to True)</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>GOV.UK</Folder>
  </Info>
  <Config><![CDATA[{
  "Default": true,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>