<?xml version="1.0" encoding="utf-8"?>
<DataType Key="20ae7ba3-c3eb-4db7-8bc8-5d3cbf4ad496" Alias="GOV.UK Rich text editor (Inline and inverse)" Level="2">
  <Info>
    <Name>GOV.UK Rich text editor (Inline and inverse)</Name>
    <EditorAlias>GovUk.InlineInverseRichText</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>GOV.UK</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": null,
  "Editor": {
    "toolbar": [
      "styles",
      "bold",
      "italic",
      "bullist",
      "numlist",
      "link",
      "unlink",
      "table"
    ],
    "stylesheets": [
      "/css/govuk-umbraco-backoffice.css",
      "/css/site.css"
    ],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small",
  "UseLiveEditing": false
}]]></Config>
</DataType>