<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b02f5487-5e04-4422-9b8c-e1c9429e9e2e" Alias="GOV.UK Notification banner block list" Level="1">
  <Info>
    <Name>GOV.UK Notification banner block list</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "35584ae7-feb5-4de8-9008-5d2d8cfb34ce",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{text}} (Button)",
      "settingsElementTypeKey": "e683e885-8aa0-4bdd-9eff-56966f353540",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "d1324abd-7504-44e1-9b9a-2cc12d527175",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": "bb140093-52f9-4ec4-9240-ab246b574ebd",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "64a0406a-8b4d-46d7-a976-af6d6616dffc",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{text}} (Link)",
      "settingsElementTypeKey": "236a3fde-d8b7-4b7d-aaad-6f49d2a3ddf2",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>