<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0729c57a-748f-482d-abbc-fcd2976c9fc6" Alias="GOV.UK Rich text editor (Summary list item)" Level="1">
  <Info>
    <Name>GOV.UK Rich text editor (Summary list item)</Name>
    <EditorAlias>GovUk.InlineRichText</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "bold",
      "italic",
      "bullist",
      "numlist",
      "link",
      "unlink"
    ],
    "stylesheets": [
      "/css/govuk-umbraco-rich-text-editor.css",
      "/css/site.css"
    ],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small"
}]]></Config>
</DataType>