<?xml version="1.0" encoding="utf-8"?>
<DataType Key="07461dc5-a6cf-44e1-b8dc-5549174ac2a8" Alias="GOV.UK Task list status" Level="1">
  <Info>
    <Name>GOV.UK Task list status</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Cannot start yet"
    },
    {
      "id": 2,
      "value": "Not started"
    },
    {
      "id": 3,
      "value": "Incomplete"
    },
    {
      "id": 4,
      "value": "Completed"
    },
    {
      "id": 5,
      "value": "Not applicable"
    },
    {
      "id": 6,
      "value": "Error"
    },
    {
      "id": 7,
      "value": "Unconfirmed"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>