<?xml version="1.0" encoding="utf-8"?>
<DataType Key="223a3ac0-b842-42c9-abe0-6dd1fc151187" Alias="GOVUKSectionBreakSizeRadioButtonList" Level="1">
  <Info>
    <Name>GOVUKSectionBreakSizeRadioButtonList</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Medium"
    },
    {
      "id": 2,
      "value": "Large"
    },
    {
      "id": 3,
      "value": "Extra large"
    }
  ]
}]]></Config>
</DataType>