<?xml version="1.0" encoding="utf-8"?>
<DataType Key="636cdd5d-a3cc-479f-8daf-068f65462d26" Alias="GOV.UK Button style" Level="1">
  <Info>
    <Name>GOV.UK Button style</Name>
    <EditorAlias>Umbraco.CheckBoxList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 3,
      "value": "Secondary"
    },
    {
      "id": 4,
      "value": "Warning"
    },
    {
      "id": 5,
      "value": "Reversed"
    }
  ]
}]]></Config>
</DataType>