<?xml version="1.0" encoding="utf-8"?>
<DataType Key="86769a91-761a-4925-99c7-bbcbc4379758" Alias="GOV.UK Model property" Level="2">
  <Info>
    <Name>GOV.UK Model property</Name>
    <EditorAlias>govukModelProperty</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>GOV.UK</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>