<?xml version="1.0" encoding="utf-8"?>
<DataType Key="86600492-b938-47e6-a752-da0e193939ad" Alias="GOV.UK Radio buttons" Level="1">
  <Info>
    <Name>GOV.UK Radio buttons</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "d7861a37-8d74-4a8b-85db-016ea1323b9f",
      "settingsElementTypeKey": "1a84595b-3f9d-49ba-a3c0-ee82a547fb7f",
      "view": null,
      "stylesheet": null,
      "label": "{{label}} (Radio)",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>