<?xml version="1.0" encoding="utf-8"?>
<DataType Key="533be916-64a2-4c94-86be-9cc7ce4f79a9" Alias="GOV.UK Heading level" Level="2">
  <Info>
    <Name>GOV.UK Heading level</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>GOV.UK</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Heading 1"
    },
    {
      "id": 2,
      "value": "Heading 2"
    },
    {
      "id": 3,
      "value": "Heading 3"
    },
    {
      "id": 4,
      "value": "Heading 4"
    },
    {
      "id": 5,
      "value": "Heading 5"
    },
    {
      "id": 6,
      "value": "Heading 6"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>