<?xml version="1.0" encoding="utf-8"?>
<DataType Key="041129bd-598f-4911-9ad8-871020ef95a1" Alias="GOV.UK Button type" Level="1">
  <Info>
    <Name>GOV.UK Button type</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Primary"
    },
    {
      "id": 4,
      "value": "Secondary"
    }
  ]
}]]></Config>
</DataType>