<?xml version="1.0" encoding="utf-8"?>
<DataType Key="86600492-b938-47e6-a752-da0e193939ad" Alias="GOV.UK Radio buttons" Level="1">
  <Info>
    <Name>GOV.UK Radio buttons</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "d7861a37-8d74-4a8b-85db-016ea1323b9f",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{label}} (Radio)",
      "settingsElementTypeKey": "1a84595b-3f9d-49ba-a3c0-ee82a547fb7f",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "5bbc1a49-49b7-4119-b6ad-c113226d92e0",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>