<?xml version="1.0" encoding="utf-8"?>
<DataType Key="087d7045-6e55-46da-9274-c0a946d4c671" Alias="GOV,UK Task List Sections Block List" Level="1">
  <Info>
    <Name>GOV,UK Task List Sections Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "4bc8c8a8-5c11-4d36-b222-3f8841dd6853",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{itemKey}} (Task list section)",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": 1
  }
}]]></Config>
</DataType>