<?xml version="1.0" encoding="utf-8"?>
<DataType Key="141c84fa-9192-4e52-b019-237eb9054d30" Alias="TPR Address lookup block list" Level="2">
  <Info>
    <Name>TPR Address lookup block list</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>TPR</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "fe2dd0de-55a9-4249-be03-6896aa719974",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{label}} (Text input)",
      "settingsElementTypeKey": "98070ce9-d528-4bfc-bd90-e411e5110f56",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>