<?xml version="1.0" encoding="utf-8"?>
<DataType Key="62ffbe9f-18aa-4b9b-9de5-c0ccc6b1c751" Alias="TPR - Boxed Section Card  - Textarea" Level="1">
  <Info>
    <Name>TPR - Boxed Section Card  - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>