<?xml version="1.0" encoding="utf-8"?>
<DataType Key="55bb40bf-54f9-4964-829f-cb0d2928cb08" Alias="TPR Block grid" Level="2">
  <Info>
    <Name>TPR Block grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>TPR</Folder>
  </Info>
  <Config><![CDATA[{
  "BlockGroups": [
    {
      "key": "fe4459ab-dada-4c2f-97f2-1b70aee27310",
      "name": "Content"
    },
    {
      "key": "7320f2ed-b3c0-4911-a75c-a82735d9a69b",
      "name": "Layout"
    }
  ],
  "Blocks": [
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "fe4459ab-dada-4c2f-97f2-1b70aee27310",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "fe4459ab-dada-4c2f-97f2-1b70aee27310",
      "iconColor": null,
      "inlineEditing": false,
      "label": "{{caption}} (Caption)",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "fe4459ab-dada-4c2f-97f2-1b70aee27310",
      "iconColor": null,
      "inlineEditing": false,
      "label": "{{text | ncRichText | truncate:true:50}} ({{$contentTypeName}})",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "stylesheet": null,
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/components/GovUkTypography.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "9389c5e5-ce97-4211-97c5-f2cd173ca648",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "fe4459ab-dada-4c2f-97f2-1b70aee27310",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Image",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/components/TPRImage.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "40bb2a3e-3d75-4ec1-9134-e0c46c6f04a0",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "fe4459ab-dada-4c2f-97f2-1b70aee27310",
      "iconColor": null,
      "inlineEditing": false,
      "label": "{{text | ncRichText | truncate:true:50}} ({{$contentTypeName}})",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "29d9a3c9-4047-484a-8816-e233e161fcb0",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "left",
          "columnSpan": 6,
          "createLabel": null,
          "key": "42cd56f1-4f1d-46a0-9445-896ab13a0371",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        },
        {
          "alias": "right",
          "columnSpan": 6,
          "createLabel": null,
          "key": "3d9c5b8a-e923-485b-8d8e-a369ea72536a",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "3fa201d9-0d89-458f-b6dc-f5fb6fc8e10a",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "7320f2ed-b3c0-4911-a75c-a82735d9a69b",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Two Column Layout",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.BlockGridEditor.DefaultCustomViews/umbBlockGridDemoTwoColumnLayoutBlock.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "83cb35fb-51da-45cd-913f-1b8bdfd6a1d9",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "fe4459ab-dada-4c2f-97f2-1b70aee27310",
      "iconColor": null,
      "inlineEditing": false,
      "label": "{{text | ncRichText | truncate:true:50}} ({{$contentTypeName}})",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "0bac8213-4607-4547-902a-6a9d84b92633",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "9d15adb9-fb63-4b20-ada3-fc9239a72a8c",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "fe4459ab-dada-4c2f-97f2-1b70aee27310",
      "iconColor": null,
      "inlineEditing": false,
      "label": "{{summary}} (Details)",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "a6689021-cc6e-4d94-8c37-235906ebeff1",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "f7fc1212-5317-4642-9565-f8b6585508e8",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "fe4459ab-dada-4c2f-97f2-1b70aee27310",
      "iconColor": null,
      "inlineEditing": false,
      "label": "{{legend}} (Fieldset)",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "6930e373-0fce-44ad-89b8-267442675807",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "fe2dd0de-55a9-4249-be03-6896aa719974",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "fe4459ab-dada-4c2f-97f2-1b70aee27310",
      "iconColor": null,
      "inlineEditing": false,
      "label": "{{label}} (Text Input)",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "98070ce9-d528-4bfc-bd90-e411e5110f56",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "d118b7dc-63c6-4262-9ce9-2e823dc530f0",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "fe4459ab-dada-4c2f-97f2-1b70aee27310",
      "iconColor": null,
      "inlineEditing": false,
      "label": "{{label}} (Textarea)",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "5f3e3369-43cf-47c2-bb76-60055518ae05",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "a3a58c3e-673f-4521-b9e7-4b6a667f06b4",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "fe4459ab-dada-4c2f-97f2-1b70aee27310",
      "iconColor": null,
      "inlineEditing": false,
      "label": "{{legend}} (Date input)",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "308973a3-4525-445f-9bcd-bdf3d649abb6",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "b84a633b-1ee7-4a5c-80bd-4267420ed133",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "fe4459ab-dada-4c2f-97f2-1b70aee27310",
      "iconColor": null,
      "inlineEditing": false,
      "label": "{{legend}} (Radios)",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "40da6b15-489b-4249-854a-56954e5917e1",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "f1cb27f6-c7f5-4db0-bfff-ef76df811ac7",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "fe4459ab-dada-4c2f-97f2-1b70aee27310",
      "iconColor": null,
      "inlineEditing": false,
      "label": "{{label}} (Checkbox)",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "67371513-c485-4405-afb4-70367ddb6eb8",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "a4ef171f-5688-4b05-806f-75a6ce50a842",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "fe4459ab-dada-4c2f-97f2-1b70aee27310",
      "iconColor": null,
      "inlineEditing": false,
      "label": "{{legend}} (Checkboxes)",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "57265e01-05ed-4ea3-a28d-e9f77420c018",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "7b79c9f1-4f4d-4c9b-915e-8f364bc86830",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "fe4459ab-dada-4c2f-97f2-1b70aee27310",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "ec4a6e3f-a6a8-4c8a-9d4c-d3e90399ac2c",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "2cb36d91-7480-4234-a5d8-6961a03ada8a",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "fe4459ab-dada-4c2f-97f2-1b70aee27310",
      "iconColor": null,
      "inlineEditing": false,
      "label": "{{error}} (Error message)",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "b34b41a7-261a-41a3-8877-afc4086cc065",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "43d6f04c-2ce0-440c-9e13-05d856b8aafe",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "fe4459ab-dada-4c2f-97f2-1b70aee27310",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "f7827cba-7c37-4ddd-9234-11bf31e17818",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "bd6069cc-a8c1-456b-8a00-1d180c45c36c",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "fe4459ab-dada-4c2f-97f2-1b70aee27310",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "d43b72b5-edac-42e0-aa09-1b080d7bd6eb",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "583467e1-4f8f-46ed-b8e8-b9bf69e9f65d",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "fe4459ab-dada-4c2f-97f2-1b70aee27310",
      "iconColor": null,
      "inlineEditing": false,
      "label": "{{cardTitle}} (Summary card)",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "d2220ba5-3a33-4f2c-9b82-f214a1c8fccb",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "32224cf2-f160-4c74-9c07-ed918b263c75",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "fe4459ab-dada-4c2f-97f2-1b70aee27310",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "41ecf378-c886-4f08-9962-7ea6e168276c",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "405470f7-9d54-4891-91c9-2efa8dec0833",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "fe4459ab-dada-4c2f-97f2-1b70aee27310",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "51db3717-0b48-4f1d-afdd-478065a531a5",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "d8ded14d-00eb-46c2-8c66-29a27fc6b05a",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "fe4459ab-dada-4c2f-97f2-1b70aee27310",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "b8f1e93f-f50d-4a57-8cd1-356ee8d7d284",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkPagination.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "6a472e93-8a46-4791-a387-bde834d619cf",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "fe4459ab-dada-4c2f-97f2-1b70aee27310",
      "iconColor": null,
      "inlineEditing": false,
      "label": "{{panelHeading}} (Panel)",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "46f4e57b-7357-44c0-bd4c-295b9edee4c1",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "a278e94c-f555-490b-920c-313a7ba17492",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "fe4459ab-dada-4c2f-97f2-1b70aee27310",
      "iconColor": null,
      "inlineEditing": false,
      "label": "{{label}} (Select)",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "b4bca409-19d8-460d-9155-6b84fc90e820",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "35584ae7-feb5-4de8-9008-5d2d8cfb34ce",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "fe4459ab-dada-4c2f-97f2-1b70aee27310",
      "iconColor": null,
      "inlineEditing": false,
      "label": "{{text}} (Button)",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "e683e885-8aa0-4bdd-9eff-56966f353540",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "94737fb0-c49c-44db-8a59-6a65f14a0c47",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "fe4459ab-dada-4c2f-97f2-1b70aee27310",
      "iconColor": null,
      "inlineEditing": false,
      "label": "{{text}} (Link, styled as a button)",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "2a5587ef-96fa-41dd-a2be-c5f97e00dfef",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "d1324abd-7504-44e1-9b9a-2cc12d527175",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "fe4459ab-dada-4c2f-97f2-1b70aee27310",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "bb140093-52f9-4ec4-9240-ab246b574ebd",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "901f91c0-f863-4409-9e6f-0ab829714c68",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "fe4459ab-dada-4c2f-97f2-1b70aee27310",
      "iconColor": null,
      "inlineEditing": false,
      "label": "{{$settings.modelProperty}} (Hidden field)",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "c7dd4cfd-8e91-46e2-8a57-0834a480cacb",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "CreateLabel": null,
  "GridColumns": null,
  "LayoutStylesheet": null,
  "MaxPropertyWidth": null,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>