<?xml version="1.0" encoding="utf-8"?>
<DataType Key="14ccd203-8740-4c67-ae9a-486420b3e815" Alias="TPR Box style" Level="2">
  <Info>
    <Name>TPR Box style</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>TPR</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Solid box"
    },
    {
      "id": 2,
      "value": "Bordered box"
    }
  ]
}]]></Config>
</DataType>