<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eaafa7b8-876b-4fdf-beec-df9f9ebbd48d" Alias="TPR footer - Language Code - Radio button list" Level="1">
  <Info>
    <Name>TPR footer - Language Code - Radio button list</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "en"
    },
    {
      "id": 2,
      "value": "cy"
    }
  ]
}]]></Config>
</DataType>