<?xml version="1.0" encoding="utf-8"?>
<DataType Key="00854a1d-2713-49d4-afe5-8ec4f2fd373a" Alias="TPR Heading level (Section cards)" Level="2">
  <Info>
    <Name>TPR Heading level (Section cards)</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>TPR</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 2,
      "value": "Heading 2"
    },
    {
      "id": 3,
      "value": "Heading 3"
    },
    {
      "id": 4,
      "value": "Heading 4"
    },
    {
      "id": 5,
      "value": "Heading 5"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>