<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0112e6d6-eb3f-44d6-8db4-a24571fb692e" Alias="TPR Mobile Menu Parent Item Block list" Level="2">
  <Info>
    <Name>TPR Mobile Menu Parent Item Block list</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>TPR</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "6d4fddfb-8cd7-4d5e-8b88-bbf03ecfa0be",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>