<?xml version="1.0" encoding="utf-8"?>
<DataType Key="48f89b23-2121-4f38-acca-02770993ca35" Alias="TPR Rich text editor (TPR header)" Level="1">
  <Info>
    <Name>TPR Rich text editor (TPR header)</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "link",
      "unlink"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small"
}]]></Config>
</DataType>