<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b90428e4-0cbf-4b08-b936-5fd6615f8350" Alias="TPR Rich text editor (Navigational links)" Level="2">
  <Info>
    <Name>TPR Rich text editor (Navigational links)</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>TPR</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [],
  "Editor": {
    "toolbar": [
      "styles",
      "bullist",
      "numlist",
      "link",
      "unlink"
    ],
    "stylesheets": [
      "/css/govuk-umbraco-backoffice.css",
      "/css/site.css"
    ],
    "maxImageSize": 0,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small",
  "UseLiveEditing": false
}]]></Config>
</DataType>