<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3f0e07bd-9bf9-4cea-a23a-1acc1ade362d" Alias="TPR Rich text editor (YouTube video description)" Level="2">
  <Info>
    <Name>TPR Rich text editor (YouTube video description)</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>TPR</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [],
  "Editor": {
    "toolbar": [
      "removeformat",
      "bold",
      "italic",
      "bullist",
      "numlist",
      "link",
      "subscript",
      "superscript",
      "charmap"
    ],
    "stylesheets": [
      "/css/govuk-umbraco-backoffice.css",
      "/css/site.css"
    ],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small",
  "UseLiveEditing": false
}]]></Config>
</DataType>