<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cf0427f6-51a2-420d-89b1-a4eb95f556ac" Alias="TPR Rich text editor (Section card)" Level="2">
  <Info>
    <Name>TPR Rich text editor (Section card)</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>TPR</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [],
  "Editor": {
    "toolbar": [
      "removeformat",
      "bold",
      "italic",
      "bullist",
      "numlist",
      "link"
    ],
    "stylesheets": [
      "/css/govuk-umbraco-backoffice.css",
      "/css/site.css"
    ],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small",
  "UseLiveEditing": false
}]]></Config>
</DataType>