<?xml version="1.0" encoding="utf-8"?>
<DataType Key="25095e7c-9076-42be-b90d-9b77750ca2cf" Alias="TPR YouTube video settings - Preload" Level="2">
  <Info>
    <Name>TPR YouTube video settings - Preload</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>TPR</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "auto"
    },
    {
      "id": 2,
      "value": "metadata"
    },
    {
      "id": 3,
      "value": "none"
    }
  ]
}]]></Config>
</DataType>