<?xml version="1.0" encoding="utf-8"?>
<DataType Key="25095e7c-9076-42be-b90d-9b77750ca2cf" Alias="Youtube Video Settings - Preload - Dropdown" Level="1">
  <Info>
    <Name>Youtube Video Settings - Preload - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "auto"
    },
    {
      "id": 2,
      "value": "metadata"
    },
    {
      "id": 3,
      "value": "none"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>