<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f4a1d43c-49f0-4d33-9a4b-8327e6cb0986" Alias="Youtube Video Settings - Plays in line - Toggle" Level="1">
  <Info>
    <Name>Youtube Video Settings - Plays in line - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": true,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>