<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f4a1d43c-49f0-4d33-9a4b-8327e6cb0986" Alias="YouTube video settings - Plays inline - Toggle" Level="2">
  <Info>
    <Name>YouTube video settings - Plays inline - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>TPR</Folder>
  </Info>
  <Config><![CDATA[{
  "Default": true,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>