<?xml version="1.0" encoding="utf-8"?>
<DataType Key="27b54a24-a495-457c-85a1-fed19b64a165" Alias="YouTube video settings - Smaller heading - Toggle" Level="1">
  <Info>
    <Name>YouTube video settings - Smaller heading - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>