<?xml version="1.0" encoding="utf-8"?>
<DataType Key="47d84fa3-aa75-4ed2-b3ed-44b2d635c2d6" Alias="YouTube video settings - Autoplay - Toggle" Level="2">
  <Info>
    <Name>YouTube video settings - Autoplay - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>TPR</Folder>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>