@using GovUk.Frontend.Umbraco.ExampleApp.Models
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BlockListViewModel>
@section head{
	<title>@Model.Page!.PageHeadingOrName()</title>
}

<partial name="GOVUK/BlockList" model="Model.Page!.Blocks" />