@using GovUk.Frontend.Umbraco.ExampleApp.Controllers;
@using GovUk.Frontend.Umbraco.ExampleApp.Models;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ButtonViewModel>
@section head{
	<title>@Model.Page!.PageHeadingOrName()</title>
}

@using (Html.BeginUmbracoForm<ButtonSurfaceController>(nameof(ButtonSurfaceController.Index), new { }, new { novalidate = "novalidate" }))
{
	<partial name="GOVUK/BlockList" model="Model.Page!.Blocks" />
	<partial name="GOVUK/BlockGrid" model="Model.Page.Grid" />
}