@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<DateInputViewModel>
@using GovUk.Frontend.Umbraco.ExampleApp.Controllers
@using GovUk.Frontend.Umbraco.ExampleApp.Models
@section head{
    <title>@Model.Page!.PageHeadingOrName()</title>
}
@using (Html.BeginUmbracoForm<DateInputSurfaceController>(nameof(DateInputSurfaceController.Index), new {}, new { novalidate="novalidate" }))
{
    <partial name="GOVUK/BlockList" model="Model.Page!.Blocks" />
}
@section scripts {
    <partial name="GOVUK/UmbracoValidation" />
}