@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<DateInputViewModel>
@using GovUk.Frontend.Umbraco.ExampleApp.Controllers
@using GovUk.Frontend.Umbraco.ExampleApp.Models
@section head{
	<title>@Model.Page.Name</title>
}

<partial name="GOVUK/ErrorSummary" />

@using (Html.BeginUmbracoForm<DateInputSurfaceController>(nameof(DateInputSurfaceController.Index), null, new { novalidate="novalidate" }))
{
    <partial name="GOVUK/BlockList" model="Model.Page.Blocks" />
    <govuk-button type="submit">@Model.Page.ButtonText</govuk-button>
}
@section scripts {
    <partial name="GOVUK/Validation" />
}