@using GovUk.Frontend.Umbraco.ExampleApp.Controllers
@using GovUk.Frontend.Umbraco.ExampleApp.Models
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ErrorMessageViewModel>
@section head{
	<title>@Model.Page?.Name</title>
}
@using (Html.BeginUmbracoForm<ErrorMessageSurfaceController>(nameof(ErrorMessageSurfaceController.Index), new { }, new { novalidate = "novalidate" }))
{
    <partial name="GOVUK/BlockList" model="Model.Page?.Blocks" />
}
@section scripts {
    <partial name="GOVUK/Validation" />
}