@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Grid>
@section head{
	<title>@Model.PageHeadingOrName()</title>
}

<partial name="GOVUK/BlockGrid" model="Model.GridBlocks" />
<partial name="GOVUK/BlockList" model="Model.Blocks" />