@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Home>
@section head{
	<title>@Model.Name</title>
}

<partial name="GOVUK/BlockList" model="Model.Blocks" />
<govuk-back-to-top-link href="#main">@Umbraco.GetDictionaryValue("Back to top")</govuk-back-to-top-link>