@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Home>
@section head{
	<title>@Model.Name</title>
}

<span class="govuk-caption-xl">@Model.Caption<span>
<h1 class="govuk-heading-l">@Model.Name</h1>
<partial name="GOVUK/BlockList" model="Model.Blocks" />