@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<PaginationViewModel>
@using GovUk.Frontend.Umbraco.ExampleApp.Controllers
@using GovUk.Frontend.Umbraco.ExampleApp.Models
@section head{
    <title>@Model.PageTitle</title>
}
<form action="@Context.Request.Path" method="get">
    <partial name="GOVUK/BlockList" model="Model.Page.Blocks" />
</form>
@section scripts {
    <partial name="GOVUK/UmbracoValidation" />
}