@using GovUk.Frontend.Umbraco.ExampleApp.Models;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<TaskListViewModel>
@section head{
	<title>@Model.Page!.Name</title>
}

<partial name="GOVUK/BlockList" model="Model.Blocks" />