@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<TextInputViewModel>
@using GovUk.Frontend.Umbraco.ExampleApp.Controllers
@using GovUk.Frontend.Umbraco.ExampleApp.Models
@using System.Globalization
@using Microsoft.AspNetCore.Localization
@using System.Threading
@section head{
	<title>@Model.Page!.Name</title>
}
@section language {
    <partial name="_LanguageSwitcher" model="Model.Page"/>
}
@using (Html.BeginUmbracoForm<TextInputSurfaceController>(nameof(TextInputSurfaceController.Index), new {}, new { novalidate="novalidate" }))
{
    <partial name="GOVUK/BlockList" model="Model.Page!.Blocks" />
}
@section scripts {
    <partial name="GOVUK/UmbracoValidation" />
}