<?xml version="1.0" encoding="utf-8"?>
<Content Key="22a4a3ef-d9d7-4129-b573-ea9a707040b3" Alias="Accordion" Level="2">
  <Info>
    <Parent Key="5e682cbe-b867-491a-955f-3382446d5663">Home</Parent>
    <Path>/Home/Accordion</Path>
    <Trashed>false</Trashed>
    <ContentType>accordion</ContentType>
    <CreateDate>2024-05-08T10:28:46</CreateDate>
    <NodeName Default="Accordion" />
    <SortOrder>23</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="493afb33-d796-4b72-a691-2aa04a9b1d36">Accordion</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b5e5e3726e0e46f68d57af2b5904fb30",
        "settingsUdi": "umb://element/5cbf511cdbde49eba0e6e93f0ae1a9cf"
      },
      {
        "contentUdi": "umb://element/3fd15e73bea3449db6a748ac444c9b44",
        "settingsUdi": "umb://element/0931254bb3bb487cba8c3b300a7020f0"
      },
      {
        "contentUdi": "umb://element/b3a880dbf9ac46e8a9e6aa93ff30d01d",
        "settingsUdi": "umb://element/6e4166a07fa6493d9ce943821f3f72c7"
      },
      {
        "contentUdi": "umb://element/7fd1bfeb65e6486b836b17eed2da7cf7",
        "settingsUdi": "umb://element/160788c7d24b45d7a40340b02b998b2e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "udi": "umb://element/b5e5e3726e0e46f68d57af2b5904fb30",
      "caption": "Example application in Umbraco"
    },
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "udi": "umb://element/3fd15e73bea3449db6a748ac444c9b44",
      "text": ""
    },
    {
      "contentTypeKey": "f03fd727-5504-4647-b1b4-1211253c01f9",
      "udi": "umb://element/7fd1bfeb65e6486b836b17eed2da7cf7",
      "sections": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/937849b71a5e4e0f9bf04f3a1e1bbdf8",
              "settingsUdi": "umb://element/80765d60cddf4d71a4314d982b35da49"
            },
            {
              "contentUdi": "umb://element/baeb795c01c24844ab4630bc09869249",
              "settingsUdi": "umb://element/e3a6a4837470451cbcce4edeebc7b603"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "2f88f094-5263-464b-8f7e-0298b78acebe",
            "udi": "umb://element/937849b71a5e4e0f9bf04f3a1e1bbdf8",
            "heading": "Section 1",
            "summary": "Optional summary",
            "content": {
              "markup": "<p>Each section supports <strong>rich text content.</strong> This section is expanded by default.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "2f88f094-5263-464b-8f7e-0298b78acebe",
            "udi": "umb://element/baeb795c01c24844ab4630bc09869249",
            "heading": "Section 2",
            "summary": "",
            "content": {
              "markup": "<p>This section has no summary and is collapsed when the page loads.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "e251daf8-f9c1-418c-8086-9d7a0c4483c6",
            "udi": "umb://element/80765d60cddf4d71a4314d982b35da49",
            "cssClasses": "",
            "expandSection": "1"
          },
          {
            "contentTypeKey": "e251daf8-f9c1-418c-8086-9d7a0c4483c6",
            "udi": "umb://element/e3a6a4837470451cbcce4edeebc7b603",
            "cssClasses": "",
            "expandSection": "0"
          }
        ]
      }
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "udi": "umb://element/b3a880dbf9ac46e8a9e6aa93ff30d01d",
      "text": {
        "markup": "<p>The <a href=\"https://design-system.service.gov.uk/components/accordion/\">accordion component</a> lets users show and hide sections of related content on a page.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "udi": "umb://element/5cbf511cdbde49eba0e6e93f0ae1a9cf",
      "cssClasses": "",
      "cssClassesForRow": "",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "cssClassesForColumn": ""
    },
    {
      "contentTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "udi": "umb://element/0931254bb3bb487cba8c3b300a7020f0",
      "cssClasses": "",
      "cssClassesForRow": "govuk-grid-row--tpr-divider",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "cssClassesForColumn": ""
    },
    {
      "contentTypeKey": "a8b190fd-4c5e-4b55-a331-ad93499d10b7",
      "udi": "umb://element/160788c7d24b45d7a40340b02b998b2e",
      "headingLevel": "",
      "cssClasses": "",
      "cssClassesForRow": "",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "cssClassesForColumn": ""
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "udi": "umb://element/6e4166a07fa6493d9ce943821f3f72c7",
      "cssClassesForRow": "",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "cssClassesForColumn": ""
    }
  ]
}]]></Value>
    </blocks>
  </Properties>
</Content>