<?xml version="1.0" encoding="utf-8"?>
<Content Key="22a4a3ef-d9d7-4129-b573-ea9a707040b3" Alias="Accordion" Level="2">
  <Info>
    <Parent Key="5e682cbe-b867-491a-955f-3382446d5663">Home</Parent>
    <Path>/Home/Accordion</Path>
    <Trashed>false</Trashed>
    <ContentType>accordion</ContentType>
    <CreateDate>2024-05-08T10:28:46</CreateDate>
    <NodeName Default="Accordion" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="493afb33-d796-4b72-a691-2aa04a9b1d36">Accordion</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b5e5e3726e0e46f68d57af2b5904fb30",
        "settingsUdi": "umb://element/5cbf511cdbde49eba0e6e93f0ae1a9cf"
      },
      {
        "contentUdi": "umb://element/3fd15e73bea3449db6a748ac444c9b44",
        "settingsUdi": "umb://element/0931254bb3bb487cba8c3b300a7020f0"
      },
      {
        "contentUdi": "umb://element/b3a880dbf9ac46e8a9e6aa93ff30d01d",
        "settingsUdi": "umb://element/6e4166a07fa6493d9ce943821f3f72c7"
      },
      {
        "contentUdi": "umb://element/7fd1bfeb65e6486b836b17eed2da7cf7",
        "settingsUdi": "umb://element/160788c7d24b45d7a40340b02b998b2e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "udi": "umb://element/b5e5e3726e0e46f68d57af2b5904fb30",
      "caption": "Example application in Umbraco"
    },
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "udi": "umb://element/3fd15e73bea3449db6a748ac444c9b44",
      "text": ""
    },
    {
      "contentTypeKey": "21e3dbf9-cf23-4caa-9bc1-fa04edd8d95e",
      "udi": "umb://element/7fd1bfeb65e6486b836b17eed2da7cf7",
      "sections": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/937849b71a5e4e0f9bf04f3a1e1bbdf8",
              "settingsUdi": "umb://element/80765d60cddf4d71a4314d982b35da49"
            },
            {
              "contentUdi": "umb://element/baeb795c01c24844ab4630bc09869249",
              "settingsUdi": "umb://element/e3a6a4837470451cbcce4edeebc7b603"
            },
            {
              "contentUdi": "umb://element/44bab64787ef43fd9e58999d95a459c3",
              "settingsUdi": "umb://element/6409caebad44480daf4fa1ce68de9a05"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "5bb40489-3f94-44a6-858c-de25a61db634",
            "udi": "umb://element/937849b71a5e4e0f9bf04f3a1e1bbdf8",
            "heading": "Section 1",
            "summary": "",
            "blocks": {
              "layout": {
                "Umbraco.BlockGrid": [
                  {
                    "contentUdi": "umb://element/014334f4bebf45f0be3e7ad4c71bd8f3",
                    "settingsUdi": "umb://element/8120acb33b294366b2647a30ffc6c39d",
                    "areas": [],
                    "columnSpan": 12,
                    "rowSpan": 1
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
                  "udi": "umb://element/014334f4bebf45f0be3e7ad4c71bd8f3",
                  "text": {
                    "markup": "<p>Each section supports <strong>rich text content</strong>. This section has no summary, and is expanded by default.</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                }
              ],
              "settingsData": [
                {
                  "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
                  "udi": "umb://element/8120acb33b294366b2647a30ffc6c39d",
                  "cssClassesForRow": "",
                  "columnSize": "",
                  "columnSizeFromDesktop": "",
                  "cssClassesForColumn": ""
                }
              ]
            }
          },
          {
            "contentTypeKey": "5bb40489-3f94-44a6-858c-de25a61db634",
            "udi": "umb://element/baeb795c01c24844ab4630bc09869249",
            "heading": "Section 2",
            "summary": "This section is collapsed when the page loads",
            "blocks": {
              "layout": {
                "Umbraco.BlockGrid": [
                  {
                    "contentUdi": "umb://element/cf60850293b0486bbee72e4048bc5f7f",
                    "settingsUdi": "umb://element/b3ad6c6a003e4c2e9fd2ac7266d2abb1",
                    "areas": [],
                    "columnSpan": 12,
                    "rowSpan": 1
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
                  "udi": "umb://element/cf60850293b0486bbee72e4048bc5f7f",
                  "text": {
                    "markup": "<p>This content will remain visible until you close it, or clear your cookies.</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                }
              ],
              "settingsData": [
                {
                  "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
                  "udi": "umb://element/b3ad6c6a003e4c2e9fd2ac7266d2abb1",
                  "cssClassesForRow": "",
                  "columnSize": "",
                  "columnSizeFromDesktop": "",
                  "cssClassesForColumn": ""
                }
              ]
            }
          },
          {
            "contentTypeKey": "5bb40489-3f94-44a6-858c-de25a61db634",
            "udi": "umb://element/44bab64787ef43fd9e58999d95a459c3",
            "heading": "Section 3",
            "summary": "Sections can contain columns",
            "blocks": {
              "layout": {
                "Umbraco.BlockGrid": [
                  {
                    "contentUdi": "umb://element/b2b50e728d084b39ad625dac05153e4f",
                    "settingsUdi": "umb://element/f802aa56bd844e6f8dee31ea30d78e4d",
                    "areas": [
                      {
                        "key": "e612cf51-f8f5-4c79-891c-21f860d0a38f",
                        "items": [
                          {
                            "contentUdi": "umb://element/6c82876ceb7b4d93bb46c5a9e2fb375a",
                            "settingsUdi": "umb://element/4336c2dd20344b138210efdc15d85921",
                            "areas": [],
                            "columnSpan": 6,
                            "rowSpan": 1
                          }
                        ]
                      },
                      {
                        "key": "f801579d-d157-4900-b37a-f138aeb5ee03",
                        "items": [
                          {
                            "contentUdi": "umb://element/4fcd8fe6423a4f84b8d80b94843b4f7d",
                            "settingsUdi": "umb://element/e2eb341a78d5459b9b828adeea4a89c7",
                            "areas": [],
                            "columnSpan": 6,
                            "rowSpan": 1
                          }
                        ]
                      }
                    ],
                    "columnSpan": 12,
                    "rowSpan": 1
                  },
                  {
                    "contentUdi": "umb://element/136f8a232ef84c839e08e4ae7fb9ca3c",
                    "settingsUdi": "umb://element/5fb1316b33d245a283dc990d7b3e9c24",
                    "areas": [],
                    "columnSpan": 12,
                    "rowSpan": 1
                  },
                  {
                    "contentUdi": "umb://element/3c4033e3819341a8a726d2c68cf849ba",
                    "areas": [],
                    "columnSpan": 12,
                    "rowSpan": 1
                  },
                  {
                    "contentUdi": "umb://element/d9a61bb73c8644ef9f9f63a6613fe6ac",
                    "areas": [],
                    "columnSpan": 12,
                    "rowSpan": 1
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "3fa201d9-0d89-458f-b6dc-f5fb6fc8e10a",
                  "udi": "umb://element/b2b50e728d084b39ad625dac05153e4f"
                },
                {
                  "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
                  "udi": "umb://element/6c82876ceb7b4d93bb46c5a9e2fb375a",
                  "text": {
                    "markup": "<p>This is in column one.</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
                  "udi": "umb://element/4fcd8fe6423a4f84b8d80b94843b4f7d",
                  "text": {
                    "markup": "<p>This is in column two.</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "40bb2a3e-3d75-4ec1-9134-e0c46c6f04a0",
                  "udi": "umb://element/136f8a232ef84c839e08e4ae7fb9ca3c",
                  "text": {
                    "markup": "<p>Inset text and other non-forms components are allowed inside an accordion.</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "9389c5e5-ce97-4211-97c5-f2cd173ca648",
                  "udi": "umb://element/d9a61bb73c8644ef9f9f63a6613fe6ac",
                  "image": [
                    {
                      "key": "48162d3b-1903-4a93-bb9a-f4935ea1f7e4",
                      "mediaKey": "37113179-dc19-4536-a202-2859f11db90a"
                    }
                  ]
                },
                {
                  "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
                  "udi": "umb://element/3c4033e3819341a8a726d2c68cf849ba",
                  "text": {
                    "markup": "<p>Images don't feature in the GOV.UK Design System, but if you use a TPR Block grid or TPR Block list property editor rather than GOV.UK Block grid or GOV.UK Block list, you can add images too.</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                }
              ],
              "settingsData": [
                {
                  "contentTypeKey": "53edb934-ee79-4ff0-b23a-84b91e9fef7a",
                  "udi": "umb://element/f802aa56bd844e6f8dee31ea30d78e4d",
                  "stackColumns": ""
                },
                {
                  "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
                  "udi": "umb://element/4336c2dd20344b138210efdc15d85921",
                  "cssClassesForRow": "",
                  "columnSize": "",
                  "columnSizeFromDesktop": "",
                  "cssClassesForColumn": ""
                },
                {
                  "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
                  "udi": "umb://element/e2eb341a78d5459b9b828adeea4a89c7",
                  "cssClassesForRow": "",
                  "columnSize": "",
                  "columnSizeFromDesktop": "",
                  "cssClassesForColumn": ""
                },
                {
                  "contentTypeKey": "562c13ba-8543-4932-b448-8dd0d71e67b2",
                  "udi": "umb://element/5fb1316b33d245a283dc990d7b3e9c24",
                  "cssClasses": ""
                }
              ]
            }
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "3c2ae3cf-3387-4bee-b34e-0f5ec3a45ca2",
            "udi": "umb://element/80765d60cddf4d71a4314d982b35da49",
            "cssClasses": "",
            "expandSection": "1"
          },
          {
            "contentTypeKey": "3c2ae3cf-3387-4bee-b34e-0f5ec3a45ca2",
            "udi": "umb://element/e3a6a4837470451cbcce4edeebc7b603",
            "cssClasses": "",
            "expandSection": "0"
          },
          {
            "contentTypeKey": "3c2ae3cf-3387-4bee-b34e-0f5ec3a45ca2",
            "udi": "umb://element/6409caebad44480daf4fa1ce68de9a05",
            "expandSection": "1",
            "cssClasses": ""
          }
        ]
      }
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "udi": "umb://element/b3a880dbf9ac46e8a9e6aa93ff30d01d",
      "text": {
        "markup": "<p>The <a href=\"https://design-system.service.gov.uk/components/accordion/\">accordion component</a> lets users show and hide sections of related content on a page.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "udi": "umb://element/5cbf511cdbde49eba0e6e93f0ae1a9cf",
      "cssClasses": "",
      "cssClassesForRow": "",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "cssClassesForColumn": ""
    },
    {
      "contentTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "udi": "umb://element/0931254bb3bb487cba8c3b300a7020f0",
      "cssClasses": "",
      "cssClassesForRow": "govuk-grid-row--tpr-divider",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "cssClassesForColumn": ""
    },
    {
      "contentTypeKey": "5c3a9c47-9ed6-4a26-b7ac-e8639ed4472f",
      "udi": "umb://element/160788c7d24b45d7a40340b02b998b2e",
      "cssClasses": "",
      "cssClassesForRow": "",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "cssClassesForColumn": "",
      "headingLevel": ""
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "udi": "umb://element/6e4166a07fa6493d9ce943821f3f72c7",
      "cssClassesForRow": "",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "cssClassesForColumn": ""
    }
  ]
}]]></Value>
    </blocks>
    <headingScaleStart>
      <Value><![CDATA[]]></Value>
    </headingScaleStart>
  </Properties>
</Content>