<?xml version="1.0" encoding="utf-8"?>
<Content Key="29941635-112b-4259-a5ab-a7b5fce22261" Alias="Address lookup" Level="2">
  <Info>
    <Parent Key="5e682cbe-b867-491a-955f-3382446d5663">Home</Parent>
    <Path>/Home/AddressLookup</Path>
    <Trashed>false</Trashed>
    <ContentType>addressLookup</ContentType>
    <CreateDate>2026-01-16T14:03:19</CreateDate>
    <NodeName Default="Address lookup" />
    <SortOrder>38</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0ec44db1-2de9-4b70-9de4-6f2c3f955df8">AddressLookup</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/fad76fd5a80147ef9674b4b254471d48",
        "settingsUdi": "umb://element/7ae7f3a008c44779a01b47abb369d76e"
      },
      {
        "contentUdi": "umb://element/331c0b0e039a4a43841711de3b87a921",
        "settingsUdi": "umb://element/41b6a5c44c8145e99866fd3541674f10"
      },
      {
        "contentUdi": "umb://element/6a45e0a966b8446fa736fd6a9af115e7",
        "settingsUdi": "umb://element/98f392c23d994bdfa879685dc5912c97"
      },
      {
        "contentUdi": "umb://element/f65a169dc716461caf94fe0eb4af914a",
        "settingsUdi": "umb://element/0fed50c0e720472bb1ff5fddbdfb8102"
      },
      {
        "contentUdi": "umb://element/286a5c75e1f74d4781113795f283262b",
        "settingsUdi": "umb://element/c63a685a655e4ee991c31bcbbbcdd358"
      }
    ]
  },
  "contentData": [
    {
      "caption": "Example application",
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "udi": "umb://element/331c0b0e039a4a43841711de3b87a921"
    },
    {
      "addressLine1Label": "",
      "addressLine2Label": "",
      "contentTypeKey": "27d76b71-c725-4adc-b0d3-247a8f0c746d",
      "countryLabel": "",
      "countyLabel": "",
      "fieldsetBlocks": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/540c74aa0e6841758a8d6f9da6361d9f",
              "settingsUdi": "umb://element/41a7517b2de046929acf15cd0ebbb6a9"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "40bb2a3e-3d75-4ec1-9134-e0c46c6f04a0",
            "text": {
              "markup": "<p>You can add additional help within address lookup fieldsets.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "udi": "umb://element/540c74aa0e6841758a8d6f9da6361d9f"
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "562c13ba-8543-4932-b448-8dd0d71e67b2",
            "cssClasses": "",
            "udi": "umb://element/41a7517b2de046929acf15cd0ebbb6a9"
          }
        ]
      },
      "hint": {
        "markup": "<p>Enter a shipping address</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "legend": "Shipping address",
      "postcodeLabel": "",
      "townOrCityLabel": "",
      "udi": "umb://element/6a45e0a966b8446fa736fd6a9af115e7"
    },
    {
      "contentTypeKey": "35584ae7-feb5-4de8-9008-5d2d8cfb34ce",
      "text": "Save",
      "udi": "umb://element/286a5c75e1f74d4781113795f283262b"
    },
    {
      "contentTypeKey": "7b79c9f1-4f4d-4c9b-915e-8f364bc86830",
      "title": "",
      "udi": "umb://element/fad76fd5a80147ef9674b4b254471d48"
    },
    {
      "addressLine1Label": "custom ",
      "addressLine2Label": "",
      "contentTypeKey": "27d76b71-c725-4adc-b0d3-247a8f0c746d",
      "countryLabel": "",
      "countyLabel": "",
      "fieldsetBlocks": "",
      "hint": "",
      "legend": "Billing address",
      "postcodeLabel": "",
      "townOrCityLabel": "",
      "udi": "umb://element/f65a169dc716461caf94fe0eb4af914a"
    }
  ],
  "settingsData": [
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/41b6a5c44c8145e99866fd3541674f10"
    },
    {
      "addressLine1ErrorMessageMaxLength": "Address line 1 must not exceed 500 characters",
      "addressLine1ErrorMessageRequired": "Address line 1 must be populated",
      "addressLine1ModelProperty": "ShippingAddressLine1",
      "addressLine2ErrorMessageMaxLength": "Address line 2 must not exceed 500 characters",
      "addressLine2ModelProperty": "ShippingAddressLine2",
      "addressLookupIsPrimary": "1",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "f80f2e52-4a45-4dd8-8e73-824015296fd5",
      "countryErrorMessageRequired": "Country is required",
      "countryModelProperty": "ShippingCountry",
      "countyErrorMessageMaxLength": "Country must not exceed 500 characters",
      "countyModelProperty": "ShippingCounty",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "govuk-grid-row--tpr-divider-for-fieldset govuk-grid-row--tpr-divider",
      "legendIsPageHeading": "1",
      "postcodeErrorMessageMaxLength": "Postcode must not exceed 20 characters",
      "postcodeErrorMessageRequired": "Postcode is required",
      "postcodeModelProperty": "ShippingPostcode",
      "townOrCityErrorMessageMaxLength": "Town or city must not exceed 500 characters",
      "townOrCityErrorMessageRequired": "Town or city is required",
      "townOrCityModelProperty": "ShippingSomethingReallyRandom",
      "udi": "umb://element/98f392c23d994bdfa879685dc5912c97",
      "uPRNModelProperty": "ShippingUPRN"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "e683e885-8aa0-4bdd-9eff-56966f353540",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "disabled": "0",
      "modelProperty": "",
      "preventDoubleClick": "0",
      "styleOfButton": "",
      "typeOfButton": "",
      "udi": "umb://element/c63a685a655e4ee991c31bcbbbcdd358"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "ec4a6e3f-a6a8-4c8a-9d4c-d3e90399ac2c",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/7ae7f3a008c44779a01b47abb369d76e"
    },
    {
      "addressLine1ErrorMessageMaxLength": "Billing 1 max length",
      "addressLine1ErrorMessageRequired": "Billing 1 required",
      "addressLine1ModelProperty": "BillingAddressLine1",
      "addressLine2ErrorMessageMaxLength": "Billing 2 max length",
      "addressLine2ModelProperty": "BillingAddressLine2",
      "addressLookupIsPrimary": "0",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "f80f2e52-4a45-4dd8-8e73-824015296fd5",
      "countryErrorMessageRequired": "Billing country required",
      "countryModelProperty": "BillingCountry",
      "countyErrorMessageMaxLength": "Billing county max length",
      "countyModelProperty": "BillingCounty",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "legendIsPageHeading": "0",
      "postcodeErrorMessageMaxLength": "Billing post code max length",
      "postcodeErrorMessageRequired": "Postcode is required",
      "postcodeModelProperty": "BillingPostcode",
      "townOrCityErrorMessageMaxLength": "Billing town max length",
      "townOrCityErrorMessageRequired": "Billing town required",
      "townOrCityModelProperty": "BillingSomethingReallyRandom",
      "udi": "umb://element/0fed50c0e720472bb1ff5fddbdfb8102",
      "uPRNModelProperty": "BillingUPRN"
    }
  ]
}]]></Value>
    </blocks>
    <nextPage>
      <Value><![CDATA[umb://document/7ebf39a4dbdd454b92e46e544af2a411]]></Value>
    </nextPage>
  </Properties>
</Content>