<?xml version="1.0" encoding="utf-8"?>
<Content Key="52053616-3dc2-4233-b9c3-08406775bc0e" Alias="Address lookup primary address data provided" Level="3">
  <Info>
    <Parent Key="29941635-112b-4259-a5ab-a7b5fce22261">Address lookup</Parent>
    <Path>/Home/AddressLookup/AddressLookupPrimaryAddressDataProvided</Path>
    <Trashed>false</Trashed>
    <ContentType>addressLookupPrimaryDataProvided</ContentType>
    <CreateDate>2026-03-12T16:57:37</CreateDate>
    <NodeName Default="Address lookup primary address data provided" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d6ea539b-80f9-4cc3-b603-3907f84392af">AddressLookupPrimaryDataProvided</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/73e00870f1184ee0957b7bda0e5322d4",
        "settingsUdi": "umb://element/229c5c94b5c9414db7fbf28402a8f1ee"
      },
      {
        "contentUdi": "umb://element/a0b09f396c194101a09a05968b0e88e9",
        "settingsUdi": "umb://element/217ad0f5e3c04d7aa8d95afa38e15257"
      },
      {
        "contentUdi": "umb://element/dccbefb85e4f44b5bf3e25bfd0a918c5",
        "settingsUdi": "umb://element/d2165b4d8c88487587430c06dfbeac94"
      },
      {
        "contentUdi": "umb://element/dbfbb4402f80405db8a61d99f0647ba2",
        "settingsUdi": "umb://element/e40cdbb352c54253be7b56a3fe91d47d"
      },
      {
        "contentUdi": "umb://element/b9269e721f6b474c94dd9636ea6b7a25",
        "settingsUdi": "umb://element/bae0463073b9482c8dc5bf1e9ca85ba7"
      },
      {
        "contentUdi": "umb://element/0b06262459cd4ce89e1001168d81cd9c",
        "settingsUdi": "umb://element/e91521b1ee47476a91e867e9bc3323b7"
      },
      {
        "contentUdi": "umb://element/af05b76939334645b63fe118bbbdd4ab",
        "settingsUdi": "umb://element/617d7400f8694ecaa0985515de7d4660"
      },
      {
        "contentUdi": "umb://element/c44ac4e11a1e4a35932545f3b11f42e5",
        "settingsUdi": "umb://element/94f229ff1b2f4472aa2400bd93910751"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "text": "",
      "udi": "umb://element/dccbefb85e4f44b5bf3e25bfd0a918c5"
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "text": {
        "markup": "<p>If the viewmodel for a page contains data for one address but not the other, the relevant component will be rendered in the 'confirmed' view. The other will be rendered in the 'search' view.</p>\n<h3 class=\"govuk-heading-m\">Shipping address</h3>\n<p>Tell us where you would you would like your order shipped to.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/dbfbb4402f80405db8a61d99f0647ba2"
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "text": {
        "markup": "<h3 class=\"govuk-heading-m\">Billing address</h3>\n<p>Tell us where we should bill your order to.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/0b06262459cd4ce89e1001168d81cd9c"
    },
    {
      "contentTypeKey": "35584ae7-feb5-4de8-9008-5d2d8cfb34ce",
      "text": "Save",
      "udi": "umb://element/c44ac4e11a1e4a35932545f3b11f42e5"
    },
    {
      "caption": "Example application",
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "udi": "umb://element/a0b09f396c194101a09a05968b0e88e9"
    },
    {
      "contentTypeKey": "7b79c9f1-4f4d-4c9b-915e-8f364bc86830",
      "title": "",
      "udi": "umb://element/73e00870f1184ee0957b7bda0e5322d4"
    },
    {
      "addressLine1Label": "",
      "addressLine2Label": "",
      "addressLookupCheckboxLabel": "Same as shipping address",
      "buildingLabel": "",
      "contentTypeKey": "27d76b71-c725-4adc-b0d3-247a8f0c746d",
      "countryLabel": "",
      "countyLabel": "",
      "fieldsetBlocks": "",
      "hint": "",
      "internationalCountyLabel": "",
      "internationalPostcodeLabel": "",
      "legend": "Billing address",
      "postcodeLabel": "",
      "selectAddressLabel": "",
      "townOrCityLabel": "",
      "udi": "umb://element/af05b76939334645b63fe118bbbdd4ab"
    },
    {
      "addressLine1Label": "",
      "addressLine2Label": "",
      "addressLookupCheckboxLabel": "",
      "buildingLabel": "",
      "contentTypeKey": "27d76b71-c725-4adc-b0d3-247a8f0c746d",
      "countryLabel": "",
      "countyLabel": "",
      "fieldsetBlocks": "",
      "hint": "",
      "internationalCountyLabel": "",
      "internationalPostcodeLabel": "",
      "legend": "Shipping address",
      "postcodeLabel": "",
      "selectAddressLabel": "",
      "townOrCityLabel": "",
      "udi": "umb://element/b9269e721f6b474c94dd9636ea6b7a25"
    }
  ],
  "settingsData": [
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/d2165b4d8c88487587430c06dfbeac94"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/e40cdbb352c54253be7b56a3fe91d47d"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/e91521b1ee47476a91e867e9bc3323b7"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "e683e885-8aa0-4bdd-9eff-56966f353540",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "disabled": "0",
      "modelProperty": "",
      "preventDoubleClick": "0",
      "styleOfButton": "",
      "typeOfButton": "",
      "udi": "umb://element/94f229ff1b2f4472aa2400bd93910751"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/217ad0f5e3c04d7aa8d95afa38e15257"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "ec4a6e3f-a6a8-4c8a-9d4c-d3e90399ac2c",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/229c5c94b5c9414db7fbf28402a8f1ee"
    },
    {
      "addressLine1ErrorMessageMaxLength": "Cannot exceed the maximum length",
      "addressLine1ErrorMessageRequired": "This field is required",
      "addressLine1ModelProperty": "BillingAddress.AddressLine1",
      "addressLine2ErrorMessageMaxLength": "Cannot exceed the maximum length",
      "addressLine2ModelProperty": "BillingAddress.AddressLine2",
      "addressLine3ModelProperty": "BillingAddress.AddressLine3",
      "addressLookupIsPrimary": "0",
      "buildingErrorMessageMaxLength": "",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "f80f2e52-4a45-4dd8-8e73-824015296fd5",
      "countryCodeModelProperty": "BillingAddress.CountryId",
      "countryCustomErrorMessage": "",
      "countryErrorMessageRequired": "This field is required",
      "countyErrorMessageMaxLength": "Cannot exceed the maximum length",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "internationalCountyErrorMessageMaxLength": "",
      "internationalCountyModelProperty": "BillingAddress.PostCounty",
      "internationalPostcodeErrorMessageMaxLength": "",
      "internationalPostcodeErrorMessageRequired": "",
      "internationalPostcodeModelProperty": "BillingAddress.PostCode",
      "postcodeErrorMessageMaxLength": "Cannot exceed the maximum length",
      "postcodeErrorMessagePattern": "",
      "postcodeErrorMessageRequired": "This field is required",
      "selectAddressErrorMessageRequired": "",
      "selectConfirmAddressErrormessage": "",
      "townOrCityErrorMessageMaxLength": "Cannot exceed the maximum length",
      "townOrCityErrorMessageRequired": "This field is required",
      "townOrCityModelProperty": "BillingAddress.PostTown",
      "udi": "umb://element/617d7400f8694ecaa0985515de7d4660",
      "uprnModelProperty": "BillingAddress.UPRNReference"
    },
    {
      "addressLine1ErrorMessageMaxLength": "Cannot exceed the maximum length",
      "addressLine1ErrorMessageRequired": "This field is required",
      "addressLine1ModelProperty": "ShippingAddress.AddressLine1",
      "addressLine2ErrorMessageMaxLength": "Cannot exceed the maximum length",
      "addressLine2ModelProperty": "ShippingAddress.AddressLine2",
      "addressLine3ModelProperty": "ShippingAddress.AddressLine3",
      "addressLookupIsPrimary": "1",
      "buildingErrorMessageMaxLength": "",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "f80f2e52-4a45-4dd8-8e73-824015296fd5",
      "countryCodeModelProperty": "ShippingAddress.CountryId",
      "countryCustomErrorMessage": "",
      "countryErrorMessageRequired": "This field is required",
      "countyErrorMessageMaxLength": "Cannot exceed the maximum length",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "internationalCountyErrorMessageMaxLength": "",
      "internationalCountyModelProperty": "ShippingAddress.PostCounty",
      "internationalPostcodeErrorMessageMaxLength": "",
      "internationalPostcodeErrorMessageRequired": "",
      "internationalPostcodeModelProperty": "ShippingAddress.PostCode",
      "postcodeErrorMessageMaxLength": "Cannot exceed the maximum length",
      "postcodeErrorMessagePattern": "",
      "postcodeErrorMessageRequired": "This field is required",
      "selectAddressErrorMessageRequired": "",
      "selectConfirmAddressErrormessage": "",
      "townOrCityErrorMessageMaxLength": "Cannot exceed the maximum length",
      "townOrCityErrorMessageRequired": "This field is required",
      "townOrCityModelProperty": "ShippingAddress.PostTown",
      "udi": "umb://element/bae0463073b9482c8dc5bf1e9ca85ba7",
      "uprnModelProperty": "ShippingAddress.UPRNReference"
    }
  ]
}]]></Value>
    </blocks>
    <nextPage>
      <Value><![CDATA[umb://document/7ebf39a4dbdd454b92e46e544af2a411]]></Value>
    </nextPage>
  </Properties>
</Content>