<?xml version="1.0" encoding="utf-8"?>
<Content Key="801b1f27-4c42-41d4-8e41-8f8e9ff00043" Alias="Address lookup JavaScript disabled" Level="3">
  <Info>
    <Parent Key="29941635-112b-4259-a5ab-a7b5fce22261">Address lookup</Parent>
    <Path>/Home/AddressLookup/AddressLookupJavaScriptDisabled</Path>
    <Trashed>false</Trashed>
    <ContentType>addressLookupJavaScriptDisabled</ContentType>
    <CreateDate>2026-03-12T17:14:15</CreateDate>
    <NodeName Default="Address lookup JavaScript disabled" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4c887ca6-aeb4-4460-8baa-1e3dc82a7332">AddressLookupJavaScriptDisabled</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/cf24d87437484be08eac638bf5594807",
        "settingsUdi": "umb://element/006d12114f28485d9804dfedcbc074cb"
      },
      {
        "contentUdi": "umb://element/60c26d2c4347485d811bf87a90f6756b",
        "settingsUdi": "umb://element/512d21dce7844860a3b2e7de837ecd43"
      },
      {
        "contentUdi": "umb://element/afe04f3ffd0f496582ddd3757cc193c4",
        "settingsUdi": "umb://element/a824ce5f550546819bc2d139bfa5a86e"
      },
      {
        "contentUdi": "umb://element/78255f881a36489a9a62094c2dfdc4ab",
        "settingsUdi": "umb://element/f7a08834a1f04d1fa8cfd069d3310727"
      },
      {
        "contentUdi": "umb://element/98405d49f067415884d6eddca31760b7",
        "settingsUdi": "umb://element/074d9b6801274ee1a2bc757bb917e431"
      },
      {
        "contentUdi": "umb://element/313f961ec8324e8c80a5fc458fd86191",
        "settingsUdi": "umb://element/58624a65d22e42e38979b4089bdd81d8"
      },
      {
        "contentUdi": "umb://element/0121438362c84a348c1bb0b77397d14a",
        "settingsUdi": "umb://element/c3167f2f3166464caf05c0d492687be2"
      },
      {
        "contentUdi": "umb://element/47f43d96a63940e489ea70bd28ac15ca",
        "settingsUdi": "umb://element/56f8ef6adaa441319434f329926d9e24"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "text": "",
      "udi": "umb://element/afe04f3ffd0f496582ddd3757cc193c4"
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "text": {
        "markup": "<p>If JavaScript is disabled, the address component shows text inputs that would accept an international address. If data is provided, the relevant fields are populated with this data. When a user saves an address, the configured API is not queried.</p>\n<h3 class=\"govuk-heading-m\">Shipping address</h3>\n<p>Tell us where you would you would like your order shipped to.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/78255f881a36489a9a62094c2dfdc4ab"
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "text": {
        "markup": "<h3 class=\"govuk-heading-m\">Billing address</h3>\n<p>Tell us where we should bill your order to.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/313f961ec8324e8c80a5fc458fd86191"
    },
    {
      "contentTypeKey": "35584ae7-feb5-4de8-9008-5d2d8cfb34ce",
      "text": "Save",
      "udi": "umb://element/47f43d96a63940e489ea70bd28ac15ca"
    },
    {
      "caption": "Example application",
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "udi": "umb://element/60c26d2c4347485d811bf87a90f6756b"
    },
    {
      "contentTypeKey": "7b79c9f1-4f4d-4c9b-915e-8f364bc86830",
      "title": "",
      "udi": "umb://element/cf24d87437484be08eac638bf5594807"
    },
    {
      "addressLine1Label": "",
      "addressLine2Label": "",
      "addressLookupCheckboxLabel": "Same as shipping address",
      "buildingLabel": "",
      "contentTypeKey": "27d76b71-c725-4adc-b0d3-247a8f0c746d",
      "countryLabel": "",
      "countyLabel": "",
      "fieldsetBlocks": "",
      "hint": "",
      "internationalCountyLabel": "",
      "internationalPostcodeLabel": "",
      "legend": "Billing address",
      "postcodeLabel": "",
      "selectAddressLabel": "",
      "townOrCityLabel": "",
      "udi": "umb://element/0121438362c84a348c1bb0b77397d14a"
    },
    {
      "addressLine1Label": "Shipping address line 1",
      "addressLine2Label": "Shipping address line 2",
      "addressLookupCheckboxLabel": "",
      "buildingLabel": "",
      "contentTypeKey": "27d76b71-c725-4adc-b0d3-247a8f0c746d",
      "countryLabel": "Shipping country",
      "countyLabel": "",
      "fieldsetBlocks": "",
      "hint": "",
      "internationalCountyLabel": "Shipping state",
      "internationalPostcodeLabel": "Shipping postcode (optional)",
      "legend": "Enter your shipping address",
      "postcodeLabel": "",
      "selectAddressLabel": "",
      "townOrCityLabel": "Shipping town or city",
      "udi": "umb://element/98405d49f067415884d6eddca31760b7"
    }
  ],
  "settingsData": [
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/a824ce5f550546819bc2d139bfa5a86e"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/f7a08834a1f04d1fa8cfd069d3310727"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/58624a65d22e42e38979b4089bdd81d8"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "e683e885-8aa0-4bdd-9eff-56966f353540",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "disabled": "0",
      "modelProperty": "",
      "preventDoubleClick": "0",
      "styleOfButton": "",
      "typeOfButton": "",
      "udi": "umb://element/56f8ef6adaa441319434f329926d9e24"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/512d21dce7844860a3b2e7de837ecd43"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "ec4a6e3f-a6a8-4c8a-9d4c-d3e90399ac2c",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/006d12114f28485d9804dfedcbc074cb"
    },
    {
      "addressLine1ErrorMessageMaxLength": "Cannot exceed the maximum length",
      "addressLine1ErrorMessageRequired": "This field is required",
      "addressLine1ModelProperty": "BillingAddress.AddressLine1",
      "addressLine2ErrorMessageMaxLength": "Cannot exceed the maximum length",
      "addressLine2ModelProperty": "BillingAddress.AddressLine2",
      "addressLine3ModelProperty": "BillingAddress.AddressLine3",
      "addressLookupIsPrimary": "0",
      "buildingErrorMessageMaxLength": "",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "f80f2e52-4a45-4dd8-8e73-824015296fd5",
      "countryCodeModelProperty": "BillingAddress.CountryId",
      "countryCustomErrorMessage": "",
      "countryErrorMessageRequired": "This field is required",
      "countyErrorMessageMaxLength": "Cannot exceed the maximum length",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "internationalCountyErrorMessageMaxLength": "",
      "internationalCountyModelProperty": "BillingAddress.PostCounty",
      "internationalPostcodeErrorMessageMaxLength": "",
      "internationalPostcodeErrorMessageRequired": "",
      "internationalPostcodeModelProperty": "BillingAddress.PostCode",
      "postcodeErrorMessageMaxLength": "Cannot exceed the maximum length",
      "postcodeErrorMessagePattern": "",
      "postcodeErrorMessageRequired": "This field is required",
      "selectAddressErrorMessageRequired": "",
      "selectConfirmAddressErrormessage": "",
      "townOrCityErrorMessageMaxLength": "Cannot exceed the maximum length",
      "townOrCityErrorMessageRequired": "This field is required",
      "townOrCityModelProperty": "BillingAddress.PostTown",
      "udi": "umb://element/c3167f2f3166464caf05c0d492687be2",
      "uprnModelProperty": "BillingAddress.UPRNReference"
    },
    {
      "addressLine1ErrorMessageMaxLength": "Cannot exceed the maximum length shipping",
      "addressLine1ErrorMessageRequired": "This field is required custom shipping",
      "addressLine1ModelProperty": "ShippingAddress.AddressLine1",
      "addressLine2ErrorMessageMaxLength": "Cannot exceed the maximum length",
      "addressLine2ModelProperty": "ShippingAddress.AddressLine2",
      "addressLine3ModelProperty": "ShippingAddress.AddressLine3",
      "addressLookupIsPrimary": "1",
      "buildingErrorMessageMaxLength": "",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "f80f2e52-4a45-4dd8-8e73-824015296fd5",
      "countryCodeModelProperty": "ShippingAddress.CountryId",
      "countryCustomErrorMessage": "",
      "countryErrorMessageRequired": "This field is required",
      "countyErrorMessageMaxLength": "Cannot exceed the maximum length",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "internationalCountyErrorMessageMaxLength": "",
      "internationalCountyModelProperty": "ShippingAddress.PostCounty",
      "internationalPostcodeErrorMessageMaxLength": "",
      "internationalPostcodeErrorMessageRequired": "",
      "internationalPostcodeModelProperty": "ShippingAddress.PostCode",
      "postcodeErrorMessageMaxLength": "Cannot exceed the maximum length",
      "postcodeErrorMessagePattern": "",
      "postcodeErrorMessageRequired": "This field is required",
      "selectAddressErrorMessageRequired": "",
      "selectConfirmAddressErrormessage": "",
      "townOrCityErrorMessageMaxLength": "Cannot exceed the maximum length",
      "townOrCityErrorMessageRequired": "This field is required",
      "townOrCityModelProperty": "ShippingAddress.PostTown",
      "udi": "umb://element/074d9b6801274ee1a2bc757bb917e431",
      "uprnModelProperty": "ShippingAddress.UPRNReference"
    }
  ]
}]]></Value>
    </blocks>
    <nextPage>
      <Value><![CDATA[umb://document/7ebf39a4dbdd454b92e46e544af2a411]]></Value>
    </nextPage>
  </Properties>
</Content>