<?xml version="1.0" encoding="utf-8"?>
<Content Key="7b185075-ab79-4070-b55b-32b41d2d00e2" Alias="Address lookup no data provided" Level="3">
  <Info>
    <Parent Key="29941635-112b-4259-a5ab-a7b5fce22261">Address lookup</Parent>
    <Path>/Home/AddressLookup/AddressLookupNoDataProvided</Path>
    <Trashed>false</Trashed>
    <ContentType>addressLookupNoData</ContentType>
    <CreateDate>2026-03-12T16:48:40</CreateDate>
    <NodeName Default="Address lookup no data provided" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ea4e280d-557f-4e4d-bba6-6f3de2db4ca9">AddressLookupNoData</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/50c1c64bd8ad46dea639f2d32099f3af",
        "settingsUdi": "umb://element/9c1d8ae5fd594b2a9ae838f9dd770951"
      },
      {
        "contentUdi": "umb://element/539a541923cf451ca54c2aac0cd91643",
        "settingsUdi": "umb://element/eb27e6d378494ec2a1cbc0351329b544"
      },
      {
        "contentUdi": "umb://element/9d5388b0cf9946cc8fc3a7cadf431d75",
        "settingsUdi": "umb://element/560cfab324c442c4b3d361baa68cabaf"
      },
      {
        "contentUdi": "umb://element/28250cf4010f4d16809ed5491041f082",
        "settingsUdi": "umb://element/60adfc36f1a342e3a4c477cfcd758603"
      },
      {
        "contentUdi": "umb://element/ca4f4b8f99ac43dc9628ac3b6ec79596",
        "settingsUdi": "umb://element/369fd1807e92450c837ca13af61f7daf"
      },
      {
        "contentUdi": "umb://element/0078f8e9da244076840df30273cb8ff6",
        "settingsUdi": "umb://element/c03acdc8c8354228930b2b37aa159548"
      },
      {
        "contentUdi": "umb://element/6985d218bfea47c69c96a796b6601825",
        "settingsUdi": "umb://element/8ff5b8f7ecab4eeb889e9e939a276441"
      },
      {
        "contentUdi": "umb://element/8cc649372dbf40b4a2121d603d24e9fc",
        "settingsUdi": "umb://element/d786cca044bd4044a290b262b961cfca"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "text": "",
      "udi": "umb://element/9d5388b0cf9946cc8fc3a7cadf431d75"
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "text": {
        "markup": "<p>If the viewmodel for a page does not contain data for an address, the address lookup component is rendered in the 'search' view.</p>\n<h3 class=\"govuk-heading-m\">Shipping address</h3>\n<p>Tell us where you would you would like your order shipped to.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/28250cf4010f4d16809ed5491041f082"
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "text": {
        "markup": "<h3 class=\"govuk-heading-m\">Billing address</h3>\n<p>Tell us where we should bill your order to.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/0078f8e9da244076840df30273cb8ff6"
    },
    {
      "addressLine1Label": "",
      "addressLine2Label": "",
      "addressLine3Label": "",
      "addressLookupCheckboxLabel": "Same as shipping address",
      "buildingLabel": "",
      "contentTypeKey": "27d76b71-c725-4adc-b0d3-247a8f0c746d",
      "countryLabel": "",
      "countyLabel": "",
      "fieldsetBlocks": "",
      "hint": "",
      "internationalCountyLabel": "",
      "internationalPostcodeLabel": "",
      "legend": "Billing address",
      "postcodeLabel": "",
      "selectAddressLabel": "",
      "townOrCityLabel": "",
      "udi": "umb://element/6985d218bfea47c69c96a796b6601825"
    },
    {
      "contentTypeKey": "35584ae7-feb5-4de8-9008-5d2d8cfb34ce",
      "text": "Save",
      "udi": "umb://element/8cc649372dbf40b4a2121d603d24e9fc"
    },
    {
      "caption": "Example application",
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "udi": "umb://element/539a541923cf451ca54c2aac0cd91643"
    },
    {
      "contentTypeKey": "7b79c9f1-4f4d-4c9b-915e-8f364bc86830",
      "title": "",
      "udi": "umb://element/50c1c64bd8ad46dea639f2d32099f3af"
    },
    {
      "addressLine1Label": "Shipping address line 1",
      "addressLine2Label": "Shipping address line 2",
      "addressLine3Label": "Shipping address line 3",
      "addressLookupCheckboxLabel": "",
      "buildingLabel": "",
      "contentTypeKey": "27d76b71-c725-4adc-b0d3-247a8f0c746d",
      "countryLabel": "Shipping country",
      "countyLabel": "UK County custom",
      "fieldsetBlocks": "",
      "hint": "",
      "internationalCountyLabel": "Shipping state",
      "internationalPostcodeLabel": "Shipping postcode (optional)",
      "legend": "Enter your shipping address",
      "postcodeLabel": "UK Postcode custom",
      "selectAddressLabel": "",
      "townOrCityLabel": "Shipping town or city",
      "udi": "umb://element/ca4f4b8f99ac43dc9628ac3b6ec79596"
    }
  ],
  "settingsData": [
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/560cfab324c442c4b3d361baa68cabaf"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/60adfc36f1a342e3a4c477cfcd758603"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/c03acdc8c8354228930b2b37aa159548"
    },
    {
      "addressLine1ErrorMessageMaxLength": "Cannot exceed the maximum length",
      "addressLine1ErrorMessageRequired": "This field is required",
      "addressLine1ModelProperty": "BillingAddress.AddressLine1",
      "addressLine2ErrorMessageMaxLength": "Cannot exceed the maximum length",
      "addressLine2ModelProperty": "BillingAddress.AddressLine2",
      "addressLine3ErrorMessageMaxLength": "",
      "addressLine3ModelProperty": "BillingAddress.AddressLine3",
      "addressLookupIsPrimary": "0",
      "buildingErrorMessageMaxLength": "",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "f80f2e52-4a45-4dd8-8e73-824015296fd5",
      "countryCodeModelProperty": "BillingAddress.CountryId",
      "countryCustomErrorMessage": "",
      "countryErrorMessageRequired": "This field is required",
      "countyErrorMessageMaxLength": "Cannot exceed the maximum length",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "internationalCountyErrorMessageMaxLength": "",
      "internationalCountyModelProperty": "BillingAddress.PostCounty",
      "internationalPostcodeErrorMessageMaxLength": "",
      "internationalPostcodeErrorMessageRequired": "",
      "internationalPostcodeModelProperty": "BillingAddress.PostCode",
      "postcodeErrorMessageMaxLength": "Cannot exceed the maximum length",
      "postcodeErrorMessagePattern": "",
      "postcodeErrorMessageRequired": "This field is required",
      "selectAddressErrorMessageRequired": "",
      "selectConfirmAddressErrormessage": "",
      "townOrCityErrorMessageMaxLength": "Cannot exceed the maximum length",
      "townOrCityErrorMessageRequired": "This field is required",
      "townOrCityModelProperty": "BillingAddress.PostTown",
      "udi": "umb://element/8ff5b8f7ecab4eeb889e9e939a276441",
      "uprnModelProperty": "BillingAddress.UPRNReference"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "e683e885-8aa0-4bdd-9eff-56966f353540",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "disabled": "0",
      "modelProperty": "",
      "preventDoubleClick": "0",
      "styleOfButton": "",
      "typeOfButton": "",
      "udi": "umb://element/d786cca044bd4044a290b262b961cfca"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/eb27e6d378494ec2a1cbc0351329b544"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "ec4a6e3f-a6a8-4c8a-9d4c-d3e90399ac2c",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/9c1d8ae5fd594b2a9ae838f9dd770951"
    },
    {
      "addressLine1ErrorMessageMaxLength": "Cannot exceed the maximum length",
      "addressLine1ErrorMessageRequired": "This field is required",
      "addressLine1ModelProperty": "ShippingAddress.AddressLine1",
      "addressLine2ErrorMessageMaxLength": "Cannot exceed the maximum length",
      "addressLine2ModelProperty": "ShippingAddress.AddressLine2",
      "addressLine3ErrorMessageMaxLength": "Cannot exceed the maximum length",
      "addressLine3ModelProperty": "ShippingAddress.AddressLine3",
      "addressLookupIsPrimary": "1",
      "buildingErrorMessageMaxLength": "",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "f80f2e52-4a45-4dd8-8e73-824015296fd5",
      "countryCodeModelProperty": "ShippingAddress.CountryId",
      "countryCustomErrorMessage": "",
      "countryErrorMessageRequired": "",
      "countyErrorMessageMaxLength": "Cannot exceed the maximum length",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "internationalCountyErrorMessageMaxLength": "",
      "internationalCountyModelProperty": "ShippingAddress.PostCounty",
      "internationalPostcodeErrorMessageMaxLength": "",
      "internationalPostcodeErrorMessageRequired": "",
      "internationalPostcodeModelProperty": "ShippingAddress.PostCode",
      "postcodeErrorMessageMaxLength": "Cannot exceed the maximum length ",
      "postcodeErrorMessagePattern": "",
      "postcodeErrorMessageRequired": "This field is required",
      "selectAddressErrorMessageRequired": "",
      "selectConfirmAddressErrormessage": "Select confirm address to save this page",
      "townOrCityErrorMessageMaxLength": "Cannot exceed the maximum length",
      "townOrCityErrorMessageRequired": "This field is required",
      "townOrCityModelProperty": "ShippingAddress.PostTown",
      "udi": "umb://element/369fd1807e92450c837ca13af61f7daf",
      "uprnModelProperty": "ShippingAddress.UPRNReference"
    }
  ]
}]]></Value>
    </blocks>
    <nextPage>
      <Value><![CDATA[umb://document/7ebf39a4dbdd454b92e46e544af2a411]]></Value>
    </nextPage>
  </Properties>
</Content>