<?xml version="1.0" encoding="utf-8"?>
<Content Key="29941635-112b-4259-a5ab-a7b5fce22261" Alias="Address lookup" Level="2">
  <Info>
    <Parent Key="5e682cbe-b867-491a-955f-3382446d5663">Home</Parent>
    <Path>/Home/AddressLookup</Path>
    <Trashed>false</Trashed>
    <ContentType>addressLookup</ContentType>
    <CreateDate>2026-01-16T14:03:19</CreateDate>
    <NodeName Default="Address lookup" />
    <SortOrder>38</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0ec44db1-2de9-4b70-9de4-6f2c3f955df8">AddressLookup</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/331c0b0e039a4a43841711de3b87a921",
        "settingsUdi": "umb://element/41b6a5c44c8145e99866fd3541674f10"
      },
      {
        "contentUdi": "umb://element/9ae2d25f0ce84944ba9834dfd3571626",
        "settingsUdi": "umb://element/a61d919b52f749099f4d474fdc7b3e6a"
      },
      {
        "contentUdi": "umb://element/23c72b393bde4c5899d0b3917dfc70e0",
        "settingsUdi": "umb://element/266b8464a12c421f8b82d0c8825b72cb"
      }
    ]
  },
  "contentData": [
    {
      "caption": "Example application",
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "udi": "umb://element/331c0b0e039a4a43841711de3b87a921"
    },
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "text": "",
      "udi": "umb://element/9ae2d25f0ce84944ba9834dfd3571626"
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "text": {
        "markup": "<p></p>\n<h2 class=\"govuk-heading-m\">Address lookup examples</h2>\n<ul>\n<li><a href=\"/{localLink:umb://document/7b185075ab794070b55b32b41d2d00e2}\">No data provided</a></li>\n<li><a href=\"/{localLink:umb://document/520536163dc24233b9c308406775bc0e}\">Primary address data provided</a></li>\n<li><a href=\"/{localLink:umb://document/773dac293a6c4938b7775ef9c877bbbf}\">Primary and secondary address data provided</a></li>\n<li><a href=\"/{localLink:umb://document/801b1f274c4241d48e418f8e9ff00043}\">JavaScript disabled</a></li>\n</ul>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/23c72b393bde4c5899d0b3917dfc70e0"
    }
  ],
  "settingsData": [
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/41b6a5c44c8145e99866fd3541674f10"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/a61d919b52f749099f4d474fdc7b3e6a"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/266b8464a12c421f8b82d0c8825b72cb"
    }
  ]
}]]></Value>
    </blocks>
    <nextPage>
      <Value><![CDATA[]]></Value>
    </nextPage>
  </Properties>
</Content>