<?xml version="1.0" encoding="utf-8"?>
<Content Key="773dac29-3a6c-4938-b777-5ef9c877bbbf" Alias="Address lookup primary and secondary data provided" Level="3">
  <Info>
    <Parent Key="29941635-112b-4259-a5ab-a7b5fce22261">Address lookup</Parent>
    <Path>/Home/AddressLookup/AddressLookupPrimaryAndSecondaryDataProvided</Path>
    <Trashed>false</Trashed>
    <ContentType>addressLookupPrimaryAndSecondaryDataProvided</ContentType>
    <CreateDate>2026-03-12T17:06:52</CreateDate>
    <NodeName Default="Address lookup primary and secondary data provided" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1baebd3d-52d0-40f6-b346-acb71c6618c6">AddressLookupPrimaryAndSecondaryDataProvided</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/22659836b1384bb6bc03ff33f99b0096",
        "settingsUdi": "umb://element/2e062b4cc6714213a30ae5ab286a4da1"
      },
      {
        "contentUdi": "umb://element/8273bebb45804ffa853a856e8922f33c",
        "settingsUdi": "umb://element/319f30eb7503460587d25f6d83b863be"
      },
      {
        "contentUdi": "umb://element/187a5e65d65c46e1bf4fe5ecf2b0900e",
        "settingsUdi": "umb://element/0fbbc75ff75646c29318281dd6c917ad"
      },
      {
        "contentUdi": "umb://element/ca326c05daab43d39e9c2e2034cc95e0",
        "settingsUdi": "umb://element/8d0a7a114f794b039a60ec96d0431dd1"
      },
      {
        "contentUdi": "umb://element/287638b2a17d4795840d829300e81d80",
        "settingsUdi": "umb://element/f7e51d40d36a4a1599d119333d11dfa5"
      },
      {
        "contentUdi": "umb://element/28a797b13c1949db8c1332035e20d2a1",
        "settingsUdi": "umb://element/e8d1d3dd75874b4ba06370f365bdaf1f"
      },
      {
        "contentUdi": "umb://element/030d527eaf1f4c0e99604e7e40a8b75b",
        "settingsUdi": "umb://element/87136353c0cc47e28cbefbdd51f69a03"
      },
      {
        "contentUdi": "umb://element/2737136d75554071a96ddc8d2b7ca896",
        "settingsUdi": "umb://element/aa65a15db56d42eda4e6e011aee19169"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "text": "",
      "udi": "umb://element/187a5e65d65c46e1bf4fe5ecf2b0900e"
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "text": {
        "markup": "<p>If the viewmodel for a page contains data for both the primary and secondary addresses, both are rendered in the 'confirmed' view. If the addresses are the same, the checkbox for the secondary address is checked.</p>\n<h3 class=\"govuk-heading-m\">Shipping address</h3>\n<p>Tell us where you would you would like your order shipped to.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/ca326c05daab43d39e9c2e2034cc95e0"
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "text": {
        "markup": "<h3 class=\"govuk-heading-m\">Billing address</h3>\n<p>Tell us where we should bill your order to.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/28a797b13c1949db8c1332035e20d2a1"
    },
    {
      "contentTypeKey": "35584ae7-feb5-4de8-9008-5d2d8cfb34ce",
      "text": "Save",
      "udi": "umb://element/2737136d75554071a96ddc8d2b7ca896"
    },
    {
      "caption": "Example application",
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "udi": "umb://element/8273bebb45804ffa853a856e8922f33c"
    },
    {
      "contentTypeKey": "7b79c9f1-4f4d-4c9b-915e-8f364bc86830",
      "title": "",
      "udi": "umb://element/22659836b1384bb6bc03ff33f99b0096"
    },
    {
      "addressLine1Label": "",
      "addressLine2Label": "",
      "addressLookupCheckboxLabel": "Same as shipping address",
      "buildingLabel": "",
      "contentTypeKey": "27d76b71-c725-4adc-b0d3-247a8f0c746d",
      "countryLabel": "",
      "countyLabel": "",
      "fieldsetBlocks": "",
      "hint": "",
      "internationalCountyLabel": "",
      "internationalPostcodeLabel": "",
      "legend": "Billing address",
      "postcodeLabel": "",
      "selectAddressLabel": "",
      "townOrCityLabel": "",
      "udi": "umb://element/030d527eaf1f4c0e99604e7e40a8b75b"
    },
    {
      "addressLine1Label": "",
      "addressLine2Label": "",
      "addressLookupCheckboxLabel": "",
      "buildingLabel": "",
      "contentTypeKey": "27d76b71-c725-4adc-b0d3-247a8f0c746d",
      "countryLabel": "",
      "countyLabel": "",
      "fieldsetBlocks": "",
      "hint": "",
      "internationalCountyLabel": "",
      "internationalPostcodeLabel": "",
      "legend": "Shipping address",
      "postcodeLabel": "",
      "selectAddressLabel": "",
      "townOrCityLabel": "",
      "udi": "umb://element/287638b2a17d4795840d829300e81d80"
    }
  ],
  "settingsData": [
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/0fbbc75ff75646c29318281dd6c917ad"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/8d0a7a114f794b039a60ec96d0431dd1"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/e8d1d3dd75874b4ba06370f365bdaf1f"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "e683e885-8aa0-4bdd-9eff-56966f353540",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "disabled": "0",
      "modelProperty": "",
      "preventDoubleClick": "0",
      "styleOfButton": "",
      "typeOfButton": "",
      "udi": "umb://element/aa65a15db56d42eda4e6e011aee19169"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/319f30eb7503460587d25f6d83b863be"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "ec4a6e3f-a6a8-4c8a-9d4c-d3e90399ac2c",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/2e062b4cc6714213a30ae5ab286a4da1"
    },
    {
      "addressLine1ErrorMessageMaxLength": "Cannot exceed the maximum length",
      "addressLine1ErrorMessageRequired": "This field is required",
      "addressLine1ModelProperty": "BillingAddress.AddressLine1",
      "addressLine2ErrorMessageMaxLength": "Cannot exceed the maximum length",
      "addressLine2ModelProperty": "BillingAddress.AddressLine2",
      "addressLine3ModelProperty": "BillingAddress.AddressLine3",
      "addressLookupIsPrimary": "0",
      "buildingErrorMessageMaxLength": "",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "f80f2e52-4a45-4dd8-8e73-824015296fd5",
      "countryCodeCustomErrorMessage": "",
      "countryCodeErrorMessageRequired": "This field is required",
      "countryCodeModelProperty": "BillingAddress.CountryId",
      "countyErrorMessageMaxLength": "Cannot exceed the maximum length",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "internationalCountyErrorMessageMaxLength": "",
      "internationalCountyModelProperty": "BillingAddress.PostCounty",
      "internationalPostcodeErrorMessageMaxLength": "",
      "internationalPostcodeErrorMessageRequired": "This field is required",
      "internationalPostcodeModelProperty": "BillingAddress.PostCode",
      "postcodeErrorMessageMaxLength": "Cannot exceed the maximum length",
      "postcodeErrorMessagePattern": "",
      "postcodeErrorMessageRequired": "This field is required",
      "selectAddressErrorMessageRequired": "",
      "selectConfirmAddressErrormessage": "",
      "townOrCityErrorMessageMaxLength": "Cannot exceed the maximum length",
      "townOrCityErrorMessageRequired": "This field is required",
      "townOrCityModelProperty": "BillingAddress.PostTown",
      "udi": "umb://element/87136353c0cc47e28cbefbdd51f69a03",
      "uprnModelProperty": "BillingAddress.UPRNReference"
    },
    {
      "addressLine1ErrorMessageMaxLength": "Cannot exceed the maximum length",
      "addressLine1ErrorMessageRequired": "This field is required",
      "addressLine1ModelProperty": "ShippingAddress.AddressLine1",
      "addressLine2ErrorMessageMaxLength": "Cannot exceed the maximum length",
      "addressLine2ModelProperty": "ShippingAddress.AddressLine2",
      "addressLine3ModelProperty": "ShippingAddress.AddressLine3",
      "addressLookupIsPrimary": "1",
      "buildingErrorMessageMaxLength": "",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "f80f2e52-4a45-4dd8-8e73-824015296fd5",
      "countryCodeCustomErrorMessage": "",
      "countryCodeErrorMessageRequired": "This field is required",
      "countryCodeModelProperty": "ShippingAddress.CountryId",
      "countyErrorMessageMaxLength": "Cannot exceed the maximum length",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "internationalCountyErrorMessageMaxLength": "",
      "internationalCountyModelProperty": "ShippingAddress.PostCounty",
      "internationalPostcodeErrorMessageMaxLength": "",
      "internationalPostcodeErrorMessageRequired": "This field is required",
      "internationalPostcodeModelProperty": "ShippingAddress.PostCode",
      "postcodeErrorMessageMaxLength": "Cannot exceed the maximum length",
      "postcodeErrorMessagePattern": "",
      "postcodeErrorMessageRequired": "This field is required",
      "selectAddressErrorMessageRequired": "",
      "selectConfirmAddressErrormessage": "",
      "townOrCityErrorMessageMaxLength": "Cannot exceed the maximum length",
      "townOrCityErrorMessageRequired": "This field is required",
      "townOrCityModelProperty": "ShippingAddress.PostTown",
      "udi": "umb://element/f7e51d40d36a4a1599d119333d11dfa5",
      "uprnModelProperty": "ShippingAddress.UPRNReference"
    }
  ]
}]]></Value>
    </blocks>
    <nextPage>
      <Value><![CDATA[umb://document/7ebf39a4dbdd454b92e46e544af2a411]]></Value>
    </nextPage>
  </Properties>
</Content>