<?xml version="1.0" encoding="utf-8"?>
<Content Key="8ec42b5d-d12f-4f47-addc-25aaaeb860dc" Alias="Date input" Level="2">
  <Info>
    <Parent Key="5e682cbe-b867-491a-955f-3382446d5663">Home</Parent>
    <Path>/Home/DateInput</Path>
    <Trashed>false</Trashed>
    <ContentType>dateInput</ContentType>
    <CreateDate>2022-05-24T17:41:28</CreateDate>
    <NodeName Default="Date input" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6685533b-e6bf-4109-9597-5112ede88019">DateInput</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f7858c6eea17470b96aa5392a7935d6a"
      },
      {
        "contentUdi": "umb://element/95292d2e67554e919afb3de9a38a7033",
        "settingsUdi": "umb://element/a7a5e274492f4c8898096d7200f80370"
      },
      {
        "contentUdi": "umb://element/4ef8d377601d40169b729b5f1c3d1bd5",
        "settingsUdi": "umb://element/b769d3c82e0c42f7975e895c1caeb309"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "a3a58c3e-673f-4521-b9e7-4b6a667f06b4",
      "udi": "umb://element/95292d2e67554e919afb3de9a38a7033",
      "legend": "{{name}}",
      "hint": "<p>This is the hint for field 1. The previous heading is also the legend.</p>"
    },
    {
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "udi": "umb://element/f7858c6eea17470b96aa5392a7935d6a",
      "caption": "GOV.UK Design System"
    },
    {
      "contentTypeKey": "a3a58c3e-673f-4521-b9e7-4b6a667f06b4",
      "udi": "umb://element/4ef8d377601d40169b729b5f1c3d1bd5",
      "legend": "This is the legend for field 2. The hint is optional.",
      "hint": ""
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "308973a3-4525-445f-9bcd-bdf3d649abb6",
      "udi": "umb://element/a7a5e274492f4c8898096d7200f80370",
      "legendIsPageHeading": 1,
      "modelProperty": "Field1",
      "errorMessageRequired": "This date is required"
    },
    {
      "contentTypeKey": "308973a3-4525-445f-9bcd-bdf3d649abb6",
      "udi": "umb://element/b769d3c82e0c42f7975e895c1caeb309",
      "legendIsPageHeading": 0,
      "modelProperty": "Field2",
      "errorMessageRequired": "This date is required"
    }
  ]
}]]></Value>
    </blocks>
    <buttonText>
      <Value><![CDATA[Submit]]></Value>
    </buttonText>
    <nextPage>
      <Value><![CDATA[umb://document/7ebf39a4dbdd454b92e46e544af2a411]]></Value>
    </nextPage>
  </Properties>
</Content>