<?xml version="1.0" encoding="utf-8"?>
<Content Key="8ec42b5d-d12f-4f47-addc-25aaaeb860dc" Alias="Date input" Level="2">
  <Info>
    <Parent Key="5e682cbe-b867-491a-955f-3382446d5663">Home</Parent>
    <Path>/Home/DateInput</Path>
    <Trashed>false</Trashed>
    <ContentType>dateInput</ContentType>
    <CreateDate>2022-05-24T17:41:28</CreateDate>
    <NodeName Default="Date input" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6685533b-e6bf-4109-9597-5112ede88019">DateInput</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/71eb78cf02b74557881f868ddceeab05",
        "settingsUdi": "umb://element/451edfded1c14987bceb19e65b560015"
      },
      {
        "contentUdi": "umb://element/f7858c6eea17470b96aa5392a7935d6a",
        "settingsUdi": "umb://element/4546d68bee21490396a41578090b5f77"
      },
      {
        "contentUdi": "umb://element/95292d2e67554e919afb3de9a38a7033",
        "settingsUdi": "umb://element/a7a5e274492f4c8898096d7200f80370"
      },
      {
        "contentUdi": "umb://element/4ef8d377601d40169b729b5f1c3d1bd5",
        "settingsUdi": "umb://element/b769d3c82e0c42f7975e895c1caeb309"
      },
      {
        "contentUdi": "umb://element/71510aa15acf49dbb202ee9c68758d9d",
        "settingsUdi": "umb://element/dcc8183ff9804a28b1219a2289868ff7"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "a3a58c3e-673f-4521-b9e7-4b6a667f06b4",
      "udi": "umb://element/95292d2e67554e919afb3de9a38a7033",
      "legend": "{{name}}",
      "hint": "<p>This is the hint for field 1. The previous heading is also the legend.</p>",
      "fieldsetBlocks": "{\r\n  \"layout\": {\r\n    \"Umbraco.BlockList\": [\r\n      {\r\n        \"contentUdi\": \"umb://element/79b6bf6f6f86444f894bffff9a8aa26f\",\r\n        \"settingsUdi\": \"umb://element/db9e58d42fcd494e93843192a261d516\"\r\n      }\r\n    ]\r\n  },\r\n  \"contentData\": [\r\n    {\r\n      \"contentTypeKey\": \"40bb2a3e-3d75-4ec1-9134-e0c46c6f04a0\",\r\n      \"udi\": \"umb://element/79b6bf6f6f86444f894bffff9a8aa26f\",\r\n      \"text\": \"<p>You can add additional help within date input fieldsets.</p>\"\r\n    }\r\n  ],\r\n  \"settingsData\": [\r\n    {\r\n      \"contentTypeKey\": \"562c13ba-8543-4932-b448-8dd0d71e67b2\",\r\n      \"udi\": \"umb://element/db9e58d42fcd494e93843192a261d516\"\r\n    }\r\n  ]\r\n}"
    },
    {
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "udi": "umb://element/f7858c6eea17470b96aa5392a7935d6a",
      "caption": "GOV.UK Design System"
    },
    {
      "contentTypeKey": "a3a58c3e-673f-4521-b9e7-4b6a667f06b4",
      "udi": "umb://element/4ef8d377601d40169b729b5f1c3d1bd5",
      "legend": "This is the legend for field 2. The hint is optional.",
      "hint": ""
    },
    {
      "contentTypeKey": "35584ae7-feb5-4de8-9008-5d2d8cfb34ce",
      "udi": "umb://element/71510aa15acf49dbb202ee9c68758d9d",
      "text": "Submit"
    },
    {
      "contentTypeKey": "7b79c9f1-4f4d-4c9b-915e-8f364bc86830",
      "udi": "umb://element/71eb78cf02b74557881f868ddceeab05"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "308973a3-4525-445f-9bcd-bdf3d649abb6",
      "udi": "umb://element/a7a5e274492f4c8898096d7200f80370",
      "legendIsPageHeading": 1,
      "modelProperty": "Field1",
      "errorMessageRequired": "This date is required",
      "columnSize": "[\"full\"]",
      "columnSizeFromDesktop": null,
      "cssClassesForRow": "govuk-grid-row--tpr-divider-for-fieldset",
      "cssClasses": null
    },
    {
      "contentTypeKey": "308973a3-4525-445f-9bcd-bdf3d649abb6",
      "udi": "umb://element/b769d3c82e0c42f7975e895c1caeb309",
      "legendIsPageHeading": 0,
      "modelProperty": "Field2",
      "errorMessageRequired": "This date is required",
      "cssClassesForRow": "govuk-grid-row--tpr-divider",
      "columnSize": null,
      "columnSizeFromDesktop": null
    },
    {
      "contentTypeKey": "e683e885-8aa0-4bdd-9eff-56966f353540",
      "udi": "umb://element/dcc8183ff9804a28b1219a2289868ff7"
    },
    {
      "contentTypeKey": "ec4a6e3f-a6a8-4c8a-9d4c-d3e90399ac2c",
      "udi": "umb://element/451edfded1c14987bceb19e65b560015"
    },
    {
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "udi": "umb://element/4546d68bee21490396a41578090b5f77"
    }
  ]
}]]></Value>
    </blocks>
    <nextPage>
      <Value><![CDATA[umb://document/7ebf39a4dbdd454b92e46e544af2a411]]></Value>
    </nextPage>
  </Properties>
</Content>