<?xml version="1.0" encoding="utf-8"?>
<Content Key="23619673-13cf-41e2-936e-3c9d0796068a" Alias="Details" Level="2">
  <Info>
    <Parent Key="5e682cbe-b867-491a-955f-3382446d5663">Home</Parent>
    <Path>/Home/Details</Path>
    <Trashed>false</Trashed>
    <ContentType>details</ContentType>
    <CreateDate>2022-05-31T10:38:22</CreateDate>
    <NodeName Default="Details" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c757369c-20c3-42db-838e-9092618de8db">Details</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/de9065cf0deb4071887a4b1f3a49dde9",
        "settingsUdi": "umb://element/20511872f32541abb6c35a135f4f9545"
      },
      {
        "contentUdi": "umb://element/ce2560c2cad94bc1863e34066ba03ee0",
        "settingsUdi": "umb://element/4b526b86262a4fbd9b906c8fdee23b27"
      },
      {
        "contentUdi": "umb://element/a24f9bef7484435c9164f714c99b62b7",
        "settingsUdi": "umb://element/748ddd45dad74409900649ab2472b82f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "9d15adb9-fb63-4b20-ada3-fc9239a72a8c",
      "udi": "umb://element/a24f9bef7484435c9164f714c99b62b7",
      "text": "<p>Use the <a href=\"https://design-system.service.gov.uk/components/details/\">details component</a> to make a page easier to scan when it contains information that only some users will need.</p>",
      "summary": "When to use the details component"
    },
    {
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "udi": "umb://element/de9065cf0deb4071887a4b1f3a49dde9",
      "caption": "Example application in Umbraco"
    },
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "udi": "umb://element/ce2560c2cad94bc1863e34066ba03ee0"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "udi": "umb://element/20511872f32541abb6c35a135f4f9545"
    },
    {
      "contentTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "udi": "umb://element/4b526b86262a4fbd9b906c8fdee23b27",
      "cssClassesForRow": "govuk-grid-row--tpr-divider",
      "columnSize": null,
      "columnSizeFromDesktop": null
    },
    {
      "contentTypeKey": "a6689021-cc6e-4d94-8c37-235906ebeff1",
      "udi": "umb://element/748ddd45dad74409900649ab2472b82f",
      "cssClassesForRow": null,
      "columnSize": null,
      "columnSizeFromDesktop": null,
      "cssClasses": null
    }
  ]
}]]></Value>
    </blocks>
  </Properties>
</Content>