<?xml version="1.0" encoding="utf-8"?>
<Content Key="23619673-13cf-41e2-936e-3c9d0796068a" Alias="Details" Level="2">
  <Info>
    <Parent Key="5e682cbe-b867-491a-955f-3382446d5663">Home</Parent>
    <Path>/Home/Details</Path>
    <Trashed>false</Trashed>
    <ContentType>details</ContentType>
    <CreateDate>2022-05-31T10:38:22</CreateDate>
    <NodeName Default="Details" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c757369c-20c3-42db-838e-9092618de8db">Details</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/de9065cf0deb4071887a4b1f3a49dde9",
        "settingsUdi": "umb://element/20511872f32541abb6c35a135f4f9545"
      },
      {
        "contentUdi": "umb://element/ce2560c2cad94bc1863e34066ba03ee0",
        "settingsUdi": "umb://element/4b526b86262a4fbd9b906c8fdee23b27"
      },
      {
        "contentUdi": "umb://element/a24f9bef7484435c9164f714c99b62b7",
        "settingsUdi": "umb://element/748ddd45dad74409900649ab2472b82f"
      },
      {
        "contentUdi": "umb://element/62898fa9189546a4b1e79f075d06a7a7",
        "settingsUdi": "umb://element/eb7b7d0a1d264566b1511446d0596b13"
      },
      {
        "contentUdi": "umb://element/de0b39d1f30d4d83ad1c8007a4e63b51",
        "settingsUdi": "umb://element/e86b647011654730ba1a3c1c22664311"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "9d15adb9-fb63-4b20-ada3-fc9239a72a8c",
      "summary": "When to use the details component",
      "text": {
        "markup": "<p>Use the <a href=\"https://design-system.service.gov.uk/components/details/\">details component</a> to make a page easier to scan when it contains information that only some users will need.&nbsp;</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/a24f9bef7484435c9164f714c99b62b7"
    },
    {
      "caption": "Example application in Umbraco",
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "udi": "umb://element/de9065cf0deb4071887a4b1f3a49dde9"
    },
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "text": "",
      "udi": "umb://element/ce2560c2cad94bc1863e34066ba03ee0"
    },
    {
      "contentTypeKey": "9d15adb9-fb63-4b20-ada3-fc9239a72a8c",
      "summary": "Custom classes are supported when there's only one paragraph",
      "text": {
        "markup": "<p class=\"custom-class\">When there is a single paragraph with no class applied, the surrounding <strong>p </strong>element should be removed. This details component is a single paragraph but a custom class is applied, so the&nbsp;<strong>p</strong> element should be kept.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/62898fa9189546a4b1e79f075d06a7a7"
    },
    {
      "contentTypeKey": "9d15adb9-fb63-4b20-ada3-fc9239a72a8c",
      "summary": "Complex rich text is supported",
      "text": {
        "markup": "<p>Details components can contain many paragraphs of detailed information.</p>\n<p class=\"custom-class\">Custom classes can be applied when there are multiple paragraphs.</p>\n<p style=\"text-align: center;\">Text can be centred.</p>\n<p style=\"text-align: right;\">Text can be right aligned.</p>\n<ul>\n<li style=\"text-align: left;\">Unordered lists are allowed</li>\n<li style=\"text-align: left;\">Unordered lists are allowed</li>\n</ul>\n<ol>\n<li style=\"text-align: left;\">Ordered lists are allowed</li>\n<li style=\"text-align: left;\">Ordered lists are allowed</li>\n</ol>\n<h2 class=\"govuk-heading-m\" style=\"text-align: left;\">Tables and subheadings are allowed</h2>\n<table>\n<thead>\n<tr>\n<th>Header 1</th>\n<th>Header 2</th>\n</tr>\n</thead>\n<tbody>\n<tr>\n<td>Data 1</td>\n<td>Data 2</td>\n</tr>\n</tbody>\n</table>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/de0b39d1f30d4d83ad1c8007a4e63b51"
    }
  ],
  "settingsData": [
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/20511872f32541abb6c35a135f4f9545"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/4b526b86262a4fbd9b906c8fdee23b27"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "a6689021-cc6e-4d94-8c37-235906ebeff1",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/748ddd45dad74409900649ab2472b82f"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "a6689021-cc6e-4d94-8c37-235906ebeff1",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/eb7b7d0a1d264566b1511446d0596b13"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "a6689021-cc6e-4d94-8c37-235906ebeff1",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/e86b647011654730ba1a3c1c22664311"
    }
  ]
}]]></Value>
    </blocks>
    <headingScaleStart>
      <Value><![CDATA[]]></Value>
    </headingScaleStart>
  </Properties>
</Content>