<?xml version="1.0" encoding="utf-8"?>
<Content Key="afe8a7fd-d8a8-453e-8313-f6a88449173f" Alias="Documents" Level="2">
  <Info>
    <Parent Key="5e682cbe-b867-491a-955f-3382446d5663">Home</Parent>
    <Path>/Home/Documents</Path>
    <Trashed>false</Trashed>
    <ContentType>Documents</ContentType>
    <CreateDate>2025-04-08T15:34:58</CreateDate>
    <NodeName Default="Documents" />
    <SortOrder>29</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8f8c69b7-aed7-4959-a729-ce7bea76ebd0">TPRDocuments</Template>
  </Info>
  <Properties>
    <grid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/77e23b7fa72e48f8baf70d7a093533e0",
        "settingsUdi": "umb://element/d43f69d35fe04322ab8872a7c784672e",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/238ce93e1acb4c8198d9c455c2d7a118",
        "settingsUdi": "umb://element/1f9d7f608fb14180b2509d7ac72b7044",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/c5b070c1442f4e5aa14e3df39d298705",
        "settingsUdi": "umb://element/980d5cae523346fc83aeb6d4a703a573",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/67f6d282fcf34e3286f52465b06e57d8",
        "settingsUdi": "umb://element/b79d46b4754f4f4faf69b86dad8519c9",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "text": "",
      "udi": "umb://element/238ce93e1acb4c8198d9c455c2d7a118"
    },
    {
      "caption": "Example application in Umbraco",
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "udi": "umb://element/77e23b7fa72e48f8baf70d7a093533e0"
    },
    {
      "contentTypeKey": "f08c68b1-f171-4941-83b2-1ededfa019ab",
      "documents": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/1a1fb8f7b68548babdb15a10672e9d87",
              "settingsUdi": "umb://element/da1d77aa3ba04d0d8076e2131895da4d"
            },
            {
              "contentUdi": "umb://element/2aea86c0c862448199c86f1b6e56295b",
              "settingsUdi": "umb://element/f5edd417538f462788fa2c3002c685b5"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "ddf26d5b-0ebd-4ec4-b89f-3b422ca7c230",
            "datePublished": "April 2025",
            "description": "This is a test PDF, uploaded for example purposes.",
            "document": [
              {
                "name": "Test PDF",
                "udi": "umb://media/709a03ab46354320a1daebe21cd650b6"
              }
            ],
            "fileSize": "16",
            "numberOfPages": "11",
            "udi": "umb://element/1a1fb8f7b68548babdb15a10672e9d87"
          },
          {
            "contentTypeKey": "ddf26d5b-0ebd-4ec4-b89f-3b422ca7c230",
            "datePublished": "January 2025",
            "description": "This takes you back to the homepage for example purposes. In practice, this would link to a document / article that has been uploaded to the site.",
            "document": [
              {
                "name": "Home page",
                "udi": "umb://document/5e682cbeb867491a955f3382446d5663"
              }
            ],
            "fileSize": "",
            "numberOfPages": "",
            "udi": "umb://element/2aea86c0c862448199c86f1b6e56295b"
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "9d91ea8e-b41e-4ff7-860f-187322f359c0",
            "cssClasses": "",
            "udi": "umb://element/da1d77aa3ba04d0d8076e2131895da4d"
          },
          {
            "contentTypeKey": "9d91ea8e-b41e-4ff7-860f-187322f359c0",
            "cssClasses": "",
            "udi": "umb://element/f5edd417538f462788fa2c3002c685b5"
          }
        ]
      },
      "udi": "umb://element/67f6d282fcf34e3286f52465b06e57d8"
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "text": {
        "markup": "<p>This is an example of a list of documents. Each document in the list is made up of a link to the respective document, the date the document was published, and a description of the document. If the document is a piece of media, such as a '.pdf' or '.docx', then the size of the file in KB (Kilobytes) and how many pages the document consists of will be included.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/c5b070c1442f4e5aa14e3df39d298705"
    }
  ],
  "settingsData": [
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/1f9d7f608fb14180b2509d7ac72b7044"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/d43f69d35fe04322ab8872a7c784672e"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "d66ffc80-0d15-4056-8acc-cdc8a7e6ce1b",
      "cssClasses": "govuk-body",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/b79d46b4754f4f4faf69b86dad8519c9"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/980d5cae523346fc83aeb6d4a703a573"
    }
  ]
}]]></Value>
    </grid>
  </Properties>
</Content>