<?xml version="1.0" encoding="utf-8"?>
<Content Key="d78b55c9-ae14-414e-805d-5cf4706aab4b" Alias="Featured image" Level="2">
  <Info>
    <Parent Key="5e682cbe-b867-491a-955f-3382446d5663">Home</Parent>
    <Path>/Home/FeaturedImage</Path>
    <Trashed>false</Trashed>
    <ContentType>featuredImage</ContentType>
    <CreateDate>2025-10-14T11:50:26</CreateDate>
    <NodeName Default="Featured image" />
    <SortOrder>36</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="155b9811-144a-4a85-a423-9a251f2e73a8">FeaturedImage</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/b24ab60a143c4feab2c619c25e7dbe6a",
        "settingsUdi": "umb://element/f26c4b9bbc5244ac8bc4df0c436929c2",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/cbe95aa028264751b1b58e7c6ec282aa",
        "settingsUdi": "umb://element/e2e1b2c9a4eb4f3b9575f24dafb69aef",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/05a377c3cc7b48de8fbd8c46a716c056",
        "settingsUdi": "umb://element/1eec667f10bf48d59584ce36917c4bca",
        "areas": [
          {
            "key": "28c31b42-3acd-48e4-8c93-36b728c11d7e",
            "items": [
              {
                "contentUdi": "umb://element/f468ab559b8d48bc8e966c0699f0348b",
                "settingsUdi": "umb://element/0a7f218e8a9445aab247b9559eda4270",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "1298bf64-9028-4b12-8ba5-9b8d63eee13e",
            "items": [
              {
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1,
                "contentUdi": "umb://element/965de5379b4543658782a35f6888a864",
                "settingsUdi": "umb://element/5329b63e327c44b3b5acb85e11f151c8"
              }
            ]
          },
          {
            "key": "196920a9-262b-422f-939f-ca579f6a2ab5",
            "items": [
              {
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1,
                "contentUdi": "umb://element/d7244c5c00964c3f8c8156412e7a4154",
                "settingsUdi": "umb://element/7297d7e1f6f644f683b65f3fffd6f78e"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/f12db06a5fda4bb29a4443af1fca92aa",
        "settingsUdi": "umb://element/e635bd7132df455cae41325a6fbbc0c2",
        "areas": [
          {
            "key": "f9f886b0-6d10-4069-9794-59374034c82e",
            "items": [
              {
                "areas": [],
                "columnSpan": 8,
                "rowSpan": 1,
                "contentUdi": "umb://element/1fd94fe44a33441f876b9d1c477ee2db",
                "settingsUdi": "umb://element/05e3d8f8b7df4420916697605e454a8b"
              }
            ]
          },
          {
            "key": "4793beea-bd0a-4e5e-b20e-069b90ab4df2",
            "items": [
              {
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1,
                "contentUdi": "umb://element/dcfb046c29d941b4b25acdabe35e7c1d",
                "settingsUdi": "umb://element/e8f01c64f9ec4c439d78b4084a553783"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/8ecf8b8278f04b50a3d0b06a8bffa842",
        "settingsUdi": "umb://element/102795457d6f4abeb410059b508e14e1",
        "areas": [
          {
            "key": "466b98ba-8154-445d-b2b0-dc51ce5d2c9d",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/ab8101470ccd4ca38323a55628bc4742",
                "settingsUdi": "umb://element/9105b18de63a4d7eb869662195a11741"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "text": "Featured image",
      "udi": "umb://element/b24ab60a143c4feab2c619c25e7dbe6a"
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "text": {
        "markup": "<p>Here is some test text.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/cbe95aa028264751b1b58e7c6ec282aa"
    },
    {
      "blocks": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/90f4f243f8084094b40e9920fb949b66",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            },
            {
              "contentUdi": "umb://element/fc3688998a2842bdbb703c95a91368c8",
              "settingsUdi": "umb://element/acd9a795b293430d86dec3d5ba0f0827",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
            "text": {
              "markup": "<h2 class=\"govuk-heading-m\">Here is a title</h2>\n<p>Here is some description</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "udi": "umb://element/90f4f243f8084094b40e9920fb949b66"
          },
          {
            "contentTypeKey": "94737fb0-c49c-44db-8a59-6a65f14a0c47",
            "link": [
              {
                "udi": "umb://document/22a4a3efd9d74129b573ea9a707040b3"
              }
            ],
            "text": "Some link button",
            "udi": "umb://element/fc3688998a2842bdbb703c95a91368c8"
          }
        ],
        "settingsData": [
          {
            "columnSize": "",
            "columnSizeFromDesktop": "",
            "contentTypeKey": "2a5587ef-96fa-41dd-a2be-c5f97e00dfef",
            "cssClasses": "",
            "cssClassesForColumn": "",
            "cssClassesForRow": "",
            "isStartButton": "0",
            "styleOfButton": "",
            "udi": "umb://element/acd9a795b293430d86dec3d5ba0f0827"
          }
        ]
      },
      "contentTypeKey": "e8fe4f35-b4b0-404c-adf2-0f8137d94b7a",
      "image": [
        {
          "key": "1a782a29-674a-4f85-ac76-063e2f0acf4c",
          "mediaKey": "f0050b35-e0ef-40af-ac67-9b704a82aa69"
        }
      ],
      "udi": "umb://element/f468ab559b8d48bc8e966c0699f0348b"
    },
    {
      "contentTypeKey": "f7721eea-7712-4d9c-91e4-9c04f0ad3036",
      "udi": "umb://element/05a377c3cc7b48de8fbd8c46a716c056"
    },
    {
      "blocks": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/bddbefcec7a44a999e6b890c3ba26d4d",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            },
            {
              "contentUdi": "umb://element/349f7996497e49d2bd2bcbc15f1d7b74",
              "settingsUdi": "umb://element/370751053f6a4e589af6eb63b085a0a4",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
            "text": {
              "markup": "<h2 class=\"govuk-heading-m\">Here is a title</h2>\n<p>Here is some description</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "udi": "umb://element/bddbefcec7a44a999e6b890c3ba26d4d"
          },
          {
            "contentTypeKey": "94737fb0-c49c-44db-8a59-6a65f14a0c47",
            "link": [
              {
                "udi": "umb://document/22a4a3efd9d74129b573ea9a707040b3"
              }
            ],
            "text": "Some link button",
            "udi": "umb://element/349f7996497e49d2bd2bcbc15f1d7b74"
          }
        ],
        "settingsData": [
          {
            "columnSize": "",
            "columnSizeFromDesktop": "",
            "contentTypeKey": "2a5587ef-96fa-41dd-a2be-c5f97e00dfef",
            "cssClasses": "",
            "cssClassesForColumn": "",
            "cssClassesForRow": "",
            "isStartButton": "0",
            "styleOfButton": "",
            "udi": "umb://element/370751053f6a4e589af6eb63b085a0a4"
          }
        ]
      },
      "contentTypeKey": "e8fe4f35-b4b0-404c-adf2-0f8137d94b7a",
      "image": [
        {
          "key": "1a782a29-674a-4f85-ac76-063e2f0acf4c",
          "mediaKey": "f0050b35-e0ef-40af-ac67-9b704a82aa69"
        }
      ],
      "udi": "umb://element/965de5379b4543658782a35f6888a864"
    },
    {
      "blocks": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/1bba28e3794c48468255fb8cac7ce56d",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            },
            {
              "contentUdi": "umb://element/604374607c4a44439777593ed48eef21",
              "settingsUdi": "umb://element/a7a2e85209564330965b80b59fd18895",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
            "text": {
              "markup": "<h2 class=\"govuk-heading-m\">Here is a title</h2>\n<p>Here is some description</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "udi": "umb://element/1bba28e3794c48468255fb8cac7ce56d"
          },
          {
            "contentTypeKey": "94737fb0-c49c-44db-8a59-6a65f14a0c47",
            "link": [
              {
                "udi": "umb://document/22a4a3efd9d74129b573ea9a707040b3"
              }
            ],
            "text": "Some link button",
            "udi": "umb://element/604374607c4a44439777593ed48eef21"
          }
        ],
        "settingsData": [
          {
            "columnSize": "",
            "columnSizeFromDesktop": "",
            "contentTypeKey": "2a5587ef-96fa-41dd-a2be-c5f97e00dfef",
            "cssClasses": "",
            "cssClassesForColumn": "",
            "cssClassesForRow": "",
            "isStartButton": "0",
            "styleOfButton": "",
            "udi": "umb://element/a7a2e85209564330965b80b59fd18895"
          }
        ]
      },
      "contentTypeKey": "e8fe4f35-b4b0-404c-adf2-0f8137d94b7a",
      "image": [
        {
          "key": "1a782a29-674a-4f85-ac76-063e2f0acf4c",
          "mediaKey": "f0050b35-e0ef-40af-ac67-9b704a82aa69"
        }
      ],
      "udi": "umb://element/d7244c5c00964c3f8c8156412e7a4154"
    },
    {
      "contentTypeKey": "650d7119-e9cf-4c26-a08c-21cf2ffbbbbc",
      "udi": "umb://element/f12db06a5fda4bb29a4443af1fca92aa"
    },
    {
      "blocks": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/bacfa1e194d84aefa48042f8dc3a524b",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            },
            {
              "contentUdi": "umb://element/ef14068262d84d959633d49af4c8d4e8",
              "settingsUdi": "umb://element/fc3f196bcbf14c46b9395009507d0bbd",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
            "text": {
              "markup": "<h2 class=\"govuk-heading-l\">Here is a title</h2>\n<p>Here is some description</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "udi": "umb://element/bacfa1e194d84aefa48042f8dc3a524b"
          },
          {
            "contentTypeKey": "94737fb0-c49c-44db-8a59-6a65f14a0c47",
            "link": [
              {
                "udi": "umb://document/22a4a3efd9d74129b573ea9a707040b3"
              }
            ],
            "text": "Some link button",
            "udi": "umb://element/ef14068262d84d959633d49af4c8d4e8"
          }
        ],
        "settingsData": [
          {
            "columnSize": "",
            "columnSizeFromDesktop": "",
            "contentTypeKey": "2a5587ef-96fa-41dd-a2be-c5f97e00dfef",
            "cssClasses": "",
            "cssClassesForColumn": "",
            "cssClassesForRow": "",
            "isStartButton": "0",
            "styleOfButton": "",
            "udi": "umb://element/fc3f196bcbf14c46b9395009507d0bbd"
          }
        ]
      },
      "contentTypeKey": "e8fe4f35-b4b0-404c-adf2-0f8137d94b7a",
      "image": [
        {
          "key": "1a782a29-674a-4f85-ac76-063e2f0acf4c",
          "mediaKey": "f0050b35-e0ef-40af-ac67-9b704a82aa69"
        }
      ],
      "udi": "umb://element/1fd94fe44a33441f876b9d1c477ee2db"
    },
    {
      "blocks": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/582afa7355f14861b2bfe3441fec7ef0",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
            "text": {
              "markup": "<h2 class=\"govuk-heading-s\">Here is a title</h2>\n<p>Here is some description</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "udi": "umb://element/582afa7355f14861b2bfe3441fec7ef0"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "e8fe4f35-b4b0-404c-adf2-0f8137d94b7a",
      "image": [
        {
          "key": "1a782a29-674a-4f85-ac76-063e2f0acf4c",
          "mediaKey": "f0050b35-e0ef-40af-ac67-9b704a82aa69"
        }
      ],
      "udi": "umb://element/dcfb046c29d941b4b25acdabe35e7c1d"
    },
    {
      "contentTypeKey": "017e3eca-72c2-4b5e-b5fb-428379a53b2e",
      "udi": "umb://element/8ecf8b8278f04b50a3d0b06a8bffa842"
    },
    {
      "blocks": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/b86d9fa9e3b2448295ee58e6df6ed121",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            },
            {
              "contentUdi": "umb://element/a0de54caa5eb483ea447a48d831431b7",
              "settingsUdi": "umb://element/a9a58f6e92594c0588fd3a0f2eca632d",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
            "text": {
              "markup": "<h2 class=\"govuk-heading-l\">Here is a title</h2>\n<p>Here is some description</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "udi": "umb://element/b86d9fa9e3b2448295ee58e6df6ed121"
          },
          {
            "contentTypeKey": "94737fb0-c49c-44db-8a59-6a65f14a0c47",
            "link": [
              {
                "udi": "umb://document/22a4a3efd9d74129b573ea9a707040b3"
              }
            ],
            "text": "Some link button",
            "udi": "umb://element/a0de54caa5eb483ea447a48d831431b7"
          }
        ],
        "settingsData": [
          {
            "columnSize": "",
            "columnSizeFromDesktop": "",
            "contentTypeKey": "2a5587ef-96fa-41dd-a2be-c5f97e00dfef",
            "cssClasses": "",
            "cssClassesForColumn": "",
            "cssClassesForRow": "",
            "isStartButton": "0",
            "styleOfButton": "",
            "udi": "umb://element/a9a58f6e92594c0588fd3a0f2eca632d"
          }
        ]
      },
      "contentTypeKey": "e8fe4f35-b4b0-404c-adf2-0f8137d94b7a",
      "image": [
        {
          "key": "1a782a29-674a-4f85-ac76-063e2f0acf4c",
          "mediaKey": "f0050b35-e0ef-40af-ac67-9b704a82aa69"
        }
      ],
      "udi": "umb://element/ab8101470ccd4ca38323a55628bc4742"
    }
  ],
  "settingsData": [
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/f26c4b9bbc5244ac8bc4df0c436929c2"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/e2e1b2c9a4eb4f3b9575f24dafb69aef"
    },
    {
      "contentTypeKey": "785ccab1-a96b-4f92-83d0-a0fc9ec45ee9",
      "cssClasses": "",
      "decorativeImage": "",
      "horizontal": "0",
      "udi": "umb://element/0a7f218e8a9445aab247b9559eda4270"
    },
    {
      "contentTypeKey": "e326cfa6-2167-4763-840a-f52a25039f14",
      "cssClassesForRow": "",
      "stackColumns": "",
      "udi": "umb://element/1eec667f10bf48d59584ce36917c4bca"
    },
    {
      "contentTypeKey": "785ccab1-a96b-4f92-83d0-a0fc9ec45ee9",
      "cssClasses": "",
      "decorativeImage": "1",
      "horizontal": "0",
      "udi": "umb://element/5329b63e327c44b3b5acb85e11f151c8"
    },
    {
      "contentTypeKey": "785ccab1-a96b-4f92-83d0-a0fc9ec45ee9",
      "cssClasses": "",
      "decorativeImage": "",
      "horizontal": "0",
      "udi": "umb://element/7297d7e1f6f644f683b65f3fffd6f78e"
    },
    {
      "contentTypeKey": "53edb934-ee79-4ff0-b23a-84b91e9fef7a",
      "cssClassesForRow": "",
      "stackColumns": "",
      "udi": "umb://element/e635bd7132df455cae41325a6fbbc0c2"
    },
    {
      "contentTypeKey": "785ccab1-a96b-4f92-83d0-a0fc9ec45ee9",
      "cssClasses": "",
      "decorativeImage": "",
      "horizontal": "1",
      "udi": "umb://element/05e3d8f8b7df4420916697605e454a8b"
    },
    {
      "contentTypeKey": "785ccab1-a96b-4f92-83d0-a0fc9ec45ee9",
      "cssClasses": "",
      "decorativeImage": "",
      "horizontal": "0",
      "udi": "umb://element/e8f01c64f9ec4c439d78b4084a553783"
    },
    {
      "contentTypeKey": "085fe7f7-9496-44bd-bda7-fe27726abed3",
      "cssClassesForRow": "",
      "stackColumns": "",
      "udi": "umb://element/102795457d6f4abeb410059b508e14e1"
    },
    {
      "contentTypeKey": "785ccab1-a96b-4f92-83d0-a0fc9ec45ee9",
      "cssClasses": "",
      "decorativeImage": "",
      "horizontal": "1",
      "udi": "umb://element/9105b18de63a4d7eb869662195a11741"
    }
  ]
}]]></Value>
    </blocks>
    <headingScaleStart>
      <Value><![CDATA[]]></Value>
    </headingScaleStart>
  </Properties>
</Content>