<?xml version="1.0" encoding="utf-8"?>
<Content Key="b1b6e204-f188-4721-a0d0-45c254f54bdd" Alias="File upload" Level="2">
  <Info>
    <Parent Key="5e682cbe-b867-491a-955f-3382446d5663">Home</Parent>
    <Path>/Home/FileUpload</Path>
    <Trashed>false</Trashed>
    <ContentType>fileUpload</ContentType>
    <CreateDate>2023-11-22T08:01:09</CreateDate>
    <NodeName Default="File upload" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ccafe445-ff9d-4c54-833f-377bacba95a5">FileUpload</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/32878d1dd4154e33b6415a977df672b6",
        "settingsUdi": "umb://element/68736d9a95964ef7a066fb70301debde"
      },
      {
        "contentUdi": "umb://element/7be563602def4b4a8a9c845ba3f08109",
        "settingsUdi": "umb://element/70808696fca04d14b882488f44b52901"
      },
      {
        "contentUdi": "umb://element/ddb17629a8f54216a321bf8cd31dbd3c",
        "settingsUdi": "umb://element/4f7986a250e645139262f01fbcb89563"
      },
      {
        "contentUdi": "umb://element/179e8200f89843a08090cae7b1e1a2f5",
        "settingsUdi": "umb://element/57d51771840649beaf378e83df6dab9c"
      },
      {
        "contentUdi": "umb://element/e5df46d4ead24379b9f56d91d36a14db",
        "settingsUdi": "umb://element/2e737c0bdc41433fa49f7681c20cde5f"
      },
      {
        "contentUdi": "umb://element/789d8ea2fc184bb9b99e1e161b11de68",
        "settingsUdi": "umb://element/6e561675c9de4cd087c0f986f4bc5867"
      },
      {
        "contentUdi": "umb://element/8dc5375350884c30861bba4b8d35ab56",
        "settingsUdi": "umb://element/35fbf66dad7f4968b78a180b814cb456"
      },
      {
        "contentUdi": "umb://element/c81be76f4a4d4f6d99d8cf1f0efc65b3",
        "settingsUdi": "umb://element/1d191fd6fe544eaaacd443eabb9799da"
      },
      {
        "contentUdi": "umb://element/f0ae6c5a54734edca757e89e1e28a056",
        "settingsUdi": "umb://element/3e1d4160f88943309b4a9c3b6864dce1"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "7b79c9f1-4f4d-4c9b-915e-8f364bc86830",
      "title": "",
      "udi": "umb://element/32878d1dd4154e33b6415a977df672b6"
    },
    {
      "caption": "Example application in Umbraco",
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "udi": "umb://element/7be563602def4b4a8a9c845ba3f08109"
    },
    {
      "contentTypeKey": "6da482da-a53c-4df3-8fd4-697a7d91bbac",
      "hint": {
        "markup": "<p>The validation will fail if no file is provided. The choose file dialog will only allow selection of a CSV file based on its file extension, but any file can be uploaded using drag and drop.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "label": "Upload a CSV spreadsheet",
      "udi": "umb://element/e5df46d4ead24379b9f56d91d36a14db"
    },
    {
      "contentTypeKey": "35584ae7-feb5-4de8-9008-5d2d8cfb34ce",
      "text": "Submit",
      "udi": "umb://element/f0ae6c5a54734edca757e89e1e28a056"
    },
    {
      "contentTypeKey": "6da482da-a53c-4df3-8fd4-697a7d91bbac",
      "hint": {
        "markup": "<p>You should only ask users to upload something if it’s critical to the delivery of your service.</p>\n<p>This file upload has its label set as the page heading.</p>\n<p>The choose file dialog will only allow selection of an image based on its media types, but any file can be uploaded using drag and drop.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "label": "{{name}}",
      "udi": "umb://element/ddb17629a8f54216a321bf8cd31dbd3c"
    },
    {
      "contentTypeKey": "6da482da-a53c-4df3-8fd4-697a7d91bbac",
      "hint": {
        "markup": "<p>The validation should fail if the file is not an Excel file. The validation will look at the binary file header to determine whether the file is an Excel file.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "label": "Upload an Excel file",
      "udi": "umb://element/789d8ea2fc184bb9b99e1e161b11de68"
    },
    {
      "contentTypeKey": "6da482da-a53c-4df3-8fd4-697a7d91bbac",
      "hint": {
        "markup": "<p>The validation should fail if the file is not a PDF file. The validation will look at the binary file header to determine whether the file is a PDF file.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "label": "Upload a PDF file",
      "udi": "umb://element/8dc5375350884c30861bba4b8d35ab56"
    },
    {
      "contentTypeKey": "6da482da-a53c-4df3-8fd4-697a7d91bbac",
      "hint": {
        "markup": "<p>The validation will fail if the file is above 5MB.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "label": "Limit file size",
      "udi": "umb://element/179e8200f89843a08090cae7b1e1a2f5"
    },
    {
      "contentTypeKey": "6da482da-a53c-4df3-8fd4-697a7d91bbac",
      "hint": {
        "markup": "<p>Upload multiple files of any type.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "label": "Multiple files",
      "udi": "umb://element/c81be76f4a4d4f6d99d8cf1f0efc65b3"
    }
  ],
  "settingsData": [
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "ec4a6e3f-a6a8-4c8a-9d4c-d3e90399ac2c",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/68736d9a95964ef7a066fb70301debde"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/70808696fca04d14b882488f44b52901"
    },
    {
      "allowMultipleFiles": "0",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "d10b177e-98b9-42c3-a7f6-632c885c6bcf",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "errorMessageAllowedFileTypes": "",
      "errorMessageMaxFileSize": "",
      "errorMessagePrefix": "",
      "errorMessageRequired": "Select a CSV spreadsheet",
      "fileTypes": ".csv",
      "labelIsPageHeading": "0",
      "modelProperty": "CsvFile",
      "udi": "umb://element/2e737c0bdc41433fa49f7681c20cde5f"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "e683e885-8aa0-4bdd-9eff-56966f353540",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "disabled": "0",
      "modelProperty": "",
      "preventDoubleClick": "",
      "styleOfButton": "",
      "typeOfButton": "Primary",
      "udi": "umb://element/3e1d4160f88943309b4a9c3b6864dce1"
    },
    {
      "allowMultipleFiles": "0",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "d10b177e-98b9-42c3-a7f6-632c885c6bcf",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "errorMessageAllowedFileTypes": "",
      "errorMessageMaxFileSize": "",
      "errorMessagePrefix": "",
      "errorMessageRequired": "Select an image.",
      "fileTypes": "image/*",
      "labelIsPageHeading": "1",
      "modelProperty": "ImageFile",
      "udi": "umb://element/4f7986a250e645139262f01fbcb89563"
    },
    {
      "allowMultipleFiles": "0",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "d10b177e-98b9-42c3-a7f6-632c885c6bcf",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "errorMessageAllowedFileTypes": "The selected file must be an Excel file",
      "errorMessageMaxFileSize": "",
      "errorMessagePrefix": "",
      "errorMessageRequired": "",
      "fileTypes": ".xlsx",
      "labelIsPageHeading": "0",
      "modelProperty": "ExcelFile",
      "udi": "umb://element/6e561675c9de4cd087c0f986f4bc5867"
    },
    {
      "allowMultipleFiles": "0",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "d10b177e-98b9-42c3-a7f6-632c885c6bcf",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "errorMessageAllowedFileTypes": "The selected file must be a PDF",
      "errorMessageMaxFileSize": "",
      "errorMessagePrefix": "",
      "errorMessageRequired": "",
      "fileTypes": ".pdf",
      "labelIsPageHeading": "0",
      "modelProperty": "PdfFile",
      "udi": "umb://element/35fbf66dad7f4968b78a180b814cb456"
    },
    {
      "allowMultipleFiles": "0",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "d10b177e-98b9-42c3-a7f6-632c885c6bcf",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "errorMessageAllowedFileTypes": "",
      "errorMessageMaxFileSize": "The file must be smaller than 5MB",
      "errorMessagePrefix": "",
      "errorMessageRequired": "",
      "fileTypes": "",
      "labelIsPageHeading": "0",
      "modelProperty": "FileWithMaximumSize",
      "udi": "umb://element/57d51771840649beaf378e83df6dab9c"
    },
    {
      "allowMultipleFiles": "1",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "d10b177e-98b9-42c3-a7f6-632c885c6bcf",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "govuk-grid-row--tpr-divider",
      "errorMessageAllowedFileTypes": "",
      "errorMessageMaxFileSize": "",
      "errorMessagePrefix": "",
      "errorMessageRequired": "",
      "fileTypes": "",
      "labelIsPageHeading": "0",
      "modelProperty": "MultipleFiles",
      "udi": "umb://element/1d191fd6fe544eaaacd443eabb9799da"
    }
  ]
}]]></Value>
    </blocks>
    <headingScaleStart>
      <Value><![CDATA[]]></Value>
    </headingScaleStart>
    <nextPage>
      <Value><![CDATA[umb://document/7ebf39a4dbdd454b92e46e544af2a411]]></Value>
    </nextPage>
  </Properties>
</Content>