<?xml version="1.0" encoding="utf-8"?>
<Content Key="5e682cbe-b867-491a-955f-3382446d5663" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2022-05-09T11:24:19</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fa74db61-a431-4e9b-9b53-610ea7c937cc">Home</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/2a12c884002046cfb1d6676d21045e74"
      },
      {
        "contentUdi": "umb://element/7920dd6499044ddf8c5fcc9f506b9989"
      },
      {
        "contentUdi": "umb://element/a4fc8eb55d734b31b1c39923b3e55412"
      },
      {
        "contentUdi": "umb://element/ca521a0028b74cdf939fa9c310a4fc76"
      },
      {
        "contentUdi": "umb://element/918724d01c8e421390a267e0c475fa73"
      },
      {
        "contentUdi": "umb://element/952dfcc862f041eb85282ef28e49ef26"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "udi": "umb://element/ca521a0028b74cdf939fa9c310a4fc76",
      "text": "<p>This text is using <a href=\"https://design-system.service.gov.uk/styles/typography/\">GOV.UK Design System typography</a>.</p>\n<p>This example application includes the following components:</p>\n<ul>\n<li><a href=\"/{localLink:umb://document/cd4111da0f2a4401b0f23056f15e6826}\" title=\"Notification banner\">notification banner</a></li>\n<li><a href=\"/{localLink:umb://document/7ebf39a4dbdd454b92e46e544af2a411}\" title=\"Success\">panel</a></li>\n<li><a href=\"/{localLink:umb://document/25fef9b4ec6f45eebf73739358d7adcf}\" title=\"Radios\">radios</a></li>\n<li><a href=\"/{localLink:umb://document/51d9739554fb44aabe55b67b4b3f73ba}\" title=\"Select\">select</a></li>\n<li><a href=\"/{localLink:umb://document/acbabf457b3e4b53a825f7b6185f8840}\" title=\"Text input\">text input</a></li>\n</ul>"
    },
    {
      "contentTypeKey": "40bb2a3e-3d75-4ec1-9134-e0c46c6f04a0",
      "udi": "umb://element/918724d01c8e421390a267e0c475fa73",
      "text": "<p>Use the <a href=\"https://design-system.service.gov.uk/components/inset-text/\">inset text</a> component to differentiate a block of text from the content that surrounds it.</p>"
    },
    {
      "contentTypeKey": "9d15adb9-fb63-4b20-ada3-fc9239a72a8c",
      "udi": "umb://element/952dfcc862f041eb85282ef28e49ef26",
      "text": "<p>Use the <a href=\"https://design-system.service.gov.uk/components/details/\">details component</a> to make a page easier to scan when it contains information that only some users will need.</p>",
      "summary": "When to use the details component"
    },
    {
      "contentTypeKey": "83cb35fb-51da-45cd-913f-1b8bdfd6a1d9",
      "udi": "umb://element/a4fc8eb55d734b31b1c39923b3e55412",
      "text": "<p>Use the <a href=\"https://design-system.service.gov.uk/components/warning-text/\">warning text</a> component when you need to warn users about something important, such as legal consequences of an action, or lack of action, that they might take.</p>",
      "iconFallbackText": ""
    },
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "udi": "umb://element/7920dd6499044ddf8c5fcc9f506b9989"
    },
    {
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "udi": "umb://element/2a12c884002046cfb1d6676d21045e74",
      "caption": "GOV.UK Design System"
    }
  ],
  "settingsData": []
}]]></Value>
    </blocks>
  </Properties>
</Content>