<?xml version="1.0" encoding="utf-8"?>
<Content Key="75e66226-ce60-4448-b2f0-b348003250b0" Alias="Image" Level="2">
  <Info>
    <Parent Key="5e682cbe-b867-491a-955f-3382446d5663">Home</Parent>
    <Path>/Home/Image</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2025-08-07T11:31:34</CreateDate>
    <NodeName Default="Image" />
    <SortOrder>34</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3c351b02-40b4-4d66-ae89-e8bccc414f83">page</Template>
  </Info>
  <Properties>
    <blockGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/3f3cdf66b5e14e45a68f66298b9d16a9",
        "settingsUdi": "umb://element/bd6cbf11ae7a4a8186c3aed89010b4c7",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/d90d68fe127b4bdaa6fe078749012519",
        "settingsUdi": "umb://element/2d36d3735fe24b9b84bcff7ec60db2e3",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/e03a43c5dd09412c8ed1b65fa2e8d226",
        "settingsUdi": "umb://element/a0096dd2c07542be8512871785862c60",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/455fbdd088804e42bb3ab19fe1b453ea",
        "settingsUdi": "umb://element/0d4b9dab42404b069dc1ce5a7e08f132",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/c97034b1108347b08911c5c8ef97ea21",
        "settingsUdi": "umb://element/34b6fcd4e1d9452c9bfe382b1309ab13",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/ccf0c332baea43beb97e7ee136387ec0",
        "settingsUdi": "umb://element/82782b37f60a4ecd86a851a433e355d0",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/2f253f6e126649a8864c44eca0c6cab7",
        "settingsUdi": "umb://element/72a0ba7e94b948ed892f345f037e7630",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/7e77ba10baf8482ab0cd4d92f4ce8af9",
        "settingsUdi": "umb://element/4bd8b7c704c1439b86f8fc7cd0b118a6"
      },
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/e602c9ae6b024b7bafc70e0ed68dbfdb",
        "settingsUdi": "umb://element/6af942ad499b43298d6047c8eb46df81"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "9389c5e5-ce97-4211-97c5-f2cd173ca648",
      "image": [
        {
          "key": "8300dcea-0fa6-4fef-bb3c-9bc574360383",
          "mediaKey": "f0050b35-e0ef-40af-ac67-9b704a82aa69"
        }
      ],
      "udi": "umb://element/455fbdd088804e42bb3ab19fe1b453ea"
    },
    {
      "contentTypeKey": "9389c5e5-ce97-4211-97c5-f2cd173ca648",
      "image": [
        {
          "key": "0f271d67-5f1c-4903-84cd-1be3ec6e21a6",
          "mediaKey": "2d51f4b5-cec6-4ec9-a2b2-6728a8ff80aa"
        }
      ],
      "udi": "umb://element/ccf0c332baea43beb97e7ee136387ec0"
    },
    {
      "caption": "Example application in Umbraco",
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "udi": "umb://element/3f3cdf66b5e14e45a68f66298b9d16a9"
    },
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "text": "",
      "udi": "umb://element/d90d68fe127b4bdaa6fe078749012519"
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "text": {
        "markup": "<p>Images are supported when using the 'TPR block grid' or 'TPR block list' data types.</p>\n<p>By default images are resized to fit the width of their container, to support responsive design. </p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/e03a43c5dd09412c8ed1b65fa2e8d226"
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "text": {
        "markup": "<p>Images can be set to retain their original size. This is useful for smaller images that lose quality when scaled up.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/c97034b1108347b08911c5c8ef97ea21"
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "text": {
        "markup": "<p>Images have the same spacing after that is used by all components. However, images have the option to switch this off so that they can be placed together.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/2f253f6e126649a8864c44eca0c6cab7"
    },
    {
      "contentTypeKey": "9389c5e5-ce97-4211-97c5-f2cd173ca648",
      "image": [
        {
          "key": "8300dcea-0fa6-4fef-bb3c-9bc574360383",
          "mediaKey": "f0050b35-e0ef-40af-ac67-9b704a82aa69"
        }
      ],
      "udi": "umb://element/7e77ba10baf8482ab0cd4d92f4ce8af9"
    },
    {
      "contentTypeKey": "9389c5e5-ce97-4211-97c5-f2cd173ca648",
      "image": [
        {
          "key": "8300dcea-0fa6-4fef-bb3c-9bc574360383",
          "mediaKey": "f0050b35-e0ef-40af-ac67-9b704a82aa69"
        }
      ],
      "udi": "umb://element/e602c9ae6b024b7bafc70e0ed68dbfdb"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "9e06323c-cf04-4e08-a132-a8ebe4e3028e",
      "cssClasses": "",
      "imageSize": "Fit container",
      "spaceAfter": "1",
      "udi": "umb://element/0d4b9dab42404b069dc1ce5a7e08f132"
    },
    {
      "contentTypeKey": "9e06323c-cf04-4e08-a132-a8ebe4e3028e",
      "cssClasses": "",
      "imageSize": "Retain original size",
      "spaceAfter": "1",
      "udi": "umb://element/82782b37f60a4ecd86a851a433e355d0"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/bd6cbf11ae7a4a8186c3aed89010b4c7"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/2d36d3735fe24b9b84bcff7ec60db2e3"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/a0096dd2c07542be8512871785862c60"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/34b6fcd4e1d9452c9bfe382b1309ab13"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/72a0ba7e94b948ed892f345f037e7630"
    },
    {
      "contentTypeKey": "9e06323c-cf04-4e08-a132-a8ebe4e3028e",
      "cssClasses": "",
      "imageSize": "Fit container",
      "spaceAfter": "0",
      "udi": "umb://element/4bd8b7c704c1439b86f8fc7cd0b118a6"
    },
    {
      "contentTypeKey": "9e06323c-cf04-4e08-a132-a8ebe4e3028e",
      "cssClasses": "",
      "imageSize": "Fit container",
      "spaceAfter": "0",
      "udi": "umb://element/6af942ad499b43298d6047c8eb46df81"
    }
  ]
}]]></Value>
    </blockGrid>
    <blockList>
      <Value><![CDATA[]]></Value>
    </blockList>
  </Properties>
</Content>