<?xml version="1.0" encoding="utf-8"?>
<Content Key="cd4111da-0f2a-4401-b0f2-3056f15e6826" Alias="Notification banner" Level="2">
  <Info>
    <Parent Key="5e682cbe-b867-491a-955f-3382446d5663">Home</Parent>
    <Path>/Home/NotificationBanner</Path>
    <Trashed>false</Trashed>
    <ContentType>notificationBanner</ContentType>
    <CreateDate>2022-05-18T11:32:49</CreateDate>
    <NodeName Default="Notification banner" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="209da924-24d9-429e-abbd-c4fc769fef79">NotificationBanner</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/37ff3b49d6404d3dbef4ee4655e5b9ea",
        "settingsUdi": "umb://element/e58fc6643f8a403daedb4345df8d008d"
      },
      {
        "contentUdi": "umb://element/cb7764d9736a4cf588d4787cb12e459a",
        "settingsUdi": "umb://element/fdfd44509035481fb9cb5557f18a3135"
      },
      {
        "contentUdi": "umb://element/84346d0a195145f1959552b7f76317e5",
        "settingsUdi": "umb://element/98783bef37a7413b86e2153edc4a7e9b"
      },
      {
        "contentUdi": "umb://element/97e0d21be2354cb6b314682dbf84b0c4",
        "settingsUdi": "umb://element/56e28681663549df9b17605750740ffd"
      },
      {
        "contentUdi": "umb://element/f6261bf1ac6d4b108096b89da4865fda",
        "settingsUdi": "umb://element/a40c122c4ff74a9cb191b65e9f161d1f"
      },
      {
        "contentUdi": "umb://element/fd72f096dbd6493c8ea0963a9e072014",
        "settingsUdi": "umb://element/d38f665971b84cc1a9194f78efd429b2"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "udi": "umb://element/fd72f096dbd6493c8ea0963a9e072014",
      "text": "<p class=\"govuk-body\">Avoid showing more than one notification banner on the same page. Instead, combine the messages in a single notification banner. If the messages are too different to combine, only show the highest priority notification banner.</p>\n<p class=\"govuk-body\">See <a href=\"https://design-system.service.gov.uk/components/notification-banner/\" class=\"govuk-link\">notification banner</a> for more guidance.</p>"
    },
    {
      "contentTypeKey": "43d6f04c-2ce0-440c-9e13-05d856b8aafe",
      "udi": "umb://element/37ff3b49d6404d3dbef4ee4655e5b9ea",
      "heading": "<p>A<span> </span><a href=\"https://design-system.service.gov.uk/components/notification-banner/\" class=\"govuk-notification-banner__link\">notification banner</a><span> lets you tell the user about something that's not directly relevant to the thing they’re trying to do on that page of the service.</span></p>",
      "text": ""
    },
    {
      "contentTypeKey": "43d6f04c-2ce0-440c-9e13-05d856b8aafe",
      "udi": "umb://element/cb7764d9736a4cf588d4787cb12e459a",
      "heading": "<p>Use the green version of the notification banner to confirm that something they’re expecting to happen has happened.</p>",
      "text": "<p>Do not use a notification banner to tell users that they’ve finished using a linear service. Use a<span> </span><a href=\"https://design-system.service.gov.uk/patterns/confirmation-pages/\" class=\"govuk-notification-banner__link\">confirmation page</a><span> instead.</span></p>"
    },
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "udi": "umb://element/f6261bf1ac6d4b108096b89da4865fda"
    },
    {
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "udi": "umb://element/97e0d21be2354cb6b314682dbf84b0c4",
      "caption": "GOV.UK Design System"
    },
    {
      "contentTypeKey": "326adbe1-2897-4f6a-9ef2-90b150c79479",
      "udi": "umb://element/84346d0a195145f1959552b7f76317e5",
      "content": "<p>Buttons, button groups and links styled as buttons can be added as blocks. Assign a class to the button to target with Javascript.</p>",
      "blocks": "{\r\n  \"layout\": {\r\n    \"Umbraco.BlockList\": [\r\n      {\r\n        \"contentUdi\": \"umb://element/07e9665f76f148c2824501d3ab9ea3c7\",\r\n        \"settingsUdi\": \"umb://element/745f0f4344e842feb544296512abe7e3\"\r\n      }\r\n    ]\r\n  },\r\n  \"contentData\": [\r\n    {\r\n      \"contentTypeKey\": \"35584ae7-feb5-4de8-9008-5d2d8cfb34ce\",\r\n      \"udi\": \"umb://element/07e9665f76f148c2824501d3ab9ea3c7\",\r\n      \"text\": \"Dismiss\"\r\n    }\r\n  ],\r\n  \"settingsData\": [\r\n    {\r\n      \"contentTypeKey\": \"e683e885-8aa0-4bdd-9eff-56966f353540\",\r\n      \"udi\": \"umb://element/745f0f4344e842feb544296512abe7e3\",\r\n      \"typeOfButton\": \"Secondary\",\r\n      \"columnSize\": null,\r\n      \"columnSizeFromDesktop\": null,\r\n      \"cssClasses\": \"dismiss\"\r\n    }\r\n  ]\r\n}",
      "heading": "<p>You can also have a TPR notification banner</p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "f7827cba-7c37-4ddd-9234-11bf31e17818",
      "udi": "umb://element/e58fc6643f8a403daedb4345df8d008d",
      "type": "Default"
    },
    {
      "contentTypeKey": "f7827cba-7c37-4ddd-9234-11bf31e17818",
      "udi": "umb://element/fdfd44509035481fb9cb5557f18a3135",
      "type": "Success"
    },
    {
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "udi": "umb://element/56e28681663549df9b17605750740ffd"
    },
    {
      "contentTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "udi": "umb://element/a40c122c4ff74a9cb191b65e9f161d1f",
      "cssClassesForRow": "govuk-grid-row--tpr-divider",
      "columnSize": null,
      "columnSizeFromDesktop": null
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "udi": "umb://element/d38f665971b84cc1a9194f78efd429b2"
    },
    {
      "contentTypeKey": "b67acb5d-bebb-4f3b-b3e6-029ad0674dac",
      "udi": "umb://element/98783bef37a7413b86e2153edc4a7e9b"
    }
  ]
}]]></Value>
    </blocks>
  </Properties>
</Content>