<?xml version="1.0" encoding="utf-8"?>
<Content Key="b32c5acb-3eb5-4a34-8555-579554021ed4" Alias="Related links" Level="2">
  <Info>
    <Parent Key="5e682cbe-b867-491a-955f-3382446d5663">Home</Parent>
    <Path>/Home/RelatedLinks</Path>
    <Trashed>false</Trashed>
    <ContentType>relatedLinks</ContentType>
    <CreateDate>2025-02-13T16:49:07</CreateDate>
    <NodeName Default="Related links" />
    <SortOrder>29</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9fcea829-91fd-41fc-90bd-e2f861496677">TPRRelatedLinks</Template>
  </Info>
  <Properties>
    <grid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/4ca481a2677e4da381f7fedfc16f9392",
        "settingsUdi": "umb://element/fca618b9d1b04ec181ec4ac4c57084ae",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/b43ec17e590e4211a36f8c826033aad8",
        "settingsUdi": "umb://element/7fcbddbddb8f40e3bbc7e25fcb32c461",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/9ece6733ff36481b880912f07ee56834",
        "settingsUdi": "umb://element/46bad573908c4514ab5b4285c8a5c723",
        "areas": [
          {
            "key": "f9f886b0-6d10-4069-9794-59374034c82e",
            "items": [
              {
                "contentUdi": "umb://element/6a2f2abdfeaf46bc832cba38acdb9fde",
                "settingsUdi": "umb://element/d3ac4554734641458317b1ac23d48fe2",
                "areas": [],
                "columnSpan": 8,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "4793beea-bd0a-4e5e-b20e-069b90ab4df2",
            "items": [
              {
                "contentUdi": "umb://element/631cd921c6a647d6be62027f75b02a97",
                "settingsUdi": "umb://element/f28cba82d468406fbee71281dddc05c5",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "caption": "Example application in Umbraco",
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "udi": "umb://element/4ca481a2677e4da381f7fedfc16f9392"
    },
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "text": "",
      "udi": "umb://element/b43ec17e590e4211a36f8c826033aad8"
    },
    {
      "contentTypeKey": "650d7119-e9cf-4c26-a08c-21cf2ffbbbbc",
      "udi": "umb://element/9ece6733ff36481b880912f07ee56834"
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "text": {
        "markup": "<p>Related links is a TPR component found in the right column of desktop layouts.</p>\n<p>The heading defaults to 'Related' if left blank. It can be overridden sitewide by creating a dictionary entry called 'TPR Related links heading'. This in turn can be overridden by setting the heading on an individual component.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/6a2f2abdfeaf46bc832cba38acdb9fde"
    },
    {
      "contentTypeKey": "a2f4c028-e009-402b-a292-8cc898bb5aa9",
      "heading": "Related links",
      "links": [
        {
          "name": "Home page",
          "udi": "umb://document/5e682cbeb867491a955f3382446d5663"
        },
        {
          "name": "Example link 1",
          "udi": "umb://document/b32c5acb3eb54a348555579554021ed4"
        },
        {
          "name": "Example link 2",
          "udi": "umb://document/b32c5acb3eb54a348555579554021ed4"
        }
      ],
      "udi": "umb://element/631cd921c6a647d6be62027f75b02a97"
    }
  ],
  "settingsData": [
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/fca618b9d1b04ec181ec4ac4c57084ae"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/7fcbddbddb8f40e3bbc7e25fcb32c461"
    },
    {
      "contentTypeKey": "53edb934-ee79-4ff0-b23a-84b91e9fef7a",
      "cssClassesForRow": "",
      "stackColumns": "",
      "udi": "umb://element/46bad573908c4514ab5b4285c8a5c723"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/d3ac4554734641458317b1ac23d48fe2"
    },
    {
      "bar": "1",
      "contentTypeKey": "bfe62807-47c4-47b0-bb4b-c4a1d991886b",
      "cssClasses": "",
      "udi": "umb://element/f28cba82d468406fbee71281dddc05c5"
    }
  ]
}]]></Value>
    </grid>
  </Properties>
</Content>