<?xml version="1.0" encoding="utf-8"?>
<Content Key="1612ee2d-35da-401f-99a9-75cb9ad5822d" Alias="Search" Level="2">
  <Info>
    <Parent Key="5e682cbe-b867-491a-955f-3382446d5663">Home</Parent>
    <Path>/Home/Search</Path>
    <Trashed>false</Trashed>
    <ContentType>faqSearch</ContentType>
    <CreateDate>2025-06-16T10:55:52</CreateDate>
    <NodeName Default="Search" />
    <SortOrder>32</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="016c6423-9ac1-4660-b314-085743e5726e">faqSearch</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/53702da3d63746a0b8713ad070b50b6d",
        "settingsUdi": "umb://element/a355aedb3efb416a81e5367b4348d871",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "38d074c6-b12a-4348-b661-4713f4624a8d",
      "footerLinks": [
        {
          "name": "Link 1",
          "url": "/asd"
        },
        {
          "name": "Link 2",
          "url": "/asd-2"
        }
      ],
      "heading": "",
      "udi": "umb://element/53702da3d63746a0b8713ad070b50b6d"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "8746d43b-6731-4e8f-9464-69b768af37ec",
      "cssClasses": "",
      "udi": "umb://element/a355aedb3efb416a81e5367b4348d871"
    }
  ]
}]]></Value>
    </blocks>
  </Properties>
</Content>