<?xml version="1.0" encoding="utf-8"?>
<Content Key="57514668-ba8d-476f-9710-24668d57fd99" Alias="Section Cards Child Page 1" Level="3">
  <Info>
    <Parent Key="ba8e8ade-c4f2-4c58-9087-dcc5d79f168d">Section cards</Parent>
    <Path>/Home/SectionCards/SectionCardsChildPage1</Path>
    <Trashed>false</Trashed>
    <ContentType>sectionCards</ContentType>
    <CreateDate>2025-01-28T16:41:08</CreateDate>
    <NodeName Default="Section Cards Child Page 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d4325660-a68b-4eea-bfd2-106c3db9bb8d">BoxedSection</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <description>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet nisi quis enim porttitor, vitae hendrerit sem dignissim. Sed a viverra nulla. Nunc congue fermentum auctor. Proin posuere ultricies turpis. Vivamus vehicula egestas sem, id tempor ligula maximus egestas.]]></Value>
    </description>
    <gridBlocks>
      <Value><![CDATA[]]></Value>
    </gridBlocks>
    <headingScaleStart>
      <Value><![CDATA[]]></Value>
    </headingScaleStart>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>