<?xml version="1.0" encoding="utf-8"?>
<Content Key="391ca010-6c1f-413d-9b66-d7544c9d7476" Alias="Section cards child page 2" Level="3">
  <Info>
    <Parent Key="ba8e8ade-c4f2-4c58-9087-dcc5d79f168d">Section cards</Parent>
    <Path>/Home/SectionCards/SectionCardsChildPage2</Path>
    <Trashed>false</Trashed>
    <ContentType>sectionCards</ContentType>
    <CreateDate>2025-01-28T16:45:12</CreateDate>
	  <NodeName Default="Section cards child page 2">
		  <Name Culture="en-gb">Section cards child page 2</Name>
	  </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d4325660-a68b-4eea-bfd2-106c3db9bb8d">SectionCards</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet nisi quis enim porttitor, vitae hendrerit sem dignissim. Sed a viverra nulla. Nunc congue fermentum auctor. Proin posuere ultricies turpis. Vivamus vehicula egestas sem, id tempor ligula maximus egestas.]]></Value>
    </description>
    <gridBlocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/38f270283f184409b033bac5c6fa6c48",
        "settingsUdi": "umb://element/b58f5c1d2ccb498d9f76afac00944816"
      },
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/ba34f2e9536b48ed93196776e6d63c42",
        "settingsUdi": "umb://element/51ce6c570cbc4de4bb034399a9a30ae6"
      },
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/4e35f47b3df64ecd9a63eb4281c59758",
        "settingsUdi": "umb://element/4f4baa50a24541f896cac2e3aaa19d4f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "udi": "umb://element/38f270283f184409b033bac5c6fa6c48",
      "caption": "Example application in Umbraco"
    },
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "udi": "umb://element/ba34f2e9536b48ed93196776e6d63c42",
      "text": ""
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "udi": "umb://element/4e35f47b3df64ecd9a63eb4281c59758",
      "text": {
        "markup": "<p>This is a child of the section cards page, which is set to generate a card automatically for every child page.</p>\n<p>A card will not be generated for this page because it has 'Hide this page from the section cards component' selected on the Settings tab, which sets the <em>umbracoNaviHide</em> property to true.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "udi": "umb://element/b58f5c1d2ccb498d9f76afac00944816",
      "cssClasses": "",
      "cssClassesForRow": "",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "cssClassesForColumn": ""
    },
    {
      "contentTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "udi": "umb://element/51ce6c570cbc4de4bb034399a9a30ae6",
      "cssClasses": "",
      "cssClassesForRow": "",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "cssClassesForColumn": ""
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "udi": "umb://element/4f4baa50a24541f896cac2e3aaa19d4f",
      "cssClassesForRow": "",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "cssClassesForColumn": ""
    }
  ]
}]]></Value>
    </gridBlocks>
    <headingScaleStart>
      <Value><![CDATA[]]></Value>
    </headingScaleStart>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>