<?xml version="1.0" encoding="utf-8"?>
<Content Key="391ca010-6c1f-413d-9b66-d7544c9d7476" Alias="Section Cards Child Page 2" Level="3">
  <Info>
    <Parent Key="ba8e8ade-c4f2-4c58-9087-dcc5d79f168d">Section cards</Parent>
    <Path>/Home/SectionCards/SectionCardsChildPage2</Path>
    <Trashed>false</Trashed>
    <ContentType>sectionCards</ContentType>
    <CreateDate>2025-01-28T16:45:12</CreateDate>
    <NodeName Default="Section Cards Child Page 2" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d4325660-a68b-4eea-bfd2-106c3db9bb8d">SectionCards</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet nisi quis enim porttitor, vitae hendrerit sem dignissim. Sed a viverra nulla. Nunc congue fermentum auctor. Proin posuere ultricies turpis. Vivamus vehicula egestas sem, id tempor ligula maximus egestas.]]></Value>
    </description>
    <gridBlocks>
      <Value><![CDATA[]]></Value>
    </gridBlocks>
    <headingScaleStart>
      <Value><![CDATA[]]></Value>
    </headingScaleStart>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>