<?xml version="1.0" encoding="utf-8"?>
<Content Key="33917925-f6d0-4aff-9fd5-e5f3d8b799da" Alias="Section cards child page 3" Level="3">
	<Info>
		<Parent Key="ba8e8ade-c4f2-4c58-9087-dcc5d79f168d">Section cards</Parent>
		<Path>/Home/SectionCards/SectionCardsChildPage3</Path>
		<Trashed>false</Trashed>
		<ContentType>sectionCards</ContentType>
		<CreateDate>2025-01-28T16:45:12</CreateDate>
		<NodeName Default="Section cards child page 3" />
		<SortOrder>3</SortOrder>
		<Published Default="true" />
		<Schedule />
		<Template Key="d4325660-a68b-4eea-bfd2-106c3db9bb8d">SectionCards</Template>
	</Info>
	<Properties>
		<description>
			<Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet nisi quis enim porttitor, vitae hendrerit sem dignissim. Sed a viverra nulla. Nunc congue fermentum auctor. Proin posuere ultricies turpis. Vivamus vehicula egestas sem, id tempor ligula maximus egestas.]]></Value>
		</description>
		<gridBlocks>
			<Value>
				<![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/1b7b503caebb425d92063b5cc315bd9d",
        "settingsUdi": "umb://element/432c903e51b34187bc9d4bba2da558e7"
      },
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/7724ca8bd6b04c1bb25fdc6eefbb7e3d",
        "settingsUdi": "umb://element/15383702081e421d8c00ca764f57b997"
      },
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/38321e304fbf47b1913ee40e523e61b4",
        "settingsUdi": "umb://element/4e4d852b008f4830a05252a2207c84d3"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "udi": "umb://element/1b7b503caebb425d92063b5cc315bd9d",
      "caption": "Example application in Umbraco"
    },
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "udi": "umb://element/7724ca8bd6b04c1bb25fdc6eefbb7e3d",
      "text": ""
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "udi": "umb://element/38321e304fbf47b1913ee40e523e61b4",
      "text": {
        "markup": "<p>This is a child of the section cards page, which is set to generate a card automatically for this and every other child page.</p>\n<p>The description shown in the section card is from the&nbsp;<em>description</em> property on the Settings tab of this page, not from the main page content.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "udi": "umb://element/432c903e51b34187bc9d4bba2da558e7",
      "cssClasses": "",
      "cssClassesForRow": "",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "cssClassesForColumn": ""
    },
    {
      "contentTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "udi": "umb://element/15383702081e421d8c00ca764f57b997",
      "cssClasses": "",
      "cssClassesForRow": "",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "cssClassesForColumn": ""
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "udi": "umb://element/4e4d852b008f4830a05252a2207c84d3",
      "cssClassesForRow": "",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "cssClassesForColumn": ""
    }
  ]
}]]>
			</Value>
		</gridBlocks>
		<headingScaleStart>
			<Value><![CDATA[]]></Value>
		</headingScaleStart>
		<umbracoNaviHide>
			<Value><![CDATA[0]]></Value>
		</umbracoNaviHide>
	</Properties>
</Content>