<?xml version="1.0" encoding="utf-8"?>
<Content Key="b8221329-1872-42d1-a6f2-f712534df403" Alias="Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>settings</ContentType>
    <CreateDate>2023-02-20T16:56:02</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <govukPhase>
      <Value><![CDATA[Alpha]]></Value>
    </govukPhase>
    <govukPhaseBannerText>
      <Value><![CDATA[{
  "markup": "<p>This is a new service - your <a href=\"#\" data-anchor=\"#\">feedback</a> will help us to improve it.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </govukPhaseBannerText>
    <govukSkipLinkText>
      <Value><![CDATA[Skip to main content]]></Value>
    </govukSkipLinkText>
    <headerMenuToggleClosedText>
      <Value><![CDATA[Menu]]></Value>
    </headerMenuToggleClosedText>
    <headerMenuToggleOpenText>
      <Value><![CDATA[Close]]></Value>
    </headerMenuToggleOpenText>
    <noJSNavPage>
      <Value><![CDATA[[
  {
    "udi": "umb://document/5e682cbeb867491a955f3382446d5663"
  }
]]]></Value>
    </noJSNavPage>
    <showHeaderMenu>
      <Value><![CDATA[0]]></Value>
    </showHeaderMenu>
    <tprBackToTopText>
      <Value><![CDATA[]]></Value>
    </tprBackToTopText>
    <tprContext1>
      <Value><![CDATA[{
  "markup": "<p>Example app</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </tprContext1>
    <tprContext2>
      <Value><![CDATA[{
  "markup": "<p>The thing being displayed or edited in the app</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </tprContext2>
    <tprContext3>
      <Value><![CDATA[{
  "markup": "<p>ID: 12345678</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </tprContext3>
    <tprFooterContent>
      <Value><![CDATA[{
  "markup": "<p><a href=\"https://www.example.org\">Custom link</a></p>\n<p><a href=\"https://example.org\">Custom link</a></p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </tprFooterContent>
    <tprFooterCopyright>
      <Value><![CDATA[{{year}} The Pensions Regulator]]></Value>
    </tprFooterCopyright>
    <tprFooterLogoAlt>
      <Value><![CDATA[The Pensions Regulator home page]]></Value>
    </tprFooterLogoAlt>
    <tprFooterLogoHref>
      <Value><![CDATA[[
  {
    "name": "https://www.thepensionsregulator.gov.uk",
    "url": "https://www.thepensionsregulator.gov.uk"
  }
]]]></Value>
    </tprFooterLogoHref>
    <tprHeaderContent>
      <Value><![CDATA[{
  "markup": "<p><a href=\"https://www.example.org\">Custom link</a></p>\n<p><a href=\"https://example.org\">Custom link</a><a href=\"#\"></a></p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </tprHeaderContent>
    <tprHeaderLabel>
      <Value><![CDATA[Making workplace pensions work]]></Value>
    </tprHeaderLabel>
    <tprHeaderLogoAlt>
      <Value><![CDATA[]]></Value>
    </tprHeaderLogoAlt>
    <tprHeaderLogoHref>
      <Value><![CDATA[[
  {
    "name": "https://www.thepensionsregulator.gov.uk",
    "url": "https://www.thepensionsregulator.gov.uk"
  }
]]]></Value>
    </tprHeaderLogoHref>
    <tprHeaderMenuAriaLabel>
      <Value><![CDATA[Sitewide Menu: Use the down arrow key to open the sub menu, up to close, and left and right to navigate through top level items.]]></Value>
    </tprHeaderMenuAriaLabel>
    <tprHeaderMenuBlockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/5cd3d70a72f8470881f160931069ccf0"
      },
      {
        "contentUdi": "umb://element/133e6a93ed184ff792320f951dd801d0"
      },
      {
        "contentUdi": "umb://element/4ffabef5934a44e1aa5b7fd78fe119db"
      },
      {
        "contentUdi": "umb://element/79b4c453c1414dc8a47ecbfaaf0f76e2"
      },
      {
        "contentUdi": "umb://element/2e4e9b6632b8412382cb49ba7273f4ba"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "7cddfcdc-5921-4dcf-a203-2ce06c447ebf",
      "linkText": "Employers",
      "linkUrl": [
        {
          "url": "/success"
        }
      ],
      "tprHeaderMenuChildItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/7e473c2bd73c40f6b88965aff6f0ea46"
            },
            {
              "contentUdi": "umb://element/1138bc5777ca49bfa90c790af0837a63"
            },
            {
              "contentUdi": "umb://element/d35b7a13ac26442e855786bdb40dd342"
            },
            {
              "contentUdi": "umb://element/7d2b1763ad6142b58f1a40c64a91d978"
            },
            {
              "contentUdi": "umb://element/c1f54522164040f29649181bd9913c5b"
            },
            {
              "contentUdi": "umb://element/bf881212b5a44e838fdb890148a5dad8"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "90600a82-4925-4287-bb81-45247a91a514",
            "linkText": "Lorem ipsum",
            "linkUrl": [
              {
                "url": "/success"
              }
            ],
            "udi": "umb://element/7e473c2bd73c40f6b88965aff6f0ea46"
          },
          {
            "contentTypeKey": "90600a82-4925-4287-bb81-45247a91a514",
            "linkText": "Lorem ipsum dolor",
            "linkUrl": [
              {
                "url": "/success"
              }
            ],
            "udi": "umb://element/1138bc5777ca49bfa90c790af0837a63"
          },
          {
            "contentTypeKey": "90600a82-4925-4287-bb81-45247a91a514",
            "linkText": "Lorem ipsum dolor sit amet",
            "linkUrl": [
              {
                "url": "/success"
              }
            ],
            "udi": "umb://element/d35b7a13ac26442e855786bdb40dd342"
          },
          {
            "contentTypeKey": "90600a82-4925-4287-bb81-45247a91a514",
            "linkText": "Lorem ipsum dolor sit ",
            "linkUrl": [
              {
                "url": "/success"
              }
            ],
            "udi": "umb://element/7d2b1763ad6142b58f1a40c64a91d978"
          },
          {
            "contentTypeKey": "90600a82-4925-4287-bb81-45247a91a514",
            "linkText": "Lorem ipsum",
            "linkUrl": [
              {
                "url": "/success"
              }
            ],
            "udi": "umb://element/c1f54522164040f29649181bd9913c5b"
          },
          {
            "contentTypeKey": "90600a82-4925-4287-bb81-45247a91a514",
            "linkText": "Lorem ipsum dolor sit amet",
            "linkUrl": [
              {
                "url": "/success"
              }
            ],
            "udi": "umb://element/bf881212b5a44e838fdb890148a5dad8"
          }
        ],
        "settingsData": []
      },
      "udi": "umb://element/5cd3d70a72f8470881f160931069ccf0"
    },
    {
      "contentTypeKey": "7cddfcdc-5921-4dcf-a203-2ce06c447ebf",
      "linkText": "Business Advisors ",
      "linkUrl": [
        {
          "url": "/success"
        }
      ],
      "tprHeaderMenuChildItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/df3f71a6de0049a6820aef247e6b675c"
            },
            {
              "contentUdi": "umb://element/bccca89be21b4bebb2a7710a5a5a5214"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "90600a82-4925-4287-bb81-45247a91a514",
            "linkText": "Lorem ipsum dolor sit amet",
            "linkUrl": [
              {
                "url": "/success"
              }
            ],
            "udi": "umb://element/df3f71a6de0049a6820aef247e6b675c"
          },
          {
            "contentTypeKey": "90600a82-4925-4287-bb81-45247a91a514",
            "linkText": "Lorem ipsum dolor",
            "linkUrl": [
              {
                "url": "/success"
              }
            ],
            "udi": "umb://element/bccca89be21b4bebb2a7710a5a5a5214"
          }
        ],
        "settingsData": []
      },
      "udi": "umb://element/133e6a93ed184ff792320f951dd801d0"
    },
    {
      "contentTypeKey": "7cddfcdc-5921-4dcf-a203-2ce06c447ebf",
      "linkText": "Trustees",
      "linkUrl": [
        {
          "url": "/success"
        }
      ],
      "tprHeaderMenuChildItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/256d911ad28443aa9784dd04b3660537"
            },
            {
              "contentUdi": "umb://element/45c057a9c3b64444a5c241d27b971e0c"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "90600a82-4925-4287-bb81-45247a91a514",
            "linkText": "Lorem ipsum dolor",
            "linkUrl": [
              {
                "url": "/success"
              }
            ],
            "udi": "umb://element/256d911ad28443aa9784dd04b3660537"
          },
          {
            "contentTypeKey": "90600a82-4925-4287-bb81-45247a91a514",
            "linkText": "Lorem ipsum dolor",
            "linkUrl": [
              {
                "url": "/success"
              }
            ],
            "udi": "umb://element/45c057a9c3b64444a5c241d27b971e0c"
          }
        ],
        "settingsData": []
      },
      "udi": "umb://element/4ffabef5934a44e1aa5b7fd78fe119db"
    },
    {
      "contentTypeKey": "7cddfcdc-5921-4dcf-a203-2ce06c447ebf",
      "linkText": "About us",
      "linkUrl": [
        {
          "url": "/success"
        }
      ],
      "tprHeaderMenuChildItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/d900083cfff54193abcf34c50b4c79dc"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "90600a82-4925-4287-bb81-45247a91a514",
            "linkText": "Lorem ipsum dolor",
            "linkUrl": [
              {
                "url": "/success"
              }
            ],
            "udi": "umb://element/d900083cfff54193abcf34c50b4c79dc"
          }
        ],
        "settingsData": []
      },
      "udi": "umb://element/79b4c453c1414dc8a47ecbfaaf0f76e2"
    },
    {
      "contentTypeKey": "7cddfcdc-5921-4dcf-a203-2ce06c447ebf",
      "linkText": "Document library",
      "linkUrl": [
        {
          "url": "/success"
        }
      ],
      "tprHeaderMenuChildItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/70653e9e32314bbe9669da6b17f70080"
            },
            {
              "contentUdi": "umb://element/2406a2301a7446d0b2c617c24ab9c57d"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "90600a82-4925-4287-bb81-45247a91a514",
            "linkText": "Lorem ",
            "linkUrl": [
              {
                "url": "/success"
              }
            ],
            "udi": "umb://element/70653e9e32314bbe9669da6b17f70080"
          },
          {
            "contentTypeKey": "90600a82-4925-4287-bb81-45247a91a514",
            "linkText": "Lorem ipsum ",
            "linkUrl": [
              {
                "url": "/success"
              }
            ],
            "udi": "umb://element/2406a2301a7446d0b2c617c24ab9c57d"
          }
        ],
        "settingsData": []
      },
      "udi": "umb://element/2e4e9b6632b8412382cb49ba7273f4ba"
    }
  ],
  "settingsData": []
}]]></Value>
    </tprHeaderMenuBlockList>
    <tprHeaderSearchAriaLabel>
      <Value><![CDATA[Search]]></Value>
    </tprHeaderSearchAriaLabel>
    <tprHeaderSearchPlaceholderText>
      <Value><![CDATA[Search]]></Value>
    </tprHeaderSearchPlaceholderText>
    <tprHeaderShowSearch>
      <Value><![CDATA[1]]></Value>
    </tprHeaderShowSearch>
  </Properties>
</Content>