<?xml version="1.0" encoding="utf-8"?>
<Content Key="b8221329-1872-42d1-a6f2-f712534df403" Alias="Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>settings</ContentType>
    <CreateDate>2023-02-20T16:56:02</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <displayMobileMenu>
      <Value><![CDATA[0]]></Value>
    </displayMobileMenu>
    <govukPhase>
      <Value><![CDATA[Alpha]]></Value>
    </govukPhase>
    <govukPhaseBannerText>
      <Value><![CDATA[{
  "markup": "<p>This is a new service - your <a href=\"#\" data-anchor=\"#\">feedback</a> will help us to improve it.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </govukPhaseBannerText>
    <govukSkipLinkText>
      <Value><![CDATA[Skip to main content]]></Value>
    </govukSkipLinkText>
    <tprBackToTopText>
      <Value><![CDATA[]]></Value>
    </tprBackToTopText>
    <tprContext1>
      <Value><![CDATA[{
  "markup": "<p>Example app</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </tprContext1>
    <tprContext2>
      <Value><![CDATA[{
  "markup": "<p>The thing being displayed or edited in the app</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </tprContext2>
    <tprContext3>
      <Value><![CDATA[{
  "markup": "<p>ID: 12345678</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </tprContext3>
    <tprFooterContent>
      <Value><![CDATA[{
  "markup": "<p><a href=\"https://www.example.org\">Custom link</a></p>\n<p><a href=\"https://example.org\">Custom link</a></p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </tprFooterContent>
    <tprFooterCopyright>
      <Value><![CDATA[{{year}} The Pensions Regulator]]></Value>
    </tprFooterCopyright>
    <tprFooterLogoAlt>
      <Value><![CDATA[The Pensions Regulator home page]]></Value>
    </tprFooterLogoAlt>
    <tprFooterLogoHref>
      <Value><![CDATA[[
  {
    "name": "https://www.thepensionsregulator.gov.uk",
    "url": "https://www.thepensionsregulator.gov.uk"
  }
]]]></Value>
    </tprFooterLogoHref>
    <tprHeaderAriaLabelText>
      <Value><![CDATA[Search]]></Value>
    </tprHeaderAriaLabelText>
    <tprHeaderContent>
      <Value><![CDATA[{
  "markup": "<p><a href=\"https://www.example.org\">Custom link</a></p>\n<p><a href=\"https://example.org\">Custom link</a><a href=\"#\"></a></p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </tprHeaderContent>
    <tprHeaderLabel>
      <Value><![CDATA[Making workplace pensions work]]></Value>
    </tprHeaderLabel>
    <tprHeaderLogoAlt>
      <Value><![CDATA[]]></Value>
    </tprHeaderLogoAlt>
    <tprHeaderLogoHref>
      <Value><![CDATA[[
  {
    "name": "https://www.thepensionsregulator.gov.uk",
    "url": "https://www.thepensionsregulator.gov.uk"
  }
]]]></Value>
    </tprHeaderLogoHref>
    <tprHeaderPlaceholderText>
      <Value><![CDATA[Search]]></Value>
    </tprHeaderPlaceholderText>
    <tprMobileMenu>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f9bd4d2c7dd44a1182b62055d2881a1e"
      },
      {
        "contentUdi": "umb://element/de683de326344ffcb17d8d570c457430"
      },
      {
        "contentUdi": "umb://element/83c9eef0e39646a595c4caa412794dba"
      },
      {
        "contentUdi": "umb://element/a9dd2dbe8c8642a4a0380830a4559621"
      },
      {
        "contentUdi": "umb://element/4f72644f2f9545f18ccaddb2fe4d702d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "333ad9f8-f9fb-4933-8053-d53f25eeda06",
      "linkText": "Employers  ",
      "linkUrl": [
        {
          "url": "https://www.thepensionsregulator.gov.uk/en/employers"
        }
      ],
      "tprMobileMenuChildItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/03e3660032ee4d88b4a363cf5d60f174"
            },
            {
              "contentUdi": "umb://element/94618627eec744938e3f094a4a1a66e0"
            },
            {
              "contentUdi": "umb://element/8c68649f66f64cebb508d7bf1a4a45dd"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "6d4fddfb-8cd7-4d5e-8b88-bbf03ecfa0be",
            "linkText": "Re-enrolment and re-declaration",
            "linkURL": [
              {
                "url": "https://www.thepensionsregulator.gov.uk/en/employers/re-enrolment"
              }
            ],
            "udi": "umb://element/03e3660032ee4d88b4a363cf5d60f174"
          },
          {
            "contentTypeKey": "6d4fddfb-8cd7-4d5e-8b88-bbf03ecfa0be",
            "linkText": "Warnings, notices and payment of fines ",
            "linkURL": [
              {
                "url": "https://www.thepensionsregulator.gov.uk/en/employers/warnings-notices-and-payment-of-fines"
              }
            ],
            "udi": "umb://element/94618627eec744938e3f094a4a1a66e0"
          },
          {
            "contentTypeKey": "6d4fddfb-8cd7-4d5e-8b88-bbf03ecfa0be",
            "linkText": "Managing a scheme",
            "linkURL": [
              {
                "url": "https://www.thepensionsregulator.gov.uk/en/employers/managing-a-scheme"
              }
            ],
            "udi": "umb://element/8c68649f66f64cebb508d7bf1a4a45dd"
          }
        ],
        "settingsData": []
      },
      "udi": "umb://element/f9bd4d2c7dd44a1182b62055d2881a1e"
    },
    {
      "contentTypeKey": "333ad9f8-f9fb-4933-8053-d53f25eeda06",
      "linkText": "Business advisers",
      "linkUrl": [
        {
          "url": "https://www.thepensionsregulator.gov.uk/en/business-advisers"
        }
      ],
      "tprMobileMenuChildItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/68b876bafe51485f98303e94c741cfed"
            },
            {
              "contentUdi": "umb://element/a717e0bb69784f8ca64fec6cbfedf5dd"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "6d4fddfb-8cd7-4d5e-8b88-bbf03ecfa0be",
            "linkText": "Automatic enrolment guide for business advisers",
            "linkURL": [
              {
                "url": "https://www.thepensionsregulator.gov.uk/en/business-advisers/automatic-enrolment-guide-for-business-advisers"
              }
            ],
            "udi": "umb://element/68b876bafe51485f98303e94c741cfed"
          },
          {
            "contentTypeKey": "6d4fddfb-8cd7-4d5e-8b88-bbf03ecfa0be",
            "linkText": "Setting up a scheme",
            "linkURL": [
              {
                "url": "https://www.thepensionsregulator.gov.uk/en/business-advisers/setting-up-a-scheme"
              }
            ],
            "udi": "umb://element/a717e0bb69784f8ca64fec6cbfedf5dd"
          }
        ],
        "settingsData": []
      },
      "udi": "umb://element/de683de326344ffcb17d8d570c457430"
    },
    {
      "contentTypeKey": "333ad9f8-f9fb-4933-8053-d53f25eeda06",
      "linkText": "Trustees",
      "linkUrl": [
        {
          "url": "https://www.thepensionsregulator.gov.uk/en/trustees"
        }
      ],
      "tprMobileMenuChildItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/ba6a6ff7cff04ec3a47dceb3e7df392b"
            },
            {
              "contentUdi": "umb://element/5c7c4466029b4fd183843e296a6eb0e2"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "6d4fddfb-8cd7-4d5e-8b88-bbf03ecfa0be",
            "linkText": "Understanding your role",
            "linkURL": [
              {
                "url": "https://www.thepensionsregulator.gov.uk/en/trustees/understanding-your-role"
              }
            ],
            "udi": "umb://element/ba6a6ff7cff04ec3a47dceb3e7df392b"
          },
          {
            "contentTypeKey": "6d4fddfb-8cd7-4d5e-8b88-bbf03ecfa0be",
            "linkText": "Governing the scheme",
            "linkURL": [
              {
                "url": "https://www.thepensionsregulator.gov.uk/en/trustees/governing-the-scheme"
              }
            ],
            "udi": "umb://element/5c7c4466029b4fd183843e296a6eb0e2"
          }
        ],
        "settingsData": []
      },
      "udi": "umb://element/83c9eef0e39646a595c4caa412794dba"
    },
    {
      "contentTypeKey": "333ad9f8-f9fb-4933-8053-d53f25eeda06",
      "linkText": "About us",
      "linkUrl": [
        {
          "url": "https://www.thepensionsregulator.gov.uk/en/about-us"
        }
      ],
      "tprMobileMenuChildItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/1f7de641a3d24044a05f81aaa2af75c7"
            },
            {
              "contentUdi": "umb://element/c8ffd85788164aa9990da111aec36f2d"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "6d4fddfb-8cd7-4d5e-8b88-bbf03ecfa0be",
            "linkText": "What we do and who we are",
            "linkURL": [
              {
                "url": "https://www.thepensionsregulator.gov.uk/en/about-us/what-tpr-does-and-who-we-are"
              }
            ],
            "udi": "umb://element/1f7de641a3d24044a05f81aaa2af75c7"
          },
          {
            "contentTypeKey": "6d4fddfb-8cd7-4d5e-8b88-bbf03ecfa0be",
            "linkText": "Work for us",
            "linkURL": [
              {
                "url": "https://www.thepensionsregulator.gov.uk/en/about-us/work-for-us"
              }
            ],
            "udi": "umb://element/c8ffd85788164aa9990da111aec36f2d"
          }
        ],
        "settingsData": []
      },
      "udi": "umb://element/a9dd2dbe8c8642a4a0380830a4559621"
    },
    {
      "contentTypeKey": "333ad9f8-f9fb-4933-8053-d53f25eeda06",
      "linkText": "Document library",
      "linkUrl": [
        {
          "url": "https://www.thepensionsregulator.gov.uk/en/document-library"
        }
      ],
      "tprMobileMenuChildItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/3a76ddf4c0fb49c596b3a8ef624dc91e"
            },
            {
              "contentUdi": "umb://element/b3b9519c12624e828d8907e7a2bc788f"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "6d4fddfb-8cd7-4d5e-8b88-bbf03ecfa0be",
            "linkText": "Automatic enrolment detailed guidance  ",
            "linkURL": [
              {
                "url": "https://www.thepensionsregulator.gov.uk/en/document-library/automatic-enrolment-detailed-guidance"
              }
            ],
            "udi": "umb://element/3a76ddf4c0fb49c596b3a8ef624dc91e"
          },
          {
            "contentTypeKey": "6d4fddfb-8cd7-4d5e-8b88-bbf03ecfa0be",
            "linkText": "Code of practice ",
            "linkURL": [
              {
                "url": "https://www.thepensionsregulator.gov.uk/en/document-library/code-of-practice"
              }
            ],
            "udi": "umb://element/b3b9519c12624e828d8907e7a2bc788f"
          }
        ],
        "settingsData": []
      },
      "udi": "umb://element/4f72644f2f9545f18ccaddb2fe4d702d"
    }
  ],
  "settingsData": []
}]]></Value>
    </tprMobileMenu>
    <tprMobileMenuAriaLabel>
      <Value><![CDATA[Mobile Navigation Menu]]></Value>
    </tprMobileMenuAriaLabel>
  </Properties>
</Content>