<?xml version="1.0" encoding="utf-8"?>
<Content Key="b8221329-1872-42d1-a6f2-f712534df403" Alias="Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>settings</ContentType>
    <CreateDate>2023-02-20T16:56:02</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <govukPhase>
      <Value><![CDATA[Alpha]]></Value>
    </govukPhase>
    <govukPhaseBannerText>
      <Value><![CDATA[{
  "markup": "<p>This is a new service - your <a href=\"#\" data-anchor=\"#\">feedback</a> will help us to improve it.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </govukPhaseBannerText>
    <govukSkipLinkText>
      <Value><![CDATA[Skip to main content]]></Value>
    </govukSkipLinkText>
    <headerMenuToggleClosedText>
      <Value><![CDATA[Menu]]></Value>
    </headerMenuToggleClosedText>
    <headerMenuToggleOpenText>
      <Value><![CDATA[Close]]></Value>
    </headerMenuToggleOpenText>
    <noJSNavPage>
      <Value><![CDATA[[
  {
    "udi": "umb://document/5e682cbeb867491a955f3382446d5663"
  }
]]]></Value>
    </noJSNavPage>
    <showHeaderMenu>
      <Value><![CDATA[0]]></Value>
    </showHeaderMenu>
    <tprBackToTopText>
      <Value><![CDATA[]]></Value>
    </tprBackToTopText>
    <tprContext1>
      <Value><![CDATA[{
  "markup": "<p>Example app</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </tprContext1>
    <tprContext2>
      <Value><![CDATA[{
  "markup": "<p>The thing being displayed or edited in the app</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </tprContext2>
    <tprContext3>
      <Value><![CDATA[{
  "markup": "<p>ID: 12345678</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </tprContext3>
    <tprFooterContent>
      <Value><![CDATA[{
  "markup": "<p><a href=\"https://www.example.org\">Custom link</a></p>\n<p><a href=\"https://example.org\">Custom link</a></p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </tprFooterContent>
    <tprFooterCopyright>
      <Value><![CDATA[{{year}} The Pensions Regulator]]></Value>
    </tprFooterCopyright>
    <tprFooterLogoAlt>
      <Value><![CDATA[The Pensions Regulator home page]]></Value>
    </tprFooterLogoAlt>
    <tprFooterLogoHref>
      <Value><![CDATA[[
  {
    "name": "https://www.thepensionsregulator.gov.uk",
    "url": "https://www.thepensionsregulator.gov.uk"
  }
]]]></Value>
    </tprFooterLogoHref>
    <tprHeaderContent>
      <Value><![CDATA[{
  "markup": "<p><a href=\"https://www.example.org\">Custom link</a></p>\n<p><a href=\"https://example.org\">Custom link</a><a href=\"#\"></a></p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </tprHeaderContent>
    <tprHeaderLabel>
      <Value><![CDATA[Making workplace pensions work]]></Value>
    </tprHeaderLabel>
    <tprHeaderLogoAlt>
      <Value><![CDATA[]]></Value>
    </tprHeaderLogoAlt>
    <tprHeaderLogoHref>
      <Value><![CDATA[[
  {
    "name": "https://www.thepensionsregulator.gov.uk",
    "url": "https://www.thepensionsregulator.gov.uk"
  }
]]]></Value>
    </tprHeaderLogoHref>
    <tprHeaderMenuAriaLabel>
      <Value><![CDATA[Sitewide Menu: Use the down arrow key to open the sub menu, up to close, and left and right to navigate through top level items.]]></Value>
    </tprHeaderMenuAriaLabel>
    <tprHeaderMenuBlockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/5cd3d70a72f8470881f160931069ccf0"
      },
      {
        "contentUdi": "umb://element/133e6a93ed184ff792320f951dd801d0"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "7cddfcdc-5921-4dcf-a203-2ce06c447ebf",
      "linkText": "Employers",
      "linkUrl": [
        {
          "udi": "umb://document/449dad988cd84579be6be4a5868e4baa"
        }
      ],
      "tprHeaderMenuChildItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/7e473c2bd73c40f6b88965aff6f0ea46"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "90600a82-4925-4287-bb81-45247a91a514",
            "linkText": "Test",
            "linkUrl": [
              {
                "udi": "umb://document/22a4a3efd9d74129b573ea9a707040b3"
              }
            ],
            "udi": "umb://element/7e473c2bd73c40f6b88965aff6f0ea46"
          }
        ],
        "settingsData": []
      },
      "udi": "umb://element/5cd3d70a72f8470881f160931069ccf0"
    },
    {
      "contentTypeKey": "7cddfcdc-5921-4dcf-a203-2ce06c447ebf",
      "linkText": "Business Advisors ",
      "linkUrl": [
        {
          "udi": "umb://document/449dad988cd84579be6be4a5868e4baa"
        }
      ],
      "tprHeaderMenuChildItems": "",
      "udi": "umb://element/133e6a93ed184ff792320f951dd801d0"
    }
  ],
  "settingsData": []
}]]></Value>
    </tprHeaderMenuBlockList>
    <tprHeaderSearchAriaLabel>
      <Value><![CDATA[Search]]></Value>
    </tprHeaderSearchAriaLabel>
    <tprHeaderSearchPlaceholderText>
      <Value><![CDATA[Search]]></Value>
    </tprHeaderSearchPlaceholderText>
    <tprHeaderShowSearch>
      <Value><![CDATA[1]]></Value>
    </tprHeaderShowSearch>
  </Properties>
</Content>