<?xml version="1.0" encoding="utf-8"?>
<Content Key="27ac0d2b-835d-4187-9cdb-912a9fed194d" Alias="Side navigation grandchild 2" Level="4">
  <Info>
    <Parent Key="79ba1a81-7d82-4098-aa94-bcdbf8d21614">Side navigation child 2</Parent>
    <Path>/Home/SideNavigation/SideNavigationChild2/SideNavigationGrandchild2</Path>
    <Trashed>false</Trashed>
    <ContentType>sideNavigation</ContentType>
    <CreateDate>2025-07-08T13:11:31</CreateDate>
    <NodeName Default="Side navigation grandchild 2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="586b1ce1-f3ba-460e-bcb4-ca855badae35">SideNavigation</Template>
  </Info>
  <Properties>
    <grid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/e84ef683899a4800aac754d4d9370d32",
        "settingsUdi": "umb://element/b7ffba071e814d8591d04a6d40cc710f",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/9824617877484d69b12abd9cdf4ba7d6",
        "settingsUdi": "umb://element/781c819e249c44cb9aaa0b3655c48077",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/c930bcde2cdf4ec3af7e188000e939b8",
        "settingsUdi": "umb://element/74fc4857da9a47a7b2f6435a315523c7",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "text": "",
      "udi": "umb://element/9824617877484d69b12abd9cdf4ba7d6"
    },
    {
      "caption": "Example application in Umbraco",
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "udi": "umb://element/e84ef683899a4800aac754d4d9370d32"
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "text": {
        "markup": "<p>This view component allows you to display an expanded side navigation menu. It uses the current page you are on combined with the root navigation node that you have inputted in order to expand the path through the menu that has been taken as well as any children of the current page you are on.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/c930bcde2cdf4ec3af7e188000e939b8"
    }
  ],
  "settingsData": [
    {
      "columnSize": [
        "full"
      ],
      "columnSizeFromDesktop": "",
      "contentTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/781c819e249c44cb9aaa0b3655c48077"
    },
    {
      "columnSize": [
        "full"
      ],
      "columnSizeFromDesktop": "",
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/b7ffba071e814d8591d04a6d40cc710f"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": [
        "full"
      ],
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/74fc4857da9a47a7b2f6435a315523c7"
    }
  ]
}]]></Value>
    </grid>
  </Properties>
</Content>