<?xml version="1.0" encoding="utf-8"?>
<Content Key="1a5fd28c-9e8f-45c4-8990-bd986710d146" Alias="Side navigation child 1" Level="3">
  <Info>
    <Parent Key="f3f20d48-8330-4384-9a56-49504200791e">Side navigation</Parent>
    <Path>/Home/SideNavigation/SideNavigationChild1</Path>
    <Trashed>false</Trashed>
    <ContentType>sideNavigation</ContentType>
    <CreateDate>2025-07-08T13:10:22</CreateDate>
    <NodeName Default="Side navigation child 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="586b1ce1-f3ba-460e-bcb4-ca855badae35">SideNavigation</Template>
  </Info>
  <Properties>
    <grid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/174a1fbe5432452185b4e9857b336002",
        "settingsUdi": "umb://element/b61730b403c14b868e33af9189f1ec7f",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/eb305b2d293646938fded5b32729e503",
        "settingsUdi": "umb://element/c053d0e97dae46f3a0cd71818ca5a9f3",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/97411b4aeac24e3f9cd5f5a4167f5f47",
        "settingsUdi": "umb://element/544d1892bc534075ab8711293b121b0a",
        "areas": [
          {
            "key": "02d9bce3-9e7a-417e-8cc1-8ddc22d398aa",
            "items": [
              {
                "contentUdi": "umb://element/0a9ea8b72f974a72a5d3444cb2cdbab9",
                "settingsUdi": "umb://element/359729a09e54496abe168bb0d2bb18af",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "e922b963-dc92-4b0f-a253-c9ddc8932e0a",
            "items": [
              {
                "contentUdi": "umb://element/928c0f4fc3ac4012ae80ee5acc141dfd",
                "settingsUdi": "umb://element/5f11bff7985e413b94176caa5ff11ec3",
                "areas": [],
                "columnSpan": 8,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "text": "",
      "udi": "umb://element/eb305b2d293646938fded5b32729e503"
    },
    {
      "caption": "Example application in Umbraco",
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "udi": "umb://element/174a1fbe5432452185b4e9857b336002"
    },
    {
      "contentTypeKey": "e1e65f18-85b3-4acd-a121-705186a2f051",
      "udi": "umb://element/97411b4aeac24e3f9cd5f5a4167f5f47"
    },
    {
      "blacklistedPages": "",
      "contentTypeKey": "0db862e7-290b-4b61-9ea7-f898a07a75a2",
      "navigationRoot": [
        {
          "udi": "umb://document/f3f20d48833043849a5649504200791e"
        }
      ],
      "udi": "umb://element/0a9ea8b72f974a72a5d3444cb2cdbab9"
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "text": {
        "markup": "<p>This component allows you to display an expanded side navigation menu. It uses the current page you are on combined with the root navigation node that you have inputted in order to expand the path through the menu that has been taken as well as any children of the current page you are on.</p>\n<p>If there are pages that you wish to exclude from the navigation menu then you can select them in the 'Blacklisted pages' section of the component.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/928c0f4fc3ac4012ae80ee5acc141dfd"
    }
  ],
  "settingsData": [
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/c053d0e97dae46f3a0cd71818ca5a9f3"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/b61730b403c14b868e33af9189f1ec7f"
    },
    {
      "contentTypeKey": "53edb934-ee79-4ff0-b23a-84b91e9fef7a",
      "cssClassesForRow": "",
      "stackColumns": "",
      "udi": "umb://element/544d1892bc534075ab8711293b121b0a"
    },
    {
      "contentTypeKey": "9bafd622-e42d-4c69-8a1c-595755f6fd93",
      "cssClasses": "",
      "udi": "umb://element/359729a09e54496abe168bb0d2bb18af"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/5f11bff7985e413b94176caa5ff11ec3"
    }
  ]
}]]></Value>
    </grid>
  </Properties>
</Content>