<?xml version="1.0" encoding="utf-8"?>
<Content Key="5d7d805d-fd71-41fe-81a5-1c5ac240639e" Alias="Side navigation great grandchild 1" Level="5">
  <Info>
    <Parent Key="27ac0d2b-835d-4187-9cdb-912a9fed194d">Side navigation grandchild 2</Parent>
    <Path>/Home/SideNavigation/SideNavigationChild2/SideNavigationGrandchild2/SideNavigationGreatGrandchild1</Path>
    <Trashed>false</Trashed>
    <ContentType>sideNavigation</ContentType>
    <CreateDate>2025-07-08T13:58:01</CreateDate>
    <NodeName Default="Side navigation great grandchild 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="586b1ce1-f3ba-460e-bcb4-ca855badae35">SideNavigation</Template>
  </Info>
  <Properties>
    <grid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/9424107c706946d1b92c2f609ee2f683",
        "settingsUdi": "umb://element/1c669cf61b2c43c1910ea9f8c349a442",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/d796352544504615ac33c9cbb0fd53eb",
        "settingsUdi": "umb://element/22701e2283ac4b88b675a7c41d514703",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/3872ca3ed4b84deda38d1134793a2d87",
        "settingsUdi": "umb://element/f55362b2b1c343cb9c890132891d6032",
        "areas": [
          {
            "key": "02d9bce3-9e7a-417e-8cc1-8ddc22d398aa",
            "items": [
              {
                "contentUdi": "umb://element/632d55e7267849138ac2969c27c780e1",
                "settingsUdi": "umb://element/8178003d874b420197dabed145217c0d",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "e922b963-dc92-4b0f-a253-c9ddc8932e0a",
            "items": [
              {
                "contentUdi": "umb://element/0fed306256894576b4f7e497689b2040",
                "settingsUdi": "umb://element/6770275bbc824202b2633a20974a7cfa",
                "areas": [],
                "columnSpan": 8,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "caption": "Example application in Umbraco",
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "udi": "umb://element/9424107c706946d1b92c2f609ee2f683"
    },
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "text": "",
      "udi": "umb://element/d796352544504615ac33c9cbb0fd53eb"
    },
    {
      "contentTypeKey": "e1e65f18-85b3-4acd-a121-705186a2f051",
      "udi": "umb://element/3872ca3ed4b84deda38d1134793a2d87"
    },
    {
      "blacklistedPages": "",
      "contentTypeKey": "0db862e7-290b-4b61-9ea7-f898a07a75a2",
      "navigationRoot": [
        {
          "udi": "umb://document/f3f20d48833043849a5649504200791e"
        }
      ],
      "udi": "umb://element/632d55e7267849138ac2969c27c780e1"
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "text": {
        "markup": "<p>This component allows you to display an expanded side navigation menu. It uses the current page you are on combined with the root navigation node that you have inputted in order to expand the path through the menu that has been taken as well as any children of the current page you are on.</p>\n<p>If there are pages that you wish to exclude from the navigation menu then you can select them in the 'Blacklisted pages' section of the component.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/0fed306256894576b4f7e497689b2040"
    }
  ],
  "settingsData": [
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/1c669cf61b2c43c1910ea9f8c349a442"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/22701e2283ac4b88b675a7c41d514703"
    },
    {
      "contentTypeKey": "53edb934-ee79-4ff0-b23a-84b91e9fef7a",
      "cssClassesForRow": "",
      "stackColumns": "",
      "udi": "umb://element/f55362b2b1c343cb9c890132891d6032"
    },
    {
      "contentTypeKey": "9bafd622-e42d-4c69-8a1c-595755f6fd93",
      "cssClasses": "",
      "udi": "umb://element/8178003d874b420197dabed145217c0d"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/6770275bbc824202b2633a20974a7cfa"
    }
  ]
}]]></Value>
    </grid>
  </Properties>
</Content>