<?xml version="1.0" encoding="utf-8"?>
<Content Key="1a5fd28c-9e8f-45c4-8990-bd986710d146" Alias="Side navigation child 1" Level="3">
  <Info>
    <Parent Key="f3f20d48-8330-4384-9a56-49504200791e">Side navigation</Parent>
    <Path>/Home/SideNavigation/SideNavigationChild1</Path>
    <Trashed>false</Trashed>
    <ContentType>sideNavigation</ContentType>
    <CreateDate>2025-07-08T13:10:22</CreateDate>
    <NodeName Default="Side navigation child 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="586b1ce1-f3ba-460e-bcb4-ca855badae35">SideNavigation</Template>
  </Info>
  <Properties>
    <grid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/174a1fbe5432452185b4e9857b336002",
        "settingsUdi": "umb://element/b61730b403c14b868e33af9189f1ec7f",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/eb305b2d293646938fded5b32729e503",
        "settingsUdi": "umb://element/c053d0e97dae46f3a0cd71818ca5a9f3",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/cc65f4a52d8947539e0e64c200dec707",
        "settingsUdi": "umb://element/51522329013e462ea97c499e942d27cb",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "text": "",
      "udi": "umb://element/eb305b2d293646938fded5b32729e503"
    },
    {
      "caption": "Example application in Umbraco",
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "udi": "umb://element/174a1fbe5432452185b4e9857b336002"
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "text": {
        "markup": "<p>This view component allows you to display an expanded side navigation menu. It uses the current page you are on combined with the root navigation node that you have inputted in order to expand the path through the menu that has been taken as well as any children of the current page you are on.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/cc65f4a52d8947539e0e64c200dec707"
    }
  ],
  "settingsData": [
    {
      "columnSize": [
        "full"
      ],
      "columnSizeFromDesktop": "",
      "contentTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/c053d0e97dae46f3a0cd71818ca5a9f3"
    },
    {
      "columnSize": [
        "full"
      ],
      "columnSizeFromDesktop": "",
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/b61730b403c14b868e33af9189f1ec7f"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": [
        "full"
      ],
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/51522329013e462ea97c499e942d27cb"
    }
  ]
}]]></Value>
    </grid>
  </Properties>
</Content>