<?xml version="1.0" encoding="utf-8"?>
<Content Key="7ebf39a4-dbdd-454b-92e4-6e544af2a411" Alias="Success" Level="2">
  <Info>
    <Parent Key="5e682cbe-b867-491a-955f-3382446d5663">Home</Parent>
    <Path>/Home/Success</Path>
    <Trashed>false</Trashed>
    <ContentType>panel</ContentType>
    <CreateDate>2022-05-09T11:59:46</CreateDate>
    <NodeName Default="Success" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1778d369-abf1-4b94-a1f7-1ea835c53459">Panel</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/923a9ee0c3df45e781465e7594979dc2",
        "settingsUdi": "umb://element/d6c0c47225a441d9b629a5dbcad928cf"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "6a472e93-8a46-4791-a387-bde834d619cf",
      "udi": "umb://element/923a9ee0c3df45e781465e7594979dc2",
      "panelHeading": "Success",
      "panelText": "<p>Use the <a href=\"https://design-system.service.gov.uk/components/panel/\">panel component</a> to display important information when a transaction has been completed.</p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "46f4e57b-7357-44c0-bd4c-295b9edee4c1",
      "udi": "umb://element/d6c0c47225a441d9b629a5dbcad928cf",
      "headingLevel": "[\"Heading 2\"]"
    }
  ]
}]]></Value>
    </blocks>
  </Properties>
</Content>