<?xml version="1.0" encoding="utf-8"?>
<Content Key="27bfc8bb-7566-47e1-8506-c63fb5813f29" Alias="Task list" Level="2">
  <Info>
    <Parent Key="5e682cbe-b867-491a-955f-3382446d5663">Home</Parent>
    <Path>/Home/TaskList</Path>
    <Trashed>false</Trashed>
    <ContentType>taskList</ContentType>
    <CreateDate>2022-12-16T17:58:16</CreateDate>
    <NodeName Default="Task list" />
    <SortOrder>21</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6b50a146-6376-4f2a-afd2-0363093a487f">TaskList</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e53f029ba49e4884905c2544ce461a21",
        "settingsUdi": "umb://element/b90b1e6fb62a43279f1aacb87a10d020"
      },
      {
        "contentUdi": "umb://element/eb689ff1429e4b5e840b32c332fdef1f",
        "settingsUdi": "umb://element/d765a44f98e8451aba5eefe22f0c86a2"
      },
      {
        "contentUdi": "umb://element/42afc209643f4f55be5a5f4be4e6d3d4",
        "settingsUdi": "umb://element/b8fc4a5744e3481682a572ec4e71484d"
      },
      {
        "contentUdi": "umb://element/c7e5fdcd5e1147d8b784c458a6b4dfba",
        "settingsUdi": "umb://element/601cefadda5d4990a9b2954de8441264"
      },
      {
        "contentUdi": "umb://element/e10307a5c7ef470996f2b63d3fb97c23",
        "settingsUdi": "umb://element/a635f43061c4441dbdf7ad17e9f219d1"
      },
      {
        "contentUdi": "umb://element/d3d9b7a9c9a84944af300000a246a7c0",
        "settingsUdi": "umb://element/1ce5acd442984da4b46b1b2e69dcf730"
      },
      {
        "contentUdi": "umb://element/92e8eafc60934f838f9d214d20cf6053",
        "settingsUdi": "umb://element/7435cdba5e9043d9babf75d6c805044a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "udi": "umb://element/eb689ff1429e4b5e840b32c332fdef1f"
    },
    {
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "udi": "umb://element/e53f029ba49e4884905c2544ce461a21",
      "caption": "Example application in Umbraco"
    },
    {
      "contentTypeKey": "32224cf2-f160-4c74-9c07-ed918b263c75",
      "udi": "umb://element/42afc209643f4f55be5a5f4be4e6d3d4",
      "incompleteStatus": "",
      "completedStatus": "",
      "tracker": ""
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "udi": "umb://element/c7e5fdcd5e1147d8b784c458a6b4dfba",
      "text": "<h2 class=\"govuk-heading-m\">Section 1</h2>"
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "udi": "umb://element/d3d9b7a9c9a84944af300000a246a7c0",
      "text": "<h2 class=\"govuk-heading-m\">Section 2</h2>"
    },
    {
      "contentTypeKey": "405470f7-9d54-4891-91c9-2efa8dec0833",
      "udi": "umb://element/e10307a5c7ef470996f2b63d3fb97c23",
      "tasks": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/12e95889b5504284981095a61c8b8868",
              "settingsUdi": "umb://element/bab17a84a7fb4a3f98c7c62ca24ed6b5"
            },
            {
              "contentUdi": "umb://element/643935631b4146e2b640e4132580a026",
              "settingsUdi": "umb://element/59ad6b4519614f2bac5f1673e62ab178"
            },
            {
              "contentUdi": "umb://element/d299b34cca2e47079734a25d20cc9009",
              "settingsUdi": "umb://element/13b1896f2f094ccb96daeecd8e9033d1"
            },
            {
              "contentUdi": "umb://element/c60729da6f94405cb466849a4c4819f1",
              "settingsUdi": "umb://element/244c69a212b34b97bafb8331f29a69bd"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "28cfc6cc-1e02-4d9e-8232-b2f921026042",
            "udi": "umb://element/12e95889b5504284981095a61c8b8868",
            "taskName": "Thing to do",
            "hint": "",
            "link": [
              {
                "name": "#",
                "url": "#"
              }
            ]
          },
          {
            "contentTypeKey": "28cfc6cc-1e02-4d9e-8232-b2f921026042",
            "udi": "umb://element/643935631b4146e2b640e4132580a026",
            "taskName": "Another thing to do",
            "link": [
              {
                "name": "#",
                "url": "#"
              }
            ],
            "hint": ""
          },
          {
            "contentTypeKey": "28cfc6cc-1e02-4d9e-8232-b2f921026042",
            "udi": "umb://element/d299b34cca2e47079734a25d20cc9009",
            "taskName": "Yet another thing to do",
            "link": [
              {
                "name": "#",
                "url": "#"
              }
            ],
            "hint": "<p>This thing has an <strong>important deadline</strong> you need to know about. It is set to 'Completed' by code in <em>TaskListController.</em></p>"
          },
          {
            "contentTypeKey": "28cfc6cc-1e02-4d9e-8232-b2f921026042",
            "udi": "umb://element/c60729da6f94405cb466849a4c4819f1",
            "taskName": "More work to do",
            "link": [
              {
                "name": "#",
                "url": "#"
              }
            ]
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "dac47aa8-2d8c-4024-8b72-118d15916b4c",
            "udi": "umb://element/bab17a84a7fb4a3f98c7c62ca24ed6b5",
            "cssClasses": "",
            "status": [
              "Not started"
            ]
          },
          {
            "contentTypeKey": "dac47aa8-2d8c-4024-8b72-118d15916b4c",
            "udi": "umb://element/59ad6b4519614f2bac5f1673e62ab178",
            "status": [
              "Incomplete"
            ]
          },
          {
            "contentTypeKey": "dac47aa8-2d8c-4024-8b72-118d15916b4c",
            "udi": "umb://element/13b1896f2f094ccb96daeecd8e9033d1",
            "status": "",
            "cssClasses": "yet-another-thing"
          },
          {
            "contentTypeKey": "dac47aa8-2d8c-4024-8b72-118d15916b4c",
            "udi": "umb://element/244c69a212b34b97bafb8331f29a69bd",
            "status": [
              "Not started"
            ],
            "statusText": "Unconfirmed"
          }
        ]
      }
    },
    {
      "contentTypeKey": "405470f7-9d54-4891-91c9-2efa8dec0833",
      "udi": "umb://element/92e8eafc60934f838f9d214d20cf6053",
      "tasks": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/6a28428957c846d595fbbf0e23e72801",
              "settingsUdi": "umb://element/124192a8816f4e22ba6c9119fa461a44"
            },
            {
              "contentUdi": "umb://element/d329097b093f4f4daa290b1c947b774f",
              "settingsUdi": "umb://element/ef7c5dd9c00a485d8a9e7e25cde9bf27"
            },
            {
              "contentUdi": "umb://element/70695cfa02d64b14b8ecaa7ecb199160",
              "settingsUdi": "umb://element/5529a38641f84c8b8dd3b1401f50f502"
            },
            {
              "contentUdi": "umb://element/d0542d0269374aaaa1110d3a03b6126b",
              "settingsUdi": "umb://element/33de544ce8664d58ba6830f248b4a120"
            },
            {
              "contentUdi": "umb://element/a0d0a88cc2b0410892303e013b47f899",
              "settingsUdi": "umb://element/affcce441152488f8de9119713e11aaa"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "28cfc6cc-1e02-4d9e-8232-b2f921026042",
            "udi": "umb://element/6a28428957c846d595fbbf0e23e72801",
            "taskName": "Thing to do (no status)",
            "link": [
              {
                "name": "#",
                "url": "#"
              }
            ],
            "hint": ""
          },
          {
            "contentTypeKey": "28cfc6cc-1e02-4d9e-8232-b2f921026042",
            "udi": "umb://element/70695cfa02d64b14b8ecaa7ecb199160",
            "taskName": "You can't do this (link removed due to status)",
            "link": [
              {
                "name": "#",
                "url": "#"
              }
            ],
            "hint": ""
          },
          {
            "contentTypeKey": "28cfc6cc-1e02-4d9e-8232-b2f921026042",
            "udi": "umb://element/d0542d0269374aaaa1110d3a03b6126b",
            "taskName": "You can't do this (link removed due to status)",
            "link": [
              {
                "name": "#",
                "url": "#"
              }
            ],
            "hint": ""
          },
          {
            "contentTypeKey": "28cfc6cc-1e02-4d9e-8232-b2f921026042",
            "udi": "umb://element/a0d0a88cc2b0410892303e013b47f899",
            "taskName": "You can't do this",
            "link": [
              {
                "name": "#",
                "url": "#"
              }
            ],
            "hint": ""
          },
          {
            "contentTypeKey": "28cfc6cc-1e02-4d9e-8232-b2f921026042",
            "udi": "umb://element/d329097b093f4f4daa290b1c947b774f",
            "taskName": "Thing to do (no link)",
            "link": null,
            "hint": "<p>Details about the thing</p>"
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "dac47aa8-2d8c-4024-8b72-118d15916b4c",
            "udi": "umb://element/124192a8816f4e22ba6c9119fa461a44",
            "status": ""
          },
          {
            "contentTypeKey": "dac47aa8-2d8c-4024-8b72-118d15916b4c",
            "udi": "umb://element/5529a38641f84c8b8dd3b1401f50f502",
            "status": [
              "Not applicable"
            ]
          },
          {
            "contentTypeKey": "dac47aa8-2d8c-4024-8b72-118d15916b4c",
            "udi": "umb://element/33de544ce8664d58ba6830f248b4a120",
            "status": [
              "Cannot start yet"
            ]
          },
          {
            "contentTypeKey": "dac47aa8-2d8c-4024-8b72-118d15916b4c",
            "udi": "umb://element/affcce441152488f8de9119713e11aaa",
            "status": [
              "Error"
            ]
          },
          {
            "contentTypeKey": "dac47aa8-2d8c-4024-8b72-118d15916b4c",
            "udi": "umb://element/ef7c5dd9c00a485d8a9e7e25cde9bf27",
            "status": [
              "Incomplete"
            ]
          }
        ]
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "udi": "umb://element/d765a44f98e8451aba5eefe22f0c86a2",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "cssClassesForRow": "govuk-grid-row--tpr-divider",
      "cssClasses": ""
    },
    {
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "udi": "umb://element/b90b1e6fb62a43279f1aacb87a10d020"
    },
    {
      "contentTypeKey": "41ecf378-c886-4f08-9962-7ea6e168276c",
      "udi": "umb://element/b8fc4a5744e3481682a572ec4e71484d",
      "headingLevel": "",
      "cssClasses": "",
      "columnSize": "",
      "columnSizeFromDesktop": ""
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "udi": "umb://element/601cefadda5d4990a9b2954de8441264"
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "udi": "umb://element/1ce5acd442984da4b46b1b2e69dcf730"
    },
    {
      "contentTypeKey": "51db3717-0b48-4f1d-afdd-478065a531a5",
      "udi": "umb://element/a635f43061c4441dbdf7ad17e9f219d1",
      "cssClasses": "",
      "columnSize": "",
      "columnSizeFromDesktop": ""
    },
    {
      "contentTypeKey": "51db3717-0b48-4f1d-afdd-478065a531a5",
      "udi": "umb://element/7435cdba5e9043d9babf75d6c805044a"
    }
  ]
}]]></Value>
    </blocks>
  </Properties>
</Content>