<?xml version="1.0" encoding="utf-8"?>
<Content Key="a8cfa099-8165-4cfe-b3d1-179472290d0c" Alias="Textarea" Level="2">
  <Info>
    <Parent Key="5e682cbe-b867-491a-955f-3382446d5663">Home</Parent>
    <Path>/Home/Textarea</Path>
    <Trashed>false</Trashed>
    <ContentType>textarea</ContentType>
    <CreateDate>2022-05-20T12:33:52</CreateDate>
    <NodeName Default="Textarea" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c4cd7a60-32dd-4711-9417-789f2709fdfa">Textarea</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/fa417e50089a407e98548ca9cc90ecfb"
      },
      {
        "contentUdi": "umb://element/3cd5fb392cfd4d1ca46d9dd87ffb3e81",
        "settingsUdi": "umb://element/36728dafcc304092b6bab6d5900ef65d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d118b7dc-63c6-4262-9ce9-2e823dc530f0",
      "udi": "umb://element/3cd5fb392cfd4d1ca46d9dd87ffb3e81",
      "label": "Textarea",
      "hint": "<p>This field must be full of numbers</p>"
    },
    {
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "udi": "umb://element/fa417e50089a407e98548ca9cc90ecfb",
      "caption": "GOV.UK Design System"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "5f3e3369-43cf-47c2-bb76-60055518ae05",
      "udi": "umb://element/36728dafcc304092b6bab6d5900ef65d",
      "modelProperty": "Field1",
      "cssClasses": "test-class",
      "errorMessageRequired": "This textarea is required",
      "errorMessageRegex": "Field must be only numbers",
      "errorMessageMinLength": "Must be 10 or more characters",
      "rows": 10,
      "labelIsPageHeading": 1
    }
  ]
}]]></Value>
    </blocks>
    <buttonText>
      <Value><![CDATA[Submit]]></Value>
    </buttonText>
    <nextPage>
      <Value><![CDATA[umb://document/7ebf39a4dbdd454b92e46e544af2a411]]></Value>
    </nextPage>
  </Properties>
</Content>