<?xml version="1.0" encoding="utf-8"?>
<Content Key="acbabf45-7b3e-4b53-a825-f7b6185f8840" Alias="Text input" Level="2">
  <Info>
    <Parent Key="5e682cbe-b867-491a-955f-3382446d5663">Home</Parent>
    <Path>/Home/TextInput</Path>
    <Trashed>false</Trashed>
    <ContentType>textInput</ContentType>
    <CreateDate>2022-05-09T12:10:34</CreateDate>
    <NodeName Default="Text input" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0a66e2cb-3b8b-4d3d-a505-59be1cb90741">TextInput</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8d659f0e87e34c9abca245f74a742b03"
      },
      {
        "contentUdi": "umb://element/0b5bc6c11fd648fcbb36d8118992ff76"
      },
      {
        "contentUdi": "umb://element/a56df29a4f9c4de585ab9f66ae6d4793",
        "settingsUdi": "umb://element/dc0429011f5046e29ceb06d18bf87578"
      },
      {
        "contentUdi": "umb://element/7104d32f5dc8451db63e13e666cdaa69",
        "settingsUdi": "umb://element/a09ff088e31249869e54eccc508a4792"
      },
      {
        "contentUdi": "umb://element/08866251b103453c9b57c0535d133a94",
        "settingsUdi": "umb://element/bcc8f1ab9c1c4ec6a9b9d5172b332d31"
      },
      {
        "contentUdi": "umb://element/4bc630cedaef40b3982ea7d0f24cf9c0",
        "settingsUdi": "umb://element/2ddf49cd04b04fb8b23c4fbac59cd187"
      },
      {
        "contentUdi": "umb://element/74ec66eead144ab0887ad079b37c7003",
        "settingsUdi": "umb://element/9699b0eaf3ec411e89e9b844e1cae684"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "fe2dd0de-55a9-4249-be03-6896aa719974",
      "udi": "umb://element/a56df29a4f9c4de585ab9f66ae6d4793",
      "label": "Field label",
      "hint": "<p>This field must be numeric, and between 5 and 20 characters</p>"
    },
    {
      "contentTypeKey": "fe2dd0de-55a9-4249-be03-6896aa719974",
      "udi": "umb://element/7104d32f5dc8451db63e13e666cdaa69",
      "label": "Another field",
      "hint": "<p>This must be the same as the first, like confirming an email address</p>"
    },
    {
      "contentTypeKey": "fe2dd0de-55a9-4249-be03-6896aa719974",
      "udi": "umb://element/08866251b103453c9b57c0535d133a94",
      "label": "Email address",
      "hint": "<p>This field be an email address between 5 and 100 characters</p>"
    },
    {
      "contentTypeKey": "fe2dd0de-55a9-4249-be03-6896aa719974",
      "udi": "umb://element/4bc630cedaef40b3982ea7d0f24cf9c0",
      "label": "Range validation",
      "hint": "<p>This must be a number between 5 and 50</p>"
    },
    {
      "contentTypeKey": "fe2dd0de-55a9-4249-be03-6896aa719974",
      "udi": "umb://element/74ec66eead144ab0887ad079b37c7003",
      "label": "Credit card"
    },
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "udi": "umb://element/0b5bc6c11fd648fcbb36d8118992ff76"
    },
    {
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "udi": "umb://element/8d659f0e87e34c9abca245f74a742b03",
      "caption": "GOV.UK Design System"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "98070ce9-d528-4bfc-bd90-e411e5110f56",
      "udi": "umb://element/dc0429011f5046e29ceb06d18bf87578",
      "errorMessageRequired": "This field is required",
      "errorMessageRegex": "Field must be only numbers",
      "errorMessageLength": "String length must be between 5 and 20",
      "errorMessageCompare": "Fields must be the same",
      "modelProperty": "Field1"
    },
    {
      "contentTypeKey": "98070ce9-d528-4bfc-bd90-e411e5110f56",
      "udi": "umb://element/a09ff088e31249869e54eccc508a4792",
      "modelProperty": "Field2"
    },
    {
      "contentTypeKey": "98070ce9-d528-4bfc-bd90-e411e5110f56",
      "udi": "umb://element/bcc8f1ab9c1c4ec6a9b9d5172b332d31",
      "modelProperty": "Field3",
      "errorMessageEmail": "Email address must include @",
      "errorMessageMinLength": "Must be 5 or more characters",
      "errorMessageMaxLength": "Must be 100 or fewer characters"
    },
    {
      "contentTypeKey": "98070ce9-d528-4bfc-bd90-e411e5110f56",
      "udi": "umb://element/2ddf49cd04b04fb8b23c4fbac59cd187",
      "modelProperty": "Field4",
      "cssClasses": "govuk-input--width-3",
      "errorMessageLength": null,
      "errorMessageRange": "Must be a number between 5 and 50"
    },
    {
      "contentTypeKey": "98070ce9-d528-4bfc-bd90-e411e5110f56",
      "udi": "umb://element/9699b0eaf3ec411e89e9b844e1cae684",
      "modelProperty": "Field5",
      "errorMessageCreditCard": "Must be a credit card number"
    }
  ]
}]]></Value>
    </blocks>
    <buttonText>
      <Value><![CDATA[Submit]]></Value>
    </buttonText>
    <nextPage>
      <Value><![CDATA[umb://document/7ebf39a4dbdd454b92e46e544af2a411]]></Value>
    </nextPage>
  </Properties>
</Content>