<?xml version="1.0" encoding="utf-8"?>
<Content Key="a8cfa099-8165-4cfe-b3d1-179472290d0c" Alias="Textarea" Level="2">
  <Info>
    <Parent Key="5e682cbe-b867-491a-955f-3382446d5663">Home</Parent>
    <Path>/Home/Textarea</Path>
    <Trashed>false</Trashed>
    <ContentType>textarea</ContentType>
    <CreateDate>2022-05-20T12:33:52</CreateDate>
    <NodeName Default="Textarea">
      <Name Culture="cy">Ardaltestun</Name>
      <Name Culture="en-gb">Textarea</Name>
    </NodeName>
    <SortOrder>17</SortOrder>
    <Published Default="true">
      <Published Culture="cy">true</Published>
      <Published Culture="en-gb">true</Published>
    </Published>
    <Schedule />
    <Template Key="c4cd7a60-32dd-4711-9417-789f2709fdfa">Textarea</Template>
  </Info>
  <Properties>
    <blocks>
      <Value Culture="cy"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9b83efd2a6ec4d20832d293e83d28fa3",
        "settingsUdi": "umb://element/d6f8131fdca24d2a9bc58200044a3b11"
      },
      {
        "contentUdi": "umb://element/c94eab565d714e668429a32ee5a3dd2e",
        "settingsUdi": "umb://element/2c429d9618ae4de5966079365e6adc7c"
      },
      {
        "contentUdi": "umb://element/c72972a2ea27427182a34a3dc534c7a0",
        "settingsUdi": "umb://element/2f58a753270b4ec58193c35289ae4654"
      },
      {
        "contentUdi": "umb://element/5adba097fbd345aeac5fd4a60f1e625c",
        "settingsUdi": "umb://element/e9aa764c1fdb4616bfd00962f266bb77"
      },
      {
        "contentUdi": "umb://element/0c7c6b53ee46476799728bd9475f229b",
        "settingsUdi": "umb://element/37dd73ef9d2b43ac9a67e078d956e82f"
      },
      {
        "contentUdi": "umb://element/5adb4d087a5a4ef2b9a891ef2b54458a",
        "settingsUdi": "umb://element/b77b03c2b6b34d5c9e3bee6d0d3028d3"
      },
      {
        "contentUdi": "umb://element/c12dfb7b7e064e03a28ba929923a4309",
        "settingsUdi": "umb://element/73228db7b0b243b4a87984cb9b2ccc5a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "7b79c9f1-4f4d-4c9b-915e-8f364bc86830",
      "udi": "umb://element/9b83efd2a6ec4d20832d293e83d28fa3",
      "title": ""
    },
    {
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "udi": "umb://element/c94eab565d714e668429a32ee5a3dd2e",
      "caption": "Enghraifft o gais yn Umbraco"
    },
    {
      "contentTypeKey": "d118b7dc-63c6-4262-9ce9-2e823dc530f0",
      "udi": "umb://element/c72972a2ea27427182a34a3dc534c7a0",
      "label": " Ardal Testun",
      "hint": {
        "markup": "<p>Mae gan yr ardal destun hon y label wedi'i osod fel pennawd y dudalen, y dylid ei ddefnyddio pan mai'r mewnbwn testun yw'r unig gwestiwn ar y dudalen.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "d118b7dc-63c6-4262-9ce9-2e823dc530f0",
      "udi": "umb://element/5adba097fbd345aeac5fd4a60f1e625c",
      "label": "Testun arall, ond nid pennawd y dudalen yw'r label",
      "hint": {
        "markup": "<p>Rhaid i'r maes hwn fod yn llawn rhifau</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "d118b7dc-63c6-4262-9ce9-2e823dc530f0",
      "udi": "umb://element/0c7c6b53ee46476799728bd9475f229b",
      "label": "Cyfrif cymeriad",
      "hint": {
        "markup": "<p><br>Mae gan hyn derfyn cymeriad 100</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "d118b7dc-63c6-4262-9ce9-2e823dc530f0",
      "udi": "umb://element/5adb4d087a5a4ef2b9a891ef2b54458a",
      "label": "Mae'r maes testun hwn yn ddarllenadwy yn unig",
      "hint": {
        "markup": "<p>Ni roddir dilysiad i'r enghraifft hon.</p>\n<p>Mae'r opsiynau cyfrif darllen yn unig a chymeriad yn annibynnol ar ei gilydd, gan nad yw'n gwneud synnwyr cael cyfrif cymeriad deinamig ar faes darllen yn unig.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "35584ae7-feb5-4de8-9008-5d2d8cfb34ce",
      "udi": "umb://element/c12dfb7b7e064e03a28ba929923a4309",
      "text": "Cynnig"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "ec4a6e3f-a6a8-4c8a-9d4c-d3e90399ac2c",
      "udi": "umb://element/d6f8131fdca24d2a9bc58200044a3b11",
      "cssClasses": "",
      "cssClassesForRow": "",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "cssClassesForColumn": ""
    },
    {
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "udi": "umb://element/2c429d9618ae4de5966079365e6adc7c",
      "cssClasses": "",
      "cssClassesForRow": "",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "cssClassesForColumn": ""
    },
    {
      "contentTypeKey": "5f3e3369-43cf-47c2-bb76-60055518ae05",
      "udi": "umb://element/2f58a753270b4ec58193c35289ae4654",
      "labelIsPageHeading": "1",
      "modelProperty": "Field1",
      "showCharacterCount": "0",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "cssClassesForRow": "govuk-grid-row--tpr-divider-for-label-as-heading",
      "readOnly": "0",
      "rows": "",
      "cssClasses": "",
      "errorMessageRequired": "",
      "errorMessageEmail": "",
      "errorMessagePhone": "",
      "characterCountThreshold": "",
      "errorMessageRegex": "",
      "errorMessageMinLength": "",
      "errorMessageMaxLength": "",
      "errorMessageLength": "",
      "errorMessageRange": "",
      "errorMessageCompare": "",
      "customError1": "",
      "customError2": "",
      "customError3": "",
      "cssClassesForColumn": ""
    },
    {
      "contentTypeKey": "5f3e3369-43cf-47c2-bb76-60055518ae05",
      "udi": "umb://element/e9aa764c1fdb4616bfd00962f266bb77",
      "modelProperty": "Field2",
      "cssClasses": "",
      "errorMessageRequired": "Mae angen y maes testun hwn",
      "errorMessageRegex": "Rhaid i'r maes fod yn rhifau yn unig",
      "errorMessageMinLength": "Rhaid bod yn 10 neu fwy o gymeriadau",
      "rows": "10",
      "labelIsPageHeading": "0",
      "showCharacterCount": "0",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "readOnly": "0",
      "errorMessageEmail": "",
      "errorMessagePhone": "",
      "characterCountThreshold": "",
      "errorMessageMaxLength": "",
      "errorMessageLength": "",
      "errorMessageRange": "",
      "errorMessageCompare": "",
      "customError1": "",
      "customError2": "",
      "customError3": "",
      "cssClassesForRow": "",
      "cssClassesForColumn": ""
    },
    {
      "contentTypeKey": "5f3e3369-43cf-47c2-bb76-60055518ae05",
      "udi": "umb://element/37dd73ef9d2b43ac9a67e078d956e82f",
      "labelIsPageHeading": "0",
      "modelProperty": "Field3",
      "showCharacterCount": "1",
      "errorMessageMaxLength": "Rhaid iddo fod yn 100 nod uchaf",
      "characterCountThreshold": "",
      "cssClasses": "",
      "cssClassesForRow": "",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "readOnly": "0",
      "rows": "",
      "errorMessageRequired": "",
      "errorMessageEmail": "",
      "errorMessagePhone": "",
      "errorMessageRegex": "",
      "errorMessageMinLength": "",
      "errorMessageLength": "",
      "errorMessageRange": "",
      "errorMessageCompare": "",
      "customError1": "",
      "customError2": "",
      "customError3": "",
      "cssClassesForColumn": ""
    },
    {
      "contentTypeKey": "5f3e3369-43cf-47c2-bb76-60055518ae05",
      "udi": "umb://element/b77b03c2b6b34d5c9e3bee6d0d3028d3",
      "labelIsPageHeading": "0",
      "readOnly": "1",
      "showCharacterCount": "0",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "cssClassesForRow": "govuk-grid-row--tpr-divider",
      "modelProperty": "",
      "rows": "",
      "cssClasses": "",
      "errorMessageRequired": "",
      "errorMessageEmail": "",
      "errorMessagePhone": "",
      "characterCountThreshold": "",
      "errorMessageRegex": "",
      "errorMessageMinLength": "",
      "errorMessageMaxLength": "",
      "errorMessageLength": "",
      "errorMessageRange": "",
      "errorMessageCompare": "",
      "customError1": "",
      "customError2": "",
      "customError3": "",
      "cssClassesForColumn": ""
    },
    {
      "contentTypeKey": "e683e885-8aa0-4bdd-9eff-56966f353540",
      "udi": "umb://element/73228db7b0b243b4a87984cb9b2ccc5a",
      "preventDoubleClick": "0",
      "modelProperty": "",
      "typeOfButton": "",
      "styleOfButton": "",
      "disabled": "0",
      "cssClasses": "",
      "cssClassesForRow": "",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "cssClassesForColumn": ""
    }
  ]
}]]></Value>
      <Value Culture="en-gb"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d80a2ac306c844cdbe063e054050618d",
        "settingsUdi": "umb://element/aec66be36939435187c64dee174f9863"
      },
      {
        "contentUdi": "umb://element/fa417e50089a407e98548ca9cc90ecfb",
        "settingsUdi": "umb://element/2b6e816430be4b92b23fb9ad09e51ae2"
      },
      {
        "contentUdi": "umb://element/032b514f570d4326a4b0f14de38df472",
        "settingsUdi": "umb://element/b2d347df5ea54e39b33a7bc4e73c1369"
      },
      {
        "contentUdi": "umb://element/3cd5fb392cfd4d1ca46d9dd87ffb3e81",
        "settingsUdi": "umb://element/36728dafcc304092b6bab6d5900ef65d"
      },
      {
        "contentUdi": "umb://element/b402caf2ca8547d593888165814c79eb",
        "settingsUdi": "umb://element/d1f451dc672d46a4a14d4a4ddcf0e78b"
      },
      {
        "contentUdi": "umb://element/61e1781963d1400d94043ac1ea6ce2dd",
        "settingsUdi": "umb://element/c502a279c53a4fc29533ba40d3b4d3ae"
      },
      {
        "contentUdi": "umb://element/00f03845006b4b8b8a12a66920296755",
        "settingsUdi": "umb://element/0840128459a44aa5b112901f1ffe258c"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d118b7dc-63c6-4262-9ce9-2e823dc530f0",
      "udi": "umb://element/3cd5fb392cfd4d1ca46d9dd87ffb3e81",
      "label": "Another textarea, but the label is not the page heading",
      "hint": {
        "markup": "<p>This field must be full of numbers</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "udi": "umb://element/fa417e50089a407e98548ca9cc90ecfb",
      "caption": "Example application in Umbraco"
    },
    {
      "contentTypeKey": "d118b7dc-63c6-4262-9ce9-2e823dc530f0",
      "udi": "umb://element/b402caf2ca8547d593888165814c79eb",
      "label": "Character count",
      "hint": {
        "markup": "<p>This has a 100 character limit</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "35584ae7-feb5-4de8-9008-5d2d8cfb34ce",
      "udi": "umb://element/00f03845006b4b8b8a12a66920296755",
      "text": "Submit"
    },
    {
      "contentTypeKey": "7b79c9f1-4f4d-4c9b-915e-8f364bc86830",
      "udi": "umb://element/d80a2ac306c844cdbe063e054050618d",
      "title": ""
    },
    {
      "contentTypeKey": "d118b7dc-63c6-4262-9ce9-2e823dc530f0",
      "udi": "umb://element/032b514f570d4326a4b0f14de38df472",
      "label": "Textarea",
      "hint": {
        "markup": "<p>This textarea has the label set as the page heading, which should be used when the text input is the only question on the page.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "d118b7dc-63c6-4262-9ce9-2e823dc530f0",
      "udi": "umb://element/61e1781963d1400d94043ac1ea6ce2dd",
      "label": "This textarea is read-only",
      "hint": {
        "markup": "<p>No validation is applied to this example.</p>\n<p>The read-only and character count options are mutually exclusive, since it does not make sense to have a dynamic character count on a read-only field.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "5f3e3369-43cf-47c2-bb76-60055518ae05",
      "udi": "umb://element/36728dafcc304092b6bab6d5900ef65d",
      "modelProperty": "Field2",
      "cssClasses": "",
      "errorMessageRequired": "This textarea is required",
      "errorMessageRegex": "Field must be only numbers",
      "errorMessageMinLength": "Must be 10 or more characters",
      "rows": "10",
      "labelIsPageHeading": "0",
      "showCharacterCount": "0",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "readOnly": "",
      "errorMessageEmail": "",
      "errorMessagePhone": "",
      "characterCountThreshold": "",
      "errorMessageMaxLength": "",
      "errorMessageLength": "",
      "errorMessageRange": "",
      "errorMessageCompare": "",
      "customError1": "",
      "customError2": "",
      "customError3": "",
      "cssClassesForRow": "",
      "cssClassesForColumn": ""
    },
    {
      "contentTypeKey": "5f3e3369-43cf-47c2-bb76-60055518ae05",
      "udi": "umb://element/d1f451dc672d46a4a14d4a4ddcf0e78b",
      "labelIsPageHeading": "0",
      "modelProperty": "Field3",
      "showCharacterCount": "1",
      "errorMessageMaxLength": "Must be 100 characters maximum",
      "characterCountThreshold": "",
      "cssClasses": "",
      "cssClassesForRow": "",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "readOnly": "0",
      "rows": "",
      "errorMessageRequired": "",
      "errorMessageEmail": "",
      "errorMessagePhone": "",
      "errorMessageRegex": "",
      "errorMessageMinLength": "",
      "errorMessageLength": "",
      "errorMessageRange": "",
      "errorMessageCompare": "",
      "customError1": "",
      "customError2": "",
      "customError3": "",
      "cssClassesForColumn": ""
    },
    {
      "contentTypeKey": "e683e885-8aa0-4bdd-9eff-56966f353540",
      "udi": "umb://element/0840128459a44aa5b112901f1ffe258c",
      "preventDoubleClick": "",
      "modelProperty": "",
      "typeOfButton": "",
      "styleOfButton": "",
      "disabled": "",
      "cssClasses": "",
      "cssClassesForRow": "",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "cssClassesForColumn": ""
    },
    {
      "contentTypeKey": "ec4a6e3f-a6a8-4c8a-9d4c-d3e90399ac2c",
      "udi": "umb://element/aec66be36939435187c64dee174f9863",
      "cssClasses": "",
      "cssClassesForRow": "",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "cssClassesForColumn": ""
    },
    {
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "udi": "umb://element/2b6e816430be4b92b23fb9ad09e51ae2",
      "cssClasses": "",
      "cssClassesForRow": "",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "cssClassesForColumn": ""
    },
    {
      "contentTypeKey": "5f3e3369-43cf-47c2-bb76-60055518ae05",
      "udi": "umb://element/b2d347df5ea54e39b33a7bc4e73c1369",
      "labelIsPageHeading": "1",
      "modelProperty": "Field1",
      "showCharacterCount": "0",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "cssClassesForRow": "govuk-grid-row--tpr-divider-for-label-as-heading",
      "readOnly": "0",
      "rows": "",
      "cssClasses": "",
      "errorMessageRequired": "",
      "errorMessageEmail": "",
      "errorMessagePhone": "",
      "characterCountThreshold": "",
      "errorMessageRegex": "",
      "errorMessageMinLength": "",
      "errorMessageMaxLength": "",
      "errorMessageLength": "",
      "errorMessageRange": "",
      "errorMessageCompare": "",
      "customError1": "",
      "customError2": "",
      "customError3": "",
      "cssClassesForColumn": ""
    },
    {
      "contentTypeKey": "5f3e3369-43cf-47c2-bb76-60055518ae05",
      "udi": "umb://element/c502a279c53a4fc29533ba40d3b4d3ae",
      "labelIsPageHeading": "0",
      "readOnly": "1",
      "showCharacterCount": "0",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "cssClassesForRow": "govuk-grid-row--tpr-divider",
      "modelProperty": "",
      "rows": "",
      "cssClasses": "",
      "errorMessageRequired": "",
      "errorMessageEmail": "",
      "errorMessagePhone": "",
      "characterCountThreshold": "",
      "errorMessageRegex": "",
      "errorMessageMinLength": "",
      "errorMessageMaxLength": "",
      "errorMessageLength": "",
      "errorMessageRange": "",
      "errorMessageCompare": "",
      "customError1": "",
      "customError2": "",
      "customError3": "",
      "cssClassesForColumn": ""
    }
  ]
}]]></Value>
    </blocks>
    <nextPage>
      <Value Culture="cy"><![CDATA[umb://document/7ebf39a4dbdd454b92e46e544af2a411]]></Value>
      <Value Culture="en-gb"><![CDATA[umb://document/7ebf39a4dbdd454b92e46e544af2a411]]></Value>
    </nextPage>
  </Properties>
</Content>