<?xml version="1.0" encoding="utf-8"?>
<Content Key="a8cfa099-8165-4cfe-b3d1-179472290d0c" Alias="Textarea" Level="2">
  <Info>
    <Parent Key="5e682cbe-b867-491a-955f-3382446d5663">Home</Parent>
    <Path>/Home/Textarea</Path>
    <Trashed>false</Trashed>
    <ContentType>textarea</ContentType>
    <CreateDate>2022-05-20T12:33:52</CreateDate>
    <NodeName Default="Textarea" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c4cd7a60-32dd-4711-9417-789f2709fdfa">Textarea</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d80a2ac306c844cdbe063e054050618d",
        "settingsUdi": "umb://element/aec66be36939435187c64dee174f9863"
      },
      {
        "contentUdi": "umb://element/fa417e50089a407e98548ca9cc90ecfb",
        "settingsUdi": "umb://element/2b6e816430be4b92b23fb9ad09e51ae2"
      },
      {
        "contentUdi": "umb://element/8343a9d0ca134b5cbe3f874ead88d4c6",
        "settingsUdi": "umb://element/adc078c4104a423d9c6e01f966b8c289"
      },
      {
        "contentUdi": "umb://element/3cd5fb392cfd4d1ca46d9dd87ffb3e81",
        "settingsUdi": "umb://element/36728dafcc304092b6bab6d5900ef65d"
      },
      {
        "contentUdi": "umb://element/b402caf2ca8547d593888165814c79eb",
        "settingsUdi": "umb://element/d1f451dc672d46a4a14d4a4ddcf0e78b"
      },
      {
        "contentUdi": "umb://element/00f03845006b4b8b8a12a66920296755",
        "settingsUdi": "umb://element/0840128459a44aa5b112901f1ffe258c"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d118b7dc-63c6-4262-9ce9-2e823dc530f0",
      "udi": "umb://element/3cd5fb392cfd4d1ca46d9dd87ffb3e81",
      "label": "Field label",
      "hint": "<p>This field must be full of numbers</p>"
    },
    {
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "udi": "umb://element/fa417e50089a407e98548ca9cc90ecfb",
      "caption": "GOV.UK Design System"
    },
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "udi": "umb://element/8343a9d0ca134b5cbe3f874ead88d4c6"
    },
    {
      "contentTypeKey": "d118b7dc-63c6-4262-9ce9-2e823dc530f0",
      "udi": "umb://element/b402caf2ca8547d593888165814c79eb",
      "label": "Character count",
      "hint": "<p>This has a 100 character limit</p>"
    },
    {
      "contentTypeKey": "35584ae7-feb5-4de8-9008-5d2d8cfb34ce",
      "udi": "umb://element/00f03845006b4b8b8a12a66920296755",
      "text": "Submit"
    },
    {
      "contentTypeKey": "7b79c9f1-4f4d-4c9b-915e-8f364bc86830",
      "udi": "umb://element/d80a2ac306c844cdbe063e054050618d"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "5f3e3369-43cf-47c2-bb76-60055518ae05",
      "udi": "umb://element/36728dafcc304092b6bab6d5900ef65d",
      "modelProperty": "Field1",
      "cssClasses": null,
      "errorMessageRequired": "This textarea is required",
      "errorMessageRegex": "Field must be only numbers",
      "errorMessageMinLength": "Must be 10 or more characters",
      "rows": 10,
      "labelIsPageHeading": 0,
      "showCharacterCount": 0
    },
    {
      "contentTypeKey": "5f3e3369-43cf-47c2-bb76-60055518ae05",
      "udi": "umb://element/d1f451dc672d46a4a14d4a4ddcf0e78b",
      "labelIsPageHeading": 0,
      "modelProperty": "Field2",
      "showCharacterCount": 1,
      "errorMessageMaxLength": "Must be 100 characters maximum",
      "characterCountThreshold": null,
      "cssClasses": null
    },
    {
      "contentTypeKey": "e683e885-8aa0-4bdd-9eff-56966f353540",
      "udi": "umb://element/0840128459a44aa5b112901f1ffe258c"
    },
    {
      "contentTypeKey": "ec4a6e3f-a6a8-4c8a-9d4c-d3e90399ac2c",
      "udi": "umb://element/aec66be36939435187c64dee174f9863"
    },
    {
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "udi": "umb://element/2b6e816430be4b92b23fb9ad09e51ae2"
    },
    {
      "contentTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "udi": "umb://element/adc078c4104a423d9c6e01f966b8c289"
    }
  ]
}]]></Value>
    </blocks>
    <nextPage>
      <Value><![CDATA[umb://document/7ebf39a4dbdd454b92e46e544af2a411]]></Value>
    </nextPage>
  </Properties>
</Content>