<?xml version="1.0" encoding="utf-8"?>
<Content Key="de703709-beca-466a-892f-207dc7f58cb4" Alias="TPR Documents" Level="2">
  <Info>
    <Parent Key="5e682cbe-b867-491a-955f-3382446d5663">Home</Parent>
    <Path>/Home/TPRDocuments</Path>
    <Trashed>false</Trashed>
    <ContentType>TprDocumentsExamplePage</ContentType>
    <CreateDate>2025-03-18T14:35:14</CreateDate>
    <NodeName Default="TPR Documents" />
    <SortOrder>29</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8f8c69b7-aed7-4959-a729-ce7bea76ebd0">TPRDocuments</Template>
  </Info>
  <Properties>
    <grid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/0efdcf8e6a3f4524aba9644b7c860822",
        "settingsUdi": "umb://element/d01b6a11126f45b78f057bf581dd40ee",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/7b50769e02674d76a1b8ca3fe1057323",
        "settingsUdi": "umb://element/42b0a6a100bf4fddb1bfcf12bc40b431",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "udi": "umb://element/0efdcf8e6a3f4524aba9644b7c860822",
      "text": ""
    },
    {
      "contentTypeKey": "f08c68b1-f171-4941-83b2-1ededfa019ab",
      "udi": "umb://element/7b50769e02674d76a1b8ca3fe1057323",
      "documents": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/2381002dbf494c3d957d15c08d4db2cb",
              "settingsUdi": "umb://element/3f129601aec84f07a01b3dc9dd2a7b65"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "ddf26d5b-0ebd-4ec4-b89f-3b422ca7c230",
            "udi": "umb://element/2381002dbf494c3d957d15c08d4db2cb",
            "document": [
              {
                "udi": "umb://document/5e682cbeb867491a955f3382446d5663"
              }
            ],
            "datePublished": "January 2000",
            "numberOfPages": "123",
            "description": "test description"
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "9d91ea8e-b41e-4ff7-860f-187322f359c0",
            "udi": "umb://element/3f129601aec84f07a01b3dc9dd2a7b65",
            "cssClasses": ""
          }
        ]
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "udi": "umb://element/d01b6a11126f45b78f057bf581dd40ee",
      "cssClasses": "",
      "cssClassesForRow": "",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "cssClassesForColumn": ""
    },
    {
      "contentTypeKey": "d66ffc80-0d15-4056-8acc-cdc8a7e6ce1b",
      "udi": "umb://element/42b0a6a100bf4fddb1bfcf12bc40b431",
      "cssClasses": "",
      "cssClassesForRow": "",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "cssClassesForColumn": ""
    }
  ]
}]]></Value>
    </grid>
  </Properties>
</Content>