<?xml version="1.0" encoding="utf-8"?>
<Content Key="8e4e33e6-b5fa-40a2-86cd-7706fcea04ac" Alias="Typography" Level="2">
  <Info>
    <Parent Key="5e682cbe-b867-491a-955f-3382446d5663">Home</Parent>
    <Path>/Home/Typography</Path>
    <Trashed>false</Trashed>
    <ContentType>typography</ContentType>
    <CreateDate>2024-10-23T16:01:16</CreateDate>
    <NodeName Default="Typography" />
    <SortOrder>24</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4c7b5c06-9ad6-4fc4-bafd-103291b8ba8d">Typography</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/d9f263c5a379442ca3670d45445ccf92",
        "settingsUdi": "umb://element/3bb63c6115234c08aed71bb242270a9e",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/04d3231dbc1943a5a384504b4ad1a805",
        "settingsUdi": "umb://element/b7940cb237284a89915ae7ffd198b653",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/71e9f75cdd8a4eb1b2609cb4912fa37b",
        "settingsUdi": "umb://element/c3ca4ca4bd094be699940eb90ba75dbd",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "udi": "umb://element/d9f263c5a379442ca3670d45445ccf92",
      "caption": "Example application in Umbraco"
    },
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "udi": "umb://element/04d3231dbc1943a5a384504b4ad1a805",
      "text": ""
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "udi": "umb://element/71e9f75cdd8a4eb1b2609cb4912fa37b",
      "text": {
        "markup": "<p class=\"govuk-body\">This text and this application is using&nbsp;<a href=\"https://design-system.service.gov.uk/styles/typography/\" class=\"govuk-link\">GOV.UK Design System typography</a>.</p>\n<p class=\"govuk-body\">Typical pages start heading sizes at using&nbsp;<em>govuk-heading-l</em>. Where pages are expected to have deeply nested section hierarchies, we use&nbsp;<a href=\"/{localLink:umb://document/cccc7f8f877447de8f2d336d4b754377}\" class=\"govuk-link\">larger headings</a>.</p>\n<p class=\"govuk-body\">The heading above demonstrates the type scale at Heading 1, using&nbsp;<em>govuk-heading-l</em>.</p>\n<h2 class=\"govuk-heading-m\">Heading 2</h2>\n<p class=\"govuk-body\">On a typical page this is the type scale for headings.</p>\n<h3 class=\"govuk-heading-s\">Heading 3</h3>\n<p class=\"govuk-body\">On a typical page this is the type scale for headings. We would not expect to need headings beyond Heading 3.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "udi": "umb://element/3bb63c6115234c08aed71bb242270a9e",
      "cssClasses": "",
      "cssClassesForRow": "",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "cssClassesForColumn": ""
    },
    {
      "contentTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "udi": "umb://element/b7940cb237284a89915ae7ffd198b653",
      "cssClasses": "",
      "cssClassesForRow": "govuk-grid-row--tpr-divider",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "cssClassesForColumn": ""
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "udi": "umb://element/c3ca4ca4bd094be699940eb90ba75dbd",
      "cssClassesForRow": "",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "cssClassesForColumn": ""
    }
  ]
}]]></Value>
    </blocks>
    <headingScaleStart>
      <Value><![CDATA[]]></Value>
    </headingScaleStart>
  </Properties>
</Content>