<?xml version="1.0" encoding="utf-8"?>
<Content Key="0e8a5a37-7a33-41ff-8386-7099db8db229" Alias="Warning text" Level="2">
  <Info>
    <Parent Key="5e682cbe-b867-491a-955f-3382446d5663">Home</Parent>
    <Path>/Home/WarningText</Path>
    <Trashed>false</Trashed>
    <ContentType>warningText</ContentType>
    <CreateDate>2022-05-31T10:38:31</CreateDate>
    <NodeName Default="Warning text" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f67693f3-de29-4184-b0c2-929452f11e92">WarningText</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/aa905fd382684d2c8d969db1dd7b4535"
      },
      {
        "contentUdi": "umb://element/cd71d869a5ea4a14b1c6c5789fa8ea20"
      },
      {
        "contentUdi": "umb://element/781251e90fab43739001b6add4475645"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "83cb35fb-51da-45cd-913f-1b8bdfd6a1d9",
      "udi": "umb://element/781251e90fab43739001b6add4475645",
      "text": "<p>Use the <a href=\"https://design-system.service.gov.uk/components/warning-text/\">warning text</a> component when you need to warn users about something important, such as legal consequences of an action, or lack of action, that they might take.</p>",
      "iconFallbackText": ""
    },
    {
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "udi": "umb://element/aa905fd382684d2c8d969db1dd7b4535",
      "caption": "GOV.UK Design System"
    },
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "udi": "umb://element/cd71d869a5ea4a14b1c6c5789fa8ea20"
    }
  ],
  "settingsData": []
}]]></Value>
    </blocks>
  </Properties>
</Content>