<?xml version="1.0" encoding="utf-8"?>
<Content Key="571f9cd8-af6b-4104-96fb-d871cbe58ce3" Alias="YouTube video" Level="2">
  <Info>
    <Parent Key="5e682cbe-b867-491a-955f-3382446d5663">Home</Parent>
    <Path>/Home/YouTubeVideo</Path>
    <Trashed>false</Trashed>
    <ContentType>youTubeVideo</ContentType>
    <CreateDate>2025-02-05T14:18:11</CreateDate>
    <NodeName Default="YouTube video" />
    <SortOrder>30</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bf9bac3b-7af8-45c0-800a-5d379b3c34bf">YouTubeVideo</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/2568f518303c495e8e43c4de998583f4",
        "settingsUdi": "umb://element/9e16ba12c77a4a9b9d84297ab185dea8"
      },
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/96899822806a47fbbe30619876492730",
        "settingsUdi": "umb://element/725f99c896c54f709a897371afc263ed"
      },
      {
        "contentUdi": "umb://element/6e90ac7562a54ef88053407486610b19",
        "settingsUdi": "umb://element/5bf8766c12174f2f9f3b1239af189a0e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "25702e9e-d0a1-4fbc-acbf-f740fb8bebad",
      "description": "",
      "title": "Master Trusts conference by The Pensions Regulator",
      "transcriptUrl": [
        {
          "url": "/youtube-video/youtube-video-transcript/"
        }
      ],
      "udi": "umb://element/96899822806a47fbbe30619876492730",
      "url": "https://www.youtube.com/watch?v=tTQiv1xKVM4"
    },
    {
      "contentTypeKey": "21e3dbf9-cf23-4caa-9bc1-fa04edd8d95e",
      "sections": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/18770c1a4a40446892ab7ef392fef88e",
              "settingsUdi": "umb://element/4d45d3ca13c74dcbb8cbab42fdf45369"
            }
          ]
        },
        "contentData": [
          {
            "blocks": {
              "layout": {
                "Umbraco.BlockGrid": [
                  {
                    "contentUdi": "umb://element/aecc94aebcfe4e5f8fa44f9b45c4eb18",
                    "areas": [],
                    "columnSpan": 12,
                    "rowSpan": 1
                  },
                  {
                    "contentUdi": "umb://element/cfe4ee38a9e44a00a6b060a6c2112061",
                    "settingsUdi": "umb://element/6af577b55a0a4a038c3c560be728bd9b",
                    "areas": [],
                    "columnSpan": 12,
                    "rowSpan": 1
                  },
                  {
                    "contentUdi": "umb://element/5dce32f6200c440695c966ca498fef87",
                    "areas": [],
                    "columnSpan": 12,
                    "rowSpan": 1
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "25702e9e-d0a1-4fbc-acbf-f740fb8bebad",
                  "title": "This is the title of the video.",
                  "transcriptUrl": "",
                  "udi": "umb://element/cfe4ee38a9e44a00a6b060a6c2112061",
                  "url": "https://www.youtube.com/watch?v=tTQiv1xKVM4"
                },
                {
                  "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
                  "text": {
                    "markup": "<p>This is a video inside an accordion section.</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  },
                  "udi": "umb://element/aecc94aebcfe4e5f8fa44f9b45c4eb18"
                },
                {
                  "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
                  "text": {
                    "markup": "<p>We can also add text under the video.</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  },
                  "udi": "umb://element/5dce32f6200c440695c966ca498fef87"
                }
              ],
              "settingsData": [
                {
                  "autoplay": "0",
                  "contentTypeKey": "c16e9365-c4a5-471d-9412-f617fbdd0bc5",
                  "cssClasses": "",
                  "playsInline": "1",
                  "udi": "umb://element/6af577b55a0a4a038c3c560be728bd9b"
                }
              ]
            },
            "contentTypeKey": "5bb40489-3f94-44a6-858c-de25a61db634",
            "heading": "First accordion section",
            "summary": "",
            "udi": "umb://element/18770c1a4a40446892ab7ef392fef88e"
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "3c2ae3cf-3387-4bee-b34e-0f5ec3a45ca2",
            "cssClasses": "",
            "expandSection": "1",
            "udi": "umb://element/4d45d3ca13c74dcbb8cbab42fdf45369"
          }
        ]
      },
      "udi": "umb://element/6e90ac7562a54ef88053407486610b19"
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "text": {
        "markup": "<p>This demonstrates support in the block list.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/2568f518303c495e8e43c4de998583f4"
    }
  ],
  "settingsData": [
    {
      "autoplay": "0",
      "contentTypeKey": "c16e9365-c4a5-471d-9412-f617fbdd0bc5",
      "cssClasses": "",
      "headingLevel": "",
      "headingSize": "",
      "playsInline": "1",
      "udi": "umb://element/725f99c896c54f709a897371afc263ed"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "5c3a9c47-9ed6-4a26-b7ac-e8639ed4472f",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "headingLevel": "",
      "udi": "umb://element/5bf8766c12174f2f9f3b1239af189a0e"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/9e16ba12c77a4a9b9d84297ab185dea8"
    }
  ]
}]]></Value>
    </blocks>
    <govukBlocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/4de6c7c8bc4c4342ad9959ac0b535ceb",
        "settingsUdi": "umb://element/5019de6a749541ab90873381026f51b5"
      },
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/71c7d35b6bda4fd18df2f40490b23b3c",
        "settingsUdi": "umb://element/17d9c7e1addf446e923670749f448d3e"
      },
      {
        "contentUdi": "umb://element/33c3c154b1ed4a5ea2b8e37371b67a0d",
        "settingsUdi": "umb://element/9b85e7ddf41440198fb25b3dcdc99450"
      }
    ]
  },
  "contentData": [
    {
      "caption": "Example application in Umbraco",
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "udi": "umb://element/4de6c7c8bc4c4342ad9959ac0b535ceb"
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "text": {
        "markup": "<p>This is a TPR component and you have switched off TPR styles in appsettings.json to return to GOV.UK styling, so there is nothing to see on this page.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/33c3c154b1ed4a5ea2b8e37371b67a0d"
    },
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "text": "",
      "udi": "umb://element/71c7d35b6bda4fd18df2f40490b23b3c"
    }
  ],
  "settingsData": [
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/5019de6a749541ab90873381026f51b5"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/9b85e7ddf41440198fb25b3dcdc99450"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/17d9c7e1addf446e923670749f448d3e"
    }
  ]
}]]></Value>
    </govukBlocks>
    <gridBlocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/c9de046ede324f818f9654c2bde0513b",
        "settingsUdi": "umb://element/87f2e0a6255d452ebe82a4dfc4a70728",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/06cf8ca564f54dff8c4812466ff38757",
        "settingsUdi": "umb://element/36f30e9f1c2e4c8ebd9b80988b4454f6",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/da7f97e6366142a9bcfc29e6edd4e5ee",
        "settingsUdi": "umb://element/0640143638264e0faad619b1569c1866",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/03738fadf0a9432bae5a9d3b91f7f742",
        "settingsUdi": "umb://element/ade3dc529e934aa685466ca0660fbd32",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/e7655538ca104ebc8331c9a082fabb13",
        "settingsUdi": "umb://element/6310a695359b46b9bcaf7fcf780539be",
        "areas": [
          {
            "key": "f9f886b0-6d10-4069-9794-59374034c82e",
            "items": [
              {
                "contentUdi": "umb://element/26d7be5d48624ef89fc296495501d377",
                "settingsUdi": "umb://element/63bd625600c24ff099804e51c6715bc0",
                "areas": [],
                "columnSpan": 8,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "4793beea-bd0a-4e5e-b20e-069b90ab4df2",
            "items": [
              {
                "contentUdi": "umb://element/f510b4e6187541b294088fb9c8e94142",
                "settingsUdi": "umb://element/cca67aa598d14fc686a3d9547ac0fbdb",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/cd95b9332fda432a98888a50c0ec1e34",
        "settingsUdi": "umb://element/6395e518058a48c982e55602b97e9c4d",
        "areas": [
          {
            "key": "b50dd71c-b7a2-408b-9d23-10d5752470bf",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/17ef038e85714feba740cf41ff6693a6",
                "settingsUdi": "umb://element/6af48ec1c3144916aef62dd587e84536"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "25702e9e-d0a1-4fbc-acbf-f740fb8bebad",
      "description": "This is the optional description of the video.",
      "title": "This is the title of the video",
      "transcriptUrl": "",
      "udi": "umb://element/03738fadf0a9432bae5a9d3b91f7f742",
      "url": "https://youtu.be/tTQiv1xKVM4"
    },
    {
      "contentTypeKey": "650d7119-e9cf-4c26-a08c-21cf2ffbbbbc",
      "udi": "umb://element/e7655538ca104ebc8331c9a082fabb13"
    },
    {
      "contentTypeKey": "25702e9e-d0a1-4fbc-acbf-f740fb8bebad",
      "description": "",
      "title": "Master trusts conference by The Pensions Regulator",
      "transcriptUrl": [
        {
          "name": "Custom transcript link",
          "target": "_blank",
          "url": "/youtube-video/youtube-video-transcript/"
        }
      ],
      "udi": "umb://element/f510b4e6187541b294088fb9c8e94142",
      "url": "https://www.youtube.com/watch?v=tTQiv1xKVM4"
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "text": {
        "markup": "<p>Videos will adapt to the size of their container, therefore they work in a multi-column layout using the block grid.</p>\n<p>If a transcript is available it can be linked from under the video.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/26d7be5d48624ef89fc296495501d377"
    },
    {
      "contentTypeKey": "61baed41-7e14-4615-af1e-0150c6d0a15f",
      "udi": "umb://element/cd95b9332fda432a98888a50c0ec1e34"
    },
    {
      "contentTypeKey": "25702e9e-d0a1-4fbc-acbf-f740fb8bebad",
      "description": "",
      "title": "Master Trusts conference by The Pensions Regulator",
      "transcriptUrl": [
        {
          "udi": "umb://document/a1977cdd2f0e4b66a4c0126d3e77cfd6"
        }
      ],
      "udi": "umb://element/17ef038e85714feba740cf41ff6693a6",
      "url": "https://www.youtube.com/watch?v=tTQiv1xKVM4"
    },
    {
      "caption": "Example application in Umbraco",
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "udi": "umb://element/c9de046ede324f818f9654c2bde0513b"
    },
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "text": "",
      "udi": "umb://element/06cf8ca564f54dff8c4812466ff38757"
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "text": {
        "markup": "<p>Videos can be added to the block grid or block list and are displayed using the <a href=\"https://support.google.com/youtube/answer/171780\">official YouTube player in privacy-enhanced mode</a>.</p>\n<p>Videos can be set to auto-play, but it should be avoided as it <a href=\"https://abilitynet.org.uk/news-blogs/why-autoplay-accessibility-issue\">creates accessibility problems and uses unnecessary bandwidth</a>.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/da7f97e6366142a9bcfc29e6edd4e5ee"
    }
  ],
  "settingsData": [
    {
      "autoplay": "1",
      "contentTypeKey": "c16e9365-c4a5-471d-9412-f617fbdd0bc5",
      "cssClasses": "",
      "headingLevel": "",
      "headingSize": [
        "govuk-heading-m"
      ],
      "playsInline": "0",
      "udi": "umb://element/ade3dc529e934aa685466ca0660fbd32"
    },
    {
      "contentTypeKey": "53edb934-ee79-4ff0-b23a-84b91e9fef7a",
      "cssClassesForRow": "",
      "stackColumns": "",
      "udi": "umb://element/6310a695359b46b9bcaf7fcf780539be"
    },
    {
      "autoplay": "0",
      "contentTypeKey": "c16e9365-c4a5-471d-9412-f617fbdd0bc5",
      "cssClasses": "",
      "headingLevel": "",
      "headingSize": [
        "govuk-heading-s"
      ],
      "playsInline": "1",
      "udi": "umb://element/cca67aa598d14fc686a3d9547ac0fbdb"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/63bd625600c24ff099804e51c6715bc0"
    },
    {
      "backgroundColour": {
        "value": "ededed",
        "label": "Grey",
        "sortOrder": 0,
        "id": "1"
      },
      "contentTypeKey": "7c697ad4-e2f8-4aab-857e-fb1b26c2a295",
      "cssClasses": "",
      "styleOfBox": "Full-width",
      "udi": "umb://element/6395e518058a48c982e55602b97e9c4d"
    },
    {
      "autoplay": "0",
      "contentTypeKey": "c16e9365-c4a5-471d-9412-f617fbdd0bc5",
      "cssClasses": "",
      "headingLevel": "",
      "headingSize": "",
      "playsInline": "1",
      "udi": "umb://element/6af48ec1c3144916aef62dd587e84536"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/87f2e0a6255d452ebe82a4dfc4a70728"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/36f30e9f1c2e4c8ebd9b80988b4454f6"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/0640143638264e0faad619b1569c1866"
    }
  ]
}]]></Value>
    </gridBlocks>
    <headingScaleStart>
      <Value><![CDATA[]]></Value>
    </headingScaleStart>
  </Properties>
</Content>