<ContentType Key="5c3a9c47-9ed6-4a26-b7ac-e8639ed4472f" Alias="tprAccordionSettings" Level="2">
  <Info>
    <Name>Accordion settings</Name>
    <Icon>icon-playlist color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Settings for an accordion component, which lets users show and hide sections of related content on a page.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays>
      </KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays>
      </KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>TPR</Folder>
    <Compositions>
      <Composition Key="d857bfba-d17e-436e-8529-3b180c8b7d3b">govukAccordionSettingsShared</Composition>
      <Composition Key="bf69e8d6-97a6-4b50-bec7-c5993e120339">govukCssClasses</Composition>
      <Composition Key="d508995b-a958-4273-8ab3-50735220a1b2">govukGrid</Composition>
      <Composition Key="d7016563-0b6f-4c3a-b75d-b0bbe66419fd">govukGridColumnClasses</Composition>
    </Compositions>
    <DefaultTemplate>
    </DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>