<ContentType Key="9d91ea8e-b41e-4ff7-860f-187322f359c0" Alias="tprDocumentSettings" Level="2">
  <Info>
    <Name>Document settings</Name>
    <Icon>icon-document color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Settings for a relevant document.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays>
      </KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays>
      </KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>TPR</Folder>
    <Compositions>
      <Composition Key="bf69e8d6-97a6-4b50-bec7-c5993e120339">govukCssClasses</Composition>
    </Compositions>
    <DefaultTemplate>
    </DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>