<ContentType Key="c5b53811-a546-4c46-bf33-298c48719838" Alias="tprNestedBoxSettings" Level="2">
  <Info>
    <Name>Nested box settings</Name>
    <Icon>icon-checkbox-empty color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Settings for a box that distinguishes content visually from its surroundings within another box or column.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays>
      </KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays>
      </KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>TPR</Folder>
    <Compositions>
      <Composition Key="bf69e8d6-97a6-4b50-bec7-c5993e120339">govukCssClasses</Composition>
    </Compositions>
    <DefaultTemplate>
    </DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>6b298576-6532-4009-a8a7-2ec1446917c5</Key>
      <Name>Background colour</Name>
      <Alias>backgroundColour</Alias>
      <Definition>1cc2520b-3d29-469f-9980-b413facc0e97</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[Applied to solid boxes. Defaults to grey.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage>
      </MandatoryMessage>
      <ValidationRegExpMessage>
      </ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8da9cbe5-efdd-4d0c-baad-001714a281f6</Key>
      <Name>Style of box</Name>
      <Alias>styleOfBox</Alias>
      <Definition>9d31213d-3d07-4c6f-b7f2-dc2d3bf09090</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage>
      </MandatoryMessage>
      <ValidationRegExpMessage>
      </ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f5781367-feeb-4eae-99fe-b800d4282420</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>