<ContentType Key="f08c68b1-f171-4941-83b2-1ededfa019ab" Alias="tprDocuments" Level="2">
  <Info>
    <Name>Documents</Name>
    <Icon>icon-documents color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A list of links to relevant documents.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays>
      </KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays>
      </KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>TPR</Folder>
    <Compositions />
    <DefaultTemplate>
    </DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f9154f93-e8dc-4b70-b869-a8dc03cb8886</Key>
      <Name>Documents</Name>
      <Alias>documents</Alias>
      <Definition>b635f2ec-6b1a-406d-a388-b6ea8477b5e7</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage>
      </MandatoryMessage>
      <ValidationRegExpMessage>
      </ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>ba46af58-33cb-4e7b-89e3-69e92ebe8264</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>