<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d2d1bfc7-1ffc-466e-a97e-3d25145fad81" Alias="Back to top" Level="0">
  <Info />
  <Translations>
    <Translation Language="de">Zurück nach oben</Translation>
    <Translation Language="en-GB">Back to top</Translation>
  </Translations>
</Dictionary>