<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4b578c0a-3139-4086-937c-407c42c7fc3e" Alias="Date must be a real date" Level="0">
  <Info />
  <Translations>
    <Translation Language="de">{0} muss ein echtes Datum sein</Translation>
    <Translation Language="en-GB">{0} must be a real date</Translation>
  </Translations>
</Dictionary>