<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9b06ec3e-f82e-4baf-bdb3-f86a9e15f653" Alias="Date must include a day and month" Level="0">
  <Info />
  <Translations>
    <Translation Language="de">{0} muss einen Tag und einen Monat enthalten</Translation>
    <Translation Language="en-GB">{0} must include a day and month</Translation>
  </Translations>
</Dictionary>