<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a9577e33-7d64-4909-a9fd-1f7059c57f3d" Alias="Date must include a month and year" Level="0">
  <Info />
  <Translations>
    <Translation Language="de">{0} muss einen Monat und ein Jahr enthalten</Translation>
    <Translation Language="en-GB">{0} must include a month and year</Translation>
  </Translations>
</Dictionary>