<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f23d8ece-20ca-436d-9397-afde74e2144e" Alias="Task list - Incomplete" Level="0">
  <Info />
  <Translations>
    <Translation Language="de"></Translation>
    <Translation Language="en-GB">In progress</Translation>
  </Translations>
</Dictionary>