<div class="backoffice-block-view" ng-click="block.edit()" ng-focus="block.focus" aria-label="Edit section cards component">
    <h2 class="govuk-heading-s" aria-hidden="true">Section cards</h2>
    <p class="backoffice-additional-blocks" aria-hidden="true" ng-if="!block.data.cards.contentData">No blocks.</p>
    <p class="backoffice-additional-blocks" aria-hidden="true" ng-if="block.data.cards.contentData.length===1">1 block.</p>
    <p class="backoffice-additional-blocks" aria-hidden="true" ng-if="block.data.cards.contentData.length>1">{{block.data.cards.contentData.length}} blocks.</p>
</div>