<?xml version="1.0" encoding="utf-8"?>
<Domain Key="b1d5f521-0000-0000-0000-000000000000" Alias="*1301">
  <Info>
    <IsWildcard>true</IsWildcard>
    <Language>en-GB</Language>
    <Root Key="a8cfa099-8165-4cfe-b3d1-179472290d0c">/Home/Textarea</Root>
    <SortOrder>-1</SortOrder>
  </Info>
</Domain>