<?xml version="1.0" encoding="utf-8"?>
<Domain Key="628ae34d-0000-0000-0000-000000000000" Alias="/cy/ardaltestun">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>cy</Language>
    <Root Key="a8cfa099-8165-4cfe-b3d1-179472290d0c">/Home/Textarea</Root>
    <SortOrder>0</SortOrder>
  </Info>
</Domain>