<?xml version="1.0" encoding="utf-8"?>
<Domain Key="a8201444-0000-0000-0000-000000000000" Alias="/cy/success/">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>cy</Language>
    <Root Key="7ebf39a4-dbdd-454b-92e4-6e544af2a411">/Home/Success</Root>
    <SortOrder>0</SortOrder>
  </Info>
</Domain>