<DataType Key="153d1b04-6661-4c3e-bd8e-37681a1ce076" Alias="TPR Heading level (Search results)" Level="2">
  <Info>
    <Name>TPR Heading level (Search results)</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>TPR</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 2,
      "value": "Heading 2"
    },
    {
      "id": 3,
      "value": "Heading 3"
    },
    {
      "id": 4,
      "value": "Heading 4"
    },
    {
      "id": 5,
      "value": "Heading 5"
    },
    {
      "id": 6,
      "value": "Heading 6"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>