<DataType Key="1cc2520b-3d29-469f-9980-b413facc0e97" Alias="TPR Box colour" Level="2">
  <Info>
    <Name>TPR Box colour</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>TPR</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"ededed\",\"label\":\"Grey\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"ebf5f7\",\"label\":\"Blue\"}"
    }
  ],
  "UseLabel": true
}]]></Config>
</DataType>