<DataType Key="223a3ac0-b842-42c9-abe0-6dd1fc151187" Alias="GOV.UK Section break size" Level="2">
  <Info>
    <Name>GOV.UK Section break size</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>GOV.UK</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 4,
      "value": "Small"
    },
    {
      "id": 1,
      "value": "Medium"
    },
    {
      "id": 2,
      "value": "Large"
    },
    {
      "id": 3,
      "value": "Extra large"
    }
  ]
}]]></Config>
</DataType>