<DataType Key="49a23ad3-080a-4f23-87f4-953ebe3230b9" Alias="GOV.UK Accordion block list" Level="2">
  <Info>
    <Name>GOV.UK Accordion block list</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>GOV.UK</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "2f88f094-5263-464b-8f7e-0298b78acebe",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{heading}} (Accordion section)",
      "settingsElementTypeKey": "e251daf8-f9c1-418c-8086-9d7a0c4483c6",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>