<DataType Key="6ffa4d83-3f52-4c27-abb2-8b85d8232f4b" Alias="GOV.UK Heading size" Level="2">
  <Info>
    <Name>GOV.UK Heading size</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>GOV.UK</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "govuk-heading-xl"
    },
    {
      "id": 2,
      "value": "govuk-heading-l"
    },
    {
      "id": 3,
      "value": "govuk-heading-m"
    },
    {
      "id": 4,
      "value": "govuk-heading-s"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>