<DataType Key="7aff9c95-4811-4084-9947-1093c2baf44e" Alias="TPR Image size" Level="2">
  <Info>
    <Name>TPR Image size</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>TPR</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Fit container"
    },
    {
      "id": 2,
      "value": "Retain original size"
    }
  ]
}]]></Config>
</DataType>