<DataType Key="df987606-8052-4037-baba-2094c488ae2a" Alias="GOV.UK Page heading size" Level="3">
  <Info>
    <Name>GOV.UK Page heading size</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>GOV.UK/Page+settings</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "govuk-heading-xl"
    },
    {
      "id": 2,
      "value": "govuk-heading-l"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>