<?xml version="1.0" encoding="utf-8"?>
<DataType Key="189de753-cac2-4307-868b-114832c68a07" Alias="GOV.UK True or false (defaults to True)" Level="2">
  <Info>
    <Name>GOV.UK True or false (defaults to True)</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
    <Folder>GOV.UK</Folder>
  </Info>
  <Config><![CDATA[{
  "default": true,
  "showLabels": false
}]]></Config>
</DataType>