<?xml version="1.0" encoding="utf-8"?>
<DataType Key="86600492-b938-47e6-a752-da0e193939ad" Alias="GOV.UK Radio buttons" Level="2">
  <Info>
    <Name>GOV.UK Radio buttons</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>GOV.UK</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d7861a37-8d74-4a8b-85db-016ea1323b9f",
      "settingsElementTypeKey": "1a84595b-3f9d-49ba-a3c0-ee82a547fb7f",
      "label": "",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "5bbc1a49-49b7-4119-b6ad-c113226d92e0",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>