<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b54ee68e-cfd8-41cd-8e5c-0be770c4d33f" Alias="GOV.UK Rich text editor (Phase banner)" Level="2">
  <Info>
    <Name>GOV.UK Rich text editor (Phase banner)</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TinyMCE</EditorUIAlias>
    <Folder>GOV.UK</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": null,
  "hideLabel": false,
  "ignoreUserStartNodes": false,
  "maxImageSize": 500,
  "mediaParentId": null,
  "mode": "Classic",
  "overlaySize": "small",
  "stylesheets": [
    "/govuk-umbraco-backoffice.css",
    "/site.css"
  ],
  "toolbar": [
    "removeformat",
    "bold",
    "italic",
    "link",
    "unlink",
    "charmap"
  ],
  "useLiveEditing": false
}]]></Config>
</DataType>