<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d9b4c762-aac8-4e24-bac4-68c7cb0eaaf9" Alias="GOV.UK Text input width" Level="2">
  <Info>
    <Name>GOV.UK Text input width</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>GOV.UK</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "xx-small",
    "x-small",
    "small",
    "medium",
    "large",
    "x-large",
    "xx-large"
  ],
  "multiple": false,
  "umbMigrationV14": "2025-12-12T16:38:55.4022783\u002B00:00"
}]]></Config>
</DataType>