<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fc7ac4e5-7ff0-48b9-838f-50fe67bb514d" Alias="GOV.UK Rich text editor (Notification banner heading)" Level="2">
  <Info>
    <Name>GOV.UK Rich text editor (Notification banner heading)</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TinyMCE</EditorUIAlias>
    <Folder>GOV.UK</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": null,
  "hideLabel": false,
  "ignoreUserStartNodes": false,
  "maxImageSize": 500,
  "mediaParentId": null,
  "mode": "Classic",
  "overlaySize": "small",
  "stylesheets": [
    "/govuk-umbraco-backoffice.css",
    "/site.css"
  ],
  "toolbar": [
    "removeformat",
    "bold",
    "italic",
    "link",
    "unlink",
    "subscript",
    "superscript",
    "charmap"
  ],
  "useLiveEditing": false
}]]></Config>
</DataType>