<?xml version="1.0" encoding="utf-8"?>
<DataType Key="08abe388-645d-4b2e-9d51-38ea1d4b6b75" Alias="GOV.UK Phase" Level="2">
  <Info>
    <Name>GOV.UK Phase</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
    <Folder>GOV.UK</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Alpha",
    "Beta",
    "Live"
  ],
  "umbMigrationV14": "2025-12-12T16:38:55.3965637\u002B00:00"
}]]></Config>
</DataType>