<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f7a60846-a843-4499-ae52-c9a5a05f83cc" Alias="GOV.UK Radios layout" Level="2">
  <Info>
    <Name>GOV.UK Radios layout</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
    <Folder>GOV.UK</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Vertical",
    "Horizontal"
  ],
  "umbMigrationV14": "2025-12-12T16:38:55.3967392\u002B00:00"
}]]></Config>
</DataType>