<?xml version="1.0" encoding="utf-8"?>
<DataType Key="07461dc5-a6cf-44e1-b8dc-5549174ac2a8" Alias="GOV.UK Task list status" Level="2">
  <Info>
    <Name>GOV.UK Task list status</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>GOV.UK</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Cannot start yet",
    "Not started",
    "Incomplete",
    "Completed",
    "Not applicable",
    "Error"
  ],
  "multiple": false,
  "umbMigrationV14": "2025-12-12T16:38:55.402039\u002B00:00"
}]]></Config>
</DataType>