<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b54ee68e-cfd8-41cd-8e5c-0be770c4d33f" Alias="GOV.UK Rich text editor (Phase banner)"
  Level="2">
  <Info>
    <Name>GOV.UK Rich text editor (Phase banner)</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Tiptap</EditorUIAlias>
    <Folder>GOV.UK</Folder>
  </Info>
  <Config><![CDATA[{
  "extensions": [
    "Umb.Tiptap.RichTextEssentials",
    "Umb.Tiptap.Bold",
    "Umb.Tiptap.Italic",
    "Umb.Tiptap.Link"
  ],
  "ignoreUserStartNodes": false,
  "maxImageSize": 500,
  "overlaySize": "small",
  "stylesheets": [
    "/govuk-umbraco-backoffice.css",
    "/site.css"
  ],
  "toolbar": [
    [
      [
        "Umb.Tiptap.Toolbar.ClearFormatting"
      ],
      [
        "Umb.Tiptap.Toolbar.Bold",
        "Umb.Tiptap.Toolbar.Italic",
        "Umb.Tiptap.Toolbar.Link",
        "Umb.Tiptap.Toolbar.Unlink"
      ],
      [
        "Umb.Tiptap.Toolbar.CharacterMap"
      ]
    ]
  ]
}]]></Config>
</DataType>