<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6ffa4d83-3f52-4c27-abb2-8b85d8232f4b" Alias="GOV.UK Heading size" Level="2">
  <Info>
    <Name>GOV.UK Heading size</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>GOV.UK</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "govuk-heading-xl",
    "govuk-heading-l",
    "govuk-heading-m",
    "govuk-heading-s"
  ],
  "multiple": false,
  "umbMigrationV14": "2025-12-12T16:38:55.3961892\u002B00:00"
}]]></Config>
</DataType>