<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b02f5487-5e04-4422-9b8c-e1c9429e9e2e" Alias="GOV.UK Notification banner block list" Level="2">
  <Info>
    <Name>GOV.UK Notification banner block list</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>GOV.UK</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "35584ae7-feb5-4de8-9008-5d2d8cfb34ce",
      "settingsElementTypeKey": "e683e885-8aa0-4bdd-9eff-56966f353540",
      "label": "",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "d1324abd-7504-44e1-9b9a-2cc12d527175",
      "settingsElementTypeKey": "bb140093-52f9-4ec4-9240-ab246b574ebd",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "64a0406a-8b4d-46d7-a976-af6d6616dffc",
      "settingsElementTypeKey": "236a3fde-d8b7-4b7d-aaad-6f49d2a3ddf2",
      "label": "",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>