<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a1901435-980d-4fcf-bdb3-84bfee424708" Alias="GOV.UK Grid column size" Level="2">
  <Info>
    <Name>GOV.UK Grid column size</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>GOV.UK</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "full",
    "two-thirds",
    "one-third",
    "three-quarters",
    "one-quarter",
    "one-half"
  ],
  "multiple": false,
  "umbMigrationV14": "2025-12-12T16:38:55.3951773\u002B00:00"
}]]></Config>
</DataType>