<?xml version="1.0" encoding="utf-8"?>
<DataType Key="49a23ad3-080a-4f23-87f4-953ebe3230b9" Alias="GOV.UK Accordion block list" Level="2">
  <Info>
    <Name>GOV.UK Accordion block list</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>GOV.UK</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "2f88f094-5263-464b-8f7e-0298b78acebe",
      "settingsElementTypeKey": "e251daf8-f9c1-418c-8086-9d7a0c4483c6",
      "label": "",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>