<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4c726366-e223-4c19-bd97-5d5469b63a7c" Alias="GOV.UK Summary list block list" Level="2">
  <Info>
    <Name>GOV.UK Summary list block list</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>GOV.UK</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "4e3c68a7-d651-4898-b1e3-e8f29a9ffe48",
      "settingsElementTypeKey": "18d06fa1-27bf-4f86-bc9d-b0a339512ca1",
      "label": "",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>