<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d7106611-87da-40cb-98b5-4d10bb23b747" Alias="GOV.UK Accordion section block grid" Level="2">
  <Info>
    <Name>GOV.UK Accordion section block grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
    <Folder>GOV.UK</Folder>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "key": "0cda3bd0-ba4f-483e-9402-09a275a172a9",
      "name": "Content"
    },
    {
      "key": "0de407db-a767-4e72-9ace-6dd35bb769c9",
      "name": "Layout"
    }
  ],
  "blocks": [
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": true,
      "areas": [],
      "contentElementTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkTypographyPreview.html",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "label": "",
      "editorSize": "large",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "0cda3bd0-ba4f-483e-9402-09a275a172a9"
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": true,
      "areas": [
        {
          "key": "fb0a0665-1f67-4600-9864-1d8eee95677d",
          "alias": "one",
          "columnSpan": 3,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "contentElementTypeKey": "d8e3d93a-be64-4ab9-aa7a-ebefc32e6164",
      "settingsElementTypeKey": "085fe7f7-9496-44bd-bda7-fe27726abed3",
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkGridColumns.html",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "0de407db-a767-4e72-9ace-6dd35bb769c9"
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": true,
      "areas": [
        {
          "key": "d7ae8a02-56df-43be-866e-50394758a537",
          "alias": "one",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "contentElementTypeKey": "1e8b78c8-acbf-4a9e-bb93-1ab1947a0a4a",
      "settingsElementTypeKey": "085fe7f7-9496-44bd-bda7-fe27726abed3",
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkGridColumns.html",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "0de407db-a767-4e72-9ace-6dd35bb769c9"
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": true,
      "areas": [
        {
          "key": "257fbfce-0abf-474b-b2c3-6a7e7f704354",
          "alias": "one",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "contentElementTypeKey": "c4f050a6-959e-46c2-8889-71090289cce8",
      "settingsElementTypeKey": "085fe7f7-9496-44bd-bda7-fe27726abed3",
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkGridColumns.html",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "0de407db-a767-4e72-9ace-6dd35bb769c9"
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": true,
      "areas": [
        {
          "key": "bd1bec6f-8153-4543-9246-f0fefb9cfd09",
          "alias": "one",
          "columnSpan": 8,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "contentElementTypeKey": "77726c2e-3248-4fab-bb3a-478e65ba9256",
      "settingsElementTypeKey": "085fe7f7-9496-44bd-bda7-fe27726abed3",
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkGridColumns.html",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "0de407db-a767-4e72-9ace-6dd35bb769c9"
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": true,
      "areas": [
        {
          "key": "897e8ed3-dd12-4e22-8c3e-e0e33ea5e95e",
          "alias": "one",
          "columnSpan": 9,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "contentElementTypeKey": "e5faf6a4-e1bd-4b25-9d3e-9076ba19c6e2",
      "settingsElementTypeKey": "085fe7f7-9496-44bd-bda7-fe27726abed3",
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkGridColumns.html",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "0de407db-a767-4e72-9ace-6dd35bb769c9"
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": true,
      "areas": [
        {
          "key": "fd06e2d8-5965-4678-9a65-648c66ee9317",
          "alias": "one",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "contentElementTypeKey": "017e3eca-72c2-4b5e-b5fb-428379a53b2e",
      "settingsElementTypeKey": "085fe7f7-9496-44bd-bda7-fe27726abed3",
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkGridColumns.html",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "0de407db-a767-4e72-9ace-6dd35bb769c9"
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": true,
      "areas": [
        {
          "key": "e612cf51-f8f5-4c79-891c-21f860d0a38f",
          "alias": "one",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        },
        {
          "key": "f801579d-d157-4900-b37a-f138aeb5ee03",
          "alias": "two",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "contentElementTypeKey": "3fa201d9-0d89-458f-b6dc-f5fb6fc8e10a",
      "settingsElementTypeKey": "53edb934-ee79-4ff0-b23a-84b91e9fef7a",
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkGridColumns.html",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "0de407db-a767-4e72-9ace-6dd35bb769c9"
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": true,
      "areas": [
        {
          "key": "108f719c-2940-461a-a398-941170a6ea58",
          "alias": "one",
          "columnSpan": 8,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        },
        {
          "key": "ec7b2d3f-18fe-4f61-ab8c-5ac80862b308",
          "alias": "two",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "contentElementTypeKey": "650d7119-e9cf-4c26-a08c-21cf2ffbbbbc",
      "settingsElementTypeKey": "53edb934-ee79-4ff0-b23a-84b91e9fef7a",
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkGridColumns.html",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "0de407db-a767-4e72-9ace-6dd35bb769c9"
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": true,
      "areas": [
        {
          "key": "4aff7b8b-1994-464d-979c-abd45d33188e",
          "alias": "one",
          "columnSpan": 9,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        },
        {
          "key": "2b48b497-c030-42f9-905c-da66aa691976",
          "alias": "two",
          "columnSpan": 3,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "contentElementTypeKey": "d7921903-6c44-4c50-bef9-7def4b21fae4",
      "settingsElementTypeKey": "53edb934-ee79-4ff0-b23a-84b91e9fef7a",
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkGridColumns.html",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "0de407db-a767-4e72-9ace-6dd35bb769c9"
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": true,
      "areas": [
        {
          "key": "742e6459-8b71-4276-bf56-194e04e23fb3",
          "alias": "one",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        },
        {
          "key": "de99a6f2-f603-4a7f-ab17-c1484857aca0",
          "alias": "two",
          "columnSpan": 8,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "contentElementTypeKey": "e1e65f18-85b3-4acd-a121-705186a2f051",
      "settingsElementTypeKey": "53edb934-ee79-4ff0-b23a-84b91e9fef7a",
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkGridColumns.html",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "0de407db-a767-4e72-9ace-6dd35bb769c9"
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": true,
      "areas": [
        {
          "key": "3f8b6c7e-fb30-47d2-b39b-a5d7af76bd21",
          "alias": "one",
          "columnSpan": 3,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        },
        {
          "key": "271149b1-25ac-479b-91fe-53d83d3fecf2",
          "alias": "two",
          "columnSpan": 9,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "contentElementTypeKey": "fc3c6a06-d826-406f-8568-94d37d1d1822",
      "settingsElementTypeKey": "53edb934-ee79-4ff0-b23a-84b91e9fef7a",
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkGridColumns.html",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "0de407db-a767-4e72-9ace-6dd35bb769c9"
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": true,
      "areas": [],
      "contentElementTypeKey": "40bb2a3e-3d75-4ec1-9134-e0c46c6f04a0",
      "settingsElementTypeKey": "562c13ba-8543-4932-b448-8dd0d71e67b2",
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkInsetTextPreview.html",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "0cda3bd0-ba4f-483e-9402-09a275a172a9"
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": true,
      "areas": [],
      "contentElementTypeKey": "83cb35fb-51da-45cd-913f-1b8bdfd6a1d9",
      "settingsElementTypeKey": "f081b029-8455-45ba-8ed2-871101184ba4",
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkWarningTextPreview.html",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "0cda3bd0-ba4f-483e-9402-09a275a172a9"
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": true,
      "areas": [],
      "contentElementTypeKey": "9d15adb9-fb63-4b20-ada3-fc9239a72a8c",
      "settingsElementTypeKey": "44416861-5c5f-43af-9abc-c23d11410237",
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkDetails.html",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "0cda3bd0-ba4f-483e-9402-09a275a172a9"
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": true,
      "areas": [],
      "contentElementTypeKey": "bd6069cc-a8c1-456b-8a00-1d180c45c36c",
      "settingsElementTypeKey": "7e5b10d5-cad1-4373-93b1-ffff54068757",
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkSummaryListPreview.html",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "0cda3bd0-ba4f-483e-9402-09a275a172a9"
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": true,
      "areas": [],
      "contentElementTypeKey": "583467e1-4f8f-46ed-b8e8-b9bf69e9f65d",
      "settingsElementTypeKey": "5fb74c9d-bf70-4066-97ed-83454330067c",
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkSummaryCardPreview.html",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "0cda3bd0-ba4f-483e-9402-09a275a172a9"
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": true,
      "areas": [
        {
          "key": "05cceeb2-cb54-4bf0-8b9d-7dea8f2b3171",
          "alias": "one",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        },
        {
          "key": "da9d6830-c437-4c4a-9e77-66ce6c9f71ac",
          "alias": "two",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        },
        {
          "key": "323de657-d8ab-4d98-bfac-e6acb83659c7",
          "alias": "three",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "contentElementTypeKey": "f7721eea-7712-4d9c-91e4-9c04f0ad3036",
      "settingsElementTypeKey": "e326cfa6-2167-4763-840a-f52a25039f14",
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkGridColumns.html",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "0de407db-a767-4e72-9ace-6dd35bb769c9"
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": true,
      "areas": [
        {
          "key": "0f26a2f5-b1b0-4ce6-8e24-826d115346ee",
          "alias": "one",
          "columnSpan": 3,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        },
        {
          "key": "bea3ea1b-d77d-489c-9c2b-016442b117a2",
          "alias": "two",
          "columnSpan": 3,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        },
        {
          "key": "35e9280e-7206-49ab-8f9d-3c2d713bb299",
          "alias": "three",
          "columnSpan": 3,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        },
        {
          "key": "303ead59-6bef-4da8-86b7-e8242339145b",
          "alias": "four",
          "columnSpan": 3,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "contentElementTypeKey": "14e589eb-a4c7-4aba-8be5-e5b390d2727e",
      "settingsElementTypeKey": "2333e525-fb3e-47c7-bcf0-ca84296f0e6f",
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkGridColumns.html",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "0de407db-a767-4e72-9ace-6dd35bb769c9"
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": true,
      "areas": [],
      "contentElementTypeKey": "5d33cd38-b819-4afd-9d4a-499ee73799ab",
      "settingsElementTypeKey": "9581b375-d5f1-4fcf-affd-9d80883d7812",
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "0cda3bd0-ba4f-483e-9402-09a275a172a9"
    }
  ],
  "useLiveEditing": false,
  "validationLimit": {}
}]]></Config>
</DataType>