<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e0879661-5ada-4a1f-b7df-525e63087866" Alias="GOV.UK Fieldset block list" Level="2">
  <Info>
    <Name>GOV.UK Fieldset block list</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>GOV.UK</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "settingsElementTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkTypographyPreview.html",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "label": "",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "40bb2a3e-3d75-4ec1-9134-e0c46c6f04a0",
      "settingsElementTypeKey": "29d9a3c9-4047-484a-8816-e233e161fcb0",
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkInsetTextPreview.html",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "label": "",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "83cb35fb-51da-45cd-913f-1b8bdfd6a1d9",
      "settingsElementTypeKey": "0bac8213-4607-4547-902a-6a9d84b92633",
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkWarningTextPreview.html",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "label": "",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "9d15adb9-fb63-4b20-ada3-fc9239a72a8c",
      "settingsElementTypeKey": "a6689021-cc6e-4d94-8c37-235906ebeff1",
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkDetails.html",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "label": "",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "f7fc1212-5317-4642-9565-f8b6585508e8",
      "settingsElementTypeKey": "6930e373-0fce-44ad-89b8-267442675807",
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkFieldset.html",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "label": "{{legend}} (Fieldset)",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "fe2dd0de-55a9-4249-be03-6896aa719974",
      "settingsElementTypeKey": "98070ce9-d528-4bfc-bd90-e411e5110f56",
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkTextInputPreview.html",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "label": "",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "d118b7dc-63c6-4262-9ce9-2e823dc530f0",
      "settingsElementTypeKey": "5f3e3369-43cf-47c2-bb76-60055518ae05",
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkTextAreaPreview.html",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "label": "{{label}} (Textarea)",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "a3a58c3e-673f-4521-b9e7-4b6a667f06b4",
      "settingsElementTypeKey": "308973a3-4525-445f-9bcd-bdf3d649abb6",
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkDateInputPreview.html",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "label": "{{legend}} (Date input)",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "b84a633b-1ee7-4a5c-80bd-4267420ed133",
      "settingsElementTypeKey": "40da6b15-489b-4249-854a-56954e5917e1",
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkRadiosPreview.html",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "label": "{{legend}} (Radios)",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "f1cb27f6-c7f5-4db0-bfff-ef76df811ac7",
      "settingsElementTypeKey": "67371513-c485-4405-afb4-70367ddb6eb8",
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkCheckbox.html",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "label": "{{label}} (Checkbox)",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "a4ef171f-5688-4b05-806f-75a6ce50a842",
      "settingsElementTypeKey": "57265e01-05ed-4ea3-a28d-e9f77420c018",
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkCheckboxesPreview.html",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "label": "{{legend}} (Checkboxes)",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "f03fd727-5504-4647-b1b4-1211253c01f9",
      "settingsElementTypeKey": "a8b190fd-4c5e-4b55-a331-ad93499d10b7",
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkAccordion.html",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "bd6069cc-a8c1-456b-8a00-1d180c45c36c",
      "settingsElementTypeKey": "d43b72b5-edac-42e0-aa09-1b080d7bd6eb",
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkSummaryListPreview.html",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "583467e1-4f8f-46ed-b8e8-b9bf69e9f65d",
      "settingsElementTypeKey": "d2220ba5-3a33-4f2c-9b82-f214a1c8fccb",
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkSummaryCardPreview.html",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "label": "",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "a278e94c-f555-490b-920c-313a7ba17492",
      "settingsElementTypeKey": "b4bca409-19d8-460d-9155-6b84fc90e820",
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkSelectPreview.html",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "label": "{{label}} (Select)",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "6da482da-a53c-4df3-8fd4-697a7d91bbac",
      "settingsElementTypeKey": "d10b177e-98b9-42c3-a7f6-632c885c6bcf",
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkFileUploadPreview.html",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "label": "{{label}} (File upload)",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "35584ae7-feb5-4de8-9008-5d2d8cfb34ce",
      "settingsElementTypeKey": "e683e885-8aa0-4bdd-9eff-56966f353540",
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkButton.html",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "label": "",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "d1324abd-7504-44e1-9b9a-2cc12d527175",
      "settingsElementTypeKey": "bb140093-52f9-4ec4-9240-ab246b574ebd",
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkButtonGroup.html",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "2cb36d91-7480-4234-a5d8-6961a03ada8a",
      "settingsElementTypeKey": "b34b41a7-261a-41a3-8877-afc4086cc065",
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkErrorMessage.html",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "label": "",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "901f91c0-f863-4409-9e6f-0ab829714c68",
      "settingsElementTypeKey": "c7dd4cfd-8e91-46e2-8a57-0834a480cacb",
      "label": "{{$settings.modelProperty}} (Hidden field)",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "5d33cd38-b819-4afd-9d4a-499ee73799ab",
      "settingsElementTypeKey": "9581b375-d5f1-4fcf-affd-9d80883d7812",
      "label": "Section break ({{$settings.size}}{{$settings.hidden ==  1 ? \u0027, hidden\u0027 : \u0027\u0027}})",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "0e33e52e-00d3-4546-af2b-076321ead08a",
      "settingsElementTypeKey": "7f2977e1-5298-4fee-9c8c-5abeeafc1d63",
      "label": "Grid row (deprecated - use block grid)",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>