<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d96d2ff3-4379-42b3-8e44-fa7976fc5a57" Alias="GOV.UK Rich text editor (Notification banner)" Level="2">
  <Info>
    <Name>GOV.UK Rich text editor (Notification banner)</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Tiptap</EditorUIAlias>
    <Folder>GOV.UK</Folder>
  </Info>
  <Config><![CDATA[{
  "extensions": [
    "Umb.Tiptap.RichTextEssentials",
    "Umb.Tiptap.Link",
    "Umb.Tiptap.Subscript",
    "Umb.Tiptap.Superscript",
    "Umb.Tiptap.Table",
    "Umb.Tiptap.Blockquote",
    "Umb.Tiptap.Bold",
    "Umb.Tiptap.BulletList",
    "Umb.Tiptap.Heading",
    "Umb.Tiptap.Italic",
    "Umb.Tiptap.OrderedList",
    "Umb.Tiptap.CodeBlock"
  ],
  "ignoreUserStartNodes": false,
  "maxImageSize": 500,
  "overlaySize": "small",
  "stylesheets": [
    "/css/govuk-umbraco-backoffice.css",
    "/css/site.css"
  ],
  "toolbar": [
    [
      [
        "Umb.Tiptap.Toolbar.ClearFormatting"
      ],
      [
        "Umb.Tiptap.Toolbar.StyleSelect",
        "Umb.Tiptap.Toolbar.Bold",
        "Umb.Tiptap.Toolbar.Italic",
        "Umb.Tiptap.Toolbar.Link",
        "Umb.Tiptap.Toolbar.Unlink"
      ],
      [
        "Umb.Tiptap.Toolbar.BulletList",
        "Umb.Tiptap.Toolbar.OrderedList",
        "Umb.Tiptap.Toolbar.Table"
      ],
      [
        "Umb.Tiptap.Toolbar.Superscript",
        "Umb.Tiptap.Toolbar.Subscript",
        "Umb.Tiptap.Toolbar.Subscript",
        "Umb.Tiptap.Toolbar.CharacterMap"
      ]
    ]
  ],
  "umbMigrationV14": "2025-12-12T16:38:55.4004007\u002B00:00",
  "useLiveEditing": false
}]]></Config>
</DataType>