<?xml version="1.0" encoding="utf-8"?>
<DataType Key="43749173-9421-45a8-bb9b-492f832183d7" Alias="Tag block grid" Level="2">
  <Info>
    <Name>Tag block grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
    <Folder>TPR</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "280d2980-2cf0-4df3-8fc0-a5e0b4d1e157",
      "allowAtRoot": true,
      "allowInAreas": true,
      "settingsElementTypeKey": "b7798c0c-2ff1-44ce-a5e7-d2dfd9519134"
    }
  ],
  "gridColumns": 12,
  "validationLimit": {
    "min": 0,
    "max": 1
  }
}]]></Config>
</DataType>