<?xml version="1.0" encoding="utf-8"?>
<DataType Key="97aa6b6d-5ef1-4cfe-b899-5affc473f840" Alias="Tag colour" Level="2">
  <Info>
    <Name>Tag colour</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>TPR</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "govuk-tag--green",
    "govuk-tag--grey",
    "govuk-tag--teal",
    "govuk-tag--purple",
    "govuk-tag--magenta ",
    "govuk-tag--red",
    "govuk-tag--orange",
    "govuk-tag--yellow"
  ]
}]]></Config>
</DataType>