<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e14d755c-b394-4de0-8bdc-9c4280a10f25" Alias="TPR Accordion block list" Level="2">
  <Info>
    <Name>TPR Accordion block list</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>TPR</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "5bb40489-3f94-44a6-858c-de25a61db634",
      "settingsElementTypeKey": "3c2ae3cf-3387-4bee-b34e-0f5ec3a45ca2",
      "label": "{{heading}} (Accordion section)",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>