<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1cc2520b-3d29-469f-9980-b413facc0e97" Alias="TPR Box colour" Level="2">
  <Info>
    <Name>TPR Box colour</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
    <Folder>TPR</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "ededed",
      "label": "Grey"
    },
    {
      "value": "ebf5f7",
      "label": "Blue"
    },
    {
      "value": "006ebc",
      "label": "Royal Blue"
    },
    {
      "value": "1e7e34",
      "label": "Green"
    }
  ],
  "umbMigrationV14": "2025-12-12T16:38:55.4051986\u002B00:00",
  "useLabel": true
}]]></Config>
</DataType>