<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b635f2ec-6b1a-406d-a388-b6ea8477b5e7" Alias="TPR Documents block list" Level="2">
  <Info>
    <Name>TPR Documents block list</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>TPR</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "ddf26d5b-0ebd-4ec4-b89f-3b422ca7c230",
      "settingsElementTypeKey": "9d91ea8e-b41e-4ff7-860f-187322f359c0",
      "label": "",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>