<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a961816e-a7d9-4b15-85fc-ed5ca93d3542" Alias="TPR Featured image settings - Horizontal - Toggle" Level="2">
  <Info>
    <Name>TPR Featured image settings - Horizontal - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
    <Folder>TPR</Folder>
  </Info>
  <Config><![CDATA[{
  "default": false,
  "labelOff": "Content will be displayed below the image",
  "labelOn": "Content will be displayed next to the image",
  "showLabels": false
}]]></Config>
</DataType>