<?xml version="1.0" encoding="utf-8"?>
<DataType Key="871ff36a-bac5-47d1-bad4-f6fc21f617e2" Alias="TPR Footer three column links block grid" Level="2">
  <Info>
    <Name>TPR Footer three column links block grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
    <Folder>TPR</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": true,
      "areas": [
        {
          "key": "defe1a76-24ce-458f-9142-82268e6a5042",
          "alias": "one",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "elementTypeKey": "64a0406a-8b4d-46d7-a976-af6d6616dffc"
            }
          ]
        },
        {
          "key": "67a48c7c-1e85-4f3c-9d47-cfbaa7c71437",
          "alias": "two",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "elementTypeKey": "64a0406a-8b4d-46d7-a976-af6d6616dffc"
            }
          ]
        },
        {
          "key": "65604d68-4717-4f07-a325-27782d2f437b",
          "alias": "three",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "elementTypeKey": "64a0406a-8b4d-46d7-a976-af6d6616dffc"
            }
          ]
        }
      ],
      "contentElementTypeKey": "f7721eea-7712-4d9c-91e4-9c04f0ad3036",
      "settingsElementTypeKey": "e326cfa6-2167-4763-840a-f52a25039f14",
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": true,
      "areas": [],
      "contentElementTypeKey": "64a0406a-8b4d-46d7-a976-af6d6616dffc",
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useLiveEditing": false,
  "validationLimit": {
    "min": 1,
    "max": 1
  }
}]]></Config>
</DataType>