<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a0cb6444-94e1-4692-8580-92386f4e1270" Alias="TPR Featured image block grid" Level="2">
  <Info>
    <Name>TPR Featured image block grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
    <Folder>TPR</Folder>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "key": "0cda3bd0-ba4f-483e-9402-09a275a172a9",
      "name": "Content"
    }
  ],
  "blocks": [
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": true,
      "areas": [],
      "contentElementTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkTypographyPreview.html",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "label": "{{text | ncRichText | truncate:true:50}} ({{$contentTypeName}})",
      "editorSize": "large",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "0cda3bd0-ba4f-483e-9402-09a275a172a9"
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": true,
      "areas": [],
      "contentElementTypeKey": "94737fb0-c49c-44db-8a59-6a65f14a0c47",
      "settingsElementTypeKey": "2a5587ef-96fa-41dd-a2be-c5f97e00dfef",
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "0cda3bd0-ba4f-483e-9402-09a275a172a9"
    }
  ],
  "useLiveEditing": false,
  "validationLimit": {}
}]]></Config>
</DataType>