<?xml version="1.0" encoding="utf-8"?>
<DataType Key="38871ada-760d-4ae0-8ca2-e9d5b26fa32a" Alias="TPR Header menu item block list" Level="2">
  <Info>
    <Name>TPR Header menu item block list</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>TPR</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "90600a82-4925-4287-bb81-45247a91a514",
      "label": "",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>