<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7e6e704d-a3f7-4b91-a394-869d9bec1080" Alias="TPR Header menu block list" Level="2">
  <Info>
    <Name>TPR Header menu block list</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>TPR</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "7cddfcdc-5921-4dcf-a203-2ce06c447ebf",
      "label": "",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>