<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9d31213d-3d07-4c6f-b7f2-dc2d3bf09090" Alias="TPR Nested box style" Level="2">
  <Info>
    <Name>TPR Nested box style</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
    <Folder>TPR</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Solid",
    "Bordered"
  ],
  "umbMigrationV14": "2025-12-12T16:38:55.4067782\u002B00:00"
}]]></Config>
</DataType>