<?xml version="1.0" encoding="utf-8"?>
<DataType Key="48f89b23-2121-4f38-acca-02770993ca35"
  Alias="TPR Rich text editor (Header and footer)" Level="2">
  <Info>
    <Name>TPR Rich text editor (Header and footer)</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Tiptap</EditorUIAlias>
    <Folder>TPR</Folder>
  </Info>
  <Config><![CDATA[{
  "extensions": [
    "Umb.Tiptap.RichTextEssentials",
    "Umb.Tiptap.BulletList",
    "Umb.Tiptap.Link"
  ],
  "ignoreUserStartNodes": false,
  "maxImageSize": 500,
  "overlaySize": "small",
  "stylesheets": [
    "/govuk-umbraco-backoffice.css",
    "/site.css"
  ],
  "toolbar": [
    [
      [
        "Umb.Tiptap.Toolbar.ClearFormatting"
      ],
      [
        "Umb.Tiptap.Toolbar.Link",
        "Umb.Tiptap.Toolbar.Unlink"
      ],
      [
        "Umb.Tiptap.Toolbar.BulletList"
      ],
      [
        "Umb.Tiptap.Toolbar.CharacterMap"
      ]
    ]
  ]
}]]></Config>
</DataType>