<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f27e644d-7f6d-43cf-b0e4-5cf4286b5cf2" Alias="TPR Rich text editor (Navigational links)" Level="2">
  <Info>
    <Name>TPR Rich text editor (Navigational links)</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TinyMCE</EditorUIAlias>
    <Folder>TPR</Folder>
  </Info>
  <Config><![CDATA[{
  "maxImageSize": 0,
  "mode": "Classic",
  "stylesheets": [
    "/govuk-umbraco-backoffice.css",
    "/site.css"
  ],
  "toolbar": [
    "styles",
    "fontname",
    "bold",
    "italic",
    "bullist",
    "numlist",
    "link",
    "unlink"
  ]
}]]></Config>
</DataType>