<?xml version="1.0" encoding="utf-8"?>
<DataType Key="48f89b23-2121-4f38-acca-02770993ca35" Alias="TPR Rich text editor (Header and footer)" Level="2">
  <Info>
    <Name>TPR Rich text editor (Header and footer)</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TinyMCE</EditorUIAlias>
    <Folder>TPR</Folder>
  </Info>
  <Config><![CDATA[{
  "hideLabel": false,
  "ignoreUserStartNodes": false,
  "maxImageSize": 500,
  "mode": "Classic",
  "overlaySize": "small",
  "stylesheets": [
    "/govuk-umbraco-backoffice.css",
    "/site.css"
  ],
  "toolbar": [
    "removeformat",
    "bullist",
    "link",
    "unlink",
    "charmap"
  ],
  "useLiveEditing": false
}]]></Config>
</DataType>