<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cf0427f6-51a2-420d-89b1-a4eb95f556ac" Alias="TPR Rich text editor (Section card)" Level="2">
  <Info>
    <Name>TPR Rich text editor (Section card)</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Tiptap</EditorUIAlias>
    <Folder>TPR</Folder>
  </Info>
  <Config><![CDATA[{
  "extensions": [
    "Umb.Tiptap.RichTextEssentials",
    "Umb.Tiptap.Link",
    "Umb.Tiptap.Subscript",
    "Umb.Tiptap.Superscript",
    "Umb.Tiptap.Bold",
    "Umb.Tiptap.BulletList",
    "Umb.Tiptap.Italic",
    "Umb.Tiptap.OrderedList"
  ],
  "ignoreUserStartNodes": false,
  "maxImageSize": 500,
  "overlaySize": "small",
  "stylesheets": [
    "/css/govuk-umbraco-backoffice.css",
    "/css/site.css"
  ],
  "toolbar": [
    [
      [
        "Umb.Tiptap.Toolbar.ClearFormatting"
      ],
      [
        "Umb.Tiptap.Toolbar.Bold",
        "Umb.Tiptap.Toolbar.Italic",
        "Umb.Tiptap.Toolbar.Link",
        "Umb.Tiptap.Toolbar.Unlink"
      ],
      [
        "Umb.Tiptap.Toolbar.BulletList",
        "Umb.Tiptap.Toolbar.OrderedList"
      ],
      [
        "Umb.Tiptap.Toolbar.Superscript",
        "Umb.Tiptap.Toolbar.Subscript",
        "Umb.Tiptap.Toolbar.CharacterMap"
      ]
    ]
  ],
  "umbMigrationV14": "2025-12-12T16:38:55.4069578\u002B00:00",
  "useLiveEditing": false
}]]></Config>
</DataType>