<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3f0e07bd-9bf9-4cea-a23a-1acc1ade362d" Alias="TPR Rich text editor (YouTube video description)" Level="2">
  <Info>
    <Name>TPR Rich text editor (YouTube video description)</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TinyMCE</EditorUIAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>TPR</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": null,
  "hideLabel": false,
  "ignoreUserStartNodes": false,
  "maxImageSize": 500,
  "mediaParentId": null,
  "mode": "Classic",
  "overlaySize": "small",
  "stylesheets": [
    "/govuk-umbraco-backoffice.css",
    "/site.css"
  ],
  "toolbar": [
    "removeformat",
    "bold",
    "italic",
    "bullist",
    "numlist",
    "link",
    "subscript",
    "superscript",
    "charmap"
  ],
  "useLiveEditing": false
}]]></Config>
</DataType>