<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e79034f4-d7d6-4f37-bf7c-b4526b99ad2b" Alias="TPR Section cards block list" Level="2">
  <Info>
    <Name>TPR Section cards block list</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>TPR</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "fa51167e-c0be-45ec-be60-88487f2d2c73",
      "settingsElementTypeKey": "2fd0c09e-c2ed-4ed1-b891-dd3470d2a3e3",
      "label": "Card",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "73260d9d-6a32-4791-bda8-6b992526ec9d",
      "settingsElementTypeKey": "2fd0c09e-c2ed-4ed1-b891-dd3470d2a3e3",
      "label": "All children of current page",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>