<?xml version="1.0" encoding="utf-8"?>
<DataType Key="47d84fa3-aa75-4ed2-b3ed-44b2d635c2d6" Alias="TPR YouTube video settings - Autoplay" Level="2">
  <Info>
    <Name>TPR YouTube video settings - Autoplay</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
    <Folder>TPR</Folder>
  </Info>
  <Config><![CDATA[{
  "default": false,
  "showLabels": false
}]]></Config>
</DataType>