@import '_variables.scss';
@import 'govuk/base';

.govuk-back-to-top-link {
    @include govuk-link-common;
    @include govuk-link-style-no-visited-state;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.14286;
    font-family: $govuk-font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: underline;
    float: right;
    display: inline-block;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 16px
}

@media (min-width: 40.0625em) {
    .govuk-back-to-top-link {
        font-size: 16px;
        font-size: 1rem;
        line-height: 1.25
    }
}

@media print {
    .govuk-back-to-top-link {
        font-size: 14pt;
        line-height: 1.2;
        font-family: sans-serif
    }
}

.govuk-back-to-top-link:before {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    bottom: 0;
    left: 2px;
    width: 7px;
    height: 7px;
    margin: auto 0;
    -webkit-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    transform: rotate(315deg);
    border: solid;
    border-width: 1px 1px 0 0;
    border-color: #505a5f
}

.govuk-back-to-top-link:focus:before {
    border-color: #0b0c0c
}

.govuk-back-to-top-link:after {
    content: "";
    position: absolute;
    top: -14px;
    right: 0;
    bottom: -14px;
    left: 0
}
