@import '_variables.scss';

.govuk-notification-banner__header {
    display: none;
}

.govuk-notification-banner {
    border-color: $tpr-colour-eastern-blue;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: $tpr-colour-eastern-blue;

    &.govuk-notification-banner--success {
        border-color: $tpr-colour-camarone;
        background-color: $tpr-colour-camarone;

        > .govuk-notification-banner__content {
            background-color: $tpr-colour-camarone;

            > .govuk-button--reversed {
                color: $tpr-colour-camarone;
                &:hover{
                    color: $tpr-colour-white;
                }
            }

            > .govuk-grid-row {
                display: flex;
                justify-content: center;

                > .govuk-grid-column {

                    > .govuk-button--reversed {
                        color: $tpr-colour-camarone;
                    }
                }
            }

        }

    }

}

.govuk-notification-banner__content {
    background-color: $tpr-colour-eastern-blue;
    color: $tpr-colour-white;
    padding: govuk-spacing(6);

    > .govuk-body {
    margin-bottom: govuk-spacing(4);
    color: $tpr-colour-white;
    }

    > * {
        max-width: none;
    }

    > .govuk-button, .govuk-button-group {
        margin-top: 20px;
    }

    > .govuk-button-group {
        justify-content: center;
    }

    > .govuk-grid-row {
        display: flex;
        justify-content: center;

        > .govuk-grid-column {

            > .govuk-button {
                margin-bottom: 0;
            }

            > .govuk-button-group {
                justify-content: center;
                margin-bottom: 0;

                > .govuk-button {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.govuk-notification-banner__link, 
.govuk-notification-banner > * .govuk-link {
    color: $tpr-colour-white;
    text-decoration-thickness: 1px;

    &:hover {
        color: $tpr-colour-white;
        text-decoration-thickness: 2px;
    }

    &:visited {
        color: $tpr-colour-white;
        text-decoration-thickness: 1px;
    }

    &:focus {
        color: $tpr-colour-black;
    }
}

.govuk-notification-banner--success {
    .govuk-notification-banner__link{
        &:visited {
            color: $tpr-colour-white; 
        }
    }
}
