@import '_variables.scss';
@import 'govuk/base';

/* Change GOV.UK caption styles where the TPR brand diverges from the GOV.UK Design System. */
.govuk-inset-text {
    border-left-width: govuk-px-to-rem(10px);
    font-weight: $tpr-font-weight-semi-bold;
}