/* The default font for the GOV.UK Design System, 'GDS Transport', is not licenced for use on many .gov.uk domains,
   (see https://design-system.service.gov.uk/styles/typography/) so replace it with 'Public Sans' from Google Fonts.
*/
$govuk-font-family: 'Public Sans', Arial, sans-serif;

@import 'govuk/base';
@import 'govuk/core/all';
@import "govuk/objects/all";
@import "govuk/components/back-link";
@import "govuk/components/button";
@import "govuk/components/character-count";
@import "govuk/components/checkboxes";
@import "govuk/components/date-input";
@import "govuk/components/details";
@import "govuk/components/error-message";
@import "govuk/components/error-summary";
@import "govuk/components/fieldset";
@import "govuk/components/hint";
@import "govuk/components/input";
@import "govuk/components/inset-text";
@import "govuk/components/label";
@import "govuk/components/notification-banner";
@import "govuk/components/panel";
@import "govuk/components/radios";
@import "govuk/components/select";
@import "govuk/components/skip-link";
@import "govuk/components/textarea";
@import "govuk/components/warning-text";
@import "govuk/utilities/all";
@import "govuk/overrides/all";

@font-face {
    font-family: "Public Sans";
    font-style: normal; 
    font-weight: 400;
    font-display: swap;
    src: local("Public Sans Regular"), local("PublicSans-Regular"), url(../govuk/PublicSans-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("Public Sans Bold"), local("PublicSans-Bold"), url(../govuk/PublicSans-Bold.ttf) format("truetype");
}

/* Set letter-spacing to make 'Public Sans' look more like 'GDS Transport'.
   As at govuk-frontend 4.1.0 these are all the selectors where $govuk-font-family is specified, except the header and footer components. */
.govuk-link,
.govuk-list,
.govuk-heading-xl,
.govuk-heading-l,
.govuk-heading-m,
.govuk-heading-s,
.govuk-caption-xl,
.govuk-caption-l,
.govuk-caption-m,
.govuk-body-lead,
.govuk-body-l,
.govuk-body,
.govuk-body-m,
.govuk-body-s,
.govuk-body-xs,
.govuk-button-group .govuk-link,
.govuk-accordion__section-button,
.js-enabled .govuk-accordion__show-all,
.govuk-back-link,
.govuk-breadcrumbs,
.govuk-breadcrumbs__link,
.govuk-button,
.govuk-error-message,
.govuk-fieldset__legend,
.govuk-fieldset__legend--xl,
.govuk-fieldset__legend--l,
.govuk-fieldset__legend--m,
.govuk-fieldset__legend--s,
.govuk-hint,
.govuk-label,
.govuk-label--xl,
.govuk-label--l,
.govuk-label--m,
.govuk-label--s,
.govuk-checkboxes__item,
.govuk-checkboxes__divider,
.govuk-textarea,
.govuk-character-count__message,
.govuk-summary-list,
.govuk-input,
.govuk-input__prefix,
.govuk-input__suffix,
.govuk-details,
.govuk-error-summary__title,
.govuk-error-summary__body,
.govuk-error-summary__list a,
.govuk-file-upload,
.govuk-inset-text,
.govuk-notification-banner,
.govuk-notification-banner__title,
.govuk-notification-banner__heading,
.govuk-notification-banner__link,
.govuk-panel,
.govuk-panel__title,
.govuk-panel__body,
.govuk-tag,
.govuk-phase-banner__content,
.govuk-tabs__title,
.govuk-tabs__list-item,
.govuk-tabs__tab,
.govuk-radios__item,
.govuk-radios__divider,
.govuk-select,
.govuk-skip-link,
.govuk-table,
.govuk-table__cell--numeric,
.govuk-table__caption--xl,
.govuk-table__caption--l,
.govuk-table__caption--m,
.govuk-table__caption--s,
.govuk-warning-text__icon,
.govuk-warning-text__text {
    letter-spacing: -.02em
}