@import '_variables.scss';

// The add image is from Material UI https: //fonts.google.com/icons?selected=Material+Icons+Outlined:add
// Using a background image means no extra HTML is required and no extra characters are exposed to assistive technology.
p.tpr-add-link {
    a {
        padding-left: 20px;
        background-repeat: no-repeat;
        background-position: 0 2px;
        background-image: url(/_content/GovUK.Frontend.AspNetCore.Extensions/tpr/add_royal_blue_24dp.svg);
    }
}
