@import '_variables.scss';
@import 'govuk/base';

$tpr-notification-banner__heading-line-height: 1.5em;
$tpr-notification-banner__content-line-height: 1.5em;
$tpr-notification-banner-font-size: 1.4em;

.tpr-notification-banner {
    background-color: $tpr-colour-eastern-blue;
    padding: govuk-spacing(6);
    margin-bottom: govuk-spacing(8);
}
.tpr-notificaiton-banner__content {
    text-align: center;
    color: $tpr-colour-white;

    > .govuk-body {
        color: $tpr-colour-white;
        font-size: $tpr-notification-banner-font-size;
        line-height: $tpr-notification-banner__content-line-height;
        margin: 0 0 govuk-spacing(4) 0;
    }
    > .govuk-grid-row {
        display: flex;
        justify-content: center;

        > .govuk-grid-column{
            > .govuk-button{
                margin-bottom: 0;
            }
            > .govuk-button-group{
                justify-content: center;

                > .govuk-button{
                    margin-bottom: 0;
                }
            }
        }
    }
    > .govuk-button-group {
        justify-content: center;
        margin: 0;
    }

    > .govuk-button{
        margin: 0;
    }
}

.tpr-notification-banner__heading {
    font-family: $govuk-font-family;
    font-weight: $tpr-font-weight-bold;
    line-height: $tpr-notification-banner__heading-line-height;
    font-size: $tpr-notification-banner-font-size;
    margin: 0 0 govuk-spacing(2) 0;
}