@import '_tpr-variables.scss';
@import 'govuk/base';

/* Change GOV.UK styles where the TPR brand diverges from the GOV.UK Design System. */
.govuk-summary-list__key {
    font-weight: $tpr-font-weight-semi-bold;
}