@import '_variables.scss';
@import 'govuk/base';

.tpr-back-to-top {
    text-align: center;
    border-top: govuk-px-to-rem(1) solid $tpr-colour-very-light-grey;
    padding-top: govuk-px-to-rem(11); // to achieve WCAG minimum click target height of 44px
}

@include govuk-media-query($from: desktop) {
    .tpr-back-to-top {
        text-align: right;
    }
}

// Customisations to the default style applied by .govuk-link
.tpr-back-to-top .govuk-link {
    @include govuk-link-style-no-visited-state;
    display: inline-block;
    position: relative;
    padding: 0 16px govuk-px-to-rem(11) 16px; // space for the arrow, but center on the text only
}

// Arrow pointing upward, made of CSS borders
.tpr-back-to-top .govuk-link:before {
    content: "";
    display: block;
    position: absolute;
    top: -4px;
    bottom: 0;
    left: 0;
    width: 7px;
    height: 7px;
    margin: auto 0;
    -webkit-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    transform: rotate(315deg);
    border: solid;
    border-width: govuk-px-to-rem(2) govuk-px-to-rem(2) 0 0;
    border-color: $tpr-colour-royal-blue;
}

// Change the arrow colour when the link has the standard focus background 
.tpr-back-to-top .govuk-link:focus:before {
    border-color: $tpr-colour-black;
}

// Increase the clickable area of the link
.tpr-back-to-top .govuk-link:after {
    content: "";
    position: absolute;
    top: -14px;
    right: 0;
    bottom: -14px;
    left: 0
}

@media print {
    .tpr-back-to-top {
         display: none;
    }
}