@import '_tpr-variables.scss';
@import 'govuk/base';

/* Change GOV.UK inset text styles where the TPR brand diverges from the GOV.UK Design System. */
.govuk-inset-text {
    margin-top: 0;
    border-left-width: govuk-px-to-rem(10px);
    font-weight: $tpr-font-weight-semi-bold;
}