// Set variables which change the definition of GOV.UK classes before they are compiled
@import '_variables.scss';

// Import and compile GOV.UK classes for components we support
@import 'govuk/base';
@import 'govuk/core/all';
@import "govuk/objects/all";
@import "govuk/components/back-link";
@import "govuk/components/button";
@import "govuk/components/character-count";
@import "govuk/components/checkboxes";
@import "govuk/components/date-input";
@import "govuk/components/details";
@import "govuk/components/error-message";
@import "govuk/components/error-summary";
@import "govuk/components/fieldset";
@import "govuk/components/hint";
@import "govuk/components/input";
@import "govuk/components/inset-text";
@import "govuk/components/label";
@import "govuk/components/notification-banner";
@import "govuk/components/panel";
@import "govuk/components/phase-banner";
@import "govuk/components/radios";
@import "govuk/components/select";
@import "govuk/components/skip-link";
@import "govuk/components/summary-list";
@import "govuk/components/table";
@import "govuk/components/textarea";
@import "govuk/components/warning-text";
@import "govuk/utilities/all";
@import "govuk/overrides/all";
@import "_govuk-task-list.scss";

// Load our custom font (we are not allowed to use 'GDS Transport' https://design-system.service.gov.uk/styles/typography/)
@import '_open-sans.scss';

// Override compiled GOV.UK styles to apply differences from the TPR UI Kit
@import '_govuk-button.scss';
@import '_govuk-caption.scss';
@import '_govuk-date-input.scss';
@import '_govuk-details.scss';
@import '_govuk-fieldset.scss';
@import '_govuk-input.scss';
@import '_govuk-inset-text.scss';
@import '_govuk-label.scss';
@import '_govuk-link.scss';
@import '_govuk-panel.scss';
@import '_govuk-phase-banner.scss';
@import '_govuk-radios-checkboxes.scss';
@import '_govuk-summary-list.scss';
@import '_govuk-table.scss';

// Add different components and customisations that are not part of the GOV.UK Design System
@import "_tpr-task-list.scss";
@import '_tpr-page.scss';
@import '_tpr-grid.scss';
@import '_tpr-back-to-top.scss';
@import '_tpr-add-link.scss';
@import '_tpr-header.scss';
@import '_tpr-footer.scss';
@import '_tpr-notification-banner.scss';