@{
    ViewData["Title"] = "Button";
}
<span class="govuk-caption-xl">GOV.UK Design System</span>
<h1 class="govuk-heading-l">@ViewData["Title"]</h1>

<govuk-button-link is-start-button="true" href="/">Start now</govuk-button-link>
<govuk-button-link is-start-button="false" href="/">Link to next page</govuk-button-link>

<div class="govuk-button-group">
    <govuk-button type="submit">Default button</govuk-button>
    <govuk-button class="govuk-button--secondary" type="button">Secondary button</govuk-button>
    <govuk-button class="govuk-button--warning" type="button">Warning button</govuk-button>
    <a href="/" class="govuk-link">Cancel</a>
</div>