@import 'govuk/base';

/* Add spacing around custom backoffice views of block content. */
.backoffice-block-view {
    margin: 20px 20px 0;
    border-bottom: 1px dashed #bbbabf;
    padding-top: .1px;
}
.backoffice-block-view p,
.backoffice-block-view.govuk-heading-l {
    margin-top: 0;
}

.backoffice-block-view.govuk-caption-l {
    padding-bottom: 20px;
}

.backoffice-block-view.govuk-caption-l,
.backoffice-block-view.govuk-details,
.backoffice-block-view.govuk-error-message,
.backoffice-block-view > .govuk-error-summary,
.backoffice-block-view.govuk-fieldset,
.backoffice-block-view.govuk-form-group:not(.backoffice-block-view-textarea),
.backoffice-block-view.govuk-inset-text,
.backoffice-block-view.govuk-notification-banner,
.backoffice-block-view.govuk-panel {
    padding-top: 20px;
}
.backoffice-block-view.govuk-panel,
.backoffice-block-view.govuk-summary-list,
.backoffice-block-view > .govuk-date-input__fieldset {
    margin-bottom: 20px;
}
.backoffice-block-view.govuk-panel,
.backoffice-block-view > .govuk-notification-banner__content {
    padding-bottom: 0;
}
.backoffice-block-view.govuk-panel a:link,
.backoffice-block-view.govuk-panel a:visited {
    color: #fff;
}
.backoffice-block-view.govuk-fieldset {
    border: 2px dashed #ccc;
    padding: 20px;
    min-height: 20px;
}

.backoffice-additional-blocks {
    border: 1px dashed #ccc;
    padding: 10px;
}

.govuk-checkboxes__item > .backoffice-additional-blocks,
.govuk-radios__item > .backoffice-additional-blocks {
    margin: 5px 0 0 15px;
}
.backoffice-block-view.govuk-notification-banner .backoffice-additional-blocks {
    margin-bottom: 20px;
}

.backoffice-block-view .govuk-summary-list__row:not(.govuk-summary-list__row--no-actions) > :last-child {
    padding-right: 40px;
}

.backoffice-block-view.govuk-summary-card .govuk-summary-list__row:not(.govuk-summary-list__row--no-actions) > :last-child {
    padding-right: 0;
}

.backoffice-block-view .govuk-summary-card__content {
    padding-bottom: 0;
    margin-bottom: 20px;
}
.backoffice-block-view .govuk-task-list__link {
    color: $govuk-link-colour;
}

.backoffice-block-view .govuk-textarea {
    margin-bottom: 0;
}