<?xml version="1.0" encoding="utf-8"?>
<Content Key="22a4a3ef-d9d7-4129-b573-ea9a707040b3" Alias="Accordion" Level="2">
  <Info>
    <Parent Key="5e682cbe-b867-491a-955f-3382446d5663">Home</Parent>
    <Path>/Home/Accordion</Path>
    <Trashed>false</Trashed>
    <ContentType>accordion</ContentType>
    <CreateDate>2024-05-08T10:28:46</CreateDate>
    <NodeName Default="Accordion" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="493afb33-d796-4b72-a691-2aa04a9b1d36">Accordion</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "key": "b5e5e372-6e0e-46f6-8d57-af2b5904fb30",
      "values": [
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Example application in Umbraco"
        }
      ]
    },
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "key": "3fd15e73-bea3-449d-b6a7-48ac444c9b44",
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "21e3dbf9-cf23-4caa-9bc1-fa04edd8d95e",
      "key": "7fd1bfeb-65e6-486b-836b-17eed2da7cf7",
      "values": [
        {
          "alias": "sections",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "5bb40489-3f94-44a6-858c-de25a61db634",
                "key": "937849b7-1a5e-4e0f-9bf0-4f3a1e1bbdf8",
                "values": [
                  {
                    "alias": "blocks",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "contentData": [
                        {
                          "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
                          "key": "014334f4-bebf-45f0-be3e-7ad4c71bd8f3",
                          "values": [
                            {
                              "alias": "text",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": {
                                "blocks": {
                                  "contentData": [],
                                  "settingsData": [],
                                  "expose": [],
                                  "Layout": {}
                                },
                                "markup": "\u003Cp\u003EEach section supports \u003Cstrong\u003Erich text content\u003C/strong\u003E. This section has no summary, and is expanded by default.\u003C/p\u003E"
                              }
                            }
                          ]
                        }
                      ],
                      "settingsData": [],
                      "expose": [
                        {
                          "contentKey": "014334f4-bebf-45f0-be3e-7ad4c71bd8f3",
                          "culture": null,
                          "segment": null
                        }
                      ],
                      "Layout": {
                        "Umbraco.BlockGrid": [
                          {
                            "areas": [],
                            "columnSpan": 12,
                            "contentKey": "014334f4-bebf-45f0-be3e-7ad4c71bd8f3",
                            "contentUdi": null,
                            "rowSpan": 1,
                            "settingsKey": null,
                            "settingsUdi": null
                          }
                        ]
                      }
                    }
                  },
                  {
                    "alias": "heading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Section 1"
                  },
                  {
                    "alias": "summary",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  }
                ]
              },
              {
                "contentTypeKey": "5bb40489-3f94-44a6-858c-de25a61db634",
                "key": "baeb795c-01c2-4844-ab46-30bc09869249",
                "values": [
                  {
                    "alias": "blocks",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "contentData": [
                        {
                          "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
                          "key": "cf608502-93b0-486b-bee7-2e4048bc5f7f",
                          "values": [
                            {
                              "alias": "text",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": {
                                "blocks": {
                                  "contentData": [],
                                  "settingsData": [],
                                  "expose": [],
                                  "Layout": {}
                                },
                                "markup": "\u003Cp\u003EThis content will remain visible until you close it, or clear your cookies.\u003C/p\u003E"
                              }
                            }
                          ]
                        }
                      ],
                      "settingsData": [],
                      "expose": [
                        {
                          "contentKey": "cf608502-93b0-486b-bee7-2e4048bc5f7f",
                          "culture": null,
                          "segment": null
                        }
                      ],
                      "Layout": {
                        "Umbraco.BlockGrid": [
                          {
                            "areas": [],
                            "columnSpan": 12,
                            "contentKey": "cf608502-93b0-486b-bee7-2e4048bc5f7f",
                            "contentUdi": null,
                            "rowSpan": 1,
                            "settingsKey": null,
                            "settingsUdi": null
                          }
                        ]
                      }
                    }
                  },
                  {
                    "alias": "heading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Section 2"
                  },
                  {
                    "alias": "summary",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "This section is collapsed when the page loads"
                  }
                ]
              },
              {
                "contentTypeKey": "5bb40489-3f94-44a6-858c-de25a61db634",
                "key": "44bab647-87ef-43fd-9e58-999d95a459c3",
                "values": [
                  {
                    "alias": "blocks",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "contentData": [
                        {
                          "contentTypeKey": "3fa201d9-0d89-458f-b6dc-f5fb6fc8e10a",
                          "key": "b2b50e72-8d08-4b39-ad62-5dac05153e4f",
                          "values": []
                        },
                        {
                          "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
                          "key": "6c82876c-eb7b-4d93-bb46-c5a9e2fb375a",
                          "values": [
                            {
                              "alias": "text",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": {
                                "blocks": {
                                  "contentData": [],
                                  "settingsData": [],
                                  "expose": [],
                                  "Layout": {}
                                },
                                "markup": "\u003Cp\u003EThis is in column one.\u003C/p\u003E"
                              }
                            }
                          ]
                        },
                        {
                          "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
                          "key": "4fcd8fe6-423a-4f84-b8d8-0b94843b4f7d",
                          "values": [
                            {
                              "alias": "text",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": {
                                "blocks": {
                                  "contentData": [],
                                  "settingsData": [],
                                  "expose": [],
                                  "Layout": {}
                                },
                                "markup": "\u003Cp\u003EThis is in column two.\u003C/p\u003E"
                              }
                            }
                          ]
                        },
                        {
                          "contentTypeKey": "40bb2a3e-3d75-4ec1-9134-e0c46c6f04a0",
                          "key": "136f8a23-2ef8-4c83-9e08-e4ae7fb9ca3c",
                          "values": [
                            {
                              "alias": "text",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": {
                                "blocks": {
                                  "contentData": [],
                                  "settingsData": [],
                                  "expose": [],
                                  "Layout": {}
                                },
                                "markup": "\u003Cp\u003EInset text and other non-forms components are allowed inside an accordion.\u003C/p\u003E"
                              }
                            }
                          ]
                        },
                        {
                          "contentTypeKey": "9389c5e5-ce97-4211-97c5-f2cd173ca648",
                          "key": "d9a61bb7-3c86-44ef-9f9f-63a6613fe6ac",
                          "values": [
                            {
                              "alias": "image",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": [
                                {
                                  "key": "48162d3b-1903-4a93-bb9a-f4935ea1f7e4",
                                  "mediaKey": "37113179-dc19-4536-a202-2859f11db90a",
                                  "mediaTypeAlias": "Image",
                                  "crops": [],
                                  "focalPoint": null
                                }
                              ]
                            }
                          ]
                        },
                        {
                          "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
                          "key": "3c4033e3-8193-41a8-a726-d2c68cf849ba",
                          "values": [
                            {
                              "alias": "text",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": {
                                "blocks": {
                                  "contentData": [],
                                  "settingsData": [],
                                  "expose": [],
                                  "Layout": {}
                                },
                                "markup": "\u003Cp\u003EImages don\u0027t feature in the GOV.UK Design System, but if you use a TPR Block grid or TPR Block list property editor rather than GOV.UK Block grid or GOV.UK Block list, you can add images too.\u003C/p\u003E"
                              }
                            }
                          ]
                        }
                      ],
                      "settingsData": [
                        {
                          "contentTypeKey": "53edb934-ee79-4ff0-b23a-84b91e9fef7a",
                          "key": "f802aa56-bd84-4e6f-8dee-31ea30d78e4d",
                          "values": [
                            {
                              "alias": "stackColumns",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": ""
                            }
                          ]
                        },
                        {
                          "contentTypeKey": "562c13ba-8543-4932-b448-8dd0d71e67b2",
                          "key": "5fb1316b-33d2-45a2-83dc-990d7b3e9c24",
                          "values": [
                            {
                              "alias": "cssClasses",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": ""
                            }
                          ]
                        },
                        {
                          "contentTypeKey": "9e06323c-cf04-4e08-a132-a8ebe4e3028e",
                          "key": "9e76ef1a-9507-493e-ae83-cff31691b5aa",
                          "values": []
                        }
                      ],
                      "expose": [
                        {
                          "contentKey": "b2b50e72-8d08-4b39-ad62-5dac05153e4f",
                          "culture": null,
                          "segment": null
                        },
                        {
                          "contentKey": "6c82876c-eb7b-4d93-bb46-c5a9e2fb375a",
                          "culture": null,
                          "segment": null
                        },
                        {
                          "contentKey": "4fcd8fe6-423a-4f84-b8d8-0b94843b4f7d",
                          "culture": null,
                          "segment": null
                        },
                        {
                          "contentKey": "136f8a23-2ef8-4c83-9e08-e4ae7fb9ca3c",
                          "culture": null,
                          "segment": null
                        },
                        {
                          "contentKey": "d9a61bb7-3c86-44ef-9f9f-63a6613fe6ac",
                          "culture": null,
                          "segment": null
                        },
                        {
                          "contentKey": "3c4033e3-8193-41a8-a726-d2c68cf849ba",
                          "culture": null,
                          "segment": null
                        }
                      ],
                      "Layout": {
                        "Umbraco.BlockGrid": [
                          {
                            "areas": [
                              {
                                "items": [
                                  {
                                    "areas": [],
                                    "columnSpan": 6,
                                    "contentKey": "6c82876c-eb7b-4d93-bb46-c5a9e2fb375a",
                                    "contentUdi": null,
                                    "rowSpan": 1,
                                    "settingsKey": null,
                                    "settingsUdi": null
                                  }
                                ],
                                "key": "e612cf51-f8f5-4c79-891c-21f860d0a38f"
                              },
                              {
                                "items": [
                                  {
                                    "areas": [],
                                    "columnSpan": 6,
                                    "contentKey": "4fcd8fe6-423a-4f84-b8d8-0b94843b4f7d",
                                    "contentUdi": null,
                                    "rowSpan": 1,
                                    "settingsKey": null,
                                    "settingsUdi": null
                                  }
                                ],
                                "key": "f801579d-d157-4900-b37a-f138aeb5ee03"
                              }
                            ],
                            "columnSpan": 12,
                            "contentKey": "b2b50e72-8d08-4b39-ad62-5dac05153e4f",
                            "contentUdi": null,
                            "rowSpan": 1,
                            "settingsKey": "f802aa56-bd84-4e6f-8dee-31ea30d78e4d",
                            "settingsUdi": null
                          },
                          {
                            "areas": [],
                            "columnSpan": 12,
                            "contentKey": "136f8a23-2ef8-4c83-9e08-e4ae7fb9ca3c",
                            "contentUdi": null,
                            "rowSpan": 1,
                            "settingsKey": "5fb1316b-33d2-45a2-83dc-990d7b3e9c24",
                            "settingsUdi": null
                          },
                          {
                            "areas": [],
                            "columnSpan": 12,
                            "contentKey": "3c4033e3-8193-41a8-a726-d2c68cf849ba",
                            "contentUdi": null,
                            "rowSpan": 1,
                            "settingsKey": null,
                            "settingsUdi": null
                          },
                          {
                            "areas": [],
                            "columnSpan": 12,
                            "contentKey": "d9a61bb7-3c86-44ef-9f9f-63a6613fe6ac",
                            "contentUdi": null,
                            "rowSpan": 1,
                            "settingsKey": "9e76ef1a-9507-493e-ae83-cff31691b5aa",
                            "settingsUdi": null
                          }
                        ]
                      }
                    }
                  },
                  {
                    "alias": "heading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Section 3"
                  },
                  {
                    "alias": "summary",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Sections can contain columns"
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "3c2ae3cf-3387-4bee-b34e-0f5ec3a45ca2",
                "key": "80765d60-cddf-4d71-a431-4d982b35da49",
                "values": [
                  {
                    "alias": "cssClasses",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "expandSection",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "3c2ae3cf-3387-4bee-b34e-0f5ec3a45ca2",
                "key": "e3a6a483-7470-451c-bcce-4edeebc7b603",
                "values": [
                  {
                    "alias": "cssClasses",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "expandSection",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "0"
                  }
                ]
              },
              {
                "contentTypeKey": "3c2ae3cf-3387-4bee-b34e-0f5ec3a45ca2",
                "key": "6409caeb-ad44-480d-af4f-a1ce68de9a05",
                "values": [
                  {
                    "alias": "cssClasses",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "expandSection",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              }
            ],
            "expose": [
              {
                "contentKey": "937849b7-1a5e-4e0f-9bf0-4f3a1e1bbdf8",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "baeb795c-01c2-4844-ab46-30bc09869249",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "44bab647-87ef-43fd-9e58-999d95a459c3",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "937849b7-1a5e-4e0f-9bf0-4f3a1e1bbdf8",
                  "contentUdi": null,
                  "settingsKey": "80765d60-cddf-4d71-a431-4d982b35da49",
                  "settingsUdi": null
                },
                {
                  "contentKey": "baeb795c-01c2-4844-ab46-30bc09869249",
                  "contentUdi": null,
                  "settingsKey": "e3a6a483-7470-451c-bcce-4edeebc7b603",
                  "settingsUdi": null
                },
                {
                  "contentKey": "44bab647-87ef-43fd-9e58-999d95a459c3",
                  "contentUdi": null,
                  "settingsKey": "6409caeb-ad44-480d-af4f-a1ce68de9a05",
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "key": "b3a880db-f9ac-46e8-a9e6-aa93ff30d01d",
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EThe \u003Ca href=\u0022https://design-system.service.gov.uk/components/accordion/\u0022\u003Eaccordion component\u003C/a\u003E lets users show and hide sections of related content on a page.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "key": "5cbf511c-dbde-49eb-a0e6-e93f0ae1a9cf",
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "key": "0931254b-b3bb-487c-ba8c-3b300a7020f0",
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "5c3a9c47-9ed6-4a26-b7ac-e8639ed4472f",
      "key": "160788c7-d24b-45d7-a403-40b02b998b2e",
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "headingLevel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "headingClass",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "key": "6e4166a0-7fa6-493d-9ce9-43821f3f72c7",
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "b5e5e372-6e0e-46f6-8d57-af2b5904fb30",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3fd15e73-bea3-449d-b6a7-48ac444c9b44",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7fd1bfeb-65e6-486b-836b-17eed2da7cf7",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b3a880db-f9ac-46e8-a9e6-aa93ff30d01d",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "b5e5e372-6e0e-46f6-8d57-af2b5904fb30",
        "contentUdi": null,
        "settingsKey": "5cbf511c-dbde-49eb-a0e6-e93f0ae1a9cf",
        "settingsUdi": null
      },
      {
        "contentKey": "3fd15e73-bea3-449d-b6a7-48ac444c9b44",
        "contentUdi": null,
        "settingsKey": "0931254b-b3bb-487c-ba8c-3b300a7020f0",
        "settingsUdi": null
      },
      {
        "contentKey": "b3a880db-f9ac-46e8-a9e6-aa93ff30d01d",
        "contentUdi": null,
        "settingsKey": "6e4166a0-7fa6-493d-9ce9-43821f3f72c7",
        "settingsUdi": null
      },
      {
        "contentKey": "7fd1bfeb-65e6-486b-836b-17eed2da7cf7",
        "contentUdi": null,
        "settingsKey": "160788c7-d24b-45d7-a403-40b02b998b2e",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <headingScaleStart>
      <Value><![CDATA[]]></Value>
    </headingScaleStart>
  </Properties>
</Content>