<?xml version="1.0" encoding="utf-8"?>
<Content Key="2af3577b-9718-4dd6-9718-b64a7d7628e1" Alias="Address lookup" Level="2">
  <Info>
    <Parent Key="5e682cbe-b867-491a-955f-3382446d5663">Home</Parent>
    <Path>/Home/AddressLookup</Path>
    <Trashed>false</Trashed>
    <ContentType>addressLookup</ContentType>
    <CreateDate>2026-09-29T14:27:38</CreateDate>
    <NodeName Default="Address lookup" />
    <SortOrder>39</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="01a0ed8d-03d0-77df-b516-8f597173d12e">AddressLookup</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "key": "155ff7cb-287b-4dbd-b550-a23c3aedff0f",
      "values": [
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Example app"
        }
      ]
    },
    {
      "contentTypeKey": "7b79c9f1-4f4d-4c9b-915e-8f364bc86830",
      "key": "67745c03-137e-41f9-aa0c-704012ef36b4",
      "values": []
    },
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "key": "61dc7c30-0322-462e-b040-cba57bbb4ad9",
      "values": []
    },
    {
      "contentTypeKey": "3906fa4d-51ab-4d27-ac46-8f64ef6841e8",
      "key": "2a4f425b-c83b-4103-bb7e-c92cf96b6078",
      "values": []
    },
    {
      "contentTypeKey": "35584ae7-feb5-4de8-9008-5d2d8cfb34ce",
      "key": "09b4efbc-81c8-4300-9380-b6ae2b7ba0ae",
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Submit"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "key": "2b8ac48f-858b-4e63-b06f-8d44cbc961e7",
      "values": []
    },
    {
      "contentTypeKey": "ec4a6e3f-a6a8-4c8a-9d4c-d3e90399ac2c",
      "key": "4e36d401-873f-4607-8ee5-54895e3327c5",
      "values": []
    },
    {
      "contentTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "key": "63528b27-27d3-4450-b4fd-58f16ed2a6ba",
      "values": []
    },
    {
      "contentTypeKey": "ef4778c1-2ecd-4ee7-ab2e-a944498d230e",
      "key": "30d715c0-cc41-4eed-813e-30d1307703c3",
      "values": [
        {
          "alias": "modelProperty",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Address"
        }
      ]
    },
    {
      "contentTypeKey": "e683e885-8aa0-4bdd-9eff-56966f353540",
      "key": "3e91fecd-f7d4-4605-b1c6-97ceb30e8cd8",
      "values": [
        {
          "alias": "preventDoubleClick",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "disabled",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "155ff7cb-287b-4dbd-b550-a23c3aedff0f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "67745c03-137e-41f9-aa0c-704012ef36b4",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "61dc7c30-0322-462e-b040-cba57bbb4ad9",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "2a4f425b-c83b-4103-bb7e-c92cf96b6078",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "09b4efbc-81c8-4300-9380-b6ae2b7ba0ae",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "67745c03-137e-41f9-aa0c-704012ef36b4",
        "contentUdi": null,
        "settingsKey": "4e36d401-873f-4607-8ee5-54895e3327c5",
        "settingsUdi": null
      },
      {
        "contentKey": "155ff7cb-287b-4dbd-b550-a23c3aedff0f",
        "contentUdi": null,
        "settingsKey": "2b8ac48f-858b-4e63-b06f-8d44cbc961e7",
        "settingsUdi": null
      },
      {
        "contentKey": "61dc7c30-0322-462e-b040-cba57bbb4ad9",
        "contentUdi": null,
        "settingsKey": "63528b27-27d3-4450-b4fd-58f16ed2a6ba",
        "settingsUdi": null
      },
      {
        "contentKey": "2a4f425b-c83b-4103-bb7e-c92cf96b6078",
        "contentUdi": null,
        "settingsKey": "30d715c0-cc41-4eed-813e-30d1307703c3",
        "settingsUdi": null
      },
      {
        "contentKey": "09b4efbc-81c8-4300-9380-b6ae2b7ba0ae",
        "contentUdi": null,
        "settingsKey": "3e91fecd-f7d4-4605-b1c6-97ceb30e8cd8",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
  </Properties>
</Content>