<?xml version="1.0" encoding="utf-8"?>
<Content Key="49aa9979-672c-4b96-9a1d-a87e0947511d" Alias="Breadcrumbs" Level="2">
  <Info>
    <Parent Key="5e682cbe-b867-491a-955f-3382446d5663">Home</Parent>
    <Path>/Home/Breadcrumbs</Path>
    <Trashed>false</Trashed>
    <ContentType>breadcrumbs</ContentType>
    <CreateDate>2024-12-02T15:07:18</CreateDate>
    <NodeName Default="Breadcrumbs" />
    <SortOrder>27</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="29bec9d4-d54e-4896-823a-f366eef5e5a6">Breadcrumbs</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "key": "9402a0cc-cb84-49bc-a30a-7891a5dbebdc",
      "udi": null,
      "values": [
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Example application in Umbraco"
        }
      ]
    },
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "key": "bde0a01e-d69c-4cae-8c0e-faa83ed3cd40",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "key": "e3b42390-5f76-4a45-932a-25c185eb397f",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EThe \u003Ca rel=\u0022noopener\u0022 href=\u0022https://design-system.service.gov.uk/components/breadcrumbs/\u0022 target=\u0022_blank\u0022\u003Ebreadcrumbs component\u003C/a\u003E helps users to understand where they are within a website\u2019s structure and move between levels.\u003C/p\u003E\n\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "key": "b84afa87-540f-4e7c-bdb1-df694b006eab",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "key": "b1494736-eea2-4db7-90e3-ed57a79ec9c0",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "key": "77cced08-b11b-4555-a944-d9232c6b3d5d",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "9402a0cc-cb84-49bc-a30a-7891a5dbebdc",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "bde0a01e-d69c-4cae-8c0e-faa83ed3cd40",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e3b42390-5f76-4a45-932a-25c185eb397f",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "9402a0cc-cb84-49bc-a30a-7891a5dbebdc",
        "contentUdi": "umb://element/9402a0cccb8449bca30a7891a5dbebdc",
        "settingsKey": "b84afa87-540f-4e7c-bdb1-df694b006eab",
        "settingsUdi": "umb://element/b84afa87540f4e7cbdb1df694b006eab"
      },
      {
        "contentKey": "bde0a01e-d69c-4cae-8c0e-faa83ed3cd40",
        "contentUdi": "umb://element/bde0a01ed69c4cae8c0efaa83ed3cd40",
        "settingsKey": "b1494736-eea2-4db7-90e3-ed57a79ec9c0",
        "settingsUdi": "umb://element/b1494736eea24db790e3ed57a79ec9c0"
      },
      {
        "contentKey": "e3b42390-5f76-4a45-932a-25c185eb397f",
        "contentUdi": "umb://element/e3b423905f764a45932a25c185eb397f",
        "settingsKey": "77cced08-b11b-4555-a944-d9232c6b3d5d",
        "settingsUdi": "umb://element/77cced08b11b4555a944d9232c6b3d5d"
      }
    ]
  }
}]]></Value>
    </blocks>
    <headingScaleStart>
      <Value><![CDATA[]]></Value>
    </headingScaleStart>
  </Properties>
</Content>