<?xml version="1.0" encoding="utf-8"?>
<Content Key="e096f084-c4ae-4ffb-9eef-01e8732eee1c" Alias="Checkboxes" Level="2">
  <Info>
    <Parent Key="5e682cbe-b867-491a-955f-3382446d5663">Home</Parent>
    <Path>/Home/Checkboxes</Path>
    <Trashed>false</Trashed>
    <ContentType>checkboxes</ContentType>
    <CreateDate>2022-05-20T09:43:31</CreateDate>
    <NodeName Default="Checkboxes" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d46e1f2e-3746-46f0-98bd-654c8d094ac3">Checkboxes</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a4ef171f-5688-4b05-806f-75a6ce50a842",
      "key": "a022a7c5-2463-4477-af7f-85ed4b11cf38",
      "udi": null,
      "values": [
        {
          "alias": "checkboxes",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "f1cb27f6-c7f5-4db0-bfff-ef76df811ac7",
                "key": "66b51049-04a9-4f15-a0e9-5baddb7e1969",
                "udi": null,
                "values": [
                  {
                    "alias": "conditionalBlocks",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "contentData": [
                        {
                          "contentTypeKey": "fe2dd0de-55a9-4249-be03-6896aa719974",
                          "key": "f19ace5d-3a3b-491f-961d-b40159fa217b",
                          "udi": null,
                          "values": [
                            {
                              "alias": "hint",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": ""
                            },
                            {
                              "alias": "label",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "Answer this related question"
                            }
                          ]
                        }
                      ],
                      "settingsData": [
                        {
                          "contentTypeKey": "98070ce9-d528-4bfc-bd90-e411e5110f56",
                          "key": "27302a13-f327-403c-9748-5cdb1f18ba3a",
                          "udi": null,
                          "values": [
                            {
                              "alias": "columnSize",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": [
                                "full"
                              ]
                            },
                            {
                              "alias": "columnSizeFromDesktop",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": ""
                            },
                            {
                              "alias": "errorMessageRegex",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "The related question must be numbers only"
                            },
                            {
                              "alias": "errorMessageRequired",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "Answer this related question is required"
                            },
                            {
                              "alias": "labelIsPageHeading",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "0"
                            },
                            {
                              "alias": "modelProperty",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "Field2"
                            },
                            {
                              "alias": "readOnly",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "0"
                            },
                            {
                              "alias": "textInputWidth",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": ""
                            }
                          ]
                        }
                      ],
                      "expose": [
                        {
                          "contentKey": "f19ace5d-3a3b-491f-961d-b40159fa217b",
                          "culture": null,
                          "segment": null
                        }
                      ],
                      "Layout": {
                        "Umbraco.BlockList": [
                          {
                            "contentKey": "f19ace5d-3a3b-491f-961d-b40159fa217b",
                            "contentUdi": "umb://element/f19ace5d3a3b491f961db40159fa217b",
                            "settingsKey": "27302a13-f327-403c-9748-5cdb1f18ba3a",
                            "settingsUdi": "umb://element/27302a13f327403c97485cdb1f18ba3a"
                          }
                        ]
                      }
                    }
                  },
                  {
                    "alias": "hint",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Item one (reveals related question)"
                  },
                  {
                    "alias": "value",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "f1cb27f6-c7f5-4db0-bfff-ef76df811ac7",
                "key": "b1d515d9-e682-449a-8afd-72b3c7421d70",
                "udi": null,
                "values": [
                  {
                    "alias": "conditionalBlocks",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "hint",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EOptional hint text\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Item two"
                  },
                  {
                    "alias": "value",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "2"
                  }
                ]
              },
              {
                "contentTypeKey": "f1cb27f6-c7f5-4db0-bfff-ef76df811ac7",
                "key": "62522e0f-2248-4481-b0b9-130dd7d0c855",
                "udi": null,
                "values": [
                  {
                    "alias": "conditionalBlocks",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "hint",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Item three (cannot be combined with the other two)"
                  },
                  {
                    "alias": "value",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "3"
                  }
                ]
              },
              {
                "contentTypeKey": "ee99c671-93dc-4d08-9933-e61e50dc234a",
                "key": "428ef990-f8f2-4bdd-bd06-81e71c93a7d6",
                "udi": null,
                "values": [
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "06d62310-e5c0-4ed3-8a55-638e0d1fc3fa",
                "key": "dba6db68-a878-45cb-9fb2-349b1dcc69a2",
                "udi": null,
                "values": [
                  {
                    "alias": "cssClasses",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "exclusive",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "0"
                  }
                ]
              },
              {
                "contentTypeKey": "06d62310-e5c0-4ed3-8a55-638e0d1fc3fa",
                "key": "8b4fdba4-a307-47f2-9dec-dd4a9605d1a7",
                "udi": null,
                "values": [
                  {
                    "alias": "cssClasses",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "exclusive",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "0"
                  }
                ]
              },
              {
                "contentTypeKey": "06d62310-e5c0-4ed3-8a55-638e0d1fc3fa",
                "key": "375bb365-3cf1-44ae-994a-b6990e442bdf",
                "udi": null,
                "values": [
                  {
                    "alias": "cssClasses",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "exclusive",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              }
            ],
            "expose": [
              {
                "contentKey": "66b51049-04a9-4f15-a0e9-5baddb7e1969",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "b1d515d9-e682-449a-8afd-72b3c7421d70",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "62522e0f-2248-4481-b0b9-130dd7d0c855",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "428ef990-f8f2-4bdd-bd06-81e71c93a7d6",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "66b51049-04a9-4f15-a0e9-5baddb7e1969",
                  "contentUdi": "umb://element/66b5104904a94f15a0e95baddb7e1969",
                  "settingsKey": "dba6db68-a878-45cb-9fb2-349b1dcc69a2",
                  "settingsUdi": "umb://element/dba6db68a87845cb9fb2349b1dcc69a2"
                },
                {
                  "contentKey": "b1d515d9-e682-449a-8afd-72b3c7421d70",
                  "contentUdi": "umb://element/b1d515d9e682449a8afd72b3c7421d70",
                  "settingsKey": "8b4fdba4-a307-47f2-9dec-dd4a9605d1a7",
                  "settingsUdi": "umb://element/8b4fdba4a30747f29decdd4a9605d1a7"
                },
                {
                  "contentKey": "428ef990-f8f2-4bdd-bd06-81e71c93a7d6",
                  "contentUdi": "umb://element/428ef990f8f24bddbd0681e71c93a7d6",
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "62522e0f-2248-4481-b0b9-130dd7d0c855",
                  "contentUdi": "umb://element/62522e0f22484481b0b9130dd7d0c855",
                  "settingsKey": "375bb365-3cf1-44ae-994a-b6990e442bdf",
                  "settingsUdi": "umb://element/375bb3653cf144ae994ab6990e442bdf"
                }
              ]
            }
          }
        },
        {
          "alias": "fieldsetBlocks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "40bb2a3e-3d75-4ec1-9134-e0c46c6f04a0",
                "key": "dbdde355-fd40-493e-97e0-280803341108",
                "udi": null,
                "values": [
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EYou can add additional help within checkbox fieldsets.\u003C/p\u003E"
                    }
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "562c13ba-8543-4932-b448-8dd0d71e67b2",
                "key": "e6a86ab1-3d41-4969-a397-d4c24aea4799",
                "udi": null,
                "values": [
                  {
                    "alias": "cssClasses",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  }
                ]
              }
            ],
            "expose": [
              {
                "contentKey": "dbdde355-fd40-493e-97e0-280803341108",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "dbdde355-fd40-493e-97e0-280803341108",
                  "contentUdi": "umb://element/dbdde355fd40493e97e0280803341108",
                  "settingsKey": "e6a86ab1-3d41-4969-a397-d4c24aea4799",
                  "settingsUdi": "umb://element/e6a86ab13d414969a397d4c24aea4799"
                }
              ]
            }
          }
        },
        {
          "alias": "hint",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EThis set of checkboxes has the legend set as the page heading, which should be used when the checkboxes are the only question on the page.\u003C/p\u003E"
          }
        },
        {
          "alias": "legend",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "{{name}}"
        }
      ]
    },
    {
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "key": "7eb3c888-6107-4e33-bf6e-61b6844afae2",
      "udi": null,
      "values": [
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Example application in Umbraco"
        }
      ]
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "key": "35d9f76c-584f-4449-a947-2e5079cbb685",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch2 class=\u0022govuk-heading-m\u0022\u003EToggle an option on or off\u003C/h2\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "f1cb27f6-c7f5-4db0-bfff-ef76df811ac7",
      "key": "10daa714-647e-4415-8595-d69ff122c362",
      "udi": null,
      "values": [
        {
          "alias": "conditionalBlocks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "hint",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EYou have to agree to this.\u003C/p\u003E"
          }
        },
        {
          "alias": "label",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "I agree to something"
        },
        {
          "alias": "value",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "yes"
        }
      ]
    },
    {
      "contentTypeKey": "35584ae7-feb5-4de8-9008-5d2d8cfb34ce",
      "key": "6bfd74c6-633f-4aaf-805d-6366fc3dbccb",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Submit"
        }
      ]
    },
    {
      "contentTypeKey": "7b79c9f1-4f4d-4c9b-915e-8f364bc86830",
      "key": "b6ec1b4d-062f-4b38-af1d-39ac0c920683",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "a4ef171f-5688-4b05-806f-75a6ce50a842",
      "key": "6a9cf693-f07c-41c5-8af3-b2109d606b60",
      "udi": null,
      "values": [
        {
          "alias": "checkboxes",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "f1cb27f6-c7f5-4db0-bfff-ef76df811ac7",
                "key": "753346ba-eff8-4183-8f2b-293fe16f4f98",
                "udi": null,
                "values": [
                  {
                    "alias": "conditionalBlocks",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "hint",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Item one"
                  },
                  {
                    "alias": "value",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "f1cb27f6-c7f5-4db0-bfff-ef76df811ac7",
                "key": "559ed6ff-640e-4c17-b389-12e7dec4fd23",
                "udi": null,
                "values": [
                  {
                    "alias": "hint",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EOptional hint text\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Item two"
                  },
                  {
                    "alias": "value",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "2"
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "06d62310-e5c0-4ed3-8a55-638e0d1fc3fa",
                "key": "574d39eb-1ac0-491a-98d9-13b03c3e55ec",
                "udi": null,
                "values": [
                  {
                    "alias": "cssClasses",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "exclusive",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "0"
                  }
                ]
              },
              {
                "contentTypeKey": "06d62310-e5c0-4ed3-8a55-638e0d1fc3fa",
                "key": "be0bc68f-201e-42c2-a3ea-191e4d66b532",
                "udi": null,
                "values": []
              }
            ],
            "expose": [
              {
                "contentKey": "753346ba-eff8-4183-8f2b-293fe16f4f98",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "559ed6ff-640e-4c17-b389-12e7dec4fd23",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "753346ba-eff8-4183-8f2b-293fe16f4f98",
                  "contentUdi": "umb://element/753346baeff841838f2b293fe16f4f98",
                  "settingsKey": "574d39eb-1ac0-491a-98d9-13b03c3e55ec",
                  "settingsUdi": "umb://element/574d39eb1ac0491a98d913b03c3e55ec"
                },
                {
                  "contentKey": "559ed6ff-640e-4c17-b389-12e7dec4fd23",
                  "contentUdi": "umb://element/559ed6ff640e4c17b38912e7dec4fd23",
                  "settingsKey": "be0bc68f-201e-42c2-a3ea-191e4d66b532",
                  "settingsUdi": "umb://element/be0bc68f201e42c2a3ea191e4d66b532"
                }
              ]
            }
          }
        },
        {
          "alias": "fieldsetBlocks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "hint",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EThis is the hint\u003C/p\u003E"
          }
        },
        {
          "alias": "legend",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "More checkboxes, but the legend is not the page heading"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "57265e01-05ed-4ea3-a28d-e9f77420c018",
      "key": "23389cbc-1b8c-48e5-8abc-e31ec2b420f0",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "two-thirds"
          ]
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "customError1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "customError2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "customError3",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "errorMessageRequired",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Please select at least one checkbox"
        },
        {
          "alias": "legendIsPageHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "modelProperty",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Field1"
        }
      ]
    },
    {
      "contentTypeKey": "67371513-c485-4405-afb4-70367ddb6eb8",
      "key": "03506098-68c8-4f46-963d-0a3e560c06b0",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "govuk-grid-row--tpr-divider"
        },
        {
          "alias": "errorMessageRequired",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "You must select the single checkbox"
        },
        {
          "alias": "modelProperty",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Field4"
        }
      ]
    },
    {
      "contentTypeKey": "e683e885-8aa0-4bdd-9eff-56966f353540",
      "key": "02c57708-2866-4b3b-9553-da680fd57d56",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "disabled",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "modelProperty",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "preventDoubleClick",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "styleOfButton",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "typeOfButton",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "ec4a6e3f-a6a8-4c8a-9d4c-d3e90399ac2c",
      "key": "e08c63ee-2653-4796-928a-809d6d81d91d",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "key": "b42533a5-3aab-4eac-8056-cd92f5241bf7",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "key": "ee0d8542-5685-4655-be43-c1a05cd50c30",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "57265e01-05ed-4ea3-a28d-e9f77420c018",
      "key": "6a24ebad-d17b-4811-b99d-cc6bd24d7aa3",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "full"
          ]
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "customError1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "customError2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "customError3",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "errorMessageRequired",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Please select at least one checkbox"
        },
        {
          "alias": "legendIsPageHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "modelProperty",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Field3"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "a022a7c5-2463-4477-af7f-85ed4b11cf38",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7eb3c888-6107-4e33-bf6e-61b6844afae2",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "35d9f76c-584f-4449-a947-2e5079cbb685",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "10daa714-647e-4415-8595-d69ff122c362",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "6bfd74c6-633f-4aaf-805d-6366fc3dbccb",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b6ec1b4d-062f-4b38-af1d-39ac0c920683",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "6a9cf693-f07c-41c5-8af3-b2109d606b60",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "b6ec1b4d-062f-4b38-af1d-39ac0c920683",
        "contentUdi": "umb://element/b6ec1b4d062f4b38af1d39ac0c920683",
        "settingsKey": "e08c63ee-2653-4796-928a-809d6d81d91d",
        "settingsUdi": "umb://element/e08c63ee26534796928a809d6d81d91d"
      },
      {
        "contentKey": "7eb3c888-6107-4e33-bf6e-61b6844afae2",
        "contentUdi": "umb://element/7eb3c88861074e33bf6e61b6844afae2",
        "settingsKey": "b42533a5-3aab-4eac-8056-cd92f5241bf7",
        "settingsUdi": "umb://element/b42533a53aab4eac8056cd92f5241bf7"
      },
      {
        "contentKey": "a022a7c5-2463-4477-af7f-85ed4b11cf38",
        "contentUdi": "umb://element/a022a7c524634477af7f85ed4b11cf38",
        "settingsKey": "23389cbc-1b8c-48e5-8abc-e31ec2b420f0",
        "settingsUdi": "umb://element/23389cbc1b8c48e58abce31ec2b420f0"
      },
      {
        "contentKey": "6a9cf693-f07c-41c5-8af3-b2109d606b60",
        "contentUdi": "umb://element/6a9cf693f07c41c58af3b2109d606b60",
        "settingsKey": "6a24ebad-d17b-4811-b99d-cc6bd24d7aa3",
        "settingsUdi": "umb://element/6a24ebadd17b4811b99dcc6bd24d7aa3"
      },
      {
        "contentKey": "35d9f76c-584f-4449-a947-2e5079cbb685",
        "contentUdi": "umb://element/35d9f76c584f4449a9472e5079cbb685",
        "settingsKey": "ee0d8542-5685-4655-be43-c1a05cd50c30",
        "settingsUdi": "umb://element/ee0d854256854655be43c1a05cd50c30"
      },
      {
        "contentKey": "10daa714-647e-4415-8595-d69ff122c362",
        "contentUdi": "umb://element/10daa714647e44158595d69ff122c362",
        "settingsKey": "03506098-68c8-4f46-963d-0a3e560c06b0",
        "settingsUdi": "umb://element/0350609868c84f46963d0a3e560c06b0"
      },
      {
        "contentKey": "6bfd74c6-633f-4aaf-805d-6366fc3dbccb",
        "contentUdi": "umb://element/6bfd74c6633f4aaf805d6366fc3dbccb",
        "settingsKey": "02c57708-2866-4b3b-9553-da680fd57d56",
        "settingsUdi": "umb://element/02c5770828664b3b9553da680fd57d56"
      }
    ]
  }
}]]></Value>
    </blocks>
    <headingScaleStart>
      <Value><![CDATA[]]></Value>
    </headingScaleStart>
    <nextPage>
      <Value><![CDATA[umb://document/7ebf39a4dbdd454b92e46e544af2a411]]></Value>
    </nextPage>
  </Properties>
</Content>