<?xml version="1.0" encoding="utf-8"?>
<Content Key="d78b55c9-ae14-414e-805d-5cf4706aab4b" Alias="Featured image" Level="2">
  <Info>
    <Parent Key="5e682cbe-b867-491a-955f-3382446d5663">Home</Parent>
    <Path>/Home/FeaturedImage</Path>
    <Trashed>false</Trashed>
    <ContentType>featuredImage</ContentType>
    <CreateDate>2025-10-14T11:50:26</CreateDate>
    <NodeName Default="Featured image" />
    <SortOrder>37</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="155b9811-144a-4a85-a423-9a251f2e73a8">FeaturedImage</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "key": "b24ab60a-143c-4fea-b2c6-19c25e7dbe6a",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Featured image"
        }
      ]
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "key": "cbe95aa0-2826-4751-b1b5-8e7c6ec282aa",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EHere is some test text.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "e8fe4f35-b4b0-404c-adf2-0f8137d94b7a",
      "key": "f468ab55-9b8d-48bc-8e96-6c0699f0348b",
      "udi": null,
      "values": [
        {
          "alias": "blocks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
                "key": "90f4f243-f808-4094-b40e-9920fb949b66",
                "udi": null,
                "values": [
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Ch2 class=\u0022govuk-heading-m\u0022\u003EHere is a title\u003C/h2\u003E\n\u003Cp\u003EHere is some description\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "94737fb0-c49c-44db-8a59-6a65f14a0c47",
                "key": "fc368899-8a28-42bd-bb70-3c95a91368c8",
                "udi": null,
                "values": [
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": null,
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": "umb://document/22a4a3efd9d74129b573ea9a707040b3",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Some link button"
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "2a5587ef-96fa-41dd-a2be-c5f97e00dfef",
                "key": "acd9a795-b293-430d-86de-c3d5ba0f0827",
                "udi": null,
                "values": [
                  {
                    "alias": "columnSize",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "columnSizeFromDesktop",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "cssClasses",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "cssClassesForColumn",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "cssClassesForRow",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "isStartButton",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "0"
                  },
                  {
                    "alias": "styleOfButton",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  }
                ]
              }
            ],
            "expose": [
              {
                "contentKey": "90f4f243-f808-4094-b40e-9920fb949b66",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "fc368899-8a28-42bd-bb70-3c95a91368c8",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockGrid": [
                {
                  "areas": [],
                  "columnSpan": 12,
                  "contentKey": "90f4f243-f808-4094-b40e-9920fb949b66",
                  "contentUdi": null,
                  "rowSpan": 1,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "areas": [],
                  "columnSpan": 12,
                  "contentKey": "fc368899-8a28-42bd-bb70-3c95a91368c8",
                  "contentUdi": null,
                  "rowSpan": 1,
                  "settingsKey": "acd9a795-b293-430d-86de-c3d5ba0f0827",
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "1a782a29-674a-4f85-ac76-063e2f0acf4c",
              "mediaKey": "f0050b35-e0ef-40af-ac67-9b704a82aa69",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "f7721eea-7712-4d9c-91e4-9c04f0ad3036",
      "key": "05a377c3-cc7b-48de-8fbd-8c46a716c056",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "e8fe4f35-b4b0-404c-adf2-0f8137d94b7a",
      "key": "965de537-9b45-4365-8782-a35f6888a864",
      "udi": null,
      "values": [
        {
          "alias": "blocks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
                "key": "bddbefce-c7a4-4a99-9e6b-890c3ba26d4d",
                "udi": null,
                "values": [
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Ch2 class=\u0022govuk-heading-m\u0022\u003EHere is a title\u003C/h2\u003E\n\u003Cp\u003EHere is some description\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "94737fb0-c49c-44db-8a59-6a65f14a0c47",
                "key": "349f7996-497e-49d2-bd2b-cbc15f1d7b74",
                "udi": null,
                "values": [
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": null,
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": "umb://document/22a4a3efd9d74129b573ea9a707040b3",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Some link button"
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "2a5587ef-96fa-41dd-a2be-c5f97e00dfef",
                "key": "37075105-3f6a-4e58-9af6-eb63b085a0a4",
                "udi": null,
                "values": [
                  {
                    "alias": "columnSize",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "columnSizeFromDesktop",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "cssClasses",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "cssClassesForColumn",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "cssClassesForRow",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "isStartButton",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "0"
                  },
                  {
                    "alias": "styleOfButton",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  }
                ]
              }
            ],
            "expose": [
              {
                "contentKey": "bddbefce-c7a4-4a99-9e6b-890c3ba26d4d",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "349f7996-497e-49d2-bd2b-cbc15f1d7b74",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockGrid": [
                {
                  "areas": [],
                  "columnSpan": 12,
                  "contentKey": "bddbefce-c7a4-4a99-9e6b-890c3ba26d4d",
                  "contentUdi": null,
                  "rowSpan": 1,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "areas": [],
                  "columnSpan": 12,
                  "contentKey": "349f7996-497e-49d2-bd2b-cbc15f1d7b74",
                  "contentUdi": null,
                  "rowSpan": 1,
                  "settingsKey": "37075105-3f6a-4e58-9af6-eb63b085a0a4",
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "1a782a29-674a-4f85-ac76-063e2f0acf4c",
              "mediaKey": "f0050b35-e0ef-40af-ac67-9b704a82aa69",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "e8fe4f35-b4b0-404c-adf2-0f8137d94b7a",
      "key": "d7244c5c-0096-4c3f-8c81-56412e7a4154",
      "udi": null,
      "values": [
        {
          "alias": "blocks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
                "key": "1bba28e3-794c-4846-8255-fb8cac7ce56d",
                "udi": null,
                "values": [
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Ch2 class=\u0022govuk-heading-m\u0022\u003EHere is a title\u003C/h2\u003E\n\u003Cp\u003EHere is some description\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "94737fb0-c49c-44db-8a59-6a65f14a0c47",
                "key": "60437460-7c4a-4443-9777-593ed48eef21",
                "udi": null,
                "values": [
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": null,
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": "umb://document/22a4a3efd9d74129b573ea9a707040b3",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Some link button"
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "2a5587ef-96fa-41dd-a2be-c5f97e00dfef",
                "key": "a7a2e852-0956-4330-965b-80b59fd18895",
                "udi": null,
                "values": [
                  {
                    "alias": "columnSize",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "columnSizeFromDesktop",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "cssClasses",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "cssClassesForColumn",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "cssClassesForRow",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "isStartButton",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "0"
                  },
                  {
                    "alias": "styleOfButton",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  }
                ]
              }
            ],
            "expose": [
              {
                "contentKey": "1bba28e3-794c-4846-8255-fb8cac7ce56d",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "60437460-7c4a-4443-9777-593ed48eef21",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockGrid": [
                {
                  "areas": [],
                  "columnSpan": 12,
                  "contentKey": "1bba28e3-794c-4846-8255-fb8cac7ce56d",
                  "contentUdi": null,
                  "rowSpan": 1,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "areas": [],
                  "columnSpan": 12,
                  "contentKey": "60437460-7c4a-4443-9777-593ed48eef21",
                  "contentUdi": null,
                  "rowSpan": 1,
                  "settingsKey": "a7a2e852-0956-4330-965b-80b59fd18895",
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "1a782a29-674a-4f85-ac76-063e2f0acf4c",
              "mediaKey": "f0050b35-e0ef-40af-ac67-9b704a82aa69",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "650d7119-e9cf-4c26-a08c-21cf2ffbbbbc",
      "key": "f12db06a-5fda-4bb2-9a44-43af1fca92aa",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "e8fe4f35-b4b0-404c-adf2-0f8137d94b7a",
      "key": "1fd94fe4-4a33-441f-876b-9d1c477ee2db",
      "udi": null,
      "values": [
        {
          "alias": "blocks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
                "key": "bacfa1e1-94d8-4aef-a480-42f8dc3a524b",
                "udi": null,
                "values": [
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Ch2 class=\u0022govuk-heading-l\u0022\u003EHere is a title\u003C/h2\u003E\n\u003Cp\u003EHere is some description\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "94737fb0-c49c-44db-8a59-6a65f14a0c47",
                "key": "ef140682-62d8-4d95-9633-d49af4c8d4e8",
                "udi": null,
                "values": [
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": null,
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": "umb://document/22a4a3efd9d74129b573ea9a707040b3",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Some link button"
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "2a5587ef-96fa-41dd-a2be-c5f97e00dfef",
                "key": "fc3f196b-cbf1-4c46-b939-5009507d0bbd",
                "udi": null,
                "values": [
                  {
                    "alias": "columnSize",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "columnSizeFromDesktop",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "cssClasses",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "cssClassesForColumn",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "cssClassesForRow",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "isStartButton",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "0"
                  },
                  {
                    "alias": "styleOfButton",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  }
                ]
              }
            ],
            "expose": [
              {
                "contentKey": "bacfa1e1-94d8-4aef-a480-42f8dc3a524b",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "ef140682-62d8-4d95-9633-d49af4c8d4e8",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockGrid": [
                {
                  "areas": [],
                  "columnSpan": 12,
                  "contentKey": "bacfa1e1-94d8-4aef-a480-42f8dc3a524b",
                  "contentUdi": null,
                  "rowSpan": 1,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "areas": [],
                  "columnSpan": 12,
                  "contentKey": "ef140682-62d8-4d95-9633-d49af4c8d4e8",
                  "contentUdi": null,
                  "rowSpan": 1,
                  "settingsKey": "fc3f196b-cbf1-4c46-b939-5009507d0bbd",
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "1a782a29-674a-4f85-ac76-063e2f0acf4c",
              "mediaKey": "f0050b35-e0ef-40af-ac67-9b704a82aa69",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "e8fe4f35-b4b0-404c-adf2-0f8137d94b7a",
      "key": "dcfb046c-29d9-41b4-b25a-cdabe35e7c1d",
      "udi": null,
      "values": [
        {
          "alias": "blocks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
                "key": "582afa73-55f1-4861-b2bf-e3441fec7ef0",
                "udi": null,
                "values": [
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Ch2 class=\u0022govuk-heading-s\u0022\u003EHere is a title\u003C/h2\u003E\n\u003Cp\u003EHere is some description\u003C/p\u003E"
                    }
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "582afa73-55f1-4861-b2bf-e3441fec7ef0",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockGrid": [
                {
                  "areas": [],
                  "columnSpan": 12,
                  "contentKey": "582afa73-55f1-4861-b2bf-e3441fec7ef0",
                  "contentUdi": null,
                  "rowSpan": 1,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "1a782a29-674a-4f85-ac76-063e2f0acf4c",
              "mediaKey": "f0050b35-e0ef-40af-ac67-9b704a82aa69",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "017e3eca-72c2-4b5e-b5fb-428379a53b2e",
      "key": "8ecf8b82-78f0-4b50-a3d0-b06a8bffa842",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "e8fe4f35-b4b0-404c-adf2-0f8137d94b7a",
      "key": "ab810147-0ccd-4ca3-8323-a55628bc4742",
      "udi": null,
      "values": [
        {
          "alias": "blocks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
                "key": "b86d9fa9-e3b2-4482-95ee-58e6df6ed121",
                "udi": null,
                "values": [
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Ch2 class=\u0022govuk-heading-l\u0022\u003EHere is a title\u003C/h2\u003E\n\u003Cp\u003EHere is some description\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "94737fb0-c49c-44db-8a59-6a65f14a0c47",
                "key": "a0de54ca-a5eb-483e-a447-a48d831431b7",
                "udi": null,
                "values": [
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": null,
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": "umb://document/22a4a3efd9d74129b573ea9a707040b3",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Some link button"
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "2a5587ef-96fa-41dd-a2be-c5f97e00dfef",
                "key": "a9a58f6e-9259-4c05-88fd-3a0f2eca632d",
                "udi": null,
                "values": [
                  {
                    "alias": "columnSize",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "columnSizeFromDesktop",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "cssClasses",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "cssClassesForColumn",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "cssClassesForRow",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "isStartButton",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "0"
                  },
                  {
                    "alias": "styleOfButton",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  }
                ]
              }
            ],
            "expose": [
              {
                "contentKey": "b86d9fa9-e3b2-4482-95ee-58e6df6ed121",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "a0de54ca-a5eb-483e-a447-a48d831431b7",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockGrid": [
                {
                  "areas": [],
                  "columnSpan": 12,
                  "contentKey": "b86d9fa9-e3b2-4482-95ee-58e6df6ed121",
                  "contentUdi": null,
                  "rowSpan": 1,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "areas": [],
                  "columnSpan": 12,
                  "contentKey": "a0de54ca-a5eb-483e-a447-a48d831431b7",
                  "contentUdi": null,
                  "rowSpan": 1,
                  "settingsKey": "a9a58f6e-9259-4c05-88fd-3a0f2eca632d",
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "1a782a29-674a-4f85-ac76-063e2f0acf4c",
              "mediaKey": "f0050b35-e0ef-40af-ac67-9b704a82aa69",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "key": "f26c4b9b-bc52-44ac-8bc4-df0c436929c2",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "key": "e2e1b2c9-a4eb-4f3b-9575-f24dafb69aef",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "785ccab1-a96b-4f92-83d0-a0fc9ec45ee9",
      "key": "0a7f218e-8a94-45aa-b247-b9559eda4270",
      "udi": null,
      "values": [
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "decorativeImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "horizontal",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "e326cfa6-2167-4763-840a-f52a25039f14",
      "key": "1eec667f-10bf-48d5-9584-ce36917c4bca",
      "udi": null,
      "values": [
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "stackColumns",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "785ccab1-a96b-4f92-83d0-a0fc9ec45ee9",
      "key": "5329b63e-327c-44b3-b5ac-b85e11f151c8",
      "udi": null,
      "values": [
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "decorativeImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "horizontal",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "785ccab1-a96b-4f92-83d0-a0fc9ec45ee9",
      "key": "7297d7e1-f6f6-44f6-83b6-5f3fffd6f78e",
      "udi": null,
      "values": [
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "decorativeImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "horizontal",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "53edb934-ee79-4ff0-b23a-84b91e9fef7a",
      "key": "e635bd71-32df-455c-ae41-325a6fbbc0c2",
      "udi": null,
      "values": [
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "stackColumns",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "785ccab1-a96b-4f92-83d0-a0fc9ec45ee9",
      "key": "05e3d8f8-b7df-4420-9166-97605e454a8b",
      "udi": null,
      "values": [
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "decorativeImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "horizontal",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "785ccab1-a96b-4f92-83d0-a0fc9ec45ee9",
      "key": "e8f01c64-f9ec-4c43-9d78-b4084a553783",
      "udi": null,
      "values": [
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "decorativeImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "horizontal",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "085fe7f7-9496-44bd-bda7-fe27726abed3",
      "key": "10279545-7d6f-4abe-b410-059b508e14e1",
      "udi": null,
      "values": [
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "stackColumns",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "785ccab1-a96b-4f92-83d0-a0fc9ec45ee9",
      "key": "9105b18d-e63a-4d7e-b869-662195a11741",
      "udi": null,
      "values": [
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "decorativeImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "horizontal",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "b24ab60a-143c-4fea-b2c6-19c25e7dbe6a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "cbe95aa0-2826-4751-b1b5-8e7c6ec282aa",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f468ab55-9b8d-48bc-8e96-6c0699f0348b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "05a377c3-cc7b-48de-8fbd-8c46a716c056",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "965de537-9b45-4365-8782-a35f6888a864",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d7244c5c-0096-4c3f-8c81-56412e7a4154",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f12db06a-5fda-4bb2-9a44-43af1fca92aa",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "1fd94fe4-4a33-441f-876b-9d1c477ee2db",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "dcfb046c-29d9-41b4-b25a-cdabe35e7c1d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8ecf8b82-78f0-4b50-a3d0-b06a8bffa842",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ab810147-0ccd-4ca3-8323-a55628bc4742",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "b24ab60a-143c-4fea-b2c6-19c25e7dbe6a",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "f26c4b9b-bc52-44ac-8bc4-df0c436929c2",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "cbe95aa0-2826-4751-b1b5-8e7c6ec282aa",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "e2e1b2c9-a4eb-4f3b-9575-f24dafb69aef",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 4,
                "contentKey": "f468ab55-9b8d-48bc-8e96-6c0699f0348b",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "0a7f218e-8a94-45aa-b247-b9559eda4270",
                "settingsUdi": null
              }
            ],
            "key": "28c31b42-3acd-48e4-8c93-36b728c11d7e"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 4,
                "contentKey": "965de537-9b45-4365-8782-a35f6888a864",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "5329b63e-327c-44b3-b5ac-b85e11f151c8",
                "settingsUdi": null
              }
            ],
            "key": "1298bf64-9028-4b12-8ba5-9b8d63eee13e"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 4,
                "contentKey": "d7244c5c-0096-4c3f-8c81-56412e7a4154",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "7297d7e1-f6f6-44f6-83b6-5f3fffd6f78e",
                "settingsUdi": null
              }
            ],
            "key": "196920a9-262b-422f-939f-ca579f6a2ab5"
          }
        ],
        "columnSpan": 12,
        "contentKey": "05a377c3-cc7b-48de-8fbd-8c46a716c056",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "1eec667f-10bf-48d5-9584-ce36917c4bca",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 8,
                "contentKey": "1fd94fe4-4a33-441f-876b-9d1c477ee2db",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "05e3d8f8-b7df-4420-9166-97605e454a8b",
                "settingsUdi": null
              }
            ],
            "key": "f9f886b0-6d10-4069-9794-59374034c82e"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 4,
                "contentKey": "dcfb046c-29d9-41b4-b25a-cdabe35e7c1d",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "e8f01c64-f9ec-4c43-9d78-b4084a553783",
                "settingsUdi": null
              }
            ],
            "key": "4793beea-bd0a-4e5e-b20e-069b90ab4df2"
          }
        ],
        "columnSpan": 12,
        "contentKey": "f12db06a-5fda-4bb2-9a44-43af1fca92aa",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "e635bd71-32df-455c-ae41-325a6fbbc0c2",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "ab810147-0ccd-4ca3-8323-a55628bc4742",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "9105b18d-e63a-4d7e-b869-662195a11741",
                "settingsUdi": null
              }
            ],
            "key": "466b98ba-8154-445d-b2b0-dc51ce5d2c9d"
          }
        ],
        "columnSpan": 12,
        "contentKey": "8ecf8b82-78f0-4b50-a3d0-b06a8bffa842",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "10279545-7d6f-4abe-b410-059b508e14e1",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <headingScaleStart>
      <Value><![CDATA[]]></Value>
    </headingScaleStart>
  </Properties>
</Content>