<?xml version="1.0" encoding="utf-8"?>
<Content Key="b1b6e204-f188-4721-a0d0-45c254f54bdd" Alias="File upload" Level="2">
  <Info>
    <Parent Key="5e682cbe-b867-491a-955f-3382446d5663">Home</Parent>
    <Path>/Home/FileUpload</Path>
    <Trashed>false</Trashed>
    <ContentType>fileUpload</ContentType>
    <CreateDate>2023-11-22T08:01:09</CreateDate>
    <NodeName Default="File upload" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ccafe445-ff9d-4c54-833f-377bacba95a5">FileUpload</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "7b79c9f1-4f4d-4c9b-915e-8f364bc86830",
      "key": "32878d1d-d415-4e33-b641-5a977df672b6",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "key": "7be56360-2def-4b4a-8a9c-845ba3f08109",
      "udi": null,
      "values": [
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Example application in Umbraco"
        }
      ]
    },
    {
      "contentTypeKey": "6da482da-a53c-4df3-8fd4-697a7d91bbac",
      "key": "e5df46d4-ead2-4379-b9f5-6d91d36a14db",
      "udi": null,
      "values": [
        {
          "alias": "hint",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EThe validation will fail if no file is provided. The choose file dialog will only allow selection of a CSV file based on its file extension, but any file can be uploaded using drag and drop.\u003C/p\u003E"
          }
        },
        {
          "alias": "label",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Upload a CSV spreadsheet"
        }
      ]
    },
    {
      "contentTypeKey": "35584ae7-feb5-4de8-9008-5d2d8cfb34ce",
      "key": "f0ae6c5a-5473-4edc-a757-e89e1e28a056",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Submit"
        }
      ]
    },
    {
      "contentTypeKey": "6da482da-a53c-4df3-8fd4-697a7d91bbac",
      "key": "ddb17629-a8f5-4216-a321-bf8cd31dbd3c",
      "udi": null,
      "values": [
        {
          "alias": "hint",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EYou should only ask users to upload something if it\u2019s critical to the delivery of your service.\u003C/p\u003E\n\u003Cp\u003EThis file upload has its label set as the page heading.\u003C/p\u003E\n\u003Cp\u003EThe choose file dialog will only allow selection of an image based on its media types, but any file can be uploaded using drag and drop.\u003C/p\u003E"
          }
        },
        {
          "alias": "label",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "{{name}}"
        }
      ]
    },
    {
      "contentTypeKey": "6da482da-a53c-4df3-8fd4-697a7d91bbac",
      "key": "789d8ea2-fc18-4bb9-b99e-1e161b11de68",
      "udi": null,
      "values": [
        {
          "alias": "hint",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EThe validation should fail if the file is not an Excel file. The validation will look at the binary file header to determine whether the file is an Excel file.\u003C/p\u003E"
          }
        },
        {
          "alias": "label",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Upload an Excel file"
        }
      ]
    },
    {
      "contentTypeKey": "6da482da-a53c-4df3-8fd4-697a7d91bbac",
      "key": "8dc53753-5088-4c30-861b-ba4b8d35ab56",
      "udi": null,
      "values": [
        {
          "alias": "hint",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EThe validation should fail if the file is not a PDF file. The validation will look at the binary file header to determine whether the file is a PDF file.\u003C/p\u003E"
          }
        },
        {
          "alias": "label",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Upload a PDF file"
        }
      ]
    },
    {
      "contentTypeKey": "6da482da-a53c-4df3-8fd4-697a7d91bbac",
      "key": "179e8200-f898-43a0-8090-cae7b1e1a2f5",
      "udi": null,
      "values": [
        {
          "alias": "hint",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EThe validation will fail if the file is above 5MB.\u003C/p\u003E"
          }
        },
        {
          "alias": "label",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Limit file size"
        }
      ]
    },
    {
      "contentTypeKey": "6da482da-a53c-4df3-8fd4-697a7d91bbac",
      "key": "c81be76f-4a4d-4f6d-99d8-cf1f0efc65b3",
      "udi": null,
      "values": [
        {
          "alias": "hint",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EUpload multiple files of any type.\u003C/p\u003E"
          }
        },
        {
          "alias": "label",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Multiple files"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "ec4a6e3f-a6a8-4c8a-9d4c-d3e90399ac2c",
      "key": "68736d9a-9596-4ef7-a066-fb70301debde",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "key": "70808696-fca0-4d14-b882-488f44b52901",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "d10b177e-98b9-42c3-a7f6-632c885c6bcf",
      "key": "2e737c0b-dc41-433f-a49f-7681c20cde5f",
      "udi": null,
      "values": [
        {
          "alias": "allowMultipleFiles",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "errorMessageAllowedFileTypes",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "errorMessageMaxFileSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "errorMessagePrefix",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "errorMessageRequired",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Select a CSV spreadsheet"
        },
        {
          "alias": "fileTypes",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ".csv"
        },
        {
          "alias": "labelIsPageHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "modelProperty",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "CsvFile"
        }
      ]
    },
    {
      "contentTypeKey": "e683e885-8aa0-4bdd-9eff-56966f353540",
      "key": "3e1d4160-f889-4330-9b4a-9c3b6864dce1",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "disabled",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "modelProperty",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "preventDoubleClick",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "styleOfButton",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "typeOfButton",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Primary"
        }
      ]
    },
    {
      "contentTypeKey": "d10b177e-98b9-42c3-a7f6-632c885c6bcf",
      "key": "4f7986a2-50e6-4513-9262-f01fbcb89563",
      "udi": null,
      "values": [
        {
          "alias": "allowMultipleFiles",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "errorMessageAllowedFileTypes",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "errorMessageMaxFileSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "errorMessagePrefix",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "errorMessageRequired",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Select an image."
        },
        {
          "alias": "fileTypes",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "image/*"
        },
        {
          "alias": "labelIsPageHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "modelProperty",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "ImageFile"
        }
      ]
    },
    {
      "contentTypeKey": "d10b177e-98b9-42c3-a7f6-632c885c6bcf",
      "key": "6e561675-c9de-4cd0-87c0-f986f4bc5867",
      "udi": null,
      "values": [
        {
          "alias": "allowMultipleFiles",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "errorMessageAllowedFileTypes",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "The selected file must be an Excel file"
        },
        {
          "alias": "errorMessageMaxFileSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "errorMessagePrefix",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "errorMessageRequired",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "fileTypes",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ".xlsx"
        },
        {
          "alias": "labelIsPageHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "modelProperty",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "ExcelFile"
        }
      ]
    },
    {
      "contentTypeKey": "d10b177e-98b9-42c3-a7f6-632c885c6bcf",
      "key": "35fbf66d-ad7f-4968-b78a-180b814cb456",
      "udi": null,
      "values": [
        {
          "alias": "allowMultipleFiles",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "errorMessageAllowedFileTypes",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "The selected file must be a PDF"
        },
        {
          "alias": "errorMessageMaxFileSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "errorMessagePrefix",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "errorMessageRequired",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "fileTypes",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ".pdf"
        },
        {
          "alias": "labelIsPageHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "modelProperty",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "PdfFile"
        }
      ]
    },
    {
      "contentTypeKey": "d10b177e-98b9-42c3-a7f6-632c885c6bcf",
      "key": "57d51771-8406-49be-af37-8e83df6dab9c",
      "udi": null,
      "values": [
        {
          "alias": "allowMultipleFiles",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "errorMessageAllowedFileTypes",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "errorMessageMaxFileSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "The file must be smaller than 5MB"
        },
        {
          "alias": "errorMessagePrefix",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "errorMessageRequired",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "fileTypes",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "labelIsPageHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "modelProperty",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "FileWithMaximumSize"
        }
      ]
    },
    {
      "contentTypeKey": "d10b177e-98b9-42c3-a7f6-632c885c6bcf",
      "key": "1d191fd6-fe54-4eaa-acd4-43eabb9799da",
      "udi": null,
      "values": [
        {
          "alias": "allowMultipleFiles",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "govuk-grid-row--tpr-divider"
        },
        {
          "alias": "errorMessageAllowedFileTypes",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "errorMessageMaxFileSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "errorMessagePrefix",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "errorMessageRequired",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "fileTypes",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "labelIsPageHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "modelProperty",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "MultipleFiles"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "32878d1d-d415-4e33-b641-5a977df672b6",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7be56360-2def-4b4a-8a9c-845ba3f08109",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e5df46d4-ead2-4379-b9f5-6d91d36a14db",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f0ae6c5a-5473-4edc-a757-e89e1e28a056",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ddb17629-a8f5-4216-a321-bf8cd31dbd3c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "789d8ea2-fc18-4bb9-b99e-1e161b11de68",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8dc53753-5088-4c30-861b-ba4b8d35ab56",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "179e8200-f898-43a0-8090-cae7b1e1a2f5",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c81be76f-4a4d-4f6d-99d8-cf1f0efc65b3",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "32878d1d-d415-4e33-b641-5a977df672b6",
        "contentUdi": "umb://element/32878d1dd4154e33b6415a977df672b6",
        "settingsKey": "68736d9a-9596-4ef7-a066-fb70301debde",
        "settingsUdi": "umb://element/68736d9a95964ef7a066fb70301debde"
      },
      {
        "contentKey": "7be56360-2def-4b4a-8a9c-845ba3f08109",
        "contentUdi": "umb://element/7be563602def4b4a8a9c845ba3f08109",
        "settingsKey": "70808696-fca0-4d14-b882-488f44b52901",
        "settingsUdi": "umb://element/70808696fca04d14b882488f44b52901"
      },
      {
        "contentKey": "ddb17629-a8f5-4216-a321-bf8cd31dbd3c",
        "contentUdi": "umb://element/ddb17629a8f54216a321bf8cd31dbd3c",
        "settingsKey": "4f7986a2-50e6-4513-9262-f01fbcb89563",
        "settingsUdi": "umb://element/4f7986a250e645139262f01fbcb89563"
      },
      {
        "contentKey": "179e8200-f898-43a0-8090-cae7b1e1a2f5",
        "contentUdi": "umb://element/179e8200f89843a08090cae7b1e1a2f5",
        "settingsKey": "57d51771-8406-49be-af37-8e83df6dab9c",
        "settingsUdi": "umb://element/57d51771840649beaf378e83df6dab9c"
      },
      {
        "contentKey": "e5df46d4-ead2-4379-b9f5-6d91d36a14db",
        "contentUdi": "umb://element/e5df46d4ead24379b9f56d91d36a14db",
        "settingsKey": "2e737c0b-dc41-433f-a49f-7681c20cde5f",
        "settingsUdi": "umb://element/2e737c0bdc41433fa49f7681c20cde5f"
      },
      {
        "contentKey": "789d8ea2-fc18-4bb9-b99e-1e161b11de68",
        "contentUdi": "umb://element/789d8ea2fc184bb9b99e1e161b11de68",
        "settingsKey": "6e561675-c9de-4cd0-87c0-f986f4bc5867",
        "settingsUdi": "umb://element/6e561675c9de4cd087c0f986f4bc5867"
      },
      {
        "contentKey": "8dc53753-5088-4c30-861b-ba4b8d35ab56",
        "contentUdi": "umb://element/8dc5375350884c30861bba4b8d35ab56",
        "settingsKey": "35fbf66d-ad7f-4968-b78a-180b814cb456",
        "settingsUdi": "umb://element/35fbf66dad7f4968b78a180b814cb456"
      },
      {
        "contentKey": "c81be76f-4a4d-4f6d-99d8-cf1f0efc65b3",
        "contentUdi": "umb://element/c81be76f4a4d4f6d99d8cf1f0efc65b3",
        "settingsKey": "1d191fd6-fe54-4eaa-acd4-43eabb9799da",
        "settingsUdi": "umb://element/1d191fd6fe544eaaacd443eabb9799da"
      },
      {
        "contentKey": "f0ae6c5a-5473-4edc-a757-e89e1e28a056",
        "contentUdi": "umb://element/f0ae6c5a54734edca757e89e1e28a056",
        "settingsKey": "3e1d4160-f889-4330-9b4a-9c3b6864dce1",
        "settingsUdi": "umb://element/3e1d4160f88943309b4a9c3b6864dce1"
      }
    ]
  }
}]]></Value>
    </blocks>
    <headingScaleStart>
      <Value><![CDATA[]]></Value>
    </headingScaleStart>
    <nextPage>
      <Value><![CDATA[umb://document/7ebf39a4dbdd454b92e46e544af2a411]]></Value>
    </nextPage>
  </Properties>
</Content>