<?xml version="1.0" encoding="utf-8"?>
<Content Key="dd8e62c7-3e92-4bf2-8803-ec2d080626e8" Alias="Filter and override blocks" Level="2">
  <Info>
    <Parent Key="5e682cbe-b867-491a-955f-3382446d5663">Home</Parent>
    <Path>/Home/FilterAndOverrideBlocks</Path>
    <Trashed>false</Trashed>
    <ContentType>filterAndOverrideBlocks</ContentType>
    <CreateDate>2022-07-14T14:35:31</CreateDate>
    <NodeName Default="Filter and override blocks" />
    <SortOrder>21</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f360aad3-59b8-4325-864b-2d055c72adf9">FilterAndOverrideBlocks</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "key": "dc035316-614d-4ae6-8aea-2da054cf5234",
      "udi": null,
      "values": [
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Example application in Umbraco"
        }
      ]
    },
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "key": "d2e16cbc-9302-41b3-a7bc-c5ec6f9b4867",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "key": "e60b4f17-fe50-49ae-a439-51c9255d6410",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022govuk-heading-m govuk-body\u0022\u003EYou can filter and override block list and block grid items from code in the controller for the document type. See \u003Ca href=\u0022https://our.umbraco.com/documentation/reference/routing/custom-controllers\u0022\u003EUmbraco custom controllers\u003C/a\u003E and the code for \u003Cem\u003EFilterAndOverrideBlocksController.cs\u003C/em\u003E in this project.\u003C/p\u003E\n\u003Ch2 class=\u0022govuk-heading-m\u0022\u003EFilter block list items\u003C/h2\u003E\n\u003Cp\u003EThis is the first item. The second one should be removed by a filter which is defined in the controller.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "key": "c12234d2-e034-4bb7-a4c3-2c5ddf2a7295",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EThis is the second item. It should be removed by a filter which is defined in the controller.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "key": "af8c642b-39ab-4e82-ae82-f9af7b7ae1cf",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch2 class=\u0022govuk-heading-m\u0022\u003EOverride block list items\u003C/h2\u003E\n\u003Cp\u003EThe properties of block list items can be overridden from the controller. The next paragraph says \u0022This is the original text.\u0022 in the back office, but should be displayed as \u0022This text is overridden.\u0022\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "0e33e52e-00d3-4546-af2b-076321ead08a",
      "key": "4a22682f-c433-472a-b093-b22f4f378c4d",
      "udi": null,
      "values": [
        {
          "alias": "blocks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "e8386da2-bf9c-43e2-ac0e-02f33f6b6c2d",
                "key": "906435b3-d642-4f0f-943a-d02d1993d8ea",
                "udi": null,
                "values": [
                  {
                    "alias": "blocks",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "contentData": [
                        {
                          "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
                          "key": "9c7994ba-a2b2-4d34-a633-2a94df569083",
                          "udi": null,
                          "values": [
                            {
                              "alias": "text",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": {
                                "blocks": {
                                  "contentData": [],
                                  "settingsData": [],
                                  "expose": [],
                                  "Layout": {}
                                },
                                "markup": "\u003Cp\u003EOverriding blocks should also work within nested grid rows and columns. The paragraph in the next column says \u0022This is the original text.\u0022 in the back office, but should be displayed as \u0022This text is overridden.\u0022\u003C/p\u003E"
                              }
                            }
                          ]
                        }
                      ],
                      "settingsData": [
                        {
                          "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
                          "key": "1b31d9cd-1ba3-4be7-be5a-2dde80de54c5",
                          "udi": null,
                          "values": [
                            {
                              "alias": "columnSize",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": ""
                            },
                            {
                              "alias": "columnSizeFromDesktop",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": ""
                            }
                          ]
                        }
                      ],
                      "expose": [
                        {
                          "contentKey": "9c7994ba-a2b2-4d34-a633-2a94df569083",
                          "culture": null,
                          "segment": null
                        }
                      ],
                      "Layout": {
                        "Umbraco.BlockList": [
                          {
                            "contentKey": "9c7994ba-a2b2-4d34-a633-2a94df569083",
                            "contentUdi": "umb://element/9c7994baa2b24d34a6332a94df569083",
                            "settingsKey": "1b31d9cd-1ba3-4be7-be5a-2dde80de54c5",
                            "settingsUdi": "umb://element/1b31d9cd1ba34be7be5a2dde80de54c5"
                          }
                        ]
                      }
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "e8386da2-bf9c-43e2-ac0e-02f33f6b6c2d",
                "key": "cf04223a-2c67-4418-910b-e188adb5098b",
                "udi": null,
                "values": [
                  {
                    "alias": "blocks",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "contentData": [
                        {
                          "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
                          "key": "0f238b63-4ba6-4c81-b4f4-f8c493d28dcf",
                          "udi": null,
                          "values": [
                            {
                              "alias": "text",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": {
                                "blocks": {
                                  "contentData": [],
                                  "settingsData": [],
                                  "expose": [],
                                  "Layout": {}
                                },
                                "markup": "\u003Cp\u003EThis is the original text.\u003C/p\u003E"
                              }
                            }
                          ]
                        }
                      ],
                      "settingsData": [
                        {
                          "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
                          "key": "daba92aa-3044-4616-af61-c10d9a0c0680",
                          "udi": null,
                          "values": [
                            {
                              "alias": "columnSize",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": ""
                            },
                            {
                              "alias": "columnSizeFromDesktop",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": ""
                            },
                            {
                              "alias": "cssClassesForRow",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "override-this"
                            }
                          ]
                        }
                      ],
                      "expose": [
                        {
                          "contentKey": "0f238b63-4ba6-4c81-b4f4-f8c493d28dcf",
                          "culture": null,
                          "segment": null
                        }
                      ],
                      "Layout": {
                        "Umbraco.BlockList": [
                          {
                            "contentKey": "0f238b63-4ba6-4c81-b4f4-f8c493d28dcf",
                            "contentUdi": "umb://element/0f238b634ba64c81b4f4f8c493d28dcf",
                            "settingsKey": "daba92aa-3044-4616-af61-c10d9a0c0680",
                            "settingsUdi": "umb://element/daba92aa30444616af61c10d9a0c0680"
                          }
                        ]
                      }
                    }
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "a248d9ad-85e5-446a-9c06-c6a72cd3f34f",
                "key": "82261fb0-ab7d-466a-b5d6-cd204ce29594",
                "udi": null,
                "values": [
                  {
                    "alias": "columnSize",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "one-half"
                    ]
                  },
                  {
                    "alias": "columnSizeFromDesktop",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  }
                ]
              },
              {
                "contentTypeKey": "a248d9ad-85e5-446a-9c06-c6a72cd3f34f",
                "key": "8d666d23-6981-40e3-9cc8-82fe117902fc",
                "udi": null,
                "values": [
                  {
                    "alias": "columnSize",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "one-half"
                    ]
                  },
                  {
                    "alias": "columnSizeFromDesktop",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  }
                ]
              }
            ],
            "expose": [
              {
                "contentKey": "906435b3-d642-4f0f-943a-d02d1993d8ea",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "cf04223a-2c67-4418-910b-e188adb5098b",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "906435b3-d642-4f0f-943a-d02d1993d8ea",
                  "contentUdi": "umb://element/906435b3d6424f0f943ad02d1993d8ea",
                  "settingsKey": "82261fb0-ab7d-466a-b5d6-cd204ce29594",
                  "settingsUdi": "umb://element/82261fb0ab7d466ab5d6cd204ce29594"
                },
                {
                  "contentKey": "cf04223a-2c67-4418-910b-e188adb5098b",
                  "contentUdi": "umb://element/cf04223a2c674418910be188adb5098b",
                  "settingsKey": "8d666d23-6981-40e3-9cc8-82fe117902fc",
                  "settingsUdi": "umb://element/8d666d23698140e39cc882fe117902fc"
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "key": "9ba1d412-1f6b-4866-ba8c-9f6ed06a9bd0",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EThis is the original text.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "key": "027598bb-c1eb-4896-8cbe-fc2ffea1b1de",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "key": "81216d97-d9e6-4ca2-a5a9-f78701f445af",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "key": "e3d82d24-74eb-4ac7-a5f1-cc68a0b53911",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "key": "632caa48-c410-457b-8dad-9112afdb9095",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "filter-this"
        }
      ]
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "key": "9da6e55e-4d27-4c9f-bf29-3a4c69e06df2",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "7f2977e1-5298-4fee-9c8c-5abeeafc1d63",
      "key": "8c551f8e-c043-4a18-9342-0744be753a32",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "key": "35610017-4b70-489c-a7c1-d5de358753e1",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "override-this"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "dc035316-614d-4ae6-8aea-2da054cf5234",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d2e16cbc-9302-41b3-a7bc-c5ec6f9b4867",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e60b4f17-fe50-49ae-a439-51c9255d6410",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c12234d2-e034-4bb7-a4c3-2c5ddf2a7295",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "af8c642b-39ab-4e82-ae82-f9af7b7ae1cf",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4a22682f-c433-472a-b093-b22f4f378c4d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "9ba1d412-1f6b-4866-ba8c-9f6ed06a9bd0",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "dc035316-614d-4ae6-8aea-2da054cf5234",
        "contentUdi": "umb://element/dc035316614d4ae68aea2da054cf5234",
        "settingsKey": "027598bb-c1eb-4896-8cbe-fc2ffea1b1de",
        "settingsUdi": "umb://element/027598bbc1eb48968cbefc2ffea1b1de"
      },
      {
        "contentKey": "d2e16cbc-9302-41b3-a7bc-c5ec6f9b4867",
        "contentUdi": "umb://element/d2e16cbc930241b3a7bcc5ec6f9b4867",
        "settingsKey": "81216d97-d9e6-4ca2-a5a9-f78701f445af",
        "settingsUdi": "umb://element/81216d97d9e64ca2a5a9f78701f445af"
      },
      {
        "contentKey": "e60b4f17-fe50-49ae-a439-51c9255d6410",
        "contentUdi": "umb://element/e60b4f17fe5049aea43951c9255d6410",
        "settingsKey": "e3d82d24-74eb-4ac7-a5f1-cc68a0b53911",
        "settingsUdi": "umb://element/e3d82d2474eb4ac7a5f1cc68a0b53911"
      },
      {
        "contentKey": "c12234d2-e034-4bb7-a4c3-2c5ddf2a7295",
        "contentUdi": "umb://element/c12234d2e0344bb7a4c32c5ddf2a7295",
        "settingsKey": "632caa48-c410-457b-8dad-9112afdb9095",
        "settingsUdi": "umb://element/632caa48c410457b8dad9112afdb9095"
      },
      {
        "contentKey": "af8c642b-39ab-4e82-ae82-f9af7b7ae1cf",
        "contentUdi": "umb://element/af8c642b39ab4e82ae82f9af7b7ae1cf",
        "settingsKey": "9da6e55e-4d27-4c9f-bf29-3a4c69e06df2",
        "settingsUdi": "umb://element/9da6e55e4d274c9fbf293a4c69e06df2"
      },
      {
        "contentKey": "9ba1d412-1f6b-4866-ba8c-9f6ed06a9bd0",
        "contentUdi": "umb://element/9ba1d4121f6b4866ba8c9f6ed06a9bd0",
        "settingsKey": "35610017-4b70-489c-a7c1-d5de358753e1",
        "settingsUdi": "umb://element/356100174b70489ca7c1d5de358753e1"
      },
      {
        "contentKey": "4a22682f-c433-472a-b093-b22f4f378c4d",
        "contentUdi": "umb://element/4a22682fc433472ab093b22f4f378c4d",
        "settingsKey": "8c551f8e-c043-4a18-9342-0744be753a32",
        "settingsUdi": "umb://element/8c551f8ec0434a1893420744be753a32"
      }
    ]
  }
}]]></Value>
    </blockList>
    <grid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "key": "6906e8a9-8089-44f5-bf40-5780cf7f346c",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch2 class=\u0022govuk-heading-m\u0022\u003EFilter block grid items\u003C/h2\u003E\n\u003Cp\u003EThis is the first item. The second one should be removed by a filter which is defined in the controller.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "key": "7da59e49-6771-4eaa-abe4-4b6f7e6945f4",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EThis is the second item. It should be removed by a filter which is defined in the controller.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "key": "d686fc83-ce7b-4804-a67d-f19a809b20a7",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch2 class=\u0022govuk-heading-m\u0022\u003EOverride block grid items\u003C/h2\u003E\n\u003Cp\u003EThe properties of block grid items can be overridden from the controller. The next paragraph says \u0022This is the original text.\u0022 in the back office, but should be displayed as \u0022This text is overridden.\u0022\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "key": "3fc2acf8-ee07-44ec-bbbe-b4758d1ba331",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EThis is the original text.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "650d7119-e9cf-4c26-a08c-21cf2ffbbbbc",
      "key": "4a1864a7-d62b-4557-97a8-ce838f1e13a2",
      "udi": null,
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "key": "68ac1078-471e-46d9-9b52-d7bfb7ffcc28",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "key": "6a588e67-86ce-4904-865f-e7b805e64ed9",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "filter-this"
        }
      ]
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "key": "374e3b5f-46d9-46c9-8aa5-49b6680d94c1",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "key": "9be31de8-7584-41e3-b1ee-0857ecc9f125",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "override-this"
        }
      ]
    },
    {
      "contentTypeKey": "53edb934-ee79-4ff0-b23a-84b91e9fef7a",
      "key": "6a7ffdb0-5cc8-4e33-bc5c-d3bb5a012867",
      "udi": null,
      "values": [
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "stackColumns",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "6906e8a9-8089-44f5-bf40-5780cf7f346c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7da59e49-6771-4eaa-abe4-4b6f7e6945f4",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d686fc83-ce7b-4804-a67d-f19a809b20a7",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3fc2acf8-ee07-44ec-bbbe-b4758d1ba331",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4a1864a7-d62b-4557-97a8-ce838f1e13a2",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "6906e8a9-8089-44f5-bf40-5780cf7f346c",
        "contentUdi": "umb://element/6906e8a9808944f5bf405780cf7f346c",
        "rowSpan": 1,
        "settingsKey": "68ac1078-471e-46d9-9b52-d7bfb7ffcc28",
        "settingsUdi": "umb://element/68ac1078471e46d99b52d7bfb7ffcc28"
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "7da59e49-6771-4eaa-abe4-4b6f7e6945f4",
        "contentUdi": "umb://element/7da59e4967714eaaabe44b6f7e6945f4",
        "rowSpan": 1,
        "settingsKey": "6a588e67-86ce-4904-865f-e7b805e64ed9",
        "settingsUdi": "umb://element/6a588e6786ce4904865fe7b805e64ed9"
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "d686fc83-ce7b-4804-a67d-f19a809b20a7",
        "contentUdi": "umb://element/d686fc83ce7b4804a67df19a809b20a7",
        "rowSpan": 1,
        "settingsKey": "374e3b5f-46d9-46c9-8aa5-49b6680d94c1",
        "settingsUdi": "umb://element/374e3b5f46d946c98aa549b6680d94c1"
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "3fc2acf8-ee07-44ec-bbbe-b4758d1ba331",
        "contentUdi": "umb://element/3fc2acf8ee0744ecbbbeb4758d1ba331",
        "rowSpan": 1,
        "settingsKey": "9be31de8-7584-41e3-b1ee-0857ecc9f125",
        "settingsUdi": "umb://element/9be31de8758441e3b1ee0857ecc9f125"
      },
      {
        "areas": [
          {
            "items": [],
            "key": "e5cccb24-c20d-4159-ac70-c56a67789c57"
          },
          {
            "items": [],
            "key": "8ade65b2-a237-44af-a25a-4b7bde0298f9"
          }
        ],
        "columnSpan": 12,
        "contentKey": "4a1864a7-d62b-4557-97a8-ce838f1e13a2",
        "contentUdi": "umb://element/4a1864a7d62b455797a8ce838f1e13a2",
        "rowSpan": 1,
        "settingsKey": "6a7ffdb0-5cc8-4e33-bc5c-d3bb5a012867",
        "settingsUdi": "umb://element/6a7ffdb05cc84e33bc5cd3bb5a012867"
      }
    ]
  }
}]]></Value>
    </grid>
    <headingScaleStart>
      <Value><![CDATA[]]></Value>
    </headingScaleStart>
  </Properties>
</Content>