<?xml version="1.0" encoding="utf-8"?>
<Content Key="75e66226-ce60-4448-b2f0-b348003250b0" Alias="Image" Level="2">
  <Info>
    <Parent Key="5e682cbe-b867-491a-955f-3382446d5663">Home</Parent>
    <Path>/Home/Image</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2025-08-07T11:31:34</CreateDate>
    <NodeName Default="Image" />
    <SortOrder>35</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3c351b02-40b4-4d66-ae89-e8bccc414f83">page</Template>
  </Info>
  <Properties>
    <blockGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "9389c5e5-ce97-4211-97c5-f2cd173ca648",
      "key": "455fbdd0-8880-4e42-bb3a-b19fe1b453ea",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "8300dcea-0fa6-4fef-bb3c-9bc574360383",
              "mediaKey": "f0050b35-e0ef-40af-ac67-9b704a82aa69",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "9389c5e5-ce97-4211-97c5-f2cd173ca648",
      "key": "ccf0c332-baea-43be-b97e-7ee136387ec0",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "0f271d67-5f1c-4903-84cd-1be3ec6e21a6",
              "mediaKey": "2d51f4b5-cec6-4ec9-a2b2-6728a8ff80aa",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "key": "3f3cdf66-b5e1-4e45-a68f-66298b9d16a9",
      "udi": null,
      "values": [
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Example application in Umbraco"
        }
      ]
    },
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "key": "d90d68fe-127b-4bda-a6fe-078749012519",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "key": "e03a43c5-dd09-412c-8ed1-b65fa2e8d226",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EImages are supported when using the \u0027TPR block grid\u0027 or \u0027TPR block list\u0027 data types.\u003C/p\u003E\n\u003Cp\u003EBy default images are resized to fit the width of their container, to support responsive design.\u00A0\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "key": "c97034b1-1083-47b0-8911-c5c8ef97ea21",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EImages can be set to retain their original size. This is useful for smaller images that lose quality when scaled up.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "key": "2f253f6e-1266-49a8-864c-44eca0c6cab7",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EImages have the same spacing after that is used by all components. However, images have the option to switch this off so that they can be placed together.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "9389c5e5-ce97-4211-97c5-f2cd173ca648",
      "key": "7e77ba10-baf8-482a-b0cd-4d92f4ce8af9",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "8300dcea-0fa6-4fef-bb3c-9bc574360383",
              "mediaKey": "f0050b35-e0ef-40af-ac67-9b704a82aa69",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "9389c5e5-ce97-4211-97c5-f2cd173ca648",
      "key": "e602c9ae-6b02-4b7b-afc7-0e0ed68dbfdb",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "8300dcea-0fa6-4fef-bb3c-9bc574360383",
              "mediaKey": "f0050b35-e0ef-40af-ac67-9b704a82aa69",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "key": "33c5640c-f246-4340-b803-b9a376d4311f",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch2 class=\u0022govuk-heading-m\u0022\u003EAlt text\u003C/h2\u003E\n\u003Cp\u003EBy default, the image node name is used to display the alt text. However, if the Alt Text has been set in the media library for the image, this value will be used instead.\u00A0\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "key": "1a324ed1-b525-4558-9013-5ac826fba093",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch2 class=\u0022govuk-heading-m\u0022\u003EDecorative images\u003C/h2\u003E\n\u003Cp\u003ETo make an image decorative, go to its settings and select the \u0027Decorative image\u0027 option.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "9389c5e5-ce97-4211-97c5-f2cd173ca648",
      "key": "f5594735-d7e5-48b9-85d0-13bac63f05d2",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "d20efa22-b1ca-4be4-a600-4bac03fdedaf",
              "mediaKey": "1aba7bbd-ea3a-4586-a6a5-c4bf2e2245e6",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "9389c5e5-ce97-4211-97c5-f2cd173ca648",
      "key": "f293ca01-7722-4f25-aa3a-30de8d6ed0e9",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "58da4190-c5cb-4b1c-bb1b-a43f7dd8467c",
              "mediaKey": "19fe68ee-cf63-40b4-b5b8-3fbbb20c0c63",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "9389c5e5-ce97-4211-97c5-f2cd173ca648",
      "key": "db6411ef-88be-45a1-8002-05411f817b95",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c6e128d8-e84d-4a03-9cb2-58c6f2ad71ae",
              "mediaKey": "01acb1b9-2ef1-4d26-ae5c-76f1ddb3e32c",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "40bb2a3e-3d75-4ec1-9134-e0c46c6f04a0",
      "key": "19c8e96c-0076-46a2-8eb5-c941cd5805ac",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EBelow is an example image with custom alt text\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "9e06323c-cf04-4e08-a132-a8ebe4e3028e",
      "key": "0d4b9dab-4240-4b06-9dc1-ce5a7e08f132",
      "udi": null,
      "values": [
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "decorativeImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "imageSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Fit container"
        },
        {
          "alias": "spaceAfter",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "9e06323c-cf04-4e08-a132-a8ebe4e3028e",
      "key": "82782b37-f60a-4ecd-86a8-51a433e355d0",
      "udi": null,
      "values": [
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "decorativeImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "imageSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Retain original size"
        },
        {
          "alias": "spaceAfter",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "key": "bd6cbf11-ae7a-4a81-86c3-aed89010b4c7",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "key": "2d36d373-5fe2-4b9b-84bc-ff7ec60db2e3",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "key": "a0096dd2-c075-42be-8512-871785862c60",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "key": "34b6fcd4-e1d9-452c-9bfe-382b1309ab13",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "key": "72a0ba7e-94b9-48ed-892f-345f037e7630",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "9e06323c-cf04-4e08-a132-a8ebe4e3028e",
      "key": "4bd8b7c7-04c1-439b-86f8-fc7cd0b118a6",
      "udi": null,
      "values": [
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "decorativeImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "imageSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Fit container"
        },
        {
          "alias": "spaceAfter",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "9e06323c-cf04-4e08-a132-a8ebe4e3028e",
      "key": "6af942ad-499b-4329-8d60-47c8eb46df81",
      "udi": null,
      "values": [
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "decorativeImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "imageSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Fit container"
        },
        {
          "alias": "spaceAfter",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "key": "13abb948-6389-4e75-8e2f-9bf9865c7324",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "key": "003703de-d85d-4dcf-afa1-90f486d2b07b",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "9e06323c-cf04-4e08-a132-a8ebe4e3028e",
      "key": "db6112ad-5de5-4c9d-abee-2513de835504",
      "udi": null,
      "values": [
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "decorativeImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "imageSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "spaceAfter",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "9e06323c-cf04-4e08-a132-a8ebe4e3028e",
      "key": "efa5caf7-95d0-41c3-b580-ffd4a2f68afd",
      "udi": null,
      "values": [
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "decorativeImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "imageSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "spaceAfter",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "9e06323c-cf04-4e08-a132-a8ebe4e3028e",
      "key": "261f1734-c700-4302-817c-ce4560b314db",
      "udi": null,
      "values": [
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "decorativeImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "imageSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "spaceAfter",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "29d9a3c9-4047-484a-8816-e233e161fcb0",
      "key": "659abd15-6799-44cd-916f-fced706465ee",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "455fbdd0-8880-4e42-bb3a-b19fe1b453ea",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ccf0c332-baea-43be-b97e-7ee136387ec0",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3f3cdf66-b5e1-4e45-a68f-66298b9d16a9",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d90d68fe-127b-4bda-a6fe-078749012519",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e03a43c5-dd09-412c-8ed1-b65fa2e8d226",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c97034b1-1083-47b0-8911-c5c8ef97ea21",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "2f253f6e-1266-49a8-864c-44eca0c6cab7",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7e77ba10-baf8-482a-b0cd-4d92f4ce8af9",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e602c9ae-6b02-4b7b-afc7-0e0ed68dbfdb",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "33c5640c-f246-4340-b803-b9a376d4311f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "1a324ed1-b525-4558-9013-5ac826fba093",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f5594735-d7e5-48b9-85d0-13bac63f05d2",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f293ca01-7722-4f25-aa3a-30de8d6ed0e9",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "db6411ef-88be-45a1-8002-05411f817b95",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "19c8e96c-0076-46a2-8eb5-c941cd5805ac",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "3f3cdf66-b5e1-4e45-a68f-66298b9d16a9",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "bd6cbf11-ae7a-4a81-86c3-aed89010b4c7",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "d90d68fe-127b-4bda-a6fe-078749012519",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "2d36d373-5fe2-4b9b-84bc-ff7ec60db2e3",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "e03a43c5-dd09-412c-8ed1-b65fa2e8d226",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "a0096dd2-c075-42be-8512-871785862c60",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "455fbdd0-8880-4e42-bb3a-b19fe1b453ea",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "0d4b9dab-4240-4b06-9dc1-ce5a7e08f132",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "c97034b1-1083-47b0-8911-c5c8ef97ea21",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "34b6fcd4-e1d9-452c-9bfe-382b1309ab13",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "ccf0c332-baea-43be-b97e-7ee136387ec0",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "82782b37-f60a-4ecd-86a8-51a433e355d0",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "2f253f6e-1266-49a8-864c-44eca0c6cab7",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "72a0ba7e-94b9-48ed-892f-345f037e7630",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "7e77ba10-baf8-482a-b0cd-4d92f4ce8af9",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "4bd8b7c7-04c1-439b-86f8-fc7cd0b118a6",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "e602c9ae-6b02-4b7b-afc7-0e0ed68dbfdb",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "6af942ad-499b-4329-8d60-47c8eb46df81",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "33c5640c-f246-4340-b803-b9a376d4311f",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "13abb948-6389-4e75-8e2f-9bf9865c7324",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "f5594735-d7e5-48b9-85d0-13bac63f05d2",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "db6112ad-5de5-4c9d-abee-2513de835504",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "19c8e96c-0076-46a2-8eb5-c941cd5805ac",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "659abd15-6799-44cd-916f-fced706465ee",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "db6411ef-88be-45a1-8002-05411f817b95",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "261f1734-c700-4302-817c-ce4560b314db",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "1a324ed1-b525-4558-9013-5ac826fba093",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "003703de-d85d-4dcf-afa1-90f486d2b07b",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "f293ca01-7722-4f25-aa3a-30de8d6ed0e9",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "efa5caf7-95d0-41c3-b580-ffd4a2f68afd",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blockGrid>
    <blockList>
      <Value><![CDATA[]]></Value>
    </blockList>
  </Properties>
</Content>