<?xml version="1.0" encoding="utf-8"?>
<Content Key="74f7af6e-c243-4e51-bac3-27d47a1d5687" Alias="Inset text" Level="2">
  <Info>
    <Parent Key="5e682cbe-b867-491a-955f-3382446d5663">Home</Parent>
    <Path>/Home/InsetText</Path>
    <Trashed>false</Trashed>
    <ContentType>insetText</ContentType>
    <CreateDate>2022-05-31T10:39:36</CreateDate>
    <NodeName Default="Inset text" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d90392e2-9da3-4e0b-9c82-bd968ac4d402">InsetText</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "40bb2a3e-3d75-4ec1-9134-e0c46c6f04a0",
      "key": "b4cbfa89-2b91-4313-bfa6-34d6a9e00d38",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EUse the \u003Ca href=\u0022https://design-system.service.gov.uk/components/inset-text/\u0022\u003Einset text\u003C/a\u003E component to differentiate a block of text from the content that surrounds it.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "key": "d0fb3de2-fbf3-4c76-b0dc-e9e80cdcf952",
      "udi": null,
      "values": [
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Example application in Umbraco"
        }
      ]
    },
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "key": "d788e6b0-9312-4b7b-8548-fee0a6808d2d",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "40bb2a3e-3d75-4ec1-9134-e0c46c6f04a0",
      "key": "223e6dec-830f-474b-b4cd-2938036b6e0e",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022custom-class\u0022\u003EWhen there is a single paragraph with no class applied, the surrounding \u003Cstrong\u003Ep \u003C/strong\u003Eelement should be removed. This inset text component has just one paragraph but a custom class is applied, so the\u0026nbsp;\u003Cstrong\u003Ep\u003C/strong\u003E element should be kept.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "40bb2a3e-3d75-4ec1-9134-e0c46c6f04a0",
      "key": "92987d19-fcb7-41d7-8efd-b932f81617ca",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022govuk-body\u0022\u003EInset text components can (although rarely should) contain multiple paragraphs.\u003C/p\u003E\n\u003Cp class=\u0022custom-class\u0022\u003ECustom classes can be applied when there are multiple paragraphs.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "key": "d34fd05c-a544-4123-9280-092df24e1f33",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "key": "21c66e94-fce9-4f27-951b-36b07695b883",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "29d9a3c9-4047-484a-8816-e233e161fcb0",
      "key": "d90178d1-3931-4a71-8d71-d63fc8b71fa7",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "29d9a3c9-4047-484a-8816-e233e161fcb0",
      "key": "c4c8a32e-6fe1-4365-b03d-4a0382efca17",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "29d9a3c9-4047-484a-8816-e233e161fcb0",
      "key": "fa789b0f-a5d2-408a-a969-017d9fde614a",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "b4cbfa89-2b91-4313-bfa6-34d6a9e00d38",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d0fb3de2-fbf3-4c76-b0dc-e9e80cdcf952",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d788e6b0-9312-4b7b-8548-fee0a6808d2d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "223e6dec-830f-474b-b4cd-2938036b6e0e",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "92987d19-fcb7-41d7-8efd-b932f81617ca",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "d0fb3de2-fbf3-4c76-b0dc-e9e80cdcf952",
        "contentUdi": "umb://element/d0fb3de2fbf34c76b0dce9e80cdcf952",
        "settingsKey": "d34fd05c-a544-4123-9280-092df24e1f33",
        "settingsUdi": "umb://element/d34fd05ca54441239280092df24e1f33"
      },
      {
        "contentKey": "d788e6b0-9312-4b7b-8548-fee0a6808d2d",
        "contentUdi": "umb://element/d788e6b093124b7b8548fee0a6808d2d",
        "settingsKey": "21c66e94-fce9-4f27-951b-36b07695b883",
        "settingsUdi": "umb://element/21c66e94fce94f27951b36b07695b883"
      },
      {
        "contentKey": "b4cbfa89-2b91-4313-bfa6-34d6a9e00d38",
        "contentUdi": "umb://element/b4cbfa892b914313bfa634d6a9e00d38",
        "settingsKey": "d90178d1-3931-4a71-8d71-d63fc8b71fa7",
        "settingsUdi": "umb://element/d90178d139314a718d71d63fc8b71fa7"
      },
      {
        "contentKey": "223e6dec-830f-474b-b4cd-2938036b6e0e",
        "contentUdi": "umb://element/223e6dec830f474bb4cd2938036b6e0e",
        "settingsKey": "c4c8a32e-6fe1-4365-b03d-4a0382efca17",
        "settingsUdi": "umb://element/c4c8a32e6fe14365b03d4a0382efca17"
      },
      {
        "contentKey": "92987d19-fcb7-41d7-8efd-b932f81617ca",
        "contentUdi": "umb://element/92987d19fcb741d78efdb932f81617ca",
        "settingsKey": "fa789b0f-a5d2-408a-a969-017d9fde614a",
        "settingsUdi": "umb://element/fa789b0fa5d2408aa969017d9fde614a"
      }
    ]
  }
}]]></Value>
    </blocks>
    <headingScaleStart>
      <Value><![CDATA[]]></Value>
    </headingScaleStart>
  </Properties>
</Content>