<?xml version="1.0" encoding="utf-8"?>
<Content Key="bc0c7569-0458-415e-8a88-7ca34a2b62f3" Alias="More breadcrumbs" Level="3">
  <Info>
    <Parent Key="49aa9979-672c-4b96-9a1d-a87e0947511d">Breadcrumbs</Parent>
    <Path>/Home/Breadcrumbs/MoreBreadcrumbs</Path>
    <Trashed>false</Trashed>
    <ContentType>breadcrumbs</ContentType>
    <CreateDate>2026-03-19T11:19:21</CreateDate>
    <NodeName Default="More breadcrumbs" />
    <SortOrder>27</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="29bec9d4-d54e-4896-823a-f366eef5e5a6">Breadcrumbs</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "key": "9dadee99-ce5e-495a-af81-91a4202cd382",
      "values": [
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Example application in Umbraco"
        }
      ]
    },
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "key": "8c80056d-6a47-4c55-9051-8619fb203659",
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "key": "3d77b7d9-a8f3-456b-a0f9-677310e337af",
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EThe \u003Ca rel=\u0022noopener\u0022 href=\u0022https://design-system.service.gov.uk/components/breadcrumbs/\u0022 target=\u0022_blank\u0022\u003Ebreadcrumbs component\u003C/a\u003E helps users to understand where they are within a website\u2019s structure and move between levels.\u003C/p\u003E\n\u003Cp\u003EView a page with \u003Ca type=\u0022document\u0022 href=\u0022/{localLink:d6d2d4b7-2269-4d6a-bbc9-eb109157a31a}\u0022\u003Eyet more breadcrumbs\u003C/a\u003E.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "key": "1ece6c0f-03f3-4a2d-ac13-20c7ac66c14c",
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "key": "f8a29003-5b0b-44cf-8862-2f6be5a6b934",
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "key": "4f85ca8d-c42a-4fa1-a509-a72446a6f739",
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "9dadee99-ce5e-495a-af81-91a4202cd382",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8c80056d-6a47-4c55-9051-8619fb203659",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3d77b7d9-a8f3-456b-a0f9-677310e337af",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "9dadee99-ce5e-495a-af81-91a4202cd382",
        "contentUdi": null,
        "settingsKey": "1ece6c0f-03f3-4a2d-ac13-20c7ac66c14c",
        "settingsUdi": null
      },
      {
        "contentKey": "8c80056d-6a47-4c55-9051-8619fb203659",
        "contentUdi": null,
        "settingsKey": "f8a29003-5b0b-44cf-8862-2f6be5a6b934",
        "settingsUdi": null
      },
      {
        "contentKey": "3d77b7d9-a8f3-456b-a0f9-677310e337af",
        "contentUdi": null,
        "settingsKey": "4f85ca8d-c42a-4fa1-a509-a72446a6f739",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <headingScaleStart>
      <Value><![CDATA[]]></Value>
    </headingScaleStart>
  </Properties>
</Content>