<?xml version="1.0" encoding="utf-8"?>
<Content Key="cd4111da-0f2a-4401-b0f2-3056f15e6826" Alias="Notification banner" Level="2">
  <Info>
    <Parent Key="5e682cbe-b867-491a-955f-3382446d5663">Home</Parent>
    <Path>/Home/NotificationBanner</Path>
    <Trashed>false</Trashed>
    <ContentType>notificationBanner</ContentType>
    <CreateDate>2022-05-18T11:32:49</CreateDate>
    <NodeName Default="Notification banner" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="209da924-24d9-429e-abbd-c4fc769fef79">NotificationBanner</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "key": "fd72f096-dbd6-493c-8ea0-963a9e072014",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022govuk-body\u0022\u003EAvoid showing more than one notification banner on the same page. Instead, combine the messages in a single notification banner. If the messages are too different to combine, only show the highest priority notification banner.\u003C/p\u003E\n\u003Cp class=\u0022govuk-body\u0022\u003ESee\u00A0\u003Ca href=\u0022https://design-system.service.gov.uk/components/notification-banner/\u0022 class=\u0022govuk-link\u0022\u003Enotification banner\u003C/a\u003E\u00A0for more guidance.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "43d6f04c-2ce0-440c-9e13-05d856b8aafe",
      "key": "37ff3b49-d640-4d3d-bef4-ee4655e5b9ea",
      "udi": null,
      "values": [
        {
          "alias": "blocks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "35584ae7-feb5-4de8-9008-5d2d8cfb34ce",
                "key": "98ff275f-44ca-42ae-a2bc-dbe2c45d5423",
                "udi": null,
                "values": [
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dismiss"
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "e683e885-8aa0-4bdd-9eff-56966f353540",
                "key": "dca064c1-5d24-47f3-bd1a-0349d6707a7a",
                "udi": null,
                "values": [
                  {
                    "alias": "columnSize",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "columnSizeFromDesktop",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "cssClasses",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "dismiss govuk-!-display-none"
                  },
                  {
                    "alias": "cssClassesForColumn",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "cssClassesForRow",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "disabled",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "0"
                  },
                  {
                    "alias": "modelProperty",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "preventDoubleClick",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "0"
                  },
                  {
                    "alias": "styleOfButton",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "typeOfButton",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Secondary"
                  }
                ]
              }
            ],
            "expose": [
              {
                "contentKey": "98ff275f-44ca-42ae-a2bc-dbe2c45d5423",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "98ff275f-44ca-42ae-a2bc-dbe2c45d5423",
                  "contentUdi": "umb://element/98ff275f44ca42aea2bcdbe2c45d5423",
                  "settingsKey": "dca064c1-5d24-47f3-bd1a-0349d6707a7a",
                  "settingsUdi": "umb://element/dca064c15d2447f3bd1a0349d6707a7a"
                }
              ]
            }
          }
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EA\u003Cspan\u003E\u00A0\u003C/span\u003E\u003Ca href=\u0022https://design-system.service.gov.uk/components/notification-banner/\u0022 class=\u0022govuk-notification-banner__link\u0022\u003Enotification banner\u003C/a\u003E\u003Cspan\u003E lets you tell the user about something that\u0027s not directly relevant to the thing they\u2019re trying to do on that page of the service.\u003C/span\u003E\u003Cspan\u003E\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp style=\u0022text-align: left;\u0022 class=\u0022custom-class\u0022\u003EYou can apply a custom class.\u003C/p\u003E\n\u003Cp\u003EButtons can be targeted with JavaScript to add additional functionality. If JavaScript is not available, the button should be hidden. To achieve this apply the \u0027govuk-!-display-none\u0027 class to the button and remove it with JavaScript.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "43d6f04c-2ce0-440c-9e13-05d856b8aafe",
      "key": "cb7764d9-736a-4cf5-88d4-787cb12e459a",
      "udi": null,
      "values": [
        {
          "alias": "blocks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "d1324abd-7504-44e1-9b9a-2cc12d527175",
                "key": "f162856e-1bca-4632-98f8-d01a4440b098",
                "udi": null,
                "values": [
                  {
                    "alias": "buttons",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "contentData": [
                        {
                          "contentTypeKey": "64a0406a-8b4d-46d7-a976-af6d6616dffc",
                          "key": "03699490-c303-4178-949e-65bf32f727c1",
                          "udi": null,
                          "values": [
                            {
                              "alias": "text",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "Go back to menu"
                            },
                            {
                              "alias": "link",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": [
                                {
                                  "name": "Home",
                                  "target": null,
                                  "unique": null,
                                  "type": null,
                                  "udi": "umb://document/5e682cbeb867491a955f3382446d5663",
                                  "url": null,
                                  "queryString": null
                                }
                              ]
                            }
                          ]
                        },
                        {
                          "contentTypeKey": "35584ae7-feb5-4de8-9008-5d2d8cfb34ce",
                          "key": "cee32a60-9b6c-47a7-bdb7-02bc8b70dc43",
                          "udi": null,
                          "values": [
                            {
                              "alias": "text",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "Dismiss"
                            }
                          ]
                        }
                      ],
                      "settingsData": [
                        {
                          "contentTypeKey": "236a3fde-d8b7-4b7d-aaad-6f49d2a3ddf2",
                          "key": "5dc550ad-8497-4f00-8042-4cc23d0b84f1",
                          "udi": null,
                          "values": []
                        },
                        {
                          "contentTypeKey": "e683e885-8aa0-4bdd-9eff-56966f353540",
                          "key": "c517dabc-28e0-4303-b189-157b0aecc76b",
                          "udi": null,
                          "values": [
                            {
                              "alias": "cssClasses",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "dismiss-1 govuk-!-display-none"
                            },
                            {
                              "alias": "preventDoubleClick",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "0"
                            },
                            {
                              "alias": "disabled",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "0"
                            }
                          ]
                        }
                      ],
                      "expose": [
                        {
                          "contentKey": "03699490-c303-4178-949e-65bf32f727c1",
                          "culture": null,
                          "segment": null
                        },
                        {
                          "contentKey": "cee32a60-9b6c-47a7-bdb7-02bc8b70dc43",
                          "culture": null,
                          "segment": null
                        }
                      ],
                      "Layout": {
                        "Umbraco.BlockList": [
                          {
                            "contentKey": "cee32a60-9b6c-47a7-bdb7-02bc8b70dc43",
                            "contentUdi": null,
                            "settingsKey": "c517dabc-28e0-4303-b189-157b0aecc76b",
                            "settingsUdi": null
                          },
                          {
                            "contentKey": "03699490-c303-4178-949e-65bf32f727c1",
                            "contentUdi": null,
                            "settingsKey": "5dc550ad-8497-4f00-8042-4cc23d0b84f1",
                            "settingsUdi": null
                          }
                        ]
                      }
                    }
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "bb140093-52f9-4ec4-9240-ab246b574ebd",
                "key": "ee91793a-f37a-47ae-acc0-6d0f251d269b",
                "udi": null,
                "values": [
                  {
                    "alias": "columnSize",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "columnSizeFromDesktop",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  }
                ]
              }
            ],
            "expose": [
              {
                "contentKey": "f162856e-1bca-4632-98f8-d01a4440b098",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "f162856e-1bca-4632-98f8-d01a4440b098",
                  "contentUdi": "umb://element/f162856e1bca463298f8d01a4440b098",
                  "settingsKey": "ee91793a-f37a-47ae-acc0-6d0f251d269b",
                  "settingsUdi": "umb://element/ee91793af37a47aeacc06d0f251d269b"
                }
              ]
            }
          }
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EUse the green version of the notification banner to confirm that something they\u2019re expecting to happen has happened.\u003C/p\u003E"
          }
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EDo not use a notification banner to tell users that they\u2019ve finished using a linear service. Use a\u003Cspan\u003E\u00A0\u003C/span\u003E\u003Ca href=\u0022https://design-system.service.gov.uk/patterns/confirmation-pages/\u0022 class=\u0022govuk-notification-banner__link\u0022\u003Econfirmation page\u003C/a\u003E\u003Cspan\u003E\u00A0instead.\u003C/span\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "key": "f6261bf1-ac6d-4b10-8096-b89da4865fda",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "key": "97e0d21b-e235-4cb6-b314-682dbf84b0c4",
      "udi": null,
      "values": [
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Example application in Umbraco"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "f7827cba-7c37-4ddd-9234-11bf31e17818",
      "key": "e58fc664-3f8a-403d-aedb-4345df8d008d",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "full"
          ]
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "notification-banner-first"
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "type",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Default"
        }
      ]
    },
    {
      "contentTypeKey": "f7827cba-7c37-4ddd-9234-11bf31e17818",
      "key": "fdfd4450-9035-481f-b9cb-5557f18a3135",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "notification-banner-second"
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "type",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Success"
        }
      ]
    },
    {
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "key": "56e28681-6635-49df-9b17-605750740ffd",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "key": "a40c122c-4ff7-4a9c-b191-b65e9f161d1f",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "key": "d38f6659-71b8-4cc1-a919-4f78efd429b2",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "fd72f096-dbd6-493c-8ea0-963a9e072014",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "37ff3b49-d640-4d3d-bef4-ee4655e5b9ea",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "cb7764d9-736a-4cf5-88d4-787cb12e459a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f6261bf1-ac6d-4b10-8096-b89da4865fda",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "97e0d21b-e235-4cb6-b314-682dbf84b0c4",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "37ff3b49-d640-4d3d-bef4-ee4655e5b9ea",
        "contentUdi": "umb://element/37ff3b49d6404d3dbef4ee4655e5b9ea",
        "settingsKey": "e58fc664-3f8a-403d-aedb-4345df8d008d",
        "settingsUdi": "umb://element/e58fc6643f8a403daedb4345df8d008d"
      },
      {
        "contentKey": "cb7764d9-736a-4cf5-88d4-787cb12e459a",
        "contentUdi": "umb://element/cb7764d9736a4cf588d4787cb12e459a",
        "settingsKey": "fdfd4450-9035-481f-b9cb-5557f18a3135",
        "settingsUdi": "umb://element/fdfd44509035481fb9cb5557f18a3135"
      },
      {
        "contentKey": "97e0d21b-e235-4cb6-b314-682dbf84b0c4",
        "contentUdi": "umb://element/97e0d21be2354cb6b314682dbf84b0c4",
        "settingsKey": "56e28681-6635-49df-9b17-605750740ffd",
        "settingsUdi": "umb://element/56e28681663549df9b17605750740ffd"
      },
      {
        "contentKey": "f6261bf1-ac6d-4b10-8096-b89da4865fda",
        "contentUdi": "umb://element/f6261bf1ac6d4b108096b89da4865fda",
        "settingsKey": "a40c122c-4ff7-4a9c-b191-b65e9f161d1f",
        "settingsUdi": "umb://element/a40c122c4ff74a9cb191b65e9f161d1f"
      },
      {
        "contentKey": "fd72f096-dbd6-493c-8ea0-963a9e072014",
        "contentUdi": "umb://element/fd72f096dbd6493c8ea0963a9e072014",
        "settingsKey": "d38f6659-71b8-4cc1-a919-4f78efd429b2",
        "settingsUdi": "umb://element/d38f665971b84cc1a9194f78efd429b2"
      }
    ]
  }
}]]></Value>
    </blocks>
    <headingScaleStart>
      <Value><![CDATA[]]></Value>
    </headingScaleStart>
  </Properties>
</Content>