<?xml version="1.0" encoding="utf-8"?>
<Content Key="9e647642-8c53-465b-8465-477f5eed307f" Alias="Pagination" Level="2">
  <Info>
    <Parent Key="5e682cbe-b867-491a-955f-3382446d5663">Home</Parent>
    <Path>/Home/Pagination</Path>
    <Trashed>false</Trashed>
    <ContentType>pagination</ContentType>
    <CreateDate>2023-04-03T12:29:05</CreateDate>
    <NodeName Default="Pagination" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b101a16f-48c6-4956-931a-7c1c5c90e825">Pagination</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "key": "a867a606-cbb5-45ed-ab7b-9d25839efad0",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022govuk-body\u0022\u003EThe GOV.UK Design System recommends using pagination differently depending on how many pages there are. A pagination partial view expects a\u00A0\u003Cem\u003EPaginationModel\u003C/em\u003E\u00A0and applies this and other pagination logic for you. See the Razor source of this page for an example.\u003C/p\u003E\n\u003Cp class=\u0022govuk-body\u0022\u003EThere are behaviours not covered by the partial view which you should implement:\u003C/p\u003E\n\u003Cul class=\u0022govuk-list govuk-list--bullet\u0022\u003E\n\u003Cli\u003ERedirect users to the first page if they enter a URL of a page that no longer exists.\u003C/li\u003E\n\u003Cli\u003EShow the page number in the page \u0026lt;title\u0026gt; so that screen reader users know they\u2019ve navigated to a different page. For example, \u2018Search results (page 1 of 4)\u2019.\u003C/li\u003E\n\u003C/ul\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "key": "129d56a2-bc5b-4ada-bb83-56e659cf9f4d",
      "udi": null,
      "values": [
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Example application in Umbraco"
        }
      ]
    },
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "key": "257f1b89-7e2b-45be-8947-2b5d8cec52f3",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "key": "6b7ff8dd-ecf2-4622-b130-c2ecb24a3ee0",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch2 class=\u0022govuk-heading-m\u0022\u003EPagination for a small number of pages\u003C/h2\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "key": "fc79ca18-c238-4a2a-8b64-be016c03debe",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch2 class=\u0022govuk-heading-m\u0022\u003EPagination for a large number of pages\u003C/h2\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "key": "8173e959-3251-494e-bf71-c3e879ef727f",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch2 class=\u0022govuk-heading-m\u0022\u003EChange the number of pages\u003C/h2\u003E\n\u003Cp\u003EThis example displays 10 items per page. The pagination style changes when there are more than 10 pages.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "key": "762dad3f-4dd9-49fb-968e-1e942d52112a",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch2 class=\u0022govuk-heading-m\u0022\u003EPagination for a single page of items\u003C/h2\u003E\n\u003Cp\u003EPagination should not appear at all when there are not enough items for a second page.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "fe2dd0de-55a9-4249-be03-6896aa719974",
      "key": "c7195abc-c574-4bd7-ab32-9c2a1561fd37",
      "udi": null,
      "values": [
        {
          "alias": "hint",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "label",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Number of items"
        }
      ]
    },
    {
      "contentTypeKey": "35584ae7-feb5-4de8-9008-5d2d8cfb34ce",
      "key": "da27c535-c39b-4f5e-8a4a-8b7d5c03503a",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Submit"
        }
      ]
    },
    {
      "contentTypeKey": "7b79c9f1-4f4d-4c9b-915e-8f364bc86830",
      "key": "b45ef7a7-93f1-4f83-a63a-f671a585ea4a",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "d8ded14d-00eb-46c2-8c66-29a27fc6b05a",
      "key": "3f0dc4db-be16-41bf-896a-845ba9d92ae9",
      "udi": null,
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "key": "260d0f06-d2b6-43fc-9283-0037caf5b0d9",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "key": "faf2486b-a07b-4edb-9c58-aa91505c8c30",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "key": "02760b6e-e27f-41d4-a0e7-ff7b88164648",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "key": "659fe00f-0bd4-4f4e-8eab-97ffaef402f6",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "tpr-pagination-small"
        }
      ]
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "key": "c604be39-d074-41c2-80ed-dee6c79b70ab",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "tpr-pagination-large"
        }
      ]
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "key": "b2005822-42db-4085-a561-24feec7ea1fe",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "key": "4f0fb11f-6ca1-4974-be51-61d741918060",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "tpr-pagination-none"
        }
      ]
    },
    {
      "contentTypeKey": "98070ce9-d528-4bfc-bd90-e411e5110f56",
      "key": "47165e25-0484-4685-b026-3451754eb0d5",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "govuk-grid-row--tpr-divider"
        },
        {
          "alias": "customError1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "customError2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "customError3",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "errorMessageCompare",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "errorMessageEmail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "errorMessageLength",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "errorMessageMaxLength",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "errorMessageMinLength",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "errorMessagePhone",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "errorMessageRange",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "errorMessageRegex",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "errorMessageRequired",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Enter a number of items to paginate"
        },
        {
          "alias": "extraLetterSpacing",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "labelIsPageHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "modelProperty",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Items"
        },
        {
          "alias": "prefix",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "readOnly",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "suffix",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "textInputWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "x-small"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "e683e885-8aa0-4bdd-9eff-56966f353540",
      "key": "3e0b158a-5c24-4850-b503-dbed31ae3da0",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "disabled",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "modelProperty",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "preventDoubleClick",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "styleOfButton",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "typeOfButton",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "ec4a6e3f-a6a8-4c8a-9d4c-d3e90399ac2c",
      "key": "2814734f-e237-4ca6-bca0-2f7e5519fc70",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "b8f1e93f-f50d-4a57-8cd1-356ee8d7d284",
      "key": "ad8644e4-395b-45c4-b7d8-1452123eefa9",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "landmarkLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "largeNumberOfPagesThreshold",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "nextPageLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "pageLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "pageSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "previousPageLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "queryStringParameter",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "totalItems",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "a867a606-cbb5-45ed-ab7b-9d25839efad0",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "129d56a2-bc5b-4ada-bb83-56e659cf9f4d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "257f1b89-7e2b-45be-8947-2b5d8cec52f3",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "6b7ff8dd-ecf2-4622-b130-c2ecb24a3ee0",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "fc79ca18-c238-4a2a-8b64-be016c03debe",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8173e959-3251-494e-bf71-c3e879ef727f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "762dad3f-4dd9-49fb-968e-1e942d52112a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c7195abc-c574-4bd7-ab32-9c2a1561fd37",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "da27c535-c39b-4f5e-8a4a-8b7d5c03503a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b45ef7a7-93f1-4f83-a63a-f671a585ea4a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3f0dc4db-be16-41bf-896a-845ba9d92ae9",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "b45ef7a7-93f1-4f83-a63a-f671a585ea4a",
        "contentUdi": null,
        "settingsKey": "2814734f-e237-4ca6-bca0-2f7e5519fc70",
        "settingsUdi": null
      },
      {
        "contentKey": "129d56a2-bc5b-4ada-bb83-56e659cf9f4d",
        "contentUdi": null,
        "settingsKey": "faf2486b-a07b-4edb-9c58-aa91505c8c30",
        "settingsUdi": null
      },
      {
        "contentKey": "257f1b89-7e2b-45be-8947-2b5d8cec52f3",
        "contentUdi": null,
        "settingsKey": "02760b6e-e27f-41d4-a0e7-ff7b88164648",
        "settingsUdi": null
      },
      {
        "contentKey": "a867a606-cbb5-45ed-ab7b-9d25839efad0",
        "contentUdi": null,
        "settingsKey": "260d0f06-d2b6-43fc-9283-0037caf5b0d9",
        "settingsUdi": null
      },
      {
        "contentKey": "762dad3f-4dd9-49fb-968e-1e942d52112a",
        "contentUdi": null,
        "settingsKey": "4f0fb11f-6ca1-4974-be51-61d741918060",
        "settingsUdi": null
      },
      {
        "contentKey": "6b7ff8dd-ecf2-4622-b130-c2ecb24a3ee0",
        "contentUdi": null,
        "settingsKey": "659fe00f-0bd4-4f4e-8eab-97ffaef402f6",
        "settingsUdi": null
      },
      {
        "contentKey": "fc79ca18-c238-4a2a-8b64-be016c03debe",
        "contentUdi": null,
        "settingsKey": "c604be39-d074-41c2-80ed-dee6c79b70ab",
        "settingsUdi": null
      },
      {
        "contentKey": "3f0dc4db-be16-41bf-896a-845ba9d92ae9",
        "contentUdi": null,
        "settingsKey": "ad8644e4-395b-45c4-b7d8-1452123eefa9",
        "settingsUdi": null
      },
      {
        "contentKey": "8173e959-3251-494e-bf71-c3e879ef727f",
        "contentUdi": null,
        "settingsKey": "b2005822-42db-4085-a561-24feec7ea1fe",
        "settingsUdi": null
      },
      {
        "contentKey": "c7195abc-c574-4bd7-ab32-9c2a1561fd37",
        "contentUdi": null,
        "settingsKey": "47165e25-0484-4685-b026-3451754eb0d5",
        "settingsUdi": null
      },
      {
        "contentKey": "da27c535-c39b-4f5e-8a4a-8b7d5c03503a",
        "contentUdi": null,
        "settingsKey": "3e0b158a-5c24-4850-b503-dbed31ae3da0",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <grid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d8ded14d-00eb-46c2-8c66-29a27fc6b05a",
      "key": "caa81945-ce5d-4a82-93db-57fddefb03ba",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "key": "d1e04a0d-95cb-4279-bb7d-12b9db5f8650",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EPagination can be displayed in a block grid as well as a block list.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "key": "e8c2c979-982c-431d-8134-f924a3742ca1",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch2 class=\u0022govuk-heading-m\u0022\u003EPagination for a single page of items\u003C/h2\u003E\n\u003Cp\u003EPagination should not appear at all when there are not enough items for a second page.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "key": "852a5bed-d7ab-4885-a861-47de9b10446c",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch2 class=\u0022govuk-heading-m\u0022\u003EPagination for a small number of pages\u003C/h2\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "key": "b056fe84-af2a-44b0-9f70-7402e3fa2483",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch2 class=\u0022govuk-heading-m\u0022\u003EPagination for a large number of pages\u003C/h2\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "650d7119-e9cf-4c26-a08c-21cf2ffbbbbc",
      "key": "db7d9cbf-62d9-40c4-b588-d40cd663a3d7",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "key": "deb94213-d4a1-439b-8f8f-5bdad02873c2",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EThis is a sidebar to demonstrate the block grid.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "b8f1e93f-f50d-4a57-8cd1-356ee8d7d284",
      "key": "3f5a25b9-30d3-447d-8c11-2457296d4cea",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "landmarkLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "largeNumberOfPagesThreshold",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "nextPageLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "pageLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "pageSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "previousPageLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "queryStringParameter",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "totalItems",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "key": "22389d5e-449d-44e1-baec-199b595d5d38",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "key": "f2335562-3fca-4616-981e-b9b09ec02e97",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "tpr-pagination-none"
        }
      ]
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "key": "f2035b26-5f57-4a32-a3e7-568101521d45",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "tpr-pagination-small"
        }
      ]
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "key": "ee602ffc-6ac6-4387-8390-41f5190d8f28",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "tpr-pagination-large"
        }
      ]
    },
    {
      "contentTypeKey": "53edb934-ee79-4ff0-b23a-84b91e9fef7a",
      "key": "a5c00026-755a-466b-a3be-0b088c3151af",
      "udi": null,
      "values": [
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "stackColumns",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "key": "66ed72b6-671d-4365-9c31-f253f3eca5c8",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "caa81945-ce5d-4a82-93db-57fddefb03ba",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d1e04a0d-95cb-4279-bb7d-12b9db5f8650",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e8c2c979-982c-431d-8134-f924a3742ca1",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "852a5bed-d7ab-4885-a861-47de9b10446c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b056fe84-af2a-44b0-9f70-7402e3fa2483",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "db7d9cbf-62d9-40c4-b588-d40cd663a3d7",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "deb94213-d4a1-439b-8f8f-5bdad02873c2",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 8,
                "contentKey": "d1e04a0d-95cb-4279-bb7d-12b9db5f8650",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "22389d5e-449d-44e1-baec-199b595d5d38",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 8,
                "contentKey": "e8c2c979-982c-431d-8134-f924a3742ca1",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "f2335562-3fca-4616-981e-b9b09ec02e97",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 8,
                "contentKey": "852a5bed-d7ab-4885-a861-47de9b10446c",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "f2035b26-5f57-4a32-a3e7-568101521d45",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 8,
                "contentKey": "b056fe84-af2a-44b0-9f70-7402e3fa2483",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "ee602ffc-6ac6-4387-8390-41f5190d8f28",
                "settingsUdi": null
              }
            ],
            "key": "e5cccb24-c20d-4159-ac70-c56a67789c57"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 4,
                "contentKey": "deb94213-d4a1-439b-8f8f-5bdad02873c2",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "66ed72b6-671d-4365-9c31-f253f3eca5c8",
                "settingsUdi": null
              }
            ],
            "key": "8ade65b2-a237-44af-a25a-4b7bde0298f9"
          }
        ],
        "columnSpan": 12,
        "contentKey": "db7d9cbf-62d9-40c4-b588-d40cd663a3d7",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "a5c00026-755a-466b-a3be-0b088c3151af",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "caa81945-ce5d-4a82-93db-57fddefb03ba",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "3f5a25b9-30d3-447d-8c11-2457296d4cea",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </grid>
    <headingScaleStart>
      <Value><![CDATA[]]></Value>
    </headingScaleStart>
  </Properties>
</Content>