<?xml version="1.0" encoding="utf-8"?>
<Content Key="25fef9b4-ec6f-45ee-bf73-739358d7adcf" Alias="Radios" Level="2">
  <Info>
    <Parent Key="5e682cbe-b867-491a-955f-3382446d5663">Home</Parent>
    <Path>/Home/Radios</Path>
    <Trashed>false</Trashed>
    <ContentType>radios</ContentType>
    <CreateDate>2022-05-09T14:42:52</CreateDate>
    <NodeName Default="Radios" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ef33294b-4ade-4b3a-ac36-48ab1f276a3a">Radios</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "b84a633b-1ee7-4a5c-80bd-4267420ed133",
      "key": "3abc91dd-d6dc-409e-9f99-9cb614ba14ac",
      "udi": null,
      "values": [
        {
          "alias": "fieldsetBlocks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "40bb2a3e-3d75-4ec1-9134-e0c46c6f04a0",
                "key": "1090e035-08e7-4c29-a9f9-41ae091dbb52",
                "udi": null,
                "values": [
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EYou can add additional help within radio button fieldsets.\u003C/p\u003E"
                    }
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "562c13ba-8543-4932-b448-8dd0d71e67b2",
                "key": "ff48e626-a956-430c-b992-94d92d1df862",
                "udi": null,
                "values": [
                  {
                    "alias": "cssClasses",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  }
                ]
              }
            ],
            "expose": [
              {
                "contentKey": "1090e035-08e7-4c29-a9f9-41ae091dbb52",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "1090e035-08e7-4c29-a9f9-41ae091dbb52",
                  "contentUdi": null,
                  "settingsKey": "ff48e626-a956-430c-b992-94d92d1df862",
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "hint",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EThis set of radio buttons has the legend set as the page heading, which should be used when the radio buttons are the only question on the page.\u003C/p\u003E"
          }
        },
        {
          "alias": "legend",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "{{name}}"
        },
        {
          "alias": "radioButtons",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "d7861a37-8d74-4a8b-85db-016ea1323b9f",
                "key": "1a02f689-4fd3-4782-b93d-96fd0892e4fc",
                "udi": null,
                "values": [
                  {
                    "alias": "conditionalBlocks",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "contentData": [
                        {
                          "contentTypeKey": "fe2dd0de-55a9-4249-be03-6896aa719974",
                          "key": "87a0881d-7081-44f9-b745-95dd168546db",
                          "udi": null,
                          "values": [
                            {
                              "alias": "hint",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": ""
                            },
                            {
                              "alias": "label",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "Answer this related question"
                            }
                          ]
                        }
                      ],
                      "settingsData": [
                        {
                          "contentTypeKey": "98070ce9-d528-4bfc-bd90-e411e5110f56",
                          "key": "026cc30d-296e-4711-b20d-4e5ee3ed5b81",
                          "udi": null,
                          "values": [
                            {
                              "alias": "columnSize",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": [
                                "full"
                              ]
                            },
                            {
                              "alias": "columnSizeFromDesktop",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": ""
                            },
                            {
                              "alias": "errorMessageRegex",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "The related question must be numbers only"
                            },
                            {
                              "alias": "errorMessageRequired",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "Answer this related question is required"
                            },
                            {
                              "alias": "labelIsPageHeading",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "0"
                            },
                            {
                              "alias": "modelProperty",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "Field2"
                            },
                            {
                              "alias": "readOnly",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "0"
                            },
                            {
                              "alias": "textInputWidth",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": ""
                            }
                          ]
                        }
                      ],
                      "expose": [
                        {
                          "contentKey": "87a0881d-7081-44f9-b745-95dd168546db",
                          "culture": null,
                          "segment": null
                        }
                      ],
                      "Layout": {
                        "Umbraco.BlockList": [
                          {
                            "contentKey": "87a0881d-7081-44f9-b745-95dd168546db",
                            "contentUdi": null,
                            "settingsKey": "026cc30d-296e-4711-b20d-4e5ee3ed5b81",
                            "settingsUdi": null
                          }
                        ]
                      }
                    }
                  },
                  {
                    "alias": "hint",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Item 1 (reveals related question)"
                  },
                  {
                    "alias": "value",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "d7861a37-8d74-4a8b-85db-016ea1323b9f",
                "key": "5a4945a3-cb5a-4552-88a3-79629d02d0e3",
                "udi": null,
                "values": [
                  {
                    "alias": "conditionalBlocks",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "hint",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EOptional hint text\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Item 2"
                  },
                  {
                    "alias": "value",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "2"
                  }
                ]
              },
              {
                "contentTypeKey": "d7861a37-8d74-4a8b-85db-016ea1323b9f",
                "key": "1b062e73-ac60-41cd-9850-09b907082d57",
                "udi": null,
                "values": [
                  {
                    "alias": "conditionalBlocks",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "hint",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Item 3"
                  },
                  {
                    "alias": "value",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "3"
                  }
                ]
              },
              {
                "contentTypeKey": "5bbc1a49-49b7-4119-b6ad-c113226d92e0",
                "key": "04c4f401-481d-49ee-ad56-ad0d6df2c515",
                "udi": null,
                "values": [
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "1a84595b-3f9d-49ba-a3c0-ee82a547fb7f",
                "key": "ecefbf10-2eeb-41fb-8606-44c4f6eb1a6f",
                "udi": null,
                "values": [
                  {
                    "alias": "cssClasses",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  }
                ]
              },
              {
                "contentTypeKey": "1a84595b-3f9d-49ba-a3c0-ee82a547fb7f",
                "key": "b808d428-0ab7-49b9-aaab-87c394b92d10",
                "udi": null,
                "values": [
                  {
                    "alias": "cssClasses",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  }
                ]
              },
              {
                "contentTypeKey": "1a84595b-3f9d-49ba-a3c0-ee82a547fb7f",
                "key": "965505c1-364c-46c9-88d0-c730a7634b11",
                "udi": null,
                "values": [
                  {
                    "alias": "cssClasses",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  }
                ]
              }
            ],
            "expose": [
              {
                "contentKey": "1a02f689-4fd3-4782-b93d-96fd0892e4fc",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "5a4945a3-cb5a-4552-88a3-79629d02d0e3",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "1b062e73-ac60-41cd-9850-09b907082d57",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "04c4f401-481d-49ee-ad56-ad0d6df2c515",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "1a02f689-4fd3-4782-b93d-96fd0892e4fc",
                  "contentUdi": null,
                  "settingsKey": "ecefbf10-2eeb-41fb-8606-44c4f6eb1a6f",
                  "settingsUdi": null
                },
                {
                  "contentKey": "5a4945a3-cb5a-4552-88a3-79629d02d0e3",
                  "contentUdi": null,
                  "settingsKey": "b808d428-0ab7-49b9-aaab-87c394b92d10",
                  "settingsUdi": null
                },
                {
                  "contentKey": "04c4f401-481d-49ee-ad56-ad0d6df2c515",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "1b062e73-ac60-41cd-9850-09b907082d57",
                  "contentUdi": null,
                  "settingsKey": "965505c1-364c-46c9-88d0-c730a7634b11",
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "key": "390ff70d-0a93-46c3-bf29-9631d98b2d0f",
      "udi": null,
      "values": [
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Example application in Umbraco"
        }
      ]
    },
    {
      "contentTypeKey": "35584ae7-feb5-4de8-9008-5d2d8cfb34ce",
      "key": "68f69577-936f-46f5-bd80-8b14629f1096",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Submit"
        }
      ]
    },
    {
      "contentTypeKey": "7b79c9f1-4f4d-4c9b-915e-8f364bc86830",
      "key": "a9b174f2-3101-4d48-a342-f0179c1ef8c5",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "b84a633b-1ee7-4a5c-80bd-4267420ed133",
      "key": "234e3f37-50a5-4f60-a6a5-115f333c357a",
      "udi": null,
      "values": [
        {
          "alias": "fieldsetBlocks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "hint",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EThis is the hint\u003C/p\u003E"
          }
        },
        {
          "alias": "legend",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "More radios, but the legend is not the page heading"
        },
        {
          "alias": "radioButtons",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "d7861a37-8d74-4a8b-85db-016ea1323b9f",
                "key": "8ba28fd7-e1ec-48e8-a367-bd82d1ace2cb",
                "udi": null,
                "values": [
                  {
                    "alias": "conditionalBlocks",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "hint",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Item 1"
                  },
                  {
                    "alias": "value",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "d7861a37-8d74-4a8b-85db-016ea1323b9f",
                "key": "b357bc71-1b26-47f9-b5b9-9fa549076b15",
                "udi": null,
                "values": [
                  {
                    "alias": "conditionalBlocks",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "hint",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EOptional hint text\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Item 2"
                  },
                  {
                    "alias": "value",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "2"
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "1a84595b-3f9d-49ba-a3c0-ee82a547fb7f",
                "key": "8950b1f4-c5e3-45c9-9466-8eaa8cc15f08",
                "udi": null,
                "values": []
              },
              {
                "contentTypeKey": "1a84595b-3f9d-49ba-a3c0-ee82a547fb7f",
                "key": "993f9bb6-f5e1-46ab-b2b2-1b742d353a3d",
                "udi": null,
                "values": [
                  {
                    "alias": "cssClasses",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  }
                ]
              }
            ],
            "expose": [
              {
                "contentKey": "8ba28fd7-e1ec-48e8-a367-bd82d1ace2cb",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "b357bc71-1b26-47f9-b5b9-9fa549076b15",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "8ba28fd7-e1ec-48e8-a367-bd82d1ace2cb",
                  "contentUdi": null,
                  "settingsKey": "8950b1f4-c5e3-45c9-9466-8eaa8cc15f08",
                  "settingsUdi": null
                },
                {
                  "contentKey": "b357bc71-1b26-47f9-b5b9-9fa549076b15",
                  "contentUdi": null,
                  "settingsKey": "993f9bb6-f5e1-46ab-b2b2-1b742d353a3d",
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "40da6b15-489b-4249-854a-56954e5917e1",
      "key": "4497df38-f273-4fd2-9741-75dde894d2a3",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "customError1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "customError2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "customError3",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "errorMessageRequired",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "This radio button field is required"
        },
        {
          "alias": "layout",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "legendIsPageHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "modelProperty",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Field1"
        }
      ]
    },
    {
      "contentTypeKey": "e683e885-8aa0-4bdd-9eff-56966f353540",
      "key": "3b1cf718-1b09-489e-b212-63f8bedd36ee",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "disabled",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "modelProperty",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "preventDoubleClick",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "styleOfButton",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "typeOfButton",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "ec4a6e3f-a6a8-4c8a-9d4c-d3e90399ac2c",
      "key": "c373d25a-d7fb-45f7-a727-69408e64f849",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "key": "8b80aa5e-33e2-4993-8886-21a709751752",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "40da6b15-489b-4249-854a-56954e5917e1",
      "key": "d27fefd8-bfab-4fc2-84b4-b74df9c091e6",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "full"
          ]
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "govuk-grid-row--tpr-divider"
        },
        {
          "alias": "customError1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "customError2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "customError3",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "errorMessageRequired",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "This radio button field is required"
        },
        {
          "alias": "layout",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "legendIsPageHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "modelProperty",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Field3"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "3abc91dd-d6dc-409e-9f99-9cb614ba14ac",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "390ff70d-0a93-46c3-bf29-9631d98b2d0f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "68f69577-936f-46f5-bd80-8b14629f1096",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a9b174f2-3101-4d48-a342-f0179c1ef8c5",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "234e3f37-50a5-4f60-a6a5-115f333c357a",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "a9b174f2-3101-4d48-a342-f0179c1ef8c5",
        "contentUdi": null,
        "settingsKey": "c373d25a-d7fb-45f7-a727-69408e64f849",
        "settingsUdi": null
      },
      {
        "contentKey": "390ff70d-0a93-46c3-bf29-9631d98b2d0f",
        "contentUdi": null,
        "settingsKey": "8b80aa5e-33e2-4993-8886-21a709751752",
        "settingsUdi": null
      },
      {
        "contentKey": "3abc91dd-d6dc-409e-9f99-9cb614ba14ac",
        "contentUdi": null,
        "settingsKey": "4497df38-f273-4fd2-9741-75dde894d2a3",
        "settingsUdi": null
      },
      {
        "contentKey": "234e3f37-50a5-4f60-a6a5-115f333c357a",
        "contentUdi": null,
        "settingsKey": "d27fefd8-bfab-4fc2-84b4-b74df9c091e6",
        "settingsUdi": null
      },
      {
        "contentKey": "68f69577-936f-46f5-bd80-8b14629f1096",
        "contentUdi": null,
        "settingsKey": "3b1cf718-1b09-489e-b212-63f8bedd36ee",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <headingScaleStart>
      <Value><![CDATA[]]></Value>
    </headingScaleStart>
    <nextPage>
      <Value><![CDATA[umb://document/7ebf39a4dbdd454b92e46e544af2a411]]></Value>
    </nextPage>
  </Properties>
</Content>