<?xml version="1.0" encoding="utf-8"?>
<Content Key="391ca010-6c1f-413d-9b66-d7544c9d7476" Alias="Section cards child page 2" Level="3">
  <Info>
    <Parent Key="ba8e8ade-c4f2-4c58-9087-dcc5d79f168d">Section cards</Parent>
    <Path>/Home/SectionCards/SectionCardsChildPage2</Path>
    <Trashed>false</Trashed>
    <ContentType>sectionCards</ContentType>
    <CreateDate>2025-01-28T16:45:12</CreateDate>
    <NodeName Default="Section cards child page 2">
      <Name Culture="en-GB">Section cards child page 2</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-GB">true</Published>
    </Published>
    <Schedule />
    <Template Key="d4325660-a68b-4eea-bfd2-106c3db9bb8d">SectionCards</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet nisi quis enim porttitor, vitae hendrerit sem dignissim. Sed a viverra nulla. Nunc congue fermentum auctor. Proin posuere ultricies turpis. Vivamus vehicula egestas sem, id tempor ligula maximus egestas.]]></Value>
    </description>
    <govukBlocks>
      <Value Culture="en-GB"><![CDATA[]]></Value>
    </govukBlocks>
    <gridBlocks>
      <Value Culture="en-GB"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "key": "38f27028-3f18-4409-b033-bac5c6fa6c48",
      "udi": null,
      "values": [
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Example application in Umbraco"
        }
      ]
    },
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "key": "ba34f2e9-536b-48ed-9319-6776e6d63c42",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "key": "4e35f47b-3df6-4ecd-9a63-eb4281c59758",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EThis is a child of the section cards page, which is set to generate a card automatically for every child page.\u003C/p\u003E\n\u003Cp\u003EA card will not be generated for this page because it has \u0027Hide this page from the section cards component\u0027 selected on the Settings tab, which sets the \u003Cem\u003EumbracoNaviHide\u003C/em\u003E property to true.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "key": "b58f5c1d-2ccb-498d-9f76-afac00944816",
      "udi": null,
      "values": [
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "key": "51ce6c57-0cbc-4de4-bb03-4399a9a30ae6",
      "udi": null,
      "values": [
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "key": "4f4baa50-a245-41f8-96ca-c2e3aaa19d4f",
      "udi": null,
      "values": [
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "38f27028-3f18-4409-b033-bac5c6fa6c48",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ba34f2e9-536b-48ed-9319-6776e6d63c42",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4e35f47b-3df6-4ecd-9a63-eb4281c59758",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "38f27028-3f18-4409-b033-bac5c6fa6c48",
        "contentUdi": "umb://element/38f270283f184409b033bac5c6fa6c48",
        "rowSpan": 1,
        "settingsKey": "b58f5c1d-2ccb-498d-9f76-afac00944816",
        "settingsUdi": "umb://element/b58f5c1d2ccb498d9f76afac00944816"
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "ba34f2e9-536b-48ed-9319-6776e6d63c42",
        "contentUdi": "umb://element/ba34f2e9536b48ed93196776e6d63c42",
        "rowSpan": 1,
        "settingsKey": "51ce6c57-0cbc-4de4-bb03-4399a9a30ae6",
        "settingsUdi": "umb://element/51ce6c570cbc4de4bb034399a9a30ae6"
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "4e35f47b-3df6-4ecd-9a63-eb4281c59758",
        "contentUdi": "umb://element/4e35f47b3df64ecd9a63eb4281c59758",
        "rowSpan": 1,
        "settingsKey": "4f4baa50-a245-41f8-96ca-c2e3aaa19d4f",
        "settingsUdi": "umb://element/4f4baa50a24541f896cac2e3aaa19d4f"
      }
    ]
  }
}]]></Value>
    </gridBlocks>
    <headingScaleStart>
      <Value><![CDATA[]]></Value>
    </headingScaleStart>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
    <umbracoUrlName>
      <Value Culture="en-GB"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>