<?xml version="1.0" encoding="utf-8"?>
<Content Key="57514668-ba8d-476f-9710-24668d57fd99" Alias="Section cards child page 1" Level="3">
  <Info>
    <Parent Key="ba8e8ade-c4f2-4c58-9087-dcc5d79f168d">Section cards</Parent>
    <Path>/Home/SectionCards/SectionCardsChildPage1</Path>
    <Trashed>false</Trashed>
    <ContentType>sectionCards</ContentType>
    <CreateDate>2025-01-28T16:41:08</CreateDate>
    <NodeName Default="Section cards child page 1">
      <Name Culture="en-GB">Section cards child page 1</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-GB">true</Published>
    </Published>
    <Schedule />
    <Template Key="d4325660-a68b-4eea-bfd2-106c3db9bb8d">SectionCards</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet nisi quis enim porttitor, vitae hendrerit sem dignissim. Sed a viverra nulla. Nunc congue fermentum auctor. Proin posuere ultricies turpis. Vivamus vehicula egestas sem, id tempor ligula maximus egestas.]]></Value>
    </description>
    <govukBlocks>
      <Value Culture="en-GB"><![CDATA[]]></Value>
    </govukBlocks>
    <gridBlocks>
      <Value Culture="en-GB"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "key": "b7c25d94-bc7a-465a-b11c-85eb5ae38bdc",
      "udi": null,
      "values": [
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Example application in Umbraco"
        }
      ]
    },
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "key": "4ce0e150-d6be-40ce-81a0-1c3fc73d7e99",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "key": "bf703f6e-33b3-4c65-8963-2e14be4288a7",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EThis is a child of the section cards page, which is set to generate a card automatically for this and every other child page.\u003C/p\u003E\n\u003Cp\u003EThe description shown in the section card is from the\u0026nbsp;\u003Cem\u003Edescription\u003C/em\u003E property on the Settings tab of this page, not from the main page content.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "key": "0199e4ba-d599-4f36-86bc-12e335b039d4",
      "udi": null,
      "values": [
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "key": "93aee7b0-c7bd-4c08-bac7-12de2aef8a0c",
      "udi": null,
      "values": [
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "key": "f8c569ad-a85c-4949-87b5-b1684ca4543e",
      "udi": null,
      "values": [
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "b7c25d94-bc7a-465a-b11c-85eb5ae38bdc",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4ce0e150-d6be-40ce-81a0-1c3fc73d7e99",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "bf703f6e-33b3-4c65-8963-2e14be4288a7",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "b7c25d94-bc7a-465a-b11c-85eb5ae38bdc",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "0199e4ba-d599-4f36-86bc-12e335b039d4",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "4ce0e150-d6be-40ce-81a0-1c3fc73d7e99",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "93aee7b0-c7bd-4c08-bac7-12de2aef8a0c",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "bf703f6e-33b3-4c65-8963-2e14be4288a7",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "f8c569ad-a85c-4949-87b5-b1684ca4543e",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </gridBlocks>
    <headingScaleStart>
      <Value><![CDATA[]]></Value>
    </headingScaleStart>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlName>
      <Value Culture="en-GB"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>