<?xml version="1.0" encoding="utf-8"?>
<Content Key="f3f20d48-8330-4384-9a56-49504200791e" Alias="Side navigation" Level="2">
  <Info>
    <Parent Key="5e682cbe-b867-491a-955f-3382446d5663">Home</Parent>
    <Path>/Home/SideNavigation</Path>
    <Trashed>false</Trashed>
    <ContentType>sideNavigation</ContentType>
    <CreateDate>2025-07-08T12:13:26</CreateDate>
    <NodeName Default="Side navigation" />
    <SortOrder>36</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="586b1ce1-f3ba-460e-bcb4-ca855badae35">SideNavigation</Template>
  </Info>
  <Properties>
    <grid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "key": "d51f07a6-b921-4e73-b671-e30426deddb6",
      "udi": null,
      "values": [
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Example application in Umbraco"
        }
      ]
    },
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "key": "0d38289e-a5e6-4be2-959b-2ed9616091d4",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Side navigation"
        }
      ]
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "key": "09fbe8df-cb0c-4078-8ec8-f155e9e6230e",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EThis view component allows you to display an expanded side navigation menu. It uses the current page you are on combined with the root navigation node that you have inputted in order to expand the path through the menu that has been taken as well as any children of the current page you are on.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "key": "9f924a04-3be0-4e9f-964f-165266049f46",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "full"
          ]
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "key": "a9016d7c-5e10-426a-af5c-d5c4ece01dcc",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "full"
          ]
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "key": "1431dc7f-1c6d-4f5c-a858-08a6cacbdb5c",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "full"
          ]
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "d51f07a6-b921-4e73-b671-e30426deddb6",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "0d38289e-a5e6-4be2-959b-2ed9616091d4",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "09fbe8df-cb0c-4078-8ec8-f155e9e6230e",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "d51f07a6-b921-4e73-b671-e30426deddb6",
        "contentUdi": "umb://element/d51f07a6b9214e73b671e30426deddb6",
        "rowSpan": 1,
        "settingsKey": "9f924a04-3be0-4e9f-964f-165266049f46",
        "settingsUdi": "umb://element/9f924a043be04e9f964f165266049f46"
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "0d38289e-a5e6-4be2-959b-2ed9616091d4",
        "contentUdi": "umb://element/0d38289ea5e64be2959b2ed9616091d4",
        "rowSpan": 1,
        "settingsKey": "a9016d7c-5e10-426a-af5c-d5c4ece01dcc",
        "settingsUdi": "umb://element/a9016d7c5e10426aaf5cd5c4ece01dcc"
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "09fbe8df-cb0c-4078-8ec8-f155e9e6230e",
        "contentUdi": "umb://element/09fbe8dfcb0c40788ec8f155e9e6230e",
        "rowSpan": 1,
        "settingsKey": "1431dc7f-1c6d-4f5c-a858-08a6cacbdb5c",
        "settingsUdi": "umb://element/1431dc7f1c6d4f5ca85808a6cacbdb5c"
      }
    ]
  }
}]]></Value>
    </grid>
  </Properties>
</Content>