<?xml version="1.0" encoding="utf-8"?>
<Content Key="7934d717-5537-425a-a358-e720c1494f82" Alias="Side navigation great grandchild 4" Level="5">
  <Info>
    <Parent Key="d908cc29-9d17-4379-a137-b43aa77acb68">Side navigation grandchild 4</Parent>
    <Path>/Home/SideNavigation/SideNavigationChild4/SideNavigationGrandchild4/SideNavigationGreatGrandchild4</Path>
    <Trashed>false</Trashed>
    <ContentType>sideNavigation</ContentType>
    <CreateDate>2025-09-04T16:58:12</CreateDate>
    <NodeName Default="Side navigation great grandchild 4" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="586b1ce1-f3ba-460e-bcb4-ca855badae35">SideNavigation</Template>
  </Info>
  <Properties>
    <govukBlocks>
      <Value><![CDATA[]]></Value>
    </govukBlocks>
    <grid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "key": "24cca493-606c-46c7-a858-01bfc917eab2",
      "udi": null,
      "values": [
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Example application in Umbraco"
        }
      ]
    },
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "key": "74d4bdcd-70dd-4ca6-b8f5-cdc206bafeec",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "key": "43007028-6ec5-466b-850e-201a707c27b2",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EThis view component allows you to display an expanded side navigation menu. It uses the current page you are on combined with the root navigation node that you have inputted in order to expand the path through the menu that has been taken as well as any children of the current page you are on.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "key": "7fe872f4-d0cc-46c2-979b-41738ab95422",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "full"
          ]
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "key": "1ba639f8-ae39-4f3d-868e-27e958b070dd",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "full"
          ]
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "key": "787680bc-934d-412d-8a12-059435e2fd53",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "full"
          ]
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "24cca493-606c-46c7-a858-01bfc917eab2",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "74d4bdcd-70dd-4ca6-b8f5-cdc206bafeec",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "43007028-6ec5-466b-850e-201a707c27b2",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "24cca493-606c-46c7-a858-01bfc917eab2",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "7fe872f4-d0cc-46c2-979b-41738ab95422",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "74d4bdcd-70dd-4ca6-b8f5-cdc206bafeec",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "1ba639f8-ae39-4f3d-868e-27e958b070dd",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "43007028-6ec5-466b-850e-201a707c27b2",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "787680bc-934d-412d-8a12-059435e2fd53",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </grid>
  </Properties>
</Content>