<?xml version="1.0" encoding="utf-8"?>
<Content Key="f3f20d48-8330-4384-9a56-49504200791e" Alias="Side navigation" Level="2">
  <Info>
    <Parent Key="5e682cbe-b867-491a-955f-3382446d5663">Home</Parent>
    <Path>/Home/SideNavigation</Path>
    <Trashed>false</Trashed>
    <ContentType>sideNavigation</ContentType>
    <CreateDate>2025-07-08T12:13:26</CreateDate>
    <NodeName Default="Side navigation" />
    <SortOrder>36</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="586b1ce1-f3ba-460e-bcb4-ca855badae35">SideNavigation</Template>
  </Info>
  <Properties>
    <govukBlocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "key": "208c1c0d-e43d-449a-9fed-088f2a6dca1d",
      "udi": null,
      "values": [
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Example application in Umbraco"
        }
      ]
    },
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "key": "314c7064-6cd3-4fea-a7fc-0d5defba73be",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "key": "efd15165-7f14-46d6-8b2b-522b288350e2",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EThis is a TPR component and you have switched off TPR styles in appsettings.json to return to GOV.UK styling, so there is nothing to see on this page.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "key": "e588bc97-91fe-4f90-a11d-a5b811fd31d6",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "key": "dfb54024-083e-49bd-ba14-4b0b4198bdd5",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "key": "44188683-4571-4718-ad38-85a5329c9cdd",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "208c1c0d-e43d-449a-9fed-088f2a6dca1d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "314c7064-6cd3-4fea-a7fc-0d5defba73be",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "efd15165-7f14-46d6-8b2b-522b288350e2",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "208c1c0d-e43d-449a-9fed-088f2a6dca1d",
        "contentUdi": null,
        "settingsKey": "e588bc97-91fe-4f90-a11d-a5b811fd31d6",
        "settingsUdi": null
      },
      {
        "contentKey": "314c7064-6cd3-4fea-a7fc-0d5defba73be",
        "contentUdi": null,
        "settingsKey": "dfb54024-083e-49bd-ba14-4b0b4198bdd5",
        "settingsUdi": null
      },
      {
        "contentKey": "efd15165-7f14-46d6-8b2b-522b288350e2",
        "contentUdi": null,
        "settingsKey": "44188683-4571-4718-ad38-85a5329c9cdd",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </govukBlocks>
    <grid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "key": "d51f07a6-b921-4e73-b671-e30426deddb6",
      "udi": null,
      "values": [
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Example application in Umbraco"
        }
      ]
    },
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "key": "0d38289e-a5e6-4be2-959b-2ed9616091d4",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Side navigation"
        }
      ]
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "key": "09fbe8df-cb0c-4078-8ec8-f155e9e6230e",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EThis view component allows you to display an expanded side navigation menu. It uses the current page you are on combined with the root navigation node that you have inputted in order to expand the path through the menu that has been taken as well as any children of the current page you are on.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "key": "9f924a04-3be0-4e9f-964f-165266049f46",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "full"
          ]
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "key": "a9016d7c-5e10-426a-af5c-d5c4ece01dcc",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "full"
          ]
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "key": "1431dc7f-1c6d-4f5c-a858-08a6cacbdb5c",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "full"
          ]
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "d51f07a6-b921-4e73-b671-e30426deddb6",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "0d38289e-a5e6-4be2-959b-2ed9616091d4",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "09fbe8df-cb0c-4078-8ec8-f155e9e6230e",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "d51f07a6-b921-4e73-b671-e30426deddb6",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "9f924a04-3be0-4e9f-964f-165266049f46",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "0d38289e-a5e6-4be2-959b-2ed9616091d4",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "a9016d7c-5e10-426a-af5c-d5c4ece01dcc",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "09fbe8df-cb0c-4078-8ec8-f155e9e6230e",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "1431dc7f-1c6d-4f5c-a858-08a6cacbdb5c",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </grid>
  </Properties>
</Content>