<?xml version="1.0" encoding="utf-8"?>
<Content Key="95b091e6-5f69-4798-bce2-27457e9dee14" Alias="Side navigation grandchild 3" Level="4">
  <Info>
    <Parent Key="1e567908-35ae-4909-8f22-937fdf367e57">Side navigation child 4</Parent>
    <Path>/Home/SideNavigation/SideNavigationChild4/SideNavigationGrandchild3</Path>
    <Trashed>false</Trashed>
    <ContentType>sideNavigation</ContentType>
    <CreateDate>2025-09-04T16:58:12</CreateDate>
    <NodeName Default="Side navigation grandchild 3" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="586b1ce1-f3ba-460e-bcb4-ca855badae35">SideNavigation</Template>
  </Info>
  <Properties>
    <govukBlocks>
      <Value><![CDATA[]]></Value>
    </govukBlocks>
    <grid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "key": "41cf135f-c955-4383-8810-cf3abc62d0ba",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "key": "74206dd2-3840-442a-b355-b9f0feeb9be4",
      "udi": null,
      "values": [
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Example application in Umbraco"
        }
      ]
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "key": "3a931d9b-44a2-4cc2-ac9a-a7a04dd383fb",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EThis view component allows you to display an expanded side navigation menu. It uses the current page you are on combined with the root navigation node that you have inputted in order to expand the path through the menu that has been taken as well as any children of the current page you are on.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "key": "18c458e5-6a5b-41d6-8efb-0ae62b343b8f",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "full"
          ]
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "key": "1758c032-f2e1-40fd-aef3-3bc6e60e708f",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "full"
          ]
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "key": "91a73201-e6e4-47c4-9b98-fdc709cea918",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "full"
          ]
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "41cf135f-c955-4383-8810-cf3abc62d0ba",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "74206dd2-3840-442a-b355-b9f0feeb9be4",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3a931d9b-44a2-4cc2-ac9a-a7a04dd383fb",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "74206dd2-3840-442a-b355-b9f0feeb9be4",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "1758c032-f2e1-40fd-aef3-3bc6e60e708f",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "41cf135f-c955-4383-8810-cf3abc62d0ba",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "18c458e5-6a5b-41d6-8efb-0ae62b343b8f",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "3a931d9b-44a2-4cc2-ac9a-a7a04dd383fb",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "91a73201-e6e4-47c4-9b98-fdc709cea918",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </grid>
  </Properties>
</Content>