<?xml version="1.0" encoding="utf-8"?>
<Content Key="71938c6c-3848-4520-823e-6df35a7e6ac1" Alias="Summary card" Level="2">
  <Info>
    <Parent Key="5e682cbe-b867-491a-955f-3382446d5663">Home</Parent>
    <Path>/Home/SummaryCard</Path>
    <Trashed>false</Trashed>
    <ContentType>summaryCard</ContentType>
    <CreateDate>2023-03-14T12:11:29</CreateDate>
    <NodeName Default="Summary card" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3185ec6b-464e-4df1-b590-6ffd8d2ef1af">SummaryCard</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "key": "dc983be4-a204-488b-98d9-2ee45e334415",
      "udi": null,
      "values": [
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Example application in Umbraco"
        }
      ]
    },
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "key": "9bb37db6-8244-47fb-8b93-5105eefc2a88",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "583467e1-4f8f-46ed-b8e8-b9bf69e9f65d",
      "key": "c8ed1223-0e2d-476d-bb5c-a8abaafcddf0",
      "udi": null,
      "values": [
        {
          "alias": "cardActions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "e0ea9dcf-0be7-49af-8ad5-b3b4a947c0b0",
                "key": "4b9b6dc2-e7c7-47af-bc12-9ef1c9f9e6f3",
                "udi": null,
                "values": [
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "/",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": "umb://document/5e682cbeb867491a955f3382446d5663",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Change"
                  }
                ]
              },
              {
                "contentTypeKey": "e0ea9dcf-0be7-49af-8ad5-b3b4a947c0b0",
                "key": "85817150-348b-4f61-be3b-6f58311ac0da",
                "udi": null,
                "values": [
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "/",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": "umb://document/5e682cbeb867491a955f3382446d5663",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Remove"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "4b9b6dc2-e7c7-47af-bc12-9ef1c9f9e6f3",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "85817150-348b-4f61-be3b-6f58311ac0da",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "4b9b6dc2-e7c7-47af-bc12-9ef1c9f9e6f3",
                  "contentUdi": "umb://element/4b9b6dc2e7c747afbc129ef1c9f9e6f3",
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "85817150-348b-4f61-be3b-6f58311ac0da",
                  "contentUdi": "umb://element/85817150348b4f61be3b6f58311ac0da",
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "cardTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Card with actions"
        },
        {
          "alias": "summaryListItems",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "4e3c68a7-d651-4898-b1e3-e8f29a9ffe48",
                "key": "27f3bf00-7351-4ceb-87ea-16e734f64c75",
                "udi": null,
                "values": [
                  {
                    "alias": "actions",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "itemKey",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Name"
                  },
                  {
                    "alias": "itemValue",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003ESarah Philips\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "4e3c68a7-d651-4898-b1e3-e8f29a9ffe48",
                "key": "a484fbcf-436a-4b78-8b1f-b8a9b144ac90",
                "udi": null,
                "values": [
                  {
                    "alias": "actions",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "itemKey",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Address"
                  },
                  {
                    "alias": "itemValue",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E72 Guild Street\u003Cbr /\u003ELondon\u003Cbr /\u003ESE23 6FH\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "4e3c68a7-d651-4898-b1e3-e8f29a9ffe48",
                "key": "847e035e-b848-4494-923c-e2390d0cbec4",
                "udi": null,
                "values": [
                  {
                    "alias": "actions",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "itemKey",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Date of birth"
                  },
                  {
                    "alias": "itemValue",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E5 January 1978\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "4e3c68a7-d651-4898-b1e3-e8f29a9ffe48",
                "key": "badcea45-ea78-471c-9e4a-c523ebf65ffb",
                "udi": null,
                "values": [
                  {
                    "alias": "actions",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "itemKey",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Contact details"
                  },
                  {
                    "alias": "itemValue",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp class=\u0022govuk-body\u0022\u003E07700 900457\u003C/p\u003E\n\u003Cp class=\u0022govuk-body\u0022\u003Esarah.phillips@example.com\u003C/p\u003E"
                    }
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "18d06fa1-27bf-4f86-bc9d-b0a339512ca1",
                "key": "0a98e8e6-5094-4fe6-b4fb-addd351dfbaf",
                "udi": null,
                "values": [
                  {
                    "alias": "cssClasses",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "full-name"
                  }
                ]
              },
              {
                "contentTypeKey": "18d06fa1-27bf-4f86-bc9d-b0a339512ca1",
                "key": "06b83246-ee43-475f-aa4f-c74c042fff8d",
                "udi": null,
                "values": []
              },
              {
                "contentTypeKey": "18d06fa1-27bf-4f86-bc9d-b0a339512ca1",
                "key": "40aa12c5-ab67-47d5-b1ae-ffd8116f10d4",
                "udi": null,
                "values": []
              },
              {
                "contentTypeKey": "18d06fa1-27bf-4f86-bc9d-b0a339512ca1",
                "key": "068e018c-66ab-4ced-8f52-c50f247c076b",
                "udi": null,
                "values": []
              }
            ],
            "expose": [
              {
                "contentKey": "27f3bf00-7351-4ceb-87ea-16e734f64c75",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "a484fbcf-436a-4b78-8b1f-b8a9b144ac90",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "847e035e-b848-4494-923c-e2390d0cbec4",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "badcea45-ea78-471c-9e4a-c523ebf65ffb",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "27f3bf00-7351-4ceb-87ea-16e734f64c75",
                  "contentUdi": "umb://element/27f3bf0073514ceb87ea16e734f64c75",
                  "settingsKey": "0a98e8e6-5094-4fe6-b4fb-addd351dfbaf",
                  "settingsUdi": "umb://element/0a98e8e650944fe6b4fbaddd351dfbaf"
                },
                {
                  "contentKey": "847e035e-b848-4494-923c-e2390d0cbec4",
                  "contentUdi": "umb://element/847e035eb8484494923ce2390d0cbec4",
                  "settingsKey": "40aa12c5-ab67-47d5-b1ae-ffd8116f10d4",
                  "settingsUdi": "umb://element/40aa12c5ab6747d5b1aeffd8116f10d4"
                },
                {
                  "contentKey": "a484fbcf-436a-4b78-8b1f-b8a9b144ac90",
                  "contentUdi": "umb://element/a484fbcf436a4b788b1fb8a9b144ac90",
                  "settingsKey": "06b83246-ee43-475f-aa4f-c74c042fff8d",
                  "settingsUdi": "umb://element/06b83246ee43475faa4fc74c042fff8d"
                },
                {
                  "contentKey": "badcea45-ea78-471c-9e4a-c523ebf65ffb",
                  "contentUdi": "umb://element/badcea45ea78471c9e4ac523ebf65ffb",
                  "settingsKey": "068e018c-66ab-4ced-8f52-c50f247c076b",
                  "settingsUdi": "umb://element/068e018c66ab4ced8f52c50f247c076b"
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "583467e1-4f8f-46ed-b8e8-b9bf69e9f65d",
      "key": "4c8401ea-89e4-4a4b-b937-07a4970e058d",
      "udi": null,
      "values": [
        {
          "alias": "cardActions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cardTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Card without actions"
        },
        {
          "alias": "summaryListItems",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "4e3c68a7-d651-4898-b1e3-e8f29a9ffe48",
                "key": "60975533-5d6c-4784-978d-1b544b758e5b",
                "udi": null,
                "values": [
                  {
                    "alias": "actions",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "itemKey",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Name"
                  },
                  {
                    "alias": "itemValue",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003ESarah Philips\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "4e3c68a7-d651-4898-b1e3-e8f29a9ffe48",
                "key": "f72081b6-1d85-4cbe-a8cc-b6e5241d8bdc",
                "udi": null,
                "values": [
                  {
                    "alias": "actions",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "itemKey",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Address"
                  },
                  {
                    "alias": "itemValue",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E72 Guild Street\u003Cbr /\u003ELondon\u003Cbr /\u003ESE23 6FH\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "4e3c68a7-d651-4898-b1e3-e8f29a9ffe48",
                "key": "eadf54f0-cc17-4dde-99f8-eb8fc78c7d83",
                "udi": null,
                "values": [
                  {
                    "alias": "actions",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "itemKey",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Date of birth"
                  },
                  {
                    "alias": "itemValue",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E5 January 1978\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "4e3c68a7-d651-4898-b1e3-e8f29a9ffe48",
                "key": "e76cf800-e72d-43d0-a77f-ed2564d89cb6",
                "udi": null,
                "values": [
                  {
                    "alias": "actions",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "itemKey",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Contact details"
                  },
                  {
                    "alias": "itemValue",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp class=\u0022govuk-body\u0022\u003E07700 900457\u003C/p\u003E\n\u003Cp class=\u0022govuk-body\u0022\u003Esarah.phillips@example.com\u003C/p\u003E"
                    }
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "18d06fa1-27bf-4f86-bc9d-b0a339512ca1",
                "key": "bb3e99b7-5908-43c8-8ff0-716f9e645d44",
                "udi": null,
                "values": [
                  {
                    "alias": "cssClasses",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  }
                ]
              },
              {
                "contentTypeKey": "18d06fa1-27bf-4f86-bc9d-b0a339512ca1",
                "key": "05224202-c68b-428b-91b4-30c2841dadd4",
                "udi": null,
                "values": []
              },
              {
                "contentTypeKey": "18d06fa1-27bf-4f86-bc9d-b0a339512ca1",
                "key": "59989855-c8cc-4a2a-99a5-2871e791dd9e",
                "udi": null,
                "values": []
              },
              {
                "contentTypeKey": "18d06fa1-27bf-4f86-bc9d-b0a339512ca1",
                "key": "f6777934-0b93-4253-a552-43f252b1fd9b",
                "udi": null,
                "values": []
              }
            ],
            "expose": [
              {
                "contentKey": "60975533-5d6c-4784-978d-1b544b758e5b",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "f72081b6-1d85-4cbe-a8cc-b6e5241d8bdc",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "eadf54f0-cc17-4dde-99f8-eb8fc78c7d83",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "e76cf800-e72d-43d0-a77f-ed2564d89cb6",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "60975533-5d6c-4784-978d-1b544b758e5b",
                  "contentUdi": "umb://element/609755335d6c4784978d1b544b758e5b",
                  "settingsKey": "bb3e99b7-5908-43c8-8ff0-716f9e645d44",
                  "settingsUdi": "umb://element/bb3e99b7590843c88ff0716f9e645d44"
                },
                {
                  "contentKey": "eadf54f0-cc17-4dde-99f8-eb8fc78c7d83",
                  "contentUdi": "umb://element/eadf54f0cc174dde99f8eb8fc78c7d83",
                  "settingsKey": "59989855-c8cc-4a2a-99a5-2871e791dd9e",
                  "settingsUdi": "umb://element/59989855c8cc4a2a99a52871e791dd9e"
                },
                {
                  "contentKey": "f72081b6-1d85-4cbe-a8cc-b6e5241d8bdc",
                  "contentUdi": "umb://element/f72081b61d854cbea8ccb6e5241d8bdc",
                  "settingsKey": "05224202-c68b-428b-91b4-30c2841dadd4",
                  "settingsUdi": "umb://element/05224202c68b428b91b430c2841dadd4"
                },
                {
                  "contentKey": "e76cf800-e72d-43d0-a77f-ed2564d89cb6",
                  "contentUdi": "umb://element/e76cf800e72d43d0a77fed2564d89cb6",
                  "settingsKey": "f6777934-0b93-4253-a552-43f252b1fd9b",
                  "settingsUdi": "umb://element/f67779340b934253a55243f252b1fd9b"
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "key": "134a3532-d9d0-42b8-845b-fac63a80e8bc",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u0027Sarah Philips\u0027 is changed to \u0027Sarah Smith\u0027 by code in \u003Cem\u003ESummaryCardController\u003C/em\u003E. This shows how you might insert data from a database when using a summary card for the \u003Ca href=\u0022https://design-system.service.gov.uk/patterns/check-answers/\u0022\u003ECheck answers\u003C/a\u003E pattern.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "key": "1879d5b2-a4d4-47b4-bba1-5878daafe607",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "key": "3b08e041-55c6-4441-a743-424bf66ef828",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "d2220ba5-3a33-4f2c-9b82-f214a1c8fccb",
      "key": "c8b37ce7-99bd-4d7f-9a7a-477b4cefe50e",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "headingLevel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "d2220ba5-3a33-4f2c-9b82-f214a1c8fccb",
      "key": "5e29f5e7-287e-4291-ad22-dc8b6e311175",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "headingLevel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "key": "c33ca9c4-45e4-4a51-8cb6-5ad129dad1a7",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "dc983be4-a204-488b-98d9-2ee45e334415",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "9bb37db6-8244-47fb-8b93-5105eefc2a88",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c8ed1223-0e2d-476d-bb5c-a8abaafcddf0",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4c8401ea-89e4-4a4b-b937-07a4970e058d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "134a3532-d9d0-42b8-845b-fac63a80e8bc",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "dc983be4-a204-488b-98d9-2ee45e334415",
        "contentUdi": "umb://element/dc983be4a204488b98d92ee45e334415",
        "settingsKey": "1879d5b2-a4d4-47b4-bba1-5878daafe607",
        "settingsUdi": "umb://element/1879d5b2a4d447b4bba15878daafe607"
      },
      {
        "contentKey": "9bb37db6-8244-47fb-8b93-5105eefc2a88",
        "contentUdi": "umb://element/9bb37db6824447fb8b935105eefc2a88",
        "settingsKey": "3b08e041-55c6-4441-a743-424bf66ef828",
        "settingsUdi": "umb://element/3b08e04155c64441a743424bf66ef828"
      },
      {
        "contentKey": "134a3532-d9d0-42b8-845b-fac63a80e8bc",
        "contentUdi": "umb://element/134a3532d9d042b8845bfac63a80e8bc",
        "settingsKey": "c33ca9c4-45e4-4a51-8cb6-5ad129dad1a7",
        "settingsUdi": "umb://element/c33ca9c445e44a518cb65ad129dad1a7"
      },
      {
        "contentKey": "c8ed1223-0e2d-476d-bb5c-a8abaafcddf0",
        "contentUdi": "umb://element/c8ed12230e2d476dbb5ca8abaafcddf0",
        "settingsKey": "c8b37ce7-99bd-4d7f-9a7a-477b4cefe50e",
        "settingsUdi": "umb://element/c8b37ce799bd4d7f9a7a477b4cefe50e"
      },
      {
        "contentKey": "4c8401ea-89e4-4a4b-b937-07a4970e058d",
        "contentUdi": "umb://element/4c8401ea89e44a4bb93707a4970e058d",
        "settingsKey": "5e29f5e7-287e-4291-ad22-dc8b6e311175",
        "settingsUdi": "umb://element/5e29f5e7287e4291ad22dc8b6e311175"
      }
    ]
  }
}]]></Value>
    </blocks>
    <headingScaleStart>
      <Value><![CDATA[]]></Value>
    </headingScaleStart>
  </Properties>
</Content>