<?xml version="1.0" encoding="utf-8"?>
<Content Key="20e995f0-66f2-469d-892d-e427c5a3c962" Alias="Tags" Level="2">
  <Info>
    <Parent Key="5e682cbe-b867-491a-955f-3382446d5663">Home</Parent>
    <Path>/Home/Tags</Path>
    <Trashed>false</Trashed>
    <ContentType>govUkTags</ContentType>
    <CreateDate>2026-10-07T14:38:38</CreateDate>
    <NodeName Default="Tags" />
    <SortOrder>39</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="01a116cb-be9e-7fa2-9f0c-2a4283bc8942">GovUKTags</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "280d2980-2cf0-4df3-8fc0-a5e0b4d1e157",
      "key": "694bcaa7-3605-4e54-9ac3-fe950d1ba2f0",
      "values": [
        {
          "alias": "tagText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "New"
        }
      ]
    },
    {
      "contentTypeKey": "280d2980-2cf0-4df3-8fc0-a5e0b4d1e157",
      "key": "682da493-fe3d-4818-aafd-33cdb8a661bf",
      "values": [
        {
          "alias": "tagText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Error"
        }
      ]
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "key": "4da6baba-2cf3-4adc-985e-d558ac040e96",
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp\u003ERed Tag\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "5d33cd38-b819-4afd-9d4a-499ee73799ab",
      "key": "d1c504f8-ec4c-49ab-96ac-4468dc656f8a",
      "values": []
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "key": "48cc6e7c-e968-4ae3-9d7a-8f8b486271cb",
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp\u003EGreen Tag\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "5d33cd38-b819-4afd-9d4a-499ee73799ab",
      "key": "6baedb8a-543f-4fac-8974-505c8a559a77",
      "values": []
    },
    {
      "contentTypeKey": "280d2980-2cf0-4df3-8fc0-a5e0b4d1e157",
      "key": "cbe97c23-9396-48d3-9927-6ccd4f03dd30",
      "values": [
        {
          "alias": "tagText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Pending"
        }
      ]
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "key": "fb89aaea-6ee7-4cd5-9d26-e2c5c11e6d42",
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp\u003EOrange Tag\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "b7798c0c-2ff1-44ce-a5e7-d2dfd9519134",
      "key": "96f7ba8e-1b2d-412d-ad77-de70f5f3b186",
      "values": [
        {
          "alias": "tagClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "govuk-tag--green"
        }
      ]
    },
    {
      "contentTypeKey": "b7798c0c-2ff1-44ce-a5e7-d2dfd9519134",
      "key": "6e1569fa-053e-4e9e-ae5f-9666a833ce69",
      "values": [
        {
          "alias": "tagClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "govuk-tag--red"
        }
      ]
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "key": "eab52401-ec8c-45d0-a621-e186d33d8627",
      "values": []
    },
    {
      "contentTypeKey": "9581b375-d5f1-4fcf-affd-9d80883d7812",
      "key": "d00b3a98-1b43-4a31-bf3e-5f42d8ed6103",
      "values": [
        {
          "alias": "hidden",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "key": "74566b05-3689-4d2b-affc-f74a4ef1506d",
      "values": []
    },
    {
      "contentTypeKey": "9581b375-d5f1-4fcf-affd-9d80883d7812",
      "key": "2fb36c52-be72-4cd2-a465-26350bb7a821",
      "values": [
        {
          "alias": "hidden",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "b7798c0c-2ff1-44ce-a5e7-d2dfd9519134",
      "key": "2d1af81b-5637-45a0-bb06-574fc22f17a9",
      "values": [
        {
          "alias": "tagClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "govuk-tag--orange"
        }
      ]
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "key": "03967a24-794c-46fe-844d-0953c27a4bff",
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "694bcaa7-3605-4e54-9ac3-fe950d1ba2f0",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "682da493-fe3d-4818-aafd-33cdb8a661bf",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4da6baba-2cf3-4adc-985e-d558ac040e96",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d1c504f8-ec4c-49ab-96ac-4468dc656f8a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "48cc6e7c-e968-4ae3-9d7a-8f8b486271cb",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "6baedb8a-543f-4fac-8974-505c8a559a77",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "cbe97c23-9396-48d3-9927-6ccd4f03dd30",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "fb89aaea-6ee7-4cd5-9d26-e2c5c11e6d42",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "48cc6e7c-e968-4ae3-9d7a-8f8b486271cb",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "74566b05-3689-4d2b-affc-f74a4ef1506d",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "694bcaa7-3605-4e54-9ac3-fe950d1ba2f0",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "96f7ba8e-1b2d-412d-ad77-de70f5f3b186",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "d1c504f8-ec4c-49ab-96ac-4468dc656f8a",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "d00b3a98-1b43-4a31-bf3e-5f42d8ed6103",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "4da6baba-2cf3-4adc-985e-d558ac040e96",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "eab52401-ec8c-45d0-a621-e186d33d8627",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "682da493-fe3d-4818-aafd-33cdb8a661bf",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "6e1569fa-053e-4e9e-ae5f-9666a833ce69",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "6baedb8a-543f-4fac-8974-505c8a559a77",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "2fb36c52-be72-4cd2-a465-26350bb7a821",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "fb89aaea-6ee7-4cd5-9d26-e2c5c11e6d42",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "03967a24-794c-46fe-844d-0953c27a4bff",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "cbe97c23-9396-48d3-9927-6ccd4f03dd30",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "2d1af81b-5637-45a0-bb06-574fc22f17a9",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </content>
  </Properties>
</Content>