<?xml version="1.0" encoding="utf-8"?>
<Content Key="20e995f0-66f2-469d-892d-e427c5a3c962" Alias="Tags" Level="2">
  <Info>
    <Parent Key="5e682cbe-b867-491a-955f-3382446d5663">Home</Parent>
    <Path>/Home/Tags</Path>
    <Trashed>false</Trashed>
    <ContentType>govUkTags</ContentType>
    <CreateDate>2026-10-07T14:38:38</CreateDate>
    <NodeName Default="Tags" />
    <SortOrder>39</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="01a116cb-be9e-7fa2-9f0c-2a4283bc8942">GovUKTags</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "280d2980-2cf0-4df3-8fc0-a5e0b4d1e157",
      "key": "694bcaa7-3605-4e54-9ac3-fe950d1ba2f0",
      "values": [
        {
          "alias": "tagText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Example"
        }
      ]
    },
    {
      "contentTypeKey": "280d2980-2cf0-4df3-8fc0-a5e0b4d1e157",
      "key": "682da493-fe3d-4818-aafd-33cdb8a661bf",
      "values": [
        {
          "alias": "tagText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Example"
        }
      ]
    },
    {
      "contentTypeKey": "5d33cd38-b819-4afd-9d4a-499ee73799ab",
      "key": "d1c504f8-ec4c-49ab-96ac-4468dc656f8a",
      "values": []
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "key": "48cc6e7c-e968-4ae3-9d7a-8f8b486271cb",
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp\u003ETag Component Supported Colours\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "5d33cd38-b819-4afd-9d4a-499ee73799ab",
      "key": "6baedb8a-543f-4fac-8974-505c8a559a77",
      "values": []
    },
    {
      "contentTypeKey": "280d2980-2cf0-4df3-8fc0-a5e0b4d1e157",
      "key": "cbe97c23-9396-48d3-9927-6ccd4f03dd30",
      "values": [
        {
          "alias": "tagText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Example"
        }
      ]
    },
    {
      "contentTypeKey": "5d33cd38-b819-4afd-9d4a-499ee73799ab",
      "key": "eeb2042e-a3b7-480f-aeaa-8babe6dd5ce9",
      "values": []
    },
    {
      "contentTypeKey": "5d33cd38-b819-4afd-9d4a-499ee73799ab",
      "key": "c7538ebe-60f2-4c46-89b3-b7cf513e24a0",
      "values": []
    },
    {
      "contentTypeKey": "280d2980-2cf0-4df3-8fc0-a5e0b4d1e157",
      "key": "ae5a9c7e-610b-4cbb-90de-0e00254ab371",
      "values": [
        {
          "alias": "tagText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Example"
        }
      ]
    },
    {
      "contentTypeKey": "5d33cd38-b819-4afd-9d4a-499ee73799ab",
      "key": "50948488-c79e-43c7-b924-da257bfb5d72",
      "values": []
    },
    {
      "contentTypeKey": "280d2980-2cf0-4df3-8fc0-a5e0b4d1e157",
      "key": "1ff7d45e-295d-422d-b47e-a1415754a8e1",
      "values": [
        {
          "alias": "tagText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Example"
        }
      ]
    },
    {
      "contentTypeKey": "280d2980-2cf0-4df3-8fc0-a5e0b4d1e157",
      "key": "7551ea8d-f77b-4d20-8e39-5f22fbabd8e0",
      "values": [
        {
          "alias": "tagText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Example"
        }
      ]
    },
    {
      "contentTypeKey": "5d33cd38-b819-4afd-9d4a-499ee73799ab",
      "key": "2bef0bce-6f7d-48c0-aa3a-32361c2545ed",
      "values": []
    },
    {
      "contentTypeKey": "280d2980-2cf0-4df3-8fc0-a5e0b4d1e157",
      "key": "880c05a9-ecf5-486d-87d6-5edb8e73cc35",
      "values": [
        {
          "alias": "tagText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Example"
        }
      ]
    },
    {
      "contentTypeKey": "5d33cd38-b819-4afd-9d4a-499ee73799ab",
      "key": "440d7653-fb72-4e3e-86ff-74f4a0be707e",
      "values": []
    },
    {
      "contentTypeKey": "5d33cd38-b819-4afd-9d4a-499ee73799ab",
      "key": "82a50ecd-5eee-4dda-ae06-26503fdae295",
      "values": []
    },
    {
      "contentTypeKey": "280d2980-2cf0-4df3-8fc0-a5e0b4d1e157",
      "key": "a71d62f0-a390-4acb-9b79-68f0ebb7fa6c",
      "values": [
        {
          "alias": "tagText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Example"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "b7798c0c-2ff1-44ce-a5e7-d2dfd9519134",
      "key": "96f7ba8e-1b2d-412d-ad77-de70f5f3b186",
      "values": [
        {
          "alias": "tagColour",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "govuk-tag--green"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "b7798c0c-2ff1-44ce-a5e7-d2dfd9519134",
      "key": "6e1569fa-053e-4e9e-ae5f-9666a833ce69",
      "values": [
        {
          "alias": "tagColour",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "govuk-tag--red"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "9581b375-d5f1-4fcf-affd-9d80883d7812",
      "key": "d00b3a98-1b43-4a31-bf3e-5f42d8ed6103",
      "values": [
        {
          "alias": "hidden",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "key": "74566b05-3689-4d2b-affc-f74a4ef1506d",
      "values": []
    },
    {
      "contentTypeKey": "9581b375-d5f1-4fcf-affd-9d80883d7812",
      "key": "2fb36c52-be72-4cd2-a465-26350bb7a821",
      "values": [
        {
          "alias": "hidden",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "b7798c0c-2ff1-44ce-a5e7-d2dfd9519134",
      "key": "2d1af81b-5637-45a0-bb06-574fc22f17a9",
      "values": [
        {
          "alias": "tagColour",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "govuk-tag--orange"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "9581b375-d5f1-4fcf-affd-9d80883d7812",
      "key": "68903278-d62f-48b2-add4-482d9431fa2f",
      "values": [
        {
          "alias": "hidden",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "9581b375-d5f1-4fcf-affd-9d80883d7812",
      "key": "5c5998b0-9e21-476e-bfab-a8935bdc74ab",
      "values": [
        {
          "alias": "hidden",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "b7798c0c-2ff1-44ce-a5e7-d2dfd9519134",
      "key": "19bca7d2-dfb8-41de-be49-b13c867b795a",
      "values": [
        {
          "alias": "tagColour",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "govuk-tag--grey"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "9581b375-d5f1-4fcf-affd-9d80883d7812",
      "key": "07335364-e91b-4a01-b0fc-d42f161628fe",
      "values": [
        {
          "alias": "hidden",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "b7798c0c-2ff1-44ce-a5e7-d2dfd9519134",
      "key": "cc05d694-6d6a-4b73-82f3-83fd387eec9a",
      "values": [
        {
          "alias": "tagColour",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "govuk-tag--teal"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "b7798c0c-2ff1-44ce-a5e7-d2dfd9519134",
      "key": "d87749ee-a23f-4245-b1e3-83054c4db0e0",
      "values": [
        {
          "alias": "tagColour",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "govuk-tag--purple"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "9581b375-d5f1-4fcf-affd-9d80883d7812",
      "key": "ba823b48-918a-43ae-a273-24f409cea70b",
      "values": [
        {
          "alias": "hidden",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "b7798c0c-2ff1-44ce-a5e7-d2dfd9519134",
      "key": "1a6abf4a-43dc-45d4-998b-ed83ebb7353f",
      "values": [
        {
          "alias": "tagColour",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "govuk-tag--magenta "
          ]
        }
      ]
    },
    {
      "contentTypeKey": "9581b375-d5f1-4fcf-affd-9d80883d7812",
      "key": "459cb4e6-154b-4297-992d-8d952b51f2b3",
      "values": [
        {
          "alias": "hidden",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "9581b375-d5f1-4fcf-affd-9d80883d7812",
      "key": "e5bb5e99-9bc6-49d4-abc2-cee7c4860690",
      "values": [
        {
          "alias": "hidden",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "b7798c0c-2ff1-44ce-a5e7-d2dfd9519134",
      "key": "84bf6edd-9292-4535-a302-1fff7f86263a",
      "values": [
        {
          "alias": "tagColour",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "govuk-tag--yellow"
          ]
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "694bcaa7-3605-4e54-9ac3-fe950d1ba2f0",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "682da493-fe3d-4818-aafd-33cdb8a661bf",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d1c504f8-ec4c-49ab-96ac-4468dc656f8a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "48cc6e7c-e968-4ae3-9d7a-8f8b486271cb",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "6baedb8a-543f-4fac-8974-505c8a559a77",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "cbe97c23-9396-48d3-9927-6ccd4f03dd30",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "eeb2042e-a3b7-480f-aeaa-8babe6dd5ce9",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c7538ebe-60f2-4c46-89b3-b7cf513e24a0",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ae5a9c7e-610b-4cbb-90de-0e00254ab371",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "50948488-c79e-43c7-b924-da257bfb5d72",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "1ff7d45e-295d-422d-b47e-a1415754a8e1",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7551ea8d-f77b-4d20-8e39-5f22fbabd8e0",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "2bef0bce-6f7d-48c0-aa3a-32361c2545ed",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "880c05a9-ecf5-486d-87d6-5edb8e73cc35",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "440d7653-fb72-4e3e-86ff-74f4a0be707e",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "82a50ecd-5eee-4dda-ae06-26503fdae295",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a71d62f0-a390-4acb-9b79-68f0ebb7fa6c",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "48cc6e7c-e968-4ae3-9d7a-8f8b486271cb",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "74566b05-3689-4d2b-affc-f74a4ef1506d",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "694bcaa7-3605-4e54-9ac3-fe950d1ba2f0",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "96f7ba8e-1b2d-412d-ad77-de70f5f3b186",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "d1c504f8-ec4c-49ab-96ac-4468dc656f8a",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "d00b3a98-1b43-4a31-bf3e-5f42d8ed6103",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "682da493-fe3d-4818-aafd-33cdb8a661bf",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "6e1569fa-053e-4e9e-ae5f-9666a833ce69",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "6baedb8a-543f-4fac-8974-505c8a559a77",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "2fb36c52-be72-4cd2-a465-26350bb7a821",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "cbe97c23-9396-48d3-9927-6ccd4f03dd30",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "2d1af81b-5637-45a0-bb06-574fc22f17a9",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "eeb2042e-a3b7-480f-aeaa-8babe6dd5ce9",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "68903278-d62f-48b2-add4-482d9431fa2f",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "ae5a9c7e-610b-4cbb-90de-0e00254ab371",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "19bca7d2-dfb8-41de-be49-b13c867b795a",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "c7538ebe-60f2-4c46-89b3-b7cf513e24a0",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "5c5998b0-9e21-476e-bfab-a8935bdc74ab",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "1ff7d45e-295d-422d-b47e-a1415754a8e1",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "cc05d694-6d6a-4b73-82f3-83fd387eec9a",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "50948488-c79e-43c7-b924-da257bfb5d72",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "07335364-e91b-4a01-b0fc-d42f161628fe",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "7551ea8d-f77b-4d20-8e39-5f22fbabd8e0",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "d87749ee-a23f-4245-b1e3-83054c4db0e0",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "2bef0bce-6f7d-48c0-aa3a-32361c2545ed",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "ba823b48-918a-43ae-a273-24f409cea70b",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "880c05a9-ecf5-486d-87d6-5edb8e73cc35",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "1a6abf4a-43dc-45d4-998b-ed83ebb7353f",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "440d7653-fb72-4e3e-86ff-74f4a0be707e",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "459cb4e6-154b-4297-992d-8d952b51f2b3",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "a71d62f0-a390-4acb-9b79-68f0ebb7fa6c",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "84bf6edd-9292-4535-a302-1fff7f86263a",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "82a50ecd-5eee-4dda-ae06-26503fdae295",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "e5bb5e99-9bc6-49d4-abc2-cee7c4860690",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </content>
  </Properties>
</Content>