<?xml version="1.0" encoding="utf-8"?>
<Content Key="27bfc8bb-7566-47e1-8506-c63fb5813f29" Alias="Task list" Level="2">
  <Info>
    <Parent Key="5e682cbe-b867-491a-955f-3382446d5663">Home</Parent>
    <Path>/Home/TaskList</Path>
    <Trashed>false</Trashed>
    <ContentType>taskList</ContentType>
    <CreateDate>2022-12-16T17:58:16</CreateDate>
    <NodeName Default="Task list" />
    <SortOrder>22</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6b50a146-6376-4f2a-afd2-0363093a487f">TaskList</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "key": "eb689ff1-429e-4b5e-840b-32c332fdef1f",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "key": "e53f029b-a49e-4884-905c-2544ce461a21",
      "udi": null,
      "values": [
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Example application in Umbraco"
        }
      ]
    },
    {
      "contentTypeKey": "32224cf2-f160-4c74-9c07-ed918b263c75",
      "key": "42afc209-643f-4f55-be5a-5f4be4e6d3d4",
      "udi": null,
      "values": [
        {
          "alias": "completedStatus",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "incompleteStatus",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "tracker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "key": "c7e5fdcd-5e11-47d8-b784-c458a6b4dfba",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch2 class=\u0022govuk-heading-m\u0022\u003ESection 1\u003C/h2\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "key": "d3d9b7a9-c9a8-4944-af30-0000a246a7c0",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch2 class=\u0022govuk-heading-m\u0022\u003ESection 2\u003C/h2\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "405470f7-9d54-4891-91c9-2efa8dec0833",
      "key": "e10307a5-c7ef-4709-96f2-b63d3fb97c23",
      "udi": null,
      "values": [
        {
          "alias": "tasks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "28cfc6cc-1e02-4d9e-8232-b2f921026042",
                "key": "12e95889-b550-4284-9810-95a61c8b8868",
                "udi": null,
                "values": [
                  {
                    "alias": "hint",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "#",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "#",
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "taskName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Thing to do"
                  }
                ]
              },
              {
                "contentTypeKey": "28cfc6cc-1e02-4d9e-8232-b2f921026042",
                "key": "64393563-1b41-46e2-b640-e4132580a026",
                "udi": null,
                "values": [
                  {
                    "alias": "hint",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "#",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "#",
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "taskName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Another thing to do"
                  }
                ]
              },
              {
                "contentTypeKey": "28cfc6cc-1e02-4d9e-8232-b2f921026042",
                "key": "d299b34c-ca2e-4707-9734-a25d20cc9009",
                "udi": null,
                "values": [
                  {
                    "alias": "hint",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EThis thing has an \u003Cstrong\u003Eimportant deadline\u003C/strong\u003E you need to know about. It is set to \u0027Completed\u0027 by code in \u003Cem\u003ETaskListController.\u003C/em\u003E\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "#",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "#",
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "taskName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Yet another thing to do"
                  }
                ]
              },
              {
                "contentTypeKey": "28cfc6cc-1e02-4d9e-8232-b2f921026042",
                "key": "c60729da-6f94-405c-b466-849a4c4819f1",
                "udi": null,
                "values": [
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "#",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "#",
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "taskName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "More work to do"
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "dac47aa8-2d8c-4024-8b72-118d15916b4c",
                "key": "bab17a84-a7fb-4a3f-98c7-c62ca24ed6b5",
                "udi": null,
                "values": [
                  {
                    "alias": "cssClasses",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "status",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Not started"
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "dac47aa8-2d8c-4024-8b72-118d15916b4c",
                "key": "59ad6b45-1961-4f2b-ac5f-1673e62ab178",
                "udi": null,
                "values": [
                  {
                    "alias": "status",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Incomplete"
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "dac47aa8-2d8c-4024-8b72-118d15916b4c",
                "key": "13b1896f-2f09-4ccb-96da-eecd8e9033d1",
                "udi": null,
                "values": [
                  {
                    "alias": "cssClasses",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "yet-another-thing"
                  },
                  {
                    "alias": "status",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  }
                ]
              },
              {
                "contentTypeKey": "dac47aa8-2d8c-4024-8b72-118d15916b4c",
                "key": "244c69a2-12b3-4b97-bafb-8331f29a69bd",
                "udi": null,
                "values": [
                  {
                    "alias": "status",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Not started"
                    ]
                  },
                  {
                    "alias": "statusText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Unconfirmed"
                  }
                ]
              }
            ],
            "expose": [
              {
                "contentKey": "12e95889-b550-4284-9810-95a61c8b8868",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "64393563-1b41-46e2-b640-e4132580a026",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "d299b34c-ca2e-4707-9734-a25d20cc9009",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "c60729da-6f94-405c-b466-849a4c4819f1",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "12e95889-b550-4284-9810-95a61c8b8868",
                  "contentUdi": null,
                  "settingsKey": "bab17a84-a7fb-4a3f-98c7-c62ca24ed6b5",
                  "settingsUdi": null
                },
                {
                  "contentKey": "64393563-1b41-46e2-b640-e4132580a026",
                  "contentUdi": null,
                  "settingsKey": "59ad6b45-1961-4f2b-ac5f-1673e62ab178",
                  "settingsUdi": null
                },
                {
                  "contentKey": "d299b34c-ca2e-4707-9734-a25d20cc9009",
                  "contentUdi": null,
                  "settingsKey": "13b1896f-2f09-4ccb-96da-eecd8e9033d1",
                  "settingsUdi": null
                },
                {
                  "contentKey": "c60729da-6f94-405c-b466-849a4c4819f1",
                  "contentUdi": null,
                  "settingsKey": "244c69a2-12b3-4b97-bafb-8331f29a69bd",
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "405470f7-9d54-4891-91c9-2efa8dec0833",
      "key": "92e8eafc-6093-4f83-8f9d-214d20cf6053",
      "udi": null,
      "values": [
        {
          "alias": "tasks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "28cfc6cc-1e02-4d9e-8232-b2f921026042",
                "key": "6a284289-57c8-46d5-95fb-bf0e23e72801",
                "udi": null,
                "values": [
                  {
                    "alias": "hint",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "#",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "#",
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "taskName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Thing to do (no status)"
                  }
                ]
              },
              {
                "contentTypeKey": "28cfc6cc-1e02-4d9e-8232-b2f921026042",
                "key": "70695cfa-02d6-4b14-b8ec-aa7ecb199160",
                "udi": null,
                "values": [
                  {
                    "alias": "hint",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "#",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "#",
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "taskName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "You can\u0027t do this (link removed due to status)"
                  }
                ]
              },
              {
                "contentTypeKey": "28cfc6cc-1e02-4d9e-8232-b2f921026042",
                "key": "d0542d02-6937-4aaa-a111-0d3a03b6126b",
                "udi": null,
                "values": [
                  {
                    "alias": "hint",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "#",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "#",
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "taskName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "You can\u0027t do this (link removed due to status)"
                  }
                ]
              },
              {
                "contentTypeKey": "28cfc6cc-1e02-4d9e-8232-b2f921026042",
                "key": "a0d0a88c-c2b0-4108-9230-3e013b47f899",
                "udi": null,
                "values": [
                  {
                    "alias": "hint",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "#",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "#",
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "taskName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "You can\u0027t do this"
                  }
                ]
              },
              {
                "contentTypeKey": "28cfc6cc-1e02-4d9e-8232-b2f921026042",
                "key": "d329097b-093f-4f4d-aa29-0b1c947b774f",
                "udi": null,
                "values": [
                  {
                    "alias": "hint",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EDetails about the thing\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "taskName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Thing to do (no link)"
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "dac47aa8-2d8c-4024-8b72-118d15916b4c",
                "key": "124192a8-816f-4e22-ba6c-9119fa461a44",
                "udi": null,
                "values": [
                  {
                    "alias": "status",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  }
                ]
              },
              {
                "contentTypeKey": "dac47aa8-2d8c-4024-8b72-118d15916b4c",
                "key": "5529a386-41f8-4c8b-8dd3-b1401f50f502",
                "udi": null,
                "values": [
                  {
                    "alias": "status",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Not applicable"
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "dac47aa8-2d8c-4024-8b72-118d15916b4c",
                "key": "33de544c-e866-4d58-ba68-30f248b4a120",
                "udi": null,
                "values": [
                  {
                    "alias": "status",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Cannot start yet"
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "dac47aa8-2d8c-4024-8b72-118d15916b4c",
                "key": "affcce44-1152-488f-8de9-119713e11aaa",
                "udi": null,
                "values": [
                  {
                    "alias": "status",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Error"
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "dac47aa8-2d8c-4024-8b72-118d15916b4c",
                "key": "ef7c5dd9-c00a-485d-8a9e-7e25cde9bf27",
                "udi": null,
                "values": [
                  {
                    "alias": "status",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Incomplete"
                    ]
                  }
                ]
              }
            ],
            "expose": [
              {
                "contentKey": "6a284289-57c8-46d5-95fb-bf0e23e72801",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "70695cfa-02d6-4b14-b8ec-aa7ecb199160",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "d0542d02-6937-4aaa-a111-0d3a03b6126b",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "a0d0a88c-c2b0-4108-9230-3e013b47f899",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "d329097b-093f-4f4d-aa29-0b1c947b774f",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "6a284289-57c8-46d5-95fb-bf0e23e72801",
                  "contentUdi": null,
                  "settingsKey": "124192a8-816f-4e22-ba6c-9119fa461a44",
                  "settingsUdi": null
                },
                {
                  "contentKey": "d329097b-093f-4f4d-aa29-0b1c947b774f",
                  "contentUdi": null,
                  "settingsKey": "ef7c5dd9-c00a-485d-8a9e-7e25cde9bf27",
                  "settingsUdi": null
                },
                {
                  "contentKey": "70695cfa-02d6-4b14-b8ec-aa7ecb199160",
                  "contentUdi": null,
                  "settingsKey": "5529a386-41f8-4c8b-8dd3-b1401f50f502",
                  "settingsUdi": null
                },
                {
                  "contentKey": "d0542d02-6937-4aaa-a111-0d3a03b6126b",
                  "contentUdi": null,
                  "settingsKey": "33de544c-e866-4d58-ba68-30f248b4a120",
                  "settingsUdi": null
                },
                {
                  "contentKey": "a0d0a88c-c2b0-4108-9230-3e013b47f899",
                  "contentUdi": null,
                  "settingsKey": "affcce44-1152-488f-8de9-119713e11aaa",
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "key": "d765a44f-98e8-451a-ba5e-efe22f0c86a2",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "key": "b90b1e6f-b62a-4327-9f1a-acb87a10d020",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "41ecf378-c886-4f08-9962-7ea6e168276c",
      "key": "b8fc4a57-44e3-4816-82a5-72ec4e71484d",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "headingLevel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "key": "601cefad-da5d-4990-a9b2-954de8441264",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "key": "1ce5acd4-4298-4da4-b46b-1b2e69dcf730",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "51db3717-0b48-4f1d-afdd-478065a531a5",
      "key": "a635f430-61c4-441d-bdf7-ad17e9f219d1",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "51db3717-0b48-4f1d-afdd-478065a531a5",
      "key": "7435cdba-5e90-43d9-babf-75d6c805044a",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "eb689ff1-429e-4b5e-840b-32c332fdef1f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e53f029b-a49e-4884-905c-2544ce461a21",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "42afc209-643f-4f55-be5a-5f4be4e6d3d4",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c7e5fdcd-5e11-47d8-b784-c458a6b4dfba",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d3d9b7a9-c9a8-4944-af30-0000a246a7c0",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e10307a5-c7ef-4709-96f2-b63d3fb97c23",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "92e8eafc-6093-4f83-8f9d-214d20cf6053",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "e53f029b-a49e-4884-905c-2544ce461a21",
        "contentUdi": null,
        "settingsKey": "b90b1e6f-b62a-4327-9f1a-acb87a10d020",
        "settingsUdi": null
      },
      {
        "contentKey": "eb689ff1-429e-4b5e-840b-32c332fdef1f",
        "contentUdi": null,
        "settingsKey": "d765a44f-98e8-451a-ba5e-efe22f0c86a2",
        "settingsUdi": null
      },
      {
        "contentKey": "42afc209-643f-4f55-be5a-5f4be4e6d3d4",
        "contentUdi": null,
        "settingsKey": "b8fc4a57-44e3-4816-82a5-72ec4e71484d",
        "settingsUdi": null
      },
      {
        "contentKey": "c7e5fdcd-5e11-47d8-b784-c458a6b4dfba",
        "contentUdi": null,
        "settingsKey": "601cefad-da5d-4990-a9b2-954de8441264",
        "settingsUdi": null
      },
      {
        "contentKey": "e10307a5-c7ef-4709-96f2-b63d3fb97c23",
        "contentUdi": null,
        "settingsKey": "a635f430-61c4-441d-bdf7-ad17e9f219d1",
        "settingsUdi": null
      },
      {
        "contentKey": "d3d9b7a9-c9a8-4944-af30-0000a246a7c0",
        "contentUdi": null,
        "settingsKey": "1ce5acd4-4298-4da4-b46b-1b2e69dcf730",
        "settingsUdi": null
      },
      {
        "contentKey": "92e8eafc-6093-4f83-8f9d-214d20cf6053",
        "contentUdi": null,
        "settingsKey": "7435cdba-5e90-43d9-babf-75d6c805044a",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <headingScaleStart>
      <Value><![CDATA[]]></Value>
    </headingScaleStart>
  </Properties>
</Content>