<?xml version="1.0" encoding="utf-8"?>
<Content Key="0e8a5a37-7a33-41ff-8386-7099db8db229" Alias="Warning text" Level="2">
  <Info>
    <Parent Key="5e682cbe-b867-491a-955f-3382446d5663">Home</Parent>
    <Path>/Home/WarningText</Path>
    <Trashed>false</Trashed>
    <ContentType>warningText</ContentType>
    <CreateDate>2022-05-31T10:38:31</CreateDate>
    <NodeName Default="Warning text" />
    <SortOrder>19</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f67693f3-de29-4184-b0c2-929452f11e92">WarningText</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "83cb35fb-51da-45cd-913f-1b8bdfd6a1d9",
      "key": "781251e9-0fab-4373-9001-b6add4475645",
      "udi": null,
      "values": [
        {
          "alias": "iconFallbackText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EUse the \u003Ca href=\u0022https://design-system.service.gov.uk/components/warning-text/\u0022\u003Ewarning text\u003C/a\u003E component when you need to warn users about something important, such as legal consequences of an action, or lack of action, that they might take.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "key": "aa905fd3-8268-4d2c-8d96-9db1dd7b4535",
      "udi": null,
      "values": [
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Example application in Umbraco"
        }
      ]
    },
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "key": "cd71d869-a5ea-4a14-b1c6-c5789fa8ea20",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "83cb35fb-51da-45cd-913f-1b8bdfd6a1d9",
      "key": "f1e5ecbe-3f55-4a9d-85cc-590ddcd9fdc9",
      "udi": null,
      "values": [
        {
          "alias": "iconFallbackText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022custom-class\u0022\u003EWhen there is a single paragraph with no class applied, the surrounding \u003Cstrong\u003Ep \u003C/strong\u003Eelement should be removed. This warning text component has just one paragraph but a custom class is applied, so the \u003Cstrong\u003Ep\u003C/strong\u003E element should be kept.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "83cb35fb-51da-45cd-913f-1b8bdfd6a1d9",
      "key": "8a75b55d-6ab0-4781-a45b-f01380faa3dc",
      "udi": null,
      "values": [
        {
          "alias": "iconFallbackText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022govuk-body\u0022\u003EWarning text components can (although rarely should) contain multiple paragraphs.\u003C/p\u003E\n\u003Cp class=\u0022custom-class govuk-body\u0022\u003ECustom classes can be applied when there are multiple paragraphs.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "key": "7b33d327-7218-4450-873d-3899b20784b4",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "key": "583b904c-4523-4a09-a468-cad1b0f159a4",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "0bac8213-4607-4547-902a-6a9d84b92633",
      "key": "c1bf7f8c-b88c-44ce-884d-00debdf8cd62",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "0bac8213-4607-4547-902a-6a9d84b92633",
      "key": "dacbb7f2-9c71-40a8-bfbd-664b3580922d",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "0bac8213-4607-4547-902a-6a9d84b92633",
      "key": "57c63568-5141-4a6d-98b5-89fa7b6331e3",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "781251e9-0fab-4373-9001-b6add4475645",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "aa905fd3-8268-4d2c-8d96-9db1dd7b4535",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "cd71d869-a5ea-4a14-b1c6-c5789fa8ea20",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f1e5ecbe-3f55-4a9d-85cc-590ddcd9fdc9",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8a75b55d-6ab0-4781-a45b-f01380faa3dc",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "aa905fd3-8268-4d2c-8d96-9db1dd7b4535",
        "contentUdi": null,
        "settingsKey": "7b33d327-7218-4450-873d-3899b20784b4",
        "settingsUdi": null
      },
      {
        "contentKey": "cd71d869-a5ea-4a14-b1c6-c5789fa8ea20",
        "contentUdi": null,
        "settingsKey": "583b904c-4523-4a09-a468-cad1b0f159a4",
        "settingsUdi": null
      },
      {
        "contentKey": "781251e9-0fab-4373-9001-b6add4475645",
        "contentUdi": null,
        "settingsKey": "c1bf7f8c-b88c-44ce-884d-00debdf8cd62",
        "settingsUdi": null
      },
      {
        "contentKey": "f1e5ecbe-3f55-4a9d-85cc-590ddcd9fdc9",
        "contentUdi": null,
        "settingsKey": "dacbb7f2-9c71-40a8-bfbd-664b3580922d",
        "settingsUdi": null
      },
      {
        "contentKey": "8a75b55d-6ab0-4781-a45b-f01380faa3dc",
        "contentUdi": null,
        "settingsKey": "57c63568-5141-4a6d-98b5-89fa7b6331e3",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <headingScaleStart>
      <Value><![CDATA[]]></Value>
    </headingScaleStart>
  </Properties>
</Content>