<?xml version="1.0" encoding="utf-8"?>
<Content Key="571f9cd8-af6b-4104-96fb-d871cbe58ce3" Alias="YouTube video" Level="2">
  <Info>
    <Parent Key="5e682cbe-b867-491a-955f-3382446d5663">Home</Parent>
    <Path>/Home/YouTubeVideo</Path>
    <Trashed>false</Trashed>
    <ContentType>youTubeVideo</ContentType>
    <CreateDate>2025-02-05T14:18:11</CreateDate>
    <NodeName Default="YouTube video" />
    <SortOrder>30</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bf9bac3b-7af8-45c0-800a-5d379b3c34bf">YouTubeVideo</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "25702e9e-d0a1-4fbc-acbf-f740fb8bebad",
      "key": "96899822-806a-47fb-be30-619876492730",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Master Trusts conference by The Pensions Regulator"
        },
        {
          "alias": "transcriptUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": null,
              "target": null,
              "unique": null,
              "type": null,
              "udi": null,
              "url": "/youtube-video/youtube-video-transcript/",
              "queryString": null
            }
          ]
        },
        {
          "alias": "url",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.youtube.com/watch?v=tTQiv1xKVM4"
        }
      ]
    },
    {
      "contentTypeKey": "21e3dbf9-cf23-4caa-9bc1-fa04edd8d95e",
      "key": "6e90ac75-62a5-4ef8-8053-407486610b19",
      "udi": null,
      "values": [
        {
          "alias": "sections",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "5bb40489-3f94-44a6-858c-de25a61db634",
                "key": "18770c1a-4a40-4468-92ab-7ef392fef88e",
                "udi": null,
                "values": [
                  {
                    "alias": "blocks",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "contentData": [
                        {
                          "contentTypeKey": "25702e9e-d0a1-4fbc-acbf-f740fb8bebad",
                          "key": "cfe4ee38-a9e4-4a00-a6b0-60a6c2112061",
                          "udi": null,
                          "values": [
                            {
                              "alias": "title",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "This is the title of the video."
                            },
                            {
                              "alias": "transcriptUrl",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": ""
                            },
                            {
                              "alias": "url",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "https://www.youtube.com/watch?v=tTQiv1xKVM4"
                            }
                          ]
                        },
                        {
                          "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
                          "key": "aecc94ae-bcfe-4e5f-8fa4-4f9b45c4eb18",
                          "udi": null,
                          "values": [
                            {
                              "alias": "text",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": {
                                "blocks": {
                                  "contentData": [],
                                  "settingsData": [],
                                  "expose": [],
                                  "Layout": {}
                                },
                                "markup": "\u003Cp\u003EThis is a video inside an accordion section.\u003C/p\u003E"
                              }
                            }
                          ]
                        },
                        {
                          "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
                          "key": "5dce32f6-200c-4406-95c9-66ca498fef87",
                          "udi": null,
                          "values": [
                            {
                              "alias": "text",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": {
                                "blocks": {
                                  "contentData": [],
                                  "settingsData": [],
                                  "expose": [],
                                  "Layout": {}
                                },
                                "markup": "\u003Cp\u003EWe can also add text under the video.\u003C/p\u003E"
                              }
                            }
                          ]
                        }
                      ],
                      "settingsData": [
                        {
                          "contentTypeKey": "c16e9365-c4a5-471d-9412-f617fbdd0bc5",
                          "key": "6af577b5-5a0a-4a03-8c3c-560be728bd9b",
                          "udi": null,
                          "values": [
                            {
                              "alias": "autoplay",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "0"
                            },
                            {
                              "alias": "cssClasses",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": ""
                            },
                            {
                              "alias": "playsInline",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "1"
                            }
                          ]
                        }
                      ],
                      "expose": [
                        {
                          "contentKey": "cfe4ee38-a9e4-4a00-a6b0-60a6c2112061",
                          "culture": null,
                          "segment": null
                        },
                        {
                          "contentKey": "aecc94ae-bcfe-4e5f-8fa4-4f9b45c4eb18",
                          "culture": null,
                          "segment": null
                        },
                        {
                          "contentKey": "5dce32f6-200c-4406-95c9-66ca498fef87",
                          "culture": null,
                          "segment": null
                        }
                      ],
                      "Layout": {
                        "Umbraco.BlockGrid": [
                          {
                            "areas": [],
                            "columnSpan": 12,
                            "contentKey": "aecc94ae-bcfe-4e5f-8fa4-4f9b45c4eb18",
                            "contentUdi": null,
                            "rowSpan": 1,
                            "settingsKey": null,
                            "settingsUdi": null
                          },
                          {
                            "areas": [],
                            "columnSpan": 12,
                            "contentKey": "cfe4ee38-a9e4-4a00-a6b0-60a6c2112061",
                            "contentUdi": null,
                            "rowSpan": 1,
                            "settingsKey": "6af577b5-5a0a-4a03-8c3c-560be728bd9b",
                            "settingsUdi": null
                          },
                          {
                            "areas": [],
                            "columnSpan": 12,
                            "contentKey": "5dce32f6-200c-4406-95c9-66ca498fef87",
                            "contentUdi": null,
                            "rowSpan": 1,
                            "settingsKey": null,
                            "settingsUdi": null
                          }
                        ]
                      }
                    }
                  },
                  {
                    "alias": "heading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "First accordion section"
                  },
                  {
                    "alias": "summary",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "3c2ae3cf-3387-4bee-b34e-0f5ec3a45ca2",
                "key": "4d45d3ca-13c7-4dcb-b8cb-ab42fdf45369",
                "udi": null,
                "values": [
                  {
                    "alias": "cssClasses",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "expandSection",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              }
            ],
            "expose": [
              {
                "contentKey": "18770c1a-4a40-4468-92ab-7ef392fef88e",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "18770c1a-4a40-4468-92ab-7ef392fef88e",
                  "contentUdi": null,
                  "settingsKey": "4d45d3ca-13c7-4dcb-b8cb-ab42fdf45369",
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "key": "2568f518-303c-495e-8e43-c4de998583f4",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EThis demonstrates support in the block list.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "c16e9365-c4a5-471d-9412-f617fbdd0bc5",
      "key": "725f99c8-96c5-4f70-9a89-7371afc263ed",
      "udi": null,
      "values": [
        {
          "alias": "autoplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "playsInline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "5c3a9c47-9ed6-4a26-b7ac-e8639ed4472f",
      "key": "5bf8766c-1217-4f2f-9f3b-1239af189a0e",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "headingLevel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "key": "9e16ba12-c77a-4a9b-9d84-297ab185dea8",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "96899822-806a-47fb-be30-619876492730",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "6e90ac75-62a5-4ef8-8053-407486610b19",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "2568f518-303c-495e-8e43-c4de998583f4",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "2568f518-303c-495e-8e43-c4de998583f4",
        "contentUdi": null,
        "settingsKey": "9e16ba12-c77a-4a9b-9d84-297ab185dea8",
        "settingsUdi": null
      },
      {
        "contentKey": "96899822-806a-47fb-be30-619876492730",
        "contentUdi": null,
        "settingsKey": "725f99c8-96c5-4f70-9a89-7371afc263ed",
        "settingsUdi": null
      },
      {
        "contentKey": "6e90ac75-62a5-4ef8-8053-407486610b19",
        "contentUdi": null,
        "settingsKey": "5bf8766c-1217-4f2f-9f3b-1239af189a0e",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <govukBlocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "key": "4de6c7c8-bc4c-4342-ad99-59ac0b535ceb",
      "udi": null,
      "values": [
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Example application in Umbraco"
        }
      ]
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "key": "33c3c154-b1ed-4a5e-a2b8-e37371b67a0d",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EThis is a TPR component and you have switched off TPR styles in appsettings.json to return to GOV.UK styling, so there is nothing to see on this page.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "key": "71c7d35b-6bda-4fd1-8df2-f40490b23b3c",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "key": "5019de6a-7495-41ab-9087-3381026f51b5",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "key": "9b85e7dd-f414-4019-8fb2-5b3dcdc99450",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "key": "17d9c7e1-addf-446e-9236-70749f448d3e",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "4de6c7c8-bc4c-4342-ad99-59ac0b535ceb",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "33c3c154-b1ed-4a5e-a2b8-e37371b67a0d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "71c7d35b-6bda-4fd1-8df2-f40490b23b3c",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "4de6c7c8-bc4c-4342-ad99-59ac0b535ceb",
        "contentUdi": null,
        "settingsKey": "5019de6a-7495-41ab-9087-3381026f51b5",
        "settingsUdi": null
      },
      {
        "contentKey": "71c7d35b-6bda-4fd1-8df2-f40490b23b3c",
        "contentUdi": null,
        "settingsKey": "17d9c7e1-addf-446e-9236-70749f448d3e",
        "settingsUdi": null
      },
      {
        "contentKey": "33c3c154-b1ed-4a5e-a2b8-e37371b67a0d",
        "contentUdi": null,
        "settingsKey": "9b85e7dd-f414-4019-8fb2-5b3dcdc99450",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </govukBlocks>
    <gridBlocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "25702e9e-d0a1-4fbc-acbf-f740fb8bebad",
      "key": "03738fad-f0a9-432b-ae5a-9d3b91f7f742",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "This is the title of the video"
        },
        {
          "alias": "transcriptUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "url",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://youtu.be/tTQiv1xKVM4"
        }
      ]
    },
    {
      "contentTypeKey": "650d7119-e9cf-4c26-a08c-21cf2ffbbbbc",
      "key": "e7655538-ca10-4ebc-8331-c9a082fabb13",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "25702e9e-d0a1-4fbc-acbf-f740fb8bebad",
      "key": "f510b4e6-1875-41b2-9408-8fb9c8e94142",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Master trusts conference by The Pensions Regulator"
        },
        {
          "alias": "transcriptUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Custom transcript link",
              "target": "_blank",
              "unique": null,
              "type": null,
              "udi": null,
              "url": "/youtube-video/youtube-video-transcript/",
              "queryString": null
            }
          ]
        },
        {
          "alias": "url",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.youtube.com/watch?v=tTQiv1xKVM4"
        }
      ]
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "key": "26d7be5d-4862-4ef8-9fc2-96495501d377",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EVideos will adapt to the size of their container, therefore they work in a multi-column layout using the block grid.\u003C/p\u003E\n\u003Cp\u003EIf a transcript is available it can be linked from under the video.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "61baed41-7e14-4615-af1e-0150c6d0a15f",
      "key": "cd95b933-2fda-432a-9888-8a50c0ec1e34",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "25702e9e-d0a1-4fbc-acbf-f740fb8bebad",
      "key": "17ef038e-8571-4feb-a740-cf41ff6693a6",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Master Trusts conference by The Pensions Regulator"
        },
        {
          "alias": "transcriptUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": null,
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/a1977cdd2f0e4b66a4c0126d3e77cfd6",
              "url": null,
              "queryString": null
            }
          ]
        },
        {
          "alias": "url",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.youtube.com/watch?v=tTQiv1xKVM4"
        }
      ]
    },
    {
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "key": "c9de046e-de32-4f81-8f96-54c2bde0513b",
      "udi": null,
      "values": [
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Example application in Umbraco"
        }
      ]
    },
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "key": "06cf8ca5-64f5-4dff-8c48-12466ff38757",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "key": "da7f97e6-3661-42a9-bcfc-29e6edd4e5ee",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EVideos can be added to the block grid or block list and are displayed using the\u00A0\u003Ca href=\u0022https://support.google.com/youtube/answer/171780\u0022\u003Eofficial YouTube player in privacy-enhanced mode\u003C/a\u003E.\u003C/p\u003E\n\u003Cp\u003EVideos can be set to auto-play, but it should be avoided as it \u003Ca href=\u0022https://abilitynet.org.uk/news-blogs/why-autoplay-accessibility-issue\u0022\u003Ecreates accessibility problems and uses unnecessary bandwidth\u003C/a\u003E.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "c16e9365-c4a5-471d-9412-f617fbdd0bc5",
      "key": "ade3dc52-9e93-4aa6-8546-6ca0660fbd32",
      "udi": null,
      "values": [
        {
          "alias": "autoplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "playsInline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "53edb934-ee79-4ff0-b23a-84b91e9fef7a",
      "key": "6310a695-359b-46b9-bcaf-7fcf780539be",
      "udi": null,
      "values": [
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "stackColumns",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "c16e9365-c4a5-471d-9412-f617fbdd0bc5",
      "key": "cca67aa5-98d1-4fc6-86a3-d9547ac0fbdb",
      "udi": null,
      "values": [
        {
          "alias": "autoplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "playsInline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "key": "63bd6256-00c2-4ff0-9980-4e51c6715bc0",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "7c697ad4-e2f8-4aab-857e-fb1b26c2a295",
      "key": "6395e518-058a-48c9-82e5-5602b97e9c4d",
      "udi": null,
      "values": [
        {
          "alias": "backgroundColour",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "value": "ededed",
            "label": "Grey",
            "sortOrder": 0,
            "id": "1"
          }
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "styleOfBox",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Full-width"
        }
      ]
    },
    {
      "contentTypeKey": "c16e9365-c4a5-471d-9412-f617fbdd0bc5",
      "key": "6af48ec1-c314-4916-aef6-2dd587e84536",
      "udi": null,
      "values": [
        {
          "alias": "autoplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "playsInline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "key": "87f2e0a6-255d-452e-be82-a4dfc4a70728",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "key": "36f30e9f-1c2e-4c8e-bd9b-80988b4454f6",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClasses",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "key": "06401436-3826-4e0f-aad6-19b1569c1866",
      "udi": null,
      "values": [
        {
          "alias": "columnSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "columnSizeFromDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "cssClassesForRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "03738fad-f0a9-432b-ae5a-9d3b91f7f742",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e7655538-ca10-4ebc-8331-c9a082fabb13",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f510b4e6-1875-41b2-9408-8fb9c8e94142",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "26d7be5d-4862-4ef8-9fc2-96495501d377",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "cd95b933-2fda-432a-9888-8a50c0ec1e34",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "17ef038e-8571-4feb-a740-cf41ff6693a6",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c9de046e-de32-4f81-8f96-54c2bde0513b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "06cf8ca5-64f5-4dff-8c48-12466ff38757",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "da7f97e6-3661-42a9-bcfc-29e6edd4e5ee",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "c9de046e-de32-4f81-8f96-54c2bde0513b",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "87f2e0a6-255d-452e-be82-a4dfc4a70728",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "06cf8ca5-64f5-4dff-8c48-12466ff38757",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "36f30e9f-1c2e-4c8e-bd9b-80988b4454f6",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "da7f97e6-3661-42a9-bcfc-29e6edd4e5ee",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "06401436-3826-4e0f-aad6-19b1569c1866",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "03738fad-f0a9-432b-ae5a-9d3b91f7f742",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "ade3dc52-9e93-4aa6-8546-6ca0660fbd32",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 8,
                "contentKey": "26d7be5d-4862-4ef8-9fc2-96495501d377",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "63bd6256-00c2-4ff0-9980-4e51c6715bc0",
                "settingsUdi": null
              }
            ],
            "key": "f9f886b0-6d10-4069-9794-59374034c82e"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 4,
                "contentKey": "f510b4e6-1875-41b2-9408-8fb9c8e94142",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "cca67aa5-98d1-4fc6-86a3-d9547ac0fbdb",
                "settingsUdi": null
              }
            ],
            "key": "4793beea-bd0a-4e5e-b20e-069b90ab4df2"
          }
        ],
        "columnSpan": 12,
        "contentKey": "e7655538-ca10-4ebc-8331-c9a082fabb13",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "6310a695-359b-46b9-bcaf-7fcf780539be",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "17ef038e-8571-4feb-a740-cf41ff6693a6",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "6af48ec1-c314-4916-aef6-2dd587e84536",
                "settingsUdi": null
              }
            ],
            "key": "b50dd71c-b7a2-408b-9d23-10d5752470bf"
          }
        ],
        "columnSpan": 12,
        "contentKey": "cd95b933-2fda-432a-9888-8a50c0ec1e34",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "6395e518-058a-48c9-82e5-5602b97e9c4d",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </gridBlocks>
    <headingScaleStart>
      <Value><![CDATA[]]></Value>
    </headingScaleStart>
  </Properties>
</Content>