<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2f0a42f1-fcc5-4ac1-9250-9696744f6a38" Alias="Documents" Level="1">
  <Info>
    <Name>TPR Documents</Name>
    <Icon>icon-documents color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Documents</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1e57996b-bc06-436d-a1ec-1d3554a61f6f">documents</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>04b90fc3-3485-4f94-867d-6225ff2485ef</Key>
      <Name>Grid</Name>
      <Alias>grid</Alias>
      <Definition>55bb40bf-54f9-4964-829f-cb0d2928cb08</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>5883c109-ed33-45f7-b896-ae84d5245c88</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>