<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d1d8446c-7671-441d-88b0-ff8c0f05cc90" Alias="page" Level="1">
  <Info>
    <Name>Page</Name>
    <Icon>icon-document color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>page</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3c351b02-40b4-4d66-ae89-e8bccc414f83">page</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e1b2c54e-11b8-4978-a3f9-6e9ad8e19fd0</Key>
      <Name>blockGrid</Name>
      <Alias>blockGrid</Alias>
      <Definition>55bb40bf-54f9-4964-829f-cb0d2928cb08</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3cadb0ff-52eb-4b1e-b93d-a42ef4429979</Key>
      <Name>blockList</Name>
      <Alias>blockList</Alias>
      <Definition>70bdfe65-e491-413b-8161-c4e1ec33367b</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1452e88b-fefd-4549-818c-d6c648e5f150</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>