<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a9877fc7-b5d3-4097-ab30-8d9d7c4bcb66" Alias="timeline" Level="1">
  <Info>
    <Name>Timeline</Name>
    <Icon>icon-calendar-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Timeline</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="afbbce2c-b3c6-4c01-9b57-6c601c97a27d">Timeline</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>