<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ef4778c1-2ecd-4ee7-ab2e-a944498d230e" Alias="tprAddressLookupSettings" Level="2">
  <Info>
    <Name>Address lookup settings</Name>
    <Icon>icon-addressbook</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Settings for a TPR component to lookup an address. If JavaScript is unavailable, text inputs are shown for manual entry</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>TPR</Folder>
    <Compositions>
      <Composition Key="bf69e8d6-97a6-4b50-bec7-c5993e120339">govukCssClasses</Composition>
      <Composition Key="d508995b-a958-4273-8ab3-50735220a1b2">govukGrid</Composition>
      <Composition Key="d7016563-0b6f-4c3a-b75d-b0bbe66419fd">govukGridColumnClasses</Composition>
      <Composition Key="23e1a03d-dc42-4318-9e17-d458dde2dba6">govukModelProperty</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e3b4ad29-975c-4047-a3d6-ffe2331364ba</Key>
      <Name>Address line 1 max length error message</Name>
      <Alias>addressLine1MaxLengthErrorMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overrides the 'Address lookup - address line 1 max length error message' dictionary item. Defaults to 'Address line 1 must be 100 characters or less' if both are blank.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="addressLine1ErrorMessages">Address line 1 error messages</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5587422a-e50e-4772-9f69-5d3a6bf80841</Key>
      <Name>Address line 1 required error message</Name>
      <Alias>addressLine1RequiredErrorMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overrides the 'Address lookup - address line 1 required error message' dictionary item. Defaults to 'Enter address line 1' if both are blank.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="addressLine1ErrorMessages">Address line 1 error messages</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6822eace-21e9-4bf6-889e-db90226df642</Key>
      <Name>Address line 2 max length error message</Name>
      <Alias>addressLine2MaxLengthErrorMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overrides the 'Address lookup - address line 2 max length error message' dictionary item. Defaults to 'Address line 2 must be 100 characters or less' if both are blank.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="addressLine2ErrorMessages">Address line 2 error messages</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>86af7d8e-8fd9-4da1-a415-bc7ad366b212</Key>
      <Name>Address line 3 max length error message</Name>
      <Alias>addressLine3MaxLengthErrorMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overrides the 'Address lookup - address line 3 max length error message' dictionary item. Defaults to 'Address line 3 must be 100 characters or less' if both are blank.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="addressLine3ErrorMessages">Address line 3 error messages</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>eab84cab-cf66-4556-9632-1122f7bf7b3a</Key>
      <Name>County max length error message</Name>
      <Alias>countyMaxLengthErrorMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overrides the 'Address lookup - county max length error message' dictionary item. Defaults to 'County must be 100 characters or less' if both are blank.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="countyErrorMessages">County error messages</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>49b7fe69-1f19-41c1-9999-c5c72fd03466</Key>
      <Name>Post town max length error message</Name>
      <Alias>postTownMaxLengthErrorMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overrides the 'Address lookup - post town max length error message' dictionary item. Defaults to 'Town or city must be 100 characters or less' if both are blank.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="postTownErrorMessages">Post town error messages</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>76472800-6f1e-4641-a5b5-5d9edc7f1984</Key>
      <Name>Post town required error message</Name>
      <Alias>postTownRequiredErrorMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overrides the 'Address lookup - post town required error message' dictionary item. Defaults to 'Enter town or city' if both are blank.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="postTownErrorMessages">Post town error messages</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5d7a2756-04b1-4289-be0d-da5c7973d1cf</Key>
      <Name>County state province max length error message</Name>
      <Alias>countyStateProvinceMaxLengthErrorMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation />
      <Description><![CDATA[Overrides the 'Address lookup - county state province max length error message' dictionary item. Defaults to 'County, state or province must be 100 characters or less' if both are blank.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="countyStateProvinceErrorMessages">County, state or province error messages</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5b23bd13-0735-48c6-aa8b-da1a3c11bc61</Key>
      <Name>Postcode required error message</Name>
      <Alias>postcodeRequiredErrorMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation />
      <Description><![CDATA[Overrides the 'Address lookup - postcode required error message' dictionary item. Defaults to 'Enter postcode' if both are blank.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="postcodeErrorMessages">Postcode error messages</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>435dedf7-9a18-4b97-a05b-5e6bfd81d391</Key>
      <Name>Postcode max length error message</Name>
      <Alias>postcodeMaxLengthErrorMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation />
      <Description><![CDATA[Overrides the 'Address lookup - postcode max length error message' dictionary item. Defaults to 'Postcode must be 100 characters or less' if both are blank.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="postcodeErrorMessages">Postcode error messages</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>67d41dc5-840e-4eab-9af8-88b443502b93</Key>
      <Name>Postcode pattern error message</Name>
      <Alias>postcodePatternErrorMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation />
      <Description><![CDATA[Overrides the 'Address lookup - postcode pattern error message' dictionary item. Defaults to 'Enter a valid postcode' if both are blank.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="postcodeErrorMessages">Postcode error messages</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>947f8d15-7952-4d5d-a621-d0c511e4b7a9</Key>
      <Name>Country required error message</Name>
      <Alias>countryRequiredErrorMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation />
      <Description><![CDATA[Overrides the 'Address lookup - country required error message' dictionary item. Defaults to 'Select a country' if both are blank.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="countryErrorMessages">Country error messages</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>55e71f1e-deec-4c6b-b4ae-12e7c1f2465e</Key>
      <Name>Address not found message</Name>
      <Alias>addressNotFoundMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation />
      <Description><![CDATA[Overrides the 'Address lookup - address not found message' dictionary item. Defaults to 'We could not find any addresses for this postcode' if both are blank.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="searchErrorMessages">Search error messages</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9ce8cbea-941a-4597-85c9-c3e4e3558e0b</Key>
      <Name>Service unavailable message</Name>
      <Alias>serviceUnavailableMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation />
      <Description><![CDATA[Overrides the 'Address lookup - service unavailable message' dictionary item. Defaults to 'The address lookup service is currently unavailable' if both are blank.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="searchErrorMessages">Search error messages</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>44737b72-6c20-4353-ae25-1df1e38c262f</Key>
      <Name>Search not confirmed error message</Name>
      <Alias>searchNotConfirmedErrorMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation />
      <Description><![CDATA[Overrides the 'Address lookup - search not confirmed error message' dictionary item. Defaults to 'Find and confirm an address before continuing' if both are blank.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="searchErrorMessages">Search error messages</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>af71208d-611c-4ab7-b00f-50b30686990d</Key>
      <Name>Address select error message</Name>
      <Alias>addressSelectErrorMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation />
      <Description><![CDATA[Overrides the 'Address lookup - address select error message' dictionary item. Defaults to 'Select an address to continue' if both are blank.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="resultsErrorMessages">Results error messages</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4cb0111e-c615-45d6-a6e4-2e887319debe</Key>
      <Name>Results not confirmed error message</Name>
      <Alias>resultsNotConfirmedErrorMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation />
      <Description><![CDATA[Overrides the 'Address lookup - results not confirmed error message' dictionary item. Defaults to 'Select and confirm an address before continuing' if both are blank.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="resultsErrorMessages">Results error messages</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>988e3e96-170e-4712-b08f-d95b2218fbd9</Key>
      <Name>UK manual entry not confirmed error message</Name>
      <Alias>ukManualEntryNotConfirmedErrorMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation />
      <Description><![CDATA[Overrides the 'Address lookup - UK manual entry not confirmed error message' dictionary item. Defaults to 'Enter and confirm an address before continuing' if both are blank.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="ukManualEntryErrorMessages">UK manual entry error messages</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1ec59d8a-d999-4bf1-b15b-0ce43cba0165</Key>
      <Name>International manual entry not confirmed error message</Name>
      <Alias>internationalManualEntryNotConfirmedErrorMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation />
      <Description><![CDATA[Overrides the 'Address lookup - international manual entry not confirmed error message' dictionary item. Defaults to 'Enter and confirm an international address before continuing' if both are blank.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="internationalManualEntryErrorMessages">International manual entry error messages</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>07e86803-8126-4c05-8994-0146b550c36f</Key>
      <Caption>Address line 3 error messages</Caption>
      <Alias>addressLine3ErrorMessages</Alias>
      <Type>Group</Type>
      <SortOrder>5</SortOrder>
    </Tab>
    <Tab>
      <Key>3d4ad4af-80ab-4f1d-93b4-c0663c7afdaf</Key>
      <Caption>County error messages</Caption>
      <Alias>countyErrorMessages</Alias>
      <Type>Group</Type>
      <SortOrder>7</SortOrder>
    </Tab>
    <Tab>
      <Key>80228352-5b48-4d3e-8010-0d88595d9c62</Key>
      <Caption>Post town error messages</Caption>
      <Alias>postTownErrorMessages</Alias>
      <Type>Group</Type>
      <SortOrder>6</SortOrder>
    </Tab>
    <Tab>
      <Key>b365815d-8e54-4fd0-88e9-4861569f6bf2</Key>
      <Caption>Address line 2 error messages</Caption>
      <Alias>addressLine2ErrorMessages</Alias>
      <Type>Group</Type>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Key>f48e3344-af6e-4779-8310-68fde89c9a12</Key>
      <Caption>Address line 1 error messages</Caption>
      <Alias>addressLine1ErrorMessages</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>a21ea202-866c-4327-8306-91c9499b4301</Key>
      <Caption>County, state or province error messages</Caption>
      <Alias>countyStateProvinceErrorMessages</Alias>
      <Type>Group</Type>
      <SortOrder>8</SortOrder>
    </Tab>
    <Tab>
      <Key>a21ea202-866c-4327-8306-91c9499b4302</Key>
      <Caption>Postcode error messages</Caption>
      <Alias>postcodeErrorMessages</Alias>
      <Type>Group</Type>
      <SortOrder>9</SortOrder>
    </Tab>
    <Tab>
      <Key>a21ea202-866c-4327-8306-91c9499b4303</Key>
      <Caption>Country error messages</Caption>
      <Alias>countryErrorMessages</Alias>
      <Type>Group</Type>
      <SortOrder>10</SortOrder>
    </Tab>
    <Tab>
      <Key>a21ea202-866c-4327-8306-91c9499b4304</Key>
      <Caption>Search error messages</Caption>
      <Alias>searchErrorMessages</Alias>
      <Type>Group</Type>
      <SortOrder>11</SortOrder>
    </Tab>
    <Tab>
      <Key>a21ea202-866c-4327-8306-91c9499b4305</Key>
      <Caption>Results error messages</Caption>
      <Alias>resultsErrorMessages</Alias>
      <Type>Group</Type>
      <SortOrder>12</SortOrder>
    </Tab>
    <Tab>
      <Key>a21ea202-866c-4327-8306-91c9499b4306</Key>
      <Caption>UK manual entry error messages</Caption>
      <Alias>ukManualEntryErrorMessages</Alias>
      <Type>Group</Type>
      <SortOrder>13</SortOrder>
    </Tab>
    <Tab>
      <Key>a21ea202-866c-4327-8306-91c9499b4307</Key>
      <Caption>International manual entry error messages</Caption>
      <Alias>internationalManualEntryErrorMessages</Alias>
      <Type>Group</Type>
      <SortOrder>14</SortOrder>
    </Tab>
  </Tabs>
</ContentType>