<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3906fa4d-51ab-4d27-ac46-8f64ef6841e8" Alias="tprAddressLookup" Level="2">
  <Info>
    <Name>Address lookup</Name>
    <Icon>icon-addressbook</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A TPR component to lookup an address.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>TPR</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>5ee2a9e4-da2b-4740-91cf-07c49d1e76fa</Key>
      <Name>Address line 1 label</Name>
      <Alias>addressLine1Label</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overrides the 'Address lookup - address line 1 label' dictionary item. Defaults to 'Address line 1' if both are blank.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="addressFields">Address fields</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e2e01c47-5410-44b7-ae1b-c424acff7958</Key>
      <Name>Address line 1 max length error message</Name>
      <Alias>addressLine1MaxLengthErrorMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overrides the 'Address lookup - address line 1 max length error message' dictionary item. Defaults to 'Address line 1 must be 100 characters or less' if both are blank.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="addressFields">Address fields</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9c0b5ca5-0ba5-4725-8514-5fba9e5dc20a</Key>
      <Name>Address line 1 required error message</Name>
      <Alias>addressLine1RequiredErrorMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overrides the 'Address lookup - address line 1 required error message' dictionary item. Defaults to 'Enter address line 1' if both are blank.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="addressFields">Address fields</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e8cbec54-96dc-4b93-98db-9cf1f2292dd7</Key>
      <Name>Address line 2 label</Name>
      <Alias>addressLine2Label</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overrides the 'Address lookup - address line 2 label' dictionary item. Defaults to 'Address line 2' if both are blank.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="addressFields">Address fields</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5c5fbe19-cf0c-4dc5-babd-84db25f23e8c</Key>
      <Name>Address line 2 max length error message</Name>
      <Alias>addressLine2MaxLengthErrorMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overrides the 'Address lookup - address line 2 max length error message' dictionary item. Defaults to 'Address line 2 must be 100 characters or less' if both are blank.]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="addressFields">Address fields</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cc5bc22d-3cda-4879-be9c-aa2f96dc5d9d</Key>
      <Name>Address line 3 label</Name>
      <Alias>addressLine3Label</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overrides the 'Address lookup - address line 3 label' dictionary item. Defaults to 'Address line 3' if both are blank.]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="addressFields">Address fields</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>98b36619-0dca-4fab-9067-dffc57265bf9</Key>
      <Name>Address line 3 max length error message</Name>
      <Alias>addressLine3MaxLengthErrorMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overrides the 'Address lookup - address line 3 max length error message' dictionary item. Defaults to 'Address line 3 must be 100 characters or less' if both are blank.]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="addressFields">Address fields</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0b97ed32-19eb-4b14-b13d-f6b9622ab395</Key>
      <Name>Address lookup hint</Name>
      <Alias>addressLookupHint</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overrides the 'Address lookup - hint' dictionary item. Defaults to 'Enter a building name or number and postcode to find your address' if both are blank.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="addressFields">Address fields</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d04a9cd5-8400-43c5-a0c4-4a0e81a205ef</Key>
      <Name>Address lookup legend</Name>
      <Alias>addressLookupLegend</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overrides the 'Address lookup - legend' dictionary item. Defaults to 'Address lookup' if both are blank.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="addressFields">Address fields</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>55e71f1e-deec-4c6b-b4ae-12e7c1f2465e</Key>
      <Name>Address not found message</Name>
      <Alias>addressNotFoundMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overrides the 'Address lookup - address not found message' dictionary item. Defaults to 'We could not find any addresses for this postcode' if both are blank.]]></Description>
      <SortOrder>30</SortOrder>
      <Tab Alias="search">Search</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b6c269f8-1af4-427e-925d-848495959c04</Key>
      <Name>Address select label</Name>
      <Alias>addressSelectLabel</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overrides the 'Address lookup - address select label' dictionary item. Defaults to 'Select an address' if both are blank.]]></Description>
      <SortOrder>33</SortOrder>
      <Tab Alias="results">Results</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a5f6c140-6b69-42d1-a558-59dffa99f244</Key>
      <Name>Back to postcode search label</Name>
      <Alias>backToPostcodeSearchLabel</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overrides the 'Address lookup - back to postcode search label' dictionary item. Defaults to 'Back to postcode search' if both are blank.]]></Description>
      <SortOrder>35</SortOrder>
      <Tab Alias="results">Results</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b15c955d-5c6f-4bc9-a197-7395d1b2d2d2</Key>
      <Name>Building name or number label</Name>
      <Alias>buildingNameOrNumberLabel</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overrides the 'Address lookup - building name or number label' dictionary item. Defaults to 'Building name or number' if both are blank.]]></Description>
      <SortOrder>23</SortOrder>
      <Tab Alias="addressFields">Address fields</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f892c26a-9252-454e-b4e1-d4fc7aa91cb1</Key>
      <Name>Change address label</Name>
      <Alias>changeAddressLabel</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overrides the 'Address lookup - change address label' dictionary item. Defaults to 'Change address' if both are blank.]]></Description>
      <SortOrder>37</SortOrder>
      <Tab Alias="confirmed">Confirmed</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>95ba6fc5-4f65-4ba7-afbb-b5d2e08c14e8</Key>
      <Name>Confirm address label</Name>
      <Alias>confirmAddressLabel</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overrides the 'Address lookup - confirm address label' dictionary item. Defaults to 'Confirm address' if both are blank.]]></Description>
      <SortOrder>34</SortOrder>
      <Tab Alias="results">Results</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9ef174e6-4e7a-4f6b-920e-2f6e84b6ea2f</Key>
      <Name>Country label</Name>
      <Alias>countryLabel</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overrides the 'Address lookup - country label' dictionary item. Defaults to 'Country' if both are blank.]]></Description>
      <SortOrder>20</SortOrder>
      <Tab Alias="addressFields">Address fields</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>947f8d15-7952-4d5d-a621-d0c511e4b7a9</Key>
      <Name>Country required error message</Name>
      <Alias>countryRequiredErrorMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overrides the 'Address lookup - country required error message' dictionary item. Defaults to 'Select a country' if both are blank.]]></Description>
      <SortOrder>22</SortOrder>
      <Tab Alias="addressFields">Address fields</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ceb58ffb-1123-48bb-a854-242a855e4992</Key>
      <Name>Country select placeholder</Name>
      <Alias>countrySelectPlaceholder</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Override the 'Address lookup - country select placeholder' dictionary item. Defauls to 'Select a country' if both are blank.]]></Description>
      <SortOrder>21</SortOrder>
      <Tab Alias="addressFields">Address fields</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5364b32c-1146-49dc-aa44-30cef9be534e</Key>
      <Name>County label</Name>
      <Alias>countyLabel</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overrides the 'Address lookup - county label' dictionary item. Defaults to 'County' if both are blank.]]></Description>
      <SortOrder>12</SortOrder>
      <Tab Alias="addressFields">Address fields</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1d27708e-83c8-4338-8dda-fc001d0868d1</Key>
      <Name>County max length error message</Name>
      <Alias>countyMaxLengthErrorMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overrides the 'Address lookup - county max length error message' dictionary item. Defaults to 'County must be 100 characters or less' if both are blank.]]></Description>
      <SortOrder>13</SortOrder>
      <Tab Alias="addressFields">Address fields</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>46cedfb2-9094-45da-9535-8b8cb58fceb5</Key>
      <Name>County state province label</Name>
      <Alias>countyStateProvinceLabel</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overrides the 'Address lookup - county state province label' dictionary item. Defaults to 'County, state or province' if both are blank.]]></Description>
      <SortOrder>14</SortOrder>
      <Tab Alias="addressFields">Address fields</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5d7a2756-04b1-4289-be0d-da5c7973d1cf</Key>
      <Name>County state province max length error message</Name>
      <Alias>countyStateProvinceMaxLengthErrorMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overrides the 'Address lookup - county state province max length error message' dictionary item. Defaults to 'County, state or province must be 100 characters or less' if both are blank.]]></Description>
      <SortOrder>15</SortOrder>
      <Tab Alias="addressFields">Address fields</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>dad1c967-8711-49db-9c66-c58f48154af2</Key>
      <Name>Find address button</Name>
      <Alias>findAddressButton</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overrides the 'Address lookup - find address button' dictionary item. Defaults to 'Find address' if both are blank.]]></Description>
      <SortOrder>29</SortOrder>
      <Tab Alias="search">Search</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4204dfe6-45b5-4a62-8bc9-4b3c7622a58b</Key>
      <Name>International manual entry label</Name>
      <Alias>internationalManualEntryLabel</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overrides the 'Address lookup - international manual entry label' dictionary item. Defaults to 'Enter an international address' if both are blank.]]></Description>
      <SortOrder>25</SortOrder>
      <Tab Alias="manualEntry">Manual entry</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>41e2f831-aa0f-4393-9238-66b72e614c81</Key>
      <Name>International manual entry legend</Name>
      <Alias>internationalManualEntryLegend</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overrides the 'Address lookup - international manual entry legend' dictionary item. Defaults to 'Enter your international address' if both are blank.]]></Description>
      <SortOrder>26</SortOrder>
      <Tab Alias="manualEntry">Manual entry</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1ec59d8a-d999-4bf1-b15b-0ce43cba0165</Key>
      <Name>International manual entry not confirmed error message</Name>
      <Alias>internationalManualEntryNotConfirmedErrorMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overrides the 'Address lookup - international manual entry not confirmed error message' dictionary item. Defaults to 'Enter and confirm an international address before continuing' if both are blank.]]></Description>
      <SortOrder>28</SortOrder>
      <Tab Alias="manualEntry">Manual entry</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>388760fa-1a1e-4fb2-ba7e-8b8909d18d3f</Key>
      <Name>Postcode label</Name>
      <Alias>postcodeLabel</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overrides the 'Address lookup - postcode label' dictionary item. Defaults to 'Postcode' if both are blank.]]></Description>
      <SortOrder>16</SortOrder>
      <Tab Alias="addressFields">Address fields</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>435dedf7-9a18-4b97-a05b-5e6bfd81d391</Key>
      <Name>Postcode max length error message</Name>
      <Alias>postcodeMaxLengthErrorMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overrides the 'Address lookup - postcode max length error message' dictionary item. Defaults to 'Postcode must be 100 characters or less' if both are blank.]]></Description>
      <SortOrder>18</SortOrder>
      <Tab Alias="addressFields">Address fields</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>67d41dc5-840e-4eab-9af8-88b443502b93</Key>
      <Name>Postcode pattern error message</Name>
      <Alias>postcodePatternErrorMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overrides the 'Address lookup - postcode pattern error message' dictionary item. Defaults to 'Enter a valid postcode' if both are blank.]]></Description>
      <SortOrder>19</SortOrder>
      <Tab Alias="addressFields">Address fields</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5b23bd13-0735-48c6-aa8b-da1a3c11bc61</Key>
      <Name>Postcode required error message</Name>
      <Alias>postcodeRequiredErrorMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overrides the 'Address lookup - postcode required error message' dictionary item. Defaults to 'Enter postcode' if both are blank.]]></Description>
      <SortOrder>17</SortOrder>
      <Tab Alias="addressFields">Address fields</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>afe1ff6a-7ca5-405a-b5fa-00ce1412e9c4</Key>
      <Name>Post town label</Name>
      <Alias>postTownLabel</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overrides the 'Address lookup - post town label' dictionary item. Defaults to 'Town or city' if both are blank.]]></Description>
      <SortOrder>9</SortOrder>
      <Tab Alias="addressFields">Address fields</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1eba4726-66a9-4f58-aaaa-afda8f0b32aa</Key>
      <Name>Post town max length error message</Name>
      <Alias>postTownMaxLengthErrorMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overrides the 'Address lookup - post town max length error message' dictionary item. Defaults to 'Town or city must be 100 characters or less' if both are blank.]]></Description>
      <SortOrder>11</SortOrder>
      <Tab Alias="addressFields">Address fields</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d8de7274-d351-4415-835a-d86eb2213d45</Key>
      <Name>Post town required error message</Name>
      <Alias>postTownRequiredErrorMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overrides the 'Address lookup - post town required error message' dictionary item. Defaults to 'Enter town or city' if both are blank.]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="addressFields">Address fields</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4cb0111e-c615-45d6-a6e4-2e887319debe</Key>
      <Name>Results not confirmed error message</Name>
      <Alias>resultsNotConfirmedErrorMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overrides the 'Address lookup - results not confirmed error message' dictionary item. Defaults to 'Select and confirm an address before continuing' if both are blank.]]></Description>
      <SortOrder>36</SortOrder>
      <Tab Alias="results">Results</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>44737b72-6c20-4353-ae25-1df1e38c262f</Key>
      <Name>Search not confirmed error message</Name>
      <Alias>searchNotConfirmedErrorMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overrides the 'Address lookup - search not confirmed error message' dictionary item. Defaults to 'Find and confirm an address before continuing' if both are blank.]]></Description>
      <SortOrder>32</SortOrder>
      <Tab Alias="search">Search</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9ce8cbea-941a-4597-85c9-c3e4e3558e0b</Key>
      <Name>Service unavailable message</Name>
      <Alias>serviceUnavailableMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overrides the 'Address lookup - service unavailable message' dictionary item. Defaults to 'The address lookup service is currently unavailable' if both are blank.]]></Description>
      <SortOrder>31</SortOrder>
      <Tab Alias="search">Search</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>833d5831-6c34-4101-b406-7eed586d378a</Key>
      <Name>UK manual entry legend</Name>
      <Alias>ukManualEntryLegend</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overrides the 'Address lookup - UK manual entry legend' dictionary item. Defaults to 'Enter your address' if both are blank.]]></Description>
      <SortOrder>24</SortOrder>
      <Tab Alias="manualEntry">Manual entry</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>30245721-6db1-4603-86a2-e91385a97f59</Key>
      <Name>UK manual entry link label</Name>
      <Alias>ukManualEntryLinkLabel</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overrides the 'Address lookup - UK manual entry link label' dictionary item. Defaults to 'Enter address manually' if both are blank.]]></Description>
      <SortOrder>23</SortOrder>
      <Tab Alias="manualEntry">Manual entry</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>988e3e96-170e-4712-b08f-d95b2218fbd9</Key>
      <Name>UK manual entry not confirmed error message</Name>
      <Alias>ukManualEntryNotConfirmedErrorMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overrides the 'Address lookup - UK manual entry not confirmed error message' dictionary item. Defaults to 'Enter and confirm an address before continuing' if both are blank.]]></Description>
      <SortOrder>27</SortOrder>
      <Tab Alias="manualEntry">Manual entry</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>af71208d-611c-4ab7-b00f-50b30686990d</Key>
      <Name>Address select error message</Name>
      <Alias>addressSelectErrorMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overrides the 'Address lookup - address select error message' dictionary item. Defaults to 'Select an address to continue' if both are blank.]]></Description>
      <SortOrder>37</SortOrder>
      <Tab Alias="results">Results</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>5b2f79e6-02d7-435d-b06e-fe1e3325fefb</Key>
      <Caption>Address fields</Caption>
      <Alias>addressFields</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>8c872527-d67d-41ae-9bcb-4689e4a81d6e</Key>
      <Caption>Search</Caption>
      <Alias>search</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>c38c27d7-3fcc-4b3b-801a-c5b1b37e8f7a</Key>
      <Caption>Confirmed</Caption>
      <Alias>confirmed</Alias>
      <Type>Group</Type>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Key>d9d337e1-9f76-4ede-a1f9-7f24caef38a3</Key>
      <Caption>Manual entry</Caption>
      <Alias>manualEntry</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>f4df4b8b-6b6e-41ea-b7a2-21776bb6b1bb</Key>
      <Caption>Results</Caption>
      <Alias>results</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</ContentType>