<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c16e9365-c4a5-471d-9412-f617fbdd0bc5" Alias="tprYouTubeVideoSettings" Level="2">
  <Info>
    <Name>YouTube video settings</Name>
    <Icon>icon-play color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Settings for a YouTube video using the official YouTube player.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>TPR</Folder>
    <Compositions>
      <Composition Key="bf69e8d6-97a6-4b50-bec7-c5993e120339">govukCssClasses</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d25f1809-cc4c-4e98-b157-fc191dc3922a</Key>
      <Name>Autoplay</Name>
      <Alias>autoplay</Alias>
      <Definition>47d84fa3-aa75-4ed2-b3ed-44b2d635c2d6</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Automatically plays the video when the page loads.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2af2add3-6dc2-4d08-957e-6fa4f7d35ccd</Key>
      <Name>Heading class</Name>
      <Alias>headingClass</Alias>
      <Definition>6ffa4d83-3f52-4c27-abb2-8b85d8232f4b</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Set the font size of the heading from a range of classes. Defaults to 'govuk-heading-m' if left blank.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2bcc168f-f8ef-41f5-a5a7-fe7e622912f8</Key>
      <Name>Heading level</Name>
      <Alias>headingLevel</Alias>
      <Definition>bf46970f-49ed-4e4d-92bd-979826e301ec</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Set the heading level for your text. Defaults to H2 if left blank.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6bede0f3-ec22-45d5-916f-cda1f010a715</Key>
      <Name>Plays inline</Name>
      <Alias>playsInline</Alias>
      <Definition>f4a1d43c-49f0-4d33-9a4b-8327e6cb0986</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Play the video within the page (applies to iOS devices only).]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>9ae471ea-cd71-4454-bc12-ab5a7402b8ff</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>