<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="059be23a-2049-4a29-88cf-e9bb08f85e3d" Alias="warningText" Level="1">
  <Info>
    <Name>Warning text</Name>
    <Icon>icon-alert color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="086143f0-2a9d-431a-8480-a4e634131f9b">govukPageSettingHeadingSize</Composition>
    </Compositions>
    <DefaultTemplate>WarningText</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f67693f3-de29-4184-b0c2-929452f11e92">WarningText</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>dcafd0e4-420b-4bb1-94ec-f21a9e508475</Key>
      <Name>Blocks</Name>
      <Alias>blocks</Alias>
      <Definition>a806a5c9-78ae-402b-9d65-180672baab96</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>eb140fa0-0816-4203-96b8-b22740ed933c</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>