<?xml version="1.0" encoding="utf-8"?>
<Content Key="ba8e8ade-c4f2-4c58-9087-dcc5d79f168d" Alias="Boxed Section" Level="2">
  <Info>
    <Parent Key="5e682cbe-b867-491a-955f-3382446d5663">Home</Parent>
    <Path>/Home/BoxedSection</Path>
    <Trashed>false</Trashed>
    <ContentType>boxedSection</ContentType>
    <CreateDate>2025-01-15T11:39:29</CreateDate>
    <NodeName Default="Boxed Section" />
    <SortOrder>27</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d4325660-a68b-4eea-bfd2-106c3db9bb8d">BoxedSection</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8fb1d976ced04346abe6f7ef4fc0abaa",
        "settingsUdi": "umb://element/37b2d16a76904151ad73c343d8165e78"
      },
      {
        "contentUdi": "umb://element/7b7a8c491c0a469dafc0ee7f728c0a3e",
        "settingsUdi": "umb://element/8182962085344793a425b23f79dee64a"
      },
      {
        "contentUdi": "umb://element/786c476db40d4d57a1ecca81c80bb7d2",
        "settingsUdi": "umb://element/73bb65b946304d728b766f58d8fbe36f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "udi": "umb://element/8fb1d976ced04346abe6f7ef4fc0abaa",
      "caption": "Example application in Umbraco"
    },
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "udi": "umb://element/7b7a8c491c0a469dafc0ee7f728c0a3e",
      "text": ""
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "udi": "umb://element/786c476db40d4d57a1ecca81c80bb7d2",
      "text": {
        "markup": "<p>The boxed section displays a list of boxes which can be manually added or automatically generated from child nodes.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "udi": "umb://element/37b2d16a76904151ad73c343d8165e78",
      "cssClasses": "",
      "cssClassesForRow": "",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "cssClassesForColumn": ""
    },
    {
      "contentTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "udi": "umb://element/8182962085344793a425b23f79dee64a",
      "cssClasses": "",
      "cssClassesForRow": "",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "cssClassesForColumn": ""
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "udi": "umb://element/73bb65b946304d728b766f58d8fbe36f",
      "cssClassesForRow": "",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "cssClassesForColumn": ""
    }
  ]
}]]></Value>
    </blocks>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <gridBlocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "b50dd71c-b7a2-408b-9d23-10d5752470bf",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/9496e7e663a144068bd7ccb690f57c73",
                "settingsUdi": "umb://element/55ed73a5278a4206bb38cec0a5c95d0f"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/2fb4be333401486bbaa2e40e4810e99c",
        "settingsUdi": "umb://element/58a91253d8ce456f964c3edfbafaaa1e"
      },
      {
        "contentUdi": "umb://element/beace57c45c245089c4a634b4adfa91a",
        "settingsUdi": "umb://element/5ea4089d48984f8e9bb00e254e6f5724",
        "areas": [
          {
            "key": "b50dd71c-b7a2-408b-9d23-10d5752470bf",
            "items": [
              {
                "contentUdi": "umb://element/71dac9e54ea84a73b1ccdc3e50e3341a",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "settingsUdi": "umb://element/6337da7f80ce49728d9f9364e0684809"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/fa33c5e834c945578bdaa0401eb105ce",
        "settingsUdi": "umb://element/152f448395e34041b443257b68d51c50",
        "areas": [
          {
            "key": "466b98ba-8154-445d-b2b0-dc51ce5d2c9d",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/d4f13ea2931043e5afd9ee4671e68483",
                "settingsUdi": "umb://element/c2632d23068044d39b599c19475872ce"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/45f52c92db2d4c90a2309a022e63d587",
        "settingsUdi": "umb://element/0fb9ed374ed54ec38e469bce643e8e4e",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "61baed41-7e14-4615-af1e-0150c6d0a15f",
      "udi": "umb://element/beace57c45c245089c4a634b4adfa91a"
    },
    {
      "contentTypeKey": "559cf32c-9e48-4498-9a08-e9c82c57c725",
      "udi": "umb://element/71dac9e54ea84a73b1ccdc3e50e3341a",
      "boxes": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/89294106b0aa440cb10b322342fe3021"
            },
            {
              "contentUdi": "umb://element/d6422619c8ac451a9bfbec0791caf992"
            },
            {
              "contentUdi": "umb://element/562b486041c54089876d187958a8cd85"
            },
            {
              "contentUdi": "umb://element/d2c8a1f94b7246ddb3d716c7dc6a37d8"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "73260d9d-6a32-4791-bda8-6b992526ec9d",
            "udi": "umb://element/d6422619c8ac451a9bfbec0791caf992"
          },
          {
            "contentTypeKey": "fa51167e-c0be-45ec-be60-88487f2d2c73",
            "udi": "umb://element/562b486041c54089876d187958a8cd85",
            "link": [
              {
                "udi": "umb://document/e096f084c4ae4ffb9eef01e8732eee1c"
              }
            ],
            "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae neque ligula. Donec id dapibus nisl. Mauris sollicitudin turpis et ante lacinia, non auctor nibh lacinia. Nullam consectetur lectus lorem, nec scelerisque mi pharetra at. "
          },
          {
            "contentTypeKey": "fa51167e-c0be-45ec-be60-88487f2d2c73",
            "udi": "umb://element/89294106b0aa440cb10b322342fe3021",
            "link": [
              {
                "name": "Employers",
                "url": "https://www.thepensionsregulator.gov.uk/en/employers"
              }
            ],
            "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae neque ligula. Donec id dapibus nisl. Mauris sollicitudin turpis et ante lacinia."
          },
          {
            "contentTypeKey": "fa51167e-c0be-45ec-be60-88487f2d2c73",
            "udi": "umb://element/d2c8a1f94b7246ddb3d716c7dc6a37d8",
            "link": [
              {
                "udi": "umb://document/22a4a3efd9d74129b573ea9a707040b3"
              }
            ],
            "description": ""
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "559cf32c-9e48-4498-9a08-e9c82c57c725",
      "udi": "umb://element/d4f13ea2931043e5afd9ee4671e68483",
      "boxes": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/4cd9d4e34f104be8b1908618fdc4af17"
            },
            {
              "contentUdi": "umb://element/e80da3ab9fa448d0b333db517774a5ad"
            },
            {
              "contentUdi": "umb://element/92a7b3a227ee45d39edf2d257903a2e1"
            },
            {
              "contentUdi": "umb://element/8a1cce055f5a4fc79f7d314e6dac0c78"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "73260d9d-6a32-4791-bda8-6b992526ec9d",
            "udi": "umb://element/e80da3ab9fa448d0b333db517774a5ad"
          },
          {
            "contentTypeKey": "fa51167e-c0be-45ec-be60-88487f2d2c73",
            "udi": "umb://element/92a7b3a227ee45d39edf2d257903a2e1",
            "link": [
              {
                "udi": "umb://document/e096f084c4ae4ffb9eef01e8732eee1c"
              }
            ],
            "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae neque ligula. Donec id dapibus nisl. Mauris sollicitudin turpis et ante lacinia, non auctor nibh lacinia. Nullam consectetur lectus lorem, nec scelerisque mi pharetra at. "
          },
          {
            "contentTypeKey": "fa51167e-c0be-45ec-be60-88487f2d2c73",
            "udi": "umb://element/4cd9d4e34f104be8b1908618fdc4af17",
            "link": [
              {
                "name": "Employers",
                "url": "https://www.thepensionsregulator.gov.uk/en/employers"
              }
            ],
            "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae neque ligula. Donec id dapibus nisl. Mauris sollicitudin turpis et ante lacinia."
          },
          {
            "contentTypeKey": "fa51167e-c0be-45ec-be60-88487f2d2c73",
            "udi": "umb://element/8a1cce055f5a4fc79f7d314e6dac0c78",
            "link": [
              {
                "udi": "umb://document/22a4a3efd9d74129b573ea9a707040b3"
              }
            ],
            "description": ""
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "017e3eca-72c2-4b5e-b5fb-428379a53b2e",
      "udi": "umb://element/fa33c5e834c945578bdaa0401eb105ce"
    },
    {
      "contentTypeKey": "559cf32c-9e48-4498-9a08-e9c82c57c725",
      "udi": "umb://element/45f52c92db2d4c90a2309a022e63d587",
      "boxes": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/9edde8f371774d3a83fbab3250e8d0eb"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "73260d9d-6a32-4791-bda8-6b992526ec9d",
            "udi": "umb://element/9edde8f371774d3a83fbab3250e8d0eb"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "61baed41-7e14-4615-af1e-0150c6d0a15f",
      "udi": "umb://element/2fb4be333401486bbaa2e40e4810e99c"
    },
    {
      "contentTypeKey": "559cf32c-9e48-4498-9a08-e9c82c57c725",
      "udi": "umb://element/9496e7e663a144068bd7ccb690f57c73",
      "boxes": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/662ebc40ea1843f389ac259926d6f86a"
            },
            {
              "contentUdi": "umb://element/bc9f9c7cfe764d9fa5edfbeda5ffb632"
            },
            {
              "contentUdi": "umb://element/490c925dec4e4cf1b9b8f2a5daaad396"
            },
            {
              "contentUdi": "umb://element/d7faf404e73c48ceabb28f2c84673d42"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "73260d9d-6a32-4791-bda8-6b992526ec9d",
            "udi": "umb://element/bc9f9c7cfe764d9fa5edfbeda5ffb632"
          },
          {
            "contentTypeKey": "fa51167e-c0be-45ec-be60-88487f2d2c73",
            "udi": "umb://element/490c925dec4e4cf1b9b8f2a5daaad396",
            "link": [
              {
                "udi": "umb://document/e096f084c4ae4ffb9eef01e8732eee1c"
              }
            ],
            "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae neque ligula. Donec id dapibus nisl. Mauris sollicitudin turpis et ante lacinia, non auctor nibh lacinia. Nullam consectetur lectus lorem, nec scelerisque mi pharetra at. "
          },
          {
            "contentTypeKey": "fa51167e-c0be-45ec-be60-88487f2d2c73",
            "udi": "umb://element/662ebc40ea1843f389ac259926d6f86a",
            "link": [
              {
                "name": "Employers",
                "url": "https://www.thepensionsregulator.gov.uk/en/employers"
              }
            ],
            "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae neque ligula. Donec id dapibus nisl. Mauris sollicitudin turpis et ante lacinia."
          },
          {
            "contentTypeKey": "fa51167e-c0be-45ec-be60-88487f2d2c73",
            "udi": "umb://element/d7faf404e73c48ceabb28f2c84673d42",
            "link": [
              {
                "udi": "umb://document/22a4a3efd9d74129b573ea9a707040b3"
              }
            ],
            "description": ""
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "7c697ad4-e2f8-4aab-857e-fb1b26c2a295",
      "udi": "umb://element/5ea4089d48984f8e9bb00e254e6f5724",
      "styleOfBox": "Full-width",
      "backgroundColour": {
        "value": "ebf5f7",
        "label": "Blue",
        "sortOrder": 1,
        "id": "2"
      },
      "cssClasses": ""
    },
    {
      "contentTypeKey": "0544d56d-431c-4ede-91b5-bf194b47c6e1",
      "udi": "umb://element/6337da7f80ce49728d9f9364e0684809",
      "titleFieldName": "",
      "descriptionFieldName": "",
      "cssClasses": ""
    },
    {
      "contentTypeKey": "0544d56d-431c-4ede-91b5-bf194b47c6e1",
      "udi": "umb://element/c2632d23068044d39b599c19475872ce",
      "titleFieldName": "",
      "descriptionFieldName": "",
      "cssClasses": ""
    },
    {
      "contentTypeKey": "085fe7f7-9496-44bd-bda7-fe27726abed3",
      "udi": "umb://element/152f448395e34041b443257b68d51c50",
      "cssClassesForRow": "",
      "stackColumns": ""
    },
    {
      "contentTypeKey": "0544d56d-431c-4ede-91b5-bf194b47c6e1",
      "udi": "umb://element/0fb9ed374ed54ec38e469bce643e8e4e",
      "titleFieldName": "",
      "descriptionFieldName": "",
      "cssClasses": ""
    },
    {
      "contentTypeKey": "7c697ad4-e2f8-4aab-857e-fb1b26c2a295",
      "udi": "umb://element/58a91253d8ce456f964c3edfbafaaa1e",
      "styleOfBox": "Full-width",
      "backgroundColour": {
        "value": "ededed",
        "label": "Grey",
        "sortOrder": 0,
        "id": "1"
      },
      "cssClasses": ""
    },
    {
      "contentTypeKey": "0544d56d-431c-4ede-91b5-bf194b47c6e1",
      "udi": "umb://element/55ed73a5278a4206bb38cec0a5c95d0f",
      "titleFieldName": "",
      "descriptionFieldName": "",
      "cssClasses": ""
    }
  ]
}]]></Value>
    </gridBlocks>
    <headingScaleStart>
      <Value><![CDATA[]]></Value>
    </headingScaleStart>
  </Properties>
</Content>