<?xml version="1.0" encoding="utf-8"?>
<Domain Key="138e8b2c-0000-0000-0000-000000000000" Alias="https://localhost:44350">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-GB</Language>
    <Root Key="5e682cbe-b867-491a-955f-3382446d5663">/Home</Root>
    <SortOrder>1</SortOrder>
  </Info>
</Domain>