<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4ddb4d6f-6a51-4dfb-a896-9c0e9ac17b96" Alias="breadcrumbs" Level="1">
  <Info>
    <Name>Breadcrumbs</Name>
    <Icon>icon-article color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="086143f0-2a9d-431a-8480-a4e634131f9b">govukPageSettingHeadingSize</Composition>
    </Compositions>
    <DefaultTemplate>Breadcrumbs</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="29bec9d4-d54e-4896-823a-f366eef5e5a6">Breadcrumbs</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="4ddb4d6f-6a51-4dfb-a896-9c0e9ac17b96" SortOrder="0">breadcrumbs</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>9359d310-b82b-4592-b26b-baa742867c49</Key>
      <Name>Blocks</Name>
      <Alias>blocks</Alias>
      <Definition>a806a5c9-78ae-402b-9d65-180672baab96</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>115ee302-4156-402a-839d-58c18fc4466c</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>19</SortOrder>
    </Tab>
  </Tabs>
</ContentType>