<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="54bfcf8e-5e4e-466d-a113-3efecddc84ae" Alias="govukPhaseBanner" Level="2">
  <Info>
    <Name>Phase banner</Name>
    <Icon>icon-defrag</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Use the phase banner component to show users your service is still being worked on.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>GOV.UK</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>758bd15f-0aed-4791-b2ce-9ffb28911234</Key>
      <Name>Phase</Name>
      <Alias>govukPhase</Alias>
      <Definition>08abe388-645d-4b2e-9d51-38ea1d4b6b75</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="phaseBanner">Phase banner</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b09d792a-7011-4173-98d2-40abfebb53b4</Key>
      <Name>Phase banner text</Name>
      <Alias>govukPhaseBannerText</Alias>
      <Definition>b54ee68e-cfd8-41cd-8e5c-0be770c4d33f</Definition>
      <Type>GovUk.InlineRichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="phaseBanner">Phase banner</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d26d5dd3-50e7-4006-b92b-23498ffb1b0d</Key>
      <Caption>Phase banner</Caption>
      <Alias>phaseBanner</Alias>
      <Type>Group</Type>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>