<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="308973a3-4525-445f-9bcd-bdf3d649abb6" Alias="govukDateInputSettings" Level="2">
  <Info>
    <Name>Date input settings</Name>
    <Icon>icon-calendar-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Settings for a date input component. Use the date input component to help users enter a memorable date or one they can easily look up.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>GOV.UK</Folder>
    <Compositions>
      <Composition Key="bf69e8d6-97a6-4b50-bec7-c5993e120339">govukCssClasses</Composition>
      <Composition Key="d508995b-a958-4273-8ab3-50735220a1b2">govukGrid</Composition>
      <Composition Key="d7016563-0b6f-4c3a-b75d-b0bbe66419fd">govukGridColumnClasses</Composition>
      <Composition Key="8ba759bf-131b-488e-b7e6-98ff91bb076b">govukLegendIsPageHeading</Composition>
      <Composition Key="23e1a03d-dc42-4318-9e17-d458dde2dba6">govukModelProperty</Composition>
      <Composition Key="3123569a-0fff-46b9-8a6f-9752c7af4feb">govukReadOnly</Composition>
      <Composition Key="e4622d4f-2726-453d-8c8e-c2c920f9aa78">govukValidationCustom</Composition>
      <Composition Key="29536653-923d-4f9f-8788-f09a0a48958d">govukValidationDisplayName</Composition>
      <Composition Key="23030bd4-6410-44bf-918e-2527f169ebce">govukValidationRange</Composition>
      <Composition Key="f2365c7e-08c3-4ef9-abbc-e337e34de272">govukValidationRequired</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9e43292c-e279-43b0-baa5-29235b6e00e1</Key>
      <Name>Show the day field</Name>
      <Alias>showDay</Alias>
      <Definition>189de753-cac2-4307-868b-114832c68a07</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If the day field is hidden the day defaults to 1.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b4b9ecdf-5c9b-46c6-9595-e72da85f98c9</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>