<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a248d9ad-85e5-446a-9c06-c6a72cd3f34f" Alias="govukGridColumnSettings" Level="2">
  <Info>
    <Name>Grid column settings</Name>
    <Icon>icon-columns color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Settings for a grid row, which allows the page to be divided into columns.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>GOV.UK</Folder>
    <Compositions>
      <Composition Key="d7016563-0b6f-4c3a-b75d-b0bbe66419fd">govukGridColumnClasses</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>8a59f6f7-0d35-4c2c-8cb6-35a7a1d1e5e5</Key>
      <Name>Render rows and columns for child blocks</Name>
      <Alias>renderRowsAndColumnsForChildBlocks</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="grid">Grid</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>342fca03-c00d-4fa7-b74e-260a38f5955d</Key>
      <Caption>Grid</Caption>
      <Alias>grid</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>