<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1b13e00d-254e-4ca2-bf9a-dd0f8f8929ea" Alias="sideNavigation" Level="1">
  <Info>
    <Name>Side navigation</Name>
    <Icon>icon-outdent color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>SideNavigation</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="586b1ce1-f3ba-460e-bcb4-ca855badae35">SideNavigation</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="1b13e00d-254e-4ca2-bf9a-dd0f8f8929ea" SortOrder="0">sideNavigation</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>2f5126c3-45cd-4d64-8c94-b11794e1e509</Key>
      <Name>Grid</Name>
      <Alias>grid</Alias>
      <Definition>55bb40bf-54f9-4964-829f-cb0d2928cb08</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c2892435-1681-4dac-853b-91482e2188ff</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>