<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="61baed41-7e14-4615-af1e-0150c6d0a15f" Alias="tprBox" Level="2">
  <Info>
    <Name>Box</Name>
    <Icon>icon-checkbox-empty color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A box with a solid or bordered background, used to distinguish content visually from its surroundings.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>TPR</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>