<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="559cf32c-9e48-4498-9a08-e9c82c57c725" Alias="tprSectionCards" Level="2">
  <Info>
    <Name>Section cards</Name>
    <Icon>icon-thumbnails color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A navigation section where cards link to child or other pages with a description.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>TPR</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ac9c1a8f-cb85-4bce-8a86-ea97cd2f8d09</Key>
      <Name>Cards</Name>
      <Alias>cards</Alias>
      <Definition>e79034f4-d7d6-4f37-bf7c-b4526b99ad2b</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>97f204a2-e793-4381-b5e5-2132e172cc89</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>