<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2fd0c09e-c2ed-4ed1-b891-dd3470d2a3e3" Alias="tprSectionCardSettings" Level="2">
  <Info>
    <Name>Section card settings</Name>
    <Icon>icon-thumbnails color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Settings for a section card that links to a page with a description.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>TPR</Folder>
    <Compositions>
      <Composition Key="bf69e8d6-97a6-4b50-bec7-c5993e120339">govukCssClasses</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>