<?xml version="1.0" encoding="utf-8"?>
<Media Key="f0050b35-e0ef-40af-ac67-9b704a82aa69" Alias="Example image (Workie)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ExampleImageWorkie</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-07T11:30:43</CreateDate>
    <NodeName Default="Example image (Workie)" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gmfbl2hp/workie-large.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>