<?xml version="1.0" encoding="utf-8"?>
<Media Key="2d51f4b5-cec6-4ec9-a2b2-6728a8ff80aa" Alias="Example image (Workie on a bench)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ExampleImageWorkieOnABench</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-07T11:31:27</CreateDate>
    <NodeName Default="Example image (Workie on a bench)" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wp0fclog/workie-small.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>