@model DateInputViewModel
@{
    ViewData["Title"] = "Date input";
}

<form asp-controller="DateInput" asp-action="Post" method="post" novalidate>
    <span class="govuk-caption-xl">Example application</span>
    <div class="govuk-grid-row govuk-grid-row--tpr-divider-for-fieldset">
        <div class="govuk-grid-column govuk-grid-column-two-thirds-from-desktop">
            <govuk-client-side-validation>
                <govuk-date-input asp-for="Field1">
                    <govuk-date-input-fieldset>
                        <govuk-date-input-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">Date input</govuk-date-input-fieldset-legend>
                        <govuk-date-input-hint>Enter a date in the 2020s. This is the hint. The previous heading is also the legend.</govuk-date-input-hint>
                    </govuk-date-input-fieldset>
                </govuk-date-input>
            </govuk-client-side-validation>
        </div>
    </div>

    <div class="govuk-grid-row govuk-grid-row--tpr-divider">
        <div class="govuk-grid-column govuk-grid-column-two-thirds-from-desktop">
            <govuk-client-side-validation>
                <govuk-date-input asp-for="Field2">
                    <govuk-date-input-fieldset>
                        <govuk-date-input-fieldset-legend class="govuk-fieldset__legend--for-field">This is the legend for field 2. The hint is optional.</govuk-date-input-fieldset-legend>
                        <govuk-date-input-hint>You must apply <code>.govuk-fieldset__legend--for-field</code> if you want TPR styling.</govuk-date-input-hint>
                    </govuk-date-input-fieldset>
                </govuk-date-input>

                <govuk-date-input asp-for="Field3">
                    <govuk-date-input-fieldset>
                        <govuk-date-input-fieldset-legend class="govuk-fieldset__legend--for-field">This date-input is read-only</govuk-date-input-fieldset-legend>
                        <govuk-date-input-hint>No validation is applied to this example.</govuk-date-input-hint>
                        <govuk-date-input-day maxlength="2" readonly="readonly" />
                        <govuk-date-input-month maxlength="2" readonly="readonly" />
                        <govuk-date-input-year maxlength="4" readonly="readonly" />
                    </govuk-date-input-fieldset>
                </govuk-date-input>
            </govuk-client-side-validation>
        </div>
    </div>

    <govuk-button>Submit</govuk-button>
</form>
@section scripts {
    <partial name="GOVUK/Validation" />
}