@{
    ViewData["Title"] = "Inset text";
}

<span class="govuk-caption-xl">GOV.UK Design System</span>
<h1 class="govuk-heading-l">@ViewData["Title"]</h1>

<govuk-inset-text>Use the <a class="govuk-link" href="https://design-system.service.gov.uk/components/inset-text/">inset text</a> component to differentiate a block of text from the content that surrounds it.</govuk-inset-text>