.govuk-umbraco-error {
    position: relative;
    padding: 0 0 0 50px;
    color: var(--uui-color-invalid);
    margin-top: -12px;
}
.govuk-umbraco-error__icon {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2rem;
}