@import 'govuk/base';

/* Add spacing around custom backoffice views of block content. */
.backoffice-block-view {
    margin: 20px 20px 0;
    border-bottom: 1px dashed #bbbabf;
    padding-top: .1px;
    display: block;
    cursor: pointer;
    color: var(--tpr-text-colour--inverse, govuk-functional-colour(text));
}

.backoffice-block-view:link, .backoffice-block-view:visited {
    text-decoration: none;
}

.backoffice-block-view p,
.backoffice-block-view > .govuk-heading-l {
    margin-top: 0;
}

.backoffice-block-view > .govuk-accordion,
.backoffice-block-view > .govuk-accordion__section,
.backoffice-block-view > .govuk-caption-l,
.backoffice-block-view:has(> .govuk-link),
.backoffice-block-view:has(.govuk-textarea) {
    padding-bottom: 20px;
}

.backoffice-block-view > .govuk-details,
.backoffice-block-view > .govuk-error-summary,
.backoffice-block-view > .govuk-fieldset,
.backoffice-block-view.govuk-form-group:not(.backoffice-block-view-textarea),
.backoffice-block-view.govuk-inset-text,
.backoffice-block-view.govuk-notification-banner,
.backoffice-block-view.govuk-panel {
    padding-top: 20px;
}
.backoffice-block-view > .govuk-accordion,
.backoffice-block-view > .govuk-error-message,
.backoffice-block-view > .govuk-error-summary,
.backoffice-block-view.govuk-panel,
.backoffice-block-view > .govuk-summary-list,
.backoffice-block-view > .govuk-task-list__item,
.backoffice-block-view > .govuk-date-input__fieldset,
.backoffice-block-view .govuk-checkboxes__divider,
.backoffice-block-view .govuk-radios__divider {
    margin-bottom: 20px;
}
.backoffice-block-view > .govuk-notification-banner__content {
    padding-bottom: 0;
}
.backoffice-block-view.govuk-panel,
.backoffice-block-view.govuk-panel span.govuk-link {
    color: #fff;
}
.backoffice-block-view > .govuk-fieldset {
    border: 2px dashed #ccc;
    padding: 20px;
    min-height: 20px;
}

.backoffice-additional-blocks {
    border: 1px dashed #ccc;
    padding: 10px;
}

.govuk-checkboxes__item > .backoffice-additional-blocks,
.govuk-radios__item > .backoffice-additional-blocks {
    margin: 5px 0 0 15px;
}
.backoffice-block-view.govuk-notification-banner .backoffice-additional-blocks {
    margin-bottom: 20px;
}

.backoffice-block-view .govuk-summary-list__row:not(.govuk-summary-list__row--no-actions) > :last-child {
    padding-right: 40px;
}

.backoffice-block-view > .govuk-summary-card .govuk-summary-list__row:not(.govuk-summary-list__row--no-actions) > :last-child {
    padding-right: 0;
}

.backoffice-block-view .govuk-summary-card__content {
    padding-bottom: 0;
    margin-bottom: 20px;
}
.backoffice-block-view .govuk-summary-card > .backoffice-additional-blocks {
    margin-top: 20px;
    margin-bottom: 0;
}
.backoffice-block-view .govuk-task-list__link {
    color: govuk-functional-colour(link);
}

.backoffice-block-view .govuk-textarea {
    margin-bottom: 0;
}

/* Add padding to columns so that it's possible to get to the settings in the backoffice UI */
.backoffice-columns {
    padding: 10px;
}

/* Show an inverse button on a dark background, or else it'll be invisible */
.backoffice-block-view-inverse {
    padding: 10px;
    background: #333;
    display: inline-block;
    margin-bottom: 20px;
}
.backoffice-block-view-inverse > :last-child {
    margin-bottom: 0;
}

/* Links are disabled by converting them to span, but should still look like links. */
.backoffice-block-view span.govuk-link {
    color: var(--tpr-link-colour--inverse, govuk-functional-colour(link));
    cursor: pointer;
}
.backoffice-block-view .govuk-error-summary span.govuk-link {
    color: govuk-functional-colour(error);
}

/* If govuk-\!-display-none is applied the preview could disappear entirely, leaving no backoffice UI,
    so override it to show a faded version instead. */
.backoffice-block-view .govuk-\!-display-none {
    display: block !important;
    opacity: 0.3;
}