<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="405470f7-9d54-4891-91c9-2efa8dec0833" Alias="govukTaskList" Level="2">
  <Info>
    <Name>Task list</Name>
    <Icon>icon-layers color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The task list component displays all the tasks that need to be completed within a service. It also shows which tasks are done, and which are left to do.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>GOV.UK</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>42c7295d-efdd-48c1-9cd9-c8a42c468433</Key>
      <Name>Tasks</Name>
      <Alias>tasks</Alias>
      <Definition>c3f09cb8-d108-4fd6-b1f9-c86be348a977</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>90f011ee-9fc4-420d-aadd-34bcb90ebcfd</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>