<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="43d6f04c-2ce0-440c-9e13-05d856b8aafe" Alias="govukNotificationBanner" Level="2">
  <Info>
    <Name>Notification banner</Name>
    <Icon>icon-application-window-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A notification banner lets you tell the user about something that's not directly relevant to the thing they’re trying to do on that page of the service.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>GOV.UK</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0e4f018c-2e4c-4d49-8af1-1ab9b6a3e2d8</Key>
      <Name>Blocks</Name>
      <Alias>blocks</Alias>
      <Definition>b02f5487-5e04-4422-9b8c-e1c9429e9e2e</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c058f0d1-8ae3-4cac-97d9-b3b561f5e924</Key>
      <Name>Heading</Name>
      <Alias>heading</Alias>
      <Definition>b59d7fb3-3fe3-461e-9ecc-0ae6ca2fc652</Definition>
      <Type>GovUk.InlineRichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The large bold text in the banner.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>28542039-a20d-4bdc-aa0e-c8d0a1e0a241</Key>
      <Name>Text</Name>
      <Alias>text</Alias>
      <Definition>f59f7848-da0b-4eb5-8f57-0b96bca1264b</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Supplementary text after the large bold text.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>86ec1d80-fd3a-4b70-9948-1b503610f894</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>