<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b75f1f8a-cc04-434f-a499-46f08d2c06bb" Alias="GOV.UK Checkboxes" Level="2">
  <Info>
    <Name>GOV.UK Checkboxes</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>GOV.UK</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "f1cb27f6-c7f5-4db0-bfff-ef76df811ac7",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{label}} (Checkbox)",
      "settingsElementTypeKey": "06d62310-e5c0-4ed3-8a55-638e0d1fc3fa",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "ee99c671-93dc-4d08-9933-e61e50dc234a",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>