<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b635f2ec-6b1a-406d-a388-b6ea8477b5e7" Alias="TPR Documents block list" Level="2">
  <Info>
    <Name>TPR Documents block list</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>TPR</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "ddf26d5b-0ebd-4ec4-b89f-3b422ca7c230",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{document[0].url}} (Document)",
      "settingsElementTypeKey": "9d91ea8e-b41e-4ff7-860f-187322f359c0",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>