<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9d31213d-3d07-4c6f-b7f2-dc2d3bf09090" Alias="TPR Nested box style" Level="2">
  <Info>
    <Name>TPR Nested box style</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>TPR</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Solid"
    },
    {
      "id": 2,
      "value": "Bordered"
    }
  ]
}]]></Config>
</DataType>