@{
    ViewData["Title"] = "Pagination";
}

<span class="govuk-caption-xl">Example application</span>
<h1 class="govuk-heading-l">@ViewData["Title"]</h1>

<govuk-pagination>
    <govuk-pagination-previous href="#" />
    <govuk-pagination-item href="#">1</govuk-pagination-item>
    <govuk-pagination-item href="#" is-current="true">2</govuk-pagination-item>
    <govuk-pagination-item href="#">3</govuk-pagination-item>
    <govuk-pagination-next href="#" />
</govuk-pagination>