<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f7721eea-7712-4d9c-91e4-9c04f0ad3036" Alias="govukGridThreeEqualColumns" Level="2">
  <Info>
    <Name>Three equal columns</Name>
    <Icon>icon-grid color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A three column layout using the GOV.UK grid.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>GOV.UK</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>