<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="017e3eca-72c2-4b5e-b5fb-428379a53b2e" Alias="govukGridFullWidth" Level="3">
  <Info>
    <Name>Full width</Name>
    <Icon>icon-grid color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A single column layout using the GOV.UK grid.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>GOV.UK/Grid</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>