<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b84a633b-1ee7-4a5c-80bd-4267420ed133" Alias="govukRadios" Level="2">
  <Info>
    <Name>Radios</Name>
    <Icon>icon-target color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Use the radios component when users can only select one option from a list.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>GOV.UK</Folder>
    <Compositions>
      <Composition Key="51e9f7d8-d188-4922-907c-27df092962a4">govukHint</Composition>
      <Composition Key="15a663cc-fcf9-40c1-9492-79f0e582bb69">govukLegend</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e2323dab-a5c8-4e25-a30b-d17b172dca4a</Key>
      <Name>Radio buttons</Name>
      <Alias>radioButtons</Alias>
      <Definition>86600492-b938-47e6-a752-da0e193939ad</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="options">Options</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>bfc1432c-2061-477b-bcb9-240b25241682</Key>
      <Caption>Options</Caption>
      <Alias>options</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>