<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e8386da2-bf9c-43e2-ac0e-02f33f6b6c2d" Alias="govukGridColumn" Level="2">
  <Info>
    <Name>Grid column</Name>
    <Icon>icon-columns color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A grid column, which allows the page to be divided into columns.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>GOV.UK</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>cc5ca7f3-e21e-4479-8400-f31fd8ec39a1</Key>
      <Name>Blocks</Name>
      <Alias>blocks</Alias>
      <Definition>e0879661-5ada-4a1f-b7df-525e63087866</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>71b5c2bc-0958-4976-b5e1-ac4549b70dd6</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</ContentType>