<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4e3c68a7-d651-4898-b1e3-e8f29a9ffe48" Alias="govukSummaryListItem" Level="2">
  <Info>
    <Name>Summary list item</Name>
    <Icon>icon-ordered-list color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>An item in a summary list. Use the summary list to summarise information, for example, a user’s responses at the end of a form.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>GOV.UK</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>4a7f65cd-f58c-43ad-804e-57bc36ac2814</Key>
      <Name>Actions</Name>
      <Alias>actions</Alias>
      <Definition>19b00354-85c7-478a-93ed-70221ef35b4d</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Links to actions like 'Change' or 'Remove']]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>62aad617-b2f9-4ddb-ae23-5b474773158d</Key>
      <Name>Key</Name>
      <Alias>itemKey</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A description or label of a piece of information, like ‘Name’]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1d077db6-9b93-4a12-a8c0-4167cd552a82</Key>
      <Name>Value</Name>
      <Alias>itemValue</Alias>
      <Definition>0729c57a-748f-482d-abbc-fcd2976c9fc6</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If the key is ‘Name’, the value is the piece of information itself, like ‘John Smith’]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>27330f65-a933-42fe-a3e8-969f071def10</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>