<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="37cc75ea-be5c-4107-b9b8-0ef34f4b7c5e" Alias="govukErrorMessagePrefix" Level="2">
  <Info>
    <Name>Error message prefix</Name>
    <Icon>icon-defrag</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>An element type to add to GOV.UK element types as a composition, adding a property for the visually-hidden prefix for an error message</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>GOV.UK</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>700716ec-528d-41b5-9d36-49a7c0efa7f8</Key>
      <Name>Error message prefix</Name>
      <Alias>errorMessagePrefix</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Visually hidden text. Defaults to 'Error' if left blank.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="errorMessages">Error messages</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>38a8b2a7-a9c3-4143-9d56-f63a33f81b07</Key>
      <Caption>Error messages</Caption>
      <Alias>errorMessages</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>