<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a3a58c3e-673f-4521-b9e7-4b6a667f06b4" Alias="govukDateInput" Level="2">
  <Info>
    <Name>Date input</Name>
    <Icon>icon-calendar-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Use the date input component to help users enter a memorable date or one they can easily look up.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>GOV.UK</Folder>
    <Compositions>
      <Composition Key="51e9f7d8-d188-4922-907c-27df092962a4">govukHint</Composition>
      <Composition Key="15a663cc-fcf9-40c1-9492-79f0e582bb69">govukLegend</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>