<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c7dd4cfd-8e91-46e2-8a57-0834a480cacb" Alias="govukHiddenSettings" Level="2">
  <Info>
    <Name>Hidden field settings</Name>
    <Icon>icon-checkbox-dotted color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Settings for a field containing data that is submitted with a form but is not shown to the user.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>GOV.UK</Folder>
    <Compositions>
      <Composition Key="23e1a03d-dc42-4318-9e17-d458dde2dba6">govukModelProperty</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>