<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d8ded14d-00eb-46c2-8c66-29a27fc6b05a" Alias="govukPagination" Level="2">
  <Info>
    <Name>Pagination</Name>
    <Icon>icon-traffic color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The pagination component helps users navigate forwards and backwards through a series of pages.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>GOV.UK</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>