<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="099595fc-a854-4ce4-8525-4118fa4efcc8" Alias="govukValidationText" Level="2">
  <Info>
    <Name>Validation (Text)</Name>
    <Icon>icon-defrag color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>An element type to add to GOV.UK element types accepting free text input as a composition, adding properties for error messages</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>GOV.UK</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>937968ca-b03d-47d1-a4c6-043ced99d94f</Key>
      <Name>Compare to another field</Name>
      <Alias>errorMessageCompare</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Sets the error message displayed if the field is set to be the same as another (like when you're asked to re-enter an email address).]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="errorMessages">Error messages</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1c1a2c88-7b08-4e02-99b8-7439ce9e3580</Key>
      <Name>Credit card</Name>
      <Alias>errorMessageCreditCard</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Sets the message displayed if the field is set by the code to require a credit card number.]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="errorMessages">Error messages</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f45367d8-dd57-4dc9-a856-5fa8924bd876</Key>
      <Name>Email address</Name>
      <Alias>errorMessageEmail</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Sets the message displayed if the field is set by the code to require an email address.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="errorMessages">Error messages</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3580ef44-5c70-42f8-9a55-b448eeef0645</Key>
      <Name>Minimum and maximum length</Name>
      <Alias>errorMessageLength</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Sets the message displayed if the field is set by the code to require text between a minimum and maximum length.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="errorMessages">Error messages</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ceacd868-6271-412f-92ea-cc810b526efc</Key>
      <Name>Maximum length</Name>
      <Alias>errorMessageMaxLength</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Sets the message displayed if the field is set by the code to require text of a maximum length.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="errorMessages">Error messages</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f7d18404-bf6f-4bae-a10b-cb0095153cd5</Key>
      <Name>Minimum length</Name>
      <Alias>errorMessageMinLength</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Sets the message displayed if the field is set by the code to require text of a minimum length.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="errorMessages">Error messages</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b6e948b3-6c7f-4f6e-bb47-26cf793b2203</Key>
      <Name>Numeric range</Name>
      <Alias>errorMessageRange</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Sets the message displayed if the field is set by the code to require a number in a given range.]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="errorMessages">Error messages</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>713fca69-3fde-48a8-b0d6-08fa3631ac8b</Key>
      <Name>Pattern</Name>
      <Alias>errorMessageRegex</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Sets the message displayed if the field is set by the code to require a regular expression pattern to be matched.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="errorMessages">Error messages</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f7b6c1c5-f35d-412e-9fc5-bc77c445a044</Key>
      <Caption>Error messages</Caption>
      <Alias>errorMessages</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>