<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e683e885-8aa0-4bdd-9eff-56966f353540" Alias="govukButtonSettings" Level="2">
  <Info>
    <Name>Button settings</Name>
    <Icon>icon-hand-pointer-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Settings for the button component. Use the button component to help users carry out an action like starting an application or saving their information.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>GOV.UK</Folder>
    <Compositions>
      <Composition Key="bf69e8d6-97a6-4b50-bec7-c5993e120339">govukCssClasses</Composition>
      <Composition Key="d508995b-a958-4273-8ab3-50735220a1b2">govukGrid</Composition>
      <Composition Key="d7016563-0b6f-4c3a-b75d-b0bbe66419fd">govukGridColumnClasses</Composition>
      <Composition Key="23e1a03d-dc42-4318-9e17-d458dde2dba6">govukModelProperty</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9f1a0d3c-b66d-4e8e-ba57-ebe81b360270</Key>
      <Name>Type of button</Name>
      <Alias>typeOfButton</Alias>
      <Definition>041129bd-598f-4911-9ad8-871020ef95a1</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3bfc2e02-d610-4f55-aea8-a230fe159a5d</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>