<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d43b72b5-edac-42e0-aa09-1b080d7bd6eb" Alias="govukSummaryListSettings" Level="2">
  <Info>
    <Name>Summary list settings</Name>
    <Icon>icon-ordered-list color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Settings for a summary list. Use the summary list to summarise information, for example, a user’s responses at the end of a form.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>GOV.UK</Folder>
    <Compositions>
      <Composition Key="d508995b-a958-4273-8ab3-50735220a1b2">govukGrid</Composition>
      <Composition Key="d7016563-0b6f-4c3a-b75d-b0bbe66419fd">govukGridColumnClasses</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>