<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a4ef171f-5688-4b05-806f-75a6ce50a842" Alias="govukCheckboxes" Level="2">
  <Info>
    <Name>Checkboxes</Name>
    <Icon>icon-checkbox color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Use the checkboxes component when you need to help users select multiple options from a list.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>GOV.UK</Folder>
    <Compositions>
      <Composition Key="51e9f7d8-d188-4922-907c-27df092962a4">govukHint</Composition>
      <Composition Key="15a663cc-fcf9-40c1-9492-79f0e582bb69">govukLegend</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>12f5cfa9-12dd-457d-8d2f-371a8eccaf47</Key>
      <Name>Checkboxes</Name>
      <Alias>checkboxes</Alias>
      <Definition>b75f1f8a-cc04-434f-a499-46f08d2c06bb</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="items">Items</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>aa62f898-34f5-48e7-874c-d5fdfd72c8e9</Key>
      <Name>Blocks</Name>
      <Alias>fieldsetBlocks</Alias>
      <Definition>0be193a3-dedd-4030-a6e7-a5f96e1270ea</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Help specific to this set of checkboxes.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7732b851-ef3f-4df9-8eb2-3c4887df3062</Key>
      <Caption>Items</Caption>
      <Alias>items</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>c99c5803-c9b8-4f17-86a6-bde6b8fd9768</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>