<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="29536653-923d-4f9f-8788-f09a0a48958d" Alias="govukValidationDisplayName" Level="2">
  <Info>
    <Name>Validation (Display name)</Name>
    <Icon>icon-defrag</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>An element type to add to GOV.UK element types as a composition, adding a property for the field display name used in error messages</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>GOV.UK</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f292c3f7-55b9-40d8-a388-05ae584525e9</Key>
      <Name>Display name</Name>
      <Alias>displayName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Used in error messages where the value is the wrong type (eg 'abc' in a date field). Defaults to the model property name if left blank.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="errorMessages">Error messages</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b628dce9-a0da-45fd-8322-dfcffb5dd808</Key>
      <Caption>Error messages</Caption>
      <Alias>errorMessages</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>