<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5d33cd38-b819-4afd-9d4a-499ee73799ab" Alias="govukSectionBreak" Level="2">
  <Info>
    <Name>Section break</Name>
    <Icon>icon-remove color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A thematic break between sections of content. DO NOT use a section break for purely aesthetic reasons.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>GOV.UK</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>