<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="98070ce9-d528-4bfc-bd90-e411e5110f56" Alias="govukTextInputSettings" Level="2">
  <Info>
    <Name>Text input settings</Name>
    <Icon>icon-autofill color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Settings for the Text input component. Use the text input component when you need to let users enter text that’s no longer than a single line, such as their name or phone number.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>GOV.UK</Folder>
    <Compositions>
      <Composition Key="bf69e8d6-97a6-4b50-bec7-c5993e120339">govukCssClasses</Composition>
      <Composition Key="23e1a03d-dc42-4318-9e17-d458dde2dba6">govukModelProperty</Composition>
      <Composition Key="f2365c7e-08c3-4ef9-abbc-e337e34de272">govukValidationRequired</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e28a613b-8fb0-4e2c-9240-eb2cd772595f</Key>
      <Name>Compare to another field</Name>
      <Alias>errorMessageCompare</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Sets the error message displayed if the field is set to be the same as another (like when you're asked to re-enter an email address).]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="errorMessages">Error messages</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>10c8a8e8-ab0d-4eae-9cdc-80b023b58a50</Key>
      <Name>Credit card</Name>
      <Alias>errorMessageCreditCard</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Sets the message displayed if the field is set by the code to require a credit card number.]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="errorMessages">Error messages</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0af4b45a-77c8-45fc-a14d-9be8994810b0</Key>
      <Name>Email address</Name>
      <Alias>errorMessageEmail</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Sets the message displayed if the field is set by the code to require an email address.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="errorMessages">Error messages</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f59299c1-3328-4b79-9b8e-467204b37b63</Key>
      <Name>Minimum and maximum length</Name>
      <Alias>errorMessageLength</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Sets the message displayed if the field is set by the code to require text between a minimum and maximum length.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="errorMessages">Error messages</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>69dc3575-8602-4ba4-b206-2e0cc01a819f</Key>
      <Name>Maximum length</Name>
      <Alias>errorMessageMaxLength</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Sets the message displayed if the field is set by the code to require text of a maximum length.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="errorMessages">Error messages</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>88727b83-20ac-440b-a80c-37166e2d67cc</Key>
      <Name>Minimum length</Name>
      <Alias>errorMessageMinLength</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Sets the message displayed if the field is set by the code to require text of a minimum length.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="errorMessages">Error messages</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>df60fef9-1773-42eb-8723-65c558f578d3</Key>
      <Name>Numeric range</Name>
      <Alias>errorMessageRange</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Sets the message displayed if the field is set by the code to require a number in a given range.]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="errorMessages">Error messages</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>30fbdaee-5f10-424f-aa83-09c7704e7087</Key>
      <Name>Pattern</Name>
      <Alias>errorMessageRegex</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Sets the message displayed if the field is set by the code to require a regular expression pattern to be matched.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="errorMessages">Error messages</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c1c6cfc9-2382-495c-b049-6ae0c67f15b3</Key>
      <Caption>Error messages</Caption>
      <Alias>errorMessages</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>