<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f7fc1212-5317-4642-9565-f8b6585508e8" Alias="govukFieldset" Level="2">
  <Info>
    <Name>Fieldset</Name>
    <Icon>icon-equalizer color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Use the fieldset component when you need to show a relationship between multiple form inputs.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>GOV.UK</Folder>
    <Compositions>
      <Composition Key="15a663cc-fcf9-40c1-9492-79f0e582bb69">govukLegend</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>3c0f93ca-4a29-4e63-a11f-f8f25e9fdaf6</Key>
      <Name>Blocks</Name>
      <Alias>blocks</Alias>
      <Definition>e0879661-5ada-4a1f-b7df-525e63087866</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b53909fe-9909-4b54-b195-1d77b1c19582</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>