<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="40bb2a3e-3d75-4ec1-9134-e0c46c6f04a0" Alias="govukInsetText" Level="2">
  <Info>
    <Name>Inset text</Name>
    <Icon>icon-poll color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Use the inset text component to differentiate a block of text from the content that surrounds it.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>GOV.UK</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a4db5b9e-4b5d-4d1f-bf37-08daa2b88171</Key>
      <Name>Text</Name>
      <Alias>text</Alias>
      <Definition>f59f7848-da0b-4eb5-8f57-0b96bca1264b</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7dee0e2c-53c3-4cb6-b037-09d27b8ad335</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>