<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1606a570-a75d-4e09-a7de-e99a49d82c69" Alias="tprContextBar1" Level="2">
  <Info>
    <Name>TPR context 1</Name>
    <Icon>icon-defrag</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The TPR context bar component should be used in the header of your web page. This composition adds a field to edit the first context in the context bar.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>TPR</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>fee49ef6-eeb6-4ce1-8877-2f801428e393</Key>
      <Name>Context 1</Name>
      <Alias>tprContext1</Alias>
      <Definition>48f89b23-2121-4f38-acca-02770993ca35</Definition>
      <Type>Tpr.HeaderFooterRichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Typically the name of the application or the mode it's in.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="tprContextBar">TPR context bar</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>8f1a7f5e-5180-472c-9d61-7c268d43b843</Key>
      <Caption>TPR context bar</Caption>
      <Alias>tprContextBar</Alias>
      <Type>Group</Type>
      <SortOrder>12</SortOrder>
    </Tab>
  </Tabs>
</ContentType>