<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9086be22-386e-44dd-acd5-982cb9683759" Alias="tprContextBar2" Level="2">
  <Info>
    <Name>TPR context 2</Name>
    <Icon>icon-defrag</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The TPR context bar component should be used in the header of your web page. This composition adds a field to edit the second context in the context bar.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>TPR</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>188adfab-e29d-4863-97dd-f25ad5f606aa</Key>
      <Name>Context 2</Name>
      <Alias>tprContext2</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Typically the name of the entity being edited in the application.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="tprContextBar">TPR context bar</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e18f4aa0-455d-435d-962b-685ba80f713f</Key>
      <Caption>TPR context bar</Caption>
      <Alias>tprContextBar</Alias>
      <Type>Group</Type>
      <SortOrder>12</SortOrder>
    </Tab>
  </Tabs>
</ContentType>