<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c335e468-7a39-4368-af34-94306e56c39d" Alias="tprContextBar3" Level="2">
  <Info>
    <Name>TPR context 3</Name>
    <Icon>icon-defrag</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The TPR context bar component should be used in the header of your web page. This composition adds a field to edit the third context in the context bar.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>TPR</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e166aa7c-231d-4d06-b4a3-3ccaa76ed17c</Key>
      <Name>Context 3</Name>
      <Alias>tprContext3</Alias>
      <Definition>48f89b23-2121-4f38-acca-02770993ca35</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Typically a reference number for the entity being edited in the application.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="tprContextBar">TPR context bar</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c88c8d70-edad-45db-bb57-f6079102b36e</Key>
      <Caption>TPR context bar</Caption>
      <Alias>tprContextBar</Alias>
      <Type>Group</Type>
      <SortOrder>12</SortOrder>
    </Tab>
  </Tabs>
</ContentType>