<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="19821494-b040-4f31-b979-31d9fa782ea4" Alias="Date must include a year" Level="0">
  <Info />
  <Translations>
    <Translation Language="de">{0} muss ein Jahr enthalten</Translation>
    <Translation Language="en-GB">{0} must include a year</Translation>
  </Translations>
</Dictionary>