<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="eafeca44-f744-488f-b9f4-eb453adf0f15" Alias="Date must include a day and year" Level="0">
  <Info />
  <Translations>
    <Translation Language="de">{0} muss einen Tag und ein Jahr enthalten</Translation>
    <Translation Language="en-GB">{0} must include a day and year</Translation>
  </Translations>
</Dictionary>