<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a4524d9a-4656-4591-8a69-181f3479a287" Alias="Hide all sections" Level="0">
  <Info />
  <Translations>
    <Translation Language="cy">Cuddio pob adran</Translation>
    <Translation Language="en-GB">Hide all sections</Translation>
    <Translation Language="en-US"></Translation>
  </Translations>
</Dictionary>