@using static GovUk.Frontend.AspNetCore.Extensions.TaskListTaskStatus
@{
    ViewData["Title"] = "Task list";
}

<span class="govuk-caption-xl">Example application</span>
<div class="govuk-grid-row govuk-grid-row--tpr-divider">
    <div class="govuk-grid-column govuk-grid-column-full">
        <h1 class="govuk-heading-l">@ViewData["Title"]</h1>
    </div>
</div>

<govuk-task-list-summary 
       id="task-list-summary"
       incomplete-status="Application incomplete" 
       completed-status="Application completed" 
       tracker="You've completed {0} of {1} tasks." 
       total-tasks="10" 
       completed-tasks="5" />

<h2 class="govuk-heading-m">Section 1</h2>
<govuk-task-list id="the-list">
    <govuk-task-list-task href="#">
        <govuk-task-list-task-name>Thing to do</govuk-task-list-task-name>
        <govuk-task-list-task-status status="NotStarted">Not yet started</govuk-task-list-task-status>
    </govuk-task-list-task>
    <govuk-task-list-task href="#" id="the-task">
        <govuk-task-list-task-name>Another thing to do</govuk-task-list-task-name>
        <govuk-task-list-task-status status="Incomplete" />
    </govuk-task-list-task>
    <govuk-task-list-task href="#">
        <govuk-task-list-task-name>Yet <i>another</i> thing to do</govuk-task-list-task-name>
        <govuk-task-list-task-hint>This thing has an <strong>important deadline</strong> you need to know about.</govuk-task-list-task-hint>
        <govuk-task-list-task-status status="Completed" />
    </govuk-task-list-task>
</govuk-task-list>
<h2 class="govuk-heading-m">Section 2</h2>
<govuk-task-list>
    <govuk-task-list-task href="#">
        <govuk-task-list-task-name>Thing to do</govuk-task-list-task-name>
    </govuk-task-list-task>
    <govuk-task-list-task>
        <govuk-task-list-task-name>You can't do this</govuk-task-list-task-name>
        <govuk-task-list-task-status status="NotApplicable" />
    </govuk-task-list-task>
    <govuk-task-list-task>
        <govuk-task-list-task-name>You can't do this</govuk-task-list-task-name>
        <govuk-task-list-task-status status="CannotStartYet" />
    </govuk-task-list-task>
    <govuk-task-list-task>
        <govuk-task-list-task-name>You can't do this</govuk-task-list-task-name>
        <govuk-task-list-task-status status="Error" />
    </govuk-task-list-task>
    <govuk-task-list-task>
        <govuk-task-list-task-name>This section is unconfirmed</govuk-task-list-task-name>
        <govuk-task-list-task-status status="Unconfirmed" />
    </govuk-task-list-task>
</govuk-task-list>