@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IEnumerable<BlockGridItem>>
@using ThePensionsRegulator.Umbraco.Blocks;
@using Umbraco.Extensions
@using Umbraco.Cms.Core.Models.Blocks
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    var filteredModel = Model as OverridableBlockGridModel ?? new OverridableBlockGridModel(Model, null);
    var blocks = filteredModel.FilteredBlocks().ToList();
    if (!blocks.Any()) { return; }

    // get the number of columns defined for the grid
    var gridColumns = filteredModel.GridColumns;

    <div class="umb-block-grid"
         data-grid-columns="@(filteredModel.GridColumns?.ToString() ?? "12");"
         style="--umb-block-grid--grid-columns: @(filteredModel.GridColumns?.ToString() ?? "12");">
        <partial name="GOVUK/BlockGridItems" model="filteredModel" />
    </div>
}