@using ThePensionsRegulator.Umbraco.Blocks;
@using Umbraco.Cms.Core.Models.Blocks;
@using Umbraco.Cms.Core.Models.PublishedContent;
@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BlockGridItem>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    var gridItem = Model as OverridableBlockGridItem ?? new OverridableBlockGridItem(Model);
    var areas = gridItem?.Areas;

    if (areas is not null && areas.Any())
    {
<div class="govuk-grid-row">
    @foreach (var area in areas)
    {
        <div class="govuk-grid-column govuk-grid-column-one-half">
            <partial name="GOVUK/BlockGrid" model="area" />
        </div>
    }
</div>
    }
}
