@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<OverridableBlockListItem>;
@using GovUk.Frontend.Umbraco
@using GovUk.Frontend.Umbraco.Models
@using ThePensionsRegulator.Umbraco.Blocks;
@using Umbraco.Extensions
@{
    var cssClass = ("govuk-heading-l " + Model.Settings?.Value<string>(PropertyAliases.CssClasses)).TrimEnd();
    var heading = Model.Content.Value<string>(PropertyAliases.PageHeading);
    if (string.IsNullOrWhiteSpace(heading))
    {
        heading = Umbraco.AssignedContentItem.Name;
    }
}
<h1 class="@cssClass">@heading</h1>