<?xml version="1.0" encoding="utf-8"?>
<Content Key="b8342702-1c64-4e21-8f06-dcac3e73f5b5" Alias="Fieldset" Level="2">
  <Info>
    <Parent Key="5e682cbe-b867-491a-955f-3382446d5663">Home</Parent>
    <Path>/Home/Fieldset</Path>
    <Trashed>false</Trashed>
    <ContentType>fieldset</ContentType>
    <CreateDate>2022-08-25T12:40:16</CreateDate>
    <NodeName Default="Fieldset" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="268b06b3-98a6-489d-b809-717c5dfd17b4">Fieldset</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/def35869375242debebbd4060d79a21c",
        "settingsUdi": "umb://element/1a0fc16f46b8467c80a09a34e5eb4feb"
      },
      {
        "contentUdi": "umb://element/13e4ee59bcca4b66977755b94e3118a9",
        "settingsUdi": "umb://element/1be323667dcc40ad96196c8ab6409359"
      },
      {
        "contentUdi": "umb://element/baa915952f674a719ac300fb12d14f15",
        "settingsUdi": "umb://element/47a25bd22979425c89cc4a6eb7a5ca3a"
      }
    ]
  },
  "contentData": [
    {
      "caption": "Example application in Umbraco",
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "udi": "umb://element/def35869375242debebbd4060d79a21c"
    },
    {
      "blocks": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/3408076ccc9b4753b8ecda4272ce88aa",
              "settingsUdi": "umb://element/27958e2ee8fe482689ef3e5268e17f38"
            },
            {
              "contentUdi": "umb://element/fe601b08fa70401a907231e4d5448216",
              "settingsUdi": "umb://element/6914988c03494b70bcf38680448d4bfe"
            },
            {
              "contentUdi": "umb://element/1048311ff767421891d357dfc9a3e620",
              "settingsUdi": "umb://element/2f3b8864914d49a1b98b3b44a206ac30"
            },
            {
              "contentUdi": "umb://element/c08afbe3316e441b83a3d5a423bc8a97",
              "settingsUdi": "umb://element/e9ee3c171fb245c4b9ee69f459e50265"
            },
            {
              "contentUdi": "umb://element/e311078538834c10b46d5fcb30ff60dd",
              "settingsUdi": "umb://element/9ba52b9d94d14c58b78eb147f900eaa6"
            },
            {
              "contentUdi": "umb://element/c91fc8b009874263b33c0d5a4a4b454b",
              "settingsUdi": "umb://element/e0f32e47e0484e0bace644532ec04661"
            },
            {
              "contentUdi": "umb://element/2d467fc6a7a140c5a419bdae8ea2fab6",
              "settingsUdi": "umb://element/da447536450549ea8e0427365fca2e32"
            },
            {
              "contentUdi": "umb://element/bde9a9ff0eeb4db29f8fa0095d9011a0",
              "settingsUdi": "umb://element/e183194507ee474d86bcab7cadf6d4d3"
            },
            {
              "contentUdi": "umb://element/35c28ab7b3fe43139d1e048ac5e3b57e",
              "settingsUdi": "umb://element/ce9273de1aa148d7828b2c0f1bf64cf5"
            },
            {
              "contentUdi": "umb://element/5078f5a9f8d643e19351590fb9b75ddb",
              "settingsUdi": "umb://element/1c5f98fc7fa6488da51fe7aa9aeb8062"
            },
            {
              "contentUdi": "umb://element/ce68c33ca57f4f44a9757c4026e4a02d",
              "settingsUdi": "umb://element/3f78b5c32578481f8407f88243143136"
            },
            {
              "contentUdi": "umb://element/c829373fab824ffa9dc243bd673a3dc7",
              "settingsUdi": "umb://element/d243bffa815c467aa1e139a11f623f34"
            },
            {
              "contentUdi": "umb://element/9802b7214644416987dcc6bbd48b9f77",
              "settingsUdi": "umb://element/700f26183d7b405e9fd421e437313321"
            },
            {
              "contentUdi": "umb://element/694b8d0c6d144a189cd8fc520642a0e0",
              "settingsUdi": "umb://element/12c422f4654245f081dd014def225e00"
            },
            {
              "contentUdi": "umb://element/44d3f7f36d10433e8f30ac3b95231509",
              "settingsUdi": "umb://element/02dfa38bd4f847cc8717ae40520f4ed8"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
            "text": {
              "markup": "<p>A fieldset groups together related fields, and is important for assistive technology. It should always have a legend explaining the purpose of the fieldset.</p>\n<p>Where the fieldset includes all the fields on the page, the legend also needs to be the page heading as in this first example.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "udi": "umb://element/3408076ccc9b4753b8ecda4272ce88aa"
          },
          {
            "contentTypeKey": "fe2dd0de-55a9-4249-be03-6896aa719974",
            "hint": "",
            "label": "Field 1",
            "udi": "umb://element/fe601b08fa70401a907231e4d5448216"
          },
          {
            "contentTypeKey": "fe2dd0de-55a9-4249-be03-6896aa719974",
            "hint": "",
            "label": "Field 2",
            "udi": "umb://element/1048311ff767421891d357dfc9a3e620"
          },
          {
            "contentTypeKey": "fe2dd0de-55a9-4249-be03-6896aa719974",
            "hint": "",
            "label": "Field 3",
            "udi": "umb://element/c08afbe3316e441b83a3d5a423bc8a97"
          },
          {
            "contentTypeKey": "fe2dd0de-55a9-4249-be03-6896aa719974",
            "hint": "",
            "label": "Field 4",
            "udi": "umb://element/e311078538834c10b46d5fcb30ff60dd"
          },
          {
            "contentTypeKey": "fe2dd0de-55a9-4249-be03-6896aa719974",
            "hint": "",
            "label": "Field 5",
            "udi": "umb://element/c91fc8b009874263b33c0d5a4a4b454b"
          },
          {
            "contentTypeKey": "fe2dd0de-55a9-4249-be03-6896aa719974",
            "hint": "",
            "label": "Field 6",
            "udi": "umb://element/2d467fc6a7a140c5a419bdae8ea2fab6"
          },
          {
            "contentTypeKey": "fe2dd0de-55a9-4249-be03-6896aa719974",
            "hint": "",
            "label": "Field 7",
            "udi": "umb://element/bde9a9ff0eeb4db29f8fa0095d9011a0"
          },
          {
            "contentTypeKey": "fe2dd0de-55a9-4249-be03-6896aa719974",
            "hint": "",
            "label": "Field 8",
            "udi": "umb://element/35c28ab7b3fe43139d1e048ac5e3b57e"
          },
          {
            "contentTypeKey": "fe2dd0de-55a9-4249-be03-6896aa719974",
            "hint": "",
            "label": "Field 9",
            "udi": "umb://element/5078f5a9f8d643e19351590fb9b75ddb"
          },
          {
            "contentTypeKey": "fe2dd0de-55a9-4249-be03-6896aa719974",
            "hint": "",
            "label": "Field 10",
            "udi": "umb://element/ce68c33ca57f4f44a9757c4026e4a02d"
          },
          {
            "contentTypeKey": "fe2dd0de-55a9-4249-be03-6896aa719974",
            "hint": "",
            "label": "Field 11",
            "udi": "umb://element/c829373fab824ffa9dc243bd673a3dc7"
          },
          {
            "contentTypeKey": "fe2dd0de-55a9-4249-be03-6896aa719974",
            "hint": "",
            "label": "Field 12",
            "udi": "umb://element/9802b7214644416987dcc6bbd48b9f77"
          },
          {
            "contentTypeKey": "fe2dd0de-55a9-4249-be03-6896aa719974",
            "hint": "",
            "label": "Field 13",
            "udi": "umb://element/694b8d0c6d144a189cd8fc520642a0e0"
          },
          {
            "contentTypeKey": "fe2dd0de-55a9-4249-be03-6896aa719974",
            "hint": "",
            "label": "Field 14",
            "udi": "umb://element/44d3f7f36d10433e8f30ac3b95231509"
          }
        ],
        "settingsData": [
          {
            "columnSize": "",
            "columnSizeFromDesktop": "",
            "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
            "cssClassesForColumn": "",
            "cssClassesForRow": "",
            "udi": "umb://element/27958e2ee8fe482689ef3e5268e17f38"
          },
          {
            "columnSize": "",
            "columnSizeFromDesktop": "",
            "contentTypeKey": "98070ce9-d528-4bfc-bd90-e411e5110f56",
            "cssClasses": "",
            "cssClassesForColumn": "",
            "cssClassesForRow": "",
            "customError1": "",
            "customError2": "",
            "customError3": "",
            "errorMessageCompare": "",
            "errorMessageEmail": "",
            "errorMessageLength": "",
            "errorMessageMaxLength": "",
            "errorMessageMinLength": "",
            "errorMessagePhone": "",
            "errorMessageRange": "",
            "errorMessageRegex": "",
            "errorMessageRequired": "",
            "extraLetterSpacing": "",
            "labelIsPageHeading": "0",
            "modelProperty": "",
            "prefix": "",
            "readOnly": "",
            "suffix": "",
            "textInputWidth": "",
            "udi": "umb://element/6914988c03494b70bcf38680448d4bfe"
          },
          {
            "columnSize": "",
            "columnSizeFromDesktop": "",
            "contentTypeKey": "98070ce9-d528-4bfc-bd90-e411e5110f56",
            "cssClasses": "",
            "cssClassesForColumn": "",
            "cssClassesForRow": "",
            "customError1": "",
            "customError2": "",
            "customError3": "",
            "errorMessageCompare": "",
            "errorMessageEmail": "",
            "errorMessageLength": "",
            "errorMessageMaxLength": "",
            "errorMessageMinLength": "",
            "errorMessagePhone": "",
            "errorMessageRange": "",
            "errorMessageRegex": "",
            "errorMessageRequired": "",
            "extraLetterSpacing": "",
            "labelIsPageHeading": "0",
            "modelProperty": "",
            "prefix": "",
            "readOnly": "",
            "suffix": "",
            "textInputWidth": "",
            "udi": "umb://element/2f3b8864914d49a1b98b3b44a206ac30"
          },
          {
            "columnSize": "",
            "columnSizeFromDesktop": "",
            "contentTypeKey": "98070ce9-d528-4bfc-bd90-e411e5110f56",
            "cssClasses": "",
            "cssClassesForColumn": "",
            "cssClassesForRow": "",
            "customError1": "",
            "customError2": "",
            "customError3": "",
            "errorMessageCompare": "",
            "errorMessageEmail": "",
            "errorMessageLength": "",
            "errorMessageMaxLength": "",
            "errorMessageMinLength": "",
            "errorMessagePhone": "",
            "errorMessageRange": "",
            "errorMessageRegex": "",
            "errorMessageRequired": "",
            "extraLetterSpacing": "0",
            "labelIsPageHeading": "0",
            "modelProperty": "",
            "prefix": "",
            "readOnly": "0",
            "suffix": "",
            "textInputWidth": "",
            "udi": "umb://element/e9ee3c171fb245c4b9ee69f459e50265"
          },
          {
            "columnSize": "",
            "columnSizeFromDesktop": "",
            "contentTypeKey": "98070ce9-d528-4bfc-bd90-e411e5110f56",
            "cssClasses": "",
            "cssClassesForColumn": "",
            "cssClassesForRow": "",
            "customError1": "",
            "customError2": "",
            "customError3": "",
            "errorMessageCompare": "",
            "errorMessageEmail": "",
            "errorMessageLength": "",
            "errorMessageMaxLength": "",
            "errorMessageMinLength": "",
            "errorMessagePhone": "",
            "errorMessageRange": "",
            "errorMessageRegex": "",
            "errorMessageRequired": "",
            "extraLetterSpacing": "0",
            "labelIsPageHeading": "0",
            "modelProperty": "",
            "prefix": "",
            "readOnly": "0",
            "suffix": "",
            "textInputWidth": "",
            "udi": "umb://element/9ba52b9d94d14c58b78eb147f900eaa6"
          },
          {
            "columnSize": "",
            "columnSizeFromDesktop": "",
            "contentTypeKey": "98070ce9-d528-4bfc-bd90-e411e5110f56",
            "cssClasses": "",
            "cssClassesForColumn": "",
            "cssClassesForRow": "",
            "customError1": "",
            "customError2": "",
            "customError3": "",
            "errorMessageCompare": "",
            "errorMessageEmail": "",
            "errorMessageLength": "",
            "errorMessageMaxLength": "",
            "errorMessageMinLength": "",
            "errorMessagePhone": "",
            "errorMessageRange": "",
            "errorMessageRegex": "",
            "errorMessageRequired": "",
            "extraLetterSpacing": "0",
            "labelIsPageHeading": "0",
            "modelProperty": "",
            "prefix": "",
            "readOnly": "0",
            "suffix": "",
            "textInputWidth": "",
            "udi": "umb://element/e0f32e47e0484e0bace644532ec04661"
          },
          {
            "columnSize": "",
            "columnSizeFromDesktop": "",
            "contentTypeKey": "98070ce9-d528-4bfc-bd90-e411e5110f56",
            "cssClasses": "",
            "cssClassesForColumn": "",
            "cssClassesForRow": "",
            "customError1": "",
            "customError2": "",
            "customError3": "",
            "errorMessageCompare": "",
            "errorMessageEmail": "",
            "errorMessageLength": "",
            "errorMessageMaxLength": "",
            "errorMessageMinLength": "",
            "errorMessagePhone": "",
            "errorMessageRange": "",
            "errorMessageRegex": "",
            "errorMessageRequired": "",
            "extraLetterSpacing": "0",
            "labelIsPageHeading": "0",
            "modelProperty": "",
            "prefix": "",
            "readOnly": "0",
            "suffix": "",
            "textInputWidth": "",
            "udi": "umb://element/da447536450549ea8e0427365fca2e32"
          },
          {
            "columnSize": "",
            "columnSizeFromDesktop": "",
            "contentTypeKey": "98070ce9-d528-4bfc-bd90-e411e5110f56",
            "cssClasses": "",
            "cssClassesForColumn": "",
            "cssClassesForRow": "",
            "customError1": "",
            "customError2": "",
            "customError3": "",
            "errorMessageCompare": "",
            "errorMessageEmail": "",
            "errorMessageLength": "",
            "errorMessageMaxLength": "",
            "errorMessageMinLength": "",
            "errorMessagePhone": "",
            "errorMessageRange": "",
            "errorMessageRegex": "",
            "errorMessageRequired": "",
            "extraLetterSpacing": "0",
            "labelIsPageHeading": "0",
            "modelProperty": "",
            "prefix": "",
            "readOnly": "0",
            "suffix": "",
            "textInputWidth": "",
            "udi": "umb://element/e183194507ee474d86bcab7cadf6d4d3"
          },
          {
            "columnSize": "",
            "columnSizeFromDesktop": "",
            "contentTypeKey": "98070ce9-d528-4bfc-bd90-e411e5110f56",
            "cssClasses": "",
            "cssClassesForColumn": "",
            "cssClassesForRow": "",
            "customError1": "",
            "customError2": "",
            "customError3": "",
            "errorMessageCompare": "",
            "errorMessageEmail": "",
            "errorMessageLength": "",
            "errorMessageMaxLength": "",
            "errorMessageMinLength": "",
            "errorMessagePhone": "",
            "errorMessageRange": "",
            "errorMessageRegex": "",
            "errorMessageRequired": "",
            "extraLetterSpacing": "0",
            "labelIsPageHeading": "0",
            "modelProperty": "",
            "prefix": "",
            "readOnly": "0",
            "suffix": "",
            "textInputWidth": "",
            "udi": "umb://element/ce9273de1aa148d7828b2c0f1bf64cf5"
          },
          {
            "columnSize": "",
            "columnSizeFromDesktop": "",
            "contentTypeKey": "98070ce9-d528-4bfc-bd90-e411e5110f56",
            "cssClasses": "",
            "cssClassesForColumn": "",
            "cssClassesForRow": "",
            "customError1": "",
            "customError2": "",
            "customError3": "",
            "errorMessageCompare": "",
            "errorMessageEmail": "",
            "errorMessageLength": "",
            "errorMessageMaxLength": "",
            "errorMessageMinLength": "",
            "errorMessagePhone": "",
            "errorMessageRange": "",
            "errorMessageRegex": "",
            "errorMessageRequired": "",
            "extraLetterSpacing": "0",
            "labelIsPageHeading": "0",
            "modelProperty": "",
            "prefix": "",
            "readOnly": "0",
            "suffix": "",
            "textInputWidth": "",
            "udi": "umb://element/1c5f98fc7fa6488da51fe7aa9aeb8062"
          },
          {
            "columnSize": "",
            "columnSizeFromDesktop": "",
            "contentTypeKey": "98070ce9-d528-4bfc-bd90-e411e5110f56",
            "cssClasses": "",
            "cssClassesForColumn": "",
            "cssClassesForRow": "",
            "customError1": "",
            "customError2": "",
            "customError3": "",
            "errorMessageCompare": "",
            "errorMessageEmail": "",
            "errorMessageLength": "",
            "errorMessageMaxLength": "",
            "errorMessageMinLength": "",
            "errorMessagePhone": "",
            "errorMessageRange": "",
            "errorMessageRegex": "",
            "errorMessageRequired": "",
            "extraLetterSpacing": "0",
            "labelIsPageHeading": "0",
            "modelProperty": "",
            "prefix": "",
            "readOnly": "0",
            "suffix": "",
            "textInputWidth": "",
            "udi": "umb://element/3f78b5c32578481f8407f88243143136"
          },
          {
            "columnSize": "",
            "columnSizeFromDesktop": "",
            "contentTypeKey": "98070ce9-d528-4bfc-bd90-e411e5110f56",
            "cssClasses": "",
            "cssClassesForColumn": "",
            "cssClassesForRow": "",
            "customError1": "",
            "customError2": "",
            "customError3": "",
            "errorMessageCompare": "",
            "errorMessageEmail": "",
            "errorMessageLength": "",
            "errorMessageMaxLength": "",
            "errorMessageMinLength": "",
            "errorMessagePhone": "",
            "errorMessageRange": "",
            "errorMessageRegex": "",
            "errorMessageRequired": "",
            "extraLetterSpacing": "0",
            "labelIsPageHeading": "0",
            "modelProperty": "",
            "prefix": "",
            "readOnly": "0",
            "suffix": "",
            "textInputWidth": "",
            "udi": "umb://element/d243bffa815c467aa1e139a11f623f34"
          },
          {
            "columnSize": "",
            "columnSizeFromDesktop": "",
            "contentTypeKey": "98070ce9-d528-4bfc-bd90-e411e5110f56",
            "cssClasses": "",
            "cssClassesForColumn": "",
            "cssClassesForRow": "",
            "customError1": "",
            "customError2": "",
            "customError3": "",
            "errorMessageCompare": "",
            "errorMessageEmail": "",
            "errorMessageLength": "",
            "errorMessageMaxLength": "",
            "errorMessageMinLength": "",
            "errorMessagePhone": "",
            "errorMessageRange": "",
            "errorMessageRegex": "",
            "errorMessageRequired": "",
            "extraLetterSpacing": "0",
            "labelIsPageHeading": "0",
            "modelProperty": "",
            "prefix": "",
            "readOnly": "0",
            "suffix": "",
            "textInputWidth": "",
            "udi": "umb://element/700f26183d7b405e9fd421e437313321"
          },
          {
            "columnSize": "",
            "columnSizeFromDesktop": "",
            "contentTypeKey": "98070ce9-d528-4bfc-bd90-e411e5110f56",
            "cssClasses": "",
            "cssClassesForColumn": "",
            "cssClassesForRow": "",
            "customError1": "",
            "customError2": "",
            "customError3": "",
            "errorMessageCompare": "",
            "errorMessageEmail": "",
            "errorMessageLength": "",
            "errorMessageMaxLength": "",
            "errorMessageMinLength": "",
            "errorMessagePhone": "",
            "errorMessageRange": "",
            "errorMessageRegex": "",
            "errorMessageRequired": "",
            "extraLetterSpacing": "0",
            "labelIsPageHeading": "0",
            "modelProperty": "",
            "prefix": "",
            "readOnly": "0",
            "suffix": "",
            "textInputWidth": "",
            "udi": "umb://element/12c422f4654245f081dd014def225e00"
          },
          {
            "columnSize": "",
            "columnSizeFromDesktop": "",
            "contentTypeKey": "98070ce9-d528-4bfc-bd90-e411e5110f56",
            "cssClasses": "",
            "cssClassesForColumn": "",
            "cssClassesForRow": "govuk-grid-row--tpr-divider",
            "customError1": "",
            "customError2": "",
            "customError3": "",
            "errorMessageCompare": "",
            "errorMessageEmail": "",
            "errorMessageLength": "",
            "errorMessageMaxLength": "",
            "errorMessageMinLength": "",
            "errorMessagePhone": "",
            "errorMessageRange": "",
            "errorMessageRegex": "",
            "errorMessageRequired": "",
            "extraLetterSpacing": "0",
            "labelIsPageHeading": "0",
            "modelProperty": "",
            "prefix": "",
            "readOnly": "0",
            "suffix": "",
            "textInputWidth": "",
            "udi": "umb://element/02dfa38bd4f847cc8717ae40520f4ed8"
          }
        ]
      },
      "contentTypeKey": "f7fc1212-5317-4642-9565-f8b6585508e8",
      "legend": "Fieldset",
      "udi": "umb://element/13e4ee59bcca4b66977755b94e3118a9"
    },
    {
      "blocks": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/ced7037998b1411c9f2d9e68c9ccd932",
              "settingsUdi": "umb://element/0e379c5a658d49f49359051e2f6cded9"
            },
            {
              "contentUdi": "umb://element/82f1a935c78c4446b8070e56b85e513b",
              "settingsUdi": "umb://element/76e2fd9fe55d4f94829c55a9431b0079"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "fe2dd0de-55a9-4249-be03-6896aa719974",
            "hint": "",
            "label": "Field 3",
            "udi": "umb://element/ced7037998b1411c9f2d9e68c9ccd932"
          },
          {
            "contentTypeKey": "fe2dd0de-55a9-4249-be03-6896aa719974",
            "hint": "",
            "label": "Field 4",
            "udi": "umb://element/82f1a935c78c4446b8070e56b85e513b"
          }
        ],
        "settingsData": [
          {
            "columnSize": "",
            "columnSizeFromDesktop": "",
            "contentTypeKey": "98070ce9-d528-4bfc-bd90-e411e5110f56",
            "cssClasses": "",
            "cssClassesForColumn": "",
            "cssClassesForRow": "",
            "customError1": "",
            "customError2": "",
            "customError3": "",
            "errorMessageCompare": "",
            "errorMessageEmail": "",
            "errorMessageLength": "",
            "errorMessageMaxLength": "",
            "errorMessageMinLength": "",
            "errorMessagePhone": "",
            "errorMessageRange": "",
            "errorMessageRegex": "",
            "errorMessageRequired": "",
            "extraLetterSpacing": "",
            "labelIsPageHeading": "0",
            "modelProperty": "",
            "prefix": "",
            "readOnly": "",
            "suffix": "",
            "textInputWidth": "",
            "udi": "umb://element/0e379c5a658d49f49359051e2f6cded9"
          },
          {
            "columnSize": "",
            "columnSizeFromDesktop": "",
            "contentTypeKey": "98070ce9-d528-4bfc-bd90-e411e5110f56",
            "cssClasses": "",
            "cssClassesForColumn": "",
            "cssClassesForRow": "",
            "customError1": "",
            "customError2": "",
            "customError3": "",
            "errorMessageCompare": "",
            "errorMessageEmail": "",
            "errorMessageLength": "",
            "errorMessageMaxLength": "",
            "errorMessageMinLength": "",
            "errorMessagePhone": "",
            "errorMessageRange": "",
            "errorMessageRegex": "",
            "errorMessageRequired": "",
            "extraLetterSpacing": "",
            "labelIsPageHeading": "",
            "modelProperty": "",
            "prefix": "",
            "readOnly": "",
            "suffix": "",
            "textInputWidth": "",
            "udi": "umb://element/76e2fd9fe55d4f94829c55a9431b0079"
          }
        ]
      },
      "contentTypeKey": "f7fc1212-5317-4642-9565-f8b6585508e8",
      "legend": "Another fieldset, but the legend is not the page heading",
      "udi": "umb://element/baa915952f674a719ac300fb12d14f15"
    }
  ],
  "settingsData": [
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/1a0fc16f46b8467c80a09a34e5eb4feb"
    },
    {
      "columnSize": [
        "full"
      ],
      "columnSizeFromDesktop": "",
      "contentTypeKey": "6930e373-0fce-44ad-89b8-267442675807",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "fieldsetErrors": "1",
      "legendIsPageHeading": "1",
      "udi": "umb://element/1be323667dcc40ad96196c8ab6409359"
    },
    {
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "contentTypeKey": "6930e373-0fce-44ad-89b8-267442675807",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "fieldsetErrors": "1",
      "legendIsPageHeading": "0",
      "udi": "umb://element/47a25bd22979425c89cc4a6eb7a5ca3a"
    }
  ]
}]]></Value>
    </blocks>
    <headingScaleStart>
      <Value><![CDATA[]]></Value>
    </headingScaleStart>
  </Properties>
</Content>