<?xml version="1.0" encoding="utf-8"?>
<Content Key="9e647642-8c53-465b-8465-477f5eed307f" Alias="Pagination" Level="2">
  <Info>
    <Parent Key="5e682cbe-b867-491a-955f-3382446d5663">Home</Parent>
    <Path>/Home/Pagination</Path>
    <Trashed>false</Trashed>
    <ContentType>pagination</ContentType>
    <CreateDate>2023-04-03T12:29:05</CreateDate>
    <NodeName Default="Pagination" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b101a16f-48c6-4956-931a-7c1c5c90e825">Pagination</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b45ef7a793f14f83a63af671a585ea4a",
        "settingsUdi": "umb://element/2814734fe2374ca6bca02f7e5519fc70"
      },
      {
        "contentUdi": "umb://element/129d56a2bc5b4adabb8356e659cf9f4d",
        "settingsUdi": "umb://element/faf2486ba07b4edb9c58aa91505c8c30"
      },
      {
        "contentUdi": "umb://element/257f1b897e2b45be89472b5d8cec52f3",
        "settingsUdi": "umb://element/02760b6ee27f41d4a0e7ff7b88164648"
      },
      {
        "contentUdi": "umb://element/a867a606cbb545edab7b9d25839efad0",
        "settingsUdi": "umb://element/260d0f06d2b643fc92830037caf5b0d9"
      },
      {
        "contentUdi": "umb://element/762dad3f4dd949fb968e1e942d52112a",
        "settingsUdi": "umb://element/4f0fb11f6ca14974be5161d741918060"
      },
      {
        "contentUdi": "umb://element/6b7ff8ddecf24622b130c2ecb24a3ee0",
        "settingsUdi": "umb://element/659fe00f0bd44f4e8eab97ffaef402f6"
      },
      {
        "contentUdi": "umb://element/fc79ca18c2384a2a8b64be016c03debe",
        "settingsUdi": "umb://element/c604be39d07441c280eddee6c79b70ab"
      },
      {
        "contentUdi": "umb://element/3f0dc4dbbe1641bf896a845ba9d92ae9",
        "settingsUdi": "umb://element/ad8644e4395b45c4b7d81452123eefa9"
      },
      {
        "contentUdi": "umb://element/8173e9593251494ebf71c3e879ef727f",
        "settingsUdi": "umb://element/b200582242db4085a56124feec7ea1fe"
      },
      {
        "contentUdi": "umb://element/c7195abcc5744bd7ab329c2a1561fd37",
        "settingsUdi": "umb://element/47165e2504844685b0263451754eb0d5"
      },
      {
        "contentUdi": "umb://element/da27c535c39b4f5e8a4a8b7d5c03503a",
        "settingsUdi": "umb://element/3e0b158a5c244850b503dbed31ae3da0"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "udi": "umb://element/a867a606cbb545edab7b9d25839efad0",
      "text": "<p class=\"govuk-body\">The GOV.UK Design System recommends using pagination differently depending on how many pages there are. A pagination partial view expects a <em>PaginationModel</em> and applies this and other pagination logic for you. See the Razor source of this page for an example.</p>\n<p class=\"govuk-body\">There are behaviours not covered by the partial view which you should implement:</p>\n<ul class=\"govuk-list govuk-list--bullet\">\n<li>Redirect users to the first page if they enter a URL of a page that no longer exists.</li>\n<li>Show the page number in the page &lt;title&gt; so that screen reader users know they’ve navigated to a different page. For example, ‘Search results (page 1 of 4)’.</li>\n</ul>"
    },
    {
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "udi": "umb://element/129d56a2bc5b4adabb8356e659cf9f4d",
      "caption": "Example application in Umbraco"
    },
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "udi": "umb://element/257f1b897e2b45be89472b5d8cec52f3"
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "udi": "umb://element/6b7ff8ddecf24622b130c2ecb24a3ee0",
      "text": "<h2 class=\"govuk-heading-m\">Pagination for a small number of pages</h2>"
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "udi": "umb://element/fc79ca18c2384a2a8b64be016c03debe",
      "text": "<h2 class=\"govuk-heading-m\">Pagination for a large number of pages</h2>"
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "udi": "umb://element/8173e9593251494ebf71c3e879ef727f",
      "text": "<h2 class=\"govuk-heading-m\">Change the number of pages</h2>\n<p>This example displays 10 items per page. The pagination style changes when there are more than 10 pages.</p>"
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "udi": "umb://element/762dad3f4dd949fb968e1e942d52112a",
      "text": "<h2 class=\"govuk-heading-m\">Pagination for a single page of items</h2>\n<p>Pagination should not appear at all when there are not enough items for a second page.</p>"
    },
    {
      "contentTypeKey": "fe2dd0de-55a9-4249-be03-6896aa719974",
      "udi": "umb://element/c7195abcc5744bd7ab329c2a1561fd37",
      "label": "Number of items"
    },
    {
      "contentTypeKey": "35584ae7-feb5-4de8-9008-5d2d8cfb34ce",
      "udi": "umb://element/da27c535c39b4f5e8a4a8b7d5c03503a",
      "text": "Submit"
    },
    {
      "contentTypeKey": "7b79c9f1-4f4d-4c9b-915e-8f364bc86830",
      "udi": "umb://element/b45ef7a793f14f83a63af671a585ea4a"
    },
    {
      "contentTypeKey": "d8ded14d-00eb-46c2-8c66-29a27fc6b05a",
      "udi": "umb://element/3f0dc4dbbe1641bf896a845ba9d92ae9"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "udi": "umb://element/260d0f06d2b643fc92830037caf5b0d9"
    },
    {
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "udi": "umb://element/faf2486ba07b4edb9c58aa91505c8c30"
    },
    {
      "contentTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "udi": "umb://element/02760b6ee27f41d4a0e7ff7b88164648",
      "cssClassesForRow": "govuk-grid-row--tpr-divider",
      "columnSize": "",
      "columnSizeFromDesktop": ""
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "udi": "umb://element/659fe00f0bd44f4e8eab97ffaef402f6",
      "cssClassesForRow": "tpr-pagination-small",
      "columnSize": "",
      "columnSizeFromDesktop": ""
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "udi": "umb://element/c604be39d07441c280eddee6c79b70ab",
      "cssClassesForRow": "tpr-pagination-large",
      "columnSize": "",
      "columnSizeFromDesktop": ""
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "udi": "umb://element/b200582242db4085a56124feec7ea1fe"
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "udi": "umb://element/4f0fb11f6ca14974be5161d741918060",
      "cssClassesForRow": "tpr-pagination-none",
      "columnSize": "",
      "columnSizeFromDesktop": ""
    },
    {
      "contentTypeKey": "98070ce9-d528-4bfc-bd90-e411e5110f56",
      "udi": "umb://element/47165e2504844685b0263451754eb0d5",
      "labelIsPageHeading": "0",
      "textInputWidth": [
        "x-small"
      ],
      "cssClassesForRow": "govuk-grid-row--tpr-divider",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "modelProperty": "Items",
      "errorMessageRequired": "Enter a number of items to paginate"
    },
    {
      "contentTypeKey": "e683e885-8aa0-4bdd-9eff-56966f353540",
      "udi": "umb://element/3e0b158a5c244850b503dbed31ae3da0"
    },
    {
      "contentTypeKey": "ec4a6e3f-a6a8-4c8a-9d4c-d3e90399ac2c",
      "udi": "umb://element/2814734fe2374ca6bca02f7e5519fc70"
    },
    {
      "contentTypeKey": "b8f1e93f-f50d-4a57-8cd1-356ee8d7d284",
      "udi": "umb://element/ad8644e4395b45c4b7d81452123eefa9",
      "landmarkLabel": "",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "pageSize": "",
      "cssClasses": "",
      "previousPageLabel": "",
      "nextPageLabel": "",
      "pageLabel": "",
      "queryStringParameter": "",
      "largeNumberOfPagesThreshold": "",
      "cssClassesForRow": ""
    }
  ]
}]]></Value>
    </blocks>
    <grid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/db7d9cbf62d940c4b588d40cd663a3d7",
        "settingsUdi": "umb://element/a5c00026755a466ba3be0b088c3151af",
        "areas": [
          {
            "key": "e5cccb24-c20d-4159-ac70-c56a67789c57",
            "items": [
              {
                "contentUdi": "umb://element/d1e04a0d95cb4279bb7d12b9db5f8650",
                "settingsUdi": "umb://element/22389d5e449d44e1baec199b595d5d38",
                "areas": [],
                "columnSpan": 8,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/e8c2c979982c431d8134f924a3742ca1",
                "settingsUdi": "umb://element/f23355623fca4616981eb9b09ec02e97",
                "areas": [],
                "columnSpan": 8,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/852a5bedd7ab4885a86147de9b10446c",
                "settingsUdi": "umb://element/f2035b265f574a32a3e7568101521d45",
                "areas": [],
                "columnSpan": 8,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/b056fe84af2a44b09f707402e3fa2483",
                "settingsUdi": "umb://element/ee602ffc6ac64387839041f5190d8f28",
                "areas": [],
                "columnSpan": 8,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "8ade65b2-a237-44af-a25a-4b7bde0298f9",
            "items": [
              {
                "contentUdi": "umb://element/deb94213d4a1439b8f8f5bdad02873c2",
                "settingsUdi": "umb://element/66ed72b6671d43659c31f253f3eca5c8",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/caa81945ce5d4a8293db57fddefb03ba",
        "settingsUdi": "umb://element/3f5a25b930d3447d8c112457296d4cea",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d8ded14d-00eb-46c2-8c66-29a27fc6b05a",
      "udi": "umb://element/caa81945ce5d4a8293db57fddefb03ba"
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "udi": "umb://element/d1e04a0d95cb4279bb7d12b9db5f8650",
      "text": "<p>Pagination can be displayed in a block grid as well as a block list.</p>"
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "udi": "umb://element/e8c2c979982c431d8134f924a3742ca1",
      "text": "<h2 class=\"govuk-heading-m\">Pagination for a single page of items</h2>\n<p>Pagination should not appear at all when there are not enough items for a second page.</p>"
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "udi": "umb://element/852a5bedd7ab4885a86147de9b10446c",
      "text": "<h2 class=\"govuk-heading-m\">Pagination for a small number of pages</h2>"
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "udi": "umb://element/b056fe84af2a44b09f707402e3fa2483",
      "text": "<h2 class=\"govuk-heading-m\">Pagination for a large number of pages</h2>"
    },
    {
      "contentTypeKey": "650d7119-e9cf-4c26-a08c-21cf2ffbbbbc",
      "udi": "umb://element/db7d9cbf62d940c4b588d40cd663a3d7"
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "udi": "umb://element/deb94213d4a1439b8f8f5bdad02873c2",
      "text": "<p>This is a sidebar to demonstrate the block grid.</p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "b8f1e93f-f50d-4a57-8cd1-356ee8d7d284",
      "udi": "umb://element/3f5a25b930d3447d8c112457296d4cea"
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "udi": "umb://element/22389d5e449d44e1baec199b595d5d38"
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "udi": "umb://element/f23355623fca4616981eb9b09ec02e97",
      "cssClassesForRow": "tpr-pagination-none",
      "columnSize": "",
      "columnSizeFromDesktop": ""
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "udi": "umb://element/f2035b265f574a32a3e7568101521d45",
      "cssClassesForRow": "tpr-pagination-small",
      "columnSize": "",
      "columnSizeFromDesktop": ""
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "udi": "umb://element/ee602ffc6ac64387839041f5190d8f28",
      "cssClassesForRow": "tpr-pagination-large",
      "columnSize": "",
      "columnSizeFromDesktop": ""
    },
    {
      "contentTypeKey": "53edb934-ee79-4ff0-b23a-84b91e9fef7a",
      "udi": "umb://element/a5c00026755a466ba3be0b088c3151af"
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "udi": "umb://element/66ed72b6671d43659c31f253f3eca5c8"
    }
  ]
}]]></Value>
    </grid>
  </Properties>
</Content>