<?xml version="1.0" encoding="utf-8"?>
<Content Key="f3f20d48-8330-4384-9a56-49504200791e" Alias="Side navigation" Level="2">
  <Info>
    <Parent Key="5e682cbe-b867-491a-955f-3382446d5663">Home</Parent>
    <Path>/Home/SideNavigation</Path>
    <Trashed>false</Trashed>
    <ContentType>sideNavigation</ContentType>
    <CreateDate>2025-07-08T12:13:26</CreateDate>
    <NodeName Default="Side navigation" />
    <SortOrder>35</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="586b1ce1-f3ba-460e-bcb4-ca855badae35">SideNavigation</Template>
  </Info>
  <Properties>
    <grid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/d51f07a6b9214e73b671e30426deddb6",
        "settingsUdi": "umb://element/9f924a043be04e9f964f165266049f46",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/0d38289ea5e64be2959b2ed9616091d4",
        "settingsUdi": "umb://element/a9016d7c5e10426aaf5cd5c4ece01dcc",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/09fbe8dfcb0c40788ec8f155e9e6230e",
        "settingsUdi": "umb://element/1431dc7f1c6d4f5ca85808a6cacbdb5c",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "caption": "Example application in Umbraco",
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "udi": "umb://element/d51f07a6b9214e73b671e30426deddb6"
    },
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "text": "Side navigation",
      "udi": "umb://element/0d38289ea5e64be2959b2ed9616091d4"
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "text": {
        "markup": "<p>This view component allows you to display an expanded side navigation menu. It uses the current page you are on combined with the root navigation node that you have inputted in order to expand the path through the menu that has been taken as well as any children of the current page you are on.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/09fbe8dfcb0c40788ec8f155e9e6230e"
    }
  ],
  "settingsData": [
    {
      "columnSize": [
        "full"
      ],
      "columnSizeFromDesktop": "",
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/9f924a043be04e9f964f165266049f46"
    },
    {
      "columnSize": [
        "full"
      ],
      "columnSizeFromDesktop": "",
      "contentTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "cssClasses": "",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/a9016d7c5e10426aaf5cd5c4ece01dcc"
    },
    {
      "columnSize": [
        "full"
      ],
      "columnSizeFromDesktop": "",
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "cssClassesForColumn": "",
      "cssClassesForRow": "",
      "udi": "umb://element/1431dc7f1c6d4f5ca85808a6cacbdb5c"
    }
  ]
}]]></Value>
    </grid>
  </Properties>
</Content>