<?xml version="1.0" encoding="utf-8"?>
<Content Key="b47828f6-93f8-42ba-9544-0618c4774ce8" Alias="Summary list" Level="2">
  <Info>
    <Parent Key="5e682cbe-b867-491a-955f-3382446d5663">Home</Parent>
    <Path>/Home/SummaryList</Path>
    <Trashed>false</Trashed>
    <ContentType>summaryList</ContentType>
    <CreateDate>2022-10-25T14:24:57</CreateDate>
    <NodeName Default="Summary list" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d5adbece-6b05-4538-b654-81a743cec9f3">SummaryList</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ea754d39a44747b18d1b64ddd1125719",
        "settingsUdi": "umb://element/eae9785d18294c409a6adba885287462"
      },
      {
        "contentUdi": "umb://element/54d6ee29d8eb4f598a3bb648d791a7d1",
        "settingsUdi": "umb://element/a8cfecc7ca3c4dcdafbb198836bc95b9"
      },
      {
        "contentUdi": "umb://element/75a9d1349e5b440293a8787bfd4f81cb",
        "settingsUdi": "umb://element/d3c06801aa72459ebe7b9bbfa6bdcf1c"
      },
      {
        "contentUdi": "umb://element/32cc84cf104d42a38b3bd98e36b1f3e4",
        "settingsUdi": "umb://element/c1a6ce3fe616489db0b10c3e88da9931"
      },
      {
        "contentUdi": "umb://element/6521a3c0b3b24c9baf17a60df7b4aa2a",
        "settingsUdi": "umb://element/4748141931ef46d2a6bf1ee724e3f40e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "bd6069cc-a8c1-456b-8a00-1d180c45c36c",
      "udi": "umb://element/75a9d1349e5b440293a8787bfd4f81cb",
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/01b8725b83674bbe8035c1d8b04cdb9e",
              "settingsUdi": "umb://element/47a52abdbd5f45d393ae0e316869ed03"
            },
            {
              "contentUdi": "umb://element/b1fcc1b49cc14673a68503ab44237487",
              "settingsUdi": "umb://element/5c64596a9f934a63af3b984a63506fb1"
            },
            {
              "contentUdi": "umb://element/06ec0891df4444ea9fedf75bd5fc1981",
              "settingsUdi": "umb://element/95b707f8103842e0a9cb6c6afa6fa22c"
            },
            {
              "contentUdi": "umb://element/17fb7aac365e4540a2f8e48d8d3b5d19",
              "settingsUdi": "umb://element/9c62abbd539342eabec43680cb0e6bbb"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4e3c68a7-d651-4898-b1e3-e8f29a9ffe48",
            "udi": "umb://element/01b8725b83674bbe8035c1d8b04cdb9e",
            "actions": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/978af5ffd29b4f7dbf067627aafb55cc"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "c7fa9985-51bd-409a-a621-f295dbf9a691",
                  "udi": "umb://element/978af5ffd29b4f7dbf067627aafb55cc",
                  "text": "Change",
                  "link": [
                    {
                      "name": "#",
                      "url": "#"
                    }
                  ]
                }
              ],
              "settingsData": []
            },
            "itemKey": "Name",
            "itemValue": "<p>Sarah Philips</p>"
          },
          {
            "contentTypeKey": "4e3c68a7-d651-4898-b1e3-e8f29a9ffe48",
            "udi": "umb://element/b1fcc1b49cc14673a68503ab44237487",
            "actions": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/dce5ba3fd84b44fa9aa275792a33456f"
                  },
                  {
                    "contentUdi": "umb://element/47d595796f6e402b8d654f428a14c717"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "c7fa9985-51bd-409a-a621-f295dbf9a691",
                  "udi": "umb://element/dce5ba3fd84b44fa9aa275792a33456f",
                  "text": "Change",
                  "link": [
                    {
                      "name": "#",
                      "url": "#"
                    }
                  ]
                },
                {
                  "contentTypeKey": "c7fa9985-51bd-409a-a621-f295dbf9a691",
                  "udi": "umb://element/47d595796f6e402b8d654f428a14c717",
                  "text": "Remove",
                  "link": [
                    {
                      "name": "#",
                      "url": "#"
                    }
                  ]
                }
              ],
              "settingsData": []
            },
            "itemKey": "Date of birth",
            "itemValue": "<p>5 January 1978</p>"
          },
          {
            "contentTypeKey": "4e3c68a7-d651-4898-b1e3-e8f29a9ffe48",
            "udi": "umb://element/06ec0891df4444ea9fedf75bd5fc1981",
            "actions": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/1921b347abc14ff28ac19d7f51b5c26d"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "c7fa9985-51bd-409a-a621-f295dbf9a691",
                  "udi": "umb://element/1921b347abc14ff28ac19d7f51b5c26d",
                  "text": "Change",
                  "link": [
                    {
                      "name": "#",
                      "url": "#"
                    }
                  ]
                }
              ],
              "settingsData": []
            },
            "itemKey": "Address",
            "itemValue": "<p>72 Guild Street<br />London<br />SE23 6FH</p>"
          },
          {
            "contentTypeKey": "4e3c68a7-d651-4898-b1e3-e8f29a9ffe48",
            "udi": "umb://element/17fb7aac365e4540a2f8e48d8d3b5d19",
            "actions": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/99a0e40e9c524b6f95f4457287820b7f"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "c7fa9985-51bd-409a-a621-f295dbf9a691",
                  "udi": "umb://element/99a0e40e9c524b6f95f4457287820b7f",
                  "text": "Change",
                  "link": [
                    {
                      "name": "#",
                      "url": "#"
                    }
                  ]
                }
              ],
              "settingsData": []
            },
            "itemKey": "Contact details",
            "itemValue": "<p class=\"govuk-body\">07700 900457</p>\n<p class=\"govuk-body\">sarah.phillips@example.com</p>"
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "18d06fa1-27bf-4f86-bc9d-b0a339512ca1",
            "udi": "umb://element/47a52abdbd5f45d393ae0e316869ed03",
            "cssClasses": ""
          },
          {
            "contentTypeKey": "18d06fa1-27bf-4f86-bc9d-b0a339512ca1",
            "udi": "umb://element/5c64596a9f934a63af3b984a63506fb1"
          },
          {
            "contentTypeKey": "18d06fa1-27bf-4f86-bc9d-b0a339512ca1",
            "udi": "umb://element/95b707f8103842e0a9cb6c6afa6fa22c"
          },
          {
            "contentTypeKey": "18d06fa1-27bf-4f86-bc9d-b0a339512ca1",
            "udi": "umb://element/9c62abbd539342eabec43680cb0e6bbb"
          }
        ]
      }
    },
    {
      "contentTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "udi": "umb://element/ea754d39a44747b18d1b64ddd1125719",
      "caption": "Example application in Umbraco"
    },
    {
      "contentTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "udi": "umb://element/54d6ee29d8eb4f598a3bb648d791a7d1"
    },
    {
      "contentTypeKey": "bd6069cc-a8c1-456b-8a00-1d180c45c36c",
      "udi": "umb://element/6521a3c0b3b24c9baf17a60df7b4aa2a",
      "items": null
    },
    {
      "contentTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "udi": "umb://element/32cc84cf104d42a38b3bd98e36b1f3e4",
      "text": "<p>You can configure a fixed set of summary list items in the Umbraco backoffice, or you can supply summary list items at runtime from a database or other data source.</p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "d43b72b5-edac-42e0-aa09-1b080d7bd6eb",
      "udi": "umb://element/d3c06801aa72459ebe7b9bbfa6bdcf1c",
      "columnSize": "",
      "columnSizeFromDesktop": "",
      "cssClasses": ""
    },
    {
      "contentTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "udi": "umb://element/eae9785d18294c409a6adba885287462"
    },
    {
      "contentTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "udi": "umb://element/a8cfecc7ca3c4dcdafbb198836bc95b9",
      "cssClassesForRow": "govuk-grid-row--tpr-divider",
      "columnSize": "",
      "columnSizeFromDesktop": ""
    },
    {
      "contentTypeKey": "d43b72b5-edac-42e0-aa09-1b080d7bd6eb",
      "udi": "umb://element/4748141931ef46d2a6bf1ee724e3f40e",
      "cssClasses": "override-this",
      "columnSize": "",
      "columnSizeFromDesktop": ""
    },
    {
      "contentTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "udi": "umb://element/c1a6ce3fe616489db0b10c3e88da9931"
    }
  ]
}]]></Value>
    </blocks>
  </Properties>
</Content>