<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
        <partial name="TPR/Head" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="govuk-template__body ">
    <partial name="GOVUK/BodyOpen" />
    <header role="banner">
        <govuk-phase-banner class="govuk-width-container">
            <govuk-phase-banner-tag>Beta</govuk-phase-banner-tag>
            This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.
        </govuk-phase-banner>
        <tpr-header>
            <a class="govuk-link" href="#">A link</a>
            <a class="govuk-link" href="#">Another link</a>
        </tpr-header>
        @RenderSection("language", required: false)
    </header>
    <div class="govuk-width-container">
        <main id="main" class="govuk-main-wrapper">
            @RenderBody()
        </main>
    </div>
    <partial name="GOVUK/BodyClosing" />
    @RenderSection("scripts", required: false)
</body>
</html>