@using Microsoft.Extensions.Configuration;
@inject IConfiguration Configuration
@{
    var useTPRstyles = Configuration.GetValue<bool>("TPRStyles");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title gfa-error-prefix="Error: ">@ViewData["Title"]</title>
    @if (useTPRstyles)
    {   
        <partial name="TPR/Head" />
    }
    else
    {
        <partial name="GOVUK/Head" />
    }
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="govuk-template__body ">
    <partial name="GOVUK/BodyOpen" />
    <govuk-skip-link href="#main">Skip to main content</govuk-skip-link>
    <header role="banner">
        <govuk-phase-banner class="govuk-width-container">
            <govuk-phase-banner-tag>Beta</govuk-phase-banner-tag>
            This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.
        </govuk-phase-banner>
        @if (useTPRstyles)
        {
            <tpr-header-bar>
                <tpr-header-bar-content allow-html="true">
                    <a class="govuk-link" href="#">A link</a>
                    <a class="govuk-link" href="#">Another link</a>
                </tpr-header-bar-content>
            </tpr-header-bar>
            <tpr-context-bar>
                <tpr-context-bar-context-1>Example app</tpr-context-bar-context-1>
                <tpr-context-bar-context-2>Name of the thing being displayed or edited</tpr-context-bar-context-2>
                <tpr-context-bar-context-3>ID: 12345678</tpr-context-bar-context-3>
            </tpr-context-bar>
        }
        @RenderSection("language", required: false)
    </header>
    <div class="tpr-main-wrapper">
        <div class="govuk-width-container">
            <main id="main" class="govuk-main-wrapper">
                @RenderBody()
            </main>
        </div>
    </div>
    @if (useTPRstyles)
    {
        <tpr-back-to-top href="#main">Back to top</tpr-back-to-top>
        <tpr-footer-bar>
            <tpr-footer-bar-content allow-html="true">
            <a class="govuk-link" href="#">A link</a>
            <a class="govuk-link" href="#">Another link</a>
        </tpr-footer-bar-content>
        </tpr-footer-bar>
    }
    <partial name="TPR/BodyClosing" />
    @RenderSection("scripts", required: false)
</body>
</html>