<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1171161d-2b10-47d6-988f-1be26f402ad0" Alias="Address lookup - address line 3 max length error message" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-GB">Address line 3 must be 100 characters or less from dictionary</Translation>
  </Translations>
</Dictionary>
