<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b9493bd1-dee2-4ec6-bdc2-080a60e69d81" Alias="Address lookup - international manual entry label" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-GB">Enter an international address from dictionary</Translation>
  </Translations>
</Dictionary>
