<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c0831e21-72d1-4247-bfe2-91f66d5614b0" Alias="Address lookup - UK manual entry link label" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-GB">Enter address manually from dictionary</Translation>
  </Translations>
</Dictionary>
