<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9d057b48-fed6-4daa-8d9b-ee86dcf36b95" Alias="Address lookup - postcode pattern error message" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-GB">Enter a valid postcode from dictionary</Translation>
  </Translations>
</Dictionary>
