<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ef957dcf-26c8-4a66-8e24-d82f6c43e5ac" Alias="Address lookup - address select error message" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-GB">Select an address to continue from dictionary</Translation>
  </Translations>
</Dictionary>
