<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="86a91025-afc9-423a-b642-817028788d9a" Alias="Address lookup - address not found message" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-GB">We could not find any addresses for this postcode from dictionary</Translation>
  </Translations>
</Dictionary>
