<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ffd14c08-96b3-4f34-8a72-235753714647" Alias="Address lookup - post town max length error message" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-GB">Town or city must be 100 characters or less from dictionary</Translation>
  </Translations>
</Dictionary>
