<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3fd4d1f3-9221-480b-b4d5-803d902ca8b8" Alias="Address lookup - country required error message" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-GB">Select a country from dictionary</Translation>
  </Translations>
</Dictionary>
