<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="fe0a193a-50b7-4481-a955-b863bbd11d51" Alias="Address lookup - address line 1 max length error message" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-GB">Address line 1 must be 100 characters or less from dictionary</Translation>
  </Translations>
</Dictionary>
