<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="faad2873-c576-46fb-9660-098a0f847731" Alias="Address lookup - hint" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-GB">Enter a building name or number and postcode to find your address from dictionary</Translation>
  </Translations>
</Dictionary>
