<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4cd7d081-b15f-44a2-9f5e-decd73bdaf21" Alias="Address lookup - post town required error message" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-GB">Enter town or city from dictionary</Translation>
  </Translations>
</Dictionary>
