<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8c46b236-50a8-4ff5-b53f-e91504a7a892" Alias="Address lookup - postcode required error message" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-GB">Enter postcode from dictionary</Translation>
  </Translations>
</Dictionary>
