<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="45bdea89-9589-48ae-99cf-282fecb4099e" Alias="Address lookup - postcode max length error message" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-GB">Postcode must be 100 characters or less from dictionary</Translation>
  </Translations>
</Dictionary>
