<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7cc902cc-44b9-49f4-b16e-b3ad90bc7c73" Alias="Address lookup - service unavailable message" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-GB">The address lookup service is currently unavailable from dictionary</Translation>
  </Translations>
</Dictionary>
