<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5f71cdee-b1ce-4208-90a1-0100de2e6495" Alias="Address lookup - international manual entry not confirmed error message" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-GB">Enter and confirm an international address before continuing from dictionary</Translation>
  </Translations>
</Dictionary>
