<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="158b3a3a-cb31-48a0-a547-52c31460c00e" Alias="Address lookup - building name or number label" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-GB">Building name or number from dictionary</Translation>
  </Translations>
</Dictionary>
