<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="db0f25a3-332b-4261-8067-ba70b8082fad" Alias="Address lookup - county max length error message" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-GB">County must be 100 characters or less from dictionary</Translation>
  </Translations>
</Dictionary>
