<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="88f4101d-f7dc-4aef-8e52-28f5d1995824" Alias="Address lookup - county state province label" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-GB">County, state or province from dictionary</Translation>
  </Translations>
</Dictionary>
