<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="94239be7-1b9a-4103-ab3c-4956a3e32b24" Alias="Address lookup - UK manual entry not confirmed error message" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-GB">Enter and confirm an address before continuing from dictionary</Translation>
  </Translations>
</Dictionary>
