<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a221e5d8-3470-4f16-a847-ae55848a7867" Alias="Address lookup - address line 2 max length error message" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-GB">Address line 2 must be 100 characters or less from dictionary</Translation>
  </Translations>
</Dictionary>
