<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1710193d-1075-4b24-b1a3-2d49d99560fa" Alias="Address lookup - search not confirmed error message" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-GB">Find and confirm an address before continuing from dictionary</Translation>
  </Translations>
</Dictionary>
