<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="56e28dce-1b85-44af-a551-d4fd1275dfe9" Alias="Address lookup - international manual entry legend" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-GB">Enter your international address from dictionary</Translation>
  </Translations>
</Dictionary>
