<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1a21fb77-dbd8-4233-912d-6c17cbceb81f" Alias="Address lookup - back to postcode search label" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-GB">Back to postcode search from dictionary</Translation>
  </Translations>
</Dictionary>
