<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5a8fead8-f719-4174-a6cb-b63f9a9605d0" Alias="Address lookup - county state province max length error message" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-GB">County, state or province must be 100 characters or less from dictionary</Translation>
  </Translations>
</Dictionary>
