<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1718b212-bee1-4284-bb42-7d143075ec80" Alias="Address lookup - address line 1 required error message" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-GB">Enter address line 1 from dictionary</Translation>
  </Translations>
</Dictionary>
