<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b7afc75d-59b1-4b57-a293-7d96354e152e" Alias="Hide" Level="0">
  <Info />
  <Translations>
    <Translation Language="cy">Cuddio</Translation>
    <Translation Language="en-GB">Hide</Translation>
    <Translation Language="en-US"></Translation>
  </Translations>
</Dictionary>