<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="79a6cf4c-1593-429c-b901-1879503cda00" Alias="(opens in a new tab)" Level="0">
  <Info />
  <Translations>
    <Translation Language="cy">(agor mewn tab newydd)</Translation>
    <Translation Language="en-GB">(opens in a new tab)</Translation>
  </Translations>
</Dictionary>