<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="331d0c84-731d-4c47-9f27-3fc8a3f25e94" Alias="Show" Level="0">
  <Info />
  <Translations>
    <Translation Language="cy">Dangos</Translation>
    <Translation Language="en-GB">Show</Translation>
    <Translation Language="en-US"></Translation>
  </Translations>
</Dictionary>