<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="58868176-7af3-459a-bb77-a1b16a67edb8" Alias="Video title" Level="0">
  <Info />
  <Translations>
    <Translation Language="cy"><![CDATA[{{VIDEO_TITLE}} (fideo)]]></Translation>
    <Translation Language="en-GB"><![CDATA[{{VIDEO_TITLE}} (video)]]></Translation>
  </Translations>
</Dictionary>