@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<OverridableBlockListItem>;
@addTagHelper *, GovUk.Frontend.AspNetCore
@using GovUk.Frontend.Umbraco
@using GovUk.Frontend.Umbraco.Models
@using GovUk.Frontend.Umbraco.Services
@using Umbraco.Cms.Core.Models.Blocks
@using Umbraco.Extensions
@{
    var blocks = Model.Content.Value<OverridableBlockListModel>("blocks");
    blocks!.RenderGrid = Model.Settings?.Value<bool>("renderRowsAndColumnsForChildBlocks") ?? false;
    var columnClass = GovUkGridClassBuilder.BuildGridColumnClass(
                        Model.Settings?.Value<string>(PropertyAliases.ColumnSize),
                        Model.Settings?.Value<string>(PropertyAliases.ColumnSizeFromDesktop),
                        Model.Settings?.Value<string>(PropertyAliases.CssClassesForColumn)).TrimEnd();
}
    <div class="@columnClass">
        @await Html.PartialAsync("GOVUK/BlockList", blocks)
    </div>