@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<OverridableBlockListItem>;
@addTagHelper *, GovUk.Frontend.AspNetCore
@using GovUk.Frontend.Umbraco.Typography
@using GovUk.Frontend.Umbraco.Models
@using GovUk.Frontend.Umbraco;
@using Umbraco.Cms.Core.Models
@using Umbraco.Extensions
@{
    var text = Model.Content.Value<string>("text");
    var link = Model.Content.Value<Link>("link");
    var cssClasses = (" " + Model.Settings?.Value<string>(PropertyAliases.CssClasses)).TrimEnd();
}
<a href="@link.Url" class="govuk-link@(cssClasses)" id="@Model.Content.Key">@text</a>