@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<FilteredBlockListItem>;
@addTagHelper *, GovUk.Frontend.AspNetCore
@using GovUk.Frontend.Umbraco.Models
@using Umbraco.Cms.Core.Models.Blocks
@using Umbraco.Extensions
@using System.Linq
@{
    var buttons = new FilteredBlockListModel(Model.Item.Content.Value<BlockListModel>("buttons"), Model.Filter) { RenderGrid = false };
}
@if (buttons.FilteredBlocks().Any()) {
<div class="govuk-button-group">
    @await Html.PartialAsync("GOVUK/FilteredBlockList", buttons)
</div>
}