@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<FilteredBlockListItem>;
@addTagHelper *, GovUk.Frontend.AspNetCore
@using GovUk.Frontend.Umbraco.Models
@using GovUk.Frontend.Umbraco.Services
@using Umbraco.Cms.Core.Models.Blocks
@using Umbraco.Extensions
@{
    var blocks = Model.Content.Value<BlockListModel>("blocks");
    var columnClass = GovUkGridClassBuilder.BuildGridColumnClass(
                        Model.Settings?.Value<string>("columnSize"), 
                        Model.Settings?.Value<string>("columnSizeFromDesktop"), 
                        Model.Settings?.Value<string>("cssClassesForColumn")).TrimEnd();
}
    <div class="@columnClass">
        @await Html.PartialAsync("GOVUK/FilteredBlockList", new FilteredBlockListModel(blocks,Model.Filter){ RenderGrid = false })
    </div>