@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<OverridableBlockListItem>;
@using GovUk.Frontend.Umbraco.Models
@using Umbraco.Extensions
@{
    var cssClass = ("govuk-heading-l " + Model.Settings?.Value<string>("cssClasses")).TrimEnd();
}
<h1 class="@cssClass">@Umbraco.AssignedContentItem.Name</h1>