<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e4622d4f-2726-453d-8c8e-c2c920f9aa78" Alias="govukValidationCustom" Level="2">
  <Info>
    <Name>Validation (Custom)</Name>
    <Icon>icon-defrag color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>An element type to add to GOV.UK element types as a composition, adding properties for custom error messages</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>GOV.UK</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>eceba2c7-f8b4-43b1-8635-931e60e7a80b</Key>
      <Name>Custom error 1</Name>
      <Alias>customError1</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Sets the message displayed by a custom validator.]]></Description>
      <SortOrder>20</SortOrder>
      <Tab Alias="errorMessages">Error messages</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>51e6bf89-137a-435b-a21e-e6332f78601b</Key>
      <Name>Custom error 2</Name>
      <Alias>customError2</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Sets the message displayed by a custom validator.]]></Description>
      <SortOrder>21</SortOrder>
      <Tab Alias="errorMessages">Error messages</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4156712a-87b6-4312-bca8-122b581c1e50</Key>
      <Name>Custom error 3</Name>
      <Alias>customError3</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Sets the message displayed by a custom validator.]]></Description>
      <SortOrder>22</SortOrder>
      <Tab Alias="errorMessages">Error messages</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>140227a0-9526-431d-839e-a8d5e7f4b24e</Key>
      <Caption>Error messages</Caption>
      <Alias>errorMessages</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>