<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a3f824c5-c0f2-4726-9030-767a15e49ebb" Alias="TPR Accordion section block grid" Level="2">
  <Info>
    <Name>TPR Accordion section block grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>TPR</Folder>
  </Info>
  <Config><![CDATA[{
  "BlockGroups": [
    {
      "key": "0cda3bd0-ba4f-483e-9402-09a275a172a9",
      "name": "Content"
    },
    {
      "key": "0de407db-a767-4e72-9ace-6dd35bb769c9",
      "name": "Layout"
    }
  ],
  "Blocks": [
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "0cda3bd0-ba4f-483e-9402-09a275a172a9",
      "iconColor": null,
      "inlineEditing": false,
      "label": "{{text | ncRichText | truncate:true:50}} ({{$contentTypeName}})",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkTypographyPreview.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "one",
          "columnSpan": 6,
          "createLabel": null,
          "key": "e612cf51-f8f5-4c79-891c-21f860d0a38f",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        },
        {
          "alias": "two",
          "columnSpan": 6,
          "createLabel": null,
          "key": "f801579d-d157-4900-b37a-f138aeb5ee03",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "3fa201d9-0d89-458f-b6dc-f5fb6fc8e10a",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "0de407db-a767-4e72-9ace-6dd35bb769c9",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "53edb934-ee79-4ff0-b23a-84b91e9fef7a",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkGridColumns.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "one",
          "columnSpan": 8,
          "createLabel": null,
          "key": "108f719c-2940-461a-a398-941170a6ea58",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        },
        {
          "alias": "two",
          "columnSpan": 4,
          "createLabel": null,
          "key": "ec7b2d3f-18fe-4f61-ab8c-5ac80862b308",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "650d7119-e9cf-4c26-a08c-21cf2ffbbbbc",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "0de407db-a767-4e72-9ace-6dd35bb769c9",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "53edb934-ee79-4ff0-b23a-84b91e9fef7a",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkGridColumns.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "one",
          "columnSpan": 9,
          "createLabel": null,
          "key": "4aff7b8b-1994-464d-979c-abd45d33188e",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        },
        {
          "alias": "two",
          "columnSpan": 3,
          "createLabel": null,
          "key": "2b48b497-c030-42f9-905c-da66aa691976",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "d7921903-6c44-4c50-bef9-7def4b21fae4",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "0de407db-a767-4e72-9ace-6dd35bb769c9",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "53edb934-ee79-4ff0-b23a-84b91e9fef7a",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkGridColumns.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "one",
          "columnSpan": 4,
          "createLabel": null,
          "key": "742e6459-8b71-4276-bf56-194e04e23fb3",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        },
        {
          "alias": "two",
          "columnSpan": 8,
          "createLabel": null,
          "key": "de99a6f2-f603-4a7f-ab17-c1484857aca0",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "e1e65f18-85b3-4acd-a121-705186a2f051",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "0de407db-a767-4e72-9ace-6dd35bb769c9",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "53edb934-ee79-4ff0-b23a-84b91e9fef7a",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkGridColumns.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "one",
          "columnSpan": 3,
          "createLabel": null,
          "key": "3f8b6c7e-fb30-47d2-b39b-a5d7af76bd21",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        },
        {
          "alias": "two",
          "columnSpan": 9,
          "createLabel": null,
          "key": "271149b1-25ac-479b-91fe-53d83d3fecf2",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "fc3c6a06-d826-406f-8568-94d37d1d1822",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "0de407db-a767-4e72-9ace-6dd35bb769c9",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "53edb934-ee79-4ff0-b23a-84b91e9fef7a",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkGridColumns.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "9389c5e5-ce97-4211-97c5-f2cd173ca648",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "0cda3bd0-ba4f-483e-9402-09a275a172a9",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/ThePensionsRegulator.Frontend.Umbraco/blocks/views/TPRImage.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "40bb2a3e-3d75-4ec1-9134-e0c46c6f04a0",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "0cda3bd0-ba4f-483e-9402-09a275a172a9",
      "iconColor": null,
      "inlineEditing": false,
      "label": "{{text | ncRichText | truncate:true:50}} ({{$contentTypeName}})",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "562c13ba-8543-4932-b448-8dd0d71e67b2",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkInsetTextPreview.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "83cb35fb-51da-45cd-913f-1b8bdfd6a1d9",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "0cda3bd0-ba4f-483e-9402-09a275a172a9",
      "iconColor": null,
      "inlineEditing": false,
      "label": "{{text | ncRichText | truncate:true:50}} ({{$contentTypeName}})",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "f081b029-8455-45ba-8ed2-871101184ba4",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkWarningTextPreview.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "9d15adb9-fb63-4b20-ada3-fc9239a72a8c",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "0cda3bd0-ba4f-483e-9402-09a275a172a9",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "44416861-5c5f-43af-9abc-c23d11410237",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkDetails.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "bd6069cc-a8c1-456b-8a00-1d180c45c36c",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "0cda3bd0-ba4f-483e-9402-09a275a172a9",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "7e5b10d5-cad1-4373-93b1-ffff54068757",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkSummaryListPreview.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "583467e1-4f8f-46ed-b8e8-b9bf69e9f65d",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "0cda3bd0-ba4f-483e-9402-09a275a172a9",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "5fb74c9d-bf70-4066-97ed-83454330067c",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkSummaryCardPreview.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "one",
          "columnSpan": 4,
          "createLabel": null,
          "key": "211c37df-8454-4da8-b46e-2100c0a86371",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        },
        {
          "alias": "two",
          "columnSpan": 4,
          "createLabel": null,
          "key": "45b27ecc-c407-4a6e-a8b6-f207ef391170",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        },
        {
          "alias": "three",
          "columnSpan": 4,
          "createLabel": null,
          "key": "09621fb8-5ffb-43a9-9fa6-88c5a9aaa32e",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "f7721eea-7712-4d9c-91e4-9c04f0ad3036",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "0de407db-a767-4e72-9ace-6dd35bb769c9",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "e326cfa6-2167-4763-840a-f52a25039f14",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkGridColumns.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "one",
          "columnSpan": 3,
          "createLabel": null,
          "key": "8d8a5c59-4fd1-4a02-8748-665a5c570f24",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        },
        {
          "alias": "two",
          "columnSpan": 3,
          "createLabel": null,
          "key": "7617c5e9-1518-4d88-8ccc-8d106cbb3987",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        },
        {
          "alias": "three",
          "columnSpan": 3,
          "createLabel": null,
          "key": "eeaabeea-76a7-4d82-b234-d7b837773110",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        },
        {
          "alias": "four",
          "columnSpan": 3,
          "createLabel": null,
          "key": "6b312e2f-fca9-4fcb-9e1d-9e3a5f2f5833",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "14e589eb-a4c7-4aba-8be5-e5b390d2727e",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "0de407db-a767-4e72-9ace-6dd35bb769c9",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "2333e525-fb3e-47c7-bcf0-ca84296f0e6f",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkGridColumns.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "one",
          "columnSpan": 12,
          "createLabel": null,
          "key": "ff2b9a8d-adbb-450d-a232-02628fbeb044",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "61baed41-7e14-4615-af1e-0150c6d0a15f",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "0de407db-a767-4e72-9ace-6dd35bb769c9",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "7c697ad4-e2f8-4aab-857e-fb1b26c2a295",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/ThePensionsRegulator.Frontend.Umbraco/blocks/views/TPRBox.html"
    }
  ],
  "CreateLabel": null,
  "GridColumns": null,
  "LayoutStylesheet": null,
  "MaxPropertyWidth": null,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>