<?xml version="1.0" encoding="utf-8"?>
<DataType Key="70bdfe65-e491-413b-8161-c4e1ec33367b" Alias="TPR Block list" Level="2">
  <Info>
    <Name>TPR Block list</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>TPR</Folder>
  </Info>
  <Config>
		  <![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "",
      "settingsElementTypeKey": "6ca199b3-814c-4aa9-b466-fc0533f2b543",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkPageHeading.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{caption}} (Caption)",
      "settingsElementTypeKey": "13177471-0bf1-49c4-a723-6c7e8d764ba6",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkCaption.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{text | ncRichText | truncate:true:50}} ({{$contentTypeName}})",
      "settingsElementTypeKey": "21721e40-fe18-447b-bbd6-00c02bd5539b",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkTypographyPreview.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "40bb2a3e-3d75-4ec1-9134-e0c46c6f04a0",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{text | ncRichText | truncate:true:50}} ({{$contentTypeName}})",
      "settingsElementTypeKey": "29d9a3c9-4047-484a-8816-e233e161fcb0",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkInsetTextPreview.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "83cb35fb-51da-45cd-913f-1b8bdfd6a1d9",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{text | ncRichText | truncate:true:50}} ({{$contentTypeName}})",
      "settingsElementTypeKey": "0bac8213-4607-4547-902a-6a9d84b92633",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkWarningTextPreview.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "9d15adb9-fb63-4b20-ada3-fc9239a72a8c",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{summary}} (Details)",
      "settingsElementTypeKey": "a6689021-cc6e-4d94-8c37-235906ebeff1",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkDetails.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "f7fc1212-5317-4642-9565-f8b6585508e8",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{legend}} (Fieldset)",
      "settingsElementTypeKey": "6930e373-0fce-44ad-89b8-267442675807",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkFieldset.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "fe2dd0de-55a9-4249-be03-6896aa719974",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{label}} (Text Input)",
      "settingsElementTypeKey": "98070ce9-d528-4bfc-bd90-e411e5110f56",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkTextInputPreview.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "d118b7dc-63c6-4262-9ce9-2e823dc530f0",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{label}} (Textarea)",
      "settingsElementTypeKey": "5f3e3369-43cf-47c2-bb76-60055518ae05",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkTextAreaPreview.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "a3a58c3e-673f-4521-b9e7-4b6a667f06b4",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{legend}} (Date input)",
      "settingsElementTypeKey": "308973a3-4525-445f-9bcd-bdf3d649abb6",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkDateInputPreview.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "b84a633b-1ee7-4a5c-80bd-4267420ed133",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{legend}} (Radios)",
      "settingsElementTypeKey": "40da6b15-489b-4249-854a-56954e5917e1",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkRadiosPreview.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "f1cb27f6-c7f5-4db0-bfff-ef76df811ac7",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{label}} (Checkbox)",
      "settingsElementTypeKey": "67371513-c485-4405-afb4-70367ddb6eb8",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkCheckbox.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "a4ef171f-5688-4b05-806f-75a6ce50a842",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{legend}} (Checkboxes)",
      "settingsElementTypeKey": "57265e01-05ed-4ea3-a28d-e9f77420c018",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkCheckboxesPreview.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "7b79c9f1-4f4d-4c9b-915e-8f364bc86830",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": "ec4a6e3f-a6a8-4c8a-9d4c-d3e90399ac2c",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkErrorSummary.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "2cb36d91-7480-4234-a5d8-6961a03ada8a",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{error}} (Error message)",
      "settingsElementTypeKey": "b34b41a7-261a-41a3-8877-afc4086cc065",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkErrorMessage.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "43d6f04c-2ce0-440c-9e13-05d856b8aafe",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": "f7827cba-7c37-4ddd-9234-11bf31e17818",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkNotificationBannerPreview.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "bd6069cc-a8c1-456b-8a00-1d180c45c36c",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": "d43b72b5-edac-42e0-aa09-1b080d7bd6eb",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkSummaryListPreview.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "583467e1-4f8f-46ed-b8e8-b9bf69e9f65d",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{cardTitle}} (Summary card)",
      "settingsElementTypeKey": "d2220ba5-3a33-4f2c-9b82-f214a1c8fccb",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkSummaryCardPreview.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "32224cf2-f160-4c74-9c07-ed918b263c75",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": "41ecf378-c886-4f08-9962-7ea6e168276c",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkTaskListSummary.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "405470f7-9d54-4891-91c9-2efa8dec0833",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": "51db3717-0b48-4f1d-afdd-478065a531a5",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkTaskListPreview.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "d8ded14d-00eb-46c2-8c66-29a27fc6b05a",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": "b8f1e93f-f50d-4a57-8cd1-356ee8d7d284",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkPagination.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "6a472e93-8a46-4791-a387-bde834d619cf",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{panelHeading}} (Panel)",
      "settingsElementTypeKey": "46f4e57b-7357-44c0-bd4c-295b9edee4c1",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkPanelPreview.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "a278e94c-f555-490b-920c-313a7ba17492",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{label}} (Select)",
      "settingsElementTypeKey": "b4bca409-19d8-460d-9155-6b84fc90e820",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkSelectPreview.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "6da482da-a53c-4df3-8fd4-697a7d91bbac",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{label}} (File upload)",
      "settingsElementTypeKey": "d10b177e-98b9-42c3-a7f6-632c885c6bcf",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkFileUploadPreview.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "35584ae7-feb5-4de8-9008-5d2d8cfb34ce",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{text}} (Button)",
      "settingsElementTypeKey": "e683e885-8aa0-4bdd-9eff-56966f353540",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkButton.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "94737fb0-c49c-44db-8a59-6a65f14a0c47",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{text}} (Link, styled as a button)",
      "settingsElementTypeKey": "2a5587ef-96fa-41dd-a2be-c5f97e00dfef",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkLinkAsButton.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "d1324abd-7504-44e1-9b9a-2cc12d527175",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": "bb140093-52f9-4ec4-9240-ab246b574ebd",
      "stylesheet": "~/css/govuk-umbraco-backoffice.css",
      "thumbnail": null,
      "view": "~/App_Plugins/GOVUK/blocks/views/GovUkButtonGroup.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "8a1b3437-cdfc-4e4c-8a78-0ebb93d2d772",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{text}}",
      "settingsElementTypeKey": "fc97d18c-85ca-4ebe-8f22-57268fa7a287",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "0e33e52e-00d3-4546-af2b-076321ead08a",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": "7f2977e1-5298-4fee-9c8c-5abeeafc1d63",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "901f91c0-f863-4409-9e6f-0ab829714c68",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{$settings.modelProperty}} (Hidden field)",
      "settingsElementTypeKey": "c7dd4cfd-8e91-46e2-8a57-0834a480cacb",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>