<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cf0427f6-51a2-420d-89b1-a4eb95f556ac" Alias="TPR Section cards card - Description - Rich Text Editor" Level="1">
  <Info>
    <Name>TPR Section cards card - Description - Rich Text Editor</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [],
  "Editor": {
    "toolbar": [
      "removeformat",
      "styles",
      "bold",
      "italic",
      "underline",
      "alignleft",
      "aligncenter",
      "alignright",
      "alignjustify",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small",
  "UseLiveEditing": false
}]]></Config>
</DataType>