<div class="govuk-form-group backoffice-block-view" ng-click="block.edit()" ng-focus="block.focus" aria-label="Edit address lookup component">
    <fieldset class="govuk-fieldset tpr-address-lookup" aria-hidden="true">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--for-fieldset" ng-bind-html="block.data.legend"></legend>
        <div class="govuk-form-group backoffice-block-view">
            <label class="govuk-label" ng-bind-html="block.data.addressLine1Label || 'Address line 1'" aria-hidden="true"></label>
            <input class="govuk-input" type="text" aria-hidden="true" />
        </div>
        <div class="govuk-form-group backoffice-block-view">
            <label class="govuk-label" ng-bind-html="block.data.addressLine2Label || 'Address line 2'" aria-hidden="true"></label>
            <input class="govuk-input" type="text" aria-hidden="true" />
        </div>
        <div class="govuk-form-group backoffice-block-view">
            <label class="govuk-label" ng-bind-html="block.data.townOrCityLabel || 'Town or city'" aria-hidden="true"></label>
            <input class="govuk-input" type="text" aria-hidden="true" />
        </div>
        <div class="govuk-form-group backoffice-block-view">
            <label class="govuk-label" ng-bind-html="block.data.countyLabel || 'County'" aria-hidden="true"></label>
            <input class="govuk-input" type="text" aria-hidden="true" />
        </div>
        <div class="govuk-form-group backoffice-block-view">
            <label class="govuk-label" ng-bind-html="block.data.countryLabel || 'Country'" aria-hidden="true"></label>
            <input class="govuk-input" type="text" aria-hidden="true" />
        </div>
        <div class="govuk-form-group backoffice-block-view">
            <label class="govuk-label" ng-bind-html="block.data.postcodeLabel ||'Postcode'" aria-hidden="true"></label>
            <input class="govuk-input" type="text" aria-hidden="true" />
        </div>
    </fieldset>
</div>