<dl class="tpr-documents backoffice-block-view govuk-list {{block.settingsData.cssClasses}}">
    <ng-content ng-repeat="doc in block.data.documents.contentData">
        <div ng-if="doc.document[0].url.endsWith('.pdf')" class="tpr-document">
            <dt>
                <a class="govuk-link" href="{{doc.document[0].url}}">
                    {{doc.document[0].name}}
                    <br>
                    <span class="pdf fileicon">PDF</span> --KB, {{doc.numberOfPages}} page(s)
                </a>
            </dt>
            <dd ng-if="doc.datePublished != ''">Published: {{doc.datePublished}}</dd>
            <dd ng-bind="doc.description"></dd>
        </div>

        <div ng-if="doc.document[0].url.endsWith('.docx') || doc.document[0].url.endsWith('.doc')" class="tpr-document">
            <dt>
                <a class="govuk-link" href="{{doc.document[0].url}}">
                    {{doc.document[0].name}}
                    <br>
                    <span class="doc fileicon">Word</span> --KB, {{doc.numberOfPages}} page(s)
                </a>
            </dt>
            <dd ng-if="doc.datePublished != ''">Published: {{doc.datePublished}}</dd>
            <dd ng-if="doc.description != ''">{{doc.description}}</dd>
        </div>

        <div ng-if="doc.document[0].url.endsWith('.dotx')" class="tpr-document">
            <dt>
                <a class="govuk-link" href="{{doc.document[0].url}}">
                    {{doc.document[0].name}}
                    <br>
                    <span class="doc fileicon">DOTX</span> --KB
                </a>
            </dt>
            <dd ng-if="doc.datePublished != ''">Published: {{doc.datePublished}}</dd>
            <dd ng-if="doc.description != ''">{{doc.description}}</dd>
        </div>

        <div ng-if="doc.document[0].url.endsWith('.pptx')" class="tpr-document">
            <dt>
                <a class="govuk-link" href="{{doc.document[0].url}}">
                    {{doc.document[0].name}}
                    <br>
                    <span class="powerpoint fileicon">PPTX</span> --KB, {{doc.numberOfPages}} page(s)
                </a>
            </dt>
            <dd ng-if="doc.datePublished != ''">Published: {{doc.datePublished}}</dd>
            <dd ng-if="doc.description != ''">{{doc.description}}</dd>
        </div>

        <div ng-if="doc.document[0].url.endsWith('.rtf')" class="tpr-document">
            <dt>
                <a class="govuk-link" href="{{doc.document[0].url}}">
                    {{doc.document[0].name}}
                    <br>
                    <span class="misc fileicon">RTF</span> --KB, {{doc.numberOfPages}} page(s)
                </a>
            </dt>
            <dd ng-if="doc.datePublished != ''">Published: {{doc.datePublished}}</dd>
            <dd ng-if="doc.description != ''">{{doc.description}}</dd>
        </div>

        <div ng-if="doc.document[0].url.endsWith('.odt')" class="tpr-document">
            <dt>
                <a class="govuk-link" href="{{doc.document[0].url}}">
                    {{doc.document[0].name}}
                    <br>
                    <span class="misc fileicon">ODT</span> --KB, {{doc.numberOfPages}} page(s)
                </a>
            </dt>
            <dd ng-if="doc.datePublished != ''">Published: {{doc.datePublished}}</dd>
            <dd ng-if="doc.description != ''">{{doc.description}}</dd>
        </div>

        <div ng-if="doc.document[0].url.endsWith('.xlsx')" class="tpr-document">
            <dt>
                <a class="govuk-link" href="{{doc.document[0].url}}">
                    {{doc.document[0].name}}
                    <br>
                    <span class="excel fileicon">Excel</span> --KB
                </a>
            </dt>
            <dd ng-if="doc.datePublished != ''">Published: {{doc.datePublished}}</dd>
            <dd ng-if="doc.description != ''">{{doc.description}}</dd>
        </div>

        <div ng-if="doc.document[0].url.endsWith('.xlst')" class="tpr-document">
            <dt>
                <a class="govuk-link" href="{{doc.document[0].url}}">
                    {{doc.document[0].name}}
                    <br>
                    <span class="excel fileicon">XLST</span> --KB
                </a>
            </dt>
            <dd ng-if="doc.datePublished != ''">Published: {{doc.datePublished}}</dd>
            <dd ng-if="doc.description != ''">{{doc.description}}</dd>
        </div>

        <div ng-if="doc.document[0].url.endsWith('.csv')" class="tpr-document">
            <dt>
                <a class="govuk-link" href="{{doc.document[0].url}}">
                    {{doc.document[0].name}}
                    <br>
                    <span class="excel fileicon">CSV</span> --KB
                </a>
            </dt>
            <dd ng-if="doc.datePublished != ''">Published: {{doc.datePublished}}</dd>
            <dd ng-if="doc.description != ''">{{doc.description}}</dd>
        </div>

        <ng-content ng-init="
                ext = doc.document[0].url.split('.').pop().toLowerCase();
                known = ['pdf','docx','dotx','pptx','xlsx','xlst','csv','rtf','odt','doc'];
                isUnknown = known.indexOf(ext) === -1;
                docName = doc.document[0].name != '' ? doc.document[0].name : doc.document[0].nodeName;">
            <div ng-if="isUnknown === true" class="tpr-document">
                <dt>
                    <ng-content ng-switch="!!doc.document[0].name">
                        <a ng-switch-when="true" class="govuk-link" href="{{doc.document[0].url}}">
                            {{doc.document[0].name}}
                        </a>

                        <a ng-switch-when="false" class="govuk-link" href="{{doc.document[0].url}}">
                            {{doc.document[0].nodeName}}
                        </a>
                    </ng-content>
                </dt>
                <dd ng-if="doc.datePublished != ''">Published: {{doc.datePublished}}</dd>
                <dd ng-if="doc.description != ''">{{doc.description}}</dd>
            </div>
        </ng-content>
    </ng-content>
</dl>
