<dl class="tpr-documents backoffice-block-view govuk-list {{block.settingsData.cssClasses}}">
    <ng-content ng-repeat="doc in block.data.documents.contentData">
        <ng-content ng-init="
            ext = doc.document[0].url.split('.').pop().toLowerCase();
            known = ['csv', 'doc', 'docx', 'dotx', 'odt', 'pdf', 'pptx', 'rtf', 'xlst', 'xlsx'];
            isKnown = known.indexOf(ext) !== -1;
            docName = doc.document[0].name ? doc.document[0].name : doc.document[0].nodeName;">

            <div class="tpr-document">
                <dt>
                    <a class="govuk-link" href="{{doc.document[0].url}}">
                        {{docName}}
                        <ng-content ng-if="isKnown === true">
                            <br>
                            <span ng-if="ext == 'csv'" class="excel fileicon">CSV</span>
                            <span ng-if="ext == 'doc'" class="doc fileicon">Word</span>
                            <span ng-if="ext == 'docx'" class="doc fileicon">Word</span>
                            <span ng-if="ext == 'dotx'" class="doc fileicon">DOTX</span>
                            <span ng-if="ext == 'odt'" class="misc fileicon">ODT</span>
                            <span ng-if="ext == 'pdf'" class="pdf fileicon">PDF</span>
                            <span ng-if="ext == 'pptx'" class="powerpoint fileicon">PPTX</span>
                            <span ng-if="ext == 'rtf'" class="misc fileicon">RTF</span>
                            <span ng-if="ext == 'xlst'" class="excel fileicon">XLST</span>
                            <span ng-if="ext == 'xlsx'" class="excel fileicon">Excel</span>
                            <span>--KB, </span>
                            <ng-content ng-if="doc.numberOfPages">
                                {{doc.numberOfPages}} page(s)
                            </ng-content>
                        </ng-content>
                    </a>
                </dt>
                <dd ng-if="doc.datePublished">Published: {{doc.datePublished}}</dd>
                <dd ng-if="doc.description">{{doc.description}}</dd>
            </div>
        </ng-content>
    </ng-content>
</dl>
