
<div class="tpr-related-links backoffice-block-view {{block.settingsData.cssClasses}}" ng-click="block.edit()" ng-focus="block.focus" aria-label="Edit component">
    <h2 class="govuk-heading-m" ng-bind="block.data.heading" ng-if="block.data.heading"></h2>
    <h2 class="govuk-heading-m" ng-if="!block.data.heading">Related</h2>
    <ul class="govuk-list">
        <li ng-repeat="link in block.data.links">
            <a href="{{link.url}}" class="govuk-link">{{link.name}}</a>
        </li>
    </ul>
</div>