
<nav class="side-nav {{block.settingsData.cssClasses}}">
    <h2>
        <a class="govuk-link" href="{{block.data.navigationRoot[0].url}}">{{block.data.navigationRoot[0].nodeName}}</a>
    </h2>
    <ul class="side-nav-list">
        <li>
            <a class="govuk-link" href="">Link 1</a>
        </li>
        <li class="side-nav-list-item-expanded">
            <a class="govuk-link" href="">Link 2</a>
            <ul>
                <li>
                    <a class="govuk-link" href="">Link 2.1</a>
                </li>
                <li>
                    <a class="govuk-link" href="">Link 2.2</a>
                    <ul>
                        <li>
                            <a class="govuk-link" href="">Link 2.2.1</a>
                        </li>
                        <li>
                            <a class="govuk-link" href="">Link 2.2.2</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a class="govuk-link" href="">Link 3</a>
        </li>
    </ul>
</nav>