<div class="backoffice-block-view" ng-click="block.edit()" ng-focus="block.focus" aria-label="Edit YouTube video">
    <div class="tpr-youtube-video-preview-content">
        <h3 ng-if="block.data.title">{{ block.data.title }}</h3>
        <p ng-if="block.data.description">{{ block.data.description }}</p>
    </div>
    <div class="tpr-youtube-video-previewbox">
        <svg class="tpr-youtube-video-previewbox-play-button" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
            <circle cx="50" cy="50" r="48" stroke="#3d3d3d" stroke-width="2" fill="none" />
            <polygon points="40,30 70,50 40,70" fill="#3d3d3d" />
        </svg>
    </div>
</div>