<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c82a697a-9105-4fbc-9c3d-4f04b28b6cff" Alias="GOV.UK Buttons" Level="1">
  <Info>
    <Name>GOV.UK Buttons</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "35584ae7-feb5-4de8-9008-5d2d8cfb34ce",
      "settingsElementTypeKey": "e683e885-8aa0-4bdd-9eff-56966f353540",
      "view": null,
      "stylesheet": null,
      "label": "{{text}} (Button)",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "94737fb0-c49c-44db-8a59-6a65f14a0c47",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "64a0406a-8b4d-46d7-a976-af6d6616dffc",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>