<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2f68935f-27e3-4893-95e7-ad69a4cffdfe" Alias="GOV.UK Rich text editor (Text)" Level="2">
  <Info>
    <Name>GOV.UK Rich text editor (Text)</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>GOV.UK</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": null,
  "Editor": {
    "toolbar": [
      "styles",
      "bold",
      "italic",
      "bullist",
      "numlist",
      "link",
      "unlink",
      "table"
    ],
    "stylesheets": [
      "/css/govuk-umbraco-backoffice.css",
      "/css/site.css"
    ],
    "maxImageSize": 500,
    "mode": "classic",
    "dimensions": {
      "height": 500
    }
  },
  "HideLabel": true,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small",
  "UseLiveEditing": false
}]]></Config>
</DataType>