<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b59d7fb3-3fe3-461e-9ecc-0ae6ca2fc652" Alias="GOV.UK Rich text editor (Inline)" Level="2">
  <Info>
    <Name>GOV.UK Rich text editor (Inline)</Name>
    <EditorAlias>GovUk.InlineRichText</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>GOV.UK</Folder>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "styleselect",
      "bold",
      "italic",
      "bullist",
      "numlist",
      "link",
      "unlink",
      "table"
    ],
    "stylesheets": [
      "/css/govuk-umbraco-rich-text-editor.css",
      "/css/site.css"
    ],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small"
}]]></Config>
</DataType>