<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a1901435-980d-4fcf-bdb3-84bfee424708" Alias="GOV.UK Grid column size" Level="1">
  <Info>
    <Name>GOV.UK Grid column size</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "full"
    },
    {
      "id": 2,
      "value": "two-thirds"
    },
    {
      "id": 3,
      "value": "one-third"
    },
    {
      "id": 4,
      "value": "three-quarters"
    },
    {
      "id": 5,
      "value": "one-quarter"
    },
    {
      "id": 6,
      "value": "one-half"
    }
  ]
}]]></Config>
</DataType>