<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a806a5c9-78ae-402b-9d65-180672baab96" Alias="GOV.UK Block list" Level="1">
  <Info>
    <Name>GOV.UK Block list</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "394dc214-e2ad-4605-ab3f-2c6b83063ef6",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "bfeed15c-3ebb-46d4-b805-07d0f9b083c7",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{caption}} (Caption)",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "40bb2a3e-3d75-4ec1-9134-e0c46c6f04a0",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "83cb35fb-51da-45cd-913f-1b8bdfd6a1d9",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "9d15adb9-fb63-4b20-ada3-fc9239a72a8c",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{summary}} (Details)",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "f7fc1212-5317-4642-9565-f8b6585508e8",
      "settingsElementTypeKey": "6930e373-0fce-44ad-89b8-267442675807",
      "view": null,
      "stylesheet": null,
      "label": "{{legend}} (Fieldset)",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "fe2dd0de-55a9-4249-be03-6896aa719974",
      "settingsElementTypeKey": "98070ce9-d528-4bfc-bd90-e411e5110f56",
      "view": null,
      "stylesheet": null,
      "label": "{{label}} (Text Input)",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "d118b7dc-63c6-4262-9ce9-2e823dc530f0",
      "settingsElementTypeKey": "5f3e3369-43cf-47c2-bb76-60055518ae05",
      "view": null,
      "stylesheet": null,
      "label": "{{label}} (Textarea)",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "b84a633b-1ee7-4a5c-80bd-4267420ed133",
      "settingsElementTypeKey": "40da6b15-489b-4249-854a-56954e5917e1",
      "view": null,
      "stylesheet": null,
      "label": "{{legend}} (Radios)",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "a4ef171f-5688-4b05-806f-75a6ce50a842",
      "settingsElementTypeKey": "57265e01-05ed-4ea3-a28d-e9f77420c018",
      "view": null,
      "stylesheet": null,
      "label": "{{legend}} (Checkboxes)",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "43d6f04c-2ce0-440c-9e13-05d856b8aafe",
      "settingsElementTypeKey": "f7827cba-7c37-4ddd-9234-11bf31e17818",
      "view": null,
      "stylesheet": null,
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "6a472e93-8a46-4791-a387-bde834d619cf",
      "settingsElementTypeKey": "46f4e57b-7357-44c0-bd4c-295b9edee4c1",
      "view": null,
      "stylesheet": null,
      "label": "{{panelHeading}} (Panel)",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "a278e94c-f555-490b-920c-313a7ba17492",
      "settingsElementTypeKey": "b4bca409-19d8-460d-9155-6b84fc90e820",
      "view": null,
      "stylesheet": null,
      "label": "{{label}} (Select)",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": true,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>