<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f7a60846-a843-4499-ae52-c9a5a05f83cc" Alias="GOV.UK Radios layout" Level="2">
  <Info>
    <Name>GOV.UK Radios layout</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>GOV.UK</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Vertical"
    },
    {
      "id": 2,
      "value": "Horizontal"
    }
  ]
}]]></Config>
</DataType>