<?xml version="1.0" encoding="utf-8"?>
<DataType Key="81b0047e-75c4-42de-8952-4b7821d6c50e" Alias="GOV.UK Rich text editor (Task)" Level="1">
  <Info>
    <Name>GOV.UK Rich text editor (Task)</Name>
    <EditorAlias>GovUk.InlineRichText</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "bold",
      "italic"
    ],
    "stylesheets": [
      "/css/govuk-umbraco-rich-text-editor.css",
      "/css/site.css"
    ],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small"
}]]></Config>
</DataType>