<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0be193a3-dedd-4030-a6e7-a5f96e1270ea" Alias="GOV.UK Field help block list" Level="1">
  <Info>
    <Name>GOV.UK Field help block list</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "e0876897-88f4-4dcf-ae0a-ec5a37e3a185",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "40bb2a3e-3d75-4ec1-9134-e0c46c6f04a0",
      "settingsElementTypeKey": "562c13ba-8543-4932-b448-8dd0d71e67b2",
      "view": null,
      "stylesheet": null,
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "83cb35fb-51da-45cd-913f-1b8bdfd6a1d9",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "9d15adb9-fb63-4b20-ada3-fc9239a72a8c",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseSingleBlockMode": false,
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>