<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4984ab0f-b961-4bd3-888c-f0b7608f920f" Alias="GOV.UK Notification banner type" Level="1">
  <Info>
    <Name>GOV.UK Notification banner type</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Default"
    },
    {
      "id": 2,
      "value": "Success"
    }
  ]
}]]></Config>
</DataType>