<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b54ee68e-cfd8-41cd-8e5c-0be770c4d33f" Alias="GOV.UK Rich text editor (Phase banner)" Level="2">
  <Info>
    <Name>GOV.UK Rich text editor (Phase banner)</Name>
    <EditorAlias>GovUk.InlineRichText</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>GOV.UK</Folder>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "bold",
      "italic",
      "link",
      "unlink"
    ],
    "stylesheets": [
      "/css/govuk-umbraco-rich-text-editor.css",
      "/css/site.css"
    ],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small"
}]]></Config>
</DataType>