<?xml version="1.0" encoding="utf-8"?>
<DataType Key="08abe388-645d-4b2e-9d51-38ea1d4b6b75" Alias="GOV.UK Phase" Level="2">
  <Info>
    <Name>GOV.UK Phase</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>GOV.UK</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Alpha"
    },
    {
      "id": 2,
      "value": "Beta"
    },
    {
      "id": 3,
      "value": "Live"
    }
  ]
}]]></Config>
</DataType>