<?xml version="1.0" encoding="utf-8"?>
<Media Key="19fe68ee-cf63-40b4-b5b8-3fbbb20c0c63" Alias="Decorative image settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DecorativeImageSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-08T12:22:28</CreateDate>
    <NodeName Default="Decorative image settings" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3bup2gld/decorative_image_settings.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>