<?xml version="1.0" encoding="utf-8"?>
<Media Key="48e78158-d1b0-4a0e-81ed-3f982ad62481" Alias="Example pdf file" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ExamplePdfFile</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-05-13T16:17:58</CreateDate>
    <NodeName Default="Example pdf file" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/icaposfq/example-pdf-file.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>