<?xml version="1.0" encoding="utf-8"?>
<Media Key="01acb1b9-2ef1-4d26-ae5c-76f1ddb3e32c" Alias="Example image (example image with custom alt text)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ExampleImageExampleImageWithCustomAltText</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-11T09:04:46</CreateDate>
    <NodeName Default="Example image (example image with custom alt text)" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Example image with custom alt text]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/x4ylyapr/workie_profile.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>