<?xml version="1.0" encoding="utf-8"?>
<Media Key="97024962-54fd-4e76-883c-33e736832571" Alias="Example word file" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ExampleWordFile</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-05-13T16:18:51</CreateDate>
    <NodeName Default="Example word file" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <documentTitle>
      <Value><![CDATA[]]></Value>
    </documentTitle>
    <umbracoFile>
      <Value><![CDATA[/media/pjebff53/example-word-file.docx]]></Value>
    </umbracoFile>
  </Properties>
</Media>