<?xml version="1.0" encoding="utf-8"?>
<Media Key="709a03ab-4635-4320-a1da-ebe21cd650b6" Alias="Testpdf" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Testpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-04-01T16:47:02</CreateDate>
    <NodeName Default="Testpdf" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qubju2bv/testpdf.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>