<?xml version="1.0" encoding="utf-8"?>
<Media Key="73d8f92e-ccf3-401d-9da3-431a385d072c" Alias="Testpdf" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Testpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-04-22T15:55:08</CreateDate>
    <NodeName Default="Testpdf" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ad2nq25t/testpdf.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>