<?xml version="1.0" encoding="utf-8"?>
<Media Key="ba13d507-f0ea-439e-9e82-7bcce7e74ab3" Alias="Testpdf" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Testpdf</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-04-01T14:38:53</CreateDate>
    <NodeName Default="Testpdf" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fhkbhoxk/testpdf.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>