<?xml version="1.0" encoding="utf-8"?>
<Media Key="69821174-3477-4429-a367-1474069d8d0c" Alias="The Pensions Regulator logo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ThePensionsRegulatorLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-04T16:25:27</CreateDate>
    <NodeName Default="The Pensions Regulator logo" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/oiije0lx/tpr-logo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>