<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e5ba1961-c541-453b-82bc-35c792b05710" Alias="GOV.UK Grid column stacking" Level="2">
  <Info>
    <Name>GOV.UK Grid column stacking</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>GOV.UK</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Mobile"
    },
    {
      "id": 2,
      "value": "Mobile and tablet"
    }
  ]
}]]></Config>
</DataType>