@model TextInputViewModel
@{
    ViewData["Title"] = "Text input";
}
@section language {
    <partial name="_LanguageSwitcher"/>
}

<partial name="GOVUK/ErrorSummary" />

<span class="govuk-caption-xl">GOV.UK Design System</span>
<h1 class="govuk-heading-l">@ViewData["Title"]</h1>

<p class="govuk-body">To demonstrate localisation, use the language switcher to change the language of error messages.</p>

<form asp-controller="TextInput" asp-action="Post" method="post" novalidate>
    <govuk-client-side-validation>
        <govuk-fieldset>
            <govuk-fieldset-legend>The first two fields are in a fieldset</govuk-fieldset-legend>
                <govuk-input asp-for="Field1">
                    <govuk-input-label>Field label</govuk-input-label>
                    <govuk-input-hint>This field must be numeric, and between 5 and 20 characters</govuk-input-hint>
                    <govuk-input-error-message />
                </govuk-input>

                <govuk-input asp-for="Field2">
                    <govuk-input-label>Another field</govuk-input-label>
                    <govuk-input-hint>This must be the same as the first, like confirming an email address</govuk-input-hint>
                    <govuk-input-error-message />
                </govuk-input>
        </govuk-fieldset>

        <govuk-input asp-for="Field3">
            <govuk-input-label>Email address</govuk-input-label>
            <govuk-input-hint>This field be an email address between 5 and 100 characters</govuk-input-hint>
            <govuk-input-error-message />
        </govuk-input>

         <govuk-input asp-for="Field4">
            <govuk-input-label>Phone validation</govuk-input-label>
            <govuk-input-hint>This must be a phone number</govuk-input-hint>
            <govuk-input-error-message />
        </govuk-input>

        <govuk-input asp-for="Field5" input-class="govuk-input--width-3">
            <govuk-input-label>Range validation</govuk-input-label>
            <govuk-input-hint>This must be a number between 5 and 50, and there is a field prefix and suffix</govuk-input-hint>
            <govuk-input-error-message />
            <govuk-input-prefix>+/-</govuk-input-prefix>
            <govuk-input-suffix>%</govuk-input-suffix>
        </govuk-input>
    </govuk-client-side-validation>

    <govuk-button>Submit</govuk-button>
</form>
@section scripts {
    <partial name="GOVUK/Validation" />
}