@using GovUk.Frontend.ExampleSharedResource
@using Microsoft.AspNetCore.Mvc.Localization
@model TextInputViewModel

@inject IHtmlLocalizer<SharedResource> _shared;
@{
    ViewData["Title"] = "Text input";
}
@section language {
    <partial name="_LanguageSwitcher"/>
}

<form asp-controller="TextInput" asp-action="Post" method="post" novalidate>
    <span class="govuk-caption-xl">Example application</span>
    <div class="govuk-grid-row govuk-grid-row--tpr-divider">
        <div class="govuk-grid-column govuk-grid-column-full">
            <h1 class="govuk-heading-l">@ViewData["Title"]</h1>
        </div>
    </div>

    <div class="govuk-grid-row govuk-grid-row--tpr-divider">
        <div class="govuk-grid-column govuk-grid-column-two-thirds-from-desktop">
          <p class="govuk-body">To demonstrate localisation, use the language switcher to change the language of error messages.</p>
          <p class="govuk-body">You must apply <code>.govuk-fieldset__legend--for-fieldset</code> if you want TPR styling.</p>
          <govuk-client-side-validation>
              <govuk-fieldset>
                  <govuk-fieldset-legend class="govuk-fieldset__legend--for-fieldset">The first two fields are in a fieldset</govuk-fieldset-legend>
                      <govuk-input asp-for="Field1">
                          <govuk-input-label>@_shared["field_label"]</govuk-input-label>
                          <govuk-input-hint>This field must be numeric, and between 5 and 20 characters</govuk-input-hint>
                      </govuk-input>
                      <govuk-input asp-for="Field2">
                          <govuk-input-label>Another field</govuk-input-label>
                          <govuk-input-hint>This must be the same as the first, like confirming an email address</govuk-input-hint>
                      </govuk-input>
              </govuk-fieldset>

              <govuk-input asp-for="Field3">
                  <govuk-input-label>Email address</govuk-input-label>
                  <govuk-input-hint>This field be an email address between 5 and 100 characters</govuk-input-hint>
              </govuk-input>

               <govuk-input asp-for="Field4">
                  <govuk-input-label>Phone validation</govuk-input-label>
                  <govuk-input-hint>This must be a phone number</govuk-input-hint>
              </govuk-input>
                
              <govuk-input asp-for="Field5" input-class="govuk-input--width-3">
                  <govuk-input-label>Range validation</govuk-input-label>
                  <govuk-input-hint>This must be a number between 5 and 50, and there is a field prefix and suffix</govuk-input-hint>
                  <govuk-input-prefix>+/-</govuk-input-prefix>
                  <govuk-input-suffix>%</govuk-input-suffix>
              </govuk-input>

              <govuk-input asp-for="Field6" class="govuk-input--width-10">
                  <govuk-input-label>UK postcode</govuk-input-label>
              </govuk-input>

                <govuk-input asp-for="Field8" >
                    <govuk-input-label>Registered charity number</govuk-input-label>
                    <govuk-input-hint>
                        This must be either be
                        <ul>
                            <li>6 numbers or</li>
                            <li>7 numbers or</li>
                            <li>the letters SC followed by 6 numbers</li>
                        </ul>
                    </govuk-input-hint>
                </govuk-input>
          </govuk-client-side-validation>
        </div>
    </div>


    <govuk-button>Submit</govuk-button>
</form>
@section scripts {
    <partial name="GOVUK/Validation" />
}