@model RadiosViewModel
@{
    ViewData["Title"] = "Notification banner";
}

<govuk-notification-banner>
    <p class="govuk-notification-banner__heading">
        A <a class="govuk-notification-banner__link" href="https://design-system.service.gov.uk/components/notification-banner/">notification banner</a> lets you tell the user about something that's not directly relevant to the thing they’re trying to do on that page of the service.
    </p>
</govuk-notification-banner>

<govuk-notification-banner type="Success">
    <h3 class="govuk-notification-banner__heading">
        Use the green version of the notification banner to confirm that something they’re expecting to happen has happened.
    </h3>
    <p class="govuk-body">Do not use a notification banner to tell users that they’ve finished using a linear service. Use a <a class="govuk-notification-banner__link" href="https://design-system.service.gov.uk/patterns/confirmation-pages/">confirmation page</a> instead.</p>
</govuk-notification-banner>

<tpr-notification-banner>

</tpr-notification-banner>
<span class="govuk-caption-xl">GOV.UK Design System</span>
<h1 class="govuk-heading-l">@ViewData["Title"]</h1>

<p class="govuk-body">Avoid showing more than one notification banner on the same page. Instead, combine the messages in a single notification banner. 
    If the messages are too different to combine, only show the highest priority notification banner.</p>

<p class="govuk-body">See <a class="govuk-link" href="https://design-system.service.gov.uk/components/notification-banner/">notification banner</a> for more guidance.</p>