@import '_tpr-frontend-version.generated.scss';

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Open Sans Regular"), local("OpenSans-Regular"), url(/ThePensionsRegulator.Frontend/fonts/open-sans-regular.woff2?v=#{$tpr-frontend-version}) format("woff2");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Open Sans Semi-Bold"), local("OpenSans-SemiBold"), url(/ThePensionsRegulator.Frontend/fonts/open-sans-semi-bold.woff2?v=#{$tpr-frontend-version}) format("woff2");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url(/ThePensionsRegulator.Frontend/fonts/open-sans-bold.woff2?v=#{$tpr-frontend-version}) format("woff2");
}