@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Open Sans Regular"), local("OpenSans-Regular"), url(/_content/ThePensionsRegulator.Frontend/tpr/open-sans-regular.woff2) format("woff2");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Open Sans Semi-Bold"), local("OpenSans-SemiBold"), url(/_content/ThePensionsRegulator.Frontend/tpr/open-sans-semi-bold.woff2) format("woff2");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url(/_content/ThePensionsRegulator.Frontend/tpr/open-sans-bold.woff2) format("woff2");
}