@import '_tpr-variables.scss';

.tpr-related-links {
    padding-top: govuk-spacing(4);
    @include govuk-responsive-margin(6, "bottom");
}

.tpr-related-links.blue-bar {
    border-top: solid 4px $tpr-colour-royal-blue;
}

.tpr-related-links ul {
    margin: 0;
    padding: 0;
}

.tpr-related-links li h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.tpr-related-links li {
    padding-bottom: 1rem;
}