@import '_tpr-variables.scss';
@import 'govuk/base';

.tpr-search-results__heading {
    background-color: $tpr-colour-white-smoke;
    @include govuk-responsive-padding(4);
}

.tpr-search-results__input-group {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
}

.tpr-search-results__input-group input {
    flex: 1 1 100%;
}

.govuk-button-group {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
}

@media (min-width: 600px) {
    .tpr-search-results__input-group {
        flex-wrap: nowrap;
    }

    .govuk-button-group {
        flex-direction: row;
        gap: 0.5rem;
        flex: 0 0 auto;
        align-items: center;
        margin: 0;
    }

    .govuk-button-group .govuk-button {
        margin: 0;
    }
}

.tpr-search-results__footer {
    all: unset;
    display: block;
    width: 100%;
}

.tpr-search-results__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    a {
        display: block;
        margin-right: govuk-spacing(3);
    }

    & > :last-child a {
        margin-right: 0;
    }

    #tpr-search-results-show-more-questions {
        cursor: pointer;
        color: $govuk-link-colour;
    }
}

.js-enabled {
    .tpr-search-results {
        display: block;
    }
}

.tpr-search-results {
    display: none;
}
