@import '_tpr-variables.scss';

.side-nav a {
    text-decoration: none;
}

.side-nav a:hover {
    text-decoration: underline;
}

.side-nav li {
    @include govuk-responsive-margin(4, "top");
}

li.side-nav-list-level1-item-expanded {
    border-left: 5px solid;
    border-color: $tpr-colour-royal-blue;
    margin-left: -20px;
    padding-left: 15px;
}

ul.side-nav-list-level1 {
    list-style-type: none;
    padding-inline-start: 0;
}

ul.side-nav-list-level2, ul.side-nav-list-level3 {
    padding-inline-start: 20px;
}

.side-nav-list-level2 li::marker, .side-nav-list-level3 li::marker {
    content: '\2014' ' '; /*em dash*/
    color: $tpr-colour-eclipse;
}