@import '_tpr-variables.scss';

.govuk-notification-banner__header {
    display: none;
}

.govuk-notification-banner {
    border-color: $tpr-colour-eastern-blue;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: $tpr-colour-eastern-blue;

    &.govuk-notification-banner--success {
        border-color: $tpr-colour-camarone;
        background-color: $tpr-colour-camarone;

        .govuk-notification-banner__content {
            background-color: $tpr-colour-camarone;

            .govuk-button--inverse:not(:active):not(:focus):not(:hover) {
                color: $tpr-colour-camarone;
            }
        }
    }

    .govuk-notification-banner__content {
        background-color: $tpr-colour-eastern-blue;
        color: $tpr-colour-white;
        padding: govuk-spacing(6);

        > .govuk-body {
            color: $tpr-colour-white;
        }

        > * {
            max-width: none;
        }

        .govuk-button--inverse {
            background-color: $tpr-colour-white;
            color: $tpr-colour-eastern-blue;

            &:hover,
            &:active,
            &:hover:focus,
            &:active:focus {
                background-color: transparent;
                color: $tpr-colour-white;
            }
        }

        .govuk-button-group {
            justify-content: center;
        }

        .govuk-grid-row {
            display: flex;
            justify-content: center;


            .govuk-button {
                margin-bottom: 0;
            }

            .govuk-button-group {
                justify-content: center;
                margin-bottom: 0;
            }
        }
    }

    .govuk-notification-banner--success .govuk-notification-banner__link:link,
    .govuk-notification-banner--success .govuk-notification-banner__link,
    .govuk-notification-banner__link:link,
    .govuk-notification-banner__link,
    .govuk-link:link,
    .govuk-link {
        color: $tpr-colour-white;
        text-decoration-thickness: 1px;

        &:hover {
            color: $tpr-colour-white;
            text-decoration-thickness: 2px;
        }

        &:visited {
            color: $tpr-colour-white;
            text-decoration-thickness: 1px;
        }

        &:focus {
            color: $tpr-colour-black;
        }
    }
}