@import 'govuk/base';

/* .govuk-file-upload is the no-JS version, .govuk-file-upload-button is the JS version */
$button-shadow-size: $govuk-border-width-form-element;

.govuk-file-upload {
    padding: govuk-px-to-rem(3) govuk-px-to-rem(3) govuk-px-to-rem(1) govuk-px-to-rem(3);
}

.govuk-file-upload::file-selector-button {
    padding-top: (govuk-spacing(2) - $govuk-border-width-form-element);
    padding-bottom: (govuk-spacing(2) - $govuk-border-width-form-element - ($button-shadow-size / 2));
    margin-right: govuk-px-to-rem(16);
}

.govuk-file-upload-button--empty .govuk-file-upload-button__pseudo-button {
    background: $tpr-colour-white;
}


.govuk-file-upload-button:active:hover .govuk-file-upload-button__pseudo-button,
.govuk-file-upload-button:focus:hover .govuk-file-upload-button__pseudo-button {
    color: $tpr-colour-eclipse;
}

.govuk-file-upload:focus-within::file-selector-button,
.govuk-file-upload:focus::file-selector-button,
.govuk-file-upload-button:focus .govuk-file-upload-button__pseudo-button {
    background-color: $tpr-colour-tangerine-yellow;
    color: $tpr-colour-black;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
}

.govuk-file-upload:focus-within,
.govuk-file-upload:focus {
    outline: $govuk-focus-width solid govuk-functional-colour(focus);
    box-shadow: inset 0 0 0 govuk-px-to-rem(2) govuk-functional-colour(focus-text);
}

.govuk-file-upload::file-selector-button:hover,
.govuk-file-upload-button:hover .govuk-file-upload-button__pseudo-button {
    color: $govuk-button-text-colour;
    background-color: $tpr-colour-royal-blue;
}

