@use "sass:map";
@import '_tpr-variables.scss';
@import 'govuk/base';

/* .tpr-section-cards needs a default background and padding for the cards to contrast against. 
    Display the cards in rows, where extra cards can wrap to the next row.
*/
.tpr-section-cards {
    @include govuk-responsive-margin(6, "bottom");
    
    background: $tpr-colour-whisper; 
    padding: $govuk-gutter-half;

    container-type: inline-size;

    > ul {
        display: flex;
        flex-wrap: wrap;
        gap: $govuk-gutter-half;
        margin: 0;
        padding: 0;
    }

    .tpr-section-card {
        flex-grow: 1; /* Fills unused space to make section boxes equal width */
        display: flex; /* Fills unused space to make section boxes equal height */

        margin: 0;
        padding: 0;

        $tablet-breakpoint: map.get($govuk-breakpoints, "tablet")-($govuk-gutter*3);
        $desktop-breakpoint: map.get($govuk-breakpoints, "desktop")-($govuk-gutter*3);
        max-width: 100%;

        @container (width >= #{$tablet-breakpoint}) {
            max-width: calc((100% - $govuk-gutter) / 2 );
        }

        @container (width >= #{$desktop-breakpoint}) {
            max-width: calc((100% - ($govuk-gutter*2)) / 3);
        }

    }
}
@include govuk-media-query($from: tablet) {
    .tpr-section-cards {
        padding: $govuk-gutter;
    }

    .tpr-section-cards > ul {
        gap: $govuk-gutter;
    }
}


/* If .tpr-section-cards is added within .tpr-box, let .tpr-box handle the background and padding. */
.tpr-box:not(.tpr-box--bordered) .tpr-section-cards {
    padding: 0;
    background: none; 
}

.tpr-box:not(.tpr-box--full-width) .tpr-section-cards:last-child {
    margin: 0;
}

@include govuk-media-query($until: tablet) {
    .tpr-box--full-width .tpr-section-cards {
        margin-left: -$govuk-gutter-half;
        margin-right: -$govuk-gutter-half;
    }
}

$tablet-breakpoint-2: govuk-from-breakpoint("tablet", $govuk-breakpoints);
$max-width: "1021px";

@media (max-width: $max-width) {
    .tpr-box--full-width .tpr-section-cards:last-child {
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media ($tablet-breakpoint-2) and (max-width: $max-width) {
    .tpr-box--full-width .tpr-section-cards {
        margin-left: -$govuk-gutter;
        margin-right: -$govuk-gutter;
    }
}

.tpr-section-card__body {
    background-color: $tpr-colour-white;
    margin: 0;
    @include govuk-responsive-padding(6);
    flex-grow: 1;
}

.tpr-section-card__content {
    @include govuk-responsive-padding(4, "top");

    > :last-child {
        margin-bottom: 0;
    }
}

.tpr-section-card__title {
    @include govuk-responsive-padding(4,"bottom");
    margin: 0;
    border-bottom: solid 1px $tpr-colour-very-light-grey;
}
