@import '_tpr-variables.scss';
@import 'govuk/base';

$side-nav-indentation-space: govuk-spacing(2);
$side-nav-selection-border-size: govuk-spacing(1);

.tpr-side-nav {
    @include govuk-responsive-margin(6, "top");
    @include govuk-responsive-margin(6, "bottom");
}

.tpr-side-nav a:hover {
    text-decoration: underline;
}

a.tpr-side-nav__desktop-link {
    display: none;
}

.tpr-side-nav li {
    border-left: $side-nav-selection-border-size solid;
    border-color: transparent;
    display: block;
    margin-top: govuk-spacing(1);
    margin-bottom: govuk-spacing(1);
}

.tpr-side-nav__mobile-expand-toggle {
    display: block;
    color: $tpr-colour-royal-blue;
    border: none;
    background-color: transparent;
    text-decoration: none;
    font-size: 1em;
    padding: govuk-spacing(1) 0;
    margin-right: ($side-nav-indentation-space * -1); 
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.tpr-side-nav__mobile-expand-toggle__arrow {
    float: inline-end;
}

.tpr-side-nav .govuk-link {
    font-weight: normal;
}

.tpr-side-nav a:not(.tpr-side-nav__mobile-expand-toggle):not(.tpr-side-nav__desktop-link) {
    text-decoration: none;
    padding: govuk-spacing(1);
    padding-left: $side-nav-indentation-space;
    display: inline-block;
    position: relative;
}
.tpr-side-nav a.tpr-side-nav__desktop-link {
    padding-left: govuk-spacing(1);
}

.tpr-side-nav > ul {
    margin: $side-nav-indentation-space ($side-nav-indentation-space * -1);
}

ul.tpr-side-nav__list {
    list-style-type: none;
    padding-inline-start: 0;
    display:none;
}

.tpr-side-nav__list[data-level = "1"]{
    display:none;
}
.tpr-side-nav__list--expanded[data-level = "1"] {
    display: block;
}

.tpr-side-nav__list ul {
    padding-inline-start: 1.3em;
}

.tpr-side-nav__list-item-wrapper {
    display: flex;
    justify-content: space-between;
}

.tpr-side-nav__list-item__expand-toggle {
    cursor: pointer;
    background: transparent;
    border: none;
    display: flex;
}

.tpr-side-nav__list-item-arrow {
    float: inline-end;
    padding: 0.2em;
    cursor: pointer;
}

.tpr-side-nav__list-item-arrow--up {
    transform: rotate(180deg);
}

li.tpr-side-nav__list-item--active {
    > .tpr-side-nav__list-item-wrapper {
        > a.govuk-link--no-visited-state {
            font-weight: bold;
            text-decoration: underline;
            color: $tpr-colour-eclipse;
        }
    }
}
.tpr-side-nav__list-item--expanded > ul {
    display: block;
}

li.tpr-side-nav__list-item--expanded--active {
    border-color: $tpr-colour-royal-blue;
}

.tpr-side-nav__list-item--expanded li {
    border-color: transparent;
}

.tpr-side-nav__list-item--expanded li a::before {
    content: '\2014'; /* em dash */
    color: $tpr-colour-eclipse;
    position: absolute;
    margin-left: -1.3em;
}

li.tpr-side-nav__list-item--expanded {
    border-color: $tpr-colour-royal-blue;
}

.tpr-side-nav__list-item--expanded li {
    border-color: transparent;
}

@include govuk-media-query($from:tablet) {
    .tpr-side-nav__list[data-level = "1"] {
        display: block;
    }

    a.tpr-side-nav__desktop-link {
        display: block;
    }

    .tpr-side-nav__mobile-expand-toggle {
        display: none;
    }
}