@import '_tpr-variables.scss';
@import 'govuk/base';

// Change GOV.UK button styles where the TPR brand diverges from the GOV.UK Design System. 
// More changes (eg focus colour) are in _tpr-variables.scss which is applied before GOV.UK classes 
// are compiled. Changes in this file target situations where GOV.UK source uses generic GOV.UK
// tools like the govuk-colour() mixin that might apply more widely than buttons, rather than 
// defining a specific variable.
//
// The chevron image is from Material UI https://fonts.google.com/icons?selected=Material+Icons+Outlined:chevron_right
// Using a background image means no extra HTML is required and no extra characters are exposed to assistive technology.
$tpr-button-padding: 20px;

.govuk-button, .govuk-file-upload::file-selector-button {
    color: $govuk-button-text-colour;
    border-width: 1px;
    border-color: transparent;
    line-height: govuk-px-to-rem(24);
    border-radius: 8px;
    box-shadow: none;
    background: $govuk-button-background-colour url(/_content/ThePensionsRegulator.Frontend/tpr/chevron_right_white_24dp.svg) right center no-repeat;
    padding-left: $tpr-button-padding;
    padding-right: $tpr-button-padding *2;
}
.govuk-button:hover, .govuk-button:active, .govuk-file-upload::file-selector-button:hover {
    background-color: $tpr-colour-violet;
}
.govuk-button:focus:not(:active):not(:hover) {
    background-image: url(/_content/ThePensionsRegulator.Frontend/tpr/chevron_right_eclipse_24dp.svg);
    color: $tpr-colour-eclipse;
}
.govuk-button:disabled, .govuk-button[aria-disabled=true] {
    background-color: $tpr-colour-regent-st-blue;
}

.govuk-button--secondary {
    color: $tpr-colour-royal-blue;
    background: $tpr-colour-white;
    border-color: $tpr-colour-royal-blue;
    box-shadow: none;
}

// Only for links styled as secondary buttons, we need the extra weight of the a. selector to override GOV.UK color 
a.govuk-button--secondary:link, a.govuk-button--secondary:visited {
    color: $tpr-colour-royal-blue;
}

.govuk-button--secondary:hover,
.govuk-button--secondary:link:active,
.govuk-button--secondary:visited:active,
a.govuk-button--secondary:hover {
    color: $govuk-button-text-colour;
    background-color: $tpr-colour-royal-blue;
}
.govuk-button--secondary:disabled, .govuk-button--secondary[aria-disabled=true] {
    color: $tpr-colour-cornflower;
    background-color: $tpr-colour-white;
    border-color: $tpr-colour-cornflower;
}

// Remove chevron where it's not wanted
.govuk-button--start,
.govuk-button--secondary,
input[type="file"]::file-selector-button {
    background-image: none;
    padding-right: $tpr-button-padding;
}
.govuk-button--start:focus:not(:active):not(:hover),
.govuk-button--secondary:focus:not(:active):not(:hover),
.govuk-button--inverse:focus:not(:active):not(:hover) {
    background-image: none;
}

.govuk-button--warning {
    background-color: $tpr-colour-fire-brick;
}
.govuk-button--warning:hover, .govuk-button--warning:focus, .govuk-button--warning:active {
    background-color: $tpr-colour-brick;
}
.govuk-button--warning:disabled, .govuk-button--warning[aria-disabled=true] {
    background-color: $tpr-colour-petite-orchid;
}

.govuk-button--warning.govuk-button--secondary,
a.govuk-button--warning.govuk-button--secondary:link,
a.govuk-button--warning.govuk-button--secondary:visited {
    color: $tpr-colour-fire-brick;
    background-color: $tpr-colour-white;
    border-color: $tpr-colour-fire-brick;
}

.govuk-button--warning.govuk-button--secondary:hover:not(:disabled):not([aria-disabled=true]),
.govuk-button--warning.govuk-button--secondary:active,
a.govuk-button--warning.govuk-button--secondary:hover,
a.govuk-button--warning.govuk-button--secondary:active {
    color: $govuk-button-text-colour;
    background-color: $tpr-colour-fire-brick;
    border-color: transparent;
}

.govuk-button--warning.govuk-button--secondary:disabled, .govuk-button--warning.govuk-button--secondary[aria-disabled=true] {
    color: $tpr-colour-petite-orchid;
    border-color: $tpr-colour-petite-orchid;
}

.govuk-button--inverse {
    background-color: transparent;
    background-image: none;
    padding-right: govuk-spacing(4);
    color: $govuk-button-text-colour;
    border-color: $tpr-colour-white;

    &:hover,
    &:active,
    &:hover:focus,
    &:active:focus {
        color: $tpr-colour-zambezi;
        background: $tpr-colour-white;
    }

    &:focus {
        color: $tpr-colour-black;
    }
}