@import '_tpr-variables.scss';
@import 'govuk/base';

$side-nav-indentation-space: govuk-spacing(2);
$side-nav-selection-border-size: govuk-spacing(1);

.tpr-side-nav {
    padding-top: 40px;
    padding-bottom: 40px;
    @include govuk-responsive-margin(6, "bottom");
}

.tpr-side-nav a:hover {
    text-decoration: underline;
}

a.tpr-side-nav__desktop-link {
    display: block;
}

button.tpr-side-nav__mobile-expand-toggle {
    display: none;
    color: $tpr-colour-royal-blue;
    border: none;
    background-color: transparent;
    text-decoration: none;
    font-size: 1em;
    padding-left: 0;
    cursor: pointer;
}

.tpr-side-nav a {
    text-decoration: none;
    padding: govuk-spacing(1);
    padding-left: $side-nav-indentation-space;
    display: block;
    position: relative;

    &.govuk-link--no-visited-state {
        font-weight: normal;
        font-family: "Open Sans", Arial, sans-serif;
    }
}
.tpr-side-nav a.tpr-side-nav__desktop-link
{
    padding-left: govuk-spacing(1);
}

// Root ul only
.tpr-side-nav > ul {
    margin: $side-nav-indentation-space ($side-nav-indentation-space * -1);
}

.tpr-side-nav li {
    border-left: $side-nav-selection-border-size solid;
    border-color: transparent;
}

ul.tpr-side-nav__list {
    list-style-type: none;
    padding-inline-start: 0;
}

.tpr-side-nav__list ul {
    padding-inline-start: 1.3em;
}

li.tpr-side-nav__list-item--active {
    > a.govuk-link--no-visited-state {
        font-weight: bold;
    }
}

li.tpr-side-nav__list-item--expanded {
    border-left: $side-nav-selection-border-size solid;
    border-color: $tpr-colour-royal-blue;
}

.tpr-side-nav__list-item--expanded li a::before {
    content: '\2014'; /* em dash */
    color: $tpr-colour-eclipse;
    position: absolute;
    margin-left: -1.3em;
}

@include govuk-media-query($until:tablet) {

    .tpr-side-nav {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .tpr-side-nav__list--no-js {
        display: none;
    }

    .tpr-side-nav > .tpr-side-nav__list--no-js {
        display: block;
    }

    .tpr-side-nav > .tpr-side-nav__list--no-js ~ .tpr-side-nav__list--no-js {
        display: none;
    }

    ul.tpr-side-nav__list {
        transition: max-height 0.5s;
    }

    a.tpr-side-nav__desktop-link {
        display: none;
    }

    button.tpr-side-nav__mobile-expand-toggle {
        display: block;
    }

    @include govuk-media-query($until:desktop) {

        .tpr-side-nav__list--collapse > ul {
            display: none;
            max-height: 0px;
        }
    }
}