@import '_tpr-variables.scss';

.tpr-documents {
    @include govuk-responsive-margin(6, "bottom");
}

.tpr-document {
    @include govuk-responsive-margin(6, "bottom");
}

.tpr-document dd {
    margin-inline-start: 0;
}

.tpr-document .fileicon {
    display: inline-block;
    color: #fff;
    margin-right: 5px;
    padding: 1px 5px;
    letter-spacing: 1px;
    font-size: 0.6rem;
    text-decoration: none;
}

.tpr-document .fileicon.pdf {
    background-color: $tpr-colour-fire-brick;
}

.tpr-document .fileicon.doc {
    background-color: $tpr-colour-royal-blue;
    text-transform: uppercase;
}