@import '_tpr-variables.scss';
@import 'govuk/base';

.tpr-sectioncards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 0;
    margin: 0px -15px;
    padding: 0px;
    background: $tpr-colour-whisper;

    .tpr-box--full-width & {
        background: transparent;
        margin: 0px -45px;
    }

    @include govuk-media-query($from:1020px) {
        margin: 0px -15px;

        .tpr-box--full-width & {
            margin: 0px -15px;
        }
    }
}

.tpr-sectioncards {
    flex-grow: 1;
    max-width: calc(100% / 3);
    padding: 0;
    box-sizing: border-box;
    display: flex;

    @include govuk-media-query($until:desktop) {
        max-width: calc(100% / 2);
    }

    @include govuk-media-query($until:tablet) {
        max-width: 100%;
    }


    .tpr-sectioncards__body {
        background-color: white;
        margin: 0;
        @include govuk-responsive-padding(6);
        margin: 0.9rem;
        flex-grow: 1;

        p {
            margin-bottom: 0;
        }
    }
}

h2.tpr-sectioncards__title {
    @include govuk-responsive-padding(6,"right");
    @include govuk-responsive-padding(6,"bottom");
    @include govuk-responsive-padding(6,"left");
    margin: 0 govuk-spacing(-4);
    border-bottom: solid 1px $tpr-colour-very-light-grey;
    
    @include govuk-media-query($from:tablet) {
        margin: 0 govuk-spacing(-6);
    }

}
