
@media (min-width: 40.0625em)  {

    h2 .govuk-accordion__section-button {
        font-size: 1.5rem;
    }

    h3 .govuk-accordion__section-button {
        font-size: 1.3125rem;
    }

    h4 .govuk-accordion__section-button {
        font-size: 1.1875rem;
    }
}