@import '_tpr-variables.scss';
@import 'govuk/base';

.tpr-header-menu__nav-overlay {
    display: none;
}

.tpr-mobile-menu__toggle {
    display: flex;
    justify-content: flex-end;
    background-color: $tpr-colour-tolopea;
    padding: 2rem;
    flex-direction: row;
    margin-left: 4rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-top: -0.6rem;
    margin-bottom: -0.6rem;
    cursor: pointer;

    &:focus {
        outline: $govuk-focus-width solid $govuk-focus-colour;
    }
}

.tpr-header-menu__button {
    display: inline;
    padding-left: 0.6rem;
    background: 0 0;
    border: none;
    color: $tpr-colour-white;
    font-size: 1.1rem;
    font-family: $govuk-font-family;
    cursor: pointer;
}

.tpr-header-menu__button--opened {
    color: $tpr-colour-royal-blue;
    margin-right: 0.5rem;
}

.tpr-mobile-menu__toggle--open {
    background-color: $tpr-colour-whisper;
    align-items: baseline;
    padding: 1.8rem;
    padding-right: 0.5rem;
    padding-left: 0.3rem;
}

.tpr-mobile-menu__toggle--open::before {
    content: "x";
    font-size: 1.5rem;
    font-weight: 700;
    font-family: $govuk-font-family;
    color: $tpr-colour-royal-blue;
    margin-left: 0.5rem;
}

.tpr-mobile-menu__svg {
    width: 1.5rem;
    height: 1.5rem;
    transform: translateY(2px);
    vertical-align: bottom;
    display: flex;
}

.tpr-mobile-menu__svg.tpr-mobile-menu__svg--hide {
    display: none;
}

.tpr-mobile-menu__toggle .tpr-header-menu__menu-icon {
    fill: $tpr-colour-white;
}

.tpr-header-menu__nav-container {
    display: none;
}

.tpr-header-menu__nav-container--active {
    display: flex;
    font-size: 1rem;
    position: absolute;
    z-index: 1000;
    background-color: $tpr-colour-white;
    width: 100%;
    font-family: $govuk-font-family;
    border-bottom: 3px solid $tpr-colour-white;
    font-weight: $tpr-font-weight-regular;
    flex-direction: column;

    ul {
        margin: 0;
        padding: 0;
        width: 100%;
        list-style-type: none;
        background-color: $tpr-colour-white;

        li {
            border-bottom: solid $tpr-colour-dark-grey 1px;
        }
    }

    a {
        text-decoration: none;
        padding: 1rem;
        display: flex;

        &:hover {
            text-decoration: underline;
        }

        &:focus {
            background: $tpr-colour-tangerine-yellow;
            border-bottom: $govuk-focus-width solid $tpr-colour-black;
        }
    }

    .tpr-header-menu__nav-menu-item {
        position: relative;
    }

    .tpr-header-menu__nav-sub-menu {
        display: none;
    }

    .tpr-header-menu__nav-sub-menu--active {
        display: flex;
        flex-direction: column;
    }

    .tpr-mobile-menu__arrow-container {
        padding: 4.5px;
        position: absolute;
        left: 85%;
        top: 4%;
        padding: 0.7rem;
    }

    .tpr-mobile-menu__arrow {
        display: inline-block;
        border: solid #006ebc;
        border-width: 0 3px 3px 0;
        padding: 4.5px;
        left: 93%;
        top: 40%;
        margin: 0.3rem;
        cursor: pointer;
    }

    .tpr-mobile-menu__arrow-right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        top: 27%;
    }

    .tpr-mobile-menu__arrow-down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        top: 1rem;
    }

    .tpr-mobile-menu__arrow:focus-visible {
        outline: $govuk-focus-width solid $govuk-focus-colour;
    }

    .tpr-header-menu__nav-sub-menu-item a {
        font-size: 0.9rem;
        width: 100%
    }

    .tpr-header-menu__nav-sub-menu-item-title {
        border-bottom: solid $tpr-colour-dark-grey 1px;
        display: flex;
    }

    .tpr-header-menu__nav-overlay {
        display: block;
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: -1;
        cursor: pointer;
    }
}

@media(min-width: 993px) {
    .tpr-mobile-menu__toggle {
        display: none;
    }

    .tpr-header-menu__nav-sub-menu-item {
        display: none;
    }

    .tpr-header-menu__nav-container {
        display: flex;
        background: $tpr-colour-tolopea;

        ul {
            display: flex;
            background: $tpr-colour-tolopea;
            list-style: none;
            font-family: $govuk-font-family;
            justify-content: flex-start;
            margin-left: -2rem;
            color: $tpr-colour-white;
            flex-wrap: wrap;
        }

        a {
            color: $tpr-colour-white;
            text-decoration: none;
            padding: 1rem;
        }
    }

    .tpr-header-menu__nav-menu-item {

        a:focus-within {
            outline: $govuk-focus-width solid $govuk-focus-colour;
        }
    }

    .tpr-header-menu__nav-menu-item:hover .tpr-header-menu__nav-sub-menu, .tpr-header-menu__nav-menu-item:focus-within .tpr-header-menu__nav-sub-menu {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        background: $tpr-colour-white;
        justify-content: flex-start;
        position: absolute;
        flex-direction: column;
        left: 4rem;
        right: 4rem;
        gap: 0.5rem;
        padding: 2rem;
        margin-top: 1rem;
        z-index: 999;

        a {
            color: $tpr-colour-royal-blue;
        }

        a:hover {
            color: none;
            background: none;
        }

        a:focus {
            outline: $govuk-focus-width solid $govuk-focus-colour;
        }
    }

    .tpr-header-menu__nav-menu-item:hover .tpr-header-menu__nav-sub-menu-item, .tpr-header-menu__nav-menu-item:focus-within .tpr-header-menu__nav-sub-menu-item {
        display: flex;
        flex: 0 0 25%;
        box-sizing: border-box;
        padding: 0.5rem 0;
        border-bottom: solid 2px $tpr-colour-royal-blue;
    }

    .tpr-header-menu__nav-sub-menu-item-title {
        display: flex
    }


    .tpr-header-menu__nav-menu-item.tpr-header-menu__nav-final-item {
        margin-left: 9.5rem;
    }

    .tpr-header-menu__nav-inner-container {
        width: 100%
    }

    .tpr-mobile-menu__header-search-container {
        display: none;
    }

    .tpr-header-menu__nav-overlay--visible {
        display: block;
        position: absolute;
        width: 100%;
        height: 100vh;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: -1;
        cursor: pointer;
    }

    .tpr-header-menu__nav-menu-item:focus-within > a, .tpr-header-menu__nav-menu-item:hover > a /*.tpr-header-menu__nav-container a[aria-expanded="true"]*/ { //this is displaying without js
        background: $tpr-colour-white;
        text-decoration: underline;
        color: $tpr-colour-black;
    }
}

.tpr-header-menu__nav-menu-item--active {
    background: $tpr-colour-violet;
    color: $tpr-colour-white;
}

@media(min-width: 672px) {

    .tpr-mobile-menu__toggle {
        margin-top: -2.95rem;
        margin-bottom: -2.96rem;
    }

    .tpr-mobile-menu__svg {
        transform: translateY(4px);
    }
}

@media(max-width: 993px) {
    .tpr-header-menu__nav-menu-item--active:focus {
        color: $tpr-colour-black;
    }
}
