@import '_tpr-variables.scss';
@import 'govuk/base';
@import 'govuk/helpers/_focused';

$tpr-header-vertical-space: govuk-px-to-rem(10);
$tpr-header-line-height: 1.5em;
$tpr-header-image-width: govuk-px-to-rem(180);
$tpr-header-left-width-xl: 200px;

@mixin tpr-header-media-query-below-m {
    @media (max-width: 42em) {
        @content;
    }
}

@mixin tpr-header-media-query-between-m-and-xl {
    @media (min-width: 42em) and (max-width: 60em) {
        @content;
    }
}

@mixin tpr-header-media-query-m {
    @media (min-width: 42em) {
        @content;
    }
}
@mixin tpr-header-media-query-l {
    @media (min-width: 54em) {
        @content;
    }
}
@mixin tpr-header-media-query-xl {
    @media (min-width: 60em) {
        @content;
    }
}

// For .tpr-header stack everything by default, and hide .tpr-header__label which is usually a disposable strapline.
// At medium size align the sections horizontally rather than stacked.

// This background extends across the whole viewport.
.tpr-header,
.tpr-context {
    background: $tpr-colour-violet;
}

.tpr-header__inner {
    display: flex;
    flex-direction: column;
    padding: $tpr-header-vertical-space 0;
}

@include tpr-header-media-query-m {
    .tpr-header__inner {
        flex-direction: row;
        align-items: center;
    }
}

.tpr-header__logo {
    display: flex;
    flex: 0 0 auto;
}

.tpr-header__logo > img {
    width: $tpr-header-image-width;
    height: govuk-px-to-rem(75);
}

@include tpr-header-media-query-m {
    .tpr-header__logo {
        padding: 0 govuk-px-to-rem(30) 0 0;
        border-right: govuk-px-to-rem(1) solid $tpr-colour-blue-marguerite;
        margin-right: $govuk-gutter;
    }
}

@include tpr-header-media-query-xl {
    .tpr-header__logo {
        // Not in rems so that it doesn't grow and take up extra space when the base font size is increased.
        min-width: $tpr-header-left-width-xl;
    }
}

.tpr-header__label {
    display: none;
}

@include tpr-header-media-query-m {
    .tpr-header__label {
        display: flex;
        flex-grow: 1;
        margin: $tpr-header-vertical-space $govuk-gutter $tpr-header-vertical-space 0;
        color: $tpr-colour-white;
        font-weight: $tpr-font-weight-regular;
        line-height: $tpr-header-line-height;
    }
}

.tpr-header__content {
    color: $tpr-colour-white;
    display: flex;
    margin: 0;
}

@include tpr-header-media-query-m {
    .tpr-header__content {
        flex-direction: column;
        text-align: center;
    }
}

@include tpr-header-media-query-l {
    .tpr-header__content {
        flex-direction: row;
    }
}

.tpr-header__content > a {
    font-weight: $tpr-font-weight-regular;
    line-height: $tpr-header-line-height;
    white-space: nowrap;
}

.tpr-header__content > a:link,
.tpr-header__content > a:visited {
    color: $tpr-colour-white;
}

.tpr-header__content > a:focus {
    color: $govuk-focus-text-colour;
}

.tpr-header__content > a:active {
    @include govuk-focused-text;
}

.tpr-header__content > a {
    margin-right: $govuk-gutter;
}
.tpr-header__content > a:last-child {
    margin-right: 0;
}

// Links are now stacked to save space, so remove the margin that would knock them off-centre.
@include tpr-header-media-query-m {
    .tpr-header__content > a {
        margin-right: 0;
    }
}

// Now the links have room to spread out.
@include tpr-header-media-query-l {
    .tpr-header__content > a {
        margin-right: $govuk-gutter;
    }
}

// For .tpr-context stack everything by default.
.tpr-context .govuk-body {
    font-weight: $tpr-font-weight-regular;
    line-height: $tpr-header-line-height;
    margin: 0;
}

.tpr-context .govuk-link:link, .tpr-context .govuk-link:visited {
    color: $tpr-colour-white;
}
.tpr-context .govuk-link:focus {
    color: $govuk-focus-text-colour;
    box-shadow: 0 -2px $govuk-focus-colour, 0 4px $tpr-colour-blue-marguerite;
}

// Required when the text inside .tpr-context__context-2 is short.
.tpr-context__container {
    width: 100%; 
}

.tpr-context__context-1 {
    align-items: center;
    flex: 0 0 auto;
    padding: $tpr-header-vertical-space $govuk-gutter-half;
    border-top: govuk-px-to-rem(1) solid $tpr-colour-blue-marguerite;
    color: $tpr-colour-white;
    background: $tpr-colour-violet;
    white-space: nowrap;
}

// Allow more space for .tpr-context__context-2 as the viewport width grows.
.tpr-context__context-2 {
    color: $tpr-colour-white;
    background-color: $tpr-colour-black;
    flex-grow: 1;
    align-items: center;
    padding: $tpr-header-vertical-space $govuk-gutter-half;
}

// Hide context 2 on small viewports if empty
.tpr-context__container--context-2-empty .tpr-context__context-2 {
    padding: 0;
}
.tpr-context__container--context-2-empty .tpr-context__context-3-inner {
    border-top: none;
}

// Use another div inside .tpr-context__context-3 so that at larger sizes a left border can come in on the inner element,
// but not extend to the top and bottom of the outer element.
// overflow: hidden prevents the border of .tpr-context__context-3-inner extending too far.
.tpr-context__context-3 {
    white-space: nowrap;
    color: $tpr-colour-white;
    background-color: $tpr-colour-black;
    overflow: hidden;
}

.tpr-context__context-3-inner {
    border-top: govuk-px-to-rem(1) solid rgba(202, 202, 202, 0.5);
    padding: $tpr-header-vertical-space $govuk-gutter-half;
    align-items: center;
    width: 100%;
}

@include tpr-header-media-query-below-m {
    .tpr-context__inner {
        margin-left: 0;
        margin-right: 0;
    }
}

// Align spacing changes with those in .tpr-header inherited from .govuk-width-container. 
// Calculations copied from the govuk-width-container mixin: https://github.com/alphagov/govuk-frontend/blob/137b806d7c308f98f75f8c78ecfdb7f760b27d39/package/govuk/objects/_width-container.scss
@include govuk-media-query($from: tablet) {
    @supports (margin: unquote("max(calc(0px))")) {
        .tpr-context__context-1,
        .tpr-context__context-2,
        .tpr-context__context-3-inner {

            // Respect 'display cutout' safe area (avoids notches and rounded corners)
            $gutter-safe-area-right: calc(#{$govuk-gutter-half} + env(safe-area-inset-right));
            $gutter-safe-area-left: calc(#{$govuk-gutter-half} + env(safe-area-inset-left));

            // Use max() to pick largest margin, default or with safe area
            // Escaped due to Sass max() vs. CSS native max()
            padding-right: unquote("max(#{$govuk-gutter}, #{$gutter-safe-area-right})");
            padding-left: unquote("max(#{$govuk-gutter}, #{$gutter-safe-area-left})");
        }
    }
}

@include tpr-header-media-query-m {
    // At larger sizes the background extends to the edge of the viewport beyond the app. On the left it
    // must be $tpr-colour-violet with a border-top and to the right it must be $tpr-colour-black, so a
    // ::before pseudo-element is used to cover up the .tpr-context background with a different one for half the width.
    .tpr-context {
        background-color: $tpr-colour-black;
        position: relative;
    }

    .tpr-context::before {
        content: ' ';
        position: absolute;
        left: 0;
        top: 0;
        width: 50%;
        height: 100%;
        border-top: govuk-px-to-rem(1) solid $tpr-colour-blue-marguerite;
        box-sizing: border-box;
        background-color: $tpr-colour-violet;
        z-index: 0;
    }
    // At this width leave .tpr-context__context-2 and .tpr-context__context-3 stacked, but bring .tpr-context__container up alongside .tpr-context__context-1,
    // and match the width of .tpr-context to the logo in .tpr-header.
    // Remove the border on .tpr-context__context-1, and use z-index to raise the content above the pseudo-element creating the background and longer border.
    // Start using flexbox at this level, not earlier, otherwise IE11 does not expand the height of .tpr-context__context-2 when text wraps onto multiple lines.
    .tpr-context__inner {
        display: flex;
        position: relative;
        z-index: 1;
        align-items: center;
    }

    // Ensures the black background of .tpr-context__context-2 expands to cover the violet when .tpr-context__context-2 is empty and .tpr-context__context-3 is not rendered
    .tpr-context__container--context-2-empty.tpr-context__container--context-3-empty {
        display: flex;
        align-self: stretch;
    }

    .tpr-context__context-1 {
        padding: $tpr-header-vertical-space $govuk-gutter $tpr-header-vertical-space 0;
        width: $tpr-header-image-width;
        border: none;
    }

    .tpr-context__context-2 {
        padding: $tpr-header-vertical-space $govuk-gutter;
    }

    .tpr-context__context-3-inner {
        padding: $tpr-header-vertical-space $govuk-gutter;
    }
}

@include tpr-header-media-query-between-m-and-xl {
    .tpr-context__inner {
        margin-right: 0; // to allow the border-top on .tpr-context__context-3-inner to span the full width
    }
}

@include tpr-header-media-query-xl {
    // At this width make .tpr-context__context-1 bigger to match the width to the logo in .tpr-header,
    // and unstack .tpr-context__context-2 and .tpr-context__context-3 to be side-by-side.
    .context {
        width: govuk-px-to-rem(285);
    }

    .tpr-context__context-1 {
        width: $tpr-header-left-width-xl;
    }

    .tpr-context__container,
    .tpr-context__context-2,
    .tpr-context__context-3 {
        display: flex;
        align-items: center;
        background: $tpr-colour-black; // Ensures the black background covers the violet when the content of .tpr-context__context-2 is short or empty
    }

    // Ensures the height of .tpr-context__context-2 is consistent whether or not .tpr-context__context-3 is rendered
    // Vertical space should be equal to the sum of padding & margin on .tpr-context__context-3-inner
    .tpr-context__context-2::after {
        content: ' ';
        padding: $tpr-header-vertical-space*1.5 0;
    }

    .tpr-context__context-3 {
        overflow: visible;
    }

    .tpr-context__context-3-inner {
        border-top: none;
        border-left: govuk-px-to-rem(1) solid rgba(202, 202, 202, 0.5);
        margin: $tpr-header-vertical-space/2 0;
        padding: $tpr-header-vertical-space 0 $tpr-header-vertical-space $govuk-gutter;
    }
}

.tpr-header__logo-img--print {
    display: none;
}
@media print {
    .tpr-header__inner {
        display: block;
    }
    .tpr-header__logo {
        float: left;
        margin-top: govuk-px-to-rem(5) * -1;
        margin-right: $govuk-gutter;
        padding-bottom: govuk-px-to-rem(10);
    }
    .tpr-header__logo-img--screen {
        display: none;
    }
    .tpr-header__logo-img--print {
        display: block;
    }
    .tpr-header__label {
        display: block;
    }
    .tpr-header__content > a:link,
    .tpr-header__content > a:visited {
        color: $govuk-link-colour;
    }
    .tpr-context {
        clear: both;
    }
    .tpr-context .govuk-body {
        color: $govuk-text-colour;
    }
    .tpr-context__context-1 {
        border-bottom: govuk-px-to-rem(1) solid $tpr-colour-blue-marguerite;
    }
}