@import '_tpr-variables.scss';
@import 'govuk/base';

// Change GOV.UK character count styles where the TPR brand diverges from the GOV.UK Design System.
.govuk-character-count__message {
    text-align: right;
}