@import '_tpr-variables.scss';
@import 'govuk/base';

// A common TPR pattern is to have a form element (.govuk-form-group) followed by a 
// .govuk-details with help for completing that form element. GOV.UK styling removes 
//  the space after the last form element, which removes the space between the last of 
//  these pairs. Add that space back.
.govuk-form-group .govuk-form-group:last-of-type + .govuk-details {
    @include govuk-responsive-margin(6, "top");
}

// Display in inverse colours on a dark background, otherwise use the default colours.
.govuk-details {
    color: var(--tpr-text-colour--inverse, govuk-functional-colour(text));
}

.govuk-details__summary {
    color: var(--tpr-link-colour--inverse, govuk-functional-colour(link));
}

.govuk-details__summary:hover:not(:focus) {
    color: var(--tpr-link-colour--inverse, govuk-functional-colour(link-hover));
}