@import '_tpr-variables.scss';
@import 'govuk/base';

// Change GOV.UK task list styles where the TPR brand diverges from the GOV.UK Design System.
.govuk-task-list__item--with-link:hover {
    background-color: $tpr-colour-whisper;
}

.govuk-task-list__name-and-hint {
    color: $tpr-colour-eclipse;
    background-color: transparent;
    vertical-align: middle;
}

.govuk-task-list__link {
    text-decoration: none;
}

.govuk-task-list__link:hover {
    text-decoration: underline;
}

.govuk-task-list__link:visited {
    color: govuk-functional-colour(link);
}

.govuk-task-list__status > .govuk-tag {
    font-weight: bold;
    padding: govuk-spacing(1) govuk-spacing(4);
    min-width: 8.25rem;
    text-align: center;
}

.govuk-task-list__status--not-applicable > .govuk-tag {
    color: $tpr-colour-zambezi;
    background: transparent;
}

.govuk-task-list__status--cannot-start-yet > .govuk-tag {
    color: $tpr-colour-eclipse;
    background-color: $tpr-colour-whisper;
}

.govuk-task-list__status--not-started > .govuk-tag {
    color: $tpr-colour-white;
    background-color: $tpr-colour-violet-tint-80;
}

.govuk-task-list__status--incomplete > .govuk-tag {
    color: $tpr-colour-violet-shade-20;
    background-color: $tpr-colour-violet-tint-25;
}

.govuk-task-list__status--completed > .govuk-tag {
    color: $tpr-colour-eclipse;
    background-color: transparent;
}

.govuk-task-list__status--error > .govuk-tag {
    color: $tpr-colour-fire-brick-shade-35;
    background-color: $tpr-colour-fire-brick-tint-25;
}