@import '_tpr-variables.scss';
@import 'govuk/base';

// Change GOV.UK styles where the TPR brand diverges from the GOV.UK Design System.
.govuk-tag {
    color: $tpr-colour-royal-blue-shade-67;
    background-color: $tpr-colour-royal-blue-tint-25;
}
.govuk-tag--green {
    color: #083d29;
    background-color: #cfe4dc;
}

.govuk-tag--grey {
    color: #0b0c0c;
    background-color: #cecece;
}

.govuk-tag--teal {
    color: #0b4144;
    background-color: #d0e6e7;
}

.govuk-tag--purple {
    color: #2a1950;
    background-color: #ddd6ec;
}

.govuk-tag--magenta {
    color: #651b3e;
    background-color: #f4d7e5;
}

.govuk-tag--red {
    color: #651b1b;
    background-color: #f4d7d7;
}

.govuk-tag--orange {
    color: #7a3c1c;
    background-color: #fde4d7;
}

.govuk-tag--yellow {
    color: #7a3c1c;
    background-color: #ffee80;
}