@import '_tpr-variables.scss';
@import 'govuk/base';


.tpr-header-search {
    width: 30%;
    padding: 0.5em 0.5em;
    text-align: center;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
}

.tpr-header-search__field {
    display: flex;
    align-items: center;
}

.tpr-header-search-autocomplete {
    width: 313.948px
}

.tpr-header-search__input {
    width: 64%;
    margin-left: -20px
}

.tpr-header-search__button {
    background-color: $tpr-colour-white;
    border: none;
    height: 2.34rem;
    width: 2.34rem;
    cursor: pointer;
    margin-left: -65px;
    z-index: 100;
}

.tpr-header-search__button-image {
    border: none;
    height: 2em;
    width: 2em;
    display: inline-block;
    cursor: pointer;
    vertical-align: bottom;
}

.tpr-header-search__button-icon {
    fill: $tpr-colour-steel;
}

@media (prefers-color-scheme: dark ) and (forced-colors: active) {
    .tpr-header-search__button-icon {
        fill: $tpr-colour-white;
    }
}

.tpr-header-search__mobile {
    display: inline;
    flex-direction: row;
}

.tpr-mobile-menu__header-search-container {
    background: $tpr-colour-whisper;
    align-content: center;
    padding-left: 1rem;
}

.tpr-header-search__mobile .tpr-header-search__field {
    width: 100%
}

.tpr-header-search__mobile .tpr-header-search-autocomplete {
    width: 90%;
}

.tpr-header-search__mobile .autocomplete__wrapper {
    position: relative;
    width: 99%;
}

@media(max-width: 960px) {

    .tpr-header-search {
        width: 20%;
        margin-left: 50px;
    }

    .tpr-header-search__field {
        width: 80%;
    }

    .tpr-header-search__button {
        margin-left: -52px;
    }

    .tpr-header-search__mobile {
        display: none;
    }
}

@media(max-width: 765px) {
    .tpr-header-search {
        display: none;
    }

    .tpr-header-search__mobile {
        display: inline;
    }

    .tpr-mobile-menu__nav .tpr-mobile-menu__nav--active .tpr-header-search .tpr-header-search__mobile .tpr-header-search-autocomplete {
        width: 100%;
    }

    .tpr-header-search__button {
        margin-left: 0px;
    }

    .tpr-header-search__input {
        width: 99%;
        margin-left: 0px;
    }

    .tpr-header-menu__nav.tpr-header-menu__nav--active .tpr-header-search__mobile {
        display: none;
    }
}

@media(min-width: 960px) {
    .tpr-mobile-menu__header-search-container {
        display: none;
    }
}
