
.govuk-file-upload {
    font-size: 1rem;
    outline: govuk-px-to-rem(3) solid transparent;
    border-color: transparent;
    box-shadow: inset 0 0 0 govuk-px-to-rem(2) transparent;
    padding: govuk-px-to-rem(3) govuk-px-to-rem(3) govuk-px-to-rem(1) govuk-px-to-rem(3);
    font-family: $govuk-font-family;
    color: $govuk-text-colour
}

.govuk-file-upload::file-selector-button {
    padding-top: (govuk-spacing(2) - $govuk-border-width-form-element);
    padding-bottom: (govuk-spacing(2) - $govuk-border-width-form-element);
    padding-left: $tpr-button-padding;
    padding-right: $tpr-button-padding *2;
    font-family: $govuk-font-family;
    border-color :$tpr-colour-royal-blue;
    margin-right: 1rem;
}

.govuk-file-upload:focus-within::file-selector-button,
.govuk-file-upload:focus::file-selector-button {
    background-color: $tpr-colour-tangerine-yellow;
    color: $tpr-colour-black;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
}

.govuk-file-upload:focus-within,
.govuk-file-upload:focus {
    outline: $govuk-focus-width solid $govuk-focus-colour;
    padding: govuk-px-to-rem(3) govuk-px-to-rem(3) govuk-px-to-rem(1) govuk-px-to-rem(3);
    box-shadow: inset 0 0 0 govuk-px-to-rem(2) $govuk-focus-text-colour;
}

.govuk-file-upload::file-selector-button:hover {
    color: $govuk-button-text-colour;
    background-color: $tpr-colour-royal-blue;
}
