@import '_tpr-variables.scss';
@import 'govuk/base';


.search {
    width: 100%;
    padding: 0.5em 0.5em;
    text-align: center;
    display: flex;
    flex: 0 0, auto;
    flex-direction: row;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.searchButton {
    background-color: #fff;
    color: #fff;
    border: none;
    height: 2.94rem;
    width: 2.94rem;
    display: inline;
    cursor: pointer;
    vertical-align: middle;
}

.searchbox {
    padding-left: 1.2rem;
    padding-right: 2rem;
    height: 3.1em;
    border: none;
    font-size: 0.9em;
    margin: 0.3em;
    vertical-align: middle;
}

.searchbox[type=text]:focus {
    outline-width: 0.19em;
    outline-color: orange;
    outline-style: solid;
}

svg {
    border: none;
    height: 3.87em;
    width: 2em;
    display: inline-block;
    cursor: pointer;
    vertical-align: bottom;
}

@media(max-width: 960px){
    .search{
        display: none;
    }
}
    


