.tpr-video-wrapper-no-cookies__video-container {
    position: relative;
    padding-bottom: 56.25%!important; /* 16:9 , important is required to make it work in TPR Box */
    height: 0;
    overflow: hidden;
}

.tpr-video-wrapper-no-cookies__video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tpr-video-wrapper-no-cookies__transcript-link{
    @include govuk-link-common;
    @include govuk-link-style-text;
    line-height: 2em;
    display: inline-block;
    width:100%;
    text-align:center;
}