@import 'govuk/base';

/* .govuk-file-upload is the no-JS version, .govuk-file-upload-button is the JS version */
$button-shadow-size: $govuk-border-width-form-element;

.govuk-file-upload {
    @include govuk-font-size($size: 19, $line-height: 1);
    outline: $govuk-focus-width solid transparent;
    border-color: transparent;
    box-shadow: inset 0 0 0 govuk-px-to-rem(2) transparent;
    padding: govuk-px-to-rem(3) govuk-px-to-rem(3) govuk-px-to-rem(1) govuk-px-to-rem(3);
    font-family: $govuk-font-family;
    color: $govuk-text-colour
}

.govuk-file-upload::file-selector-button {
    padding-top: (govuk-spacing(2) - $govuk-border-width-form-element);
    padding-bottom: (govuk-spacing(2) - $govuk-border-width-form-element - ($button-shadow-size / 2));
    padding-left: $tpr-button-padding;
    padding-right: $tpr-button-padding;
    font-family: $govuk-font-family;
    border-color: $tpr-colour-royal-blue;
    margin-right: govuk-px-to-rem(16);
}

.govuk-file-upload:focus-within::file-selector-button,
.govuk-file-upload:focus::file-selector-button,
.govuk-file-upload-button:focus .govuk-file-upload-button__pseudo-button {
    background-color: $tpr-colour-tangerine-yellow;
    color: $tpr-colour-black;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
}

.govuk-file-upload:focus-within,
.govuk-file-upload:focus {
    outline: $govuk-focus-width solid $govuk-focus-colour;
    box-shadow: inset 0 0 0 govuk-px-to-rem(2) $govuk-focus-text-colour;
}

.govuk-file-upload::file-selector-button:hover,
.govuk-file-upload-button:hover .govuk-file-upload-button__pseudo-button {
    color: $govuk-button-text-colour;
    background-color: $tpr-colour-royal-blue;
}