@{
    ViewData["Title"] = "Home";
}

<span class="govuk-caption-xl">GOV.UK Design System</span>
<h1 class="govuk-heading-l">@ViewData["Title"]</h1>

<p class="govuk-body">This text is using <a href="https://design-system.service.gov.uk/styles/typography/">GOV.UK Design System typography</a>.</p>
<p class="govuk-body">This example application includes the following components:</p>
<ul class="govuk-list govuk-list--bullet">
    <li><a href="/radios">radios</a></li>
    <li><a href="/textinput">text input</a></li>
</ul>

<govuk-inset-text>Use the inset text component to differentiate a block of text from the content that surrounds it.</govuk-inset-text>

<govuk-details>
    <govuk-details-summary>
        When to use the details component
    </govuk-details-summary>
    <govuk-details-text>
        Use the details component to make a page easier to scan when it contains information that only some users will need.
    </govuk-details-text>
</govuk-details>