@{
    ViewData["Title"] = "Home";
}

<span class="govuk-caption-xl">GOV.UK Design System</span>
<h1 class="govuk-heading-l">@ViewData["Title"]</h1>

<govuk-warning-text icon-fallback-text="Warning">
    Use the <a class="govuk-link" href="https://design-system.service.gov.uk/components/warning-text/">warning text</a> component when you need to warn users about something important, such as legal consequences of an action, or lack of action, that they might take.
</govuk-warning-text>

<p class="govuk-body">This text is using <a class="govuk-link" href="https://design-system.service.gov.uk/styles/typography/">GOV.UK Design System typography</a>.</p>
<p class="govuk-body">This example application includes the following components:</p>
<ul class="govuk-list govuk-list--bullet">
    <li><a class="govuk-link" href="/notificationbanner">notification banner</a></li>
    <li><a class="govuk-link" href="/panel">panel</a></li>
    <li><a class="govuk-link" href="/radios">radios</a></li>
    <li><a class="govuk-link" href="/select">select</a></li>
    <li><a class="govuk-link" href="/textinput">text input</a></li>
</ul>


<govuk-inset-text>Use the <a class="govuk-link" href="https://design-system.service.gov.uk/components/inset-text/">inset text</a> component to differentiate a block of text from the content that surrounds it.</govuk-inset-text>

<govuk-details>
    <govuk-details-summary>
        When to use the details component
    </govuk-details-summary>
    <govuk-details-text>
        Use the <a class="govuk-link" href="https://design-system.service.gov.uk/components/details/">details component</a> to make a page easier to scan when it contains information that only some users will need.
    </govuk-details-text>
</govuk-details>