@{
    ViewData["Title"] = "Home";
}

<span class="govuk-caption-xl">GOV.UK Design System</span>
<h1 class="govuk-heading-l">@ViewData["Title"]</h1>

<p class="govuk-body">This text and this application is using <a class="govuk-link" href="https://design-system.service.gov.uk/styles/typography/">GOV.UK Design System typography</a> overlaid with customisations from the TPR brand.</p>
<p class="govuk-body">This example application includes the following components:</p>
<ul class="govuk-list govuk-list--bullet">
    <li><a class="govuk-link" href="/button">button</a></li>
    <li><a class="govuk-link" href="/checkboxes">checkboxes</a></li>
    <li><a class="govuk-link" href="/customvalidation">custom validation</a></li>
    <li><a class="govuk-link" href="/dateinput">date input</a></li>
    <li><a class="govuk-link" href="/details">details</a></li>
    <li><a class="govuk-link" href="/fileupload">file upload</a></li>
    <li><a class="govuk-link" href="/insettext">inset text</a></li>
    <li><a class="govuk-link" href="/notificationbanner">notification banner</a></li>
    <li><a class="govuk-link" href="/panel">panel</a></li>
    <li><a class="govuk-link" href="/radios">radios</a></li>
    <li><a class="govuk-link" href="/select">select</a></li>
    <li><a class="govuk-link" href="/textarea">textarea</a></li>
    <li><a class="govuk-link" href="/textinput">text input</a> (demonstrates localisation)</li>
    <li><a class="govuk-link" href="/warningtext">warning text</a></li>
</ul>
<p class="govuk-body">This page also demonstrates the back to top component which is <a href="https://github.com/alphagov/govuk-design-system-backlog/issues/5">not yet part of the GOV.UK Design System</a>.</p>
<govuk-back-to-top-link href="#main">Back to top</govuk-back-to-top-link>