/* Import the TPR stylesheet (which includes govuk-frontend) so that the rich text editor can look like the GOV.UK Design System with TPR branding.*/
@import "../../ThePensionsRegulator.Frontend/Styles/tpr.scss";
@import "../../GovUk.Frontend.Umbraco/Styles/_backoffice-block-views.scss";
@import "../../GovUk.Frontend.Umbraco/Styles/_backoffice-rich-text-formats.scss";

/* The TPR sticky footer applies a 100% height to these, but we do not want that to apply in the rich text editor 
   as it causes it to grow beyond its configured size.
*/
html, body { height: auto; }

/**umb_name:Add Link*/
p.tpr-add-link {
    position: static;
}

/* Backoffice previews for TPR components */
.tpr-box {
    margin: 5px;
}

div.tpr-related-links {
    border-top: solid 4px $tpr-colour-royal-blue;
    padding-top: 20px;
    margin-bottom: 30px;
}

.tpr-related-links ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.tpr-related-links li h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.tpr-related-links li {
    padding-bottom: 1rem;
}

.tpr-documents {
    margin-bottom: 2rem;
}

.tpr-document {
    margin-bottom: 1rem;
}

.tpr-document dd {
    margin-inline-start: 0;
}

.tpr-document .fileicon {
    display: inline-block;
    color: #fff;
    margin-right: 5px;
    padding: 1px 5px;
    letter-spacing: 1px;
    font-size: 0.6rem;
    text-decoration: none;
}

.tpr-document .fileicon.pdf {
    background-color: #a91717;
}

.tpr-document .fileicon.doc {
    background-color: #006ebc;
}