/* Import the TPR stylesheet (which includes govuk-frontend) so that the rich text editor can look like the GOV.UK Design System with TPR branding.*/
@import "../../ThePensionsRegulator.Frontend/Styles/tpr.scss";
@import "../../GovUk.Frontend.Umbraco/Styles/_backoffice-block-views.scss";
@import "../../GovUk.Frontend.Umbraco/Styles/_backoffice-rich-text-formats.scss";

/* The TPR sticky footer applies a 100% height to these, but we do not want that to apply in the rich text editor 
   as it causes it to grow beyond its configured size.
*/
html, body { height: auto; }

/**umb_name:Add Link*/
p.tpr-add-link {
    position: static;
}

/* Backoffice previews for TPR components */
.tpr-box {
    margin: 5px;
}


.tpr-youtube-video-previewbox{
    width: 100%;
    background: white;
    border-radius: 10px;
    border: $govuk-border-width solid $tpr-colour-eclipse;
    display: flex;
    align-content: center;
    box-sizing: border-box;
}

.tpr-youtube-video-previewbox-play-button{
    margin:0 20%;
}

table {
    @extend .govuk-table;
}

caption {
    @extend .govuk-table__caption;
}

th {
    @extend .govuk-table__header;
}

td, td:last-child {
    @extend .govuk-table__cell;
}

.backoffice-block-view > .tpr-related-links {
    margin-bottom: 20px;
}