<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0dcb5f42-8b37-4c9b-b234-12df3ccb2344" Alias="addressLookup" Level="1">
  <Info>
    <Name>Address lookup</Name>
    <Icon>icon-circus color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>AddressLookup</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0ec44db1-2de9-4b70-9de4-6f2c3f955df8">AddressLookup</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>5d940fe1-b3dc-47ae-a86d-4e5a737dab6a</Key>
      <Name>Blocks</Name>
      <Alias>blocks</Alias>
      <Definition>8ac8a4e8-50f0-41c0-9814-0dc98aa6e7c4</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>01937be8-502a-4953-88f5-312067b961c7</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>