<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="278f5ac7-a326-4df6-8588-c80024cb10d3" Alias="blockGrid" Level="1">
  <Info>
    <Name>Block grid</Name>
    <Icon>icon-item-arrangement color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>BlockGrid</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="94cfab0e-4760-43e3-b75f-a857236cd79d">BlockGrid</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>11252046-889f-456f-925a-2c98a3906c88</Key>
      <Name>Blocks</Name>
      <Alias>blocks</Alias>
      <Definition>55bb40bf-54f9-4964-829f-cb0d2928cb08</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d576ebba-2068-4e81-b5e0-eda8c4a8e0f3</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>