<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="dc242e75-50cc-4c15-9b3f-2e256ef48129" Alias="blockList" Level="1">
  <Info>
    <Name>Block list</Name>
    <Icon>icon-list color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>BlockList</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="792d312f-355c-475f-a9de-e947c60891a0">BlockList</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>937769f7-4511-43ea-8466-48963c9e415e</Key>
      <Name>Blocks</Name>
      <Alias>blocks</Alias>
      <Definition>a6cd5d54-75a9-407e-a688-842b9f397a44</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1a1b23f8-727d-4d4b-b1da-17c4b8d0e2a6</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>