<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c6f429d4-bd66-4680-ae46-779650447346" Alias="dateErrorMessages" Level="2">
  <Info>
    <Name>Date input error message settings</Name>
    <Icon>icon-defrag</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Configures the error messages generated when an invalid date is entered.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>GOV.UK</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>75dd465d-49ba-423c-81d1-937d39eba818</Key>
      <Name>Display name</Name>
      <Alias>displayName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overrides the default field name used in error messages. (To configure date-specific error messages, set "Date day", "Date month", "Date year", "Date must include", "Date must be a real date" and "Date and" dictionary values.)]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="dateSpecificErrorMessages">Date-specific error messages</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f3d363f7-96dc-4f91-9893-9d5117b6372b</Key>
      <Caption>Date-specific error messages</Caption>
      <Alias>dateSpecificErrorMessages</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>