<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1c314f1b-d2a2-47a6-9e57-233d5d29b4e3" Alias="fieldset" Level="1">
  <Info>
    <Name>Fieldset</Name>
    <Icon>icon-equalizer color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Fieldset</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="268b06b3-98a6-489d-b809-717c5dfd17b4">Fieldset</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>acf89fe7-1793-48f4-931c-65ab54cdf66c</Key>
      <Name>Blocks</Name>
      <Alias>blocks</Alias>
      <Definition>a806a5c9-78ae-402b-9d65-180672baab96</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>86ffe69b-4770-4d28-85c2-0793666a4ff6</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>