<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bb140093-52f9-4ec4-9240-ab246b574ebd" Alias="govukButtonGroupSettings" Level="2">
  <Info>
    <Name>Button group settings</Name>
    <Icon>icon-hand-pointer-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Settings for a button group, used when two or more buttons are placed together.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>GOV.UK</Folder>
    <Compositions>
      <Composition Key="d508995b-a958-4273-8ab3-50735220a1b2">govukGrid</Composition>
      <Composition Key="d7016563-0b6f-4c3a-b75d-b0bbe66419fd">govukGridColumnClasses</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>