<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0e33e52e-00d3-4546-af2b-076321ead08a" Alias="govukGridRow" Level="2">
  <Info>
    <Name>Grid row</Name>
    <Icon>icon-list color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A grid row, which allows the page to be divided into columns.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>GOV.UK</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>7e108748-3e85-4b8b-89a7-5840451cf530</Key>
      <Name>Blocks</Name>
      <Alias>blocks</Alias>
      <Definition>5ba6fc5a-f91c-4f05-969c-56b3c0577eb3</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>8c543721-9acc-4ca3-8a72-b7a11c560589</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</ContentType>