<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a6689021-cc6e-4d94-8c37-235906ebeff1" Alias="govukDetailsSettings" Level="2">
  <Info>
    <Name>Details settings</Name>
    <Icon>icon-console color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Settings for the details component, which makes a page easier to scan when it contains information that only some users will need.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>GOV.UK</Folder>
    <Compositions>
      <Composition Key="d508995b-a958-4273-8ab3-50735220a1b2">govukGrid</Composition>
      <Composition Key="d7016563-0b6f-4c3a-b75d-b0bbe66419fd">govukGridColumnClasses</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>