<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="29d9a3c9-4047-484a-8816-e233e161fcb0" Alias="govukInsetTextSettings" Level="2">
  <Info>
    <Name>Inset text settings</Name>
    <Icon>icon-poll color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Settings for the the inset text component, which differentiates a block of text from the content that surrounds it.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>GOV.UK</Folder>
    <Compositions>
      <Composition Key="bf69e8d6-97a6-4b50-bec7-c5993e120339">govukCssClasses</Composition>
      <Composition Key="d508995b-a958-4273-8ab3-50735220a1b2">govukGrid</Composition>
      <Composition Key="d7016563-0b6f-4c3a-b75d-b0bbe66419fd">govukGridColumnClasses</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>