<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3fa201d9-0d89-458f-b6dc-f5fb6fc8e10a" Alias="govukGridTwoColumns" Level="2">
  <Info>
    <Name>Two column layout</Name>
    <Icon>icon-grid color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A two column layout using the GOV.UK grid.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>GOV.UK</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>