<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="405470f7-9d54-4891-91c9-2efa8dec0833" Alias="govukTaskList" Level="2">
  <Info>
    <Name>Task list</Name>
    <Icon>icon-layers color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The task list component displays all the tasks that need to be completed within a service. It also shows which tasks are done, and which are left to do.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>GOV.UK</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>8942436e-f0cc-40c7-b50b-2ed8c138fbdd</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>087d7045-6e55-46da-9274-c0a946d4c671</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Sections within the task list]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="sections">Sections</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage>You must supply at least one section</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>90f011ee-9fc4-420d-aadd-34bcb90ebcfd</Key>
      <Caption>Sections</Caption>
      <Alias>sections</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>