<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="40da6b15-489b-4249-854a-56954e5917e1" Alias="govukRadiosSettings" Level="2">
	<Info>
		<Name>Radios settings</Name>
		<Icon>icon-target color-black</Icon>
		<Thumbnail>folder.png</Thumbnail>
		<Description>Settings for the radios component. Use the radios component when users can only select one option from a list.</Description>
		<AllowAtRoot>False</AllowAtRoot>
		<IsListView>False</IsListView>
		<Variations>Nothing</Variations>
		<IsElement>true</IsElement>
		<HistoryCleanup>
			<PreventCleanup>False</PreventCleanup>
			<KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
			<KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
		</HistoryCleanup>
		<Folder>GOV.UK</Folder>
		<Compositions>
			<Composition Key="bf69e8d6-97a6-4b50-bec7-c5993e120339">govukCssClasses</Composition>
			<Composition Key="d508995b-a958-4273-8ab3-50735220a1b2">govukGrid</Composition>
			<Composition Key="d7016563-0b6f-4c3a-b75d-b0bbe66419fd">govukGridColumnClasses</Composition>
			<Composition Key="8ba759bf-131b-488e-b7e6-98ff91bb076b">govukLegendIsPageHeading</Composition>
			<Composition Key="23e1a03d-dc42-4318-9e17-d458dde2dba6">govukModelProperty</Composition>
			<Composition Key="e4622d4f-2726-453d-8c8e-c2c920f9aa78">govukValidationCustom</Composition>
			<Composition Key="f2365c7e-08c3-4ef9-abbc-e337e34de272">govukValidationRequired</Composition>
		</Compositions>
		<DefaultTemplate></DefaultTemplate>
		<AllowedTemplates />
	</Info>
	<Structure />
	<GenericProperties>
		<GenericProperty>
			<Key>0e404aa1-3ad8-4d98-b85a-34997eaa6f01</Key>
			<Name>Layout</Name>
			<Alias>layout</Alias>
			<Definition>f7a60846-a843-4499-ae52-c9a5a05f83cc</Definition>
			<Type>Umbraco.RadioButtonList</Type>
			<Mandatory>false</Mandatory>
			<Validation></Validation>
			<Description><![CDATA[Only use horizontal radios when the question only has two options and both options are short.]]></Description>
			<SortOrder>4</SortOrder>
			<Tab Alias="settings">Settings</Tab>
			<Variations>Nothing</Variations>
			<MandatoryMessage></MandatoryMessage>
			<ValidationRegExpMessage></ValidationRegExpMessage>
			<LabelOnTop>false</LabelOnTop>
		</GenericProperty>
	</GenericProperties>
	<Tabs>
		<Tab>
			<Key>7435cd6d-bd78-4fa2-b15c-cdd6d3e29178</Key>
			<Caption>Settings</Caption>
			<Alias>settings</Alias>
			<Type>Group</Type>
			<SortOrder>0</SortOrder>
		</Tab>
	</Tabs>
</ContentType>