<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fc3c6a06-d826-406f-8568-94d37d1d1822" Alias="govukGridOneQuarterThreeQuarters" Level="2">
  <Info>
    <Name>One quarter / Three quarters</Name>
    <Icon>icon-grid color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A two column layout using the GOV.UK grid.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>GOV.UK</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>