<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a248d9ad-85e5-446a-9c06-c6a72cd3f34f" Alias="govukGridColumnSettings" Level="2">
  <Info>
    <Name>Grid column settings</Name>
    <Icon>icon-columns color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Settings for a grid row, which allows the page to be divided into columns.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>GOV.UK</Folder>
    <Compositions>
      <Composition Key="d7016563-0b6f-4c3a-b75d-b0bbe66419fd">govukGridColumnClasses</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>