<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5b5269ce-b58e-449e-831b-fa8f212800c9" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="fa74db61-a431-4e9b-9b53-610ea7c937cc">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="401370c2-e588-4615-bddc-c090b3cd81f7" SortOrder="0">panel</ContentType>
    <ContentType Key="1c283622-d40d-4a8e-aef1-51d1436da35b" SortOrder="1">textInput</ContentType>
    <ContentType Key="3625674c-231b-4202-91c5-7e6335d26c1c" SortOrder="2">radios</ContentType>
    <ContentType Key="438fbc72-c319-453e-a246-aeec0c42a8b2" SortOrder="3">select</ContentType>
    <ContentType Key="7c3274d4-ae59-42a8-8dc9-c534e5d4110c" SortOrder="4">notificationBanner</ContentType>
    <ContentType Key="9d9a57dd-94e7-42cb-bbf1-8623cdf988a9" SortOrder="5">checkboxes</ContentType>
    <ContentType Key="3f69f529-af1b-4792-b20b-d4824c9e9905" SortOrder="6">textarea</ContentType>
    <ContentType Key="d7029763-d2e7-4506-851e-c6385a34f863" SortOrder="7">dateInput</ContentType>
    <ContentType Key="861d7263-35fc-4e13-8ae4-859d18abdc05" SortOrder="8">button</ContentType>
    <ContentType Key="1cb2fe94-39a0-4b99-87e3-ec304a3dfb9f" SortOrder="9">details</ContentType>
    <ContentType Key="d5c79ce3-19c2-49ce-8b5f-933a1b95efed" SortOrder="10">insetText</ContentType>
    <ContentType Key="059be23a-2049-4a29-88cf-e9bb08f85e3d" SortOrder="11">warningText</ContentType>
    <ContentType Key="254a8a29-c3ba-456c-b553-980b46462f04" SortOrder="12">grid</ContentType>
    <ContentType Key="dc242e75-50cc-4c15-9b3f-2e256ef48129" SortOrder="13">blockList</ContentType>
    <ContentType Key="480b3a8e-9a5b-438b-95cc-f23185ae37e1" SortOrder="14">dividerLines</ContentType>
    <ContentType Key="334d64a5-d917-4e80-9f4e-b29e9f65fed5" SortOrder="15">errorMessage</ContentType>
    <ContentType Key="1c314f1b-d2a2-47a6-9e57-233d5d29b4e3" SortOrder="16">fieldset</ContentType>
    <ContentType Key="e8d070c6-1a01-4e65-812f-bfaba250207b" SortOrder="17">summaryList</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>675a64d1-7c8b-424d-873e-19cdf9d24bcc</Key>
      <Name>Blocks</Name>
      <Alias>blocks</Alias>
      <Definition>a6cd5d54-75a9-407e-a688-842b9f397a44</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>234fcf43-8079-46ee-a8a5-f7792e6ac5a5</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>