<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7c3274d4-ae59-42a8-8dc9-c534e5d4110c" Alias="notificationBanner" Level="1">
  <Info>
    <Name>Notification banner</Name>
    <Icon>icon-application-window-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>NotificationBanner</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="209da924-24d9-429e-abbd-c4fc769fef79">NotificationBanner</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ce78ee14-2208-4937-8b0e-a4ebbedd5be0</Key>
      <Name>Blocks</Name>
      <Alias>blocks</Alias>
      <Definition>a6cd5d54-75a9-407e-a688-842b9f397a44</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d5b90bf1-a823-46d3-a1ba-e57fe14cb423</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>