<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d0dafc79-6207-45bb-be01-c6359ce3a4f7" Alias="pagination" Level="1">
  <Info>
    <Name>Pagination</Name>
    <Icon>icon-traffic color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Pagination</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b101a16f-48c6-4956-931a-7c1c5c90e825">Pagination</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>445cb8e1-67fc-4417-ad4a-8f739b0d6317</Key>
      <Name>Blocks</Name>
      <Alias>blocks</Alias>
      <Definition>a806a5c9-78ae-402b-9d65-180672baab96</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7379befe-6651-459b-810b-da05d7f1d6c5</Key>
      <Name>Grid</Name>
      <Alias>grid</Alias>
      <Definition>8ac8a4e8-50f0-41c0-9814-0dc98aa6e7c4</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c288aa9e-7ec0-4865-a003-9e2778a5d195</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>