<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="16ee44d6-820d-4866-856d-4df6c3de9847" Alias="settings" Level="1">
  <Info>
    <Name>Settings</Name>
    <Icon>icon-settings color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="54bfcf8e-5e4e-466d-a113-3efecddc84ae">govukPhaseBanner</Composition>
      <Composition Key="c61d5a66-9ddb-430b-9837-2b9b720c5bbf">govukSkipLink</Composition>
      <Composition Key="1606a570-a75d-4e09-a7de-e99a49d82c69">tprContextBar1</Composition>
      <Composition Key="9086be22-386e-44dd-acd5-982cb9683759">tprContextBar2</Composition>
      <Composition Key="c335e468-7a39-4368-af34-94306e56c39d">tprContextBar3</Composition>
      <Composition Key="221c6fbc-293a-41f6-8a82-3af681b1d4c3">tprFooter</Composition>
      <Composition Key="f4f2a0ae-0338-4669-948b-973a400fbcb4">tprHeader</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>