<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="16ee44d6-820d-4866-856d-4df6c3de9847" Alias="settings" Level="1">
  <Info>
    <Name>Settings</Name>
    <Icon>icon-settings color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="54bfcf8e-5e4e-466d-a113-3efecddc84ae">govukPhaseBanner</Composition>
      <Composition Key="c61d5a66-9ddb-430b-9837-2b9b720c5bbf">govukSkipLink</Composition>
      <Composition Key="c5a1e54a-07a4-4c7a-8f00-2b1e18199dd6">tprBackToTop</Composition>
      <Composition Key="1606a570-a75d-4e09-a7de-e99a49d82c69">tprContextBar1</Composition>
      <Composition Key="9086be22-386e-44dd-acd5-982cb9683759">tprContextBar2</Composition>
      <Composition Key="c335e468-7a39-4368-af34-94306e56c39d">tprContextBar3</Composition>
      <Composition Key="221c6fbc-293a-41f6-8a82-3af681b1d4c3">tprFooter</Composition>
      <Composition Key="f4f2a0ae-0338-4669-948b-973a400fbcb4">tprHeader</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>de99d684-8739-43d4-a0a8-1aeb39761486</Key>
      <Name>No JS Nav Page</Name>
      <Alias>noJSNavPage</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="tprHeaderMenu">TPR header menu</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cea286f6-ce77-40ee-90bb-95a6a3bd8c42</Key>
      <Name>Show header menu</Name>
      <Alias>showHeaderMenu</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="tprHeaderMenu">TPR header menu</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>093d52d7-b535-4b1b-97a8-84c899fb2408</Key>
      <Name>TPR header menu</Name>
      <Alias>tprHeaderMenu</Alias>
      <Definition>7e6e704d-a3f7-4b91-a394-869d9bec1080</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="tprHeaderMenu">TPR header menu</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3b2ace9e-edf0-42c9-b62f-8d87bea998bc</Key>
      <Name>Header Menu Aria Label</Name>
      <Alias>tprHeaderMenuAriaLabel</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="tprHeaderMenu">TPR header menu</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b84aa149-2f37-415b-a6d5-5cec81ac766b</Key>
      <Caption>TPR header menu</Caption>
      <Alias>tprHeaderMenu</Alias>
      <Type>Group</Type>
      <SortOrder>21</SortOrder>
    </Tab>
  </Tabs>
</ContentType>