<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f1179f09-d236-4d8c-9c90-49d4750f4b70" Alias="summaryCard" Level="1">
  <Info>
    <Name>Summary card</Name>
    <Icon>icon-umb-members color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>SummaryCard</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3185ec6b-464e-4df1-b590-6ffd8d2ef1af">SummaryCard</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>801b6c8e-9fa7-4b5e-b17d-6fe8f100c7ac</Key>
      <Name>Blocks</Name>
      <Alias>blocks</Alias>
      <Definition>a6cd5d54-75a9-407e-a688-842b9f397a44</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>bc221b5e-dd92-4b79-9512-b21de43c4ca7</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>