<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e8d070c6-1a01-4e65-812f-bfaba250207b" Alias="summaryList" Level="1">
  <Info>
    <Name>Summary list</Name>
    <Icon>icon-ordered-list color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>SummaryList</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d5adbece-6b05-4538-b654-81a743cec9f3">SummaryList</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>aa655ebd-c0d9-4459-9385-a204476c4802</Key>
      <Name>Blocks</Name>
      <Alias>blocks</Alias>
      <Definition>a6cd5d54-75a9-407e-a688-842b9f397a44</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>6e8d3079-6d53-4922-a5e1-186d970a73ce</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>