<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f80f2e52-4a45-4dd8-8e73-824015296fd5" Alias="tprAddressLookupSettings" Level="2">
  <Info>
    <Name>Address lookup settings</Name>
    <Icon>icon-circus color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Settings for a TPR component to lookup an address. If JavaScript is unavailable, text inputs are shown for mannual entry.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>TPR</Folder>
    <Compositions>
      <Composition Key="bf69e8d6-97a6-4b50-bec7-c5993e120339">govukCssClasses</Composition>
      <Composition Key="d508995b-a958-4273-8ab3-50735220a1b2">govukGrid</Composition>
      <Composition Key="d7016563-0b6f-4c3a-b75d-b0bbe66419fd">govukGridColumnClasses</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>460978ee-2010-49e9-8e8d-a1e721cb32b4</Key>
      <Name>Address line 1 error message maximum length</Name>
      <Alias>addressLine1ErrorMessageMaxLength</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Sets the message displayed if address line 1 is set by the code to require text of a maximum length.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="addressLine1Settings">Address line 1 settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>56b1da56-7cf8-435b-aeec-f35a9c348ef1</Key>
      <Name>Address line 1 error message required</Name>
      <Alias>addressLine1ErrorMessageRequired</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Sets the message displayed if address line 1 is set by the code to be required.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="addressLine1Settings">Address line 1 settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>aeaedcc5-fd43-43ab-a88f-0b3406353147</Key>
      <Name>Address line 1 model  property</Name>
      <Alias>addressLine1ModelProperty</Alias>
      <Definition>86769a91-761a-4925-99c7-bbcbc4379758</Definition>
      <Type>govukModelProperty</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The name of the property on the view model being bound to address line 1 in the code.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="addressLine1Settings">Address line 1 settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c2356201-0315-4632-8f35-b61aaae55c86</Key>
      <Name>Address line 2 error message maximum length</Name>
      <Alias>addressLine2ErrorMessageMaxLength</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Sets the message displayed if address line is set by the code to require text of a maximum length.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="addressLine2Settings">Address line 2 settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6b3c84e7-658d-4182-aa07-bc79b9dccd12</Key>
      <Name>Address line 2 model</Name>
      <Alias>addressLine2ModelProperty</Alias>
      <Definition>86769a91-761a-4925-99c7-bbcbc4379758</Definition>
      <Type>govukModelProperty</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The name of the property on the view model being bound to address line 2 in the code.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="addressLine2Settings">Address line 2 settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f1b9057e-ad7e-4928-b575-75eec3b290af</Key>
      <Name>Address lookup is primary</Name>
      <Alias>addressLookupIsPrimary</Alias>
      <Definition>189de753-cac2-4307-868b-114832c68a07</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4d185e7e-e6ec-4c29-a876-87b67a888b1a</Key>
      <Name>Country code model property</Name>
      <Alias>countryCodeModelProperty</Alias>
      <Definition>86769a91-761a-4925-99c7-bbcbc4379758</Definition>
      <Type>govukModelProperty</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The name of the property on the view model being bound to the country code in the code.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="countryCodeSettings">Country code settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>04476198-dcb3-48d8-9f6b-fc1c0b6cbe61</Key>
      <Name>Country custom error message</Name>
      <Alias>countryCustomErrorMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Sets the message displayed by a custom validator.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="countrySettings">Country settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d13fdda1-599f-47f6-8cf4-f903acb837fd</Key>
      <Name>Country error message required</Name>
      <Alias>countryErrorMessageRequired</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Sets the message displayed if country is set by the code to be required.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="countrySettings">Country settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9a357fc2-5da7-4316-9708-1caa4f8738eb</Key>
      <Name>Country model property</Name>
      <Alias>countryModelProperty</Alias>
      <Definition>86769a91-761a-4925-99c7-bbcbc4379758</Definition>
      <Type>govukModelProperty</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The name of the property on the view model being bound to country in the code.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="countrySettings">Country settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f9c391fc-e4c5-4a55-a323-034f536a2b69</Key>
      <Name>County error message maximum length</Name>
      <Alias>countyErrorMessageMaxLength</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Sets the message displayed if county is set by the code to be of a maximum length.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="countySettings">County settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8808d43b-8166-418a-98ab-4e3a9b2931d5</Key>
      <Name>County model property</Name>
      <Alias>countyModelProperty</Alias>
      <Definition>86769a91-761a-4925-99c7-bbcbc4379758</Definition>
      <Type>govukModelProperty</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The name of the property on the view model being bound to county in the code.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="countySettings">County settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>be65e101-cefb-44ae-8d18-2715710e3437</Key>
      <Name>Postcode error message maximum length</Name>
      <Alias>postcodeErrorMessageMaxLength</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Sets the message displayed if postcode is set by the code to be of a maximum length.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="postcodeSettings">Postcode settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>512e83e6-2309-4339-b790-29133bf03dd1</Key>
      <Name>Postcode error message required</Name>
      <Alias>postcodeErrorMessageRequired</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Sets the message displayed if postcode is set by the code to be required]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="postcodeSettings">Postcode settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f28464aa-f5c8-4561-9c2a-0bb55e64c698</Key>
      <Name>Postcode model property</Name>
      <Alias>postcodeModelProperty</Alias>
      <Definition>86769a91-761a-4925-99c7-bbcbc4379758</Definition>
      <Type>govukModelProperty</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The name of the property on the view model being bound to postcode in the code.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="postcodeSettings">Postcode settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>672a9c13-a12c-4ab1-b1ba-c9e44087c484</Key>
      <Name>Town or city error message maximum length</Name>
      <Alias>townOrCityErrorMessageMaxLength</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Sets the message displayed if town or city is set by the code to be of a maximum length.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="townOrCitySettings">Town or city settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>63c2c6e9-26fb-4795-a66f-f09f9c4bc5d8</Key>
      <Name>Town or city error message required</Name>
      <Alias>townOrCityErrorMessageRequired</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Sets the message displayed if town or city is set by the code to be required.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="townOrCitySettings">Town or city settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b4153c1f-bac9-4b41-ba5f-d6376d0581d2</Key>
      <Name>Town or city model property</Name>
      <Alias>townOrCityModelProperty</Alias>
      <Definition>86769a91-761a-4925-99c7-bbcbc4379758</Definition>
      <Type>govukModelProperty</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The name of the property on the view model being bound to town or city in the code.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="townOrCitySettings">Town or city settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>879b999a-e1f0-4a2c-a9d8-60d5bc486ea9</Key>
      <Name>UPRN model property</Name>
      <Alias>uPRNModelProperty</Alias>
      <Definition>86769a91-761a-4925-99c7-bbcbc4379758</Definition>
      <Type>govukModelProperty</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The name of the property on the view model being vound to UPRN in the code.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="uprnSettings">UPRN settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0dc9b5ea-dcd2-4c70-afa4-dde0a02056f4</Key>
      <Caption>UPRN settings</Caption>
      <Alias>uprnSettings</Alias>
      <Type>Group</Type>
      <SortOrder>7</SortOrder>
    </Tab>
    <Tab>
      <Key>3094b94c-1d4a-4777-bcd4-7e9a51b132a8</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>3dbef083-f318-43da-b892-7e69116fe7ea</Key>
      <Caption>Town or city settings</Caption>
      <Alias>townOrCitySettings</Alias>
      <Type>Group</Type>
      <SortOrder>5</SortOrder>
    </Tab>
    <Tab>
      <Key>43c5963c-4871-42c3-8561-1e0b27c0c148</Key>
      <Caption>Country settings</Caption>
      <Alias>countrySettings</Alias>
      <Type>Group</Type>
      <SortOrder>7</SortOrder>
    </Tab>
    <Tab>
      <Key>7feccb84-af30-4ee2-b7c8-b8743fe222b0</Key>
      <Caption>Address line 2 settings</Caption>
      <Alias>addressLine2Settings</Alias>
      <Type>Group</Type>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Key>a1a47eb5-34d7-4508-bfb9-6e917e0d5021</Key>
      <Caption>Country code settings</Caption>
      <Alias>countryCodeSettings</Alias>
      <Type>Group</Type>
      <SortOrder>8</SortOrder>
    </Tab>
    <Tab>
      <Key>b65dd5c0-737b-47d1-8b05-ed1979ace4c9</Key>
      <Caption>County settings</Caption>
      <Alias>countySettings</Alias>
      <Type>Group</Type>
      <SortOrder>6</SortOrder>
    </Tab>
    <Tab>
      <Key>c6c712d0-f727-4101-94f0-ce34c1f5a91f</Key>
      <Caption>Address line 1 settings</Caption>
      <Alias>addressLine1Settings</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>cf43343c-d783-44c4-a4ba-ef64fe3fa929</Key>
      <Caption>Postcode settings</Caption>
      <Alias>postcodeSettings</Alias>
      <Type>Group</Type>
      <SortOrder>6</SortOrder>
    </Tab>
  </Tabs>
</ContentType>