<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f80f2e52-4a45-4dd8-8e73-824015296fd5" Alias="tprAddressLookupSettings" Level="2">
  <Info>
    <Name>Address lookup settings</Name>
    <Icon>icon-circus color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Settings for a TPR component to lookup an address. Requires JavaSript.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>TPR</Folder>
    <Compositions>
      <Composition Key="bf69e8d6-97a6-4b50-bec7-c5993e120339">govukCssClasses</Composition>
      <Composition Key="d508995b-a958-4273-8ab3-50735220a1b2">govukGrid</Composition>
      <Composition Key="d7016563-0b6f-4c3a-b75d-b0bbe66419fd">govukGridColumnClasses</Composition>
      <Composition Key="8ba759bf-131b-488e-b7e6-98ff91bb076b">govukLegendIsPageHeading</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>aeaedcc5-fd43-43ab-a88f-0b3406353147</Key>
      <Name>Address line 1 model property</Name>
      <Alias>addressLine1ModelProperty</Alias>
      <Definition>86769a91-761a-4925-99c7-bbcbc4379758</Definition>
      <Type>govukModelProperty</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The name of the property on the view model being bound to address line 1 in the code.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9fa882f2-1747-4b02-996f-693474ce163a</Key>
      <Name>Address line 2 model property</Name>
      <Alias>addressLine2ModelProperty</Alias>
      <Definition>86769a91-761a-4925-99c7-bbcbc4379758</Definition>
      <Type>govukModelProperty</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The name of the property on the view model being bound to address line 2 in the code.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9a357fc2-5da7-4316-9708-1caa4f8738eb</Key>
      <Name>Country model property</Name>
      <Alias>countryModelProperty</Alias>
      <Definition>86769a91-761a-4925-99c7-bbcbc4379758</Definition>
      <Type>govukModelProperty</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The name of the property on the view model being bound to country in the code.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8808d43b-8166-418a-98ab-4e3a9b2931d5</Key>
      <Name>County model property</Name>
      <Alias>countyModelProperty</Alias>
      <Definition>86769a91-761a-4925-99c7-bbcbc4379758</Definition>
      <Type>govukModelProperty</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The name of the property on the view model being bound to county in the code.]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f28464aa-f5c8-4561-9c2a-0bb55e64c698</Key>
      <Name>Postcode model property</Name>
      <Alias>postcodeModelProperty</Alias>
      <Definition>86769a91-761a-4925-99c7-bbcbc4379758</Definition>
      <Type>govukModelProperty</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The name of the property on the view model being bound to postcode in the code.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b4153c1f-bac9-4b41-ba5f-d6376d0581d2</Key>
      <Name>Town or city model property</Name>
      <Alias>townOrCityModelProperty</Alias>
      <Definition>86769a91-761a-4925-99c7-bbcbc4379758</Definition>
      <Type>govukModelProperty</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The name of the property on the view model being bound to town or city in the code.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>30f48d22-a91f-4917-a72f-ea3f2337f024</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>