<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f80f2e52-4a45-4dd8-8e73-824015296fd5" Alias="tprAddressLookupSettings" Level="2">
  <Info>
    <Name>Address lookup settings</Name>
    <Icon>icon-circus color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Settings for a TPR component to lookup an address. Requires JavaSript.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>TPR</Folder>
    <Compositions>
      <Composition Key="bf69e8d6-97a6-4b50-bec7-c5993e120339">govukCssClasses</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>