<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7c697ad4-e2f8-4aab-857e-fb1b26c2a295" Alias="tprBoxSettings" Level="2">
  <Info>
    <Name>Box settings</Name>
    <Icon>icon-checkbox-empty color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Settings for a box that distinguishes content visually from its surroundings.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>TPR</Folder>
    <Compositions>
      <Composition Key="bf69e8d6-97a6-4b50-bec7-c5993e120339">govukCssClasses</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c61e5ee1-03f4-491d-8b15-cd9b3b8a258f</Key>
      <Name>Style of box</Name>
      <Alias>styleOfBox</Alias>
      <Definition>14ccd203-8740-4c67-ae9a-486420b3e815</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f1386a01-5da4-4168-a90a-d6d0b57969a7</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>