<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="221c6fbc-293a-41f6-8a82-3af681b1d4c3" Alias="tprFooter" Level="2">
  <Info>
    <Name>TPR footer</Name>
    <Icon>icon-defrag</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The TPR footer component should be used as the footer of your web page.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>TPR</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>5b6942d9-f3c8-49bf-98c2-bbf222561730</Key>
      <Name>Content</Name>
      <Alias>tprFooterContent</Alias>
      <Definition>48f89b23-2121-4f38-acca-02770993ca35</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A small number of links, or blank.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="tprFooter">TPR footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e5c45fb6-e2c5-4121-afe9-6dd7198cfd80</Key>
      <Name>Copyright</Name>
      <Alias>tprFooterCopyright</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Use {{year}} to include the current year.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="tprFooter">TPR footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f2cfc7e8-c3a3-4dc3-996c-05da1e0d8dd6</Key>
      <Name>Logo alternative text</Name>
      <Alias>tprFooterLogoAlt</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Defaults to 'The Pensions Regulator home page' if left blank.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="tprFooter">TPR footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9bb6e970-6f80-4b68-a32f-b80149503fe2</Key>
      <Name>Logo links to where?</Name>
      <Alias>tprFooterLogoHref</Alias>
      <Definition>cf7747bb-a48a-430b-90b3-39e1a264becc</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Typically the TPR website home page, https://www.thepensionsregulator.gov.uk]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="tprFooter">TPR footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>6590f798-2a74-4b27-bfe9-8315a120e789</Key>
      <Caption>TPR footer</Caption>
      <Alias>tprFooter</Alias>
      <Type>Group</Type>
      <SortOrder>20</SortOrder>
    </Tab>
  </Tabs>
</ContentType>