<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="333ad9f8-f9fb-4933-8053-d53f25eeda06" Alias="tprMobileMenuParentItems" Level="2">
  <Info>
    <Name>TPR Mobile Menu Parent Item</Name>
    <Icon>icon-mobile color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>TPR</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="6d4fddfb-8cd7-4d5e-8b88-bbf03ecfa0be" SortOrder="0">tprMobileMenuChildItems</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>7a59b6ec-18d4-4f3f-9f0e-2a85356526a3</Key>
      <Name>Link Text</Name>
      <Alias>linkText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="tprMobileMenuParentItem1">TPR Mobile Menu Parent Item</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8f45dbdf-1cd6-4caf-91bb-5fef8c58836a</Key>
      <Name>Link URL</Name>
      <Alias>linkUrl</Alias>
      <Definition>cf7747bb-a48a-430b-90b3-39e1a264becc</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="tprMobileMenuParentItem1">TPR Mobile Menu Parent Item</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a2d43dfa-72d2-4623-846c-196b55dde51e</Key>
      <Name>Child Items</Name>
      <Alias>tprMobileMenuChildItems</Alias>
      <Definition>0112e6d6-eb3f-44d6-8db4-a24571fb692e</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="tprMobileMenuParentItem1">TPR Mobile Menu Parent Item</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d8226d37-2f62-44cc-aff5-e6bc483f79fe</Key>
      <Caption>TPR Mobile Menu Parent Item</Caption>
      <Alias>tprMobileMenuParentItem1</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>