<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6d4fddfb-8cd7-4d5e-8b88-bbf03ecfa0be" Alias="tPRMobileMenuItemSubItem" Level="2">
  <Info>
    <Name>TPR Mobile Menu Item Sub Item</Name>
    <Icon>icon-mobile color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>TPR</Folder>
    <Compositions />
    <DefaultTemplate>TPRMobileMenuItemSubItem</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f4aa57b7-bdcc-4c77-af0d-922fc9c07e01">TPRMobileMenuItemSubItem</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9276b2b5-3399-4218-9941-39d6d00f190a</Key>
      <Name>Link Text</Name>
      <Alias>linkText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="tprMobileMenuItemSubItem">TPR Mobile Menu Item Sub Item</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1935ce4f-fa85-4acd-b3dd-60818a388079</Key>
      <Name>Link URL</Name>
      <Alias>linkURL</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="tprMobileMenuItemSubItem">TPR Mobile Menu Item Sub Item</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0a557895-e735-45f9-9248-7d58ee140dad</Key>
      <Caption>TPR Mobile Menu Item Sub Item</Caption>
      <Alias>tprMobileMenuItemSubItem</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>