<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1f3d72f7-dbb2-4dda-b264-d3bc36c2939b" Alias="tPRMobileMenu" Level="2">
  <Info>
    <Name>TPR Mobile Menu</Name>
    <Icon>icon-mobile color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>TPR</Folder>
    <Compositions />
    <DefaultTemplate>TPRMobileMenu</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d4c8e6ba-7862-43e4-9193-ab0b302f5ae8">TPRMobileMenu</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="333ad9f8-f9fb-4933-8053-d53f25eeda06" SortOrder="0">tPRMobileMenuItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>