<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="257bedac-29c9-488b-adba-9ed5a2742a4a" Alias="tprRelatedLinksExamplePage" Level="1">
  <Info>
    <Name>TPR related links</Name>
    <Icon>icon-link color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>TPRRelatedLinks</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="9fcea829-91fd-41fc-90bd-e2f861496677">TPRRelatedLinks</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0565525d-df9d-4074-bd4f-7254d9a33f76</Key>
      <Name>Grid</Name>
      <Alias>grid</Alias>
      <Definition>55bb40bf-54f9-4964-829f-cb0d2928cb08</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>47a0e9af-2834-4329-a9a4-0b20f9e0f581</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>