<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c16e9365-c4a5-471d-9412-f617fbdd0bc5" Alias="tprYouTubeVideoSettings" Level="2">
  <Info>
    <Name>Youtube video settings</Name>
    <Icon>icon-play color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Settings for a Youtube video using the official YouTube player.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>TPR</Folder>
    <Compositions>
      <Composition Key="bf69e8d6-97a6-4b50-bec7-c5993e120339">govukCssClasses</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d25f1809-cc4c-4e98-b157-fc191dc3922a</Key>
      <Name>Autoplay</Name>
      <Alias>autoplay</Alias>
      <Definition>47d84fa3-aa75-4ed2-b3ed-44b2d635c2d6</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Automatically plays the video when the page loads.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6bede0f3-ec22-45d5-916f-cda1f010a715</Key>
      <Name>Plays inline</Name>
      <Alias>playsInline</Alias>
      <Definition>f4a1d43c-49f0-4d33-9a4b-8327e6cb0986</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Play the video within the page (affects iOS devices only).]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7b54a708-f79e-45c7-bccc-191b4203e368</Key>
      <Name>Preload</Name>
      <Alias>preload</Alias>
      <Definition>25095e7c-9076-42be-b90d-9b77750ca2cf</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Tells the browser how much media to download when the page loads. Chose 'auto' to download as much as possible and 'metadata' to only download the metadata.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>9ae471ea-cd71-4454-bc12-ab5a7402b8ff</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>