<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="edfd3ba3-60d9-4862-9319-2bb5b625272b" Alias="youTubeVideo" Level="1">
  <Info>
    <Name>YouTube video</Name>
    <Icon>icon-play color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="086143f0-2a9d-431a-8480-a4e634131f9b">govukPageSettingHeadingSize</Composition>
    </Compositions>
    <DefaultTemplate>YoutubeVideo</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="bf9bac3b-7af8-45c0-800a-5d379b3c34bf">YoutubeVideo</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="edfd3ba3-60d9-4862-9319-2bb5b625272b" SortOrder="0">youTubeVideo</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>d00b8095-95c2-4ae3-8921-47dc51aa75ec</Key>
      <Name>Blocks</Name>
      <Alias>blocks</Alias>
      <Definition>70bdfe65-e491-413b-8161-c4e1ec33367b</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>68ed4dff-5de6-4326-8c87-83a781442636</Key>
      <Name>Grid Blocks</Name>
      <Alias>gridBlocks</Alias>
      <Definition>55bb40bf-54f9-4964-829f-cb0d2928cb08</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>941dd858-f996-45cc-bbd2-550b0738862d</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>