@{
    ViewData["Title"] = "Success";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column govuk-grid-column-two-thirds-from-desktop">
        <govuk-panel heading-level="1">
            <govuk-panel-title>Success</govuk-panel-title>
            <govuk-panel-body>
                Use the <a class="govuk-link govuk-link--inverse" href="https://design-system.service.gov.uk/components/panel/">panel component</a> to display important information when a transaction has been completed.
            </govuk-panel-body>
        </govuk-panel>

        <govuk-panel heading-level="1">
            <govuk-panel-title>Sometimes a heading is enough</govuk-panel-title>
        </govuk-panel>

        <govuk-panel heading-level="1">
            <govuk-panel-title>Success</govuk-panel-title>
            <govuk-panel-body>
                <p class="govuk-body">Sometimes you need to <strong>emphasise important information</strong>.</p>
                <p class="govuk-body">Sometimes you need multiple paragraphs.</p>
            </govuk-panel-body>
        </govuk-panel>
    </div>
</div>