@{
    ViewData["Title"] = "Success";
}

<govuk-panel heading-level="1">
    <govuk-panel-title>Success</govuk-panel-title>
    <govuk-panel-body>
        Use the <a class="govuk-link govuk-link--inverse" href="https://design-system.service.gov.uk/components/panel/">panel component</a> to display important information when a transaction has been completed.
    </govuk-panel-body>
</govuk-panel>